
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login with Twitter In CakePHP</title>




</head>

<body>
<?php




  
echo $this->Html->image("darker.png", array(
    'url' => array('controller' => 'TwitterCps', 'action' => 'login')
));	
	
	?>

</body>
</html>