<script> setTimeout('window.location.href=window.location.href;', 30000);
	</script>
<?php
// pr($menu);
//$pagination_params = $this->Paginator->params(); 
?>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php // echo __($page_heading)     ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Event List </h2> 

			<?PHP echo $this->Html->link('New Event', '/events/add', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
  //			controller : 'Inserts',
  //		    action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading)    ?></button>

		</div>
		<!-- End Header -->
		<div class="body">

			<table class="display dataTable">
                <thead>
					<tr>
						<th class="sorting">S No<?php //echo $this->Paginator->sort('name');     ?></th>
						<th class="sorting">Date<?php //echo $this->Paginator->sort('name');     ?></th>
						<th class="sorting">Event Name<?php //echo $this->Paginator->sort('name');     ?></th>
						<th class="sorting">Status<?php //echo $this->Paginator->sort('name');     ?></th>
						<th >Action<?php // echo __('Action');     ?></th>
                    </tr>
                </thead>
                <tbody>

<?php
$counter =1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
					if (!empty($event)) {
							foreach ($event as $events) {
							
							

					
						//echo $a = $events['Event']['event_time'];
						//echo  date('Y-m-d H:i:s') ;
						//exit();
						$status = '';
						if ($events['Event']['event_time'] >= $date = date('Y-m-d H:i:s')) {
							$status = 'upcoming';
						} elseif ($events['Event']['event_time'] < $date = date('Y-m-d H:i:s')) {
							$status = 'archieved';
						}
						?>


						<tr class="odd_gradeX">
							<td class="center"><?php echo $counter; ?>&nbsp;</td>
							<td class="center"><?php echo ($events['Event']['event_time']); ?>&nbsp;</td>
							<td class="center"><?php echo ($events['Event']['title']); ?></td>
							<td class="center"><?php echo $status; ?></td>
							<td class="actions" align="center">
								<?php echo $this->Html->link(__('Details'), array('controller' => 'events', 'action' => 'view', $events['Event']['id']));   ?> |
								<?php echo $this->Html->link(__('Edit'), array('controller' => 'events', 'action' => 'edit', $events['Event']['id']));    ?> |
								<?php  echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
								$counter++;
								?>
								
								
							</td>
						</tr>

						<?php
						}
					} else {
						?>
						<tr>
							<td colspan="6">No records found</td>
						</tr>
						<?php
					}
					?>
			</table>
					<?php
//					s
					?>







                </tbody>
			</table>
		</div>
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>