/* Minified: section.popup.css */
#context_popup table.common.developer_action_list td{border-bottom:0!important}#context_popup table.common.developer_action_list td.submit{width:16px}#context_popup .developer_playground{margin-top:10px}#context_popup .developer_playground a{display:block;background:#FFF url(assets/images/developer/default/icons/32x32/playground.png) no-repeat 10px center;padding:5px 0 5px 50px;line-height:32px;border-radius:5px}.developer_playground_page{padding:20px 20px}
