
/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/custom.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */

.logo-custom { background-image: url(../../../../../images/logo/gold.png); }

a
{
  color: #9b8f65;
}

a:hover
{
  color: #b6ad8e;
}

a.color-hover img:hover{border:1px solid #9b8f65;}

#toolbar{
border-bottom: 1px solid #9b8f65;
}

.searchbox .results li.result h3{
color:#9b8f65;
}

.colorcaps .wk-slideshow .caption
 {
	border-left: 3px solid rgba(155,143,101,0.7);	
	border-top: 3px solid rgba(155,143,101,0.7);	
}

.wk-slideshow-default .nav span:active 
{ background: rgba(155,143,101,0.7);	 }

.wk-slideshow-default .nav .active span 
{ background: rgba(155,143,101,0.7);	}

.recent-projects .wk-slideshow-default > div .next:hover,
.clients-feed .wk-slideshow-default > div .next:hover,
.clients-logo .wk-slideshow-default > div .next:hover,
.recent-projects .wk-slideshow-default > div .prev:hover,
.clients-feed .wk-slideshow-default > div .prev:hover,
.clients-logo .wk-slideshow-default > div .prev:hover
{
	background-color: rgba(155,143,101,0.7);	
}

.mod-box-color,
.mod-line-color{
background: #9b8f65;
background: -moz-radial-gradient(50% 0%, #9b8f65 0%, #afa273 50%, #9a8e64 100%); /* Firefox */
background: -webkit-radial-gradient(50% 0%, #9b8f65 0%, #afa273 50%, #9a8e64 100%); /* Safari, Chrome */
}

/* Highlight Buttons (Needed for System Markup) */
a.button-highlight,
a.button-highlight:before,
a.button-highlight:after
{ background-image: url(../../../styles/golden/images/gold-highlight-button.png); }

h3.color-style{color:#9b8f65;}
h3.module-title span.color{color:#9b8f65;}

.links a:hover,
a.button-more:hover{
color:#9b8f65;
border:1px solid #9b8f65;
}

.color-style{color:#9b8f65;}
.module-title span.color{color:#9b8f65;}
span.color{color:#9b8f65;}

/*color button  */

a.button-color
{
    background-image: url(../images/color-gold.png);
	border: 1px solid #897838;
	border-top: 1px solid #a99b69;
}


button:hover, input[type="button"]:hover, input[type="submit"]:hover, input.kbutton:hover{color: #9b8f65; border:1px solid #9b8f65;}

/* Kunena */
#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a,
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span,
#Kunena #ktab li.active a span {
 color:#9b8f65;
}

.news-letter input.button {
	background: #9b8f65;
	border: 1px solid #897838;
	border-left: none;	
}
