/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/style.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */
.menu-dropdown li.active .level1,
.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain .level1,
.menu-dropdown a.level2:hover,
.menu-dropdown a.level3:hover,
.menu-sidebar a:hover,
.menu-sidebar li > span:hover { color: #9b8f65; }

.menu-dropdown a.level1 > span:hover,
.menu-dropdown span.level1 > span:hover {
	background: #9b8f65;
}


.menu-dropdown li.active a.level1 > span,
.menu-dropdown li.active span.level1 > span {
background: #9b8f65;
}


.menu-dropdown a.level3 { background-image: url(../images/gold_dropdown_level3.png); }
.menu-sidebar li.parent .level1 > span { background-image: url(../images/gold-menusidebar-perent.png); }
.menu-sidebar ul a > span { background-image: url(../images/gold_dropdown_level3.png); }

#system .item > header .title, #system .item > header .title a{ color:#9b8f65;}

#system .title{
color:#9b8f65;
}

/*----Gallery----*/


body.interactive-style section#content h1{
color: #9b8f65;
}


.gallery-column:hover .gallery-des{
	background: url(../images/gold-tri-b.png) bottom left no-repeat;
                
    border-bottom: 1px solid #9b8f65;
}
