html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 vertical-align: baseline;
}

html { font-size: 62.5%; }
body { 
 line-height:1;
 padding:15px;
 line-height: 18px;font: 13px "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

p,
.entry  {line-height: 1.7;}
p 		{margin: 0 0 18px;}

strong {font-weight:bold;}

h1,h2,h3,h4,h5,h6 { 
 font-weight: 500;
 line-height: 1.35;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 { font-size: 31px; font-size: 3.1rem; margin-bottom: 10px;}
h2 { font-size: 25px; font-size: 2.5rem; margin-bottom: 9px; }
h3 { font-size: 20px; font-size: 2.0rem; margin-bottom: 8px; }
h4 { font-size: 17px; font-size: 1.7rem; margin-bottom: 8px; }
h5 { font-size: 14px; font-size: 1.4rem; margin-bottom: 7px; }
h6 { font-size: 12px; font-size: 1.2rem; margin-bottom: 5px; }

ul, ol, dl { margin-left:20px; line-height: 1.6; margin-bottom: 17px; list-style-position: outside; }

ul li ul, ul li ol { margin-left: 20px; margin-bottom: 0; }
ul.square, ul.circle, ul.disc { margin-left: 17px; }
ul.square { list-style-type: square; }
ul.square li ul { list-style: inherit; }
ul.circle { list-style-type: circle; }
ul.circle li ul { list-style: inherit; }
ul.disc { list-style-type: disc; }
ul.disc li ul { list-style: inherit; }
ul.no-bullet { list-style: none; }
ul.large li { line-height: 21px; }

ol { margin-left: 20px; }
ol li ul, ol li ol { margin-left: 20px; margin-bottom: 0; }

/* :: Highlights Shortcode
--------------------------------------------- */

span.highlight.one {color:#fff;border:none;background:#1bc4de;}
span.highlight.two {background:#111;color:#FFFFFF;border:none;}
span.highlight {padding:0 3px;margin:0 2px;}

span.highlight {
 -moz-border-radius: 4px; 
 -webkit-border-radius: 4px;
 border-radius:4px;
}

