/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
margin: 10px auto 60px;
padding: 0;
position: relative;
margin-bottom:10px;


&:before, &:after { content: " "; display: table; }
&:after { clear: both; }
*zoom: 1;

  img {
    max-width: 100%;
    display: block;
  }
  .bx-viewport {
    left: -5px;
  }
  .bx-pager, .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
  }
  .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }
  .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
	bottom:0px;
    .bx-pager-item {
      display: inline-block;
      *zoom: 1;
      *display: inline;
    }
  }
  .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
  
  .bx-pager-item{
	width:22px;
	height:22px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
  }
  .bx-pager.bx-default-pager a {
		text-indent: -9999px;
		display: block;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		
		@include border-radius(4px 5px 5px 4px, 4px 4px 5px 5px);
		background-color: #fff;
		@include box-shadow(0 1px 1px rgba(0,0,0,.36), inset 1px 1px 1px rgba(159,159,159,.95));
		@include border-radius(50%);
		
		@include hide-text;
		display:inline-block;
		
		@include transition(none);
		@include transition(background 0.35s ease-in);
			
		&:hover, &.active {
			background-color: #7f2587; @include box-shadow(0 1px 1px rgba(0,0,0,.36), inset 1px 1px 1px rgba(159,159,159,.95));
			margin:0px;
			border: solid 3px #ddd;
			position:relative;
			top:3px;
			
			@include transition(none);
			@include transition(background 0.35s ease-out);
		}
	}
  .bx-prev {
    left: 10px;
    background: url(images/controls.png) no-repeat 0 -32px;
  }
  .bx-next {
    right: 10px;
    background: url(images/controls.png) no-repeat -43px -32px;
  }
  .bx-prev:hover {
    background-position: 0 0;
  }
  .bx-next:hover {
    background-position: -43px 0;
  }
  .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
	display:none;
    &.disabled {
      display: none;
    }
  }
  .bx-controls-auto {
    text-align: center;
    .bx-start {
      display: block;
      text-indent: -9999px;
      width: 10px;
      height: 11px;
      outline: 0;
      background: url(images/controls.png) -86px -11px no-repeat;
      margin: 0 3px;
      &:hover, &.active {
        background-position: -86px 0;
      }
    }
    .bx-stop {
      display: block;
      text-indent: -9999px;
      width: 9px;
      height: 11px;
      outline: 0;
      background: url(images/controls.png) -86px -44px no-repeat;
      margin: 0 3px;
      &:hover, &.active {
        background-position: -86px -33px;
      }
    }
  }
  .bx-controls.bx-has-controls-auto.bx-has-pager {
    .bx-pager {
      text-align: left;
      width: 80%;
    }
    .bx-controls-auto {
      right: 0;
      width: 35px;
    }
  }
  .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
    span {
      color: #fff;
      font-family: Arial;
      display: block;
      font-size: .85em;
      padding: 10px;
    }
  }
}

/** THEME
===================================*/

/* LOADER */

/* PAGER */

/* DIRECTION CONTROLS (NEXT / PREV) */

/* AUTO CONTROLS (START / STOP) */

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

/* IMAGE CAPTIONS */