<div class="conversationUsers index">
	<h2><?php echo __('Conversation Users'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('conversation_id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('status'); ?></th>
			<th><?php echo $this->Paginator->sort('last_view'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('folder'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php
	foreach ($conversationUsers as $conversationUser): ?>
	<tr>
		<td><?php echo h($conversationUser['ConversationUser']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($conversationUser['Conversation']['title'], array('controller' => 'conversations', 'action' => 'view', $conversationUser['Conversation']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($conversationUser['User']['username'], array('controller' => 'users', 'action' => 'view', $conversationUser['User']['id'])); ?>
		</td>
		<td><?php echo h($conversationUser['ConversationUser']['status']); ?>&nbsp;</td>
		<td><?php echo h($conversationUser['ConversationUser']['last_view']); ?>&nbsp;</td>
		<td><?php echo h($conversationUser['ConversationUser']['created']); ?>&nbsp;</td>
		<td><?php echo h($conversationUser['ConversationUser']['folder']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $conversationUser['ConversationUser']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $conversationUser['ConversationUser']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $conversationUser['ConversationUser']['id']), null, __('Are you sure you want to delete # %s?', $conversationUser['ConversationUser']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>

	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Conversation User'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Conversations'), array('controller' => 'conversations', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Conversation'), array('controller' => 'conversations', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
