{exp:cartthrob:also_purchased entry_id="{embed:entry_id}" limit="7"}
	{if no_results}

	{/if}
	{exp:channel:entries channel="products" entry_id="{entry_id}"}
		<li><a href="{entry_id_path="{embed:template_group}/{embed:template}"}">{title} <strong>{product_price} &raquo; </strong></a></li>
	{/exp:channel:entries}
{/exp:cartthrob:also_purchased}