{if logged_out}
<div id="login_form" style="display:none;">
<p>
{exp:member:login_form return="{site_url}"}
	<label>Username</label> <input type="text" name="username" value=""  maxlength="32" class="input" size="25" />
	<label>Password</label> <input type="password" name="password" value="" maxlength="32" class="input" size="25" />
	<input type="submit" name="submit" value="Submit" />
{/exp:member:login_form}
</p>
<p>Not a member? <a href="{path=member/register}">Create an Account</a></p>
</div>
{/if}