{preload_replace:template_group="cart"}
{preload_replace:template="account"}
 
{embed="{template_group}/.header" title="Account / Purchased Items" template_group="{template_group}" template="{template}" }
 
</head>
<body>
	<div id="container">
		<div id="main">
			{embed="{template_group}/.store_header" template_group="{template_group}" template="{template}"}
			{embed="{template_group}/.top_nav" template_group="{template_group}" template="{template}"}

					<div class="left_column">
						<h1>Previous Purchases</h1>
 
							{exp:channel:entries channel="purchased_items" limit="30"  dynamic="off" author_id="CURRENT_USER"}
								{embed="{template_group}/.purchased_product" entry_id="{purchased_id}" price="{purchased_price}"}
								{if purchased_license_number}
									<p>License number: {purchased_license_number}</p>
								{/if}
  							{/exp:channel:entries}
					</div>
					<div class="right_column">
					{exp:cartthrob:cart_items_info limit="1" order_by="entry_id" sort="desc"}
 						{embed="{template_group}/.right_column" entry_id="{entry_id}" template_group="{template_group}" template="{template}"}
					{/exp:cartthrob:cart_items_info}
					</div>
					<div class="clear_both"></div>

 				{embed=cart/.footer_nav template="{template}" template_group="{template_group}"}
  		</div>
	</div>
		
{embed=cart/.footer}