{preload_replace:template_group="cart"}
{preload_replace:template="index"}
 
{embed="{template_group}/.header" title="Contact Us" template_group="{template_group}" template="{template}" }
 
</head>
<body>
	<div id="container">
		<div id="main">
			{embed="{template_group}/.store_header" template_group="{template_group}" template="{template}"}
			{embed="{template_group}/.top_nav" template_group="{template_group}" template="{template}"}	
    <div class="product">
	<div class="left_column">
	<h1>Contact Us</h1>
	<p>Lorem  sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat .</p>
	<!-- This uses the Email Module's Contact Form: http://expressionengine.com/docs/modules/email/contact_form.html -->
			{exp:email:contact_form user_recipients="false" recipients="info@mightybigrobot.com" charset="utf-8"}
			<fieldset id="contact_fields">
			<label for="from">
				<span>Your Email:</span>
				<input type="text" id="from" name="from" value="{member_email}" />
			</label>

			<label for="subject">
				<span>Subject:</span>
				<input type="text" id="subject" name="subject" size="40" value="Contact Form" />
			</label>

			<label for="message">
				<span>Message:</span>
				<textarea id="message" name="message" rows="18" cols="40">Email from: {member_name}, Sent at: {current_time format="%Y %m %d"}</textarea>
			</label>
			</fieldset>

			<fieldset id="contact_action">
				<p>We will never pass on your details to third parties.</p>
				<input name="submit" type='submit' value='Submit' id='contactSubmit' />
			</fieldset>
			{/exp:email:contact_form}
	</div>
	<div class="right_column">
<h1>Address</h1>
		 <p>
			12345 Fake Street<br />
			Anytown<br />
			Missouri<br />
			55555
			 </p>
	</div>
	<div class="clear_both"></div>
</div>

	
{embed=cart/.footer_nav template="{template}" template_group="{template_group}"}
  		</div>
	</div>
		
{embed=cart/.footer}
