{preload_replace:template_group="includes"}
{preload_replace:template="index"}
 
{embed="includes/.header" title="Shopping Cart" template_group="includes" template="{template}" }
 
</head>
<body>
	<div id="wrapper">
		{embed="{template_group}/.banner" template_group="{template_group}" template="{template}"}
		{embed="{template_group}/.top_nav" template_group="{template_group}" template="{template}"}
      
    <div id="content">
      
      <div id="left_column">
        {embed="{template_group}/.left_column" template_group="{template_group}" template="{template}"}
    	</div>  

  			{exp:channel:entries channel="products" limit="1" category="9"}
  		<div id="right_column">
			{categories}
				<div class="categoryImage"><img src="{category_image}" alt="{category_name} image" /></div>
   				<div class="categoryContent">
					<div class="categoryName">{category_name}</div>
					<p class="categoryDescription">{category_description}</p>
			{/categories}
				</div>
    			{/exp:channel:entries}

  			{exp:channel:entries channel="products" limit="30"  dynamic="no" category="9" orderby="title" sort="asc|desc"}
  			<div class="product">
  		  		{if product_thumbnail}
				<div class="thumbnailProduct">
  					<a href="{entry_id_path='cart/product_detail'}"><img src="{product_thumbnail}" /></a>
				</div>
  				{/if}
				<div class="smallContent">
  				<div class="smallTitle">{title}</div>
				<div class="smallSecondary">{secondary_name}</div>
				<p>{exp:char_limit total="100"}{product_description}{/exp:char_limit}</p>
  				<p><a href="{entry_id_path=cart/product_detail}">Learn more &raquo;</a></p>
				</div>
  
  			</div>
    		{/exp:channel:entries}
  		</div>
  					
  		<div class="clear_both"></div>

    </div><!-- END CONTENT -->

  </div><!-- END WRAPPER -->
 				{embed="{template_group}/.footer template="{template}" template_group="{template_group}"}

</body>
</html>

