{preload_replace:template_group="includes"}
{preload_replace:template="product_detail"}

{exp:channel:entries 
channel="products" 
limit="1"}
{embed="{template_group}/.header" title="{title} - Product Detail" template_group="{template_group}" template="{template}" }
{/exp:channel:entries}

</head>
<body>
	<div id="wrapper">
		{embed="{template_group}/.banner" template_group="{template_group}" template="{template}"}
		{embed="{template_group}/.top_nav" template_group="{template_group}" template="{template}"}
		<div id="content">

			<div id="left_column">
				{embed="{template_group}/.left_column" template_group="{template_group}" template="{template}"}
			</div>

			<div id="right_column">
				{exp:channel:entries channel="products" limit="1"}
				{if product_detail_image}
				<img class="productImage" src="{product_detail_image}" />
				{if:else}
				<img class="productImage" src="{site_url}themes/third_party/cartthrob/store_themes/basic_white/images/main_pic.jpg" />
				{/if}
				<div id="productContent">
					<div class="productTitle">{title}</div>
					<span class="productSecondaryText">Available for purchase in U.S. Only</span><br />
					<span class="productSecondaryText">{product_weight} Fl. Oz.</span>
					<p>{product_description}</p>
					<span  class='st_twitter_hcount' displayText='Tweet'></span><span  class='st_facebook_hcount' displayText='Facebook'></span><span  class='st_fblike_hcount' ></span><span  class='st_plusone_hcount' ></span>

					<div id="tabs" style="margin-bottom:15px;">
						<ul>
							<li><a href="#tabs-1">Ingredients</a></li>
							<li><a href="#tabs-2">Usage Directions</a></li>
						</ul>
						<div id="tabs-1">
							{ingredients}
						</div>
						<div id="tabs-2">
							{directions}
						</div>
					</div> <!-- END tabs -->
					<br /><br />
					{if product_original_price && product_original_price > product_price}
					<p>Price: {product_original_price}<br />
						{!--	<span class="sale_price">Sale Price: {product_price}</span> </p> --}
					{if:else}
					<p>{product_price}</p>
					{/if}
					{!-- Dont know what this is for... SK{if group_id ==1}<p>Our store cost: {product_cost}</p>{/if} --}
					{if logged_in}
					{embed="cart/.add_to_cart_form" 
					entry_id="{entry_id}" 
					inventory = "{product_inventory}"
					template_group="cart"
					no_tax="{if '{product_taxable}' == 'Yes'}0{if:else}1{/if}" 
					no_shipping="{if '{product_shippable}' == 'Yes'}0{if:else}1{/if}" }
					{if:else}
					<p> In order to purchase from Benev.com please <a href="{site_url}index.php/pages/login">login</a> or <a href="{site_url}index.php/pages/register">register for an account</a></p>
					{/if}
				</div><!-- END productContent -->
				<div class="clear_both"></div>
				<div class="related_products">
					<div class="product_left_column">
						{if product_related_1 OR product_related_2 OR product_related_3}
						<h3>You Might Also Like</h3>
						{/if}
						{related_entries id="product_related_1"}
						<div class="related_item">
							<a href="{entry_id_path='cart/{template}'}"><img src="{product_thumbnail}" />{title}<br />{product_price} &raquo;</a>
						</div>
						{/related_entries}

						{related_entries id="product_related_2"}
						<div class="related_item">
							<a href="{entry_id_path='cart/{template}'}"><img src="{product_thumbnail}" />{title}<br />{product_price} &raquo;</a>
						</div>
						{/related_entries}

						{related_entries id="product_related_3"}
						<div class="related_item">
							<a href="{entry_id_path='cart/{template}'}"><img src="{product_thumbnail}" />{title}<br />{product_price} &raquo;</a>
						</div>
						{/related_entries}

						<div class="clear_both"></div>
					</div>
					<!--<div class="product_right_column">
						<h3>Customers Also Purchased</h3>
						<ul>
							{embed="cart/.also_purchased" entry_id="{entry_id}" template_group="cart" template="{template}"} 
						</ul>
					</div>-->
					<div class="clear_both"></div>
				</div><!-- END related_products -->
			</div><!-- END right_column -->
		</div><!-- END CONTENT -->
	</div><!-- END wrapper -->

	{embed={template_group}/.footer template="{template}" template_group="{template_group}"}


	{/exp:channel:entries}
</body>
</html>
