<?php
//list($first_name, $ver_link) = explode('|', $message);
echo "    Hi there, welcome to Jiggster & thanks for signing up!<br/><br/>

    We love gaming and trading and getting to know people, and can't wait to launch on Android this February!<br/><br/>

    As we build our new Jiggster community of fun, like-minded people, please feel free to give us a Follow/Tweet @Jiggster_UK and 'Like' on our new Facebook.com/JiggsterApp too.<br/><br/>

    And, if you're interested in having an early-bird sneak preview to be one of our exclusive Beta testers on Wed. January 22nd, just email us team@jiggster.com by Jan.17, and we'll choose a few lucky Jiggsters to come and check it out. And maybe we'll throw in some free pizza, too.<br/><br/>

    PS/ We'll be drawing ONE LUCKY WINNER for the new XBOX ONE prize after our launch, thanks & good luck! <br/><br/>

    Team Jiggster<br/><br/><br/>

     

    TWT: @Jiggster_UK<br/>
    FB: /JiggsterApp<br/>";
?>