<?php 
//pr ($result);die();
//$pagination_params = $this->Paginator->params(); ?>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php// echo __($page_heading) ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Listings </h2> 
				
			<?PHP echo $this->Html->link('New Event', '/inserts/add', array('type'=>'button','class' => 'button light linkform','data-target'=>'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
				  
				  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php 
			//echo __('New ' . $page_heading) ?></button>

		</div>
		<!-- End Header -->
		<div class="body">
        	<?php 
				echo $this->Form->create("Insert",array('action' => 'index','id' => 'validate'));
				echo $this->Form->input("q", array('label' => 'Search for','required' => 'required', 'div' => false,'class'=>'med float-left-margin'));
				echo $this->Form->button('Search', array('type' => 'submit', 'escape' => true, 'class' => 'button green small float-left-margin'));
				echo $this->Form->end();
			?> 
            <table class="datagrid wf expandable">
				<thead>
					<tr>
						<th colspan="2" class="sorting"><?php //echo $this->Paginator->sort('name'); ?></th>
						<th class="sorting"><?php //echo $this->Paginator->sort('created'); ?></th>
						<th ><?php// echo __('Action'); ?></th>
					</tr>
				</thead>
				<tbody>
					<?php
						foreach ($result as $results): ?>
						<tr> 
							<!--<td  class="toggle"><span class="ir"> Expand/ Collapse</span></td>-->
							<td align="left">	Event Name<?php //echo ($results['Array']); ?>&nbsp;</td>
							<td align="center">Event date<?php  //echo h($results['Event']['Array']); ?>&nbsp;</td>
							<td class="actions" align="center">
								<?php echo $this->Html->link(__('Details'), array('action' => 'view',));// $result['Array']['Event'])); ?> |
								<?php echo $this->Html->link(__('Edit'), array('action' => 'edit',)) //$result['Array']['Event'])); ?> |
								<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete',)) //$result['Array']['Event']), null, __('Are you sure you want to delete # %s?', $result['Array']['Event'])); ?>
							</td>
						</tr>
						<tr>
                          <td class="grid_dropdown"> </td>
                          <td colspan="3"><?php //echo h($result['Array']['description']); ?></td>
                        </tr>
					<?php endforeach; ?>
				</tbody>
            </table>
			<?php 
			//echo $this->element('pagination',array('pagination_params' => $pagination_params)); ?>
            <!--End Pagination-->
		</div>
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>

