 /* DATA TABLES
==================================================================================================
 */

.dataTable th{ background:#ddf1f0; color:#4d676c; text-shadow:none}

.dataTables_wrapper {
	position: relative;
	padding: 10px 0px;
}

.dataTables_processing {
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	text-align: center;
	font-size: 108%;
}

.dataTables_length {
font-size: 85%;
    position: absolute;
    right: 18px;
    top: 13px;}

.dataTables_length select {
	position: relative;
	top: -2px;
	margin: 0px 3px;
}

.dataTables_filter {
	font-size: 85%;
	line-height: 20px;
	vertical-align: middle;
	margin-bottom: 5px;
}

/*.dataTables_filter input[type="text"] {
	width: 125px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	padding: 3px 20px 3px 10px;
	outline: none;
	position: relative;
	top: -3px;
	margin-left: 5px;
}
*/
.dataTables_info {
	padding: 5px;
	font-size: 77%;
}

.dataTables_paginate {
	padding: 10px;
	text-align: center;
}

/** DataTables display
 * ----------------------------------------------------------------------------------------------------
 */
table.display {
	margin: 0 auto;
	width: 100%;
	font-size: 100%;

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

table.display thead th {
/*	padding: 10px 10px 10px 0px;*/
	cursor: pointer;
}

table.display tfoot th {
/*	padding: 10px 10px;*/
}


table.display td {
/*	padding: 7px 3px;*/
        
}

.ie7 table.display td {
	border-top: none;
}

table.display td.center {
	text-align: center;
}


/** Misc
 * ----------------------------------------------------------------------------------------------------
 */
.top,.bottom {
	padding: 15px;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
}




/** TableTools styles
 * ----------------------------------------------------------------------------------------------------
 */
.DTTT_container {

	padding: 7px;
    float:right;
	bottom: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.DTTT_container button {
	position: relative;
	float: left;
    height:16px;
    padding-left:18px;
    background-repeat:no-repeat;
    font-weight:bold;
    font-size:85%;
	background-color: transparent;
	border: none;
	margin: 0 10px;
}

.DTTT_container button.DTTT_button_copy, .DTTT_container button.DTTT_button_csv,.DTTT_container button.DTTT_button_xls, .DTTT_container button.DTTT_button_pdf, .DTTT_container button.DTTT_button_print {
	background-position: 0px 0px !important;
}
.DTTT_container button.DTTT_button_copy_hover, .DTTT_container button.DTTT_button_csv_hover, .DTTT_container button.DTTT_button_xls_hover, .DTTT_container button.DTTT_button_pdf_hover, .DTTT_container button.DTTT_button_print_hover {
	background-position: 0px -16px !important;
}
.DTTT_print_info {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	text-align: center;
	padding: 10px 30px;
}

.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}


/* THEME
=======================================================================================================================
 */
table.display thead tr {
	text-shadow: 1px 1px 0 #FFF;
	background: url(images/table_header_bg.gif) repeat-x top #f2f3f5;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #e9edef));
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -moz-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -ms-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
}

table.display thead th {
	border-bottom: 1px solid #d4d9df;
}

.no-multiplebgs table.display thead th,.no-multiplebgs table.display tfoot th {
	background-color: #f2f3f5;
}

table.display tfoot th {
	border-top: 1px solid #f2f3f5;
	text-shadow: 1px 1px 0 #FFF;
	background: url(images/table_header_bg.gif) repeat-x bottom #fafbfc;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6F7F8), color-stop(100%, #EAEBF0));
	background: -webkit-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: -moz-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: -o-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: -ms-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
}
.no-cssgradients table.display tfoot th {
	background: url(images/table_header_bg.gif) repeat-x bottom #fafbfc;
}
table.display tr:hover td {
	background-color: #faffff;
}


.dataTables_processing {
	border: 1px solid #ddd;
	color: #999;
	background-color: white;
}

.dataTables_length {
	color: #415a7a;
}

.dataTables_length select {
	border: 1px solid #D4D9DF;
}

.dataTables_filter {
	color: #415A7A;
}

/*.dataTables_filter input[type="text"] {
	background: url(images/search.png) no-repeat 136px 3px #fff;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #D4D9DF;

	-webkit-box-shadow: 1px 1px 2px #CCCCCC inset;
	-moz-box-shadow: 1px 1px 2px #CCCCCC inset;
	box-shadow: 1px 1px 2px #CCCCCC inset;
}
*/
.dataTables_info {
	background-color: #fafbfc;
	color: #415a7a;
	border: 1px solid #d4d9df;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #cecece;
}

.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	line-height: 22px;
}

.paging_full_numbers .paginate_button,.paging_full_numbers .paginate_active {
	padding: 5px 12px;
	font-size: 93%;
	margin: 0 3px;
	cursor: pointer;
	font-weight: bold;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.dataTables_paginate {
	border: 1px solid #d4d9df;
	border-top-color: #fff;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F7), color-stop(100%, #ECEEF1));
	background: -webkit-linear-gradient(top, #F5F5F7 0%, #ECEEF1 100%);
	background: -moz-linear-gradient(top, #F5F5F7 0%, #ECEEF1 100%);
	background: -o-linear-gradient(top, #F5F5F7 0%, #ECEEF1 100%);
	background: -ms-linear-gradient(top, #F5F5F7 0%, #ECEEF1 100%);
	background: linear-gradient(top, #F5F5F7 0%, #ECEEF1 100%);
}

.no-cssgradients .dataTables_paginate {
	background: url(images/table_pagination_bg.gif) repeat-x bottom #F5F5F7;
}

/** DataTables display
 * ----------------------------------------------------------------------------------------------------
 */
table.display {
	/*border: 1px solid #d4d9df;*/
}

table.display thead th {
	color: #415a7a;
}

table.display tfoot th {
/*	padding: 10px 10px;*/
	color: #415a7a;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
/*	border-bottom: 1px solid #cecece;*/
	color: #3d3d3d;
	vertical-align:middle;
        
}


/** DataTables sorting
 * ----------------------------------------------------------------------------------------------------
 */
.sorting_asc {
	background: url('images/sort_asc.png') no-repeat center right;
	background-color: #f4fbfb !important;
}

.sorting_desc {
	background: url('images/sort_desc.png') no-repeat center right;
	background-color: #f5f5f5 !important;
}

.sorting {
	background: url('images/sort_both.png') no-repeat center right;
}


/** DataTables row classes
 * ----------------------------------------------------------------------------------------------------
 */
table.display tr.odd.gradeA {
	background-color: #fbfbfb;
}

table.display tr.even.gradeA {
	background-color: #FFF;
}

table.display tr.odd.gradeA {
	background-color: #fefefe;
}

table.display tr.even.gradeA {
	background-color: #FFF;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}

table.display tr.odd {
	background-color: white;
}

table.display tr.even {
	background-color: white;
}

/** Misc
 * ----------------------------------------------------------------------------------------------------
 */
.top,.bottom {
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

tfoot input {
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.paging_full_numbers span .paginate_button,.paging_full_numbers span .paginate_active {
	color: #415a7a;
	text-shadow: 1px 1px 0px #fff;
}

.paging_full_numbers .paginate_button:hover {
	background-color: #ffffff;
}

.paging_full_numbers span .paginate_active {
	background-color: #28697b;
	color: #fff;
	text-shadow: 1px 1px 0px #53657d;

	-webkit-box-shadow: inset 1px 1px 2px #576d89;
	-moz-box-shadow: inset 1px 1px 2px #576d89;
	box-shadow: inset 1px 1px 2px #576d89;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

/** Sorting classes for columns
 * ----------------------------------------------------------------------------------------------------
 */
/* ===[ For the standard odd/even ]=== */
tr.odd td.sorting_1 {
background-color: #faffff;
}

tr.odd td.sorting_2 {
	background-color: #f8f8f8;
}

tr.odd td.sorting_3 {
	background-color: #f8f8f8;
}

tr.even td.sorting_1 {
	background-color: #faffff;
}

tr.even td.sorting_2 {
	background-color: #f8f8f8;
}

tr.even td.sorting_3 {
	background-color: #f8f8f8;
}

/** TableTools styles
 * ----------------------------------------------------------------------------------------------------
 */
.DTTT_container {
	border: 1px solid #d4d9df;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #E9ECF0));
	background: -webkit-linear-gradient(top, #FDFDFD 0%, #E9ECF0 100%);
	background: -moz-linear-gradient(top, #FDFDFD 0%, #E9ECF0 100%);
	background: -o-linear-gradient(top, #FDFDFD 0%, #E9ECF0 100%);
	background: -ms-linear-gradient(top, #FDFDFD 0%, #E9ECF0 100%);
	background: linear-gradient(top, #FDFDFD 0%, #E9ECF0 100%);
}
.no-cssgradients .DTTT_container {
	background: url(images/table_tools_bg.gif) repeat-x bottom #FDFDFD;
}
.DTTT_container button {
    text-shadow:#fff 0px 1px 0px;
    color:#8393a8;
}
.DTTT_container button:hover {
    color:#415a7a;
}
.DTTT_container button.DTTT_button_copy,.DTTT_container button.DTTT_button_copy_hover {
	background-image: url(images/table_tools_copy.png);
}

.DTTT_container button.DTTT_button_csv, .DTTT_container button.DTTT_button_csv_hover {
	background-image: url(images/table_tools_csv.png);
}

.DTTT_container button.DTTT_button_xls, .DTTT_container button.DTTT_button_xls_hover {
	background-image: url(images/table_tools_xl.png);
}

.DTTT_container button.DTTT_button_pdf, .DTTT_container button.DTTT_button_pdf_hover {
	background-image: url(images/table_tools_pdf.png);
}

.DTTT_container button.DTTT_button_print, .DTTT_container button.DTTT_button_print_hover {
	background-image: url(images/table_tools_print.png);
}
.DTTT_print_info {
	background-color: #3f3f3f;
	color: white;
}
.DTTT_print_info h6 {
	color: #fff;
}

/* END - THEME
=======================================================================================================================
 */	







/* END -DATA TABLES
=======================================================================================================================
 */	
 
 
 