body{
	padding:0px !important;
	width:100%;
	min-width:0px;
}
.container{
	width:100% !important;
}
.faq strong, .faq p{
	padding-left:25px;
	padding-right:25px;
	display:block;
}
.faq strong{
	margin-bottom:8px;
}
.highlight_area h2{
	margin-left:25px;
}
.container.terms h2, .container.terms p{
	padding-left:25px;
	padding-right:25px;
	display:block;
}