/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/* Body and structure

font-family: 'Droid Sans', sans-serif;
-------------------------------------------------- */
a:hover { text-decoration:none;}
body {
	position: relative;
	padding-top: 15px;
	color:#1e4354;
	font-family:Arial;
}
footer {
	display:block;
	width:100%;
	padding-top:25px;
	padding-bottom:25px;border-top:1px solid #c2c2c2;
	margin-top:25px;
}
.padding-bot-10{
	padding-bottom:10px;
}
.scrollabel{
	overflow:auto;
	height:264px;
}
input[type="checkbox"]{
	position:relative;
	top:-3px;
	margin-right:8px;
}
footer a, footer p { color:#c2c2c2 !important; font-weight:bold; font-size:11px; }

footer .footer_nav { margin:0; padding:0; list-style:none; display:block;}
footer .footer_nav li { margin:0; padding:0 8px 0 6px; list-style:none; display: inline-block; border-right:1px solid #c2c2c2; line-height:14px;}
footer .footer_nav li.no_border { border:none; }

/* Typography
-------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	color:#1e4354;
}
h1 {
	font-size: 30px;
	line-height: 36px;
}
h1 .small {
	font-size: 18px;
}
h2 {
	font-size: 24px;
	line-height: 36px; color:#4d676c
}
h2 .small {
	font-size: 21px;
}
h3 {
	font-size: 21px;
	line-height: 27px;
}
h3 .small {
	font-size: 14px;
}
h4, h5, h6 {
	line-height: 18px;
}
h4 {
	font-size: 14px;
}
h4 .small {
	font-size: 12px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 11px;
	color: #999999;
	text-transform: uppercase;
}
/* Typography
-------------------------------------------------- */

/* helping classes
-------------------------------------------------- */

.fr {
	float:right !important;
}
.margintop10 {
	margin-top:-10px;
}
.margintop20 {
	margin-top:20px;
}
.body_bg {
	width:100%;
	background:url(../images/bg_spacer.jpg);
	padding:25px 0 25px 0;
}
.highlight_area{
	width:100%;
	background:url(../images/bg_spacer.jpg);
	padding:25px 0 25px 0;
	border-bottom:solid 1px #fff;
}
.highlight_area p{
	color:#333;
	padding-top:9px;
}
.highlight_area p a{
	font-weight:bold;
}
.shadow_bot{
	background:url(../images/shadow_bot.png) no-repeat bottom;
	display:block;
	width:100%;
	height:16px;
	margin-bottom:30px;
}

.steps{
	border:1px solid #b8dad8;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	background-color:#fff;
	padding:5px;
	list-style:none;
	float:right;
}
.steps li{
	display:inline-block;
	list-type:none;
	padding:5px 10px;
}
.offsetcustom {
	margin-left:560px;
}
.no-margin {
	margin:0 !important;
}
.left_margin_none {
	margin-left:0;
}
.span12 {
	margin-left:0px !important;
	width:960px;
}
.overflow_scroll{
	overflow:auto;
}
.btn-primary {
	margin-top:20px;
}
/* helping classes
-------------------------------------------------- */


/* Custom
-------------------------------------- */
textarea{
	border:1px solid #c6e2e1;
	height:130px;
}
.btn-cyan{
	background-color:#92c3cd;
	background: #9aced8; /* Old browsers */
	background: -moz-linear-gradient(top, #9aced8 0%, #8ab9c2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9aced8), color-stop(100%,#8ab9c2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9aced8 0%,#8ab9c2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9aced8 0%,#8ab9c2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9aced8 0%,#8ab9c2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #9aced8 0%,#8ab9c2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9aced8', endColorstr='#8ab9c2',GradientType=0 ); /* IE6-9 */

	border:none;
	padding:8px;
	color:#fff;
	font-weight:bold;

	-moz-border-top-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.btn-cyan-backward{
	float:left;
	display:block;
	width:153px;
	height:32px;
	background-image:url(../images/cyan_btn_backward.png);
	background-repeat:no-repeat;
	color:#fff;
	font-weight:bold;
	text-align:center;
	font-size:15px;
	padding-top:8px;
}
.btn-cyan-backward:hover{
	color:#fff;
}
.btn-cyan-forward{
	float:right;
	display:block;
	width:153px;
	height:32px;
	background-image:url(../images/cyan_btn_forward.png);
	background-repeat:no-repeat;
	color:#fff;
	font-weight:bold;
	text-align:center;
	font-size:15px;
	padding-top:8px;
	padding-right:0px;
	text-align:center;
	text-indent:-10px;
}
.btn-cyan-forward:hover{
	color:#fff;
}
.btn-cyan-forward:active,.btn-cyan-backward:active{
	position:relative;
	top:1px;
}
.forward{
	float:right;
}
.btn-cyan-arrow{
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	width:17px;
	height:32px;
	display:block;
	float:right;
	position:relative;
	left:-4px;
}


/* Top Navigations
-------------------------------------------------- */


.navigation {
	margin:30px 0 0px;
	padding:0;
	list-style:none;
	display:block;
}
.navigation li {
	display:inline-block;
	margin:0;
	padding:0;
}
.navigation li a {
	font-family: 'Arial', sans-serif;
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
	color:#000;
	margin-right:30px;
}
.navigation li a:hover, .navigation li .active {
	text-decoration:none;
	color:#237888;
}

/* Top Navigations End 
-------------------------------------------------- */



/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {

  /* Reduce padding above jumbotron */
  body {
 padding-top: 20px;
}
}
 @media (max-width: 768px) {

  /* Remove any padding from the body */
  body {
 padding-top: 0;
}
}
 @media (min-width: 768px) and (max-width: 980px) {

  /* Remove any padding from the body */
  body {
 padding-top: 0;
}
}
 @media (max-width: 980px) {

  /* Unfloat brand */
  .navbar-fixed-top .brand {
 float: left;
 margin-left: 0;
 padding-left: 10px;
 padding-right: 10px;
}

  /* Inline-block quick links for more spacing */
  .quick-links li {
 display: inline-block;
 margin: 5px;
}
}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

  /* Update subnav container */
  .subnav-fixed .nav {
 width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
}
}

.border-bottom-none  { border:none}


.gradient-straight {

background: #9aced8; /* Old browsers */
background: -moz-linear-gradient(top,  #9aced8 0%, #8bbac3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9aced8), color-stop(100%,#8bbac3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9aced8 0%,#8bbac3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9aced8 0%,#8bbac3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9aced8 0%,#8bbac3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9aced8 0%,#8bbac3 100%); /* W3C */
	
	}

.gradient-straight, .gradient-straight:hover, .gradient-inverse:hover, .gradient-inverse.active {font-faminly:'Arial' ; text-shadow:none;color:#fff}
.gradient-straight:hover, .gradient-inverse:hover, .gradient-inverse.active{ 


background: #8cbbc4;  /* Old browsers */

background: -moz-linear-gradient(top,  #8bbac3 1%, #9aced8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#8bbac3), color-stop(100%,#9aced8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8bbac3 1%,#9aced8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8bbac3 1%,#9aced8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8bbac3 1%,#9aced8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8bbac3 1%,#9aced8 100%); /* W3C */

}

.no-cssgradients gradient-straight:hover,.no-cssgradients .gradient-inverse:hover,.no-cssgradients .gradient-inverse.active{
	background:url(../images/cyan_button_gradient.png) repeat-x; 
	}
.separator { background:#c5dedd; border-bottom:1px solid #f3fafa; height:2px; width:960px; margin:15px 0 10px; }
.bootstrap-timepicker .separator{ background:none; width:auto;}
h4 { font: 16px/18px 'Vegur',sans-serif;}
h4 strong{ font:bold 16px/18px 'Vegur',sans-serif;}
.font_vegur { font-family: 'Vegur'}
.font_arial { font-family: 'Arial'}
.padding10 { padding:10px 0}



/*#browse_file, input[type=file] {display: inline-block;
	height: 18px;
	padding: 4px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: #555555;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	border-color:#c6e2e1;
	}



*/

.breadcrumbs1_top { background:url(../images/cq_breadcrumbs.png) 0 0; width:416px; height:40px; float:right}
.breadcrumbs2_top { background:url(../images/cq_breadcrumbs.png) 0 -40px; width:416px; height:40px; float:right}
.breadcrumbs3_top { background:url(../images/cq_breadcrumbs.png) 0 -80px; width:416px; height:40px; float:right}
.breadcrumbs4_top { background:url(../images/cq_breadcrumbs.png) 0 -120px; width:416px; height:40px; float:right}

.no_border{ border:none !important} 
.btn_dark_green {
background: #438ea3; /* Old browsers */
background: -moz-linear-gradient(top,  #438ea3 0%, #3d697a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#438ea3), color-stop(100%,#3d697a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #438ea3 0%,#3d697a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #438ea3 0%,#3d697a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #438ea3 0%,#3d697a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #438ea3 0%,#3d697a 100%); /* W3C */
border-bottom:1px solid #536b74;
}
.btn_dark_green:active{
	position:relative;
	top:1px;
}
.btn_light_green {
	background: #9ed572; /* Old browsers */
	background: -moz-linear-gradient(top, #9ed572 0%, #82bb53 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ed572), color-stop(100%,#82bb53)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9ed572 0%,#82bb53 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9ed572 0%,#82bb53 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9ed572 0%,#82bb53 100%); /* IE10+ */
	background: linear-gradient(to bottom, #9ed572 0%,#82bb53 100%); /* W3C */
	border-bottom:1px solid #536b74;
}
.btn_light_green:active {
	position:relative;
	top:1px;
}
.btn_red{
	background: #e2413d; /* Old browsers */
	background: -moz-linear-gradient(top, #e2413d 0%, #b9463f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2413d), color-stop(100%,#b9463f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e2413d 0%,#b9463f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e2413d 0%,#b9463f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e2413d 0%,#b9463f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e2413d 0%,#b9463f 100%); /* W3C */
	
	background-color:#cf4a4a;
	border:1px solid #a6524e;
	
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
.btn_red:hover{
	color:#fff;
	background-image:none;
	background-color:#cf4a4a;
}
.btn_red:active{
	position:relative;
	top:1px;
}
.btn_white {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%); /* W3C */
	background-color:#f8f8f8;
	
	border:1px solid #e1e1e1;
	font-weight:bold;
	color:#4d676c;
}
.btn_white:hover {
	color:#4d676c;
}
.btn_white:active {
	background-image:none;
	background-color:#fff;
}
.btn-small{
	padding:6px 26px !important;
	border-radius:4px;
	font-size:13px;
}
.login-with-facebook{
	background-image:url('../images/login-with-facebook.png');
	background-repeat:no-repeat;
	text-indent:-9999px;
	text-align:left;
	display:block;
	width:154px;
	height:22px;
}
.login{
	text-align:right;
}
.login a, .login p{
	display:inline-block;
}
.login p{
	margin: 0px 10px;
}
/*.login_btn{
	width:250px;
	display:block;
	text-align:center;
	margin-bottom:20px;
	border-radius: 4px 4px 4px 4px;
	font-size:14px;
	padding:8px 24px;
}*/
.remember_password{
	position:relative;
	top:5px;
}
.forgot-password{
	display:block;
	margin-top:10px;
	padding-top:10px;
	border-top:1px solid #c6e2e1;
	width:100%;
}
.margin-top23{
	margin-top:23px;
}
.margin-left-none{
	margin-left:0px !important;
}
.margin-top-11{
	margin-top:11px;
}
.margin-top-21{
	margin-top:21px;
}
.margin-right-15{
	margin-right:15px;
}
.margin-right-10{
	margin-right:10px;
}
	
.btn_light_green, .btn_dark_green, .btn_red { color:#fff; text-shadow:none; font-weight:bold;  padding:8px 27px;}
.under-table{
	padding:10px;
}
.btn_light_green:hover , .btn_dark_green:hover { color:#fff; text-shadow:none; }



.btn_dark_green:hover { background:#438ea3}
.btn_light_green:hover { background:#9ed572}

.marginR10 { margin:0 10px 0 0}
.popup_image { float:left; margin:0 15px}
footer p {color: #C2C2C2;
    font-size: 11px;
}

#contact-qm { width:330px; margin:-250px 0 0 -180px }

.iphone_large{
	 background: url("../images/iphone_large.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 260px;
    left: 144px;
    padding: 71px 19px 141px;
    position: absolute;
    top: -12px;
    width: 174px;
    z-index: 2;
}
.iphone_small{
	 background: url("../images/iphone_small.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 245px;
    left: 10px;
    padding: 68px 15px 145px;
    position: absolute;
    top: 10px;
    width: 164px;
    z-index: 2;
}
.purchase_app{
	min-height:324px;
	margin-bottom:118px;
}
.purchase_app h1{
	padding-bottom:5px;
}
.purchase_app .description{
	color:#345362;
	font-size:15px;
	line-height:24px;
	padding-bottom:15px;
}
.purchase_button{
	background: #87c2c5; /* Old browsers */
	background: -moz-linear-gradient(top, #87c2c5 0%, #4ea6a9 47%, #399ca0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87c2c5), color-stop(47%,#4ea6a9), color-stop(100%,#399ca0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #87c2c5 0%,#4ea6a9 47%,#399ca0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #87c2c5 0%,#4ea6a9 47%,#399ca0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #87c2c5 0%,#4ea6a9 47%,#399ca0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #87c2c5 0%,#4ea6a9 47%,#399ca0 100%); /* W3C */
	
	border:1px solid #374b4c;
	display:inline-block;
	color:#fff;
	border-radius:10px;
	font-weight:bold;
	padding:0px;
	font-size:18px;
}
.purchase_button p{
	padding:16px 20px;
	display:inline-block;
	margin:0px;
	color:#fff;
}
.purchase_button span{
	background-image:none;
	background-color:#fff;
	color:#343434;
	padding:14px 15px;
	border-top-right-radius:9px;
	border-bottom-right-radius:9px;
}
.btn_holder {
	display:inline-block;
	border-radius:15px;
	padding:8px;
	background-color:#cadbda;
}
.appstore{
	background:url('../images/appstore.png') no-repeat;
	display:inline-block;
	width:143px;
	height:47px;
}
.purchase_app .appstore{
	margin-top:8px;
	margin-left:18px;
}
.rt{
	text-indent:-9999px;
	text-align:left;
}
.fl{
	float:left;
}
.width-full{
	width:100%;
}
.height-90{
	height:90px;
}
.span8 textarea{
	width:630px;
}

.quiz_details_display h1{
	border-bottom: 1px solid #C6E2E1;
    color: #333333;
    font-family: 'Vegur',sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 27px;
    margin-bottom: 20px;
    padding-bottom: 2px;
}
.cyan-holder{
	width:100%;
	background:url(../images/bg_spacer.jpg);
	padding:25px 0 25px 0;
	border-radius:5px;
}
.quiz_details_display label{
	color:#4d676c;
}
.quiz_details_display p{
	color:#000000;
}
.padding-20{
	padding:20px;
}
.no-padding{
	padding:0px;
}
.cyan-holder .data-presentaion{
	list-style:none;
	margin:0px;
}
.cyan-holder .data-presentaion li{
	display:block;
	float:left;
	margin-bottom:20px;
}
.data-presentaion-horizontal{
	list-style:none;
	margin:0px;
}
.data-presentaion-horizontal li{
	display:block;
	float:left;
	width:130px;
	margin-bottom:20px;
	padding: 0 25px;
	border-right:1px solid #c6e2e1;
}
.data-presentaion-horizontal li.first{
	padding-left:0px;
}
.data-presentaion-horizontal li.last{
	border:none;
}
.data-presentaion-horizontal li h3{
	margin-bottom:0px;
	border-bottom:none;
}
.data-presentaion-vertical{
	margin:20px 20px 0px;
}
.data-presentaion-vertical ul{
	list-style:none;
	margin:0px;
}
.data-presentaion-vertical h3{
	border-bottom:none;
	font-size:18px;
	line-height:16px;
}
.data-presentaion h3{
	border-bottom:none;
	font-size:20px;
}
.data-presentaion label{
	margin-bottom:0;
}
.cyan-holder .padding{
	padding:20px 20px 0px 20px;
}
.cyan-holder h2{
	border-bottom:none;
    color: #333333;
    font-family: 'Vegur',sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 18px;
	margin:0px;
	padding:0px;
}
.cyan-holder h3{
	border-bottom:none;
    color: #333333;
    font-family: 'Vegur',sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
	margin:0px;
	padding:0px;
}
.game-description .area_scrollable{
	max-height:110px;
	overflow:auto;
	margin:0px;
	padding:0px;
}
.padding-top-10 {
	padding-top:10px;
}
select{
	width:70px;
}
.img-border{
	border:1px solid #fff;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	margin:5px 0;
}
.nodes-trail{
	height:145px;
}
.nodes{
	list-style:none;
	display:table;
	float:left;
	width:960px;
	overflow:auto;
	margin:0px;
	border-radius:5px;
	padding:10px 0px;
	background:url("../images/sub_highlight_bg.png");
	
	-moz-box-shadow: 0px 2px 2px #a2bcbd inset;
	-webkit-box-shadow: 0px 2px 2px #a2bcbd inset;
	box-shadow: 0px 2px 2px #a2bcbd inset;
	clear:both
}
.nodes li{
	background-image:url("../images/horizontal_divider.png");
	background-repeat:repeat-x;
	background-position:0px 48px;
	
	display:block;
	
	margin:auto;
	text-align:center;
	display:table-cell;
	
	padding:0 5px;
}
.nodes li a{
	border-radius:5px;
	display:inline-block;
	padding:10px;
}
.nodes a.active, .nodes a:hover{
	background: #f4f9f9; /* Old browsers */
	background: url("../images/horizontal_divider.png") repeat-x 0px 48px, -moz-linear-gradient(top, #f4f9f9 0%, #cfe5e4 100%); /* FF3.6+ */
	background: url("../images/horizontal_divider.png") repeat-x 0px 48px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f9f9), color-stop(100%,#cfe5e4)); /* Chrome,Safari4+ */
	background: url("../images/horizontal_divider.png") repeat-x 0px 48px, -webkit-linear-gradient(top, #f4f9f9 0%,#cfe5e4 100%); /* Chrome10+,Safari5.1+ */
	background: url("../images/horizontal_divider.png") repeat-x 0px 48px, -o-linear-gradient(top, #f4f9f9 0%,#cfe5e4 100%); /* Opera 11.10+ */
	background: url("../images/horizontal_divider.png") repeat-x 0px 48px, -ms-linear-gradient(top, #f4f9f9 0%,#cfe5e4 100%); /* IE10+ */
	background: url("../images/horizontal_divider.png") repeat-x 0px 48px, linear-gradient(to bottom, #f4f9f9 0%,#cfe5e4 100%); /* W3C */
	
	-moz-box-shadow: 0px -2px 2px #b4cccc;
	-webkit-box-shadow: 0px -2px 2px #b4cccc;
	box-shadow: 0px -2px 2px #b4cccc;
}
.first_node{
	background:none !important;
	box-shadow:none !important;
}
.nodes li.last{
	border:none;
}
.nodes li.first{
	padding-left:0px;
}
.nodes li img{
}
.nodes li p{
	display:block;
	padding:5px;
	margin:0px;
	color:#4d676c;
	font-weight:bold;
	font-size:12px;
}
.venu_icon{
	background-image:url("../images/venue_icon.png");
	background-repeat:no-repeat;
	display:block;
	width:20px;
	height:36px;
	margin:auto;
}
.active .venu_icon{
	background-image:url("../images/venue_icon_active.png");
	background-repeat:no-repeat;
	display:block;
	width:20px;
	height:36px;
	margin:auto;
}
.venu_icon_node{
	background-image:url("../images/node_icon.png");
	background-repeat:no-repeat;
	display:block;
	width:8px;
	height:8px;
	margin:auto;
}
.padding-top-20{
	padding-top:20px;
}
.stars_0, .stars_1, .stars_2, .stars_3, .stars_4, .stars_5{
	background-image:url("../images/stars_sprites.png");
	background-repeat:none;
	display:block;
	width:101px;
	height:17px;
}
.star{
	background-image:url("../images/star_sprite.png");
	background-repeat:none;
	display:block;
	width:17px;
	height:17px;
	margin-right:2px;
	cursor:pointer;
}
.star:hover{
	background-position:0px 17px;
}
.active_1 .one{
	background-position:0px 17px;
}
.active_2 .one,.active_2 .two{
	background-position:0px 17px;
}
.active_3 .one,.active_3 .two,.active_3 .three{
	background-position:0px 17px;
}
.active_4 .one,.active_4 .two,.active_4 .three,.active_4 .four{
	background-position:0px 17px;
}
.active_5 .one,.active_5 .two,.active_5 .three,.active_5 .four,.active_5 .five{
	background-position:0px 17px;
}
td .stars_0, td .stars_1, td .stars_2, td .stars_3, td .stars_4, td .stars_5{
	margin:0px 5px;
}
.stars_0{
	background-position:0px 0px;
}
.stars_1{
	background-position:0px -17px;
}
.stars_2{
	background-position:0px -34px;
}
.stars_3{
	background-position:0px -51px;
}
.stars_4{
	background-position:0px -68px;
}
.stars_5{
	background-position:0px -85px;
}
.comment_user_img, span.comment_user_img {
    background: url("../images/default_img_comment.jpg") no-repeat scroll center center #FFFFFF;
    border: 1px solid #DFDFDF;
    float: left;
    height: 36px;
    margin: 0 12px 0 0;
    padding: 2px;
    width: 36px;
}
.comment-content{
	margin-left:54px;
}
.comment-content textarea{
	width:460px;
	margin-top:10px;
	height:80px;
}
.comment-content h4{
	display:inline-block;
	font-size:18px;
}
.comment-content p{
	margin-top:5px;
}
.comment-content .time{
	color:#aaa;
}
.comment .comment-content textarea{
	width:450px;
}
.comment{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #eeeeee;
}
.linear p, .linear span, .linear label{
	display:inline-block;
	margin-right:15px;
}
.linear span{
	position:relative;
	top:3px;
}
.quiz_master{
	padding-top:20px;
	padding-bottom:12px;
	border-bottom: 1px solid #C6E2E1;
}
.quiz_master .v-align{
	position:relative;
	top:4px;	
}
.quiz_master h3{
	padding-right:20px;
	border:none;
	margin-bottom:0px;
}
.quiz_master a{
	padding-left:15px;
}

.buy_now{
	border-top:1px solid #c6e2e1;
	text-align:center;
	margin-top:20px;
	padding-top:20px;
}