<?php
echo $this->Session->flash();
//pr ($gallery);//die();
//$pagination_params = $this->Paginator->params(); 
?>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php // echo __($page_heading)  ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Image Listings </h2> 

<?PHP echo $this->Html->link('New Image', '/galleries/add', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading) ?></button>

		</div>
		<!-- End Header -->
		<div class="body">
			
			
              <table class="display dataTable">
                <thead>
                  <tr>
                    <th class="sorting">S No.<?php  //echo $this->Paginator->sort('name');  ?></th>
                    <th class="sorting">Image <?php  //echo $this->Paginator->sort('name');  ?></th>
                    <th class="sorting">Title<?php  //echo $this->Paginator->sort('name');  ?></th>
                    <th >Action<?php // echo __('Action');  ?></th>
                    </tr>
                </thead>
                <tbody>
					<?php $counter =1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
					if (!empty($gallery)) {
						foreach ($gallery as $results){	 ?>
					
					
					
					
                  <tr class="odd_gradeX">
                    <td class="center"><?php echo $counter; ?>&nbsp;</td>
                    <td class="center"><?php //echo ($results['gallery']['name']); ?>
						<img src="<?php echo FULL_BASE_URL . Router::url('/') . 'app/webroot/gallery/'.$results['Gallery']['image_name']  ?>" alt="Image Not Found" width="60" height="60" /></td>
					<td class="center"><?php echo ($results['Gallery']['name']); ?>&nbsp;</td>
                    <td class="actions" align="center">
						<?php echo $this->Html->link(__('Details'), array('controller' => 'galleries', 'action' => 'view', $results['Gallery']['id'])); // $result['Array']['Event']));   ?> |
						<?php //echo $this->Html->link(__('Details'), array('action' => 'view',)); // $result['Array']['Event']));  ?> 
						<?php echo $this->Html->link(__('Edit'), array('action' => 'edit',$results['Gallery']['id'])) //$result['Array']['Event'])); ?> |
					<?php echo $this->Html->link('Delete', array('action' => 'delete', $results['Gallery']['id']), null, 'Are you sure ' );
					$counter++;
					?>
					</td>
                  </tr>
                 
                  
                 
                 <?php
					}
					}
					?>
			</table>
					<?php
//					if (!empty($gallery)) {
//						echo '<table class="display"  >';
//						echo '<tr><td align="center">';
//						echo $this->paginator->first();
//						echo '&nbsp;';
//						echo $this->paginator->prev();
//						echo '&nbsp;';
//						echo $this->paginator->numbers(array('modulus' => '2'));
//						echo '&nbsp;';
//						echo $this->paginator->next();
//						echo '&nbsp;';
//						echo $this->paginator->last();
//						echo '<br />';
//						echo $this->paginator->counter(array('format' => 'Page %page% of %pages%'));
//
//						echo '</td></tr>';
//						echo '</table>';
//					}
					?>

                </tbody>
              </table>
            </div>
            <!-- End box body -->
        </div>
          <!-- End box -->
      </section>