/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/custom.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */

.logo-custom { background-image: url(../../../../../images/logo/byzantium.png); }

a
{
  color: #5d3954;
}

a:hover
{
  color: #9a708f;
}

a.color-hover img:hover{border:1px solid #5d3954;}

#toolbar{
border-bottom: 1px solid #5d3954;
}

.searchbox .results li.result h3{
color:#5d3954;
}

.colorcaps .wk-slideshow .caption
 {
	border-left: 3px solid rgba(93,57,84,0.7);
	border-top: 3px solid rgba(93,57,84,0.7);
}

.wk-slideshow-default .nav span:active 
{ background: rgba(93,57,84,0.7); }

.wk-slideshow-default .nav .active span 
{ background: rgba(93,57,84,0.7); }

.recent-projects .wk-slideshow-default > div .next:hover,
.clients-feed .wk-slideshow-default > div .next:hover,
.clients-logo .wk-slideshow-default > div .next:hover,
.recent-projects .wk-slideshow-default > div .prev:hover,
.clients-feed .wk-slideshow-default > div .prev:hover,
.clients-logo .wk-slideshow-default > div .prev:hover
{
	background-color: rgba(93,57,84,0.7);
}

.mod-box-color,
.mod-line-color{
background: #875c7c;
background: -moz-radial-gradient(50% 0%, #875c7c 0%, #754d6b 50%, #5d3954 100%); /* Firefox */
background: -webkit-radial-gradient(50% 0%, #875c7c 0%, #754d6b 50%, #5d3954 100%); /* Safari, Chrome */
}

/* Highlight Buttons (Needed for System Markup) */
a.button-highlight,
a.button-highlight:before,
a.button-highlight:after
{ background-image: url(../../../styles/byzantium/images/byzantium-highlight-button.png); }


h3.color-style{color:#5d3954;}
h3.module-title span.color{color:#5d3954;}

.links a:hover,
a.button-more:hover{
color:#5d3954;
border:1px solid #5d3954;
}

.color-style{color:#5d3954;}
.module-title span.color{color:#5d3954;}
span.color{color:#5d3954;}

/*color button  */

a.button-color
{
	background-image: url(../images/color-byzentium.png);
	border: 1px solid #3f2739;
	border-top: 1px solid #5d3954;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover, input.kbutton:hover{color: #5d3954; border:1px solid #5d3954;}

/* Kunena */
#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a,
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span,
#Kunena #ktab li.active a span {
 color:#5d3954;
}


.news-letter input.button {
	background: #5d3954;
	border: 1px solid #3f2739;
	border-left: none;	
}

