<?php echo $this->element('banner'); ?>
<!--- ====== Recent Projects ====== --->
<section class="section text">
	<div class="container">
		<?php echo $body ?>
	</div>
</section>
<!--- ====== / Recent Projects ====== --->