@import "compass";
@import "_960";
@import "_960_12_col";
@import "_bootstrap-datetimepicker.min.scss";
/*@import "_960_12_col_rtl";*/
@import "compass/css3/user-interface";


/* ===== FONTS ===== */
@font-face {
    font-family: 'cartogothic_stdbold';
    src: url('fonts/CartoGothicStd-Bold-webfont.eot');
    src: url('fonts/CartoGothicStd-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CartoGothicStd-Bold-webfont.woff') format('woff'),
         url('fonts/CartoGothicStd-Bold-webfont.ttf') format('truetype'),
         url('fonts/CartoGothicStd-Bold-webfont.svg#cartogothic_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cartogothic_stdbold_italic';
    src: url('fonts/CartoGothicStd-BoldItalic-webfont.eot');
    src: url('fonts/CartoGothicStd-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CartoGothicStd-BoldItalic-webfont.woff') format('woff'),
         url('fonts/CartoGothicStd-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/CartoGothicStd-BoldItalic-webfont.svg#cartogothic_stdbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cartogothic_stdregular';
    src: url('fonts/CartoGothicStd-Book-webfont.eot');
    src: url('fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('fonts/CartoGothicStd-Book-webfont.svg#cartogothic_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cartogothic_stditalic';
    src: url('fonts/CartoGothicStd-Italic-webfont.eot');
    src: url('fonts/CartoGothicStd-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CartoGothicStd-Italic-webfont.woff') format('woff'),
         url('fonts/CartoGothicStd-Italic-webfont.ttf') format('truetype'),
         url('fonts/CartoGothicStd-Italic-webfont.svg#cartogothic_stditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ===== / FONTS ===== */


/* ===== Base Formatting ===== */

* {
  &::selection {
    color: #bf1222;
    background-color: #ff651c;
  }
  &::-moz-selection {
    color: white;
    background: #ff651c;
  }
  &::selection {
    color: white;
    background: #ff651c;
  }
  
  	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

html{
	height:100%;
}
body{
	height:100%;
	background:#000;
	line-height:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	color:#484848;
}
*{
	&:after{
		content:'';
	}
	&:before{
		content:'';
	}
}
h1, h2, h3 ,h4, h5, h6{
	font-family: "cartogothic_stdregular", Arial, Helvetica, sans-serif;
	color:#494949;
	line-height:1.1em;
	font-weight:normal;
	margin:0px;
}
h1{
	font-size:40px;
	text-transform:uppercase;
	margin-bottom:10px;
	
	span{
		display:block;
		font-size:26px;
	}
}
p{
	font-family:Arial, Helvetica, sans-serif;;
	font-size:15px;
	color:#484848;
	line-height: 1.3em;
	margin-bottom: 27px;
	margin-top:0px;
}
a, a:visited{
	color:#ff651c;
	text-decoration:underline;
	@include transition(all 0.2s ease-in);
	
	&:hover{
		color: lighten(#ff651c, 10%);
		@include transition(all 0.2s ease-out);
	}
	&:active{
		color: darken(#ff651c, 10%);
		@include transition(all 0.2s ease-out);
	}
}
.main_content{
	background:#fff;
	padding-top:10px;
	padding-bottom:100px;
}
.top_bar{
	margin-bottom:40px;
	clear:both;
	&:before, &:after { content: " "; display: table; }
	&:after { clear: both; } *zoom: 1;
}
.breadcrumbs{
	display:block;
	font-family: "cartogothic_stdregular", Arial, Helvetica, sans-serif; //Book
	font-size:12px;
	color:#484848;
	list-style:none;
	padding:0px;
	margin:0px;
	display:inline-block;
	
	li{
		display:inline-block;
		padding-right:15px;
		position:relative;
		float:left;
		
		&:after{
			content:'>';
			display:block;
			width:5px;
			height:8px;
			
			position:absolute;
			top:2px;
			right:5px;
		}
		&:last-child{
			&:after{
				display:none;
			}
		}
		a{
			display:inline-block;
			text-decoration:none;
		}
	}
}

.grid_12{
	.user_mini_details{
		float:right;
		.name{
			float:none;
		}
		.details{
			float:right;
		}
	}
}

.user_mini_details{
	display:inline-block;
	.name{
		display:inline-block;
		font-size:24px;
		font-family: "cartogothic_stdregular", Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		display:block;
		font-weight:normal;
	}
	.details{
		font-size:13px;
		color:#8d8d8d;
		list-style:none;
		padding:0px;
		margin:0px;
		display:block;
		
		li{
			display:inline-block;
			padding-right:20px;
			position:relative;
			float:left;
			
			&:last-child, &.last{
				padding-right:0px;
				&:after{
					display:none;
				}
			}
			
			span{
				font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
				font-weight:normal;
				color:#484848;
			}
			
			&:after{
				content:'|';
				display:block;
				position:absolute;
				top:0px;
				right:8px;
				color:#e1e1e1;
			}
		}
	}
}

.btn_orange, .btn_orange:visited, .btn_blue, .btn_blue:visited{
	@include box-sizing(border-box);
	font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	color:#ffffff;
	
	padding: 7px 45px 7px 18px;
	display:inline-block;
	min-width:130px;
	position:relative;
	
	white-space: nowrap;
	
	@include border-radius(2px);
	background-color: #f87525;
	@include box-shadow(1px 1px 4px rgba(0,0,0,.5));
	border: solid 1px #bc3200;
	@include background-image(linear-gradient(top, #ff9f42, #f04504));
	@include filter-gradient(#ff9f42, #f04504);
	@include text-shadow(1px 1px 3px rgba(188,75,0,.75));	
	
	&:after{
		display:block;
		@include border-radius(2px);
		width:24px;
		height:24px;
		position:absolute;
		top:50%;
		right:6px;
		margin-top:-12px;
		
		margin-left:14px;
		background-color: #fff;
		background-image: url('../images/small_orange_arrow.png');
		background-repeat: no-repeat;
		background-position: center center;
	}
	
	&:hover{
		color:#fff;
		@include background-image(linear-gradient(top, #ff9f42, #ff4c05));
		@include filter-gradient(#ff9f42, #ff4c05);
	}
	&:active{
		color:#fff;
		@include background-image(linear-gradient(bottom, #ff9f42, #ff5917));
		@include filter-gradient(#ff5917, #ff9f42);
		@include box-shadow(1px 1px 3px rgba(0,0,0,.3));
	}
	
	&.btn_small{
		padding:5px 45px 5px 18px;
		min-width:152px;
		&:after{
			width:20px;
			height:20px;
			margin-top:-10px;
		}
	}
	&.btn_smaller{
		font-size:11px;
		line-height:1.1em;
		padding:5px 25px 5px 10px;
		min-width:0px;
		&:after{
			height: 12px;
			width: 12px;
			margin-top:-6px;
			background-image:url('../images/smaller_orange_arrow.png');
		}
	}
}
.btn_blue, .btn_blue:visited{
	@include border-radius(2px); background-color: #21848d; border: solid 1px #21638d; @include background-image(linear-gradient(bottom, #1f7498, #7dd5ee 99%));
	font-size:10px;
	font-weight:normal;
	font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
	
	&:hover{
		@include background-image(linear-gradient(bottom, #4197b7, #7dd5ee 99%));
	}
	&:active{
		@include background-image(linear-gradient(top, #4197b7, #7dd5ee 99%));
	}
	&.btn_smaller{
		&:after{
			background-image: url('../images/smaller_blue_arrow.png');
		}
	}
}
/* ===== / Base Formatting ===== */


/* ===== Modules Css ===== */
.aside_menu{
	display:block;
	width:100%;
	ul.aside_menu_ul{
		display:block;
		margin:0px;
		padding:0px;
		list-style:none;
		padding-left:22px;
		margin-left:-16px;
		background:url("../images/side_menu_bg.png") repeat-y center left;
		position:relative;
		margin-top:15px;
		margin-bottom:30px;
		
		&:after{
			position:absolute;
			top:-15px;
			left:0px;
			background:url("../images/side_menu_bg_top.png") no-repeat center left;
			width:6px;
			height:16px;
		}
		&:before{
			position:absolute;
			bottom:-15px;
			left:0px;
			background:url("../images/side_menu_bg_bot.png") no-repeat center left;
			width:6px;
			height:16px;
		}
		
		li{
			display:block;
			margin-bottom:18px;
			
			&.current{
				a{
					color:#ff651c;
					font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
					position:relative;
					
					&:after{
						background:url("../images/side_menu_active.png") repeat-y center left;
						width:14px;
						height:17px;
						position:absolute;
						top:50%;
						margin-top:-8px;
						left:-22px;
					}
				}
			}
			
			a{
				display:block;
				text-transform:uppercase;
				text-decoration:none;
				color:#484848;
				font-size:13px;
				font-family: 'cartogothic_stdregular' , Arial, Helvetica, sans-serif;
				
				&:hover{
					color:#ff651c;
				}
				&:active{
					color: darken(#ff651c, 10%);
				}
			}
		}
	}
}

.grey_box{
	display:block;
	@include border-radius(2px);
	background-color: #f0f0f0;
	@include box-shadow(0 0 8px rgba(0,0,0,.1));
	border: solid 1px #ddd;
	padding:10px;
	margin-bottom:30px;
	
	clear:both;
	&:before, &:after { content: " "; display: table; }
	&:after { clear: both; } *zoom: 1;
	
	&:last-child{
		margin-bottom:0px;
	}
	
	.indent{
		padding:25px 20px 0 20px;
	}
	
	.white_box{
		display:block;
		@include border-radius(2px);
		background-color: #ffffff;
		border: solid 1px #ddd;
		margin-bottom:12px;
		
		clear:both;
		&:before, &:after { content: " "; display: table; }
		&:after { clear: both; } *zoom: 1;
		
		&:last-child{
			margin-bottom:0px;
		}
	}
}
.events_module{

	.grey_box{
		padding-bottom:50px;
	}
	
	h2{
		text-transform:uppercase;
		font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
		font-size:21px;
		margin-bottom:5px;
	}
	p{
		font-family: Arial, Helvetica, sans-serif;
		font-size:13px;
	}
	.slider{
		display:block;
		margin-top:0px;
		position:relative;
		text-align:left;
		padding:40px 20px 20px 20px;
		position:relative;
		
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		
		h3{
			font-size:36px;
			font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
			text-transform: uppercase;
			a{
				color:#484848;
				text-decoration:none;
				
				&:hover{
					color:#ff651c;
				}
			}
		}
		.image_holder{
			float:left;
			margin-right:20px;
		}
		.details{
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
			min-height:200px;
			padding-bottom:50px;
			position:relative;
			
			.btn_orange{
				position:absolute;
				bottom:0px;
			}
			h4{
				font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
				font-size:16px;
				text-transform: uppercase;
				margin-bottom:10px;
				a{
					color:#484848;
					text-decoration:none;
					
					&:hover{
						color:#ff651c;
					}
				}
			}
			.info{
				list-style:none;
				margin-top:0px;
				margin-bottom:20px;
				font-family:Arial, Helvetica, sans-serif;
				font-size:13px;
				
				span{
					font-weight:bold;
				}
				li{
					a{
						margin-left:5px;
					}
				}
			}
			p{
				font-size:13px;
				font-family:Arial, Helvetica, sans-serif;
			}
		}
	}
	ol.bjqs-markers.h-centered{
		height: auto;
		padding: 0;
		position: absolute;
		top: -30px;
		right:-10px;
		width: 100%;
		
		clear:both;
		&:before, &:after { content: " "; display: table; }
		&:after { clear: both; } *zoom: 1;
		
		border:1px solid #dddddd;
		background:#fff;
		@include border-radius(2px);
		width:auto;
		
		min-height:27px;
		padding:8px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		
		li{
			display:inline-block;
			position:static;
			float:none;
			margin-right:4px;
			width:10px;
			height:10px;
			
			a{
				@include hide-text();
				background:#6c6c6c;
				width:10px;
				height:10px;
				padding:0px;
				margin:0px;
				position:relative;
				top:-5px;
			}
			
			&.active-marker{
				a{
					background:#ff651c;
				}
			}
			&:last-child{
				margin-right:0px;
			}
		}
	}
}
.grey_info_bar{
	display:block;
	background:#484848;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding:10px;
	margin-top:30px;
	position:relative;
	text-align:center;
	&:after{
		display:block;
		width:18px;
		height:11px;
		position:absolute;
		top:-10px;
		left:61%;
		background: url('../images/grey_arrow_top.png') no-repeat center center;
	}
}
.list_style_1, .list_style_2{
	padding:0px;
	margin:0px;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	.grey_info_bar:after{
		left:91%;
	}
	h4{
		font-weight:bold;
		display:block;
		margin-bottom:5px;
		font-size:18px;
		text-transform:uppercase;
	}
	li{
		display:block;
		width:100%;
		border-bottom:1px solid #d5d4d4;
		padding:25px 15px;
	}
	.image_holder,
	.details,
	.description,
	.action{
		display:table-cell;
		vertical-align:top;
	}
	.image_holder{
		padding-right:10px;
		img{
			display:block;
		}
	}
	.details{
		padding-right:30px;
		width:150px;
		font-size:12px;
		color:#6c6c6c;
		strong{
			font-size:11px;
			text-transform:uppercase;
			color:#484848;
		}
		span{
			color:#484848;
			font-weight:bold;
		}
	}
	.description{
		padding-right:30px;
	}
	.action{
		min-width:110px;
		vertical-align: middle;
		.orange_btn{
			min-width:100px;
			margin-bottom:10px;
			
			&:last-child{
				margin-bottom:0px;
			}
		}
	}
}
.list_style_2{
	display:block;
	margin:0px;
	padding:0px;
	list-style:none;
	
	li{
		padding:0px;
		border-bottom:0px;
		margin-bottom:10px;
		&:last-child{
			margin-bottom:0px;
		}
	}
	
	.white_box{
		padding:30px;
	}
	h4{
		font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
		font-weight:normal;
		font-size:21px;
		text-transform:uppercase;
		
		.highlight{
			color:#ff651c;
		}
	}
	h5{
		font-family: Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		color:#484848;
		text-transform:uppercase;
		margin-bottom:10px;
		span{
			display:block;
			font-weight:normal;
			text-transform:none;
			font-size:12px;
			margin-top:4px;
		}
	}
	p{
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#484848;
		
		&:last-child{
			margin-bottom:0px;
		}
	}
	.table-layout{
		display:table;
		width:100%;
	}
	.image_holder{
		width:215px;
	}
	.action{
		vertical-align:bottom;
		.btn_list{
			float:right;
			margin-bottom:12px;
			clear:right;
		}
		.btn_orange{
			float:right;
		}
	}
	.details{
		width:auto;
		h5{
			font-family: Arial, Helvetica, sans-serif;
			font-size:13px;
			font-weight:bold;
			color:#484848;
			text-transform:uppercase;
			margin-bottom:10px;
			span{
				display:block;
				font-weight:normal;
				text-transform:none;
				font-size:12px;
				margin-top:4px;
			}
		}
	}
	.align_bottom{
		display:block;
		float:right;
		
		clear:both;
		&:before, &:after { content: " "; display: table; }
		&:after { clear: both; } *zoom: 1;
	}
	.amount{
		font-family: Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:12px;
		color:#484848;
		margin-top:15px;
		
		span{
			display:block;
			font-size:31px;
			line-height:1em;
		}
		small{
			font-weight:normal;
			font-size:12px;
		}
	}
}
.btn_list, .btn_previous, .btn_next{
	display:block;
	backgroundL:#ffffff;
	border:1px solid #dddddd;
	@include border-radius(2px);
	color:#404040; &:visited{ color:#404040;}
	font-family: 'cartogothic_stdregular' , Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	display:inline-block;
	padding:5px 15px;
	position:relative;
	margin-left:30px;
	line-height:1.2em;
	height:28px;
	
	&:after{
		display:block;
		background: #ffffff;
		border:1px solid #dddddd;
		@include border-radius(2px);
		text-decoration:none;
		display:inline-block;
		padding:5px;
		
		width:26px;
		height:28px;
		background:url('../images/list_icon.png') no-repeat 3px 6px;
		
		position:absolute;
		top:50%;
		margin-top:-14px;
		left:-28px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
}
.btn_previous{
	&:after{
		background:url('../images/small_orange_arrow_left.png') no-repeat 8px center;
	}
}
.btn_next{
	margin-left:0px;
	margin-right:30px;
	&:after{
		background:url('../images/small_orange_arrow_right.png') no-repeat 8px center;
		right:-28px;
		left:auto;
	}
}

.alert_info{
	display:inline-block;
	padding-left:35px;
	background:url('../images/alert_icon.png') no-repeat center left;
	margin-bottom:18px;
	color:#fd0000;
	min-height:32px;
	font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
	line-height:1.8em;
}
/* Helpers Classes */
.fr{
	float:right;
}
.fl{
	float:left;
}
.margin-top-20{
	margin-top:20px;
}
.margin-top-negative-10{
	margin-top:-10px;
}
.margin-top-10{
	margin-top:10px;
}
.margin-bottom-30{
	margin-bottom:20px;
}
/* Helpers Classes -- END */
.profile_module{
	.btn_smaller, .btn_smaller{
		@include box-shadow(none);
	}
}
.grid_10 .table_style_1 table{
	max-width:80%;
}
.table_style_1{
	width:100%;
	
	&.signup_form{
		width:100%;
	}
	th{
		font-family: 'cartogothic_stdregular' , Arial, Helvetica, sans-serif;
		background:#484848;
		color:#fff;
		font-size:16px;
		text-transform:uppercase;
		padding:10px 20px;
		width:100%;
		text-align:left;
	}
	td{
		padding:18px 12px;
	}
	table{
		margin:25px 70px;
		td{
			font-size:13px;
			color:#464646;
			&:first-child{
				text-align:right;
				width:160px;
			}
		}
	}
}
.history_module{
	h2{
		text-transform:uppercase;
		font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
		font-size:21px;
		margin-bottom:5px;
	}
	P{
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
	}
	.indent{
		p:last-child{
			margin-bottom:8px;
		}
	}
	.white_box{
		padding:25px;
	}
	.adobe_reader{
		display:block;
		font-size:13px;
		color:#6c6c6c;
		font-family:  Verdana, Geneva, sans-serif;
		padding-left:140px;
		position:relative;
		margin-top:18px;
		margin-bottom:10px;
		&:after{
			background:url('../images/adobe_reader_icon.png') no-repeat center right;
			display:block;
			width:88px;
			height:31px;
			margin-top:-15px;
			position:absolute;
			top:50%;
			left:40px;
		}
		
	}
}
.table_style_2{
	margin-bottom:40px;
	border:1px solid #d9d9d9;
	border-bottom:none;
	@include border-radius(0 0 2px 2px);
	font-family:  Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#6c6c6c;
	width:100%;
	
	&:last-child{
		margin-bottom:20px;
	}
	p{
		font-family:  Verdana, Geneva, sans-serif;
		font-size:13px;
		color:#6c6c6c;
		margin-bottom:20px;
		&:last-child{
			margin-bottom:0px;
		}
	}
	th{
		background:#e2e2e2;
		color:#484848;
		text-align:left;
		text-transform:uppercase;
		span{
			display:inline-block;
			margin-left:15px;
		}
	}
	td{
		padding:20px;
		border-bottom:1px solid #d9d9d9;
	}
	small{
		font-size:11px;
		display:block;
		margin-bottom:16px;
	}
	.terms_and_conditions{
		display:block;
		margin-bottom:10px;
	}
	label{
		font-size:11px;
	}
	strong{
		color:#484848;
	}
	.grey{
		background:#f3f3f3;
		color:#484848;
		font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
		font-weight:normal;
		font-size:13px;
	}
}
.profile_module_input{
	h1{
		float:left;
	}
	.grey_box{
		margin-bottom:20px;
	}
	.main-action, .bot-action{
		float:right;
		margin-top:15px;
		
		a{
			margin-left:13px;
		}
		.btn_blue, .btn_orange{
			@include box-shadow(none);
			&:visited{
				@include box-shadow(none);
			}
		}
	}
	.bot-action{
		margin-top: 0px;
		margin-bottom: 50px;
	}
	small{
		display:block;
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		line-height:1.2em;
	}
	.signup_form{
		.form_field{
			margin-left:70px;
			label{
				width:120px;
				
				&.radio_label{
					width:auto;
				}
				&.inline{
					width:90px;
				}
			}
			small{
				margin-left:140px;
				margin-top:15px;
				width:380px;
				color:#606060;
			}
			.btn_orange{
				@include box-shadow(none);
				&.btn_smaller{
					position:relative;
					top:-2px;
				}
			}
		}
	}
}
input[type="text"], input[type="password"]{
	&.large{
		width:420px;
		height: 35px;
		line-height: 24px;
	}
	&.medium{
		width:263px;
		height: 35px;
		line-height: 24px;
		margin-right:13px;
	}
}
select.styled-select{
	&.large{
		width:420px;
	}
}
.my_offers{
	.map{
		border:1px solid #dfdfdd;
	}
	.book_this_offer{
		margin-top:10px;
		display:tabel;
		.cell{
			display:table-cell;
			vertical-align:middle;
			&.cozy{
				padding:0 20px;
			}
		}
	}
	.check_in_out{
		display:block;
		margin-top:20px;
		margin-bottom:20px;
		.cell{
			padding-right:15px;
			label{
				font-family: Arial, Helvetica, sans-serif;
				font-weight:bold;
				font-size:13px;
				text-transform:uppercase;
			}
			input[type="text"]{
				display:block;
				border:1px solid #dddddd;
				@include border-radius(2px);
				width:140px;
				padding:4px;
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
			}
			.input-append{
				display:inline-block;
				input[type="text"]{
					float:left;
					text-align:center;
				}
			}
			.add-on{
				float:left;
				margin-left:10px;
				i{
					background:url('../images/calendar_icon.png') no-repeat center center;
					width:27px;
					height:26px;
					display:block;
					cursor:pointer;
				}
			}
		}
	}
	.grey_box{
		margin-bottom:13px;
		> .cozy{
			padding:10px 10px 15px;
		}
	}
	.cell{
		display:table-cell;
		font-size:13px;
		font-family: Arial, Helvetica, sans-serif;
		white-space: nowrap;
		
		&.middle{
			width:100%;
			text-align:center;
		}
	}
	.nav{
		display:table;
		width:100%;
		margin-bottom:13px;
	}
	h2{
		font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
		font-size:28px;
		font-weight:normal;
		text-transform:uppercase;
		line-height:1.2em;
	}
	h3{
		font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
		font-size:18px;
		font-weight:normal;
		text-transform:uppercase;
		line-height:1.2em;
		margin-bottom:10px;
	}
	p{
		font-family: Arial, Helvetica, sans-serif;
		font-size:13px;
		margin-bottom:20px;
		
		&:last-child{
			margin-bottom:0px;
		}
	}
	.white_box{
		padding:32px 10px 32px 20px;
		a{
			font-size:11px;
			text-transform:uppercase;
		}
		.image{	
			float:right;
			margin-left:10px;
			.image_holder{
				float:left;
				.links{
					float:right;
				}
			}
			img{
				display:block;
			}
			.action{
				list-style:none;
				margin:0 0 0 5px;
				padding:0px;
				float:right;
				li{
					margin-bottom:5px;
				}
			}
		}
		.info{
			padding:0px;
			margin:5px 0;
			list-style:none;
			font-family: Arial, Helvetica, sans-serif;
			font-size:14px;
			text-transform:uppercase;
		}
	}
}
.btn_fav, .btn_locate{
	@include hide-text;
	display:block;
	width:26px;
	height:28px;
	border:1px solid #dddddd;
	@include border-radius(2px);
	background:url('../images/fav_icon.png') no-repeat center top #fff;
	position:relative;
	
	&:after{
		background:url('../images/fav_icon.png') no-repeat center bottom #fff;
		@include opacity(0);
		display:block;
		position:absolute;
		top:0px;
		left:-1px;
		width:26px;
		height:28px;
		@include transition(all 0.35s ease-in);
	}
	
	&:hover{
		&:after{
			@include opacity(1);
			@include transition(all 0.35s ease-out);
		}
	}
}
.btn_locate{
	background:url('../images/venue_icon.png') no-repeat center top #fff;
	&:after{
		background:url('../images/venue_icon.png') no-repeat center bottom #fff;	
	}
}
/* ===== / Modules Css ===== */


/* Header Css needs to be either removed from talha.css or be integrated in it -- START */
.header {
	display: block;
	background:rgba(0,0,0,1);
	border-bottom: 7px solid #ff651c;
	-webkit-box-shadow: 0 1px 4px rgba(2,2,2,.5);
	-moz-box-shadow: 0 1px 4px rgba(2,2,2,.5);
	box-shadow: 0 1px 4px rgba(2,2,2,.5);
	position: relative;
	z-index:100;
}
.header-home {
	background:rgba(0,0,0,0.7);	
}


.header-container {
	width: 940px;
	margin: 0 auto;
}
.header-container{
	.logo {
		width: 220px;
		float: left;
	}
	.menu {
		width: 720px;
		float: right;
	}


	ul.location {
		float: left;
		width: 330px;
		color: #959595;
		font-size: 12px;
		font-weight: bold;
		margin-bottom: 0px;
	}
	ul.location li {
		list-style: none;
		line-height: 40px;
	}

	ul.location li a{
		color: #959595;
		text-decoration:none;
		display:block;
	}


	li.book {
		float: left;
		padding-left: 25px;
		margin-right: 15px;
		background: url(../images/book-icon.png) center left no-repeat transparent;
	}

	li.casino-locator {
		float: left;
		padding-left: 25px;
		margin-right: 0px;
		background: url(../images/locator-icon.png) center left no-repeat transparent;
	}
	.login {
		width: 380px;
		float: right;
		margin: 20px 0px 0 0;
	}
	.login input[type="text"], .login input[type="password"] {
		color: #fff;
		font-size: 14px;
		float: left;
		width: 129px;
		padding-left: 10px;
		height: 30px;
		margin-right: 10px;
		border: 0px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: #292929;
		-webkit-box-shadow: inset 0 1px 4px #000;
		-moz-box-shadow: inset 0 1px 4px #000;
		box-shadow: inset 0 1px 4px #000;
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image: -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image: -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image: -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
		background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,0));
		display:inline-block;
	}
	.login input[type="button"] {
		color: #fff;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		border: 0px;
		border-radius: 2px;
		-webkit-box-shadow: inset 1px 1px rgba(255,255,255,.35);
		-moz-box-shadow: inset 1px 1px rgba(255,255,255,.35);
		box-shadow: inset 1px 1px rgba(255,255,255,.35);
		background-image: -webkit-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
		background-image: -moz-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
		background-image: -o-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
		background-image: -ms-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
		background-image: linear-gradient(to top, rgba(255,134,56,1), rgba(255,146,75,1));
		width: 81px;
		height: 31px;
		float:right;
	}
	ul.main-nav li {
		float: left;
		margin-right: 30px;
		list-style: none;
	}
	ul.main-nav li a {
		color: #cccccc;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 23px;
		padding-bottom: 16px;
	}
	ul.drop a {
		display: block;
	}
	ul.drop, ul.drop li, ul.drop ul {
		list-style: none;
	}
	ul.drop {
		position: relative;
		z-index: 597;
		float: left;
		padding-left: 0px;
		margin-bottom: 0px;
	}
	ul.drop li {
		float: left;
		line-height: 1.3em;
		vertical-align: middle;
		zoom: 1;
	}
	ul.drop li.hover, ul.drop li:hover {
		position: relative;
		z-index: 599;
		cursor: default;
	}
	ul.drop ul {
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: -220px;
		z-index: 598;
		width: 900px;
		background: #555;
		margin-top: 0px;
	}
	ul.drop ul li {
		line-height: 45px;
	}
	ul.drop ul ul {
		top: -2px;
		left: 100%;
	}
	ul.drop li:hover > ul {
		visibility: visible
	}
	.signup input[type="button"] {
		color: #fff;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		float: right;
		border: 0px;
		border-radius: 2px;
		margin-top: 10px;
		-webkit-box-shadow: inset 1px 1px rgba(255,255,255,.35);
		-moz-box-shadow: inset 1px 1px rgba(255,255,255,.35);
		box-shadow: inset 1px 1px rgba(255,255,255,.35);
		background-image: -webkit-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
		background-image: -moz-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
		background-image: -o-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
		background-image: -ms-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
		background-image: linear-gradient(to top, rgba(255,134,56,1), rgba(255,146,75,1));
		width: 81px;
		height: 31px;
	}
	.slider{
		#banner-fade, #banner-slide{
			margin-bottom:0px;
		}
		.caption{
			.btn_orange, .btn_orange:visited{
				min-width:250px;
				font-size:10px;
			}
		}
	}
}
.signup_form input[type="text"], .signup_form input[type="password"]{
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding-left: 10px;
}
/* Header Css needs to be either removed from talha.css or be integrated in it -- END */


.bootstrap-datetimepicker-widget:after{
	background:url('../images/white_arrow_top.png') no-repeat center center;
	position:absolute;
	top:-4px;
	left:15px;
	display:block;
	width:20px;
	height:9px;
}
.bootstrap-datetimepicker-widget table{
	td{
		padding:5px 4px;
	}
	thead{
		th{
			padding-bottom:8px;
		}
		.dow{
			padding-bottom:10px;
		}
	}
}
.bootstrap-datetimepicker-widget .datepicker{
	background:#fff;
	border:1px solid #dddddd;
	@include border-radius(2px);
	padding:15px 0;
	font-size:13px;
}
.bootstrap-datetimepicker-widget{
	display:none;
	margin-left:-12px;
}
.row{
	display:table;
	width:100%;
	.cell{
		display:table-cell;
	}
}
.info_box{
	display:block;
	width:100%;
	background:#fff;
	border:1px solid #b3b3b3;
	padding:15px;
	position:relative;
	
	&:after{
		display:block;
		width:18px;
		height:11px;
		background:url('../images/info_box_arrow_top.png') no-repeat center center;
		position:absolute;
		top:-11px;
		left:50%;
		margin-left:9px;
	}
}
.my-tr_module{
	.left_arrow, .right_arrow{
		@include hide-text();
		display:block;
		background:url('../images/orange_thin_arrow_left.png');
		width:17px;
		height:29px;
	}
	.right_arrow{
		background:url('../images/orange_thin_arrow_right.png');
	}
	.bar_top{
		small{
			clear:both;
			&:before, &:after { content: " "; display: table; }
			&:after { clear: both; } *zoom: 1;
		}
	}
	.current_reward{
		display:block;
		
		.bar_bottom{
			margin-top:10px;
			
			small{
				display:table;
				width:100%;
			}
			.row{
				margin-top:15px;
			}
			.cell{
				&.gap{
					width:22px;
				}
			}
			.content{
				display:table-cell;
				vertical-align:middle;
				padding-right:10px;
				
				font-family: Arial, Helvetica, sans-serif;
				font-size:13px;
				line-height:1.2em;
			}
			.info_ballons{
				padding:0px;
				margin:0px;
				list-style:none;
				display:table-cell;
				vertical-align:middle;
				white-space: nowrap;
				min-width:55%;
				
				li{
					margin-left:10px;
					float:left;
				}
			}
		}
		
		.bar_top{
			display:table;
			width:100%;
			margin-bottom:5px;
			
			.cell{
				display:table-cell;
				vertical-align:middle;
				font-family:  Verdana, Geneva, sans-serif;
				font-weight:bold;
				font-size:12px;
				
				a{
					display:table-cell;
				}
				.text{
					display:table-cell;
					vertical-align:middle;
					padding-left:5px;
				}
			}
		}
		h3{
			font-weight:normal;
			margin-bottom:25px;
			span{
				display:block;
				font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
				font-size:16px;
				line-height:1.1em;
				text-transform:uppercase;
				font-weight:normal;
			}
			.amount{
				display:table-cell;
				font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
				font-size:45px;
				line-height:1em;
				padding-right:5px;
			}
			.amount_label{
				display:table-cell;
				font-family:  Verdana, Geneva, sans-serif;
				font-size:12px;
				color:#6c6c6c;
				line-height:1em;
			}
		}
	}
	hr{
		border-color:#DDDDDD;
		margin-top:50px;
		margin-bottom:50px;
	}
	.statistics{
		padding:35px 20px;
	}
	h2{
		font-weight:none;
		font-family: 'cartogothic_stdregular' , Arial, Helvetica, sans-serif;
		display:block;
		text-transform:uppercase;
		font-size:45px;
		line-height:1.1em;
		margin-bottom:40px;
		span{
			font-size:16px;
			font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
			display:block;
			line-height:1em;
		}
		small{
			font-family: Arial, Helvetica, sans-serif;
			font-size:12px;
			color:#6c6c6c;
			display:block;
			line-height:1em;
		}
	}
	.score{
		font-family: 'cartogothic_stdregular' , Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		margin-bottom:50px;
		
		span{
			font-size:16px;
			display:block;
		}
		.amount{
			font-size:45px;
			display:block;
			line-height:1em;
		}
	}
	.card{
		float:left;
		margin-left:45px;
	}
}
.orange_bar_slider{
	display:block;
	width:100%;
	height:30px;
	position:relative;
	@include border-radius(4px);
	background-color: #fff;
	@include box-shadow(inset 0 0 7px rgba(0,0,0,.15));
	position:relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	
	
	
	.slider_picker{
		display:block;
		position:absolute;
		top:-2px;
		z-index:4;
		left:75%;
		cursor:pointer;
	}
	
	
	
	.indicate{
		display:block;
		width:2px;
		height:28px;
		position:absolute;
		top:1px;
		left:50%;
		border-right:1px solid #fff;
		background-color:#d7d7d7;
		z-index:3;
		
		.amount{
			position:absolute;
			display:block;
			white-space: nowrap;
			top:-30px;
			font-family:  Verdana, Geneva, sans-serif;
			font-weight:bold;
			font-size:12px;
		}
	}
	
	.bg{
		display:bock;
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:30px;
		z-index:1;
		border:1px solid #c6c6c6;
		border-top:1px solid #4d4d4d;
		background:url('../images/white_grey_pttrn.png') repeat center center;
		overflow:hidden;
	}
	
	.fill{
		display:block;
		width:20%;
		height:32px;
		position:absolute;
		top:-1px;
		z-index:2;
		
		@include border-radius(4px 0 0 4px); background-color: #ff651c; @include background-image(linear-gradient(top, #ff9f42, #f04504));
		
		
		&:after{
			display:block;
			position:absolute;
			top:0px;
			right:-16px;
			background:url("../images/orange_bar_slider_arrow.png") no-repeat center center;
			width:16px;
			height:30px;
		}
	}
}
.tier_credit{
	.bar_top{
		display:table;
		width:100%;
		margin-bottom:5px;
		
		.cell{
			display:table-cell;
			text-transform:uppercase;
			
			.link{
				text-decoration:none;
				font-size:15px;
				font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
			}
		}
	}
	.bar_bottom{
		margin-top:5px;
		small{
			font-size:13px;
		}
	}
	.tooltip_container{
		float:right;
	}
	.tooltip_data{
		width:215px;
		position:absolute;
		top:-232px;
		right:0px;
		text-transform:none;
		
		h4{
			font-weight:normal;
			font-size:19px;
			font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
			margin-bottom:14px;
		}
		
		p{
			font-size:13px;
		}
	}
}
.tooltip_data{
	display:block;
	background:#f0f0f0;
	border:1px solid #484848;
	@include border-radius(2px);
	padding:25px 10px 20px;
	@include box-shadow(2px 3px 4px rgba(0,0,0,.2));
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position:relative;
	
	&:after{
		display:block;
		width:22px;
		height:13px;
		background:url('../images/tooltip_arrow_bot.png') no-repeat center center;
		position:absolute;
		bottom:-13px;
		right:15px;
	}
}
.tooltip_container{
	position:relative;
}