/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/custom.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */

.logo-custom { background-image: url(../../../../../images/logo/pink.png); }

a
{
  color: #c91561;
}

a:hover
{
  color: #e2669a;
}

a.color-hover img:hover{border:1px solid #c91561;}

#toolbar{
border-bottom: 1px solid #c91561;
}

.searchbox .results li.result h3{
color:#c91561;
}

.colorcaps .wk-slideshow .caption
 {
	border-left: 3px solid rgba(201,21,97,0.7);
	border-top: 3px solid rgba(201,21,97,0.7);
}

.wk-slideshow-default .nav span:active 
{ background: rgba(201,21,97,0.7); }

.wk-slideshow-default .nav .active span 
{ background: rgba(201,21,97,0.7); }

.recent-projects .wk-slideshow-default > div .next:hover,
.clients-feed .wk-slideshow-default > div .next:hover,
.clients-logo .wk-slideshow-default > div .next:hover,
.recent-projects .wk-slideshow-default > div .prev:hover,
.clients-feed .wk-slideshow-default > div .prev:hover,
.clients-logo .wk-slideshow-default > div .prev:hover
{
	background-color: rgba(201,21,97,0.7);
}

.mod-box-color,
.mod-line-color{
background: #d05287;
background: -moz-radial-gradient(50% 0%, #d05287 0%, #cb4f83 50%, #bf4a7b 100%); /* Firefox */
background: -webkit-radial-gradient(50% 0%, #d05287 0%, #cb4f83 50%, #bf4a7b 100%); /* Safari, Chrome */
}

/* Highlight Buttons (Needed for System Markup) */
a.button-highlight,
a.button-highlight:before,
a.button-highlight:after
{ background-image: url(../../../styles/pink/images/pink-highlight-button.png); }

h3.color-style{color:#c91561;}
h3.module-title span.color{color:#c91561;}

.links a:hover,
a.button-more:hover{
color:#c91561;
border:1px solid #c91561;
}

.color-style{color:#c91561;}
.module-title span.color{color:#c91561;}
span.color{color:#c91561;}

/*color button  */

a.button-color
{
	background-image: url(../images/color-pink.png);
	border: 1px solid #9c2f5c;
	border-top: 1px solid #a8406b;
}



button:hover, input[type="button"]:hover, input[type="submit"]:hover, input.kbutton:hover{color: #c91561; border:1px solid #c91561;}

/* Kunena */
#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a,
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span,
#Kunena #ktab li.active a span {
 color:#c91561;
}

.news-letter input.button {
	background: #c91561;
	border: 1px solid #9c2f5c;
	border-left: none;	
}
