<!--<h3><?php //echo __('Actions'); ?></h3>-->
<span class="fr">

    <button class="button light small" onclick="App.redirect('/conversations')">Inbox</button>
	<button class="button light small" onclick="App.redirect('/conversations/sent')">Sent</button>

	<button class="button light small" onclick="App.redirect('/conversations/add')">Compose</button>
	


</span>

	 