<?php //pr($feedback); ?><?php
//$pagination_params = $this->Paginator->params(); 
?>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php // echo __($page_heading)   ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Feedback List  </h2> 

			<?PHP echo $this->Html->link('Back To Dashboard', '/dashboards/index', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading)  ?></button>

		</div>
		<!-- End Header -->
		<div class="body">

			<table class="display dataTable">
				<thead>
					<tr>
						<th class="sorting">S.No<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Feedback<?php //echo $this->Paginator->sort('name');    ?></th>

						<th class="sorting">Date<?php //echo $this->Paginator->sort('name');    ?></th>
						<th >Action<?php // echo __('Action');    ?></th>
					</tr>
				</thead>
				<tbody>
					<?php
					$counter =1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
					if (!empty($feedback)) {
							foreach ($feedback as $results){ ?>
							
						
					
						<tr class="odd_gradeX">
							<td class="center"><?php echo $counter ; ?>&nbsp;</td>
							<td class="center"><?php echo ($results['feedbacks']['feedback_text']); ?>&nbsp;</td>

							<td class="center"><?php echo ($results['feedbacks']['created']); ?>&nbsp;</td>


							<td class="actions" align="center">
								<?php echo $this->Html->link(__('Details'), array('controller' => 'feedbacks', 'action' => 'view', $results['feedbacks']['id'])); ?> |
								
								<?php echo $this->Html->link('Delete', array('action' => 'delete', $results['feedbacks']['id']), null, 'Are you sure ' );
								$counter++;
								?>
							</td>
						</tr>



					<?php
					}
					}
					?>
			</table>
					<?php
//					if (!empty($feedback)) {
//						echo '<table class="display"  >';
//						echo '<tr><td align="center">';
//						echo $this->paginator->first();
//						echo '&nbsp;';
//						echo $this->paginator->prev();
//						echo '&nbsp;';
//						echo $this->paginator->numbers(array('modulus' => '2'));
//						echo '&nbsp;';
//						echo $this->paginator->next();
//						echo '&nbsp;';
//						echo $this->paginator->last();
//						echo '<br />';
//						echo $this->paginator->counter(array('format' => 'Page %page% of %pages%'));
//
//						echo '</td></tr>';
//						echo '</table>';
//					}
					?>
				</tbody>
			</table>
		</div>
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>