<?php //pr($feedback); 
//pr($customer);?>
<h1 class="border_bottom_1"><?php // echo __($page_heading)  ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Feedback Details </h2> 

<?PHP echo $this->Html->link('Back to Dashboard', '/dashboards/index', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>       <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading) ?></button>

		</div>
		<!-- End Header -->
		<div class="body">
		            <table >
				<thead>
					<tr>
						<th align="left"> Detail<?php  //echo $this->Paginator->sort('name');  ?></th>
						
					</tr>
				</thead>
				<tbody>
					<?php foreach ($customer as $results): ?>
				
				<tr> 
					<!--<td  class="toggle"><span class="ir"> Expand/ Collapse</span></td>-->
					<td >Customer Name<?php //echo ($results['Array']);  ?>&nbsp;</td>
					<td ><?php echo ($results['name']);  ?></td>
					
										
				</tr>
<!--				<tr> 
					
					<td >Phone No<?php //echo ($results['Array']);  ?>&nbsp;</td>
					<td ><?php // echo ($results['telephone_no']);  ?></td>
					
						
				</tr>-->
				
				<tr> 
					
					<td >Email<?php //echo ($results['Array']);  ?>&nbsp;</td>
					<td ><?php echo ($results['email']);  ?></td>
					
						
				</tr>
				
<!--				<tr>
					<td >Address<?php //echo ($results['Array']);  ?>&nbsp;</td>
					<td ><?php // echo ($results['id']);  ?> </td>
				</tr>-->
				<tr>
					<?php foreach ($feedback as $result): ?>
					<td >Comment:<?php //echo ($results['Array']);  ?>&nbsp;</td>
					<td ><?php echo ($result['feedback_text']);  ?> </td>
				</tr>
				<tr>
					<td class="grid_dropdown"> </td>
					<td colspan="3"><?php //echo h($result['Array']['description']);  ?></td>
				</tr>
				<?php endforeach;  ?>
				<?php endforeach;  ?>
				</tbody>
            </table>
			<?php //echo $this->element('pagination',array('pagination_params' => $pagination_params));  ?>
            <!--End Pagination-->
		</div>
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>

