/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* normalize.scss v2.1.0 | MIT/GPLv2 License | bit.ly/normalize-with-compass */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 63, sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 73, sass/_normalize.scss */
audio, canvas, video {
	display: inline-block;
 *display: inline;
 *zoom: 1;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 86, sass/_normalize.scss */
audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address styling not present in IE 7/8/9.
 * Known issue: no IE 6 support.
 */
/* line 96, sass/_normalize.scss */
[hidden] {
 display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
/* line 112, sass/_normalize.scss */
html {
	font-family: sans-serif;
	/* 1 */
	font-size: 100%;
	/* 3 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
	-ms-text-size-adjust: 100%;
	/* 2 */
  /* Establish a vertical rhythm unit using $base-line-height. */
	line-height: 1.5em;
}
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements in IE 6/7.
 */
/* line 130, sass/_normalize.scss */
button, input, select, textarea {
	font-family: sans-serif;
}
/**
 * Remove default margin.
 */
/* line 139, sass/_normalize.scss */
body {
	margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 151, sass/_normalize.scss */
a:focus {
	outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 160, sass/_normalize.scss */
a:active, a:hover {
	outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 173, sass/_normalize.scss */
p, pre {
	margin: 1.5em 0;
}
/* line 177, sass/_normalize.scss */
blockquote {
	/* Set 1 unit of vertical rhythm on the top and bottom margin. */
	margin: 1.5em 40px;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 187, sass/_normalize.scss */
h1 {
	/* Set the font-size and line-height while keeping a proper vertical rhythm. */
	font-size: 2em;
	line-height: 1.5em;
	/* Set 1 unit of vertical rhythm on the top and bottom margins. */
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
/* line 196, sass/_normalize.scss */
h2 {
	font-size: 1.5em;
	line-height: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}
/* line 202, sass/_normalize.scss */
h3 {
	font-size: 1.17em;
	line-height: 1.28205em;
	margin-top: 1.28205em;
	margin-bottom: 1.28205em;
}
/* line 208, sass/_normalize.scss */
h4 {
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
/* line 214, sass/_normalize.scss */
h5 {
	font-size: 0.83em;
	line-height: 1.80723em;
	margin-top: 1.80723em;
	margin-bottom: 1.80723em;
}
/* line 220, sass/_normalize.scss */
h6 {
	font-size: 0.67em;
	line-height: 2.23881em;
	margin-top: 2.23881em;
	margin-bottom: 2.23881em;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 230, sass/_normalize.scss */
abbr[title] {
	border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 239, sass/_normalize.scss */
b, strong {
	font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 247, sass/_normalize.scss */
dfn {
	font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 256, sass/_normalize.scss */
hr {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
/* line 265, sass/_normalize.scss */
mark {
	background: #ff0;
	color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 277, sass/_normalize.scss */
code, kbd, pre, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
	line-height: 1.5em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 289, sass/_normalize.scss */
pre {
	white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
/* line 297, sass/_normalize.scss */
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 305, sass/_normalize.scss */
small {
	font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 314, sass/_normalize.scss */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
/* line 321, sass/_normalize.scss */
sup {
	top: -0.5em;
}
/* line 325, sass/_normalize.scss */
sub {
	bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm and a consistent indentation.
 */
/* line 340, sass/_normalize.scss */
dl, menu, ol, ul {
	margin: 1.5em 0;
	padding: 0 0 0 40px;
}
/* line 345, sass/_normalize.scss */
dl {
	padding: 0;
}
/* line 349, sass/_normalize.scss */
dd {
	margin: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 359, sass/_normalize.scss */
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 373, sass/_normalize.scss */
img {
	border: 0;
	/* Improve image quality when scaled in IE 7. */
	-ms-interpolation-mode: bicubic;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 385, sass/_normalize.scss */
svg:not(:root) {
	overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 397, sass/_normalize.scss */
figure {
	margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 410, sass/_normalize.scss */
form {
	margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
/* line 419, sass/_normalize.scss */
fieldset {
	border-color: #c0c0c0;
	margin: 0 2px;
	/* Apply borders and padding that keep the vertical rhythm. */
	border-top-style: solid;
	border-top-width: 0.0625em;
	padding-top: 0.4625em;
	border-bottom-style: solid;
	border-bottom-width: 0.0625em;
	padding-bottom: 0.9125em;
	border-left-style: solid;
	border-left-width: 0.0625em;
	padding-left: 0.875em;
	border-right-style: solid;
	border-right-width: 0.0625em;
	padding-right: 0.875em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 435, sass/_normalize.scss */
legend {
	border: 0;
	/* 1 */
	padding: 0;
  /* 2 */
  *margin-left: -7px;
/* 3 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 */
/* line 453, sass/_normalize.scss */
button, input, select, textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 2 */
	margin: 0;
	/* 3 */
	vertical-align: baseline;
  /* 4 */
  *vertical-align: middle;
/* 4 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 469, sass/_normalize.scss */
button, input {
	line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 481, sass/_normalize.scss */
button, select {
	text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 498, sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	/* 2 */
	cursor: pointer;
  /* 3 */
  *overflow: visible;
/* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
/* line 511, sass/_normalize.scss */
button[disabled], html input[disabled] {
	cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 523, sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* 1 */
	padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
/* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 538, sass/_normalize.scss */
input[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;/* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 549, sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 558, sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 568, sass/_normalize.scss */
textarea {
	overflow: auto;
	/* 1 */
	vertical-align: top;/* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 581, sass/_normalize.scss */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Example
	#foo {
		@include background-image-retina('foobar', 'png', 10px, 20px);
		background: repeat;
	}
*/
/* ====================== 
   Design Base Formatting
   ====================== */
/* line 10, sass/style.scss */
html {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	height: 100%;
}
/* line 16, sass/style.scss */
body {
	color: #000;
	height: 100%;
	display: block;
	clear: both;
}
/* line 23, sass/style.scss */
*::selection {
	color: #bf1222;
	background-color: #bf1222;
}
/* line 27, sass/style.scss */
*::-moz-selection {
 color: white;
 background: #bf1222;
}
/* line 31, sass/style.scss */
*::selection {
	color: white;
	background: #2e8154;
}
/* line 37, sass/style.scss */
h1, h2, h3, h4, h5, h6, h7 {
	margin: 0px 0px 10px 0px;
}
/* line 41, sass/style.scss */
p {
	margin: 0px 10px 5px 10px;
	line-height: 12px;
}
/* line 46, sass/style.scss */
a {
	color: #ff0000;
	cursor: pointer;
	-webkit-transition: all 0.35s ease-in;
	-moz-transition: all 0.35s ease-in;
	-o-transition: all 0.35s ease-in;
	transition: all 0.35s ease-in;
}
/* line 51, sass/style.scss */
a:hover {
	color: #89ceab;
}
/* line 56, sass/style.scss */
ul {
	list-style: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
/* ====================== 
   End Design Base Formatting
   ====================== */
   
.wrapper {
	background-color: #dcebf3;
	background-image: -webkit-linear-gradient(top, #deebf3, #fff);
	background-image: -moz-linear-gradient(top, #deebf3, #fff);
	background-image: -o-linear-gradient(top, #deebf3, #fff);
	background-image: -ms-linear-gradient(top, #deebf3, #fff);
	background-image: linear-gradient(to bottom, #deebf3, #fff);
	display: block;
}
/* ====================== 
   Header
   ====================== */
   
header {
	margin: 0 auto;
}
header h1 {
	padding: 10px;
	line-height: 0px;
}
nav {
	background-color: #000;
	background-image: -webkit-linear-gradient(bottom, #02652f, #6da88a);
	background-image: -moz-linear-gradient(bottom, #02652f, #6da88a);
	background-image: -o-linear-gradient(bottom, #02652f, #6da88a);
	background-image: -ms-linear-gradient(bottom, #02652f, #6da88a);
	background-image: linear-gradient(to top, #02652f, #6da88a);
	text-align: center;
	z-index: 99;
	position: relative;
	padding: 5px;
}
nav a {
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	padding: 0 5px;
	font-size: 9px;
	font-weight: normal;
}
nav a:last-child {
	padding-right: 0px;
}
/* ====================== 
   Header
   ====================== */


/* ====================== 
   Content
   ====================== */
   
.container {
	width: 90%;
	margin: 0 auto;
	padding: 0px 20px;
	z-index: 98;
	background-color: #fff;
	-webkit-box-shadow: 0 0 14px 8px rgba(0,0,0,.39);
	-moz-box-shadow: 0 0 14px 8px rgba(0,0,0,.39);
	box-shadow: 0 0 14px 8px rgba(0,0,0,.39);
	padding: 5px;
	display: block;
	border-radius: 0px 0px 5px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
}
.container p {
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
}
.container h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 5px 10px;
}
.container ol li, .container ul li {
	margin: 15px;
}
ol {
	font-size: 12px;
	line-height: 20px;
	padding-left: 30px;
}
/* ====================== 
  Content
   ====================== */


/* ====================== 
   Footer
   ====================== */
footer {
	margin: 25px;
}
footer p {
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.btn {
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #000;
	border: solid 2px #006567;
	background-image: -webkit-linear-gradient(bottom, #0c2053, #3398ce);
	background-image: -moz-linear-gradient(bottom, #0c2053, #3398ce);
	background-image: -o-linear-gradient(bottom, #0c2053, #3398ce);
	background-image: -ms-linear-gradient(bottom, #0c2053, #3398ce);
	background-image: linear-gradient(to top, #0c2053, #3398ce);
	color: #fff;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px;
	margin: 0 auto;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	margin-bottom: 20px;
}

.btn:hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #000;
	border: solid 2px #006567;
	background-image: -webkit-linear-gradient(bottom, rgba(12,32,83,.7), rgba(51,152,206,.7));
	background-image: -moz-linear-gradient(bottom, rgba(12,32,83,.7), rgba(51,152,206,.7));
	background-image: -o-linear-gradient(bottom, rgba(12,32,83,.7), rgba(51,152,206,.7));
	background-image: -ms-linear-gradient(bottom, rgba(12,32,83,.7), rgba(51,152,206,.7));
	background-image: linear-gradient(to top, rgba(12,32,83,.7), rgba(51,152,206,.7));
}

.btn:active {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #000;
	border: solid 2px #006567;
	background-image: -webkit-linear-gradient(top, rgba(12,32,83,.7), rgba(51,152,206,.7));
	background-image: -moz-linear-gradient(top, rgba(12,32,83,.7), rgba(51,152,206,.7));
	background-image: -o-linear-gradient(top, rgba(12,32,83,.7), rgba(51,152,206,.7));
	background-image: -ms-linear-gradient(top, rgba(12,32,83,.7), rgba(51,152,206,.7));
	background-image: linear-gradient(to bottom, rgba(12,32,83,.7), rgba(51,152,206,.7));
}


   
   /* ====================== 
   Footer
   ====================== */
