ul.rsmg_content_gallery {
	margin: 0px !important;
	padding: 0px !important;
	list-style: none !important;
}

ul.rsmg_content_gallery li {
	float: left;
	margin: 0 15px 20px 0 !important;
}

ul.rsmg_content_gallery li div.rsmg_content_container {
	text-align: center;
	float: left;
	padding: 10px;	
	font-size: 11px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

ul.rsmg_content_gallery li div.rsmg_content_container a {
	display: block;
	overflow: hidden;
}

.rsmg_content_clear {
	display: block;
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
}

.piro_html_content {
	position:absolute;
	top:0;
	left:0;
	padding:0;
	width:500px;
	height:500px;
	margin:0;
	display:block;
	padding:0;
	z-index:150001;
	padding:0;
}
.piro_html_content table,.piro_html_content tbody,.piro_html_content tr,.piro_html_content th,.piro_html_content td {
	margin:0;
	padding:0;
	border:none;
}
.piro_html_content img {
	margin:0;
	padding:0;
	border:none;
}
.piro_html_content .h_t_l {
	width:10px;
	height:10px;
}
.piro_html_content .h_t_r {
	width:10px;
	height:10px;
}
.piro_html_content .h_t_c {
	height:10px;
}
.piro_html_content .h_c_l {
	width:10px;
}
.piro_html_content .h_c_c {
	margin:0;
	padding:0;
}
.piro_html_content .h_c_c .div_reg_content {
	width:480px;
	overflow:hidden;
	height:480px;
	margin:0;
	padding:0;
}
.piro_html_content .h_c_r {
	width:10px;
}
.piro_html_content .h_b_c {
	height:10px;
}
.piro_html_content .h_b_l {
	width:10px;
	height:10px;
}
.piro_html_content .h_b_r {
	width:10px;
	height:10px;
}
.piro_overlay_content {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:150000;
	display:none;
	cursor:pointer;
}
.piro_loader_content {
	position:absolute;
	top:50%;
	left:50%;
	margin:-59px 0 0 -59px;
	width:118px;
	height:118px;
	display:block;
	z-index:150005;
	cursor:pointer;
}
.piro_loader_content span {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-36px;
	margin-left:-36px;
	width:72px;
	height:72px;
	display:block;
	z-index:150009;
	background-repeat: no-repeat;
	background-position: center top;
}
.resize_content {
	position: relative;
}
.piro_caption_content {
	position:absolute;
	bottom:0;
	left:0;
	margin:0;
	display:block;
	padding:0px;
	color:black;
	cursor:text;
	background:url(../images/caption.png);
	z-index:150025
}
.piro_caption_content p {
	display:block;
	margin:0;
	padding:7px 5px;
	text-align:left;
	font-weight:normal;
	font-size:14px;
	color:white;
	z-index:150025;
	color:white;
}
.piro_nav_container_content {
	position:absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: url(../images/blank.gif);
}
.piro_close_content {
	position:absolute;
	width:14px !important;
	right:0;
	height:13px !important;
	text-indent:-999em;
	outline:none;
	display:block;	
	cursor:pointer;
	z-index:150024;
	padding:3px;
	top: 0;
}
a.piro_next_content {
	position:absolute;
	width: 50% !important;
	right: 0;
	top: 0;
	height: 100% !important;
	text-indent:-999em;
	outline:none;
	display:block;	
	background: none !important;
	text-decoration: none !important;
	cursor:pointer;
	z-index:150024;
}
a:hover.piro_next_content,
a:active.piro_next_content,
a:focus.piro_next_content {
	background: url(../images/right.png) no-repeat 90% 50% !important;
	text-decoration: none !important;
}
a.piro_prev_content {
	position:absolute;
	width: 50% !important;
	left: 0;
	top: 0;
	height: 100% !important;
	text-indent:-999em;
	outline:none;
	display:block;	
	background: none !important;
	text-decoration: none !important;
	cursor:pointer;
	z-index:150024;
}
a:hover.piro_prev_content,
a:active.piro_prev_content,
a:focus.piro_prev_content {
	background: url(../images/left.png) no-repeat 10% 50% !important;
	text-decoration: none !important;
}