/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/custom.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */

.logo-custom { background-image: url(../../../../../images/logo/purple.png); }

a
{
  color: #9d22a5;
}

a:hover
{
  color: #c45ccb;
}

a.color-hover img:hover{border:1px solid #9d22a5;}

#toolbar{
border-bottom: 1px solid #9d22a5;
}

.searchbox .results li.result h3{
color:#9d22a5;
}

.colorcaps .wk-slideshow .caption
 {
	border-left: 3px solid rgba(157,34,165,0.7);
	border-top: 3px solid rgba(157,34,165,0.7);
}

.wk-slideshow-default .nav span:active 
{ background: rgba(157,34,165,0.7); }

.wk-slideshow-default .nav .active span 
{ background: rgba(157,34,165,0.7); }

.recent-projects .wk-slideshow-default > div .next:hover,
.clients-feed .wk-slideshow-default > div .next:hover,
.clients-logo .wk-slideshow-default > div .next:hover,
.recent-projects .wk-slideshow-default > div .prev:hover,
.clients-feed .wk-slideshow-default > div .prev:hover,
.clients-logo .wk-slideshow-default > div .prev:hover
{
	background-color: rgba(157,34,165,0.7);
}

.mod-box-color,
.mod-line-color{
background: #b35db9;
background: -moz-radial-gradient(50% 0%, #b35db9 0%, #ac58b0 50%, #9d4c9d 100%); /* Firefox */
background: -webkit-radial-gradient(50% 0%, #b35db9 0%, #ac58b0 50%, #9d4c9d 100%); /* Safari, Chrome */
}

/* Highlight Buttons (Needed for System Markup) */
a.button-highlight,
a.button-highlight:before,
a.button-highlight:after
{ background-image: url(../../../styles/purple/images/purple-highlight-button.png); }

h3.color-style{color:#9d22a5;}
h3.module-title span.color{color:#9d22a5;}

.links a:hover,
a.button-more:hover{
color:#9d22a5;
border:1px solid #9d22a5;
}

.color-style{color:#9d22a5;}
.module-title span.color{color:#9d22a5;}
span.color{color:#9d22a5;}

/*color button  */

a.button-color
{
	background-image: url(../images/color-purple.png);
	border: 1px solid #762876;
	border-top: 1px solid #9d22a5;
}



button:hover, input[type="button"]:hover, input[type="submit"]:hover, input.kbutton:hover{color: #9d22a5; border:1px solid #9d22a5;}

/* Kunena */
#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a,
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span,
#Kunena #ktab li.active a span {
 color:#9d22a5;
}

.news-letter input.button {
	background: #9d22a5;
	border: 1px solid #762876;
	border-left: none;	
}
