/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/menus.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */


/* Set Hover */
.menu-dropdown  li.level1.parent:hover > .level1 > span,
.menu-dropdown  li.parent.remain > .level1 > span { 
	background: #9d22a5;
}

/* Set Current */
.menu-dropdown a.current.level2 { color: #9d22a5;} 

/* Set Current */
.menu-dropdown a.current.level3 { color: #9d22a5;} 

.menu-sidebar ul a.current > span {color: #9d22a5;}

.menu-line li a { color: #9d22a5; }
.menu-line li a:hover { color: #c45ccb; }
