<style>
.view-mode {display:block;}
</style>
<br />
<br />
<br />


<h1>Best Seller</h1>

<?php

/**
 * @author Branko Ajzele | http://activecodeline.com | branko.ajzele@surgeworks.com
 * @license GPL
 */



$totalPerPage = ($this->show_total) ? $this->show_total : 6;
$counter = 1;
$visibility = array(
                      Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH,
                      Mage_Catalog_Model_Product_Visibility::VISIBILITY_IN_CATALOG
                  );

$storeId = Mage::app()->getStore()->getId();
$_productCollection = Mage::getResourceModel('reports/product_collection')
                              ->addAttributeToSelect('*')
                              ->addOrderedQty()
                              ->addAttributeToFilter('visibility', $visibility)
                              ->setOrder('ordered_qty', 'desc');


//Mage_Reports_Model_Mysql4_Product_Collection
?>

<?php

/**
 * Each product in foreach loop is array of following fields
 *

Array
(
    [ordered_qty] => 2.0000
    [entity_id] => 150
    [entity_type_id] => 10
    [attribute_set_id] => 62
    [type_id] => simple
    [sku] => 500gb7200
    [category_ids] => 29,36
    [created_at] => 2008-07-25 01:12:44
    [updated_at] => 2008-07-25 02:09:26
    [has_options] => 0
    [visibility] => 4
    [hardrive] => 500 GB
    [meta_keyword] =>
    [description] => 500GB- 7200RPM, SATA 3.0Gb/s, 32MB Cache
    [short_description] => 500GB - 7200RPM, SATA 3.0Gb/s, 32MB Cache
    [custom_layout_update] =>
    [status] => 1
    [tax_class_id] => 1
    [manufacturer] => 118
    [weight] => 1.0000
    [price] => 299.0000
    [name] => Western Digital 500GB HD - 7200RPM
    [url_key] => 500gb-7200rpm
    [gift_message_available] => 2
    [harddrive_speed] => 7200 rpm
    [meta_title] =>
    [meta_description] =>
    [thumbnail] => /w/e/western-digital-500gb-hd-7200rpm.jpg
    [small_image] => /w/e/western-digital-500gb-hd-7200rpm.jpg
    [image] => /w/e/western-digital-500gb-hd-7200rpm.jpg
    [custom_design] =>
    [options_container] => container2
    [stock_item (Mage_CatalogInventory_Model_Stock_Item)] => Array
        (
            [item_id] => 119
            [product_id] => 150
            [stock_id] => 1
            [qty] => 999994.0000
            [min_qty] => 0.0000
            [use_config_min_qty] => 1
            [is_qty_decimal] => 0
            [backorders] => 0
            [use_config_backorders] => 1
            [min_sale_qty] => 1.0000
            [use_config_min_sale_qty] => 1
            [max_sale_qty] => 0.0000
            [use_config_max_sale_qty] => 1
            [is_in_stock] => 1
            [low_stock_date] => 0000-00-00 00:00:00
            [use_config_notify_stock_qty] => 1
            [manage_stock] => 0
            [use_config_manage_stock] => 1
            [product (Mage_Catalog_Model_Product)] => *** RECURSION ***
        )

    [is_salable] => 1
)


 */
?>

<?php foreach($_productCollection as $product): ?>

<?php
        $categories = null;
        foreach (explode(",", $product->category_ids) as $catId){

          //Mage_Catalog_Model_Category
          $cat = Mage::getModel('catalog/category')
                        ->setStoreId(Mage::app()->getStore()->getId())
                        ->load($catId);
          $catName = $cat->getName();

          $catLink = $cat->getUrlPath();
          $categories .= '<a href="'.$catLink.'" title="'.$catName.'">'.$catName.'</a>&nbsp;&nbsp;';
        }

?>

<?php if($counter <= $totalPerPage): ?>

<?php $productUrl =  $product->getProductUrl() ?>
<a href="<?php echo $productUrl ?>" title="View <?php echo $product->name ?>">
  <h4><?php echo $product->name ?></h4>
</a>
<small><?php echo $this->__('Total soled quantities') ?>: <?php echo (int)$product->ordered_qty ?></small><br />

<a href="<?php echo $productUrl ?>" title="View <?php echo $product->name ?>">
<img src="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize(120); ?>" alt="Product image"  />
</a> <br />

<?php echo $this->__('Categories: ') ?><?php echo $categories ?>
<p><?php echo $product->short_description ?></p>

<?php endif; $counter++; ?>
<?php endforeach; ?>