/* Minified: widgets.TextCompareDialog.css */
.diff del{background-color:#e8e8e8!important;color:#999!important;text-decoration:line-through!important}.diff ins{background-color:#90dc90!important;color:green!important;text-decoration:underline!important}
