<script> setTimeout('window.location.href=window.location.href;', 30000);
	</script>
<?php
//pr($event);
//pr($reservations);
//pr($todayorder);
//pr($tomorder);
//pr($yesorder);
//pr($todayreservation);
//pr($tomreservation);
//pr($upreservation);
//pr($dinein);
//pr($takeaway);
//pr($delivery);
?>
<section class="grid_6">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
			<h2>Orders</h2>



			<!-- Navigation in box -->
			<ul class="sub_nav">
				<li><a href="JavaScript:void(0);" >Today</a></li>
				<li><a href="JavaScript:void(0);">Tomorrow</a> 
				<li><a href="JavaScript:void(0);">Others</a></li>

			</ul>


		</div>
		<!-- End Header -->

		<!-- Begin Box Body-->
		<div class="body">

			<!-- pane 1 -->
			<div class="pane">
				<table class="datagrid wf">
					<thead>
						<tr>
							<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Order Id<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Order Type<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Customer Name<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Status<?php //echo $this->Paginator->sort('name');     ?></th>

							<th >Action<?php // echo __('Action');     ?></th>

						</tr>
					</thead>
					<tbody>

						<?php
						$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
						if (!empty($todayorder)) {
							foreach ($todayorder as $events) {
								?>


								<tr class="odd_gradeX">
									<td class="center"><?php echo $counter; ?>&nbsp;</td>
									<td class="center"><?php echo $events['orders']['id']; ?>&nbsp;</td>
									<td class="center"><?php echo $events['orders']['ordertype']; ?></td>
									<td class="center"><?php echo $events['info']['name']; ?></td>
									<td class="center"><?php echo $events['orders']['order_status']; ?></td>

									<td class="actions" align="center">
										<?php echo $this->Html->link(__('Details'), array('controller' => 'orders', 'action' => 'view', $events['orders']['id'])); ?> |
										<?php echo $this->Html->link(__('Edit'), array('controller' => 'orders', 'action' => 'edit', $events['orders']['id'])); ?> 
										<?php
										// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
										$counter++;
										?>


									</td>
								</tr>

								<?php
							}
						} else {
							?>
							<tr>
								<td colspan="6">No records found</td>
							</tr>
							<?php
						}
						?>
				</table>









			</div>

			<!-- pane 2 -->
			<div class="pane">
				<table class="datagrid wf">
					<thead>
						<tr>
							<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Order Id<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Order Type<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Customer Name<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Status<?php //echo $this->Paginator->sort('name');     ?></th>

							<th >Action<?php // echo __('Action');     ?></th>

						</tr>
					</thead>
					<tbody>

						<?php
						$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
						if (!empty($tomorder)) {
							foreach ($tomorder as $events) {
								?>


								<tr class="odd_gradeX">
									<td class="center"><?php echo $counter; ?>&nbsp;</td>
									<td class="center"><?php echo $events['orders']['id']; ?>&nbsp;</td>
									<td class="center"><?php echo $events['orders']['ordertype']; ?></td>
									<td class="center"><?php echo $events['info']['name']; ?></td>
									<td class="center"><?php echo $events['orders']['order_status']; ?></td>

									<td class="actions" align="center">
										<?php echo $this->Html->link(__('Details'), array('controller' => 'orders', 'action' => 'view', $events['orders']['id'])); ?> |
										<?php echo $this->Html->link(__('Edit'), array('controller' => 'orders', 'action' => 'edit', $events['orders']['id'])); ?> 
										<?php
										// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
										$counter++;
										?>


									</td>
								</tr>

								<?php
							}
						} else {
							?>
							<tr>
								<td colspan="6">No records found</td>
							</tr>
	<?php
}
?>
				</table>

			</div>

			<!-- pane 3 -->
			<div class="pane">
				<table class="datagrid wf">
					<thead>
						<tr>
							<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Order Id<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Order Type<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Customer Name<?php //echo $this->Paginator->sort('name');     ?></th>
							<th class="sorting">Status<?php //echo $this->Paginator->sort('name');     ?></th>

							<th >Action<?php // echo __('Action');     ?></th>

						</tr>
					</thead>
					<tbody>

						<?php
						$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
						if (!empty($yesorder)) {
							foreach ($yesorder as $events) {
								?>


								<tr class="odd_gradeX">
									<td class="center"><?php echo $counter; ?>&nbsp;</td>
									<td class="center"><?php echo $events['orders']['id']; ?>&nbsp;</td>
									<td class="center"><?php echo $events['orders']['ordertype']; ?></td>
									<td class="center"><?php echo $events['info']['name']; ?></td>
									<td class="center"><?php echo $events['orders']['order_status']; ?></td>

									<td class="actions" align="center">
										<?php echo $this->Html->link(__('Details'), array('controller' => 'orders', 'action' => 'view', $events['orders']['id'])); ?> |
										<?php echo $this->Html->link(__('Edit'), array('controller' => 'orders', 'action' => 'edit', $events['orders']['id'])); ?> 
		<?php
		// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
		$counter++;
		?>


									</td>
								</tr>

		<?php
	}
} else {
	?>
							<tr>
								<td colspan="6">No records found</td>
							</tr>
	<?php
}
?>
				</table>

			</div>

			<!-- pane 4 -->

		</div><!-- End Body -->
	</div><!-- End box -->
</section>

<section class="grid_6">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
			<h2>Reservation Requests</h2>



			<!-- Navigation in box -->
			<!--					<ul class="sub_nav">
									<li><a href="JavaScript:void(0);" >Today</a></li>
									
									
								</ul>-->


		</div>
		<!-- End Header -->

		<!-- Begin Box Body-->
		<div class="body">

			<!-- pane 1 -->
			<table class="datagrid wf">
				<thead>
					<tr>
						<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');      ?></th>
						<th class="sorting">Date<?php //echo $this->Paginator->sort('name');      ?></th>
						<th class="sorting">Time From<?php //echo $this->Paginator->sort('name');      ?></th>
						<th class="sorting">Time To<?php //echo $this->Paginator->sort('name');      ?></th>

						<th class="sorting">Phone No.<?php //echo $this->Paginator->sort('name');      ?></th>
						<!--<th class="sorting">Status<?php //echo $this->Paginator->sort('name');     ?></th>-->
						<th >Action<?php // echo __('Action');     ?></th>
                    </tr>
                </thead>
				<tbody>

					<?php
					$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
					if (!empty($reservations)) {
						foreach ($reservations as $events) {


							$datetime_from = $events['Reservation']['time_from'];
							$datetime = new DateTime($datetime_from);
							$date = $datetime->format('m-d-Y');
							$time_from = $datetime->format('H:i:s');

							$datetime_to = $events['Reservation']['time_to'];
							$datetime = new DateTime($datetime_to);
							// $date = $datetime->format('m-d-Y');
							$time_to = $datetime->format('H:i:s');

							//echo $a = $events['Event']['event_time'];
							//echo  date('Y-m-d H:i:s') ;
							//exit();
							?>


							<tr class="odd_gradeX">
								<td class="center"><?php echo $counter; ?>&nbsp;</td>
								<td class="center"><?php echo $date; ?>&nbsp;</td>
								<td class="center"><?php echo $time_from; ?></td>
								<td class="center"><?php echo $time_to; ?></td>
								<td class="center"><?php echo $events['Reservation']['phone_no']; ?></td>

								<td class="actions" align="center">
		<?php echo $this->Html->link(__('Details'), array('controller' => 'reservations', 'action' => 'view', $events['Reservation']['id'])); ?> |
		<?php echo $this->Html->link(__('Edit'), array('controller' => 'reservations', 'action' => 'edit', $events['Reservation']['id'])); ?> 
		<?php
		// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
		$counter++;
		?>


								</td>
							</tr>

							<?php
						}
					} else {
						?>
						<tr>
							<td colspan="6">No records found</td>
						</tr>
				<?php
			}
			?>
			</table>
<?php
//					s
?>







			</tbody>
			</table>


			<!-- pane 2 -->


			<!-- pane 4 -->

		</div><!-- End Body -->
	</div><!-- End box -->
</section>


<section class="grid_6">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
			<h2>Reservation</h2>



			<!-- Navigation in box -->
			<ul class="sub_nav">
				<li><a href="JavaScript:void(0);" >Today</a></li>
				<li><a href="JavaScript:void(0);">Tomorrow</a> 
				<li><a href="JavaScript:void(0);">Others</a></li>

			</ul>


		</div>
		<!-- End Header -->

		<!-- Begin Box Body-->
		<div class="body">

			<!-- pane 1 -->
			<div class="pane">
				<table class="datagrid wf">
					<thead>
						<tr>
							<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Date<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Time From<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Time To<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Phone No.<?php //echo $this->Paginator->sort('name');      ?></th>
<th class="sorting">Status<?php //echo $this->Paginator->sort('name');     ?></th>
							<th >Action<?php // echo __('Action');      ?></th>
						</tr>
					</thead>
					<tbody>

						<?php
						$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
						if (!empty($todayreservation)) {
							foreach ($todayreservation as $events) {
								$datetime_from = $events['Reservation']['time_from'];
								$datetime = new DateTime($datetime_from);
								$date = $datetime->format('m-d-Y');
								$time_from = $datetime->format('H:i:s');

								$datetime_to = $events['Reservation']['time_to'];
								$datetime = new DateTime($datetime_to);
								// $date = $datetime->format('m-d-Y');
								$time_to = $datetime->format('H:i:s');
								?>


								<tr class="odd_gradeX">
									<td class="center"><?php echo $counter; ?>&nbsp;</td>
									<td class="center"><?php echo $date; ?>&nbsp;</td>
									<td class="center"><?php echo $time_from; ?></td>
									<td class="center"><?php echo $time_to; ?></td>
									<td class="center"><?php echo $events['Reservation']['phone_no']; ?></td>
									<td class="center"><?php echo $events['Reservation']['status']; ?></td>

									<td class="actions" align="center">
										<?php echo $this->Html->link(__('Details'), array('controller' => 'reservations', 'action' => 'view', $events['Reservation']['id'])); ?> |
		<?php echo $this->Html->link(__('Edit'), array('controller' => 'reservations', 'action' => 'edit', $events['Reservation']['id'])); ?> 
		<?php
		// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
		$counter++;
		?>


									</td>
								</tr>

		<?php
	}
} else {
	?>
							<tr>
								<td colspan="6">No records found</td>
							</tr>
	<?php
}
?>
				</table>
			</div>

			<!-- pane 2 -->
			<div class="pane">
				<table class="datagrid wf">
					<thead>
						<tr>
							<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Date<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Time From<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Time To<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Phone No.<?php //echo $this->Paginator->sort('name');      ?></th>
<th class="sorting">Status<?php //echo $this->Paginator->sort('name');     ?></th>
							<th >Action<?php // echo __('Action');      ?></th>
						</tr>
					</thead>
					<tbody>

						<?php
						$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
						if (!empty($tomreservation)) {
							foreach ($tomreservation as $events) {
								$datetime_from = $events['Reservation']['time_from'];
								$datetime = new DateTime($datetime_from);
								$date = $datetime->format('m-d-Y');
								$time_from = $datetime->format('H:i:s');

								$datetime_to = $events['Reservation']['time_to'];
								$datetime = new DateTime($datetime_to);
								// $date = $datetime->format('m-d-Y');
								$time_to = $datetime->format('H:i:s');
								?>


								<tr class="odd_gradeX">
									<td class="center"><?php echo $counter; ?>&nbsp;</td>
									<td class="center"><?php echo $date; ?>&nbsp;</td>
									<td class="center"><?php echo $time_from; ?></td>
									<td class="center"><?php echo $time_to; ?></td>
									<td class="center"><?php echo $events['Reservation']['phone_no']; ?></td>
									<td class="center"><?php echo $events['Reservation']['status']; ?></td>

									<td class="actions" align="center">
										<?php echo $this->Html->link(__('Details'), array('controller' => 'reservations', 'action' => 'view', $events['Reservation']['id'])); ?> |
		<?php echo $this->Html->link(__('Edit'), array('controller' => 'reservations', 'action' => 'edit', $events['Reservation']['id'])); ?> 
		<?php
		// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
		$counter++;
		?>


									</td>
								</tr>

		<?php
	}
} else {
	?>
							<tr>
								<td colspan="6">No records found</td>
							</tr>
	<?php
}
?>
				</table>
			</div>

			<!-- pane 3 -->
			<div class="pane">
				<table class="datagrid wf">
					<thead>
						<tr>
							<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Date<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Time From<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Time To<?php //echo $this->Paginator->sort('name');      ?></th>
							<th class="sorting">Phone No.<?php //echo $this->Paginator->sort('name');      ?></th>
<th class="sorting">Status<?php //echo $this->Paginator->sort('name');     ?></th>
							<th >Action<?php // echo __('Action');      ?></th>
						</tr>
					</thead>
					<tbody>

						<?php
						$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
						if (!empty($upreservation)) {
							foreach ($upreservation as $events) {
								$datetime_from = $events['Reservation']['time_from'];
								$datetime = new DateTime($datetime_from);
								$date = $datetime->format('m-d-Y');
								$time_from = $datetime->format('H:i:s');

								$datetime_to = $events['Reservation']['time_to'];
								$datetime = new DateTime($datetime_to);
								// $date = $datetime->format('m-d-Y');
								$time_to = $datetime->format('H:i:s');
								?>


								<tr class="odd_gradeX">
									<td class="center"><?php echo $counter; ?>&nbsp;</td>
									<td class="center"><?php echo $date; ?>&nbsp;</td>
									<td class="center"><?php echo $time_from; ?></td>
									<td class="center"><?php echo $time_to; ?></td>
									<td class="center"><?php echo $events['Reservation']['phone_no']; ?></td>
									<td class="center"><?php echo $events['Reservation']['status']; ?></td>

									<td class="actions" align="center">
										<?php echo $this->Html->link(__('Details'), array('controller' => 'reservations', 'action' => 'view', $events['Reservation']['id'])); ?> |
		<?php echo $this->Html->link(__('Edit'), array('controller' => 'reservations', 'action' => 'edit', $events['Reservation']['id'])); ?> 
		<?php
		// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
		$counter++;
		?>


									</td>
								</tr>

		<?php
	}
} else {
	?>
							<tr>
								<td colspan="6">No records found</td>
							</tr>
	<?php
}
?>
				</table>
			</div>



		</div><!-- End Body -->
	</div><!-- End box -->
</section>
<section class="grid_6">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
			<h2>Upcoming Events</h2>



			<!-- Navigation in box -->
			<!--					<ul class="sub_nav">
									<li><a href="JavaScript:void(0);" >Today</a></li>
									
									
								</ul>-->


		</div>
		<!-- End Header -->

		<!-- Begin Box Body-->
		<div class="body">

			<!-- pane 1 -->
			<!--					<div class="pane">
									<h5>Pane 1</h5>
			Lorem ipsum dolor sit amet, <a href="JavaScript:void(0);">consectetur</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="JavaScript:void(0);">consequat</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<p>&nbsp;</p>
								</div>-->

			<table class="datagrid wf">
				<thead>
					<tr>
						<th class="sorting">S No<?php //echo $this->Paginator->sort('name');      ?></th>
						<th class="sorting">Date<?php //echo $this->Paginator->sort('name');      ?></th>
						<th class="sorting">Event Name<?php //echo $this->Paginator->sort('name');      ?></th>
						<!--<th class="sorting">Status<?php //echo $this->Paginator->sort('name');      ?></th>-->
						<th >Action<?php // echo __('Action');     ?></th>
                    </tr>
                </thead>
				<tbody>

					<?php
					$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
					if (!empty($event)) {
						foreach ($event as $events) {




							//echo $a = $events['Event']['event_time'];
							//echo  date('Y-m-d H:i:s') ;
							//exit();
							$status = '';
							if ($events['Event']['event_time'] >= $date = date('Y-m-d H:i:s')) {
								$status = 'upcoming';
							} elseif ($events['Event']['event_time'] < $date = date('Y-m-d H:i:s')) {
								$status = 'archieved';
							}
							?>


							<tr class="odd_gradeX">
								<td class="center"><?php echo $counter; ?>&nbsp;</td>
								<td class="center"><?php echo ($events['Event']['event_time']); ?>&nbsp;</td>
								<td class="center"><?php echo ($events['Event']['title']); ?></td>

								<td class="actions" align="center">
		<?php echo $this->Html->link(__('Details'), array('controller' => 'events', 'action' => 'view', $events['Event']['id'])); ?> |
		<?php echo $this->Html->link(__('Edit'), array('controller' => 'events', 'action' => 'edit', $events['Event']['id'])); ?> 
		<?php
		// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
		$counter++;
		?>


								</td>
							</tr>

							<?php
						}
					} else {
						?>
						<tr>
							<td colspan="6">No records found</td>
						</tr>
				<?php
			}
			?>
			</table>
<?php
//					s
?>







			</tbody>
			</table>


			<!-- pane 2 -->


			<!-- pane 4 -->

		</div><!-- End Body -->
	</div><!-- End box -->
</section>


<section class="grid_6">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
			<h2>Guests Serves Today </h2>



			<!-- Navigation in box -->
			<ul class="sub_nav">
				<li><a href="JavaScript:void(0);" >Dine In</a></li>
				<li><a href="JavaScript:void(0);">Take Away</a> 
				<li><a href="JavaScript:void(0);">Delivery</a></li>

			</ul>


		</div>
		<!-- End Header -->

		<!-- Begin Box Body-->
		<div class="body">

			<!-- pane 1 -->
<!--		<h2 class="current"><span class="arrow"></span> </h2>-->
		<div class="pane">
			<table class="datagrid wf">
			 <thead>
					<tr>
						<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Order Id<?php //echo $this->Paginator->sort('name');    ?></th>
						
						<th class="sorting">Customer Name<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Status<?php //echo $this->Paginator->sort('name');    ?></th>
						
						<th >Action<?php // echo __('Action');    ?></th>

					</tr>
                </thead>
				<tbody>

					<?php
					$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
					if (!empty($dinein)) {
						foreach ($dinein as $events) {


							
							?>


							<tr class="odd_gradeX">
								<td class="center"><?php echo $counter; ?>&nbsp;</td>
								<td class="center"><?php echo $events['orders']['id']; ?>&nbsp;</td>
								<td class="center"><?php echo $events['info']['name']; ?></td>
								<td class="center"><?php echo $events['orders']['order_status']; ?></td>

								<td class="actions" align="center">
		<?php echo $this->Html->link(__('Details'), array('controller' => 'orders', 'action' => 'view', $events['orders']['id'])); ?> |
		<?php echo $this->Html->link(__('Edit'), array('controller' => 'orders', 'action' => 'edit', $events['orders']['id'])); ?> 
		<?php
		// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
		$counter++;
		?>


								</td>
							</tr>

							<?php
						}
					} else {
						?>
						<tr>
							<td colspan="6">No records found</td>
						</tr>
				<?php
			}
			?>
			</table>
<?php
//					s
?>







			</tbody>
			</table>
				</div>
		<!-- Accordion 2-->
<!--		<h2><span class="arrow"></span>Takeaway Today </h2>-->
		<div class="pane"><table class="datagrid wf">
			 <thead>
					<tr>
						<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Order Id<?php //echo $this->Paginator->sort('name');    ?></th>
						
						<th class="sorting">Customer Name<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Status<?php //echo $this->Paginator->sort('name');    ?></th>
						
						<th >Action<?php // echo __('Action');    ?></th>

					</tr>
                </thead>
				<tbody>

					<?php
					$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
					if (!empty($takeaway)) {
						foreach ($takeaway as $events) {


							
							?>


							<tr class="odd_gradeX">
								<td class="center"><?php echo $counter; ?>&nbsp;</td>
								<td class="center"><?php echo $events['orders']['id']; ?>&nbsp;</td>
								<td class="center"><?php echo $events['info']['name']; ?></td>
								<td class="center"><?php echo $events['orders']['order_status']; ?></td>

								<td class="actions" align="center">
		<?php echo $this->Html->link(__('Details'), array('controller' => 'orders', 'action' => 'view', $events['orders']['id'])); ?> |
		<?php echo $this->Html->link(__('Edit'), array('controller' => 'orders', 'action' => 'edit', $events['orders']['id'])); ?> 
		<?php
		// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
		$counter++;
		?>


								</td>
							</tr>

							<?php
						}
					} else {
						?>
						<tr>
							<td colspan="6">No records found</td>
						</tr>
				<?php
			}
			?>
			</table>
<?php
//					s
?>







			</tbody>
			</table></div>
		<!-- Accordion 3 -->
<!--		<h2><span class="arrow"></span>Deliveries Today </h2>-->
		<div class="pane"> <table class="datagrid wf">
			 <thead>
					<tr>
						<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Order Id<?php //echo $this->Paginator->sort('name');    ?></th>
						
						<th class="sorting">Customer Name<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Status<?php //echo $this->Paginator->sort('name');    ?></th>
						
						<th >Action<?php // echo __('Action');    ?></th>

					</tr>
                </thead>
				<tbody>

					<?php
					$counter = 1;
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
					if (!empty($delivery)) {
						foreach ($delivery as $events) {


							
							?>


							<tr class="odd_gradeX">
								<td class="center"><?php echo $counter; ?>&nbsp;</td>
								<td class="center"><?php echo $events['orders']['id']; ?>&nbsp;</td>
								<td class="center"><?php echo $events['info']['name']; ?></td>
								<td class="center"><?php echo $events['orders']['order_status']; ?></td>

								<td class="actions" align="center">
		<?php echo $this->Html->link(__('Details'), array('controller' => 'orders', 'action' => 'view', $events['orders']['id'])); ?> |
		<?php echo $this->Html->link(__('Edit'), array('controller' => 'orders', 'action' => 'edit', $events['orders']['id'])); ?> 
		<?php
		// echo $this->Html->link('Delete', array('controller' => 'events','action' => 'delete', $events['Event']['id']), null, 'Are you sure ' ) ;
		$counter++;
		?>


								</td>
							</tr>

							<?php
						}
					} else {
						?>
						<tr>
							<td colspan="6">No records found</td>
						</tr>
				<?php
			}
			?>
			</table>
<?php
//					s
?>







			</tbody>
			</table>			</div>
	</div>

</section>