<table>
	<tbody>
		<tr>
			<td>Name: </td>
			<td><?php echo $message['name'] ?></td>
		</tr>
		<tr>
			<td>Email: </td>
			<td><?php echo $message['email'] ?></td>
		</tr>
		<tr>
			<td>Phone: </td>
			<td><?php echo $message['phone'] ?></td>
		</tr>
		<tr>
			<td>Message: </td>
			<td><?php echo $message['message'] ?></td>
		</tr>
	</tbody>
</table>
<?php ?>