/* Minified: component.password_rules.css, section.api_client_subscriptions.less.css, section.roles_admin.css */
.password_rules{zoom:1;overflow:hidden;border:1px solid #eede9c;border-radius:10px;padding:4px 20px 10px 20px;margin-top:20px;margin-bottom:10px;background:#fffcd9}
#api_subscriptions table.list_items tr.list_item td.access{color:green}#api_subscriptions table.list_items tr.list_item.is_disabled td.access,#api_subscriptions table.list_items tr.list_item.is_read_only td.access{color:red}#api_subscriptions table.list_items td.is_enabled,#api_subscriptions table.list_items td.is_enabled{width:16px}#api_client_subscription_details div.body{text-align:center;padding:40px 20px;font-size:200%;color:#ccc}#api_client_subscription_details div.body span.token{color:#333;text-decoration:underline}
#roles_admin table th.is_default,#roles_admin table td.is_default{width:30px;height:30px;text-align:center}#add_role div.content_stack_element.role_permissions div.content_stack_element_body,#edit_role div.content_stack_element.role_permissions div.content_stack_element_body{min-height:125px}
