<form id="form" action="<?php echo $this->webroot ?>users/get_all_posts"  enctype="multipart/form-data" method="post">
	sigin_data <input type="text" name="get_data" />
	<input type="submit" value="Submit" />
</form>



<!--

<form id="form" action="users/like_post"  enctype="multipart/form-data" method="post">
	sigin_data <input type="text" name="insert_like" />
	<input type="submit" value="Submit" />
</form>
*/ -->
