table.style_1 {
	width:100%;
	margin:0px;
	border:1px solid #bebfb9;
}

table.style_1 th{
	background:#242424;
	color:#fff;
	font-family: Arial,​Helvetica,​sans-serif;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	padding:10px;
	padding-left:15px;
	border:1px solid #fff;
}
table.style_1 tr:nth-child(odd) td{
	background:#dadbe0;
}
table.style_1 td{
	padding:5px;
	padding-left:30px;
}
table.style_1 h3{
	font-size:16px;
	font-family: Arial,​Helvetica,​sans-serif;
	margin:0px;
	margin-left:-15px;
}