/* Minified: section.currencies.css, section.days_off.css, section.languages.css */
#currencies table.list_items th.is_default,#currencies table.list_items td.is_default{width:16px}
#no_days_off_message{margin-top:0}#empty_slate_workweek{margin-top:16px}
.add_new_trans_file{margin:10px}#translation_table .odd{background-color:#fafafa}#translation_table .details{font-size:11px}#update_translation .dictionary{width:48%}#update_translation .translated_phrase{width:48%}.select_locale_slc{max-width:260px}#update_translation table tr td.copy_arrow{width:16px;text-align:center}#update_translation table tr td.actions{width:16px;text-align:center}#update_translation table tr td input{width:99%}#update_translation .language_textarea{width:99%;height:30px;padding-left:4px;padding-right:4px}
