span.response_comments_count
{
    background: none repeat scroll 0 0 #E8E8DC;
    border-left: 1px solid #C8C9BF;
    border-radius: 8px 8px 8px 8px;
    border-right: 1px solid #C8C9BF;
    color: #93948D;
    float: right;
    font-weight: normal;
    margin-left: 5px;
    padding: 0 5px;
}
#converter_form select{
    width: 200px;
}
#converter_form .projects_list{
    float: left;
    width: 250px;
}
.actions_right{
    float: right;
    margin-right: 65px;
}
#converter_form label:hover{
    cursor: pointer;
    text-decoration: underline;
}
.redirect_to_selected {
    background-color: #DEDEB6;
}
.redirect_to_subitems label, .redirect_to_main_item label {
    color: #950000;
    display: block;
    padding: 1px 10px 5px 5px;
    position: relative;
}
.redirect_to_main_item span {
    margin-left: 5px;
    position: relative;
    top: -2px;
}
.redirect_to_main_item *:hover {
    background-color: #DEDEB6;
}
#converter_form p.empty_page{
    width: auto;
}
#responses .responses_img{
    width: 10%;
    padding-left: 10px;
}
#responses .responses_label{
    color: #ACACAC;
    font-size: 15px;
    line-height: 29px;
    font-weight: bold;
}
#responses .responses_count{
    font-size: 20px;
    line-height: 28px;
    float: right;
    padding-right: 50px;
}
#responses .responses_stats td{
    padding-top: 10px;
    padding-bottom: 10px;
}
#responses tr.resp_col{
    background-color: #FCFCFC;
    border-color: #FCFCFC;
}