<!--============================Modal============================-->
<section id="appointment_selection" class="grid_6 event" style="display: none;">
	<div class="box"> 
		<div class="header clearfix">
			<h2>Appointment</h2> 
		</div>
		<div class="body">
			<div id="app_slot_selection" >

			</div>			
			<hr>
			<button class="close button green" onclick="Appointment.render_slot_event()">Done</button>
		</div>


	</div> 
</section>