<ul class="box-template">
    
    <?php
    foreach($attributes as $attribute) {
    ?>
    <li style="padding:0 10px;">
    <input type="checkbox" name="attribute_id[]" value="<?php echo $attribute['TemplateAttribute']['id'];?>"  />
    <?php echo $attribute['TemplateAttribute']['title']; ?></li>
    <?php	
    }
    ?>
</ul>
<?php
echo $this->element('template_js');
?>