<script>
var attributes_array = [];
<?php

$i=0;		
foreach($attributes as $attribute) {
	//if($i==0) {
		?>
		attributes_array[<?php echo $attribute["TemplateAttribute"]["id"];?>] = new Array();
		<?php
	//}
?>
var attributes_array2 = [];
attributes_array[<?php echo $attribute["TemplateAttribute"]["id"];?>]["title"] = "<?php echo $attribute['TemplateAttribute']['title'];?>";
attributes_array[<?php echo $attribute["TemplateAttribute"]["id"];?>]["attr_type"] = "<?php echo $attribute['TemplateAttribute']['attr_type'];?>";
<?php
	$i++;
}

?>

function addAttr(){
	
	$('#ajax_attributes').find('input[type=checkbox]').each(function(){
		//console.log($(this).attr('checked'));
		if($(this).attr('checked')){
			var id = $(this).val();
			/*if(id==""){
				return false;	
			}*/
			
			if($('#attributes_list tbody').find('#emptyNode')){
				$('#emptyNode').remove();
			}
			var order = $('#attributes_list tbody tr').length;
			var html='<tr>';
			html+='<td align="center">'+attributes_array[id]['title']+'</td>';
			html+='<td align="center">'+attributes_array[id]['attr_type']+'</td>';
			html+='<td align="center">'+(order+1)+'</td>';
			html+='<td align="center"><a href="#_" onclick="removeRowsa(this)">Remove</a></td>';
			html+='<input type="hidden" name="data[TemplateAttributesItem]['+(order)+'][template_attribute_id]" value="'+id+'" />';
			html+='<input type="hidden" class="orderClass" name="data[TemplateAttributesItem]['+(order)+'][order]" value="'+(order+1)+'" />';
			html+='</tr>';	

			$('#attributes_list tbody').append(html);
			
			$(this).removeAttr('checked')
		}
	})
		
	
	changeOrder()
}
//var attributes_array = [];

	

</script>
