<div class="flyout_dialog_basic_wrapper">
  <table class="project_outline_shortcuts">
    <tr> 
      <td class="keys"><image src="{image_url name="layout/project-outline/up-and-down.png" module="system"}" /></td>
      <td class="shortcut">{lang}Up / Down{/lang}</td>
      <td class="description">{lang}Select previous/next item{/lang}</td>
    </tr>
    <tr> 
      <td class="keys"><image src="{image_url name="layout/project-outline/right-and-left.png" module="system"}" /></td>
      <td class="shortcut">{lang}Right / Left{/lang}</td>
      <td class="description">{lang}Expand/collapse current item{/lang}</td>
    </tr>
    <tr> 
      <td class="keys"><image src="{image_url name="layout/project-outline/tab.png" module="system"}" /></td>
      <td class="shortcut">{lang}Tab{/lang}</td>
      <td class="description">{lang}Add subitem{/lang}</td>
    </tr>
    <tr> 
      <td class="keys"><image src="{image_url name="layout/project-outline/shift-and-enter.png" module="system"}" /></td>
      <td class="shortcut">{lang}Shift + Enter{/lang}</td>
      <td class="description">{lang}Add another item like current one{/lang}</td>
    </tr>
    <tr> 
      <td class="keys"><image src="{image_url name="layout/project-outline/enter.png" module="system"}" /></td>
      <td class="shortcut">{lang}Enter{/lang}</td>
      <td class="description">{lang}Edit current item{/lang}</td>
    </tr>
    <tr> 
      <td class="keys"><image src="{image_url name="layout/project-outline/delete.png" module="system"}" /></td>
      <td class="shortcut">{lang}Delete{/lang}</td>
      <td class="description">{lang}Move to trash{/lang}</td>
    </tr>
    <tr> 
      <td class="keys"><image src="{image_url name="layout/project-outline/space.png" module="system"}" /></td>
      <td class="shortcut">{lang}Space{/lang}</td>
      <td class="description">{lang}Complete current item{/lang}</td>
    </tr>
  </table>
</div>