/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/custom.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */

.logo-custom { background-image: url(../../../../../images/logo/orange.png); }

a
{
  color: #f56c13;
}

a:hover
{
  color: #f38a47;
}

a.color-hover img:hover{border:1px solid #f56c13;}

#toolbar{
border-bottom: 1px solid #f56c13;
}

.searchbox .results li.result h3{
color:#f56c13;
}

.colorcaps .wk-slideshow .caption
 {
	border-left: 3px solid rgba(245,108,19,0.7);
	border-top: 3px solid rgba(245,108,19,0.7);
}

.wk-slideshow-default .nav span:active 
{ background: rgba(245,108,19,0.7); }

.wk-slideshow-default .nav .active span 
{ background: rgba(245,108,19,0.7); }

.recent-projects .wk-slideshow-default > div .next:hover,
.clients-feed .wk-slideshow-default > div .next:hover,
.clients-logo .wk-slideshow-default > div .next:hover,
.recent-projects .wk-slideshow-default > div .prev:hover,
.clients-feed .wk-slideshow-default > div .prev:hover,
.clients-logo .wk-slideshow-default > div .prev:hover
{
	background-color: rgba(245,108,19,0.7);
}

.mod-box-color,
.mod-line-color{
background: #f56c13;
background: -moz-radial-gradient(50% 0%, #f56c13 0%, #eb7223 50%, #de5c07 100%); /* Firefox */
background: -webkit-radial-gradient(50% 0%, #f56c13 0%, #eb7223 50%, #de5c07 100%); /* Safari, Chrome */
}

/* Highlight Buttons (Needed for System Markup) */
a.button-highlight,
a.button-highlight:before,
a.button-highlight:after
{ background-image: url(../../../styles/orange/images/orange-highlight-button.png); }


h3.color-style{color:#f56c13;}
h3.module-title span.color{color:#f56c13;}

.links a:hover,
a.button-more:hover{
color:#f56c13;
border:1px solid #f56c13;
}

.color-style{color:#f56c13;}
.module-title span.color{color:#f56c13;}
span.color{color:#f56c13;}

/*color button  */

a.button-color
{
	background-image: url(../images/color-orange.png);
	border: 1px solid #bc5817;
	border-top: 1px solid #f37a2a;
}



button:hover, input[type="button"]:hover, input[type="submit"]:hover, input.kbutton:hover{color: #f56c13; border:1px solid #f56c13;}

/* Kunena */
#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a,
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span,
#Kunena #ktab li.active a span {
 color:#f56c13;
}

.news-letter input.button {
	background: #f56c13;
	border: 1px solid #bc5817;
	border-left: none;	
}

