<script> setTimeout('window.location.href=window.location.href;', 30000);
	</script>
<h1 class="border_bottom_1"><?php // echo __($page_heading)    ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Listings </h2> 

			<?PHP echo $this->Html->link('New Reservation', '/reservations/add', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading)   ?></button>

		</div>
		<!-- End Header -->


<div class="body">


<table class="display dataTable" >
	<thead>
					<tr>
						<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');     ?></th>
						<th class="sorting">Date<?php //echo $this->Paginator->sort('name');     ?></th>
						<th class="sorting">Time From<?php //echo $this->Paginator->sort('name');     ?></th>
						<th class="sorting">Time To<?php //echo $this->Paginator->sort('name');     ?></th>
					
						<th class="sorting">Phone No.<?php //echo $this->Paginator->sort('name');     ?></th>
						<th class="sorting">Status<?php //echo $this->Paginator->sort('name');     ?></th>
						<th >Action<?php // echo __('Action');     ?></th>
					</tr>
				</thead>

				<tbody>
					<?php
//					pr($reservation);
					$counter = 1;
					if(!empty($reservation))
{
foreach($reservation as $result)
{
//					for ($i = 1; $i <= 10; $i++) {


					 	$datetime_from = $result['Reservation']['time_from'];
						$datetime = new DateTime($datetime_from);
						$date = $datetime->format('m-d-Y');
						$time_from = $datetime->format('H:i:s');

						$datetime_to = $result['Reservation']['time_to'];
						$datetime = new DateTime($datetime_to);
						// $date = $datetime->format('m-d-Y');
						$time_to = $datetime->format('H:i:s');





?>
				<tr class="odd_gradeX">

							<td class="center"><?php echo $counter; ?>&nbsp;</td>
							<td class="center"><?php echo $date; ?></td>
							<td class="center"><?php echo $time_from; ?></td>
							<td class="center"><?php echo $time_to; ?></td>
							
							<td class="center"><?php echo ($result['Reservation']['phone_no']); ?></td>
							<td class="center"><?php  echo $this->Html->link($result['Reservation']['status'], array('action' => 'edit',$result['Reservation']['id']));	?>
							

							<td class="actions" align="center">
								<?php echo $this->Html->link(__('Details'), array('controller' => 'reservations', 'action' => 'view', $result['Reservation']['id'])); ?> |
								<?php echo $this->Html->link(__('Edit'), array('action' => 'edit',$result['Reservation']['id']));  ?> |
	
									


									<?php echo $this->Html->link('Delete', array('controller' => 'reservations','action' => 'delete', $result['Reservation']['id']), null, 'Are you sure ' ) ?>

							</td>
						</tr>
						<?php
						$counter++;
//					}
					?>
<?php 

}


}
?>

			</tbody>
			</table>
		</div>
		<!-- End box body -->
	</div>
	
	
	<!-- End box -->
</section>
	<!-- End box -->
