<?php

//pr ($reservation);
//pr ($floor);
//$pagination_params = $this->Paginator->params(); 
?>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php // echo __($page_heading)   ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Reservation Detail</h2> 

			<?PHP echo $this->Html->link('New Reservation', '/reservations/add', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading)  ?></button>

		</div>
		<!-- End Header -->
		<div class="body">
			<?php
			 echo $this->Form->create('Division', array('id' => 'validate')); 
//			echo $this->Form->create("Insert", array('action' => 'index', 'id' => 'validate'));
//			echo $this->Form->input("q", array('label' => 'Search for', 'required' => 'required', 'div' => false, 'class' => 'med float-left-margin'));
//			echo $this->Form->button('Search', array('type' => 'submit', 'escape' => true, 'class' => 'button green small float-left-margin'));
//			echo $this->Form->end();
			$datetime_from = $reservation['Reservation']['time_from'];
						$datetime = new DateTime($datetime_from);
						$date = $datetime->format('m-d-Y');
						$time_from = $datetime->format('H:i:s');

						$datetime_to = $reservation['Reservation']['time_to'];
						$datetime = new DateTime($datetime_to);
						// $date = $datetime->format('m-d-Y');
						$time_to = $datetime->format('H:i:s');
			
			
			
			?> 
           
			
			<table  style="float:left; width:270px; align:'left'">

				<fieldset>
					<legend>Reservation<?php // echo __($page_heading)       ?></legend>
					<th>  Details</th>
					
					<tr><td><label>No. Of Guest</label></td>
						<td><?php echo ($reservation['Reservation']['no_of_guest']);  ?></td></tr>
					<tr><td><label>No. Of Children</label></td>
						<td><?php echo ($reservation['Reservation']['no_of_children']);  ?></td></tr>
					<tr><td><label>No.Of OldAge</label></td>
						<td><?php echo ($reservation['Reservation']['confirm_via_email']);  ?></td></tr>
					<tr><td><label>Email confirmation</label></td>
						<td><?php echo ($reservation['Reservation']['no_of_guest']);  ?></td></tr>
					<tr><td><label>Email Address</label></td>
						<td><?php echo ($reservation['Reservation']['email_address']);  ?></td></tr>
					<tr><td><label>Phone No.</label></td>
						<td><?php echo ($reservation['Reservation']['phone_no']);  ?></td></tr>
					<tr><td><label>Date</label></td>
						<td><?php echo $date;  ?></td></tr>
					<tr><td><label>Time From</label></td>
						<td><?php echo $time_from;  ?></td></tr>
					<tr><td><label>Time To</label></td>
						<td><?php echo $time_to;  ?></td></tr>
			</table>
				<table  style="float:left; width:270px">
				<th> Table </th>
				
				<?php 
					foreach ($floor as $order) { ?>
				<tr><td><label>Floor</label></td>
					<?php  $floor_id= $order['tbles']['floor_id'];
						if ( $floor_id == 1)
						{$floor = 'Ground';}
					elseif  ( $floor_id == 2){ $floor = ' Mezzanine';}
					?>			
					<td><?php echo  $floor;  ?></td></tr>
				<tr><td><label>Table No.</label></td>
					<td><?php echo ($order['tbles']['table_id']);  ?></td></tr>
							
	<?php
						
					}
					?>
			</table>
			</fieldset>
				<br clear="all"></br>
			<?php //echo $this->element('pagination',array('pagination_params' => $pagination_params));  ?>
            <!--End Pagination-->
		</div>
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>



