<?php
//pr ($result);die();
//$pagination_params = $this->Paginator->params(); 
?>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php // echo __($page_heading)   ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Items Listings </h2> 

			<?PHP echo $this->Html->link('New Item', '/items/add', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading)  ?></button>

		</div>
		<!-- End Header -->
		<div class="body">

			<table class="display dataTable_exportable">
				<thead>
					<tr>
						<th class="sorting">Item Name<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Arabic Name<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Price<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Image<?php //echo $this->Paginator->sort('name');    ?></th>
						<th class="sorting">Display Order<?php //echo $this->Paginator->sort('name');    ?></th>

						<th >Action<?php // echo __('Action');    ?></th>
					</tr>
				</thead>
				<tbody>
					<?php //foreach ($result as $results): ?>
					<tr class="odd_gradeX">
						<td class="center">fish<?php //echo ($results['Array']);   ?>&nbsp;</td>
						<td class="center">fish<?php //echo ($results['Array']);   ?>&nbsp;</td>
						<td class="center">800<?php //echo ($results['Array']);   ?>&nbsp;</td>
						<td class="center"><img src="<?php echo $this->webroot; ?>gallery/1.png" alt="Half Width Box" width="60" height="
												60" /><?php //echo ($results['Array']);   ?>&nbsp;</td>
						<td class="center">16</td>

						<td class="actions" align="center">
							<?php echo $this->Html->link(__('Details'), array('action' => 'view',)); // $result['Array']['Event']));   ?> |
							<?php echo $this->Html->link(__('Edit'), array('action' => 'edit',)) //$result['Array']['Event'])); ?> |
							<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete',)) //$result['Array']['Event']), null, __('Are you sure you want to delete # %s?', $result['Array']['Event'])); ?>
						</td>
					</tr>
					<tr class="even_gradeC">
						<td class="center">prawns<?php //echo ($results['Array']);   ?>&nbsp;</td>
						<td class="center">prawns<?php //echo ($results['Array']);   ?>&nbsp;</td>
						<td class="center">850<?php //echo ($results['Array']);   ?>&nbsp;</td>
						<td class="center"><img src="<?php echo $this->webroot; ?>gallery/1.png" alt="Half Width Box" width="60" height="
												60" /></td>
						<td class="center">17</td>

						<td class="actions" align="center">
							<?php echo $this->Html->link(__('Details'), array('action' => 'view',)); // $result['Array']['Event']));   ?> |
							<?php echo $this->Html->link(__('Edit'), array('action' => 'edit',)) //$result['Array']['Event'])); ?> |
							<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete',)) //$result['Array']['Event']), null, __('Are you sure you want to delete # %s?', $result['Array']['Event'])); ?>
						</td>
					</tr>
					<tr class="odd_gradeA">
						<td class="center">burger<?php //echo ($results['Array']);   ?>&nbsp;</td>
						<td class="center">burger<?php //echo ($results['Array']);   ?>&nbsp;</td>
						<td class="center">650<?php //echo ($results['Array']);   ?>&nbsp;</td>
						<td class="center"><img src="<?php echo $this->webroot; ?>gallery/1.png" alt="Half Width Box" width="60" height="
												60" /></td>
						<td class="center">13</td>


						<td class="actions" align="center">
							<?php echo $this->Html->link(__('Details'), array('action' => 'view',)); // $result['Array']['Event']));   ?> |
							<?php echo $this->Html->link(__('Edit'), array('action' => 'edit',)) //$result['Array']['Event'])); ?> |
							<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete',)) //$result['Array']['Event']), null, __('Are you sure you want to delete # %s?', $result['Array']['Event'])); ?>
						</td>
					</tr>

					<?php // endforeach;  ?>
				</tbody>
			</table>
		</div>
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>