<?php
 echo $this->Html->script('admin/tree'); 
//$pagination_params = $this->Paginator->params(); 
// pr($result);exit();
?>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php // echo __($page_heading)  ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Menu Details </h2> 

<?PHP echo $this->Html->link('New Item', '/items/add_item', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading) ?></button>

		</div>
		<!-- End Header -->
		<div class="body">
			<!--<div id="tree"> </div>-->
			<div id="tree" data-dyna="' . htmlspecialchars($dynaConfigJSON) . '">
				
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>

