#tabs{
	width:100%;
	&:before, &:after { content: " "; display: table; }
	&:after { clear: both; }
	*zoom: 1;
}
.ui-tabs.ui-tabs-vertical {
  padding: 0;
  width: 42em;
  .ui-widget-header {
    border: none;
  }
  .ui-tabs-nav {
    float: right;
    width: 350px;
    border-radius: 4px 0 0 4px;
	padding-right:10px;
	margin-bottom:0px;
	margin-top:10px;
    
    li {
      clear: left;
      width: 100%;
      margin: 0;
      
      overflow: hidden;
      position: relative;
	  
	  border-bottom:1px solid #dddddd;
	  &:last-child{ border-bottom:none; }
	  
	  text-align:left;
      
      z-index: 2;
	  
	  &:before{
		z-index:1;
		content:'';
		background:url('../images/selected_item.png') no-repeat 10px center;
		@include opacity(0);
		width:100%;
		height:100%;
		position:absolute;
		top:0px;
		right:0px;
		z-index:1;
		pointer-events: none;
		
		@include transition(all 0.35s ease-in);
	  }
	  
	  &.ui-state-active{
	  
		&:before{
			@include opacity(1);
			@include transition(all 0.35s ease-out);
		}
	  }
	  
      a {
        display: block;
        width: auto;
        padding:17px;
		height:73px;
		z-index:2;
		position:relative;
        &:hover {
          cursor: pointer;
        }
      }
	  p{
		font-family: "Helvetica LT Std"; font-size: 12px; color: #434343;
	  }
      &.ui-tabs-active {
        padding-bottom: 0;
      }
      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
  .ui-tabs-panel {
    float: left;
    width: 496px;
	height: 314px;
	padding:15px;
  }
}