.single_iframe {
	width:100%; 
	z-index:999;
	height:99%;
}

.iframe_div {
	height: 100%;
	width:100%;
}
#quick_links_wrapper .link_label {
	width: 125px !important;
}
#quick_links_wrapper .url_name {
	width: 250px !important;
}
#quick_links_wrapper .td_link_icon {
	vertical-align: top;
}

#quick_links_wrapper .td_link_label {
	vertical-align: top;
}
#quick_links_wrapper .td_url_name {
	vertical-align: top;
}
#quick_links_wrapper .td_new_window{
	vertical-align: top;
}

.dd .ddChild {
	width: 125px !important;
}

.dd {
	width: 125px !important;
}
.ddChild {
	position:absolute;
	z-index: 999 !important;
	
}
#quick_links_wrapper .control_holder {
	position: static !important;
}
