/* Minified: main.css, widgets.InlineTabs.css, widgets.objectType.css */
div.ui-grid-b .ui-block-a,div.ui-grid-b .ui-block-b,div.ui-grid-b .ui-block-c{text-align:center;padding:30px 0}div.ui-grid-b a.ui-block-a span,div.ui-grid-b a.ui-block-b span,div.ui-grid-b a.ui-block-c span{display:block}
.inline_tabs{margin-bottom:20px}.inline_tabs .inline_tabs_links{text-align:center}.inline_tabs .inline_tabs_links ul{list-style:none;padding:15px 0 30px}.inline_tabs .inline_tabs_links li{display:inline;padding:7px 0}.inline_tabs .inline_tabs_links li a{font-weight:normal;letter-spacing:.5px;color:#000;font-size:18px;line-height:18px;margin:0 1px;padding:5px 15px;border-radius:15px}.inline_tabs .inline_tabs_links li a.selected{background:#cfd1c7}.inline_tabs .inline_tabs_links li a:hover{text-decoration:none}
span.object_type{margin-right:5px;padding:1px 3px;font-size:21px;text-transform:uppercase;color:#66c0de;border-left:1px solid #66c0de;border-right:1px solid #66c0de;border-radius:7px}span.object_type.milestone{color:#b05ecb;border-color:#b05ecb}span.object_type.task{color:#b6d138;border-color:#b6d138}span.object_type.todolist{color:#d1a438;border-color:#d1a438}span.object_type.subtask{color:#aaa!important;border-color:#aaa!important}
