/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

/*
 * Custom Style Sheet - Use this file to style your content
 */
#Kunena {
	border: 0px solid red;
	line-height: 1.333em;
}

#Kunena #ktopmenu {margin:.33em 0;}
#Kunena .path-element-first{ background-position: left top;}

#Kunena #ktab {	
	/* background-image: url('../images/forum-header4.png');
	background-repeat: repeat-x; */	
	background-color: #fff;	
	background-position: bottom right;
    /* border: 1px solid #DEDEDE;
       border-radius: 2px 2px 0 0; */
    box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;
    height: 39px;
    top: 0;
}
#Kunena #ktab ul {
	margin:0px;
	padding:0px;	
	list-style:none;
	display:inline-block;
}
#Kunena #ktab ul ul {
	padding:0;
	list-style:none;
	float:left;
}
#Kunena #ktab li,#Kunena #ktab div.moduletable ul.menu li {
	display:inline;
	float:left;
	margin: 0px 2px 0 0;
	padding:0;
	border:0;
}
#ktab div.moduletable {
	background:0;
	margin-bottom:0;
}
#ktab div.moduletable ul.menu,#ktab div.moduletable ul.menu li a,#ktab div.moduletable ul.menu li a span {
	font-size:1em;
	line-height:2em;
}
#Kunena #ktab a {
	background-color: transparent;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0px 0px;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	border-bottom-width: medium;
	border-bottom-style: none;
	height: 39px;
	color: #7c7c7c;
	display: block;
	font-size: 95%;
	margin: 0px;
	padding-top: 0px;
	padding-right: 18px;
	padding-bottom: -3px;
	padding-left: 20px;
	border-right:1px solid #ddd;
}
#Kunena #ktab a span {
	display:block;
	font-size:1em;
	line-height:39px;
}
#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a {
	background-color: transparent;
	/* color:#12a2bc; */
}
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span{
	background-position:left bottom;
	font-style:normal;
	text-decoration:none;
	/* color:#12a2bc; */
}
/* #Kunena #ktab li.active a span{color:#12a2bc;} */

#Kunena select#searchlist {
	margin-bottom:10px;
	float:left;
}
#Kunena select,#Kunena select:focus,#Kunena select:hover {
	border: 1px solid #e0e0e0;
}
#Kunena .kforum-pathway {	
	/* background-image: url('../images/forum-header3.png');	
	background-repeat: repeat-x; */	
	background-color: #fff;	
	background-position: top right;  
	box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;
    height: 18px;
    padding: 10px 12px;
}
#Kunena .klist-markallcatsread {
	min-height: 50px;
	padding-top: 2px;
	border: 0; 
	background: transparent;
}
#Kunena div.kblock {background-color: #fafafa}
#Kunena .kblock div.kheader {	
	/* background-image: url('../images/forum-header.png');	
	background-repeat: repeat-x;	
	background-color: #e6e6e6;	
	background-position: bottom right; */	
	background-color: #fff;
	color:#666666;
	/* border-bottom: 2px solid #5388b4; */
	border-bottom: 1px solid #DEDEDE;
	padding: 12px;
	box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 #FFFFFF inset;
}
#Kunena .kheader h2, #Kunena .kheader h2 a {
    color: #666666;
    font-size: 26px;
    font-weight: normal;
}
#Kunena .kheader h2 a:hover {
    color: #4488bb;
    text-decoration: none;
}
#Kunena .ktitle, #Kunena a.ktitle {
  font-weight: normal;
}
#kunena #kannouncement .kbody .kanndesc {background: red}
#Kunena div.kblock div.kbody {
	overflow-x: hidden;
	overflow-y: hidden;
	word-wrap: break-word;
	line-height: 20px;
}
#Kunena div.kblock {
    border: 1px solid #DEDEDE;
	margin-bottom:10px;
}

#Kunena div.kpbox{
	border: none;
}
#kcat3{
	border: none;
}
#Kunena a.close, #Kunena a.open {margin: 10px 10px 0 0;}
#Kunena #ktop span.ktoggler a.close{border: 0px solid red; margin-top: -20px;}
#Kunena #ktop span.ktoggler a.open{border: 0px solid red; margin-top: -20px;}

input.kcheckall {border: 1px solid red;margin-right: 5px;}

#Kunena td.kcol-first, #Kunena td.kcol-mid, #Kunena td.kcol-last {
	padding: 8px;
}
#Kunena .kbody tr{background:#fafafa;}
#Kunena .kbody td.kcol-mid {border-left: 1px solid #dddddd;}
#Kunena tr.krow2 td {
	background:none;
	border: none;
	padding: 10px;
}
#Kunena tr.krow1 td {
    background: none;
    border: none;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding: 10px;
}

#Kunena .kblocktable td.kcol-kcattitle {padding: 15px 10px;}
#Kunena span.ktopicattach {margin: 0; padding: 0;}
/* #Kunena button, #Kunena input[type="button"],#Kunena input[type="submit"], #Kunena .button, #Kunena .kbutton,
#kunena button:hover, #kunena input[type="button"]:hover, #kunena input[type="submit"]:hover, #Kunena .button:hover, #Kunena .kbutton:hover,
#kunena button:focus, #kunena input[type="button"]:focus, #kunena input[type="submit"]:focus, #Kunena .button:focus, #Kunena .kbutton:focus {
	position: relative;
	height: 25px;
	padding: 0 10px;
	background-image: url(../images/button-more1.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-color: #fff;
	color: #777777;
	text-transform: none;
	border: 1px solid #d9d9d9;
	border-bottom: 1px solid #bfbfbf;
	font-size:13px;
	letter-spacing:0px;
	font-weight:normal;
	text-decoration:none;
	border-radius: 1px 1px 1px 1px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	-o-transition:color .2s ease-out, border 0.3s ease-in;
    -ms-transition:color .2s ease-out, border 0.3s ease-in;
    -moz-transition:color .2s ease-out, border 0.3s ease-in;
    -webkit-transition:color .2s ease-out, border 0.3s ease-in;
    transition:color .2s ease-out, border 0.3s ease-in;
}
#kunena button:hover, #kunena input[type="button"]:hover, #kunena input[type="submit"]:hover, #Kunena .button:hover, #Kunena .kbutton:hover {
	color: #12a2bc;
	border:1px solid #12a2bc;
} */

#Kunena .kwhoonline {
    border-bottom: 1px dotted #DDDDDD;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.kgooglemap{
	width:100%;
	display:block;
	height:480px;
	overflow:hidden;position:relative;
}
.kgooglemap img{max-width:none!important}	
.klist-actions tr,td {
	border: 1px solid #fff;
}

#Kunena .kpagination span{
	border:none;
	font-weight:bold;
	padding:1px 5px;
	margin:2px;
}

#Kunena .kpagination span{
	border-color:#fff;
	background-color:#fff;
	color:#ddd;
}

#Kunena #kpostmessage tr.krow1 td, #Kunena #kpostmessage tr.krow1 td, #Kunena #kforumsearch tr.krow1 td {
    background: #fff;
}

#Kunena fieldset {
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 15px;
}
#Kunena fieldset legend {
    color: #333333;
    font-size: 110%;
    font-weight: bold;
    margin: 0;
    padding: 3px 5px 5px;
}
.kcenter{
	border-top:1px dotted #ddd;
}

#Kunena .klist-actions td{
	vertical-align:middle;
	padding:0 10px;
	white-space:nowrap;
	border:none;
	background:#ffffff;
}

#Kunena .klist-pages-all{
	border:1px solid #fff;
	font-size:1.333em;
	font-weight:bold;
	height:28px;
	line-height:28px;
	padding-left:5px;
	padding-right:3px;
	vertical-align:middle;
	text-align:right;
}

#Kunena .klist-actions-goto{
	height:28px;
	padding:0 2px 0 2px;
	width:1%;
	vertical-align:middle;
	border: 1px solid #fff;
}
#Kunena tr.userlist th{
	padding:3px;
	text-align:center;
	border: 1px solid #ddd;
	background: #f3f3f3;
}
#Kunena tr.userlist th a{
	color:#000;
}
#Kunena div#kforum-head{
	padding:5px 10px;
	vertical-align:middle;
	border-left:1px solid;
	border-right:1px solid;
	border-bottom:1px solid;
	background:#fbf8f8;
	border: none;
}

/* End in Forum */

/*Start Forum Login From */



/*#sidebar-b .grid-box{
border: 1px solid red;
}*/


.module-title{
/* border-bottom: 1px dotted #ddd; */
padding-bottom:10px;

}

/* CSS by R-New topic, my profile */
#Kunena table#kpostmessage .ktxtarea{
background:#ffffff;
border: 1px solid #cccccc;
}

#Kunena #kpost-message #subject{
border: 1px solid #cccccc;
}

#Kunena dl.tabs{
padding-left:10px;
}

#Kunena dl.tabs dt{
border:1px solid #dedede;;
}


#Kunena #kprofile-tabs,
div#kprofile-edit{
border:1px solid #dedede;
}

div.kbutton-container button[type="submit"].ks 
{
margin:5px;
}
div.kbutton-container input[type="button"].kbutton{
margin-bottom:3px;
}

table#kforumsearch select#mode{
margin-top:10px;
}


table.kprofilebox{
border:1px solid #dedede;
}

div#ktopmenu{border:1px solid #dedede;}


/*End Forum Login From */


/*End Main Forum */
