@charset "utf-8";
#Kunena td,#Kunena table,#Kunena th,#Kunena div,#Kunena p,
#Kunena span{font-family:Arial,Helvetica,sans-serif}
#Kunena ul li{background:0}
#Kunena .divider{color:#999}
#Kunena a:link,#Kunena a:visited,#Kunena a:active,
#Kunena a:focus{color:#5388b4!important;background-color:transparent!important}
#Kunena a:hover{color:#f00!important;background-color:transparent!important}
#Kunena .knewchar{color:#090;font-family:Arial,Helvetica,sans-serif}
#Kunena div.kblock{border-bottom-color:#bfc3c6;background-color:#fff}
#Kunena .kblock div.kheader{}
#Kunena .kheader h2,#Kunena .kheader h2 a{color:#666666!important}
#Kunena div.kblock div.ktitle{background-color:#5388b4;color:#fff}
#Kunena div.kblock div.ktitle h1,#Kunena div.kblock div.ktitle h2{color:#fff}
#Kunena div.kblock div.kbody{border-color:#bfc3c6}
#Kunena div.kblock div.khelprulescontent,#Kunena div.kblock div.kfheadercontent{background-color:#fff;color:#000}
#Kunena div.kblock div.khelprulesjump{border-color:#bfc3c6;background-color:#fff;color:#000}
#Kunena div.kblock div.kactions{background-color:#f2f1ee;color:#FFF;border-left:1px solid #bfc3c6;border-bottom:1px solid #bfc3c6;border-right:1px solid #bfc3c6}
#Kunena div.kblock div.kactions a{color:#fff!important}#Kunena tr.krow1 td{background-color:#f2f1ee}
#Kunena tr.krow2 td{background-color:#fff}
#Kunena tr.ksth{background-color:#737373;color:#fff;font-family:Arial,Helvetica,sans-serif}
#Kunena td.kcol-ktopicreplies{color:#999}
#Kunena td.kcol-ktopicreplies strong{color:#999}
#Kunena span.kcat-topics,#Kunena span.kcat-replies{color:#999}
#Kunena span.kcat-topics-number,
#Kunena span.kcat-replies-number{color:#999}
#Kunena .klatest-avatar,#Kunena .ktopic-latest-post-avatar{border-color:#bfc3c6}
#Kunena .kfooter-time{color:#999}
#Kunena .kalert{color:#f00}
#Kunena td.kcol-first{border-bottom-color:#bfc3c6}
#Kunena td.kcol-mid{border-left-color:#bfc3c6;border-bottom-color:#bfc3c6}
#Kunena td.kcol-last{border-left-color:#bfc3c6;border-bottom-color:#bfc3c6}
#Kunena td.ktopicmodule{border-bottom-color:#bfc3c6}
#Kunena .kwho-admin,#Kunena a.kwho-admin{color:#f00!important}
#Kunena .kwho-globalmoderator,#Kunena a.kwho-globalmoderator{color:#800000!important}
#Kunena .kwho-moderator,#Kunena a.kwho-moderator{color:#00f!important}
#Kunena .kwho-user,#Kunena a.kwho-user{color:#5388b4!important}
#Kunena .kwho-guest,#Kunena a.kwho-guest{color:#666!important}
#Kunena .kwho-banned,#Kunena a.kwho-banned{color:#a39d49!important}
#Kunena .kwho-blocked,#Kunena a.kwho-blocked{color:#f00!important}
#Kunena #ktop{background-color:transparent;color:#000}
#ktab div.moduletable ul.menu,#ktab div.moduletable ul.menu li a,#ktab div.moduletable ul.menu li a span{background-image:none!important}
#Kunena #ktab a{background-color:#737373}
#Kunena #ktab a span{font-family:Arial,Helvetica,sans-serif;color:#fff}
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span{color:#fff}
#Kunena select,#Kunena select:focus,#Kunena select:hover{border-color:#999;color:#000}
#Kunena option{background-color:#fff;color:#000}
#Kunena .button,#Kunena .kbutton{background-color:#f2f1ee;border-color:#999;color:#000}
#Kunena .kbutton-back{color:#000}
#Kunena input.kinput{border-color:#999}
#Kunena .kbutton:hover,#Kunena .kbutton:focus{background-color:#609fbf;border-color:#5388b4;color:#fff}
#Kunena .klist-actions{background-color:#fff;color:#000;border-color:#bfc3c6}
#Kunena .klist-actions-bottom{background-color:#fff;color:#000;border-color:#bfc3c6}
#Kunena .klist-actions-info a{color:#093}#Kunena .klist-pages{border-left-color:#bfc3c6;color:#666;font-family:Arial,Helvetica,sans-serif}#Kunena .klist-times{border-left-color:#bfc3c6;color:#666}#Kunena .klist-actions-info-all{color:#999}#Kunena .klist-actions-forum{border-left-color:#bfc3c6}#Kunena .klist-pages-all{border-left-color:#bfc3c6;color:#666;font-family:Arial,Helvetica,sans-serif}#Kunena .klist-times-all{border-left-color:#bfc3c6;color:#666}#Kunena .klist-jump-all{border-left-color:#bfc3c6;color:#666}#Kunena .klist-top{background-color:#fff;border-color:#bfc3c6}#Kunena .klist-bottom{background-color:#fff;border-color:#bfc3c6}
#Kunena .klist-markallcatsread{border-color:#bfc3c6;background-color:#fff}
#Kunena .klist-categories{border-left-color:#bfc3c6;color:#666}
#Kunena .kpagination a{border-color:#5388b4;background-color:#fff!important}
#Kunena .kpagination .active{border-color:#5388b4;background-color:#5388b4;color:#fff}
#Kunena .kpagination a:link,#Kunena .kpagination a:visited{color:#5388b4}
#Kunena .kpagination a:hover{border-color:#5388b4;color:#fff;background-color:#609fbf}
#Kunena div.ktopic-title-cover ul.kpagination li.page{color:#999}
#Kunena div.ktopic-title-cover ul.kpagination a{border-color:#bcbcbc;background-color:#fff}
#Kunena div.ktopic-title-cover ul.kpagination a:hover{border-color:#5388b4;color:#fff;background-color:#609fbf}
#Kunena span.ktopic-views{color:#999}#Kunena span.ktopic-views-number{color:#999}
/* #Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton{background-color:transparent} */
#Kunena td.kprofileboxcnt ul.kprofilebox-welcome li input.kbutton:hover{background-color:#609fbf}
#Kunena div#kforum-head{border-left-color:#bfc3c6;border-right-color:#bfc3c6;border-bottom-color:#bfc3c6}
#Kunena div#kmoderatorslist div.kbody{border-color:#ccc;background-color:#fff}
#Kunena fieldset{background-color:#fff;border-color:#ccc}#Kunena div#ksearchresult div.kresult-title{border-bottom-color:#ddd}
#Kunena div#ksearchresult div.resultcat{border-top-color:#bfc3c6}
#Kunena .kprofilebox-left{border-right-color:#bfc3c6;background-color:#eee}
#Kunena .kprofilebox-right{border-left-color:#bfc3c6}#Kunena div.kpbox{border-bottom-color:#bfc3c6}
#Kunena table.kblocktable{border-color:#bfc3c6}#Kunena h1,#Kunena h2{color:#fff}#Kunena h2 a{color:#fff!important}
#Kunena h1 a:link,#Kunena h1 a:active,#Kunena h1 a:visited{color:#fff}
#Kunena h2 span.kheadbtn a{border-color:#FFF;background-color:#609fbf}
#Kunena h2 span.kheadbtn:hover a{border-color:#FFF}#Kunena .ktitle,#Kunena a.ktitle{color:#666666;font-weight:normal}
#Kunena .ktitle a{font-family:Arial,Helvetica,sans-serif;color:#fff}
#Kunena div.kthead-title a{font-family:Lucida Grande,Lucida,Arial,Helvetica,sans-serif}
#Kunena div.kthead-moderators{color:#666}#Kunena div.kthead-child{border-top-color:#ddd5bf}
#Kunena table.kcc-table tr td{border-color:#fff}#Kunena div.kcc-childcat-title{color:#666}
#Kunena span.kchildcount{color:#999}#Kunena img.catavatar{border-color:#bfc3c6}
#Kunena .kcontenttablespacer{border-bottom-color:#bfc3c6}#Kunena .krow1-stickymsg{background-color:#ffc}
#Kunena .krow2-stickymsg{background-color:#ffc}
#Kunena div.kmsg-header{border-bottom-color:#d9d9d9;background-color:#5388b4;color:#fff}
#Kunena div.kmsg-header h2{background-color:#737373}
#Kunena .kpost-profile span.kavatar img,#Kunena .kprofilebox .kavatar{border-color:#bfc3c6}
#Kunena span.kmsgdate{font-family:Arial,Helvetica,sans-serif;color:#fff}
#Kunena div.kmsgattach{background-color:#f8f7ef;border-color:#bfc3c6}
#Kunena div.kmsgtext pre,#Kunena div.kmsgtext code{border-left-color:#f4a94f;border-right-color:#bfc3c6;border-top-color:#bfc3c6;border-bottom-color:#bfc3c6;font-family:"Courier News",Courier,monospace}
#Kunena table.kmsg th a{color:#fff}#Kunena div.kmessage-editmarkup-cover{border-bottom-color:#bfc3c6}
#Kunena span.kmessage-editmarkup{background-color:#f2f1ee no-repeat left center;border-left-color:#bfc3c6;border-right-color:#bfc3c6;border-top-color:#bfc3c6;color:#666}
#Kunena span.kmessage-informmarkup{background-color:#f2f1ee;border-left-color:#bfc3c6;border-right-color:#bfc3c6;border-top-color:#bfc3c6;color:#666}
#Kunena div.kmsgsignature{border-top-color:#bfc3c6;color:#999}#Kunena div.kmessage-thankyou{border-top-color:#bfc3c6}
#Kunena .kreply-form{border-color:#bfc3c6}#Kunena .kreply-form .inputbox{border-color:#999;background-color:#fff;color:#000}
#Kunena div.kmsgtext-article,#Kunena div.kmsgtext-quote,#Kunena div.kmsgtext-hide,#Kunena div.kmsgtext-confidential{border-color:#bfc3c6;font-family:Arial,Helvetica,sans-serif;background-color:#f2f1ee}
#Kunena div.kmsgtext-article{background-color:#fff}#Kunena div.kmsgtext-hide{background-color:#ffc}
#Kunena div.kmsgtext-confidential{background-color:#fae0f8}#Kunena div.khide{background-color:#f2f1ee;border-color:#f2cab7}
#Kunena .kmsgtitle,#Kunena .kmsgtitle-new{color:#FFF}
#Kunena div.kmsg-header-top span.kmsg-id-top a,#Kunena div.kmsg-header-bottom span.kmsg-id-bottom a,#Kunena div.kmsg-header-left span.kmsg-id-left a,#Kunena div.kmsg-header-right span.kmsg-id-right a{color:#FFF!important}
#Kunena td.kprofile-right{background-color:#eff0f4;border-bottom-color:#bfc3c6;border-left-color:#ddd}
#Kunena td.kbuttonbar-right{border-bottom-color:#bfc3c6}
#Kunena td.kprofile-left{background-color:#eff0f4;border-bottom-color:#bfc3c6;border-right-color:#ddd}
#Kunena td.kbuttonbar-left{border-bottom-color:#bfc3c6}#Kunena .kunapproved td{background-color:#ddd!important}
#Kunena .kdeleted td{background-color:#ccc!important}#Kunena td.kprofile-top{background-color:#eff0f4;border-bottom-color:#ddd}
#Kunena td.kbuttonbar-top{border-bottom-color:#bfc3c6}
#Kunena td.kprofile-bottom{background-color:#eff0f4;border-bottom-color:#bfc3c6;border-top-color:#ddd}
#Kunena #kpost-message .postinput{background-color:#fff;color:#000;border-color:#bfc3c6}
#Kunena #kpost-message .postinput:hover,#Kunena #kpost-message .postinput:focus{background-color:#fff;color:#000;border-color:#bfc3c6}
#Kunena #kpostmessage tr.krow2 td.kcol-ktopicicons td{background-color:#fff;color:#000;border-color:#bfc3c6}
#Kunena #kpostmessage tr.krow1 .kpostbuttonset td.kposthint{background-color:#ffc;border-color:#ddd5bf}
#Kunena table#kpostmessage .kposthint .kinputbox{background-color:#ffc;border-color:#ffc}
#Kunena .kpostbuttonset{border-color:#bfc3c6}#Kunena tr.krow1 .kpostbuttons{border-color:#bfc3c6}
#Kunena table#kpostmessage .ktxtarea{border-color:#bfc3c6}#Kunena div#khistory tr.ksth a{color:#fff!important}
#Kunena #kbbcode-preview{border-color:#bfc3c6;background-color:#f2f1ee}
#Kunena #kpostmessage tr.krow1 .kpostbuttonset td,#Kunena #kpostmessage tr.krow2 .kpostbuttonset td{border-bottom-color:#bfc3c6}
#Kunena #kpost-result div{border-color:#999}
#Kunena div#kcolor-palette,#Kunena div#link,#Kunena div#image,#Kunena div#video{border-bottom-color:#bfc3c6}
#Kunena .kicon-button{color:#FFF}#Kunena .kicon-button span span{color:#fff}#Kunena form.kform-report input,#Kunena form.kform-report textarea{border-color:#bfc3c6}
#Kunena img.kbbcode:hover{background-color:#e4e4e4}#Kunena div#kbbcode-size-options span:hover{background-color:#e4e4e4}
#Kunena #kbbcode-toolbar li a:hover{background-color:#e4e4e4}#Kunena ul#kbbcode-toolbar li a#kbbcode-separator1,#Kunena ul#kbbcode-toolbar li a#kbbcode-separator2,
#Kunena ul#kbbcode-toolbar li a#kbbcode-separator3,#Kunena ul#kbbcode-toolbar li a#kbbcode-separator4,#Kunena ul#kbbcode-toolbar li a#kbbcode-separator5,#Kunena ul#kbbcode-toolbar li a#kbbcode-separator6,
#Kunena ul#kbbcode-toolbar li a#kbbcode-separator7,#Kunena ul#kbbcode-toolbar li a#kbbcode-separator8{background-color:#eee}
#Kunena .kattachment .kbutton{color:#000}#Kunena .kfile-input-button,#Kunena .kfile-input-button:hover,#Kunena .kfile-input-button:focus{background-color:#f2f1ee;border-color:#999;color:#000}
#Kunena .kfile-input-button:hover,#Kunena .kfile-input-button:focus{background-color:#609fbf;border-color:#5388b4;color:#fff}
#Kunena .kattachment-remove,#Kunena .kattachment-insert{background-color:#f2f1ee;border-color:#999;color:#000}
#Kunena .kattachment-remove:hover,#Kunena .kattachment-insert:hover{color:#fff}
#Kunena #kbbcode-filelist .file-invalid{color:#514721}#Kunena #kbbcode-filelist .file-invalid span{background-color:#fff6bf}
#Kunena #kbbcode-filelist .file .file-size{color:#666}#Kunena #kbbcode-filelist .file .file-error{color:#8a1f11}#kpoll-text-help{background-color:#ff8f4f}
#kpoll-form-vote fieldset{background-color:#fff}/*#Kunena .kforum-pathway{border-left-color:#bfc3c6;border-right-color:#bfc3c6;color:#000;background-color:#f2f1ee}*/
#Kunena .kforum-pathway-bottom{border-color:#bfc3c6;color:#000;background-color:#f2f1ee}
#Kunena .kforum-headerdesc{border-color:#bfc3c6;color:#000;background-color:#FFF}
#Kunena td.kuadesc,#Kunena td.kcreditsdesc{background-color:#fff;color:#000}
#Kunena .kcredits-intro{border-color:#bfc3c6}#Kunena .kcredits-more{background-color:#f2f1ee;border-color:#bfc3c6}
#Kunena .kcredits-language{border-color:#bfc3c6}#Kunena tr.userlist th a{color:#fff}#Kunena .kwholegend{border-top-color:#ccc}
#Kunena .kwhoonline{border-bottom-color:#ccc}#Kunena div.kmoderate-message{border-color:#ccc}}
#Kunena div.kavatar-lg{background-color:#FFF;border-color:#999}
#Kunena div#kprofile-stats ul li span.konline-status-yes{color:#fff}
#Kunena div#kprofile-stats ul li span.konline-status-no{color:#fff}
#Kunena div.clrline{border-top-color:#bfc3c6}
#Kunena div.kprofile-rightcol1 h4{color:#333}
#Kunena dl.tabs dt{border-left-color:#bfc3c6;border-right-color:#bfc3c6;border-top-color:#bfc3c6;background-color:#f0f0f0;color:#666}
#Kunena dl.tabs dt.open{background-color:#f9f9f9;border-bottom-color:#f9f9f9;color:#000}#Kunena div.current{border-color:#bfc3c6}
#Kunena dt.kprofile-modbtn{background-color:#999!important;color:#FFF!important}
#Kunena span#kprofilebox-status{color:#fff;background-color:#5388b4}#Kunena #kprofilebox-toggle{border-color:#fff}
ul.autocompleter-choices{border-color:#7c7c7c;border-left-color:#c3c3c3;border-right-color:#c3c3c3;border-bottom-color:#ddd;background-color:#fff;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;background-color:#fff}
ul.autocompleter-choices li.kautocompleter-selected{background-color:#444;color:#fff}
ul.autocompleter-choices li.kautocompleter-selected span.kautocompleter-queried{color:#9fcfff}
#Kunena .kforum-headerdesc-red{color:#000;background-color:#fdd}
#Kunena tr.krow1-red td{background-color:#fdd}#Kunena tr.krow2-red td{background-color:#ffcfcf}
#Kunena .kforum-headerdesc-green{background-color:#d2f8db}#Kunena tr.krow1-green td{background-color:#d2f8db}
#Kunena tr.krow2-green td{background-color:#bfe5c7}#Kunena .kforum-headerdesc-yellow{color:#000;background-color:#ffc}
#Kunena tr.krow1-yellow td{background-color:#ffc}#Kunena tr.krow2-yellow td{background-color:#ffa}
#Kunena .kforum-headerdesc-blue{color:#000;background-color:#c3f0ff}#Kunena tr.krow1-blue td{background-color:#c3f0ff}
#Kunena tr.krow2-blue td{background-color:#b1e3ff}#Kunena .kforum-headerdesc-grey{color:#000;background-color:#e5e5e5}
#Kunena tr.krow1-grey td{background-color:#e5e5e5}#Kunena tr.krow2-grey td{background-color:#d5d5d5}
#Kunena .kforum-headerdesc-pink{color:#000;background-color:#fdf}#Kunena tr.krow1-pink td{background-color:#fdf}
#Kunena tr.krow2-pink td{background-color:#ffd0ff}
#Kunena #kpost-message .invalid{border-color:red!important;background-color:#fdd!important}.kgooglemap{background-color:#e5e3df}