<form action="payback_service_email.php" method="POST" enctype="multipart/form-data">

<p>lat: <input type="text" name="lat" value="1.2454" /></p>
<p>lng: <input type="text" name="lng" value="1.54784" /></p>
<p>address: <input type="text" name="address" value="MN South Avenue Block 2"/></p>
<p>picture_link: <input type="file" name="picture_link" /></p>
<p>message: <input type="text" name="message" value="Please clean this shit"/></p>

<p>from: <input type="text" name="from" value=""/></p>
<p>to: <input type="text" name="email" value=""/></p>
<p>subject: <input type="text" name="subject" value="Test Email"/></p>


<p><input type="submit" name="submit" value="submit"/></p>
</form>