/* CSS Document */

.webform-client-form {
    left: 335px;
    position: absolute;
    top: 375px;
    width: 285px;
}
#poc_sidebar h4{
    font-size: 13px;
    font-weight: bold;
}
#poc_sidebar ul{
    list-style:none;
    margin-bottom: 5px;
}
#poc_sidebar li{
    margin-bottom: 3px;
    font-size: 12px;
	line-height: 19px;
}
.personalCreditCards {
    width: 615px !important;
}
.personalCreditCards td {
    vertical-align:top;
    padding: 5px!important;
}
#poc_main p{
    font-size: 12px;
	line-height: 19px;
    margin-bottom: 30px;
}

.content ul {
	list-style:none !important;
	font-size: 12px;
	margin:5px 15px 15px 15px;
}

#body p {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	line-height: 19px;
}
#heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 19px;
	color: #FFF;
}

#index_content_information li p{
	color: #111;
	font-size: 12px;
	line-height: 19px;
	margin-bottom: 10px;
}