.icon-48-genres {
      background-image: url(../images/l_genres.png);
      padding-left:60px!important;
}

.icon-48-genre {
      background-image: url(../images/l_genres.png);
      padding-left:60px!important;
}

.icon-48-artists {
      background-image: url(../images/l_artists.png);
      padding-left:60px!important;
}

.icon-48-artist {
      background-image: url(../images/l_artists.png);
      padding-left:60px!important;
}

.icon-48-discographies {
      background-image: url(../images/l_discographies.png);
      padding-left:60px!important;
}

.icon-48-discography {
      background-image: url(../images/l_discographies.png);
      padding-left:60px!important;
}

.icon-48-news {
      background-image: url(../images/l_news.png);
      padding-left:60px!important;
}

.icon-48-item {
      background-image: url(../images/l_news.png);
      padding-left:60px!important;
}

.icon-48-albums {
      background-image: url(../images/l_albums.png);
      padding-left:60px!important;
}

.icon-48-album {
      background-image: url(../images/l_albums.png);
      padding-left:60px!important;
}

.icon-48-photos {
      background-image: url(../images/l_photos.png);
      padding-left:60px!important;
}

.icon-48-photo {
      background-image: url(../images/l_photos.png);
      padding-left:60px!important;
}

.icon-48-videos {
      background-image: url(../images/l_videos.png);
      padding-left:60px!important;
}

.icon-48-video {
      background-image: url(../images/l_videos.png);
      padding-left:60px!important;
}

.icon-48-events {
      background-image: url(../images/l_events.png);
      padding-left:60px!important;
}

.icon-48-event {
      background-image: url(../images/l_events.png);
      padding-left:60px!important;
}

.icon-48-links {
      background-image: url(../images/l_links.png);
      padding-left:60px!important;
}

.icon-48-link {
      background-image: url(../images/l_links.png);
      padding-left:60px!important;
}

.icon-48-labels {
      background-image: url(../images/l_labels.png);
      padding-left:60px!important;
}

.icon-48-label {
      background-image: url(../images/l_labels.png);
      padding-left:60px!important;
}

