
<form id="form" action="http://192.175.0.162/depiction/users/allow_follow_request"  method="post" enctype="multipart/form-data">
	following private profile <input type="text" name="follow_data" style="width:500px;" />
	<input type="submit" value="follow" />
</form>
<br><br><br>

<span>{"user_id":"16","target_id":"7"}</span>

