
<form id="form" action="http://192.175.0.162/depiction/users/change_profile_status"  method="post" enctype="multipart/form-data">
	make public private   user_id<input type="text" name="user_id" style="width:500px;" /><br>
							profile-status<input type="text" name="status" style="width:100px;" /><br>
	
	<input type="submit" value="submit" />
</form>
<br><br><br>

<span>pass user id </span>

