
<form id="form" action="http://192.175.0.162/depiction/users/dislike_post"  method="post" enctype="multipart/form-data">
	json for dislike <input type="text" name="insert_dislike" style="width:500px;" />
	<input type="submit" value="Submit" />
</form>
<br><br><br>
<span>{"user_id":"16","post_id":"7"}</span>


<!-- {"user_id":"16","post_id":"7"}-->

