
<form id="form" action="http://192.175.0.162/depiction/users/get_post"  enctype="multipart/form-data" method="post">
	get post <input type="text" name="get_post" style="width:500px;" ><br>
	<input type="submit" value="Submit" />
</form>



<br><br><br>

<span>{"user_id":"16","post_id":"7"}</span>