
<form id="form" action="http://192.175.0.162/depiction/users/get_all_posts"  enctype="multipart/form-data" method="post">
	sigin_data <input type="text" name="get_data" />
	<input type="submit" value="Submit" />
</form>

<br><br><br>

<span>just pass the user-id u will get all posts with a column mentioning posts liked by the user</span>

