
<form id="form" action="http://192.175.0.162/depiction/users/get_notifications"  method="post" enctype="multipart/form-data">
	Get notifications <input type="text" name="user_id" style="width:500px;" />
	<input type="submit" value="submit" />
</form>
<br><br><br>

<span>pass user id </span>

