
<p><h1>get-hash tag </h1></p>
<form id="form" action="http://192.175.0.162/depiction/users/get_tags"  enctype="multipart/form-data" method="post">
	get-tag <input type="text" name="hash_tag" /><br><br>
	
	
	<input type="submit" value="Submit" />
</form>

