
<form id="form" action="http://192.175.0.162/depiction/users/get_followers"  method="post" enctype="multipart/form-data">
	Get followers <input type="text" name="get_followers" style="width:500px;" />
	<input type="submit" value="submit" />
</form>
<br><br><br>

<span>pass user id </span>

