
<p><h1>Insert Comment</h1></p>
<form id="form" action="http://192.175.0.162/depiction/users/comment"  enctype="multipart/form-data" method="post">
	insert_Json <input type="text" name="insert_data" style="width:1000px" /><br><br>
	
	sound<input type="file" name="sound_file" /><br><br>
	<input type="submit" value="bttn" name="btnSubmit">
</form>
<span>{ "user_id": "12","sound-id": "12","user_assets_id":"5","position": "1","hash_tags": "#shoaib,#ahmed","mentions":"24,16,1","tags_mentions":"#khan,#lala,@shoab,@furqan" }</span>

