
<p><h1>Insert Post</h1></p>
<form id="form" action="http://192.175.0.162/depiction/users/insert_posts"  enctype="multipart/form-data" method="post">
	insert_Json <input type="text" name="insert_data" style="width:1000px" /><br><br>
	
	sound<input type="file" name="sound_file" /><br><br>
	<input type="submit" value="bttn" name="btnSubmit">
</form>
<span>{     "user_id": "12","sound-id": "12","position": "1","hash_tags": "#shoaib,#ahmed","hash":"16_20121030_1641","mentions":"24,16,1","tags_mentions":"#khan,#lala,@shoab,@furqan" }</span>

