
<form id="form" action="http://192.175.0.162/depiction/users/like_post"  method="post" enctype="multipart/form-data">
	json for like <input type="text" name="insert_like" style="width:500px;" />
	<input type="submit" value="Submit" />
</form>
<br><br><br>
<span>{"user_id":"16","post_id":"7"}</span>


<!-- {"user_id":"16","post_id":"7"}-->

