
<form id="form" action="http://192.175.0.162/depiction/users/search"  method="post" enctype="multipart/form-data">
	json for search <input type="text" name="search_data" style="width:500px;" />
	<input type="submit" value="Submit" />
</form>
<br><br><br>

<span>{"search_type":"user","data":"sho","user_id":"16"}</span><br><br>
<span>{"search_type":"tags","tag_id":"8","page":"1"}</span>
