
<form id="form" action="http://192.175.0.154/depiction/users/api/signup.json"  method="post" enctype="multipart/form-data">
	sigin_data <input type="text" name="signup_data" style="width:500px;" /><br>
	iamge<input type="file" name="file" /><br>
	<input type="submit" value="bmit" name="shoaib" />
</form>
<br><br><br>
	

<h1>facebook</h1>	
<span> {
    "type_id": "facebook",
    "data": {
        "access_token": "AAAER42ZBKzR4BAFXFHR7P9UWTE13CLE7PorncfgCprfQKLXYiDJHWOHRiHiZBibiuR96ZAWIgXgS9cpJeKL1pzmXYovnrsV9KxOwacBlgZDZD",
        "id": "100001124133650",
        "name": "Ephlux Pwm",
        "first_name": "Ephlux",
        "last_name": "Pwm",
        "picture": {
            "data": {
                "is_silhouette": false,
                "url": "http://profile.ak.fbcdn.net/hprofile-ak-prn1/274101_100001124133650_382477_q.jpg"
            }
        },
        "email": "yousuf.qureshi@ephlux.com",
        "username": "ephlux.pwm"
    }
}
</span>
<h1>Depiction</h1>	
<span>
{     "type_id": "depiction",     "username":"uzair","password": "admin"     }
</span>

