
<p><h1>Insert Post</h1></p>
<form id="form" action="http://192.175.0.162/depiction/users/tmp_image"  enctype="multipart/form-data" method="post">
	hash <input type="text" name="hash" /><br><br>
	tmp-image<input type="file" name="image_file" /><br><br>
	
	<input type="submit" value="Submit" />
</form>

