
<form id="form" action="http://192.175.0.162/depiction/users/unfollow"  method="post" enctype="multipart/form-data">
	json for unfollowing <input type="text" name="unfollow_data" style="width:500px;" />
	<input type="submit" value="unfollow" />
</form>
<br><br><br>

<span>{"user_id":"16","target_id":"7"}</span>

