
<form id="form" action="http://192.175.0.162/depiction/users/unlike_post"  method="post" enctype="multipart/form-data">
	json for unlike <input type="text" name="delete_like" style="width:500px;" />
	<input type="submit" value="g" />
</form>
<br><br><br>

<span>{"user_id":"16","post_id":"7"}</span>

