#panel {
	position: absolute;
	top: 47px;
	right: 10px;
	margin-left: -110px;
	z-index: 9999;
	padding: 5px;
}

#panel input{
	padding: 5px;
	font-size: 12px;
	width: 200px;
	border:1px solid #e3e3e3;
	border-radius:99px;
	-webkit-border-radius:99px;
	-moz-border-radius:99px;
}

#panel input:focus{
	border:1px solid #e3e3e3;
	border: 1px solid #6eea2f;
	box-shadow: 0px 0px 11px #51ae22;
	outline: 0;
}