#notif_count {
	background:url(images/notify-globe.png) center left no-repeat transparent;	
	text-shadow: 1px 1px 0 rgba(0,0,0,1);
	background: #FF0000;
    color: #fff;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    position: absolute;
    top: 2px;
    left: 22px;
}

.notify_bg {
    background: none repeat scroll 0 0 #FF0000;
    color: #FFFFFF;
    margin-right: 1px;
}

#statusbar_item_facebook_like_notifications a .label {
    display: block;
    text-indent: -9999em; 
}

#statusbar_item_facebook_like_notifications a {
    opacity: 0.7;
}


#statusbar_item_facebook_like_notifications a:focus {
    opacity: 1;
}

#context_popup_container {
    /*width: 600px!important;*/
}

.from a {
    color:#950000!important;
}

.notify_latest {
	background: #E2E2E2;
	 -webkit-transition: background-color 1000ms linear;
     -moz-transition: background-color 1000ms linear;
     -o-transition: background-color 1000ms linear;
     -ms-transition: background-color 1000ms linear;
     transition: background-color 1000ms linear;
}

.notify_latest:hover {
	 -webkit-transition: background-color 1000ms linear;
     -moz-transition: background-color 1000ms linear;
     -o-transition: background-color 1000ms linear;
     -ms-transition: background-color 1000ms linear;
     transition: background-color 1000ms linear;
	 background: none transparent;
}


.notify_latest .info a, .notify_latest .created_on{
    color: #950000 !important;
}

.created_on {
    width: 100px;
}