{title}New Quote{/title}
{add_bread_crumb}New Quote{/add_bread_crumb}

<div id="add_quote">
  {form action=$add_quote_url method=post id=add_quote_form class="big_form"}
    {include file=get_view_path('_quote_form', 'quotes', 'invoicing')}  

    {wrap_buttons}
      {submit}Create Quote{/submit}
    {/wrap_buttons}
  {/form}
</div>
<script type="text/javascript">
	$('#add_quote').invoiceForm({
	  items : {$quote_data.items|json nofilter},
	  notes : {$js_invoice_notes|json nofilter},
	  initial_note : {$js_original_note|json nofilter},
	  item_templates : {$js_invoice_item_templates|json nofilter},
	  tax_rates : {$tax_rates|json nofilter},
	  company_details_url : {$js_company_details_url|json nofilter},
	  delete_icon_url : App.Wireframe.Utils.imageUrl('/icons/12x12/delete-gray.png', 'environment'),
	  move_icon_url : {$js_move_icon_url|json nofilter}
	});
</script>