{exp:cartthrob:add_to_cart_form 
	entry_id="{embed:entry_id}" 
	no_tax="{embed:no_tax}"
	no_shipping = "{embed:no_shipping}"
	return="{embed:template_group}/view_cart"} 
	<p>
		{embed="cart/.item_options" entry_id="{entry_id}"}

	</p>
	{if "{embed:inventory}" > 0}
		<label for="product_quantity">Quantity</label>
		<input type="text" id="product_quantity" name="quantity" size="1"  />
	{if:else}
		<strong>This item is out of stock</strong>
	{/if}
	<input type="submit" value="Add to Cart" />

{/exp:cartthrob:add_to_cart_form}
