{exp:cartthrob:item_options entry_id="{embed:entry_id}" row_id="{embed:row_id}" type=}

	{item_options:list}
		{if option_first_row}
			<p> 
			<label>{option_label}</label>
		{/if}  
	{/item_options:list}

	{if dynamic} 
		{item_options:input}
	{if:else}
	  	{item_options:select}		
			<option {selected} value="{option_value}">{option_name} {price}</option>
		{/item_options:select}
	{/if}
	 {item_options:list}
		{if option_last_row}
			</p> 
 		{/if}  
	{/item_options:list}

 {/exp:cartthrob:item_options}