{exp:channel:entries channel="products" entry_id="{embed:entry_id}"}
<div class="product">
	<h3>{title}</h3>
	{if product_thumbnail}
		<a href="{entry_id_path='{template_group}/product_detail'}"><img src="{product_thumbnail}" /></a>
	{/if}
	<p>
		Purchase Price: {embed:price} 
	<br /><a href="{entry_id_path={template_group}/product_detail}">Review &raquo;</a></p>
	
	{if product_download_url}
		{exp:cartthrob:download_file_form file="{product_download_url}"  }
			<input type="submit" value="Download Now!" /> 
		{/exp:cartthrob:download_file_form}
 	{/if}
</div>
{/exp:channel:entries}