{preload_replace:template_group="includes"}
{preload_replace:template="checkout"}
 
{embed="{template_group}/.header" title="Checkout" template_group="{template_group}" template="{template}" }
 
</head>
<body>
	<div id="wrapper">
			{embed="{template_group}/.banner" template_group="{template_group}" template="{template}"}
			{embed="{template_group}/.top_nav" template_group="{template_group}" template="{template}"}
      <div id="content">
            
      <div id="left_column">
        {embed="{template_group}/.left_column" template_group="{template_group}" template="{template}"}
      </div>
      
 					<div id="right_column">
						<h1>Checkout</h1>
						{if "{exp:cartthrob:total_items_count}" > 0}
						
						<div id="checkout_header">

							<div id="checkout_totals">
								<table>
									<tr>
										<td><span class="sale_price">Total</span></td>
										<td><span class="sale_price">{exp:cartthrob:cart_total}</span></td>
									</tr>							
									<tr>
										<td>Subtotal</td>
										<td>{exp:cartthrob:cart_subtotal}</td>
									</tr>
									<tr>
										<td>Shipping</td>
										<td>{exp:cartthrob:cart_shipping}</td>
									</tr>
									<tr>
										<td>Tax</td>
										<td>{exp:cartthrob:cart_tax}</td>
									</tr>
									<tr>
										<td>-Discount</td>
										<td>{exp:cartthrob:cart_discount}</td>
									</tr>
								</table>
 							</div>
							<div id="checkout_notes">
								<p>Expected shipping time 
								is 3-7 days<br /><br />

								*All fields are required</p>
							</div>
							<div class="clear_both"></div>
						</div>
            {exp:cartthrob:checkout_form 
    id="checkoutForm"
    name="checkoutForm"
    class="checkoutForm"
    return="cart/order_complete"
    }
   						{gateway_fields}
    <input type="submit" value="Submit" />
{/exp:cartthrob:checkout_form}


						{if:else}
							<p>You have no items in your cart. <a href="{path=cart/index}">Continue shopping</a></p>
						{/if}
					</div>
					<div class="right_column">
					{exp:cartthrob:cart_items_info limit="1" order_by="entry_id" sort="desc"}
 						{embed="{template_group}/.right_column" entry_id="{entry_id}" template_group="{template_group}" template="{template}"}
					{/exp:cartthrob:cart_items_info} 						
						
					</div>
					<div class="clear_both"></div>
  			</div>
      </div><!-- END CONTENT -->
    </div><!-- END WRAPPER -->
				{embed={template_group}/.footer template="{template}" template_group="{template_group}"}


			{/exp:channel:entries}
		</div>
	</div>
</body>
</html>