{preload_replace:template_group="includes"}
{preload_replace:template="index"}
 
{embed="includes/.header" title="Shopping Cart" template_group="includes" template="{template}" }
 
</head>
<body>
	<div id="wrapper">
		{embed="{template_group}/.banner" template_group="{template_group}" template="{template}"}
		{embed="{template_group}/.top_nav" template_group="{template_group}" template="{template}"}
      
    <div id="content">
      
      <div id="left_column">
        {embed="{template_group}/.left_column" template_group="{template_group}" template="{template}"}
    	</div>  

  		<div id="right_column">
  			    <h2>The results of your order</h2>
  
	{exp:cartthrob:submitted_order_info}
	    <div class="store_block">
	        {if authorized}
	            Your transaction is complete!<br />
	            Transaction ID: {transaction_id}<br />
	            Your total: {cart_total}<br />
	            Your order ID: {order_id}
	        {if:elseif processing}
	            Your Order is Currently being processed: {error_message}<br />
	            Transaction ID: {transaction_id}<br />
	            <br />Order processing is generally completed within 48 hours depending on your payment method. 
	        {if:elseif declined}
	            Your credit card was declined: {error_message}
	            <a href="{path={template_group}/checkout}">Try checking out again &raquo;</a>
	        {if:elseif failed}
	            Your payment failed: {error_message}
	            <a href="{path={template_group}/checkout}">Try checking out again &raquo;</a>
	        {/if}
	    </div>
	{/exp:cartthrob:submitted_order_info}
  		</div>
  					
  		<div class="clear_both"></div>

    </div><!-- END CONTENT -->

 				{embed="{template_group}/.footer template="{template}" template_group="{template_group}"}
  </div><!-- END WRAPPER -->

</body>
</html>

