<div class="payment_user_form">
{wrap field=name}
  {label for=first_name required=yes}First Name{/label} 
  {text_field name='payment[first_name]' value=$payment_data.first_name id=first_name required=true}
{/wrap}

{wrap field=type}
  {label for=last_name required=yes}Last Name{/label}
  {text_field name='payment[last_name]' value=$payment_data.last_name id=last_name required=true}
{/wrap}

{wrap field=type}
  {label for=credit_card_type required=yes}CC Type{/label}
  {select_credit_card_type cc_types=$payment_gateway->cc_types name='payment[credit_card_type]' value=$payment_data.credit_card_type id=credit_card_type required=true}
{/wrap}

{wrap field=type}
  {label for=credit_card_number required=yes}CC Number{/label}
  {text_field name='payment[credit_card_number]' value=$payment_data.credit_card_number id=credit_card_number required=true}
{/wrap}

{wrap field=type}
  {label for=cc_expiration_date required=yes}CC Expiration Date{/label}
  {select_month name='payment[cc_expiration_month]' id="cc_expiration_month" value=$payment_data.cc_expiration_month required=true}
  {select_year name='payment[cc_expiration_year]' id="cc_expiration_year" value=$payment_data.cc_expiration_year required=true}
  
{/wrap}

{wrap field=type}
  {label for=address1 required=yes}Address 1{/label}
  {text_field name='payment[address1]' value=$payment_data.address1 id=address1 required=true}
{/wrap}

{wrap field=type}
  {label for=state required=yes}State{/label}
  {text_field name='payment[state]' value=$payment_data.state id=state required=true}
{/wrap}

{wrap field=type}
  {label for=zip required=yes}Zip{/label}
  {text_field name='payment[zip]' value=$payment_data.zip id=zip required=true}
{/wrap}

{wrap field=type}
  {label for=payment_amount required=yes}{lang}Amount{/lang}{/label}
  {payment_amount name="payment[amount]" id="payment_amount" required=true value="{$active_object->payments()->getAmountToPay()|money}" min="0.01" set_as_readonly="{!$active_object->payments()->canMakePartial($logged_user)}"}
{/wrap}

{wrap field=type}
	{label for=note}Comment{/label}
	<textarea name="payment[comment]" id="comment"></textarea>
{/wrap}



</div>


