{preload_replace:template_group="includes"}
{preload_replace:template="index"}
 
{embed="includes/.header" title="Shopping Cart" template_group="includes" template="{template}" }
 
</head>
<body>
  <div id="wrapper">
		{embed="{template_group}/.banner" template_group="{template_group}" template="{template}"}
		{embed="{template_group}/.top_nav" template_group="{template_group}" template="{template}"}
      
    <div id="content">
      
      <div id="left_column">
        {embed="{template_group}/.left_column" template_group="{template_group}" template="{template}"}
    	</div>  
<?php
$fname = $_POST['keyword'];
?>

  		<div id="right_column">
	<?php
    $this->EE =& get_instance();
    $action_id = $this->EE->functions->fetch_action_id('Member', 'retrieve_password');
?>  
<form id="forgot_password_form" method="post" action="{site_url}">
    <div class='hiddenFields'>
        <input type="hidden" name="ACT" value="<?php echo $action_id; //or you could hard code this action id ?>" />
        <input type="hidden" name="XID" value={XID_HASH} />
        <input type="hidden" name="RET" value="-3" /><!-- URL you would like the user to be redirected to -->
        <input type="hidden" name="FROM" value="" />
        <input type="hidden" name="site_id" value="1" />
    </div>
    <p>
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" />
    </p>
    <p class="login_submit">
        <input type="submit" id="submit" name="submit" value="Submit" />
    </p>
</form>  
		
		</div>
    </div><!-- END CONTENT -->

  </div><!-- END WRAPPER -->
 				{embed="{template_group}/.footer template="{template}" template_group="{template_group}"}

</body>
</html>

