{embed="includes/.header"}
</head>
<body>
        <div id="wrapper">
                {embed="includes/.banner"}
                {embed="includes/.top_nav"}
                
                <div id="content">
                        <div id="left_column">
                                {embed="includes/.left_column"}
                        </div>

                        <div id="right_column">
                                
{exp:member:login_form  return="-2"}
<div class="form short">
<b>Login</b>
<table>
	<tr>
		<td>
  			<label>Username</label> 
		</td>
		<td>
			<input type="text" name="username" value=""  maxlength="32" class="input" size="25" />
		</td>
	</tr>
	<tr>
		<td>
	  		<label>Password</label> 
		</td>
		<td>
			<input type="password" name="password" value="" maxlength="32" class="input" size="25" />
		</td>
	</tr>
	<tr>	<td> </td>
		<td>
			<a href="{site_url}index.php/pages/forgot_password">Forgot Password?</a>
		</td>
	<tr>
</table>
	<input type="submit" name="submit" class="submit" value="Login" />
</div>
{/exp:member:login_form}
<div class="form short">
<p>If you don't yet have an account, please <a href="{site_url}index.php/pages/register">click here to register.</a>.</p>
</div>
                        </div><!-- end of right_column -->
                </div><!-- end of content -->
        </div><!-- end of wrapper -->
        
        {embed="includes/.footer"}
</body>
</html>
