{preload_replace:template_group="includes"}
{preload_replace:template="index"}
 
{embed="includes/.header" title="Shopping Cart" template_group="includes" template="{template}" }
 
</head>
<body>
	<div id="wrapper">
		{embed="{template_group}/.banner" template_group="{template_group}" template="{template}"}
		{embed="{template_group}/.top_nav" template_group="{template_group}" template="{template}"}
      
    <div id="content">
      
      <div id="left_column">
        {embed="{template_group}/.left_column" template_group="{template_group}" template="{template}"}
    	</div>  
<?php
$zip = '90291';
$sppf = $_POST['sppf'];
$fname = $_POST['keyword'];
?>
  		<div id="right_column">
  			<?php
			echo $sppf;
			?>
		<form action="{site_url}index.php/pages/select_physician" method="post">
		<input type="text" name="keyword" class="keyword" value="" />
		<br /> Zip Code:
		<input type="text" name="zip_code" class="zip_code" value="" />
		<br /> PPF Code:
		<input type="text" name="sppf" class="sppf" value="<?php echo $sppf; ?>" />
		<input type="submit" value="Search" class="search_button"  />
		</form>
		<?php
		$sql="SELECT * FROM exp_channel_data WHERE channel_id = '8' AND field_id_72 LIKE '%$fname%' AND field_id_75 LIKE '%$sppf%'";
		$results = mysql_query("$sql") or die(mysql_error());
		while($row = mysql_fetch_array($results))
		{
			$pId = $row['entry_id'];
			$bname = $row['field_id_72'];
			$fname = $row['field_id_73'];
			$lname = $row['field_id_74'];
			$ppf = $row['field_id_75'];
			$mnum = $row['field_id_76'];
			$website = $row['field_id_78'];
			$address = $row['field_id_79'];
			$address2 = $row['field_id_80'];
			$city = $row['field_id_81'];
			$state = $row['field_id_82'];
			$zip = $row['field_id_83'];
			$phone = $row['field_id_84'];
			$fax = $row['field_id_85'];
			$email = $row['field_id_86'];
			?>
				<div id="physician">
					<span class="physician_business"><?php echo $bname; ?></span><br />
					<?php if($lname != '')
					{
					?>
						<span class="physician_name">Dr. <?php echo $fname; echo " "; echo $lname; ?></span><br />
						<?php
					} //end if $lname
					?>
					<span class="physician_address"><?php echo $address; ?><br />
					<?php if($address2 != ''){ echo $address2; } ?><br />
					<?php echo $city; ?>, <?php echo $state; echo " "; echo $zip; ?><br />
					Tel: <?php echo $phone; ?><br />
					<?php if($fax != '')
					{
					?>
					<?php echo $fax; ?><br />
					<?php
					} //end if $fax
					?>
					<a href="<?php echo $website; ?>" target="_blank"><?php echo $website; ?></a>
					<form id="select_physician" method="post" action="http://bluefractalmedia.com/benevSite/index.php/pages/register">
						<input type="hidden" name="sp" value="<?php echo $pId;?>">
						<input type="submit" value="Select" class="submit" />
					</form>
	
				</div><!-- end Physician -->


		<?php
		}//end while
		?>
		
		<br />

		
		</div>
    </div><!-- END CONTENT -->

  </div><!-- END WRAPPER -->
 				{embed="{template_group}/.footer template="{template}" template_group="{template_group}"}

</body>
</html>

