<?php
if (!empty($appointments)) {
	$appoint = json_decode($appointments);
}

if (!empty($search_result)) {

	$search_result = json_decode($search_result);
}
?>

<section class="grid_6">

	<div>

		<?php echo $this->Form->create('Appointment', array('controller' => 'appointments', 'action' => 'search_future_appointment_of_doctor')); ?>

		<p> <?php echo $this->Form->input('search', array('label' => 'Search', 'class' => 'med float-left-margin', 'div' => false)); ?> </p>
		<?php echo $this->Form->submit('Search', array('class' => 'button green small float-left-margin', 'div' => false)); ?>
	</div>

	<?php if (!empty($search_result->body)) { ?>

		<table class = "datagrid wf">
			<div class = "header clearfix">
				<h2 class="h2_heading"><?php echo __('Search Result')
		?></h2>
			</div>
			<thead>
				<tr>
					<th><?php echo __('Patient Name'); ?></th>
					<th><?php echo __('Employee Name'); ?></th>
					<th><?php echo __('Appointment Date'); ?></th>
					<th><?php echo __('Status'); ?></th>
					<th><?php echo __('Actions'); ?></th>
				</tr>
			</thead>
			<tbody>
				<?php
				if (!empty($search_result->body)) {
					foreach ($search_result->body as $app):
						?>
						<tr>
							<td align="center"><?php echo $app->PatDetail->first_name.' '.$app->PatDetail->last_name; ?>&nbsp;</td>
							<td align="center"><?php echo $app->EmpDetail->first_name; ?>&nbsp;</td>
							<td align="center"><?php echo date('d/m/Y H:i', $app->Appointment->appointment_date); ?>&nbsp;</td>
							<td align="center"><?php echo $app->Appointment->status; ?>&nbsp;</td>
							<td class="actions" align="center">		
								<?php echo $this->Html->link(__('Detail'), array('controller' => 'appointments', 'action' => 'view', $app->Appointment->id)); ?> 					
							</td>
						</tr>
						<?php
					endforeach;
				}
				else {
					?>
					<tr>
						<td colspan="9">No search result found</td>
					</tr>
					<?php
				}
				?>
			</tbody>
		</table>

		<?php
	} else {
		?>


		<table class="datagrid wf">
			<div class="header clearfix">
				<h2 class="h2_heading"><?php echo __('Appointments') ?></h2>
			</div>
			<thead>
				<tr>
					<th><?php echo'<br/>' . __('Patient Name'); ?></th>
					<th><?php echo __('Employee Name'); ?></th>
					<th><?php echo __('Appointment Date'); ?></th>
					<th><?php echo __('Status'); ?></th>
					<th><?php echo __('Actions'); ?></th>
				</tr>
			</thead>
			<tbody>
				<?php
				if (!empty($appoint->body)) {
					foreach ($appoint->body as $app):
						?>
						<tr>
							<td align="center"><?php echo $app->PatDetail->first_name; ?>&nbsp;</td>
							<td align="center"><?php echo $app->EmpDetail->first_name; ?>&nbsp;</td>
							<td align="center"><?php echo date('d/m/Y H:i', $app->Appointment->appointment_date); ?>&nbsp;</td>
							<td align="center"><?php echo $app->Appointment->status; ?>&nbsp;</td>
							<td class="actions" align="center">		
								<?php echo $this->Html->link(__('Detail'), array('controller' => 'appointments', 'action' => 'view', $app->Appointment->id)); ?> 					
							</td>
						</tr>
						<?php
					endforeach;
				}
				else {
					?>
					<tr>
						<td colspan="9">No appointments found.</td>
					</tr>
					<?php
				}
				?>
			</tbody>
		</table>
	<?php } ?>
</section>