<!-- File: /app/View/Posts/index.ctp -->

<h1>Blog posts</h1>
<table>

	<tr>
	<td>Url params</td>
	<td>  <?php   $url=$this->params['url']; print_r($url);   //print_r($test); ?> </td>
	</tr>

	<tr>
	<td>Data From Test Table</td>
	</tr>
    <tr>
        <th>Id</th>
        <th>Number</th>
        <th>Name</th>
    </tr>

    <!-- Here is where we loop through our $posts array, printing out post info -->
	
    <?php foreach ($test as $post): ?>
    <tr>
        <td><?php echo $post['Test']['id']; ?></td>
        <td>
            <?php echo $this->Html->link($post['Test']['number'], array('controller' => 'tests', 'action' => 'view', $post['Test']['id'])); ?>
        </td>
        <td><?php echo $post['Test']['name']; ?></td>
    </tr>
	
	
	
    <?php endforeach; ?>
	<?php unset($test); ?>

	<?php echo $this->Html->link('Add Post', array('controller' => 'tests', 'action' => 'add')); ?>
</table>

