<!-- File: /app/View/Posts/view.ctp -->

<h1><?php echo h($test['Test']['name']); ?></h1>

<p><small>Created: <?php echo $test['Test']['id']; ?></small></p>

<p><?php echo h($test['Test']['number']); ?></p>