<?php 

if(!empty($page)) {
	
	$page_about = json_decode($page); //pr($page_about);
	
}

?>

<div class="main_column">
	<div class="box">
		<div class="body">
			
			<h2><?php echo $page_about->body->Page->title; ?></h2>
			
			<p><?php echo $page_about->body->Page->description; ?></p>
			

		</div>
	</div>
</div>