/*General */
.topArtistBar{margin:6px 0px;}
.main_pic{float:left; width:220px;}
.jartists-450{padding: 4px;background: white;border: 1px solid #CCC; }
.jartists-150,.jartists-100, .jartists-120{ padding:4px; border:1px #CCC solid;}
.jartists-150{ width:150px;}
.jartists-100{ width:100px;}
.date {
	width: 52px; height: 56px; 
	background: #fcfcfc; 
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	margin-right:14px;
	margin-bottom:5px;
}
.date p {
	font-family: Helvetica, sans-serif; 
	font-size: 20px; text-align: center; color: #9e9e9e; 
	margin: 0px !important;
	line-height:  26px !important;
}

.date p span {
	background: #d10000; 
	background: linear-gradient(top, #d10000 0%, #7a0909 100%);
	background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
	background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
	font-size: 17px; font-weight: bold; color: #fff; text-transform: uppercase; 	
	display: block;
	border-top: 3px solid #a13838;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	line-height: 27px;
}
/*@-moz-document url-prefix() {
    .date {
        padding: 16px 0 0 0;
    }
    .date p span {
    	padding: 9px 0 3px 0;
    }
}*/

span.title{display:block; font-weight:bold;}
#s_discography dt {
float: left;
margin-right: 3px;
}
.d_image{ margin: 6px 0px;}
.s_links a{ float:left; margin-right:8px;}
.lblArtist{}
.lblArtist .mainArea{}
.lblArtist .lblBox{/*padding:6px;*/  float:left; margin-left:10px; margin-bottom:10px; width: 150px;}
.artistLink{ margin:6px 0px; border-bottom:#CCC solid 1px;}
.artistLink a{font-weight:bold;}
.disc_item{float:left; width:160px; margin-left:6px;}
.image_desc{}
.other_images{}
.carouselImages{ float:left; margin-left:6px; width:110px;}
.video_item{float:left; width:204px; margin-left:6px;}
.clr{clear:both;}
.display_row{clear:both;}
.LblListLayout{padding: 6px;
float: left;
margin-left: 10px;
margin-bottom: 10px;
width: 142pxpx;}
.artist_title{display:block;}
.display_row li{display:inline-block; float:left; margin-left:6px; list-style:none; background:none !important;}
.image_meta{ clear:both;}
li span.title{display:block;}
li{list-style:none;}
.biography h3{	
	padding: 0 0 5px 0;
	color: #222;
	font-size: 16px;
	margin: 0 0 10px 0;
	border-bottom: 2px solid #D7D7D7;}
.discography, .photos, .press_releases, .videos{}
.agrid{
	width:268px; height:344px; float:left; margin-left:6px; margin-bottom:10px;
}
.agrid img, .carouselImages img{padding: 1px;
border: 1px solid #CCC;
display: block;}
.agrid .display_row li{
	display:inline-block; 
	float:left; 
	margin-left:6px; 
	margin-bottom:6px;
	list-style:none; 
	width:100px;
	background:none !important;
}

.agrid h3{

	padding: 0 0 5px 0;

	color: #222;

	font-size: 16px;

	margin: 0 0 10px 0;

	position: relative;

	zoom: 1;

	border-bottom: 2px solid #D7D7D7;

}

.biography{}

.discography{}

.photos{}

.press_releases{}

.image_file{}



.articleBlock{ border-bottom:1px dashed #CCC; padding-bottom:4px; margin:6px 0px;}
.aticleTitle{ display:block; font-weight:bold;}

.articleContent{ font-size:11px;}

.read-more{font-size:11px;}



.profile_nav {

	height: 46px;

	margin: 0 1px 10px 1px;

	font-size: 12px;

	font-weight: bold;

	font-family: "Lucida Grande", Arial, sans-serif;

}



.profile_nav ul {

	height: 45px;

	padding: 0 20px 0 20px;

	border-bottom: 1px solid #d7d7d7;

}



.profile_nav ul li {

	float: left;

	display: inline;

	height: 45px;

	margin-right: 18px !important;

	margin-bottom: -1px;

	background:none !important;

}



.read-more{font-weight: bold;

float: right;}



.profile_nav ul li a {
	padding-top: 15px;
	height: 30px;
	/*color: #444;*/
	float: left;
	display: block;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	margin-top: 1px 0 0 0;
	border-top: 1px solid #fff;
	display: inline;
	position: relative;
}
.profile_nav ul li.profile_nav_selected a {
}
.item_list .lblBox{padding:6px; border:1px solid #ccc; background-color:#F1F1F1; float:left; margin-left:10px; margin-bottom:10px; width: 222px;}
.item_list .artists{}
.socialBookmark{}
.socialBookmark .facebook, .socialBookmark .twitter,.socialBookmark .pinit, .socialBookmark .linkedin{}