/* =RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, 
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 101%; font-family: inherit; color:#666; 
	}

:focus { outline: 0; }

@charset "utf-8";

* html ul li a {
height:1em;
} 

div, p, img, h1, h2, h3, h4, h5, table, body { margin:0; padding:0; border:0; }

body { background:#eeeeee; font:0.625em Arial, Verdana, Helvectica, sans-serif;  margin:0; padding:0; }
a {color:#FFFFFF;}
p { font-size:100%; color:#666; }
h1 {font-size:190%; font-weight:bold; margin: 0 0 10px 0; color:#333;}
h2 {font-size:160%; font-weight:bold; margin: 0 0 10px 0; color:#333;}
h3 {font-size:140%; font-weight:bold; margin: 0 0 10px 0; color:#333; }
h4 {font-size:110%; font-weight:bold; margin: 0 0 10px 0; color:#333;}
h5 {font-size:100%; font-weight:bold; margin: 0 0 10px 0; color:#333;}
h6 {font-size:90%; font-weight:bold; margin: 0 0 10px 0; color:#333;}


#logo img { margin: 22px 0 0 15px;  }
#wrapper {width:960px; margin: 0 auto; }
#header {background:url(images/header.jpg) repeat-x; width:960px; margin: 0 auto; }

/*Navigation*/

#nav { clear:both; margin: 20px 0 0 10px; font-size: 120%; }
#nav li { float:left; display:block; }
#nav li.current { background:url("images/nav-bg-right.gif") no-repeat right top transparent;  }
#nav li.current a { background:url("images/nav-bg-left.gif") no-repeat left top transparent; color:#333;  }
#nav li a { padding: 10px; display:block; font-weight:bold; color:#fff; text-decoration:none; }
#nav li a:hover { color:#666; }