/* =RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, 
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 101%; font-family: inherit; color:#666; 
	}

:focus { outline: 0; }

@charset "utf-8";

* html ul li a {
height:1em;
} 

div, p, img, h1, h2, h3, h4, h5, table, body { margin:0; padding:0; border:0; }

body { background:#eeeeee; font:0.625em Arial, Verdana, Helvectica, sans-serif;  margin:0; padding:0; }
a {color:#FFFFFF;}
p { font-size:100%; color:#666; }
h1 {font-size:190%; font-weight:bold; margin: 0 0 10px 0; color:#666;}
h2 {font-size:160%; font-weight:bold; margin: 0 0 10px 0; color:#666;}
h3 {font-size:140%; font-weight:bold; margin: 0 0 10px 0; color:#666; }
h4 {font-size:110%; font-weight:bold; margin: 0 0 10px 0; color:#666;}
h5 {font-size:100%; font-weight:bold; margin: 0 0 10px 0; color:#666;}
h6 {font-size:90%; font-weight:bold; margin: 0 0 10px 0; color:#666}
li { font-size:120%; }


#logo img { margin: 37px 0 37px 15px;  }
#wrapper {width:960px; margin: 0 auto; }
#header {background:url(images/header.jpg) repeat-x #125B5C; width:960px; margin: 0 auto; overflow:auto; }

/*Navigation*/

#nav { clear:both; margin: 0 0 0 15px; font-size: 180%; }
#nav li { float:left; display:block; background:url("images/nav-bg-right.gif") no-repeat right -150px transparent; margin:0 10px 0 0; }
#nav li.current { background:url("images/nav-bg-right.gif") no-repeat right top transparent;  }
#nav li.current a { background:url("images/nav-bg-left.gif") no-repeat left top transparent; color:#fff; }
#nav li a { padding: 10px 20px; display:block; font-weight:bold; color:#ccc; text-decoration:none; background:url("images/nav-bg-left.gif") no-repeat left -150px transparent; }
#nav li a:hover { color:#fff; }

/* Home */
#home-panel, #work-panel, #about-panel { background:url(images/home-panel-bg.jpg) no-repeat #fff top left; overflow:auto; }
.wide-title { background:url(images/home-title-wide-bg.gif) repeat-x #F4F4F4; border-bottom:1px solid #DBDBDB; }
.wide-title h2 { padding: 8px 15px; margin:0; color: #666; font-weight:normal; font-size:160%; }
#recent-left { width:300px; float:left; background:#fff; border-right: 1px solid #DBDBDB; }
#tab-one, #tab-two, #tab-three, #tab-four { cursor:pointer; background:url(images/recent-summary-bg.gif) no-repeat left bottom; border-bottom:1px solid #DBDBDB; padding: 10px; }
#content-one, #content-two, #content-three, #content-four { background:#fff; padding:20px; float:left; width:615px}
#recent { background: #fff; overflow:auto; }
#flvplayer { margin: 30px auto 10px auto; text-align:center; }

/*Work*/
.back {color:#666; margin:0 0 15px 0px; display:block; font-size:130%; }
#work-panel { padding: 30px 0 0 30px; }
.work { clear:both;  }
.work-img { float:left; margin:0 15px 15px 0 ; }
.work-desc-short { float:left; width:785px; font-size:130%; line-height:1.3em}
.work-link { float:left; color:#666; }
.team-member-img{ float:right; margin:0 30px 20px 15px; }
.work-title { font-size:180% }
.work-desc { font-size:140%; line-height:1.3em }

/*About*/
.about { clear:both;  }
#about-panel { padding: 30px 0 0 30px; }
.about-img { float:left; margin:0 15px 15px 0 ; }
.about-desc-short { float:left; width:785px; font-size:130%; line-height:1.3em}
.about-link { float:left; color:#666; }
.team-member-img{ float:right; margin:0 30px 20px 15px; }
.about-title { font-size:180% }
.about-desc, .course { font-size:140%; line-height:1.3em }
.strong {font-weight:bold;}
.about ul { margin:0 0 10px 25px; }
.about p { margin-bottom: 10px; }
.find-link { color:#666; }