html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 11px;
  font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  margin: 5px 0px;
  line-height: 15px;
  padding: 0px 10px;
}

body > p:first-child {
  margin-top: 0px;
}

p {
  margin: 3px 0px;
  padding: 3px 0px;
}

ul, ol {
  margin-top: 3px;
  padding-top: 3px;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

ul li,
ol li {
  margin: 4px 0px;
}

blockquote {
  background: #eee url(assets/images/visual_editor/default/layout/quote.png) no-repeat left top;
  border-radius: 10px;
  padding: 1px 15px 1px 50px;
  margin: 10px 10px 10px 40px;
  min-height: 35px;
}

h1 {
  font-size: 16px;
  margin: 10px 0px;
}

h2 {
  font-size: 14px;
  margin: 10px 0px;
}

h3 {
  font-size: 12px;
  margin: 10px 0px;
}

table {
  font-size: 11px;
}

img {
  max-width: 98%;
}

.note {
  background: #fffde3;
}

.important {
  background: #ffe3e3;
}

.updated {
  background: #d7f5d0;
}

.rich_text.edit_mode table {
  border-spacing: 0px;
  min-width: 100%;
  border-collapse: collapse;
  margin: 7px 0px;
}

.rich_text.edit_mode table td {
  border: 1px solid #ddd;
  width: auto !important;
  _width: 20px;
  min-width: 20px;
  padding: 2px 4px;
}

.rich_text.edit_mode table td.mceSelected {
  background: #e6f3fc !important;
}

.rich_text.edit_mode table td.highlighted {
  background: #eee;
}

div.placeholder[placeholder-type="code"] {
  height: 70px;
  line-height: 70px;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  margin: 8px 0px;
  background-repeat: no-repeat;
  background-position: 15px center;
  display: block;
  cursor: pointer;
  overflow: hidden;
  text-indent: -1000px;
}

div.placeholder[placeholder-type="code"]:hover {
  background-color: #f3f3f3;
}

div.placeholder[placeholder-type="code"].focused {
  background-color: #e6f3fc;
  border-color: #74a7ed;
}

/* IE 8 */
@media \0screen {
  p {
    min-width: auto;
    min-height: auto;
  }
  
  blockquote {
    min-height: auto;
  }
  
  .rich_text.edit_mode table {
    min-width: auto;
  }

  .rich_text.edit_mode table td {
    min-width: auto;
  }
}
