/*
* jQuery Mobile Framework 1.1.1 1981b3f5ec22675ae47df8f0bdf9622e7780e90e
* http://jquerymobile.com
*
* Copyright 2012 jQuery Foundation and other contributors
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
*/
/*
* jQuery Mobile Framework Git Build: SHA1: c2d61e2e592c67519d9a9ed0ba796fa44787e136 <> Date: Tue Sep 25 10:38:12 2012 -0700
* http://jquerymobile.com
*
* Copyright 2012 jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
*/

.ui-bar-a{border:1px solid #171717 ;background:#2b2b2b ;color:#ffffff ;font-weight:bold;text-shadow:0  1px  1px  #000000 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #323232 ),to( #232323 )); background-image:-webkit-linear-gradient( #323232,#232323 ); background-image:   -moz-linear-gradient( #323232,#232323 ); background-image:    -ms-linear-gradient( #323232,#232323 ); background-image:     -o-linear-gradient( #323232,#232323 ); background-image:        linear-gradient( #323232,#232323 );}.ui-bar-a .ui-link-inherit{color:#ffffff ;}.ui-bar-a a.ui-link{color:#7cc4e7 ;font-weight:bold;}.ui-bar-a a.ui-link:visited{   color:#2489ce ;}.ui-bar-a a.ui-link:hover{color:#2489ce ;}.ui-bar-a a.ui-link:active{color:#2489ce ;}.ui-bar-a,.ui-bar-a input,.ui-bar-a select,.ui-bar-a textarea,.ui-bar-a button{ font-family:Helvetica,Arial,sans-serif ;}.ui-body-a,.ui-overlay-a{border:1px solid #000000 ;color:#ffffff ;text-shadow:0  1px  0  #000000 ;background:#2b2b2b ;background-image:-webkit-gradient(linear,left top,left bottom,from( #2e2e2e ),to( #272727 )); background-image:-webkit-linear-gradient( #2e2e2e,#272727 ); background-image:   -moz-linear-gradient( #2e2e2e,#272727 ); background-image:    -ms-linear-gradient( #2e2e2e,#272727 ); background-image:     -o-linear-gradient( #2e2e2e,#272727 ); background-image:        linear-gradient( #2e2e2e,#272727 );}.ui-overlay-a{background-image:none;border-width:0;}.ui-body-a,.ui-body-a input,.ui-body-a select,.ui-body-a textarea,.ui-body-a button{ font-family:Helvetica,Arial,sans-serif ;}.ui-body-a .ui-link-inherit{color:#ffffff ;}.ui-body-a .ui-link{color:#2489ce ;font-weight:bold;}.ui-body-a .ui-link:visited{   color:#2489ce ;}.ui-body-a .ui-link:hover{color:#2489ce ;}.ui-body-a .ui-link:active{color:#2489ce ;}.ui-btn-up-a{border:1px solid #171717 ;background:#3d3d3d ;font-weight:bold;color:#ffffff ;text-shadow:0  1px  0  #000000 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #464646 ),to( #333333 )); background-image:-webkit-linear-gradient( #464646,#333333 ); background-image:   -moz-linear-gradient( #464646,#333333 ); background-image:    -ms-linear-gradient( #464646,#333333 ); background-image:     -o-linear-gradient( #464646,#333333 ); background-image:        linear-gradient( #464646,#333333 );}.ui-btn-up-a:visited,.ui-btn-up-a a.ui-link-inherit{color:#ffffff ;}.ui-btn-hover-a{border:1px solid #171717 ;background:#545454 ;font-weight:bold;color:#ffffff ;text-shadow:0  1px  0  #000000 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #5d5d5d ),to( #4a4a4a )); background-image:-webkit-linear-gradient( #5d5d5d,#4a4a4a ); background-image:   -moz-linear-gradient( #5d5d5d,#4a4a4a ); background-image:    -ms-linear-gradient( #5d5d5d,#4a4a4a ); background-image:     -o-linear-gradient( #5d5d5d,#4a4a4a ); background-image:        linear-gradient( #5d5d5d,#4a4a4a );}.ui-btn-hover-a:visited,.ui-btn-hover-a:hover,.ui-btn-hover-a a.ui-link-inherit{color:#ffffff ;}.ui-btn-down-a{border:1px solid #171717 ;background:#545454 ;font-weight:bold;color:#ffffff ;text-shadow:0  1px  0  #000000 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #545454 ),to( #545454 )); background-image:-webkit-linear-gradient( #545454,#545454 ); background-image:   -moz-linear-gradient( #545454,#545454 ); background-image:    -ms-linear-gradient( #545454,#545454 ); background-image:     -o-linear-gradient( #545454,#545454 ); background-image:        linear-gradient( #545454,#545454 );}.ui-btn-down-a:visited,.ui-btn-down-a:hover,.ui-btn-down-a a.ui-link-inherit{color:#ffffff ;}.ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a{ font-family:Helvetica,Arial,sans-serif ;text-decoration:none;}.ui-bar-b{border:1px solid #005b99 ;background:#2f7da2 ;color:#ffffff ;font-weight:bold;text-shadow:0  1px  1px  #666666 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #3896c2 ),to( #256481 )); background-image:-webkit-linear-gradient( #3896c2,#256481 ); background-image:   -moz-linear-gradient( #3896c2,#256481 ); background-image:    -ms-linear-gradient( #3896c2,#256481 ); background-image:     -o-linear-gradient( #3896c2,#256481 ); background-image:        linear-gradient( #3896c2,#256481 );}.ui-bar-b .ui-link-inherit{color:#ffffff ;}.ui-bar-b a.ui-link{color:#7cc4e7 ;font-weight:bold;}.ui-bar-b a.ui-link:visited{   color:#2489ce ;}.ui-bar-b a.ui-link:hover{color:#2489ce ;}.ui-bar-b a.ui-link:active{color:#2489ce ;}.ui-bar-b,.ui-bar-b input,.ui-bar-b select,.ui-bar-b textarea,.ui-bar-b button{ font-family:Helvetica,Arial,sans-serif ;}.ui-body-b,.ui-overlay-b{border:1px solid #bbbbbb ;color:#333333 ;text-shadow:0  1px  0  #ffffff ;background:#f9f9f9 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #f9f9f9 ),to( #f9f9f9 )); background-image:-webkit-linear-gradient( #f9f9f9,#f9f9f9 ); background-image:   -moz-linear-gradient( #f9f9f9,#f9f9f9 ); background-image:    -ms-linear-gradient( #f9f9f9,#f9f9f9 ); background-image:     -o-linear-gradient( #f9f9f9,#f9f9f9 ); background-image:        linear-gradient( #f9f9f9,#f9f9f9 );}.ui-overlay-b{background-image:none;border-width:0;}.ui-body-b,.ui-body-b input,.ui-body-b select,.ui-body-b textarea,.ui-body-b button{ font-family:Helvetica,Arial,sans-serif ;}.ui-body-b .ui-link-inherit{color:#333333 ;}.ui-body-b .ui-link{color:#2489ce ;font-weight:bold;}.ui-body-b .ui-link:visited{   color:#2489ce ;}.ui-body-b .ui-link:hover{color:#2489ce ;}.ui-body-b .ui-link:active{color:#2489ce ;}.ui-btn-up-b{border:1px solid #2e8fbd ;background:#2e8fbd ;font-weight:bold;color:#ffffff ;text-shadow:0  1px  0  #005b99 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #329dcf ),to( #2980aa )); background-image:-webkit-linear-gradient( #329dcf,#2980aa ); background-image:   -moz-linear-gradient( #329dcf,#2980aa ); background-image:    -ms-linear-gradient( #329dcf,#2980aa ); background-image:     -o-linear-gradient( #329dcf,#2980aa ); background-image:        linear-gradient( #329dcf,#2980aa );}.ui-btn-up-b:visited,.ui-btn-up-b a.ui-link-inherit{color:#ffffff ;}.ui-btn-hover-b{border:1px solid #2e8fbd ;background:#2e8fbd ;font-weight:bold;color:#ffffff ;text-shadow:0  1px  0  #005b99 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #2e8fbd ),to( #2e8fbd )); background-image:-webkit-linear-gradient( #2e8fbd,#2e8fbd ); background-image:   -moz-linear-gradient( #2e8fbd,#2e8fbd ); background-image:    -ms-linear-gradient( #2e8fbd,#2e8fbd ); background-image:     -o-linear-gradient( #2e8fbd,#2e8fbd ); background-image:        linear-gradient( #2e8fbd,#2e8fbd );}.ui-btn-hover-b:visited,.ui-btn-hover-b:hover,.ui-btn-hover-b a.ui-link-inherit{color:#ffffff ;}.ui-btn-down-b{border:1px solid #2e8fbd ;background:#2e8fbd ;font-weight:bold;color:#ffffff ;text-shadow:0  1px  0  #005b99 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #2779a0 ),to( #34a4d9 )); background-image:-webkit-linear-gradient( #2779a0,#34a4d9 ); background-image:   -moz-linear-gradient( #2779a0,#34a4d9 ); background-image:    -ms-linear-gradient( #2779a0,#34a4d9 ); background-image:     -o-linear-gradient( #2779a0,#34a4d9 ); background-image:        linear-gradient( #2779a0,#34a4d9 );}.ui-btn-down-b:visited,.ui-btn-down-b:hover,.ui-btn-down-b a.ui-link-inherit{color:#ffffff ;}.ui-btn-up-b,.ui-btn-hover-b,.ui-btn-down-b{ font-family:Helvetica,Arial,sans-serif ;text-decoration:none;}.ui-bar-c{border:1px solid #b3b3b3 ;background:#eeeeee ;color:#3e3e3e ;font-weight:bold;text-shadow:0  1px  1px  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #f0f0f0 ),to( #dddddd )); background-image:-webkit-linear-gradient( #f0f0f0,#dddddd ); background-image:   -moz-linear-gradient( #f0f0f0,#dddddd ); background-image:    -ms-linear-gradient( #f0f0f0,#dddddd ); background-image:     -o-linear-gradient( #f0f0f0,#dddddd ); background-image:        linear-gradient( #f0f0f0,#dddddd );}.ui-bar-c .ui-link-inherit{color:#3e3e3e ;}.ui-bar-c a.ui-link{color:#7cc4e7 ;font-weight:bold;}.ui-bar-c a.ui-link:visited{   color:#2489ce ;}.ui-bar-c a.ui-link:hover{color:#2489ce ;}.ui-bar-c a.ui-link:active{color:#2489ce ;}.ui-bar-c,.ui-bar-c input,.ui-bar-c select,.ui-bar-c textarea,.ui-bar-c button{ font-family:Helvetica,Arial,sans-serif ;}.ui-body-c,.ui-overlay-c{border:1px solid #aaaaaa ;color:#333333 ;text-shadow:0  1px  0  #ffffff ;background:#f9f9f9 ;background-image:-webkit-gradient(linear,left top,left bottom,from( #f9f9f9 ),to( #eeeeee )); background-image:-webkit-linear-gradient( #f9f9f9,#eeeeee ); background-image:   -moz-linear-gradient( #f9f9f9,#eeeeee ); background-image:    -ms-linear-gradient( #f9f9f9,#eeeeee ); background-image:     -o-linear-gradient( #f9f9f9,#eeeeee ); background-image:        linear-gradient( #f9f9f9,#eeeeee );}.ui-overlay-c{background-image:none;border-width:0;}.ui-body-c,.ui-body-c input,.ui-body-c select,.ui-body-c textarea,.ui-body-c button{ font-family:Helvetica,Arial,sans-serif ;}.ui-body-c .ui-link-inherit{color:#333333 ;}.ui-body-c .ui-link{color:#2489ce ;font-weight:bold;}.ui-body-c .ui-link:visited{   color:#2489ce ;}.ui-body-c .ui-link:hover{color:#2489ce ;}.ui-body-c .ui-link:active{color:#2489ce ;}.ui-btn-up-c, .media-gallery-nav ul li, .media-image-gallery ul li, .selected-slide ul li, .tab_controls button, .wpb-content-layouts-container .wpb-content-layouts li {border:1px solid #cccccc ;background:#eeeeee ;font-weight:bold;color:#2f3e46 ;text-shadow:0  1px  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #ffffff ),to( #f1f1f1 )); background-image:-webkit-linear-gradient( #ffffff,#f1f1f1 ); background-image:   -moz-linear-gradient( #ffffff,#f1f1f1 ); background-image:    -ms-linear-gradient( #ffffff,#f1f1f1 ); background-image:     -o-linear-gradient( #ffffff,#f1f1f1 ); background-image:        linear-gradient( #ffffff,#f1f1f1 );}.ui-btn-up-c:visited,.ui-btn-up-c a.ui-link-inherit{color:#2f3e46 ;}.ui-btn-hover-c{border:1px solid #bbbbbb ;background:#dfdfdf ;font-weight:bold;color:#2f3e46 ;text-shadow:0  1px  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #f6f6f6 ),to( #e0e0e0 )); background-image:-webkit-linear-gradient( #f6f6f6,#e0e0e0 ); background-image:   -moz-linear-gradient( #f6f6f6,#e0e0e0 ); background-image:    -ms-linear-gradient( #f6f6f6,#e0e0e0 ); background-image:     -o-linear-gradient( #f6f6f6,#e0e0e0 ); background-image:        linear-gradient( #f6f6f6,#e0e0e0 );}.ui-btn-hover-c:visited,.ui-btn-hover-c:hover,.ui-btn-hover-c a.ui-link-inherit{color:#2f3e46 ;}.ui-btn-down-c{border:1px solid #bbbbbb ;background:#d6d6d6 ;font-weight:bold;color:#2f3e46 ;text-shadow:0  1px  0  #ffffff ;background-image:-webkit-gradient(linear,left top,left bottom,from( #d0d0d0 ),to( #dfdfdf )); background-image:-webkit-linear-gradient( #d0d0d0,#dfdfdf ); background-image:   -moz-linear-gradient( #d0d0d0,#dfdfdf ); background-image:    -ms-linear-gradient( #d0d0d0,#dfdfdf ); background-image:     -o-linear-gradient( #d0d0d0,#dfdfdf ); background-image:        linear-gradient( #d0d0d0,#dfdfdf );}.ui-btn-down-c:visited,.ui-btn-down-c:hover,.ui-btn-down-c a.ui-link-inherit{color:#2f3e46 ;}.ui-btn-up-c,.ui-btn-hover-c,.ui-btn-down-c{ font-family:Helvetica,Arial,sans-serif ;text-decoration:none;}a.ui-link-inherit{text-decoration:none !important;}.ui-btn-active{border:1px solid #2373a5 ;background:#387bbe ;font-weight:bold;color:#ffffff ;cursor:pointer;text-shadow:0  1px  1px  #3373a5 ;text-decoration:none;background-image:-webkit-gradient(linear,left top,left bottom,from( #5393c5 ),to( #6facd5 )); background-image:-webkit-linear-gradient( #5393c5,#6facd5 ); background-image:   -moz-linear-gradient( #5393c5,#6facd5 ); background-image:    -ms-linear-gradient( #5393c5,#6facd5 ); background-image:     -o-linear-gradient( #5393c5,#6facd5 ); background-image:        linear-gradient( #5393c5,#6facd5 );  font-family:Helvetica,Arial,sans-serif ;}.ui-btn-active:visited,.ui-btn-active:hover,.ui-btn-active a.ui-link-inherit{color:#ffffff ;}.ui-btn-inner{border-top:1px solid #fff;border-color:rgba(255,255,255,.3);}.ui-corner-tl{-moz-border-radius-topleft:0.4em ;-webkit-border-top-left-radius:0.4em ;border-top-left-radius:0.4em ;}.ui-corner-tr{-moz-border-radius-topright:0.4em ;-webkit-border-top-right-radius:0.4em ;border-top-right-radius:0.4em ;}.ui-corner-bl{-moz-border-radius-bottomleft:0.4em ;-webkit-border-bottom-left-radius:0.4em ;border-bottom-left-radius:0.4em ;}.ui-corner-br{-moz-border-radius-bottomright:0.4em ;-webkit-border-bottom-right-radius:0.4em ;border-bottom-right-radius:0.4em ;}.ui-corner-top{-moz-border-radius-topleft:0.4em ;-webkit-border-top-left-radius:0.4em ;border-top-left-radius:0.4em ;-moz-border-radius-topright:0.4em ;-webkit-border-top-right-radius:0.4em ;border-top-right-radius:0.4em ;}.ui-corner-bottom{-moz-border-radius-bottomleft:0.4em ;-webkit-border-bottom-left-radius:0.4em ;border-bottom-left-radius:0.4em ;-moz-border-radius-bottomright:0.4em ;-webkit-border-bottom-right-radius:0.4em ;border-bottom-right-radius:0.4em ;}.ui-corner-right{-moz-border-radius-topright:0.4em ;-webkit-border-top-right-radius:0.4em ;border-top-right-radius:0.4em ;-moz-border-radius-bottomright:0.4em ;-webkit-border-bottom-right-radius:0.4em ;border-bottom-right-radius:0.4em ;}.ui-corner-left{-moz-border-radius-topleft:0.4em ;-webkit-border-top-left-radius:0.4em ;border-top-left-radius:0.4em ;-moz-border-radius-bottomleft:0.4em ;-webkit-border-bottom-left-radius:0.4em ;border-bottom-left-radius:0.4em ;}.ui-corner-all, .wpb-content-layouts-container .wpb-content-layouts li{-moz-border-radius:0.4em ;-webkit-border-radius:0.4em ;border-radius:0.4em ;}.ui-corner-none{-moz-border-radius:   0;-webkit-border-radius:   0;border-radius:   0;}.ui-br{border-bottom:rgb(130,130,130);border-bottom:rgba(130,130,130,.3);border-bottom-width:1px;border-bottom-style:solid;}.ui-disabled{filter:Alpha(Opacity=30);opacity:.3;zoom:1;}.ui-disabled,.ui-disabled a{cursor:default !important;pointer-events:none;}.ui-icon,.ui-icon-searchfield:after{background:#000000 ;background:rgba(0,0,0,0.3) ;background-image:url(images/icons-18-white.png) ;background-repeat:no-repeat;-moz-border-radius:9px;-webkit-border-radius:9px;border-radius:9px;}.ui-icon-alt{background:#fff;background:rgba(255,255,255,.3);background-image:url(images/icons-18-black.png);background-repeat:no-repeat;}@media only screen and (-webkit-min-device-pixel-ratio:1.5),      only screen and (min--moz-device-pixel-ratio:1.5),      only screen and (min-resolution:240dpi){.ui-icon-plus,.ui-icon-minus,.ui-icon-delete,.ui-icon-arrow-r,.ui-icon-arrow-l,.ui-icon-arrow-u,.ui-icon-arrow-d,.ui-icon-check,.ui-icon-gear,.ui-icon-refresh,.ui-icon-forward,.ui-icon-back,.ui-icon-grid,.ui-icon-star,.ui-icon-alert,.ui-icon-info,.ui-icon-home,.ui-icon-search,.ui-icon-searchfield:after,.ui-icon-checkbox-off,.ui-icon-checkbox-on,.ui-icon-radio-off,.ui-icon-radio-on{background-image:url(images/icons-36-white.png);-moz-background-size:776px 18px;-o-background-size:776px 18px;-webkit-background-size:776px 18px;background-size:776px 18px;}.ui-icon-alt{background-image:url(images/icons-36-black.png);}}.ui-icon-plus{background-position:-0 50%;}.ui-icon-minus{background-position:-36px 50%;}.ui-icon-delete{background-position:-72px 50%;}.ui-icon-arrow-r{background-position:-108px 50%;}.ui-icon-arrow-l{background-position:-144px 50%;}.ui-icon-arrow-u{background-position:-180px 50%;}.ui-icon-arrow-d{background-position:-216px 50%;}.ui-icon-check{background-position:-252px 50%;}.ui-icon-gear{background-position:-288px 50%;}.ui-icon-refresh{background-position:-324px 50%;}.ui-icon-forward{background-position:-360px 50%;}.ui-icon-back{background-position:-396px 50%;}.ui-icon-grid{background-position:-432px 50%;}.ui-icon-star{background-position:-468px 50%;}.ui-icon-alert{background-position:-504px 50%;}.ui-icon-info{background-position:-540px 50%;}.ui-icon-home{background-position:-576px 50%;}.ui-icon-search,.ui-icon-searchfield:after{background-position:-612px 50%;}.ui-icon-checkbox-off{background-position:-684px 50%;}.ui-icon-checkbox-on{background-position:-648px 50%;}.ui-icon-radio-off{background-position:-756px 50%;}.ui-icon-radio-on{background-position:-720px 50%;}.ui-checkbox .ui-icon,.ui-selectmenu-list .ui-icon{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}.ui-icon-checkbox-off,.ui-icon-radio-off{background-color:transparent;}.ui-checkbox-on .ui-icon,.ui-radio-on .ui-icon{background-color:#387bbe ; }.ui-icon-loading{background:url(images/ajax-loader.gif);background-size:46px 46px;}.ui-btn-corner-tl{-moz-border-radius-topleft:0.6em ;-webkit-border-top-left-radius:0.6em ;border-top-left-radius:0.6em ;}.ui-btn-corner-tr{-moz-border-radius-topright:0.6em ;-webkit-border-top-right-radius:0.6em ;border-top-right-radius:0.6em ;}.ui-btn-corner-bl{-moz-border-radius-bottomleft:0.6em ;-webkit-border-bottom-left-radius:0.6em ;border-bottom-left-radius:0.6em ;}.ui-btn-corner-br{-moz-border-radius-bottomright:0.6em ;-webkit-border-bottom-right-radius:0.6em ;border-bottom-right-radius:0.6em ;}.ui-btn-corner-top{-moz-border-radius-topleft:0.6em ;-webkit-border-top-left-radius:0.6em ;border-top-left-radius:0.6em ;-moz-border-radius-topright:0.6em ;-webkit-border-top-right-radius:0.6em ;border-top-right-radius:0.6em ;}.ui-btn-corner-bottom{-moz-border-radius-bottomleft:0.6em ;-webkit-border-bottom-left-radius:0.6em ;border-bottom-left-radius:0.6em ;-moz-border-radius-bottomright:0.6em ;-webkit-border-bottom-right-radius:0.6em ;border-bottom-right-radius:0.6em ;}.ui-btn-corner-right{-moz-border-radius-topright:0.6em ;-webkit-border-top-right-radius:0.6em ;border-top-right-radius:0.6em ;-moz-border-radius-bottomright:0.6em ;-webkit-border-bottom-right-radius:0.6em ;border-bottom-right-radius:0.6em ;}.ui-btn-corner-left{-moz-border-radius-topleft:0.6em ;-webkit-border-top-left-radius:0.6em ;border-top-left-radius:0.6em ;-moz-border-radius-bottomleft:0.6em ;-webkit-border-bottom-left-radius:0.6em ;border-bottom-left-radius:0.6em ;}.ui-btn-corner-all{-moz-border-radius:0.6em ;-webkit-border-radius:0.6em ;border-radius:0.6em ;}.ui-corner-tl,.ui-corner-tr,.ui-corner-bl,.ui-corner-br,.ui-corner-top,.ui-corner-bottom,.ui-corner-right,.ui-corner-left,.ui-corner-all,.ui-btn-corner-tl,.ui-btn-corner-tr,.ui-btn-corner-bl,.ui-btn-corner-br,.ui-btn-corner-top,.ui-btn-corner-bottom,.ui-btn-corner-right,.ui-btn-corner-left,.ui-btn-corner-all{ -webkit-background-clip:padding-box;     -moz-background-clip:padding;          background-clip:padding-box;}.ui-overlay{background:#666;filter:Alpha(Opacity=50);opacity:.5;position:absolute;width:100%;height:100%;}.ui-overlay-shadow{-moz-box-shadow:0px 0px 12px rgba(0,0,0,.6);-webkit-box-shadow:0px 0px 12px rgba(0,0,0,.6);box-shadow:0px 0px 12px rgba(0,0,0,.6);}.ui-shadow{-moz-box-shadow:0px 1px 4px  rgba(0,0,0,0.1) ;-webkit-box-shadow:0px 1px 4px  rgba(0,0,0,0.1) ;box-shadow:0px 1px 4px  rgba(0,0,0,0.1) ;}.ui-bar-a .ui-shadow,.ui-bar-b .ui-shadow,.ui-bar-c .ui-shadow {-moz-box-shadow:0px 1px 0 rgba(255,255,255,.3);-webkit-box-shadow:0px 1px 0 rgba(255,255,255,.3);box-shadow:0px 1px 0 rgba(255,255,255,.3);}.ui-shadow-inset{-moz-box-shadow:inset 0px 1px 4px rgba(0,0,0,.2);-webkit-box-shadow:inset 0px 1px 4px rgba(0,0,0,.2);box-shadow:inset 0px 1px 4px rgba(0,0,0,.2);}.ui-icon-shadow{-moz-box-shadow:0px 1px 0 rgba(255,255,255,.4) ;-webkit-box-shadow:0px 1px 0 rgba(255,255,255,.4) ;box-shadow:0px 1px 0 rgba(255,255,255,.4) ;}.ui-btn:focus,.ui-link-inherit:focus{outline:0;}.ui-btn.ui-focus{z-index:1;}.ui-focus,.ui-btn:focus{-moz-box-shadow:inset 0px 0px 3px #387bbe,0px 0px 9px #387bbe ;-webkit-box-shadow:inset 0px 0px 3px #387bbe,0px 0px 9px #387bbe ;box-shadow:inset 0px 0px 3px #387bbe,0px 0px 9px #387bbe ;}.ui-input-text.ui-focus,.ui-input-search.ui-focus{-moz-box-shadow:0px 0px 12px #387bbe ;-webkit-box-shadow:0px 0px 12px #387bbe ;box-shadow:0px 0px 12px #387bbe ;}.ui-mobile-nosupport-boxshadow *{-moz-box-shadow:none !important;-webkit-box-shadow:none !important;box-shadow:none !important;}.ui-mobile-nosupport-boxshadow .ui-focus,.ui-mobile-nosupport-boxshadow .ui-btn:focus,.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus{outline-width:1px;outline-style:auto;}


.ui-simpledialog-screen-modal{background-color:#ffffff;-moz-opacity:.8;opacity:.80;filter:alpha(opacity=80);}
.ui-simpledialog-container {min-width:290px;}
.ui-simpledialog-container .slide-options,.ui-simpledialog-controls {padding:10px;} 
.ui-simpledialog-container .slide-options label {font-size:14px;line-height:20px;display:block;}
.ui-simpledialog-container .slide-options h3 {padding:0 !important;}
.ui-simpledialog-screen{position:absolute;top:0;left:0;width:100%;height:100%;}
.ui-simpledialog-hidden{display:none;}


.update_options.ui-btn-right {float:right;margin-top:0.1em !important;}
.upload_button {margin-top:-1px !important;}
.meta-box-sortables, #nv_meta_boxes {background:none !important;}

.ui-btn-up-c.documentation_link{margin-top:1px !important;}
.ui-field-contain input.ui-input-text.upload {max-width:65%;}
span.tooltip-icon, span.title-text {float:left;}span.tooltip-icon{margin-left:12px;margin-top:-6px;}

div.ui-page-active {position:relative !important;}#navgroup {text-align:center;}#navgroup div {display:inline-block;}#optionsframework .section{padding:1.6em 15px 1.3em 15px;}.section.hidden{display:none;}#poststuff h2.nav-tab-wrapper {padding:0;margin-top:0;}

.cmb_metabox_description { color: #AAA; font-style: italic; margin: 5px 0 5px 22%;display:block;}.cmb_metabox_description.left {margin-left:0;}input.of-color {max-width:100px;}.colorpicker{z-index:99;}.colorSelector.typo{margin-left:15px;}.upload_button{float:none !important;}div.upload-wrap{margin-bottom:15px;}
.cmb_metabox_title { margin: 0 0 5px 0; padding: 5px 0 0 0; font: italic 24px/35px Georgia,"Times New Roman","Bitstream Charter",Times,serif;}
.customize-control-heading .cmb_metabox_title {font-size:18px;}

#optionsframework .screenshot {margin-left:1px;position:relative;width:344px;margin-top:10px;}
#optionsframework .screenshot img {background:#FAFAFA;border:#ccc solid 1px;max-width:334px;padding:4px;margin-bottom:10px;display:block;}
#optionsframework span.file_link {margin-right:15px;}

span.image-text{display:block;}
.hidden {display:none;}

li.ui-field-contain.medium .ui-slider-switch {width:8em;}li.ui-field-contain {margin:0;padding:1.6em 0 1.3em 0;background:url(images/divider.png) repeat-x bottom;border:none;}
#shortcode-select-wrap {margin-bottom:15px;}#shortcode-select-wrap li.ui-field-contain {padding:1.6em 1em 1.6em 1em;}
div.shortcode-content li.ui-field-contain, div.shortcode-content.ui-content {border:0;}div.shortcode-content li.ui-field-contain {padding:1.6em 1em 1.3em 1em;}
#shortcode-select-wrap .ui-select {width:100%;}.insert-shortcode.ui-btn.ui-mini {float:right;margin:1.6em 1em 0 0;}
.shortcodes-container .ui-header,.shortcodes-container .ui-footer {border-left:0;border-right:0;}.shortcodes-container {margin:0;font-size:12px;}
.child-row-remove-wrap {margin-top:30px;}
.child-row-add-wrap {margin-top:5px;}


.media-image-gallery {position: relative;background:url(images/divider.png) repeat-x top;margin-bottom:30px;}
#selected-slide-none {width: 128px;height: 96px;margin: 40px auto;background: url('../images/arrow_down.png');}

.selected-slide-wrapper img {
 display: block;
}

.selected-slide-wrapper {
 position: relative;
 cursor: pointer;
}

.cmb_upload_file {width:60% !important;}
.cmb_upload_button_wrap {width:17%;float:right;margin-top:-3px;}
.cmb_upload_status img {width:100px;height:100px;}
.cmb_upload_status {margin-left:22%;}

div.selected-slide {min-height: 100px;position: relative;}

.selected-slide ul li,
.media-image-gallery ul li {float: left;margin: 0 15px 15px 0;}

.selected-slide ul li img {width:100px;height:69px;}

li.slide-init {padding: 6px;}

.selected-slide-element {
 position: absolute;
 top: 0;
 right: 0;
 height:100%;
}

.remove-slide,.edit-slide {
 position:absolute !important;
 border-radius: 0; 
 border-bottom-left-radius: 1.2em; 
 border-top-left-radius: 1.2em;  
 right:-7px;
}

.remove-slide {
 top:-13px;
 border-top-left-radius: 0; 
}

.edit-slide {
 top:18px;
}

.slide-options-wrapper {
 position: absolute !important;
 z-index: 2;
 display: none;
}

li.default-slide {
 display: none;
}

.slide-manager .cmb_metabox_description {margin-left:0;}
.media-title {display:none;}

.media-image-gallery ul li img {padding: 6px;cursor: pointer;width: 70px;height: 70px;display: block;}

.media-gallery-nav {position:absolute;bottom:-30px;}
.media-gallery-nav ul {margin:0;}
.media-gallery-nav ul li { height:24px;width:24px;line-height:24px;margin:0 8px 0 0;text-align:center;}
.media-gallery-nav ul a li {color: #bbb;}
.media-gallery-nav ul a li.nav-first {background: #f1f1f1 url(images/icons-18-black.png) -142px 50%;}
.media-gallery-nav ul a li.nav-last {background: #f1f1f1 url(images/icons-18-black.png) -107px 50%;}
.media-gallery-nav ul a:hover li {cursor: pointer;}

.media-image-gallery ul li.add-blank-slide {position:relative;width:84px;height:84px;max-height:84px;background:none !important;padding:0 !important;border:0;}

.media-image-gallery ul li.add-blank-slide a {margin:0;height:82px;}
.media-image-gallery ul li.add-blank-slide a .ui-btn-text {white-space:normal;}

.wp-core-ui #TB_window {
 z-index:500003;
}

.wp-core-ui #TB_overlay {
 z-index:500001;
}

.slider-placeholder {
 float: left;
}

#customize-header-actions a.back.button {margin-top:10px;}
#customize-control-new_skin_id {display:none;}

.clear {clear:both;}

.range-slider { width:75%; }
.range-value { position:absolute;right:10px;margin-top:-8px !important;width:18% !important; }

.range-slider.ui-slider { position: relative; text-align: left;border:#dfdfdf 1px solid;background-color:#f9f9f9; }
.range-slider.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.range-slider.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.range-slider.ui-slider .ui-slider-handle {
 border:1px solid #ddd;	
 -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1); -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1); box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 background: #f3f3f3;
 background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f4f4f4));
 background-image: -webkit-linear-gradient(top,#fefefe,#f4f4f4);
 background-image: -moz-linear-gradient(top,#fefefe,#f4f4f4);
 background-image: -o-linear-gradient(top,#fefefe,#f4f4f4);
 background-image: linear-gradient(to bottom,#fefefe,#f4f4f4);
}

.range-slider.ui-slider-horizontal { height: .8em; }
.range-slider.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.range-slider.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.range-slider.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.range-slider.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.range-slider.ui-slider-vertical { width: .8em; height: 100px; }
.range-slider.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.range-slider.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.range-slider.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.range-slider.ui-slider-vertical .ui-slider-range-max { top: 0; }

/* Visual Composer */
.wpb_bootstrap_modals .modal {background-color:#f9f9f9;}
.wpb_bootstrap_modals .modal-header h3 {box-shadow:none;}

#visual_composer_content .tab_controls button {padding:4px 4px 4px 24px;color:#555;font-weight:normal;}
.tab_controls button:hover {background-color:transparent;}
.wpb_initialized {margin-top:8px;}

.wpb_element_wrapper  img.url {height:50px;}
.wpb_element_wrapper.alignleft,.wpb_element_wrapper.alignright {float:none;}

#visual_composer_content .wpb_list .wpb_element_wrapper,#visual_composer_content .wpb_pricing_table .wpb_element_wrapper,
#visual_composer_content .wpb_socialwrap .wpb_element_wrapper { height:auto; }
#visual_composer_content .wpb_accordion_holder .ui-icon { background:none; }

.nv_options .wpb_element_wrapper {background-position:center center;background-repeat:no-repeat;}

.wpb_pricing_table .tab_controls, .wpb_socialwrap .tab_controls {position:static;}
#visual_composer_content .wpb_pricing_table .wpb_element_wrapper,
#visual_composer_content .wpb_socialicon .wpb_element_wrapper,
#visual_composer_content .nv_options.social_wrap {padding: 10px;}
#visual_composer_content .wpb_pricing_table .group,
#visual_composer_content .wpb_socialicon {float:left;}

#visual_composer_content .wpb_socialicon {width:120px;margin-bottom:5px;}
#visual_composer_content .wpb_socialicon .wpb_element_title {display:none;}

.wpb_pricing_table_holder .pricing_wrapper {
 background: #FFFFFF;
 border: 1px solid #DDDDDD;
 text-align:center;
 margin: 2px 5px;
}

#visual_composer_content .wpb_pricing_table_holder .group h3 a {
 padding: 0;
 margin-bottom: 10px;	
 font-weight: normal;
 text-decoration:none;
 text-align:center;
}

.wpb_pricing_table > .wpb_element_wrapper > .tab_controls .add_tab,
.wpb_socialwrap > .wpb_element_wrapper > .tab_controls .add_tab {
 background: #FFFFFF url(../inc/js_composer/assets/vc/add.png) no-repeat 5px center;
}
.wpb_pricing_table > .wpb_element_wrapper > .tab_controls .add_tab {
 margin-left:5px;
}

.wpb_bootstrap_modals [class^="icon-"], .wpb_bootstrap_modals [class*=" icon-"]{display:inline-block;background-repeat:no-repeat;background-position:0 0;background-image:url(images/icon_sprite.png) !important;width:16px !important;height:16px !important;}

.wpb_bootstrap_modals li i.icon-accordiongallery{background-position:-21px 0;}
.wpb_bootstrap_modals li i.icon-nivogallery{background-position:-42px 0;}
.wpb_bootstrap_modals li i.icon-list{background-position:-63px 0;}
.wpb_bootstrap_modals li i.icon-wpb-pinterest{background-position:-84px 0;}
.wpb_bootstrap_modals li i.icon-divider{background-position:-105px 0;}
.wpb_bootstrap_modals li i.icon-wpb-map-pin{background-position:-126px 0;}
.wpb_bootstrap_modals li i.icon-gridgallery{background-position:-147px 0;}
.wpb_bootstrap_modals li i.icon-stagegallery{background-position:-168px 0;}
.wpb_bootstrap_modals li i.icon-dropcap{background-position:-189px 0;}
.wpb_bootstrap_modals li i.icon-audio{background-position:-210px 0;}
.wpb_bootstrap_modals li i.icon-image{background-position:-231px 0;}
.wpb_bootstrap_modals li i.icon-contact{background-position:-252px 0;}
.wpb_bootstrap_modals li i.icon-wpb-balloon-facebook-left{background-position:-273px 0;}
.wpb_bootstrap_modals li i.icon-wpb-ui-tab-content-vertical{background-position:-294px 0;}
.wpb_bootstrap_modals li i.icon-wpb-application-plus{background-position:-315px 0;}
.wpb_bootstrap_modals li i.icon-wpb-ui-tab-content{background-position:-336px 0;}
.wpb_bootstrap_modals li i.icon-quote{background-position:-357px 0;}
.wpb_bootstrap_modals li i.icon-wpb-layout_sidebar{background-position:-378px 0;}
.wpb_bootstrap_modals li i.icon-video{background-position:-399px 0;}
.wpb_bootstrap_modals li i.icon-pricing{background-position:-420px 0;}
.wpb_bootstrap_modals li i.icon-islidergallery{background-position:-441px 0;}
.wpb_bootstrap_modals li i.icon-wpb-layer-shape-text{background-position:-462px 0;}
.wpb_bootstrap_modals li i.icon-animator{background-position:-483px 0;}
.wpb_bootstrap_modals li i.icon-tooltip{background-position:-504px 0;}
.wpb_bootstrap_modals li i.icon-wpb-tweetme{background-position:-525px 0;}
.wpb_bootstrap_modals li i.icon-stylebox{background-position:-546px 0;}
.wpb_bootstrap_modals li i.icon-toggle{background-position:-567px 0;}
.wpb_bootstrap_modals li i.icon-wpb-ui-accordion{background-position:-588px 0;}
.wpb_bootstrap_modals li i.icon-groupgallery{background-position:-609px 0;}
.wpb_bootstrap_modals li i.icon-wpb-row{background-position:-630px 0;}
.wpb_bootstrap_modals li i.icon-button{background-position:-651px 0;}

.nv_options.pricing_table,.nv_options.social_wrap .wpb_element_wrapper, .nv_options.social_wrap {background-image:none;}
.nv_options.grid .wpb_element_wrapper {background-image:url(../images/gallery-e.png);}