.ui-btn-up-c.documentation_link,
.ui-btn-hover-c.documentation_link:hover,
div.updated.get_started {
color:#fff !important;
text-shadow:0  1px  0  #4cb16e ;
border:1px solid #5fd085 ;
background:#58c57a ;
background-image:-webkit-gradient(linear,left top,left bottom,from( #71e29e ),to( #5fd085 ));
background-image:-webkit-linear-gradient( #71e29e,#5fd085 );
background-image:   -moz-linear-gradient( #71e29e,#5fd085 );
background-image:    -ms-linear-gradient( #71e29e,#5fd085 );
background-image:     -o-linear-gradient( #71e29e,#5fd085 );
background-image:        linear-gradient( #71e29e,#5fd085 );}

div.updated.get_started,
div#setting-error-tgmpa {padding:10px;font-size:14px;margin:15px 0 5px 0;}
div.updated.get_started a,
div#setting-error-tgmpa a {color:#fff;}

div#setting-error-tgmpa {
color:#fff;
padding:0 10px;
text-shadow:0  1px  0  #7459a0;
border:1px solid #8768b9 ;
background:#cc6cd7 ;
background-image:-webkit-gradient(linear,left top,left bottom,from( #ae8ddb ),to( #9677c9 ));
background-image:-webkit-linear-gradient( #ae8ddb,#9677c9 );
background-image:   -moz-linear-gradient( #ae8ddb,#9677c9 );
background-image:    -ms-linear-gradient( #ae8ddb,#9677c9 );
background-image:     -o-linear-gradient( #ae8ddb,#9677c9 );
background-image:        linear-gradient( #ae8ddb,#9677c9 );}

div#setting-error-tgmpa strong {font-weight:normal;}

div#setting-error-tgmpa strong em,
div#setting-error-tgmpa strong a {font-weight:bold;}