<?php //pr($template);?>
<h1 class="border_bottom_1">Select Template</h1>
<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
			<h2><?php echo __('Basic')?></h2>
            <?php /*?><button class="button dark" data-target="register" onclick="App.redirect({
				controller : 'Templates',
				action : 'index'
			})"><?php echo __('Back to ' . $page_heading . ' Listing') ?></button><?php */?>
		</div>
		<!-- End Header -->

		<div class="body">
        	<div id="ajax_response">
            	<?php echo $this->element('medication_search_listing'); ?>
            </div>
            <br clear="all" />
		</div>
	</div>
</section>

<section class="grid_12">
	<!-- begin box -->


	

		<div class="body">
        	<button type="button" onclick="App.redirect({
				controller : 'Templates',
				action : 'index'
			})" class="button green small">Back</button>
		</div>

</section>
