<script> setTimeout('window.location.href=window.location.href;', 30000);
</script>
<?php //pr($order);  ?>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
			<h2>Order Listings </h2>
			<?PHP echo $this->Html->link('New Order', '/orders/add', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'

//App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading)     ?></button>

		</div>
		<!-- End Header -->
		<div class="body">
			<hr/>
			<table class="display dataTable">
                <thead>
					<tr>
						<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');      ?></th>
						<th class="sorting">Order Id<?php //echo $this->Paginator->sort('name');      ?></th>
						<th class="sorting">Order Type<?php //echo $this->Paginator->sort('name');      ?></th>
						<th class="sorting">Customer Name<?php //echo $this->Paginator->sort('name');      ?></th>
						<th class="sorting">Status<?php //echo $this->Paginator->sort('name');      ?></th>

						<th >Action<?php // echo __('Action');      ?></th>

					</tr>
                </thead>
                <tbody>
					<?php
					//pr($orders);
					//exit;
					if (!empty($orders)) {
						$counter = 1;
						foreach ($orders as $results) {
							
							$ordertype= $results['orders']['ordertype'];
							if($ordertype == 'Dine In' ){
								$color = "#33FFFF";								
							}elseif($ordertype == 'Take Away' ){
								 $color = "#66FF99";
							}elseif($ordertype == 'Delivery' ){
								 $color ="#CC66FF";
							}else $color = "none";
							
							
							?>

							<tr class="odd_gradeX" style="background-color:<?php echo  $color ?>" >
								<td class="center"><?php echo $counter; ?></td>
								<td class="center"><?php echo ($results['orders']['id']); ?></td>
								<td class="center"><?php echo ($results['orders']['ordertype']); ?></td>
								<td class="center"><?php echo ($results['info']['name']); ?></td>

								<td class="center">   <?php echo $this->Html->link(__($results['orders']['order_status']), array('action' => 'edit', $results['orders']['id'])); ?>


								<td class="actions" align="center">
									<?php echo $this->Html->link(__('Details'), array('controller' => 'orders', 'action' => 'view', $results['orders']['id'])); ?> |
									<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $results['orders']['id'])); ?> |
									<?php
									echo $this->Html->link('Delete', array('action' => 'delete', $results['orders']['id']), null, 'Are you sure ');
									$counter++;
									?>


								</td>
							</tr>

							<?php
						}
					} else {
						?>
						<tr>
							<td colspan="6">No records found</td>
						</tr>
						<?php
					}
					?>
			</table>
			<?php
			?>


			</tbody>
			</table>
		</div>
		<!-- End box body -->
	</div>



	<!-- End box -->
</section>












