/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */































/*















 * Custom Style Sheet - Use this file to style your content















 */























.logo-custom {
	background-size: contain !important;
	margin: 7px 0 0;
	float: right;
	height: 95px;
	width: 224px;
	background-image: url(../../../images/logo/blue.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
}















/* Only Phones */







@media (max-width: 767px) {
.logo-custom {
	margin-left: 5px;
	;
}
}
.slogan {
	margin: 30px 0px 0px 185px;
	font-size: 10px;
	text-align: right;
}
#logo {
	color: #606060;
}
.page {
	color: #606060;
	background: #fafafa;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
a {
	color: #901215;
}
a:hover {
	color: #b8161a;
}
.wrapper {
	border: 0px solid red;
	padding-bottom: 0px;
}
.shadow-body {
	background: #f9f9f9;
	border: 0px solid #DDDDDD;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}
#toolbar {
	line-height: 28px;
	font-size: 12px;
	margin-bottom: 0px;
	margin: 5px 0px 0px 0px;
	color: #868686;
	border-bottom: 1px solid #901215;
}
.searchbox {
	position: relative;
	background-color: rgba(175, 175, 175, 0.1);
	background-position: 0 50%;
	background-repeat: no-repeat;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 12px 0 0 12px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
	line-height: 1.5em;
	margin: 1px 0 3px;
	min-height: 19px;
	right: 5px;
	top: 8px;
}
.searchbox input {
	background: none repeat scroll 0 0 transparent;
	border: 0px solid #ffffff;
	float: left;
	padding: 0;
	width: 100%;
	font-size: 14px;
	height: 26px;
}
.searchbox input[type="text"] {
	border: 0;
}
.searchbox .results {
	top: 40px;
	right: 0px;
	width: 300px;
	border: 1px solid #ddd;
	background: #F5F5F5;
	background: -moz-linear-gradient(top, #F5F5F5 0%, #F8F8F8 100%);
	background: -webkit-linear-gradient(top, #F5F5F5 0%, #F8F8F8 100%);
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border: 0px solid red;
}
.searchbox input[type="text"]:hover, .searchbox input[type="text"]:focus {
	background: none;
}
.searchbox .results li.result h3 {
	color: #901215;
}
#header {
	border: 0px solid red;
	margin: 0px;
}
#headerbar {
	border: 0px solid red;
	margin-bottom: 0px;
	padding: 10px 0px;
}
#headerbar .module {
	border: 0px solid red;
	width: 30%;
	margin: 17px 0px;
}
/* ****************** Contact Iheader bar ******************* */































ul.contact-headerbar {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #606060;
}
ul.contact-headerbar li {
	margin-top: 5px;
	padding-right: 0px;
	/*















  background: url(../images/icons_contact.png) no-repeat;















*/















	background: none;
	text-align: right;
}
ul.contact-headerbar li:first-child {
	margin-top: 0;
}
ul.contact-headerbar li a {
	color: #606060;
}
ul.contact-headerbar li.location {
	background-position: right -250px;
}
ul.contact-headerbar li.email {
	background-position: right -500px;
}
ul.contact-headerbar li.phone {
	background-position: right -750px;
	font-size: 17px;
}
#menubar {
	background: none transparent;
	/*



background: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;



background: -webkit-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;



* border: 1px solid #E5E5E5;



 */







	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ededed;
	height: 50px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
}
/*slide show */































.colorcaps .wk-slideshow .caption {
	position: absolute;
	left: 60%;
	right: 0;
	bottom: 0;
	z-index: 5;
	padding: 10px;
	background: rgba(0,0,0,0.7);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	border-left: 3px solid rgba(144,18,21,0.7);
	border-top: 3px solid rgba(144,18,21,0.7);
}















/* Only Phones */







@media (max-width: 767px) {
.colorcaps .wk-slideshow .caption {
	display: none;
	padding: 0px;
	background: none;
	border-left: 0;
	border-top: 0;
}
}
/* ---  Navigation --- */















.wk-slideshow-default .nav span, .wk-slideshow-default .nav span {
	width: 25px;
	height: 5px;
	background: rgba(0,0,0,0.7);
	overflow: hidden;
}
.wk-slideshow-default .nav span:hover {
	background: rgba(151,151,151,0.7);
}
.wk-slideshow-default .nav span:active {
	background: rgba(144,18,21,0.7);
}
.wk-slideshow-default .nav .active span {
	background: rgba(144,18,21,0.7);
}
.colorcaps .wk-slideshow-default .caption h1, .colorcaps .wk-slideshow-default .caption h2, .colorcaps .wk-slideshow-default .caption h3, .colorcaps .wk-slideshow-default .caption h4, .colorcaps .wk-slideshow-default .caption h5, .colorcaps .wk-slideshow-default .caption h6 {
	margin-top: 0px;
}
.colorcaps .wk-slideshow-default .caption p {
	margin-bottom: 0px;
}
.colorcaps .wk-slideshow-default .nav {
	margin-top: -38px;
	text-align: right;
	position: absolute;
	z-index: 10;
	left: 10px;
	padding: 8px 8px 0px 8px;
}
.clients-feed .wk-slideshow-default .nav, .clients-logo .wk-slideshow-default .nav, .recent-projects .wk-slideshow-default .nav {
	position: absolute;
	z-index: 10;
	right: 0px;
	top: -60px;
}
/* Buttons















----------------------------------------------------------------------------------------------------*/















.wk-slideshow-default > div:hover .next {
	right: 0px;
	background-position: 0 0;
}
.wk-slideshow-default > div:hover .prev {
	left: 0px;
	background-position: 0 -50px;
}
.clients-logo {
	min-height: 160px;
}
.clients-logo img {
	opacity: 0.7;
	filter: alpha(opacity=70);
	border: none;
	min-height: 123px;
}
.clients-logo img:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
/*Spot Light*/































.spotlight .overlay-default {
	background: rgba(255,255,255,0.4) url(../images/magnifier.png) 50% 50% no-repeat;
}
.spotlight .overlay {
	background: rgba(255,255,255,0.4);
}
.spotlight .overlay, .spotlight .overlay a {
	color: #000;
}
/*--   Widgetkit Twitter --*/































#bottom-c .wk-twitter-list article {
	border: 0;
	padding: 0px 0px 10px 30px;
	border-bottom: 1px dotted #4f4f4f;
	background: url(../images/tweet.png) 0% 0% no-repeat;
}
.mod-box {
	margin: 5px;
	border: 0;
}
.mod-line {
	padding: 20px;
	margin: 0px;
}
.module-title {
	color: #707070;
	padding-bottom: 10px;
	border-bottom: 1px solid #ededed;
}
.module-title span.color {
	color: #901215;
}
.color-style {
	color: #901215;
	text-shadow: #ffffff;
}
span.color {
	color: #901215;
}
.module .module-title .icon {
	top: -6px;
}
.module .badge {
	top: 15px;
}
/* Top-a */















#top-a {
	border: 0px solid red;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
#top-a div.mod-box {
}
#top-a div.mod-line {
	padding: 0px;
}
#top-a .colorcaps {
	border-bottom: 4px solid #f2f2f2;
}
#top-a div.module h3.module-title {
}
#top-a div.module p {
}
#top-a div.module p.no-margin {
}
#top-a div.module p.no-margin img {
	width: 100%;
}
/* Top-a */















#top-b {
	border: 0px solid red;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	background: url(../images/top-bg.png) 0 100% repeat-x;
}
#top-b div.mod-box {
	border: 0px solid red;
}
#top-b div.mod-line {
	border: 0px solid red;
	padding: 20px;
}
#top-b div.module h3.module-title {
}
#top-b div.module p {
}
#top-b div.module p.no-margin {
}
#top-b div.module p.no-margin img {
	width: 100%;
}
/* Top-c */















#top-c {
	border: 0px solid red;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	padding-bottom: 5px;
}
#top-c div.mod-box {
	border: 0px solid red;
}
#top-c div.mod-line {
	border: 0px solid red;
}
#top-c div.module h3.module-title {
}
#top-c div.module p {
}
#top-c div.module p.no-margin {
}
#top-c div.module p.no-margin img {
	width: 100%;
}
/*breadcrumbs*/















#breadcrumbs {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	margin: 0px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
#breadcrumbs .breadcrumbs {
	border: 0px solid red;
	padding: 5px 15px;
	margin: 5px;
}
#breadcrumbs .breadcrumbs strong {
	font-weight: normal;
}
.breadcrumbs a, .breadcrumbs > span {
	background-position: 100% 55%;
}
/*Main*/















#main {
	border: 0px solid red;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
#main #maininner {
	border: 0px solid red;
}
#main #maininner #content {
	border: 0px solid red;
	padding: 15px;
	margin: 5px;
}
#main #maininner #content h3.module-title {
}
#main #maininner #content h3 {
	margin-top: 0px;
}
/* innerbottom */















#innertop {
	border: 0px solid red;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
#innertop div.mod-box {
	border: 0px solid red;
}
#innertop div.mod-line {
	border: 0px solid red;
}
#innertop div.module h3.module-title {
}
#innertop div.module p {
}
#innertop div.module p.no-margin {
}
#innertop div.module p.no-margin img {
	width: 100%;
}
/* innerbottom */















#innerbottom {
	border: 0px solid red;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
#innerbottom div.mod-box {
}
#innerbottom div.mod-line {
	border: 0px solid red;
}
#innerbottom div.module h3.module-title {
}
#innerbottom div.module p {
}
#innerbottom div.module p.no-margin {
}
#innerbottom div.module p.no-margin img {
	width: 100%;
}
/* sidebar-b */















#sidebar-a {
	border: 0px solid red;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
#sidebar-a div.mod-box {
	border: 0px solid red;
}
/* sidebar-b */















#sidebar-b {
	border: 0px solid red;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
#sidebar-b div.mod-box {
	border: 0px solid red;
}
img.m-rgt-bot {
	margin: 3px 15px 15px 0px;
}
img.m-lft-bot {
	margin: 3px 0px 15px 15px;
}
.bottom-ab {
}
/* Bottom-B */















#bottom-a {
	border: 0px solid red;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
#bottom-a div.mod-box {
	border: 0px solid red;
}
#bottom-a div.mod-line {
	border: 0px solid red;
}
#bottom-a div.module h3.module-title {
}
#bottom-a div.module p {
}
#bottom-a div.module p.no-margin {
}
#bottom-a div.module p.no-margin img {
	width: 100%;
}
/* Bottom-B */















#bottom-b {
	border: 0px solid red;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}
#bottom-b div.mod-box {
}
#bottom-b div.mod-line {
}
#bottom-b div.module h3.module-title {
}
#bottom-b div.module p {
}
#bottom-b div.module p.no-margin {
}
#bottom-b div.module p.no-margin img {
	width: 100%;
}
/* Bottom-c */















#bottom-c {
	background: #3c3c3c;
	color: #979797;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	border: 0px solid red;
}
#bottom-c div.mod-box {
	border: 0px solid red;
}
#bottom-c div.mod-line {
	border: 0px solid red;
}
#bottom-c div.module h3.module-title {
	border-bottom: 1px solid #505050;
	color: #fcfcfc;
}
#bottom-c div.module h3.module-title span.color {
	color: #fcfcfc;
}
#bottom-c div.module p {
}
#bottom-c div.module p.no-margin {
}
#bottom-c div.module p.no-margin img {
	width: 100%;
}
#bottom-c div.module p.no-margin img {
	width: 100%;
}
#bottom-c a {
	color: #979797;
}
#bottom-c a:hover {
	color: #e6e6e6;
}
/* Bottom-D */















#bottom-d {
	background: #292929;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	line-height: 28px;
	border: 0px solid red;
	color: #979797;
}
#bottom-d .module {
	margin: 10px 15px 10px 15px;
	padding: 0px 5px 0px 5px;
}
#bottom-d div.mod-box {
	border: 1px solid red;
}
#bottom-d div.mod-line {
	border: 0px solid red;
}
#bottom-d div.module h3.module-title {
}
#bottom-d div.module p {
}
#bottom-d div.module p.no-margin {
}
#bottom-d div.module p.no-margin img {
	width: 100%;
}
#bottom-d div.module p.no-margin img {
	width: 100%;
}
#bottom-d a {
	color: #979797;
}
#bottom-d a:hover {
	color: #e6e6e6;
}
#footer {
	background: #292929;
	border: 0px solid red;
	margin: 0px;
	padding: 10px;
	color: #8c8c8c;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
}
#footer .module {
	padding: 5px;
}
#footer a {
	color: #979797;
}
#footer a:hover {
	color: #e6e6e6;
}
.mod-box-grey, .mod-line-grey {
	background: #f5f5f5;
	background: -moz-radial-gradient(50% 0%, #f5f5f5 0%, #e7e7e7 50%, #dcdcdc 100%); /* Firefox */
	background: -webkit-radial-gradient(50% 0%, #f5f5f5 0%, #e7e7e7 50%, #dcdcdc 100%); /* Safari, Chrome */
	color: #4f4f50;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
.mod-box-black, .mod-line-black {
	background: #59595b;
	background: -moz-radial-gradient(50% 0%, #59595b 0%, #545458 50%, #4a4a4e 100%); /* Firefox */
	background: -webkit-radial-gradient(50% 0%, #59595b 0%, #545458 50%, #4a4a4e 100%); /* Safari, Chrome */
	color: #d4d4d4;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.mod-box-color, .mod-line-color {
	background: #901215;
	background: -moz-radial-gradient(50% 0%, #901215 0%, #41b2c6 50%, #149ab3 100%); /* Firefox */
	background: -webkit-radial-gradient(50% 0%, #901215 0%, #41b2c6 50%, #149ab3 100%); /* Safari, Chrome */
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
.mod-line-color, .mod-line-black, .mod-line-grey {
	margin-right: -1px
}
.mod-box-grey h3.module-title, .mod-line-grey h3.module-title {
	color: #4f4f50;
	background: none;
	border: none;
}
.mod-box-grey h3.module-title span.color, .mod-line-grey h3.module-title span.color {
	color: #4f4f50;
}
.mod-box-black h3.module-title, .mod-line-black h3.module-title {
	color: #d4d4d4;
	background: none;
	border: none;
}
.mod-box-black h3.module-title span.color, .mod-line-black h3.module-title span.color {
	color: #d4d4d4;
}
.mod-box-color h3.module-title, .mod-line-color h3.module-title {
	color: #ffffff;
	background: none;
	border: none;
}
.mod-box-color h3.module-title span.color, .mod-line-color h3.module-title span.color {
	color: #ffffff;
}
/*to-top scroller*/















#totop-scroller {
	top: 100%;
	width: 35px;
	height: 25px;
}
#totop-scroller {
	background-position: 50% 0;
}
#totop-scroller:hover {
	background-position: 50% -31px;
}
/* Social Icons















----------------------------------------------------------------------------------------------------*/































.social-icons {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	float: left;
}
.social-icons li {
	float: left;
	margin-left: 4px;
	line-height: 32px;
	border: 0px solid red;
}
.social-icons li:first-child {
	margin-left: 0;
	padding-left: 0;
	background: none;
}
.social-icons li a img {
	display: inline-block;
	height: 32px;
	width: 32px;
	float: left;
	opacity: 100;
	filter: alpha(opacity=100);
	border: none;
	box-shadow: 0 0 0;
}
.social-icons li a img:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#headerbar .social-icons {
	margin-top: 10px;
	float: right;
}
#bottom-c .social-icons {
	margin-top: 20px;
	float: left;
}
/* Buttons (Needed for System Markup) */































/* fahmi */































.links a, a.button-more {
	position: relative;
	height: 25px;
	margin: 0px;
	padding: 0 10px;
	background-image: url(../images/button-more1.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-color: #fff;
	line-height: 25px;
	color: #777777;
	text-transform: none;
	border: 1px solid #d9d9d9;
	border-bottom: 1px solid #bfbfbf;
	font-size: 12px;
	letter-spacing: 0px;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	display: inline-block;
	border-radius: 1px 1px 1px 1px;
	-o-transition: color .2s ease-out, border 0.2s ease-in;
	-ms-transition: color .2s ease-out, border 0.2s ease-in;
	-moz-transition: color .2s ease-out, border 0.2s ease-in;
	-webkit-transition: color .2s ease-out, border 0.2s ease-in;
	transition: color .2s ease-out, border 0.2s ease-in;
}
.links a:hover, a.button-more:hover {
	color: #901215;
	border: 1px solid #901215;
}
/*color button  */































a.button-color {
	position: relative;
	height: 25px;
	margin: 0px;
	padding: 0 10px;
	background-image: url(../images/color-blue.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	line-height: 25px;
	color: #ffffff;
	text-transform: none;
	border: 1px solid #198b9f;
	border-top: 1px solid #26a9c0;
	font-size: 12px;
	letter-spacing: 0px;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	display: inline-block;
	border-radius: 1px 1px 1px 1px;
}
a.button-color:hover {
	color: #dfdfdf;
}
/* Highlight Buttons (Needed for System Markup) */















a.button-highlight {
	position: relative;
	height: 38px;
	margin: 0 12px 0 15px;
	padding: 0 0 0 0px;
	background-position: 0 -43px;
	background-repeat: repeat-x;
	line-height: 38px;
	color: #ffffff;
	text-transform: none;
	border: none;
	font-size: 13px;
	letter-spacing: 0px;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
a.button-highlight, a.button-highlight:before, a.button-highlight:after {
	background-image: url(../images/blue-highlight-button.png);
}
a.button-highlight:before, a.button-highlight:after {
	content: "";
	position: absolute;
	top: 0;
	height: 38px;
	background-repeat: no-repeat;
}
a.button-highlight:before {
	width: 15px;
	right: -15px;
	background-position: 100% -86px;
}
a.button-highlight:after {
	width: 15px;
	left: -15px;
	background-position: 0 0;
}
a.button-highlight:hover {
	color: #dfdfdf;
}
/* bottom contact*/































.q_contact {
	border: 0px solid red;
}
.q_contact input[type=text].inputbox, .q_contact textarea.textarea {
	font-style: normal;
	margin: 0px 0px 8px 0px;
	float: left;
}
.q_contact input[type=text]#namebox {
	width: 45.6%;
	height: 22px;
	float: left;
}
.q_contact input[type=text]#emailbox {
	width: 45.6%;
	height: 22px;
	float: right;
}
.q_contact input[type=text]#subjectbox {
	width: 96.7%;
	height: 22px;
	float: left;
}
.q_contact input[type=text]#spambox {
	width: 45.6%;
	height: 23px;
	float: left;
	margin-right: 5px;
}
.q_contact textarea#messagebox {
	width: 96.7%;
	height: 90px;
}
/* Bottom Latest News */































.news-pro {
	position: relative;
	border: 0px solid red;
}
.news-pro .nspMain {
	border: 0px solid red;
}
.news-pro h4 {
	margin-top: 0px;
	font-size: 16px;
	border: 0px solid red;
	margin-bottom: 5px;
}
.news-pro a.nspImageWrapper {
	border: 1px solid #c2c2c2;
	padding: 3px;
}
.news-pro p.nspText {
	border: 0px solid red;
	margin-top: 8px;
}
.news-pro .nspBotInterface, .nspTopInterface {
	position: absolute;
	border: 0px solid red;
	top: 15px;
	right: 13px;
	z-index: 10;
}
.nspPagination li {
	background-image: url("../images/interface.png");
}
/*Home Tabs*/















.home-tabs {
	border: 1px solid red;
}
.home-tabs h3.module-title {
	background: none;
}
.home-tabs .gkTabsWrap.vertical ol li, .home-tabs .gkTabsWrap.horizontal ol li {
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
	color: #606060;
	font-family: "YanoneKaffeesatzLight";
	font-size: 17px;
	font-weight: normal;
	background: none;
	border: 1px solid #f9f9f9;
}
.home-tabs .gkTabsWrap.vertical ol {
	border-bottom: none;
	height: 39px;
}
.home-tabs .gkTabsItem {
	background: url(../images/home-tabs-bg.png) top right no-repeat;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 0px;
	margin-top: 20px;
}
.home-tabs .gkTabsWrap.vertical ol li:hover, .home-tabs .gkTabsWrap.vertical ol li.active, .home-tabs .gkTabsWrap.horizontal ol li:hover, .home-tabs .gkTabsWrap.horizontal ol li.active {
	color: #606060;
	color: #606060 !important;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
	background: #fcfcfc;
	background: linear-gradient(to bottom, #fcfcfc 41%, #F8F8F8 100%) repeat scroll 0 0 transparent;
	border: 1px solid #D9D9D9;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
/* Testimonial */































.quote {
	font-style: italic;
	font-family: 'Georgia', 'Times New Roman', 'Arial', 'sans-serif';
	margin-bottom: 20px;
	padding-left: 60px;
	background-image: url("../images/quote.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	clear: both;
}
.quote-font-big {
	font-size: 15px;
	display: block;
	margin: 50px 0 20px 0;
}
.testimonial {
	background-color: #f2f2f2;
	border-right: 1px solid #EDEDED;
	color: #5B5B5B;
	font-style: italic;
	font-family: 'Georgia', 'Times New Roman', 'Arial', 'sans-serif';
	padding: 20px;
	position: relative;
}
.testimonial:after {
	background: url("../images/quote-bg.png") no-repeat scroll 0 0 transparent;
	display: block;
	content: "";
	height: 25px;
	width: 25px;
	left: 40px;
	bottom: -25px;
	position: absolute;
}
.testimonial-con {
	line-height: 17px;
	padding-left: 75px;
	padding-top: 6px;
}
/*services home and main article*/































h3.remove-margin {
	line-height: 20px;
}
p.margin-top-5 {
	margin-top: 5px;
	border: 0px solid red;
}
/*Video Screen*/































.video-screen {
	width: 60%;
	height: 340px;
	background: url(../images/video_screen.png) 50% 0 no-repeat;
	border: 0px solid red;
	padding: 2.2% 20% 0% 20%;
}
.video-screen iframe, .video-screen video {
}
/* Upcoming events */































.circle-block {
	height: 59px;
	width: 59px;
	border: 0px solid red;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	background: url(../images/circle.png) 50% 0 no-repeat;
}
.circle-block span {
	display: block;
	border: 0px solid red;
	text-align: center;
	font-size: 18px;
}
.circle-block span.day {
	margin-top: 7px;
}
.circle-block span.month {
	margin-top: 2px;
}
.circle-block span.number {
	margin-top: 20px;
}
.circle-block span.other {
	margin-top: 20px;
}
/* ****************** Added by Fahmi ****************** */































.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.group {
	display: inline-block;
	clear: both;
}
div.about-variation1-style .bfc-o {
	text-align: left;
}
div.about-variation2-style .bfc-o {
	text-align: center;
}
div.about-variation1-style img, div.about-variation2-style img {
	border: 0px solid #ccc;
	padding: 5px;
}
div.about-variation1-style img {
	margin-right: 15px;
}
div.about-variation1-style ul.social-icons {
	float: left;
}
div.about-variation1-style ul.social-icons img {
	margin: 0px;
}
#main #maininner #content div.about-variation2-style h3 {
	margin-top: 10px
}
div.padding-50 {
	padding-bottom: 30px;
}
.about-variation2-style a.social-icon img {
	border: none;
	height: 40px;
	width: 40px;
}
.about-variation2-style .spotlight .overlay {
	position: relative;
	padding: 0px;
	text-align: center;
}
.spotlight .overlay .social-icon-about2 {
	position: absolute;
	top: 40%;
	width: 100%;
}
.spotlight .overlay a {
	display: inline-block;
	width: 50px;
	height: 50px;
}
.about-variation2-style .spotlight .overlay > div {
	padding: 0;
}
/* ****************** Testimonial Page **************** */































.man-image, .woman-image {
	height: 70px;
	width: 70px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: right;/* border: 1px solid #ddd; */
}
/* ****************** Contact Icons ******************* */































ul.contact-icons {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.contact-icons li {
	margin-top: 15px;
	padding-left: 20px;
	background: url(../images/icons_contact.png) 0 0 no-repeat;
}
ul.contact-icons li:first-child {
	margin-top: 0;
}
ul.contact-icons li.location {
	background-position: 0 -250px;
}
ul.contact-icons li.email {
	background-position: 0 -500px;
}
ul.contact-icons li.phone {
	background-position: 0 -750px;
}
/************ Contact us Form **************/































form.box fieldset, form#contact-form fieldset {/* border: 0px; */
	padding-top: 10px
}
form.box fieldset legend, form#contact-form fieldset legend {
	background: none;/* margin-left:-20px; */
}
form.box input[type=text], form#contact-form input[type="text"], form.submission input[type="text"], form.submission input[type="password"] {
	border: 1px solid #cccccc;
	padding: 0px;
	height: 18px;
}
form.box textarea, form#contact-form textarea {
	border: 1px solid #cccccc;
}
form.box input[type=text]:hover, form#contact-form input[type="text"]:hover, form.submission input[type="text"]:hover, form.submission input[type="password"]:hover {
	background: #f9f9f9;/* border: 1px solid #d9d9d9; */
}
form.box input[type=text]:focus, form#contact-form input[type="text"]:focus, form.submission input[type="text"]:focus, form.submission input[type="password"]:focus {
	background: #f9f9f9;/* border: 2px solid #d9d9d9;















    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15); */
}
/************* Contact Us Map ***********/































button#gdir_button0 {
	height: 27px;
}
/*************(common classes)***************/































input[type="text"], input[type="password"], input[type="email"], .validate-username, .validate-password {
	height: 27px;
	padding: 0px 5px;
	border: 1px solid #cccccc;
	color: #999999;
}
select, select.inputbox {
	padding: 5px;
	vertical-align: top;
	height: 27px;
	border: 1px solid #cccccc;
	color: #999999;
}
textarea {
	border: 1px solid #cccccc;
	color: #999999;
	padding: 5px;
}
input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="text"].inputbox:hover, textarea:hover {
	background: #f9f9f9;/* border: 1px solid #d9d9d9; */
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="text"].inputbox:focus, textarea:focus {
	background: #f9f9f9;/* border: 2px solid #d9d9d9;















  border-color: rgba(0, 0, 0, 0.23);















    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);















    outline: medium none; */
}
button, input[type="button"], input[type="submit"], input.kbutton {
	position: relative;
	height: 25px;
	padding: 0 10px;
	background-image: url(../images/button-more1.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	background-color: #fff;
	color: #777777;
	text-transform: none;
	border: 1px solid #d9d9d9;
	border-bottom: 1px solid #bfbfbf;
	font-size: 13px;
	letter-spacing: 0px;
	font-weight: normal;
	text-decoration: none;
	border-radius: 1px 1px 1px 1px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	-o-transition: color .2s ease-out, border 0.2s ease-in;
	-ms-transition: color .2s ease-out, border 0.2s ease-in;
	-moz-transition: color .2s ease-out, border 0.2s ease-in;
	-webkit-transition: color .2s ease-out, border 0.2s ease-in;
	transition: color .2s ease-out, border 0.2s ease-in;
}
button:hover, input[type="button"]:hover, input[type="submit"]:hover, input.kbutton:hover {
	color: #901215;
	border: 1px solid #901215;
}
a.color-hover img {
	border: 1px solid #ffffff;
	border-radius: 1px 1px 1px 1px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	-o-transition: color .2s ease-out, border 0.2s ease-in;
	-ms-transition: color .2s ease-out, border 0.2s ease-in;
	-moz-transition: color .2s ease-out, border 0.2s ease-in;
	-webkit-transition: color .2s ease-out, border 0.2s ease-in;
	transition: color .2s ease-out, border 0.2s ease-in;
}
a.color-hover img:hover {
	border: 1px solid #901215;
}
/* ************** Kunena Forum **************** */































/* CSS for Style default */















#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a, #Kunena #ktab a:hover span, #Kunena #ktab li.Kunena-item-active a span, #Kunena #ktab li.active a span {
	color: #901215;
}
/* User Color */















span.kwho-admin {
	color: #FF0000 !important;
}
span.kwho-globalmoderator {
	color: #800000 !important;
}
span.kwho-moderator {
	color: #0000FF !important;
}
span.kwho-banned {
	color: #A39D49 !important;
}
span.kwho-user {
	color: #5388B4 !important;
}
span.kwho-guest {
	color: #666666 !important;
}
/* Forum Search */















div.ksearch input[type="text"], div.klogin-vert input[type="text"], div.klogin-vert input[type="password"] {
	height: 25px;
}
div.ksearch input[type="submit"], div.klogin-vert input[type="submit"] {
	height: 27px;
}
/*Forum Login*/















form.klogin-form-login {
}
form.klogin-form-login ul.klogin-logoutlink {
	margin-bottom: 0px;
}
form.klogin-form-login fieldset.input {
	margin: 0px 0px;
}
form.klogin-form-login fieldset.input p {
	margin: 5px 0px;
}
form.klogin-form-login fieldset.input p.klogin-form-login-username {
	margin-top: 0px;
}
/************** Newsletter *************/















.news-letter {
	background: url(../images/gray-tri-t.png) top right no-repeat, url(../images/gray-tri-b.png) bottom left no-repeat;
	margin: 20px 20px 40px 20px;
	border: 1px solid #b8b8b8;
	color: #606060 !important;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.news-letter .acymailing_module_form td {
	padding-bottom: 0px;
}
.news-letter .acymailing_introtext {
	font-family: 'Georgia', 'Times New Roman', 'Arial', 'sans-serif';
	font-size: 22px;
	line-height: 22px;
	font-style: italic;
	float: left;
	display: block;
	padding-top: 5px;
	text-align: center;
}
.news-letter .inputbox {
	height: 32px;
}
.news-letter input.button {
	height: 34px;
	background: #901215;
	border: 1px solid #0e869c;
	border-left: 0;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.news-letter input.button:hover {
	color: #dfdfdf;
}
/* **************** Pricing Table **************** */















#pricing-table {
	margin: 50px auto;
	text-align: center;
	width: 100%;
}
#pricing-table .plan3, #pricing-table .plan4, #pricing-table .plan5 {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);
	background: #fff;
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	float: left;
	position: relative;
}
#pricing-table #most-popular {
	z-index: 2;
	top: -13px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}
.plan3 {
	width: 28.9%;
}
.plan4 {
	width: 20.6%;
}
.plan5 {
	width: 15.6%;
}
#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
#pricing-table .plan:nth-child(4) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
/* --------------- */  































#pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff, #eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}
#pricing-table #most-popular h3 {
	background-color: #ddd;
	background-image: -moz-linear-gradient(#eee, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#main #maininner #content #pricing-table h3 {
	margin-top: -20px;
}
#main #maininner #content #pricing-table #most-popular h3 {
	margin-top: -30px;
}
#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}
#pricing-table .plan:nth-child(4) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}
#pricing-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}
/* --------------- */































#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}
#pricing-table .button-highlight {
	margin-top: 20px;
}
/* --------------- */















  















.clear:before, .clear:after {
	content: "";
	display: table
}
.clear:after {
	clear: both
}
.clear {
	zoom: 1
}
/* **************** Typography **************** */































ul.unordered-1, ul.unordered-2, ul.unordered-3, ul.unordered-4, ul.unordered-5, ul.unordered-6, ul.unordered-7, ul.unordered-8, ul.unordered-9, ul.unordered-10, ul.unordered-11, ul.unordered-12, ul.unordered-13, ul.unordered-14, ul.unordered-15, ul.unordered-16, ul.unordered-17, ul.unordered-18, ul.unordered-19, ul.unordered-20, ul.unordered-21, ul.unordered-22, ul.unordered-23, ul.unordered-24, ul.unordered-25, ul.unordered-26 {
	list-style: none outside none;
	margin: 0px;
	padding-left: 0px;
}
ul.unordered-1 li, ul.unordered-2 li, ul.unordered-3 li, ul.unordered-4 li, ul.unordered-5 li, ul.unordered-6 li, ul.unordered-7 li, ul.unordered-8 li, ul.unordered-9 li, ul.unordered-10 li, ul.unordered-11 li, ul.unordered-12 li, ul.unordered-13 li, ul.unordered-14 li, ul.unordered-15 li, ul.unordered-16 li, ul.unordered-17 li, ul.unordered-18 li, ul.unordered-19 li, ul.unordered-20 li, ul.unordered-21 li, ul.unordered-22 li, ul.unordered-23 li, ul.unordered-24 li, ul.unordered-25 li, ul.unordered-26 li {
	padding: 5px 0 0 30px;
}
ul.unordered-1 li {
	background: url(../images/list-icon/list-line.png) 0 0 no-repeat;
}
ul.unordered-2 li {
	background: url(../images/list-icon/list-arrow.png) 0 0 no-repeat;
}
ul.unordered-3 li {
	background: url(../images/list-icon/list-arrow-curcel-gray.png) 0 0 no-repeat;
}
ul.unordered-4 li {
	background: url(../images/list-icon/list-check-white.png) 0 0 no-repeat;
}
ul.unordered-5 li {
	background: url(../images/list-icon/list-curcel-gray.png) 0 0 no-repeat;
}
ul.unordered-6 li {
	background: url(../images/list-icon/list-curcel-gray2.png) 0 0 no-repeat;
}
ul.unordered-7 li {
	background: url(../images/list-icon/site-arrow-gray.png) 0 0 no-repeat;
}
ul.unordered-8 li {
	background: url(../images/list-icon/site-arrow-gray2.png) 0 0 no-repeat;
}
ul.unordered-9 li {
	background: url(../images/list-icon/site-rectangle-gray.png) 0 0 no-repeat;
}
ul.unordered-10 li {
	background: url(../images/list-icon/site-rectangle-gray1.png) 0 0 no-repeat;
}
ul.unordered-11 li {
	background: url(../images/list-icon/site-rectangle-gray2.png) 0 0 no-repeat;
}
ul.unordered-12 li {
	background: url(../images/list-icon/site-rectangle-gray3.png) 0 0 no-repeat;
}
ul.unordered-13 li {
	background: url(../images/list-icon/site-rectangle-gray4.png) 0 0 no-repeat;
}
ul.unordered-14 li {
	background: url(../images/list-icon/site-rectangle-gray5.png) 0 0 no-repeat;
}
ul.unordered-15 li {
	background: url(../images/list-icon/site-tick-gray2.png) 0 0 no-repeat;
}
ul.unordered-16 li {
	background: url(../images/list-icon/site-tick-gray.png) 0 0 no-repeat;
}
ul.unordered-17 li {
	background: url(../images/list-icon/special/site-icon-1.png) 0 0 no-repeat;
}
ul.unordered-18 li {
	background: url(../images/list-icon/special/site-icon-2.png) 0 0 no-repeat;
}
ul.unordered-19 li {
	background: url(../images/list-icon/special/site-icon-3.png) 0 0 no-repeat;
}
ul.unordered-20 li {
	background: url(../images/list-icon/special/site-icon-4.png) 0 0 no-repeat;
}
ul.unordered-21 li {
	background: url(../images/list-icon/special/site-icon-5.png) 0 0 no-repeat;
}
ul.unordered-22 li {
	background: url(../images/list-icon/special/site-icon-6.png) 0 0 no-repeat;
}
ul.unordered-23 li {
	background: url(../images/list-icon/special/site-icon-7.png) 0 0 no-repeat;
}
ul.unordered-24 li {
	background: url(../images/list-icon/special/site-icon-8.png) 0 0 no-repeat;
}
ul.unordered-25 li {
	background: url(../images/list-icon/special/site-icon-9.png) 0 0 no-repeat;
}
ul.unordered-26 li {
	background: url(../images/list-icon/special/site-icon-10.png) 0 0 no-repeat;
}
.box-note, .box-info, .box-warning, .box-hint, .box-download {
	border: 1px solid #DDDDDD
}
table.zebra {
	border: 1px solid #dddddd;
}
table.zebra th {
	background-color: #eeecec;
}
table.zebra tbody tr:nth-of-type(2n+1) {
	background: none repeat scroll 0 0 #ffffff;
}
/* *********** Interactive Style ************* */































div#rsmg_main {
	padding: 0px;
}
ul#rsmg_gallery li div.rsmg_item_container a {
	color: #8B8B8B
}
ul#rsmg_gallery li div.rsmg_item_container a:hover {
	color: #8B8B8B
}
/* ************** tiny css classes ************* */































div.clear-both {
	clear: both
}
p.clear-both {
	clear: both
}
.text-center {
	text-align: center
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.text-align-left {
	text-align: left;
}
.text-align-right {
	text-align: right;
}
span.blockspan {
	display: block;
	margin: 10px 0;
}
span.blockspan-margin-right {
	display: inline-block;
	margin: 10px 10px 10px 0px;
}
span.blockspan-margin-left {
	display: inline-block;
	margin: 10px 0px 10px 10px;
}
.margin-20 {
	margin-bottom: 20px;
}
/* ============= Custom CSS by Talha ============= */











#system .title2 {
	font-size: 26px;
	line-height: 26px;
	color: #901215;
}
#system .title2 {
	margin-top: 0;
}
#toolbar {
	display: none;
}
/* ============= Start Home Page Slider Section for media and technology ============= */







.gallery-des {
	padding: 0px 10px 15px 10px;
}
/* ============= End Home Page Slider Section for media and technology ============= */























/* ============= Start List item overall website ============= */







li {
	font-size: 12px;
}
/* ============= End List item overall website ============= */















/* ============= Start of 3 Column image size and position ============= */







.gallery-column-3 {
	text-align: center;
}
.gallery-column-3 a img {
	width: 45%;
}
.gallery-column-3 .gallery-des {
	min-height: 112px;
}
/* ============= End of 3 Column image size and position ============= */







/* ============= Start of 4 Column image size and position ============= */















.gallery-column-2 .spotlight .overlay-default {
	background: none;
}
/* ============= End of 4 Column image size and position ============= */







/* ============= Start of Newsletter Section ============= */







.acymailing_modulenews-letter {
	padding: 15px;
}
/* ============= End of Newsletter Section ============= */











/* ============= Start of Forms Section ============= */







#ff_formdiv3 {
	margin-top: -40px;
}
#ff_formdiv4 {
	margin-top: -25px;
	margin-right: -125px;
	margin-left: 125px;
}
#ff_formdiv5 {
	width: 75%;
}
/* ============= End of Forms Section ============= */











/* ============= Start of Contact page Address Section ============= */



.address_heading {
	z-index: 10;
	margin-top: 17px;
	margin-bottom: -17px;
	position: relative;
	margin-left: 15px;
}
.address_box {
	border: 1px solid #ccc;
	padding: 30px 7px!important;
	width: 205px;
	border-radius: 8px;
	margin-top: 0px;
	z-index: 4;
	background: #efefef;
}
.about_image {
	float: left;
}
.client-column {
	background: none transparent;
}
/* ============= End of Contact page Address Section ============= */







.bfc-o img {
	border: 5px solid #fff;
	box-shadow: 0px 0px 5px;
}
.gallery-column-4 {
	min-height: 259px;
}
.more-apps {
	display: inline-block;
	background: #eee;
	width: 93%;
	padding: 25px;
	padding-top: 0px;
	border-radius: 8px;
}


/* ============= Formatting Artist Page -- Imran Tuesday june 04 ============= */
#content h1{
	color: #901215;
    font-size: 28px;
    line-height: 32px;
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 12px;
	margin-bottom: 15px;
}
#profile_image{
	margin: 0 15px;
	float:left;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #606060;
}
#profile_image img{
	margin-right: 15px;
	padding: 5px;
	max-width: 220px;
}
#profile_image p{
	font-weight:bold;
}
#profile_text{
	margin: 0 15px;
	overflow: hidden;
	color: #606060;
}
#profile_text img{
	float: left;
    margin: 0 10px 20px 10px;
	border: 5px solid #FFFFFF;
	-moz-box-shadow:    0 0 5px;
	-webkit-box-shadow: 0 0 5px;
	box-shadow:         0 0 5px;
}

#profile_text .social-icons:before, #profile_text .social-icons:after { content: ""; display: table; line-height: 0; }
#profile_text .social-icons:after { clear: both; }
#profile_text .social-icons{ clear:both; display:block; margin-top:15px; }
#profile_text .social-icons img{
	border:none;
	float:none;
	-moz-box-shadow:    none;
	-webkit-box-shadow: none;
	box-shadow:         none;
	margin:0px;
}

/* ============= / Formatting Artist Page -- Imran Tuesday june 04 ============= */