/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import url(../warp/css/menus.css);


/* Mega Drop-Down Menu
----------------------------------------------------------------------------------------------------*/

/* Level 1 */
.menu-dropdown { margin-bottom: 0px;  }

.menu-dropdown li.level1 { padding-bottom: 0px;}

.menu-dropdown a.level1,
.menu-dropdown span.level1 {
	position: relative;
	color: #000;
	z-index: 101;
}

.menu-dropdown:first-child .level1:first-child .level1 { background: none; }

.menu-dropdown a.level1 > span,
.menu-dropdown span.level1 > span {
	height: 42px;
	padding: 8px 14px 0px 15px;
	text-transform: none;
	border:0px solid red;
}

/* Set Hover */
.menu-dropdown  li.level1.parent:hover > .level1 > span,
.menu-dropdown  li.parent.remain > .level1 > span { 

/*
border-top:1px solid #12a2bc;
padding: 7px 14px 0px 15px;
*/
	background: #12a2bc;
    color:#ffffff;

}

/* Drop-Down */
.menu-dropdown .dropdown { 
	top: 50px;
	left: -5px;
}

.menu-dropdown:last-child > li:last-child .dropdown {
	left: auto;
	right: -5px;
}

/*
.menu-dropdown .dropdown:before { 
	position: absolute;
	top: 0;
	left: 5px;
	right: 5px;
	height: 1px;
	content: "";
	background: #3c3c3c;
	z-index: 1;
}
*/

.menu-dropdown .dropdown-bg { margin: 0 5px 5px 5px; }

.menu-dropdown .dropdown-bg > div {
	border: 1px solid #dddddd;
	border-top: none;
	background: #F5F5F5;
	background: -moz-linear-gradient(top, #F5F5F5 0%,#F8F8F8 100%);
	background: -webkit-linear-gradient(top, #F5F5F5 0%, #F8F8F8 100%);	
/*
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
*/
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

/* Level 2 */
.menu-dropdown li.level2 { 
	margin: 0 0px;
	padding: 0 10px;
	border-top: 1px solid #ddd;
}
.menu-dropdown li.level2:first-child { border: none; }

.menu-dropdown a.level2,
.menu-dropdown span.level2 { 
	color: #868686;
	text-transform: none;
}

/* Set Current */
.menu-dropdown a.current.level2 { font-weight: normal; color: #12a2bc;} 

/* Level 3 */

.menu-dropdown li.level3 { line-height: 20px; }

.menu-dropdown a.level3 {
	padding-left: 12px;
	background-position: 0 0;
	background-repeat: no-repeat;
	color: #868686;
}

.menu-dropdown a.level3:hover {	background-position: 0 -100px; }

/* Set Current */
.menu-dropdown a.current.level3 { font-weight: normal; color: #12a2bc; background-position: 0 -100px;} 

/* Subtitles */
.menu-dropdown span.subtitle { 
	text-transform: none;
	letter-spacing: 1px;
}

.menu-dropdown .level1 .level1 span.title { line-height: 20px; }


/* Sidebar/Accordion Menu
----------------------------------------------------------------------------------------------------*/

/* Link */
.menu-sidebar a,
.menu-sidebar li > span { color: #606060; }

.mod-box-color .menu-sidebar a,
.mod-line-color .menu-sidebar a,
.mod-box-color .menu-sidebar li > span,
.mod-line-color .menu-sidebar li > span
{ color: #E1E1E1; }

/* Hover */
.mod-box-color .menu-sidebar a:hover,
.mod-line-color .menu-sidebar a:hover,
.mod-box-color .menu-sidebar li > span:hover,
.mod-line-color .menu-sidebar li > span:hover
{ color: #ffffff; }

/* Current */
.menu-sidebar a.current { font-weight: normal; }

/* Level 1 */
.menu-sidebar li.level1 {border-top: 1px dotted #dedede; }

.mod-box-color .menu-sidebar li.level1,
.mod-line-color .menu-sidebar li.level1 { border-top: 1px dotted #bababa; }


#page .menu-sidebar li.level1:first-child { border-top: none; }

.menu-sidebar li.parent .level1 > span { 
	background-position: 100% 0;
	background-repeat: no-repeat;
}
.mod-box-color .menu-sidebar li.parent .level1 > span,
.mod-line-color .menu-sidebar li.parent .level1 > span
{ background-image: url(../images/menu_sidebar_parent_dark.png); }

.menu-sidebar li.parent .level1 > span:hover { background-position: 100% -100px; }
.menu-sidebar li.parent.active .level1 > span { background-position: 100% -200px; }
.menu-sidebar li.parent.active .level1 > span:hover { background-position: 100% -300px; }

/* Level 2-4 */
.menu-sidebar ul.level2 ul { padding-left: 10px; }

.menu-sidebar .level2 a > span 	{ line-height: 20px; }

.menu-sidebar ul a > span {
	padding-left: 15px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.mod-box-color .menu-sidebar ul a > span,
.mod-line-color .menu-sidebar ul a > span
{ background-image: url(../images/menu_sidebar_level2_dark.png); }

.menu-sidebar ul a:hover > span,
.menu-sidebar ul a.current:hover > span { background-position: 0 -100px; }
.menu-sidebar ul a.current > span { background-position: 0 -100px; color: #12a2bc;}


/* Line Menu
----------------------------------------------------------------------------------------------------*/

.menu-line{border:0px solid red;}

#bottom-d .menu-line{float:right;}

.menu-line li {
	margin-left: 7px;
	padding-left: 8px;
	background: url(../images/menu_line_item.png) 0 50% no-repeat;
}

#footer .menu-line li { background-image: url(../images/menu_line_item.png); }

.menu-line li:first-child,
#footer .menu-line li:first-child {
	margin-left: 0;
	padding-left: 0;
	background: none;
}
/*

#toolbar .menu-line li{
	margin-left: 3px;
	padding: 0px 10px;
	background:#12a2bc;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
	
}

#toolbar .menu-line li:first-child {
	padding: 0px 10px;
	margin-left: 0px;

}
 */

.menu-line li a { color: #12a2bc; }
.menu-line li a:hover { color: #2fbcd6; }




/* bottom-b menu + zoo-category*/

#bottom-c .menu-sidebar{}


#bottom-c .menu-sidebar li.level1 .level1 > span 
{
background-image: url(../images/bottom-menu.png);  
background-repeat: no-repeat; 
background-position: 0 1px; 
line-height: 15px; 
padding:5px 0px 6px 15px; 
color:#979797;
}


#bottom-c .menu-sidebar li.level1 .level1 > span:hover
{ 
background-position: 0 -99px;
color:#e6e6e6;
 }

#bottom-c .menu-sidebar li.active .level1 > span 
{ 
background-position: 0 -99px;
color:#e6e6e6;
 }
 
#bottom-c .mod-box .menu-sidebar li.level1 { border-top: 1px dotted #4f4f4f; }
#bottom-c .mod-box .menu-sidebar li.level1:first-child { border-top: none; }

#bottom-c .menu-sidebar li.level1:first-child .level1 > span {}
#bottom-c .menu-sidebar li.level1:first-child .level1 > span:hover {}



/* list-check-black */

/*

#bottom-b ul.menu-sidebar {
	list-style: none outside none;
    margin: 0px 0px 0px 15px; 
}

#bottom-b ul.menu-sidebar > li {
	padding: 6px 0 0 30px;
	background-image: url(../images/menu_sidebar_level2.png);
	background-repeat: no-repeat;
	
}
*/




