/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */



/*

 * Style Style Sheet - Defines the main look like colors and backgrounds

 * Not all style related CSS is included, only colors and backgrounds which may change for different theme styles

 */





/* Base

----------------------------------------------------------------------------------------------------*/





/* Layout

----------------------------------------------------------------------------------------------------*/





/* Menus

----------------------------------------------------------------------------------------------------*/



/* Set Active */

.menu-dropdown li.active .level1,

.menu-dropdown li.level1:hover .level1,

.menu-dropdown li.remain .level1,

.menu-dropdown a.level2:hover,

.menu-dropdown a.level3:hover,

.menu-sidebar a:hover,

.menu-sidebar li > span:hover { color: #901215; }





.menu-dropdown a.level1 > span:hover,

.menu-dropdown span.level1 > span:hover {

/*

	padding: 7px 14px 0px 15px;

	border-top:1px solid #901215;

*/

	background: #901215;

    color:#ffffff;

}





.menu-dropdown li.active a.level1 > span,

.menu-dropdown li.active span.level1 > span {

/*

	padding: 7px 14px 0px 15px;

	border-top:1px solid #901215;

*/



background: #901215;

color:#ffffff;

}



.menu-dropdown a.level3 { background-image: url(../images/blue_dropdown_level3.png); }



.menu-sidebar li.parent .level1 > span { background-image: url(../images/blue-menusidebar-perent.png); }



.menu-sidebar ul a > span { background-image: url(../images/blue_dropdown_level3.png); }

/*

.menu-sidebar ul a > span { background-image: url(../images/menu_sidebar_level2.png); }

*/



#footer .menu-line li a:hover { color: #339ABB; }



/* Modules

----------------------------------------------------------------------------------------------------*/





/* Tools

----------------------------------------------------------------------------------------------------*/





/* System

----------------------------------------------------------------------------------------------------*/





/*CSS BY SUMON*/

#system .item > .links a:after {

	content: " ";

	border:0px solid red;

}



/*------Latest News Details Page -----*/

.LatestNews{

border: 1px solid #ddd;

height: 200px;

padding: 3px;

margin:5px 15px 15px 0px; 

}

/*--------Blog Details------*/

.yoo-zoo img {



	width:98%;

	height: auto;

	padding: 2px;

	border: 1px solid #ddd;

}



 /*Blog Written and Categories Style */

 #yoo-zoo .items p.pos-meta {

    color: #999999;

    font-size: 10px;

    line-height: 16px;

    text-shadow: 0 1px 0 #FFFFFF;

	text-transform: lowercase;

}

/*



div.element-image {

border: 1px solid #ddd;

padding: 2px;

}



*/



.element-textarea iframe{

border: 1px solid #ddd;

padding: 2px;

}





#system .item > header

{

 border-bottom:1px solid #ededed;

 padding-bottom:12px;	

}



#system .item > header .title {

font-size:35px;

line-height:35px;

color:#901215;

}



#system .item > header .title a{

color:#901215;

}



#system .title{

font-size:35px;

line-height:35px;

color:#901215;

}



#system .items .item

{

border-top: 1px dotted #dedede;

}



#system .items .leading .item{

border-bottom: 1px dotted #dedede;

}



#system .item > .links

{

	margin:15px 0px;

}





#system .pagination strong{

	

}



#system .pagination a

{

}



.pagination {

    margin-top: 10px;

    text-align: center;

}



/* Line 94 */

.pagination a, .pagination strong

{

 background-image: url(../images/button-more1.png);

 background-position: bottom left;

 background-repeat: repeat-x;

 background-color: #fff;

 border: 1px solid #d9d9d9;

 border-bottom: 1px solid #bfbfbf;

 display: inline-block;

 height: 25px;

 line-height: 25px;

 min-width: 15px;

 padding: 0 5px;

 margin-left: 5px;

 font-weight:normal;

}



.yoo-zoo a:hover{

text-decoration:none;

}



ul.line > li{

border-top: 1px dotted #dedede;

}







/*div .media-left{

border: 1px solid #ddd;

padding:6px 4px 0px 4px;

border-radius: 2px 2px 0 0;

}*/



.zoo-comments-list > article{

border-top: 1px dotted #dedede;

}



.zoo-comments-list h4.author{font-size:15px;}



ul.zoo-list > li{

border-top: 1px dotted #dedede;

}



/* bottom-b menu */



ul.zoo-list{}





div .media img{

border: 1px solid #ddd;

padding:2px;

}



.zoo-tagcloud {

border: 0px solid red;

text-align: left;

}



.zoo-tagcloud a {

font-size: 12px !important;

letter-spacing: 0 !important;

}





.zoo-tagcloud a{

 border: 1px solid #DDDDDD;

 display: inline-block;

 height: 20px;

 line-height: 20px;

 min-width: 15px;

 padding: 4px 8px;

 margin: auto auto 9px 0px;

 background-image: url(../images/button-more1.png);

 background-position: bottom left;

 background-repeat: repeat-x;

 background-color: #fff;

 border: 1px solid #d9d9d9;

 border-bottom: 1px solid #bfbfbf;



}





/*----Gallery----*/







.gallery-column p  

{

display:block;

text-align:center;

margin: 0px;

}





#main #maininner #content .gallery-column h3{margin-top:15px; }

#main #maininner #content .gallery-column {margin-bottom:15px; }



#main #maininner #content .gallery-column a.button-more{margin-top:10px;}





.gallery-column-2{width:49.2%; margin-bottom:5px;}

.gallery-column-3{width:32.5%; margin-bottom:5px;}

.gallery-column-4{width:24.2%; margin-bottom:5px;}

.gallery-column-5{width:19.50%; margin-bottom:5px;}



.gallery-1st{margin-right: 0.5%;}

.gallery-mid{margin-left: 0.5%; margin-right: 0.5%;}

.gallery-last{margin-left: 0.5%;}



.gallery-column

{

float:left;

border:none;

margin-bottom: 0px;

padding:0;

background: #f2f2f2;

}







.gallery-des {

    display: block;

    font-size: 11px;

    position: relative;

    text-align: center;

	padding-bottom: 15px;

    background: url(../images/gray-tri-b.png) bottom left no-repeat;            

    border-bottom: 1px solid #b8b8b8;

    margin:0px;

}



.gallery-column:hover .gallery-des{

	background: url(../images/blue-tri-b.png) bottom left no-repeat;

                

    border-bottom: 1px solid #901215;

}



.gallery-column h3 { font-size: 15px; text-align: center; }



body.interactive-style section#content h1{

border-bottom:1px solid #ededed;

padding-bottom:12px;

font-size:35px;

line-height:35px;

color:#901215;

margin-top:0px;

}





.client-column-4{width:24.2%; margin-bottom:5px;}

.client-column-5{width:19.19%; margin-bottom:5px;}



.client-1st{margin-right: 0.5%;}

.client-mid{margin-left: 0.5%; margin-right: 0.5%;}

.client-last{margin-left: 0.5%;}



.client-column

{

float:left;

border:none;

margin-bottom: 0px;

padding:0;

background: #f2f2f2;

}





/*CSS by TALHA*/



.gallery-column {
	background: none transparent;	
}






