
<?php // print_r($content); ?>


<?php echo $this->Form->create('Content', array('controll'=>'contents', 'action'=>'about_content')); ?>
<fieldset>				



	 

		<p><?php echo $this->Form->input($content['contents']['title'], array('type' => 'textarea', 'value' => $content['contents']['description'])); ?></p>
		
		<p><?php echo $this->Form->input('Arabic', array('type' => 'textarea', 'value' => $content['contents']['description_arabic'])); ?></p>


	
	



</fieldset>
<?php
echo $this->Form->button('Submit');
?>
<?php echo $this->Form->end(); ?>