/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	font-family:  sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
		background:url(../images/mainBG.png) top center repeat;
		text-align:center;
		color:#fff;
	}
	
h1.logo{
        text-align: center;
	}
h1.logo img{
    display: block;
    text-align:center;
    width:100%;
}
h1.logo.feedpack{
    	background:url(../images/logo.png) top center no-repeat;
        background-size:100%;
        width:100%;
	height:90px;
}
.logo_container td{
    width:50%;
}
.container{
	margin:0 auto;
	width:92%;
	position:relative;
	top:0px;
	padding:15px 0px 5px 0px;

	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
  font-size:13px;
  color:#c1c1c1;
  
  -webkit-box-shadow :   0px 3px 3px #202428;
  -moz-box-shadow:0px 3px 3px #202428;
  box-shadow:0px 3px 3px #202428;
	
	
	background: #2d2d2d; /* Old browsers */
	background: -moz-linear-gradient(top, #2d2d2d 0%, #151515 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(100%,#151515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2d2d2d 0%,#151515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2d2d2d 0%,#151515 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2d2d2d 0%,#151515 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2d2d2d 0%,#151515 100%); /* W3C */
}
.container p{
	padding-right:15px;
	padding-left:15px;
}

.heading{
  background-color: #f16521;
  width: 100%;
  position: relative;
  top: 0px;
	height:auto;
  z-index: 9;
  left: -5px;
  padding: 7px 5px;
   min-height: 29px;
  color:#fff;
  text-shadow: 0px -1px 0px #000;
}

/* Clearfix */
.heading:before, .heading:after {
    content: "";
    display: table;
    line-height: 0;
}
.heading:after {
    clear: both;
}
/* Clearfix End */
.heading h2{
	line-height:28px;
}

 .heading .right_arrow {
	width: 0; 
	height: 0; 
	border-top: 0px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #ae4b19;
	
	position:absolute;
	bottom:-6px;
	left:0px;
}

	
 .heading .left_arrow {
	width: 0; 
	height: 0; 
	border-top: 0px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #ae4b19;
	
	position:absolute;
	bottom:-6px;
	right:0px;
}


h2{
	font-size:16px;
	margin:0;
	line-height:41px;
	}

.question{
	border-bottom:1px solid #000;
  -webkit-box-shadow :   0px 1px 0px #363636;
  -moz-box-shadow :   0px 1px 0px #363636;
	box-shadow :   0px 1px 0px #363636;	
	
	padding:12px 0px;
	
	}
.question h3{
	color:#e6e6e6;
	font-weight:bold;
	font-size:13px;
  text-shadow: 0px -1px 0px #000;
	}


input[type="text"],select{
	background-color:#282828;
	width:80%;
	border: 0px transparent none;
	font-size:13px;
	padding:8px;
	color:#8D8D8D;
	text-align:center;
	border-radius:5px;
	font-size:13px;
	font-weight:bold;
	width:249px;
	
  -webkit-box-shadow :   0px 1px 0px #373737;
  -moz-box-shadow :   0px 1px 0px #373737;
	box-shadow :   0px 1px 0px #373737, inset 0px 1px 0px #000;	
	}

.comment{
	background-color:#282828;
	/*width:80%;*/
	width: 249px;
	border: 0px transparent none;
	font-size:13px;
	padding:8px;
	color:#8D8D8D;	
	border-radius:5px;
	font-weight:bold;
	/*width:50%;*/
	height:150px;
	
  -webkit-box-shadow :   0px 1px 0px #373737;
  -moz-box-shadow :   0px 1px 0px #373737;
	box-shadow :   0px 1px 0px #373737, inset 0px 1px 0px #000;	
}
.error {
    color: red;
    display:inline-block;
    padding: 5px;
}

input[type="text"]:focus{
	color:#fff;
	}

.back-btn{
	/*background-color: #F16521;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000000;
    width: 50px;*/
	
	background-color: #F16521;
	border-radius: 3px 3px 3px 3px;
	color: white;
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: 0 -1px 0 black;
	width: 90px;
	border: 0;

}

a.button{
	background:url(../images/button.png) no-repeat top center;
	display:block;
	margin:0 auto;
	width:265px;
	height:41px;
	top:25px;
	position:relative;
	}


/**==============================================================================================================
 * CSS File for ezMark jQuery Plugin
 *==============================================================================================================
 **/
.on_off{ 
	width:71px;
	height:26px;
}
.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {
	background: transparent url(../images/toggle.png) 0 0px no-repeat;
	display:inline-block;
	width:71px;
	height:26px;
}
.ez-checked { background-position: -71px 0; }
.ez-selected { background-position: -71px 0; }
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:71px; }






/**==============================================================================================================
 * CSS File for RateIT jQuery Plugin
 *==============================================================================================================
 **/


div.rateit
{
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

div.rateit div.rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(../images/star.png);
    height: 34px;
}

/* for IE 6 */
* html div.rateit, * html div.rateit div.rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html div.rateit, * + html div.rateit div.rateit-range
{
    display: inline;
}

div.rateit div.rateit-hover, div.rateit div.rateit-selected
{
    position: absolute;
    left: 0px;
}

div.rateit div.rateit-hover-rtl, div.rateit div.rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

div.rateit div.rateit-hover
{
    background: url(../images/star.png) left -68px;
}

div.rateit div.rateit-hover-rtl
{
    background-position: right -68px;
}

div.rateit div.rateit-selected
{
    background: url(../images/star.png) left -34px;
}

div.rateit div.rateit-selected-rtl
{
    background-position: right -34px;
}

div.rateit div.rateit-preset
{
    background: url(../images/star.png) left -102px;
}

div.rateit div.rateit-preset-rtl
{
    background: url(../images/star.png) left -102px;
}

div.rateit div.rateit-reset
{
    background: url(../images/delete.gif) 0 0;
    width: 34px;
    height: 34px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
}

div.rateit div.rateit-reset:hover
{
    background-position: 0 -34px;
}





.tenstar_uAns {
     display:block;
    color:#F16521;
    font-size: 18px;
    font-weight: bold;
    
}





/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/** YOU CAN USE THIS QUERY FOR DESKTOP TESTING OF HI RES IMAGES 



/* ========== Customer Logo ========== */
table.logo_container td{
	display: table-cell;
    width: 100%;
}
h1.logo.feedpack{
	background:none;
	margin:0px;
	height:auto
}
h1.logo.feedpack img{
	margin:0 0 0 10px;
	width:auto;
}
.hanging-ribbon{
	background:url(../images/hanging-ribbon_bottom.png) no-repeat top center;
	display:block;
	height: 80px;
    padding: 42px 5px 0;
    width: 70px;
	padding-top:5px;
	margin: 0 10px 0 20px;
}
.hanging-ribbon .content_holder{
	display:table;
	height:505;
	width:100%;
}
.hanging-ribbon .content_holder .customer_logo{
	display:table-cell;
	vertical-align:middle;
}
.logo.hanging-ribbon .content_holder .customer_logo img{
	display:inline;
	max-width:70px;
	width:auto;
	max-height:48px;
}
h1.logo.feedpack.align-center img{
	display:inline-block;
	margin:10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	
	**/


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
/*     Style adjustments for high resolution devices */
	
h1.logo{
	background:url(../images/logo@2x.png) top center;
	background-size:310px 90px;
	}

a.button{
	background:url(../images/button@2x.png) no-repeat top center;
	background-size:265px 41px;
	}

.ez-checkbox {
	background: transparent url(../images/toggle@2x.png) 0 0px no-repeat;
	background-size:142px 26px;
}
.ez-checked {
	background-position: -71px 0;
}

div.rateit div.rateit-range
{
    background: url(../images/star@2x.png);
	background-size:34px 136px;
}

div.rateit div.rateit-hover
{
    background: url(../images/star@2x.png) left -68px;
	background-size:34px 136px;
}


div.rateit div.rateit-selected
{
    background: url(../images/star@2x.png) left -34px;
	background-size:34px 136px;
}

div.rateit div.rateit-preset
{
    background: url(../images/star@2x.png) left -102px;
	background-size:34px 136px;
}

div.rateit div.rateit-preset-rtl
{
    background: url(../images/star@2x.png) left -102px;
	background-size:34px 136px;
}

