
<?php
if (isset($api_response)) {

	$response = json_decode($api_response);

	$class = '';
	if ($response->header->code == 0) {
		$class = 'info';
	} else {
		$class = 'error';
	}

	echo $this->element('notification', array("message" => $response->header->message, "class" => $class));
}
?>



<div class="box">
	<div class="header">
		<p><img src="<?php echo $this->webroot; ?>img/half_width_icon.png" alt="Half Width Box" width="30" height="30" />Login Panel</p>
	</div>

	<div class="body">
		<?php echo $this->Form->create('User'); ?>

		<p> <?php echo $this->Form->input('username', array('label' => 'Email', 'class' => 'textfield large', 'div' => false)); ?> </p>
		<p> <?php echo $this->Form->input('password', array('class' => 'textfield large', 'div' => false)); ?> </P>
		<p> <?php
		echo $this->Form->submit('Login', array('class' => 'button2', 'div' => false)) . '  ' .
		$this->Html->image("login_button_facebook.png", array(
			"alt" => "facebook",
			'id' => 'facebook',
			'url' =>  array('controller' => 'demos' , 'action' => 'login_with_facebook')
		)) . '  ' .
		$this->Html->image("login_button_twitter.png", array(
			"alt" => "facebook",
			'id' => 'facebook',
			'url' =>  array('controller' => 'demos' , 'action' => 'login_with_twitter')
		));
		?></p>
		<p><?php
			echo $this->Html->link('Forgot password', array('controller' => 'demos', 'action' => 'forgot_password'));
		?> </p>
		<?php echo $this->Html->link('Sign Up', array('controller' => 'demos', 'action' => 'signup')); ?> 
	</div>


</div>



