/* Accordion */
/* line 1773, sass/style.scss */
.row_1 {
  border-bottom: 1px solid #CCCCCC;
  padding: 10px 0;
}

/* line 1777, sass/style.scss */
.accordion_header {
  display: block;
  margin: 10px 0;
  width: 750px;
  padding: 10px 15px;
  padding-left: 32px;
  position: relative;
  cursor: pointer;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #cfcfcf));
  background: -webkit-linear-gradient(#e8e8e8, #cfcfcf);
  background: -moz-linear-gradient(#e8e8e8, #cfcfcf);
  background: -o-linear-gradient(#e8e8e8, #cfcfcf);
  background: linear-gradient(#e8e8e8, #cfcfcf);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE8E8E8', endColorstr='#FFCFCFCF');
  border: 1px solid #4d4d4d;
  -webkit-box-shadow: #bebfbf 0px 0px 2px inset;
  -moz-box-shadow: #bebfbf 0px 0px 2px inset;
  box-shadow: #bebfbf 0px 0px 2px inset;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 1795, sass/style.scss */
.accordion_header:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #d2d2d2));
  background: -webkit-linear-gradient(#ebebeb, #d2d2d2);
  background: -moz-linear-gradient(#ebebeb, #d2d2d2);
  background: -o-linear-gradient(#ebebeb, #d2d2d2);
  background: linear-gradient(#ebebeb, #d2d2d2);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEBEBEB', endColorstr='#FFD2D2D2');
}
/* line 1799, sass/style.scss */
.accordion_header:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfcfcf), color-stop(100%, #e8e8e8));
  background: -webkit-linear-gradient(#cfcfcf, #e8e8e8);
  background: -moz-linear-gradient(#cfcfcf, #e8e8e8);
  background: -o-linear-gradient(#cfcfcf, #e8e8e8);
  background: linear-gradient(#cfcfcf, #e8e8e8);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCFCFCF', endColorstr='#FFE8E8E8');
}
/* line 1804, sass/style.scss */
.accordion_header:after {
  content: '';
  background: url("../images/arrow_right.png");
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  width: 11px;
  height: 11px;
  top: 50%;
  margin-top: -6px;
}
/* line 1817, sass/style.scss */
.accordion_header.active {
  background: #c0c1c1;
  color: #fff;
}
/* line 1820, sass/style.scss */
.accordion_header.active:after {
  background: url("../images/arrow_down.png");
}
/* line 1825, sass/style.scss */
.accordion_header.disabled {
  pointer-events: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e2e2e2), color-stop(100%, #d5d5d5));
  background: -webkit-linear-gradient(#e2e2e2, #d5d5d5);
  background: -moz-linear-gradient(#e2e2e2, #d5d5d5);
  background: -o-linear-gradient(#e2e2e2, #d5d5d5);
  background: linear-gradient(#e2e2e2, #d5d5d5);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE2E2E2', endColorstr='#FFD5D5D5');
  color: #8f8f8f;
  border: 1px solid #adadad;
}
/* line 1832, sass/style.scss */
.accordion_header.disabled:after {
  background: url("../images/arrow_right_dim.png");
}

/* line 1837, sass/style.scss */
.accordion_content {
  -webkit-transition: height 0.5s ease-in;
  -moz-transition: height 0.5s ease-in;
  -o-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  overflow: hidden;
  *zoom: 1;
}
/* line 1841, sass/style.scss */
.accordion_content:before, .accordion_content:after {
  content: " ";
  display: table;
}
/* line 1842, sass/style.scss */
.accordion_content:after {
  clear: both;
}
/* line 1844, sass/style.scss */
.accordion_content.hide {
  height: 0px;
}
/* line 1847, sass/style.scss */
.accordion_content.show {
  height: auto;
}

/* line 1851, sass/style.scss */
.row_6 .s_col .btn {
  left: 0;
  margin: 0 auto;
}

/* line 1855, sass/style.scss */
.no-cssgradients .accordion_header.active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFC0C1C1', endColorstr='#FFC0C1C1');
}

@media only screen and (max-width: 1023px) {
  /* line 1859, sass/style.scss */
  .accordion_header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1868, sass/style.scss */
  .accordion_header {
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  /* Making submit btn larger*/
  /* line 1874, sass/style.scss */
  .row_6.submit_block .s_col .btn {
    background: url("../images/mobile_button_bg.png") no-repeat right center #e4e5e5;
    height: 44px;
    font-size: 20px;
    width: 100%;
  }
  /* line 1880, sass/style.scss */
  .row_6.submit_block .s_col .btn:hover {
    background: url("../images/mobile_button_bg_hover.png") no-repeat right center #e4e5e5;
  }

  /* line 1884, sass/style.scss */
  .row_6.submit_block {
    display: block;
    border-bottom: 1px solid #9C9C9C;
  }
}

