#notif_count {
	background:url(images/notify-globe.png) center left no-repeat transparent;	
	text-shadow: 1px 1px 0 rgba(0,0,0,1);
	color: #FF0000;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
}

.notify_bg {
    background: none repeat scroll 0 0 #FF0000;
    color: #FFFFFF;
    margin-right: 1px;
}