/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/custom.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */

.logo-custom { background-image: url(../../../../../images/logo/bottlegreen.png); }

a
{
  color: #006a4e;
}

a:hover
{
  color: #169473;
}

a.color-hover img:hover{border:1px solid #006a4e;}

#toolbar{
border-bottom: 1px solid #006a4e;
}

.searchbox .results li.result h3{
color:#006a4e;
}

.colorcaps .wk-slideshow .caption
 {
	border-left: 3px solid rgba(0,106,78,0.7); 
	border-top: 3px solid rgba(0,106,78,0.7); 
}

.wk-slideshow-default .nav span:active 
{ background: rgba(0,106,78,0.7); }

.wk-slideshow-default .nav .active span 
{ background: rgba(0,106,78,0.7); }

.recent-projects .wk-slideshow-default > div .next:hover,
.clients-feed .wk-slideshow-default > div .next:hover,
.clients-logo .wk-slideshow-default > div .next:hover,
.recent-projects .wk-slideshow-default > div .prev:hover,
.clients-feed .wk-slideshow-default > div .prev:hover,
.clients-logo .wk-slideshow-default > div .prev:hover
{
	background-color: rgba(0,106,78,0.7);
}

.mod-box-color,
.mod-line-color{
background: #0f8e6c;
background: -moz-radial-gradient(50% 0%, #0f8e6c 0%, #098060 50%, #006a4e 100%); /* Firefox */
background: -webkit-radial-gradient(50% 0%, #0f8e6c 0%, #098060 50%, #006a4e 100%); /* Safari, Chrome */
}

/* Highlight Buttons (Needed for System Markup) */
a.button-highlight,
a.button-highlight:before,
a.button-highlight:after
{ background-image: url(../../../styles/bottlegreen/images/bottlegreen-highlight-button.png); }

h3.color-style{color:#006a4e;}
h3.module-title span.color{color:#006a4e;}

.links a:hover,
a.button-more:hover{
color:#006a4e;
border:1px solid #006a4e;
}

.color-style{color:#006a4e;}
.module-title span.color{color:#006a4e;}
span.color{color:#006a4e;}

/*color button  */

a.button-color
{
	background-image: url(../images/color-boottle-green.png);
	border: 1px solid #01402f;
	border-top: 1px solid #006a4e;
}



button:hover, input[type="button"]:hover, input[type="submit"]:hover, input.kbutton:hover{color: #006a4e; border:1px solid #006a4e;}

/* Kunena */
#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a,
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span,
#Kunena #ktab li.active a span {
 color:#006a4e;
}

.news-letter input.button {
	background: #006a4e;
	border: 1px solid #01402f;
	border-left: none;	
}
