/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/menus.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */


/* Set Hover */
.menu-dropdown  li.level1.parent:hover > .level1 > span,
.menu-dropdown  li.parent.remain > .level1 > span { 
	background: #006a4e;
}

/* Set Current */
.menu-dropdown a.current.level2 { color: #006a4e;} 

/* Set Current */
.menu-dropdown a.current.level3 { color: #006a4e;} 

.menu-sidebar ul a.current > span {color: #006a4e;}

.menu-line li a { color: #006a4e; }
.menu-line li a:hover { color: #169473; }


 
