/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/custom.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */

.logo-custom { background-image: url(../../../../../images/logo/coffee.png); }

a
{
  color: #885621;
}

a:hover
{
  color: #b8854f;
}

a.color-hover img:hover{border:1px solid #885621;}

#toolbar{
border-bottom: 1px solid #885621;
}

.searchbox .results li.result h3{
color:#885621;
}

.colorcaps .wk-slideshow .caption
 {
	border-left: 3px solid rgba(136,86,33,0.7);
	border-top: 3px solid rgba(136,86,33,0.7);
}

.wk-slideshow-default .nav span:active 
{ background: rgba(136,86,33,0.7); }

.wk-slideshow-default .nav .active span 
{ background: rgba(136,86,33,0.7); }

.recent-projects .wk-slideshow-default > div .next:hover,
.clients-feed .wk-slideshow-default > div .next:hover,
.clients-logo .wk-slideshow-default > div .next:hover,
.recent-projects .wk-slideshow-default > div .prev:hover,
.clients-feed .wk-slideshow-default > div .prev:hover,
.clients-logo .wk-slideshow-default > div .prev:hover
{
	background-color: rgba(136,86,33,0.7);
}

.mod-box-color,
.mod-line-color{
background: #a27f5a;
background: -moz-radial-gradient(50% 0%, #a27f5a 0%, #9b7a56 50%, #8e6f4e 100%); /* Firefox */
background: -webkit-radial-gradient(50% 0%, #a27f5a 0%, #9b7a56 50%, #8e6f4e 100%); /* Safari, Chrome */
}

/* Highlight Buttons (Needed for System Markup) */
a.button-highlight,
a.button-highlight:before,
a.button-highlight:after
{ background-image: url(../../../styles/coffee/images/coffee-highlight-button.png); }
h3.color-style{color:#885621;}
h3.module-title span.color{color:#885621;}


.links a:hover,
a.button-more:hover{
color:#885621;
border:1px solid #885621;
}

.color-style{color:#885621;}
.module-title span.color{color:#885621;}
span.color{color:#885621;}

/*color button  */

a.button-color
{
	background-image: url(../images/color-coffee.png);
	border: 1px solid #69523a;
	border-top: 1px solid #986d42;
}



button:hover, input[type="button"]:hover, input[type="submit"]:hover, input.kbutton:hover{color: #885621; border:1px solid #885621;}

/* Kunena */
#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a,
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span,
#Kunena #ktab li.active a span {
 color:#885621;
}

.news-letter input.button {
	background: #885621;
	border: 1px solid #69523a;
	border-left: none;	
}
