/* Minified: main.css, component.project_tasks_picker_for_reports.less.css, component.reschedule_task.css, component.tasks_filters_desktop_widget.css, section.aggregated_tasks_report.less.css, section.milestone_tasks.less.css, section.tasksAdmin.less.css, section.tasks_list.css */
.big_form .select_relative_expiration_date{width:50px!important;margin-left:24px;margin-top:4px}.big_form div.comment_options,.big_form div.sharing_notification{margin:10px 0}.big_form .public_task_form .form_second_sidebar div.subscribers.loading{min-height:50px;background-repeat:no-repeat;background-position:center center}
div.project_tasks_picker_for_reports div.criteria_head{background:none repeat scroll 0 0 #dfe0d7;cursor:pointer;padding:8px 0}div.project_tasks_picker_for_reports div.criteria_head div.criteria_head_inner{margin:0 auto;max-width:900px;min-height:22px;padding-left:16px;text-align:right}div.project_tasks_picker_for_reports div.criteria_head div.criteria_project_picker{float:left}div.project_tasks_picker_for_reports div.criteria_head div.criteria_group_by{margin-left:15px;float:left}div.project_tasks_picker_for_reports div.criteria_head div.criteria_run{float:right}div.project_tasks_picker_for_reports div.filter_results div{margin:auto}
#reschedule_task div.reschedule_controls{padding-left:25px}
div.task_filter_options_wrapper select,#task_filter_options_wrapper input[type=text]{width:250px}div.task_filter_options_wrapper select.picker{width:150px}
#aggregated_tasks_report table{width:400px}#aggregated_tasks_report table th.value,#aggregated_tasks_report table td.value{widht:80px;text-align:right}
#milestone_tasks td.favorite{width:16px}#milestone_tasks td.options{width:32px}#milestone_tasks #add_new_task_to_milestone{padding-top:7px;text-align:center}
#tasks_admin #public_task_forms table.list_items th.is_enabled,#tasks_admin #public_task_forms table.list_items td.is_enabled{width:16px}#tasks_admin #public_task_forms table.list_items td.name span.form_name{display:block;padding-bottom:4px}#tasks_admin #public_task_forms table.list_items td.name a.form_url{color:#333;font-size:10px;text-decoration:underline}
#tasks tr.objects_list_item span.task_id{float:right;font-size:90%;color:#b3b4a7;margin-left:8px;margin-top:1px}#tasks tr.objects_list_item:hover span.task_id{color:#333}#tasks tr.objects_list_item td.task_options{width:16px;padding-left:0!important;padding-right:12px!important}#tasks tr.objects_list_item td.task_options img{margin-left:0;margin-top:1px}#tasks tr.objects_list_item .task_name_wrapper{display:block;position:relative;padding-left:14px}#tasks tr.objects_list_item span.label_tag{display:block;position:absolute;top:-1px;left:-7px}#tasks.objects_list_wrapper div.objects_list div.objects_list_body tr td.drag_handle{padding-right:4px!important}#tasks tr.objects_list_item[is_completed="1"] td.task_name .real_task_name{text-decoration:line-through}
