@charset "utf-8";


/* BOILERPLATE CSS -Reset css, fonts, base styles and helper classes
=======================================================================================================================
 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;

}

html,body {
	height: 100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: none;
	position: relative;

	-webkit-transition: background, color 0.3s ease-in;
	-moz-transition: background, color 0.3s ease-in;
	-o-transition: background, color 0.3s ease-in;
	-ms-transition: background, color 0.3s ease-in;
	transition: background, color 0.3s ease-in;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	margin: 0;
	padding: 0;
}

input,select {
	vertical-align: text-top;
}

/** FONTS -Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages
 * ----------------------------------------------------------------------------------------------------
 */
body {
	font: 13px/1.5 Arial, Tahoma, sans-serif;
}

body.ie7 {
	font-size: small;
}

select,input,textarea,button {
	font: 99% Arial, Tahoma, sans-serif;
}

pre,code,kbd,samp {
	font-family: monospace, Arial, Tahoma, sans-serif;
}



/** BASE STYLES
 * ----------------------------------------------------------------------------------------------------
 */


h1,h2,h3,h4,h5,h6,fieldset legend {
	font-weight: 600;
	font-family: 'Open Sans', arial, sans-serif;
}

html {
	-ms-overflow-y: scroll;
	overflow-y: scroll;
}

a:hover,a:active {
	outline: none;
}

a:active {
	top: 1px;
}

ul,ol {
	margin-left: 1.8em;
}

ol {
	list-style-type: decimal;
}

nav ul,nav li {
	margin: 0;
}

/*  Remove margins for navigation lists */
small {
	font-size: 85%;
}

strong,th {
	font-weight: bold;
}

td,td img {
	vertical-align: top;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

pre {
    white-space: pre-wrap; /* CSS3 browsers  */
    white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
    white-space: -pre-wrap; /* Opera 4 thru 6 */
    white-space: -o-pre-wrap; /* Opera 7 and up */
    word-wrap: break-word; /* IE 5.5+ and up */
}

textarea {
	overflow: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type=button],input[type=submit],button {
	cursor: pointer;
}

/* hand cursor on clickable input elements  */
button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
}

button,input,select,textarea {
	margin: 0;
	padding: 0;
}

::-moz-selection {
	text-shadow: none;
}

::selection {
	text-shadow: none;
}

button {
	width: auto;
	overflow: visible;
}

.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/** NON SEMANTIC HELPER CLASSES
 * ----------------------------------------------------------------------------------------------------
 */
/* for image replacement  */
.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

/* Hide for both screenreaders and browsers*/
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.wf {
	width: 100%;
}

.wfdashboard {
	width: 50%;
}

.tar {
	text-align: right;
}

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	clear: both;
}

.no_margin {
	margin: 0 !important;
}

.no_padding {
	padding: 0 !important;
}

.no_padding_top {
	padding-top: 0px !important;
}

.no_padding_bottom {
	padding-bottom: 0px !important;
}

.no_padding_left {
	padding-left: 0px !important;
}

.no_padding_right {
	padding-right: 0px !important;
}

.padding20 {
	padding: 20px;
}

/* END RESET CSS
=======================================================================================================================
 */
/* GRID STRUCTURE
=======================================================================================================================
 */
/** Containers
 * ----------------------------------------------------------------------------------------------------
 */
.container_12 {
    width: 98%;  /** Change widht to percentage or Pixels to make the layout fixed or fluid **/
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}


/** Grid >> Global
 * ----------------------------------------------------------------------------------------------------
 */
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12 {
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
}

/** Margin for Section
 * ----------------------------------------------------------------------------------------------------
 */
section.grid_1,section.grid_2,section.grid_3,section.grid_4,section.grid_5,section.grid_6,section.grid_7,section.grid_8,section.grid_9,section.grid_10,section.grid_11,section.grid_12 {
	margin-bottom: 2.5em;
}

/** Grid >> Children (Alpha ~ First, Omega ~ Last)
 * ----------------------------------------------------------------------------------------------------
 */
.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/** Grid >> 12 Columns
 * ----------------------------------------------------------------------------------------------------
 */
.container_12 .grid_1 {
	width: 6.333%;
}

.container_12 .grid_2 {
	width: 14.667%;
}

.container_12 .grid_3 {
	width: 23.0%;
}

.container_12 .grid_4 {
	width: 31.333%;
}

.ie7 .container_12 .grid_4 {
	width: 31.329%;
}

.container_12 .grid_5 {
	width: 39.667%;
}

.container_12 .grid_6 {
	width: 48.0%;
}

.container_12 .grid_7 {
	width: 56.333%;
}

.container_12 .grid_8 {
	width: 64.667%;
}

.container_12 .grid_9 {
	width: 73.0%;
}

.container_12 .grid_10 {
	width: 81.333%;
}

.container_12 .grid_11 {
	width: 89.667%;
}

.container_12 .grid_12 {
	width: 98.0%;
}

/** Prefix Extra Space >> 12 Columns
 * ----------------------------------------------------------------------------------------------------
 */
.container_12 .prefix_1 {
	padding-left: 8.333%;
}

.container_12 .prefix_2 {
	padding-left: 16.667%;
}

.container_12 .prefix_3 {
	padding-left: 25.0%;
}

.container_12 .prefix_4 {
	padding-left: 33.333%;
}

.container_12 .prefix_5 {
	padding-left: 41.667%;
}

.container_12 .prefix_6 {
	padding-left: 50.0%;
}

.container_12 .prefix_7 {
	padding-left: 58.333%;
}

.container_12 .prefix_8 {
	padding-left: 66.667%;
}

.container_12 .prefix_9 {
	padding-left: 75.0%;
}

.container_12 .prefix_10 {
	padding-left: 83.333%;
}

.container_12 .prefix_11 {
	padding-left: 91.667%;
}

/** Suffix Extra Space >> 12 Columns
 * ----------------------------------------------------------------------------------------------------
 */
.container_12 .suffix_1 {
	padding-right: 8.333%;
}

.container_12 .suffix_2 {
	padding-right: 16.667%;
}

.container_12 .suffix_3 {
	padding-right: 25.0%;
}

.container_12 .suffix_4 {
	padding-right: 33.333%;
}

.container_12 .suffix_5 {
	padding-right: 41.667%;
}

.container_12 .suffix_6 {
	padding-right: 50.0%;
}

.container_12 .suffix_7 {
	padding-right: 58.333%;
}

.container_12 .suffix_8 {
	padding-right: 66.667%;
}

.container_12 .suffix_9 {
	padding-right: 75.0%;
}

.container_12 .suffix_10 {
	padding-right: 83.333%;
}

.container_12 .suffix_11 {
	padding-right: 91.667%;
}

/** Push Space >> 12 Columns
 * ----------------------------------------------------------------------------------------------------
 */
.container_12 .push_1 {
	left: 8.333%;
}

.container_12 .push_2 {
	left: 16.667%;
}

.container_12 .push_3 {
	left: 25.0%;
}

.container_12 .push_4 {
	left: 33.333%;
}

.container_12 .push_5 {
	left: 41.667%;
}

.container_12 .push_6 {
	left: 50.0%;
}

.container_12 .push_7 {
	left: 58.333%;
}

.container_12 .push_8 {
	left: 66.667%;
}

.container_12 .push_9 {
	left: 75.0%;
}

.container_12 .push_10 {
	left: 83.333%;
}

.container_12 .push_11 {
	left: 91.667%;
}

/** Pull Space >> 12 Columns
 * ----------------------------------------------------------------------------------------------------
 */
.container_12 .pull_1 {
	left: -8.333%;
}

.container_12 .pull_2 {
	left: -16.667%;
}

.container_12 .pull_3 {
	left: -25.0%;
}

.container_12 .pull_4 {
	left: -33.333%;
}

.container_12 .pull_5 {
	left: -41.667%;
}

.container_12 .pull_6 {
	left: -50.0%;
}

.container_12 .pull_7 {
	left: -58.333%;
}

.container_12 .pull_8 {
	left: -66.667%;
}

.container_12 .pull_9 {
	left: -75.0%;
}

.container_12 .pull_10 {
	left: -83.333%;
}

.container_12 .pull_11 {
	left: -91.667%;
}

/* END GRID STRUCTURE
=======================================================================================================================
 */


/* TYPOGRAPHY & GENERAL STYLING
=======================================================================================================================
 */
/** WRAPPER & BODY STYLES
 * ----------------------------------------------------------------------------------------------------
 */

#main {
	padding: 20px 0px 60px 0px;
	overflow: auto;
	clear: both;
}

.wrapper {
	min-height: 100%;
}

.ie7 .wrapper {
	display: table;
}


/** HEADINGS
 * ----------------------------------------------------------------------------------------------------
 */
h1,h2,h3,h4,h5,h6 {
	margin-top: 0.8em;
	margin-bottom: .3em; /** Variable margin on bottom for all headings **/
}

.h2_heading {
	margin-top: 4.8em;
}

h1 {
	font-size: 	197%;
	margin-top: 0.3em;
    font-weight:600;
}
h2 {
	font-size: 174%;
}

h3 {
	font-size: 161.6%;
}

h4 {
	font-size: 153.9%;
}

h5 {
	font-size: 138.5%;
}

h6 {
	font-size: 131%;
}

/** Styled heading class **/
.heading_style1 {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 0px;
	margin: 15px 0 10px 0;
	font-size: 85%;
}

.heading_style1 span {
	padding: 1px 10px 1px 1px;
}

/** BORDERS
 * ----------------------------------------------------------------------------------------------------
 */
.border_bottom_1 {
	padding-bottom: 8px;
    margin-bottom:1em;
}

.border_bottom_2 {
	padding-bottom: 5px;
    margin-bottom:1em;
}

.border_bottom_3 {
	padding-bottom: 3px;
    margin-bottom:1em;
}

/** TYPOGRAPHY
 * ----------------------------------------------------------------------------------------------------
 */
a {
	text-decoration: none;
}

hr {
	height: 1px;
	margin: 2em 0px;
	border-right-style: none;
	border-left-style: none;
}

.ie7 hr {
	border-bottom-style: none;
}

td,th {
	padding: 5px;
	display: table-cell;
}

p {
	margin: 0em 0px 1em;
}

ol {
	list-style: decimal inside;
}

ul {
	list-style: disc inside;
}

blockquote {
	font-style: italic;
	padding-left: 3em;
}

cite {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	font-style: italic;
}

pre {
	padding: 5px;
	display: block;
	margin-bottom: 1em;
	overflow: visible;
}

/* END -TYPOGRAPHY & GENERAL STYLING
=======================================================================================================================
 */



/* FORMS
=======================================================================================================================
 */
fieldset {
	padding-top: 2em;
	margin-top: 1em;
}

fieldset legend {
	padding-right: 10px;
	font-size: 123.1%;
    font-weight:normal;
}

.ie7 fieldset legend {
	margin: 0 0 1em -0.5em;
}

form label {
	font-size: 93%;
	font-weight: bold;
	display: block;
	margin-bottom: 0.2em;
}

form p {
	line-height: 1.5em;
	vertical-align: middle;
}

form p small {
	font-size: 85%;
	display: block;
}

form input,form select,form textarea,form .wysiwyg {
	padding: 6px;
	margin-bottom: 1em;
	outline: none;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
        
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

form input.small,form textarea.small {
	width: 40%;
}

form input.med,form textarea.med {
	width: 60%;
}

form input.large,form textarea.large {
	width: 100%;
}

.ie7 form input.large,.ie7 form textarea.large {
	width: 97.5%;
}


/** Validator
 * ----------------------------------------------------------------------------------------------------
 */
.validator {
	/* supply height to ensure consistent positioning for every browser */
	height: 18px;
	font-size: 85%;
	padding: 3px 10px;
	margin-left: -2px;
	line-height: 18px;
	vertical-align: middle;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.validator .arrow {
	width: 0; /**    Make Tip shape using polygonal shape with borders and without css http:  //www.filamentgroup.com/lab/image_free_css_tooltip_pointers_a_use_for_polygonal_css/ **/
	height: 0;
	border-left: 0px solid transparent;
	border-right: 6px solid transparent;
	border-top: 0px;
	display: block;
	position: absolute;
	top: -7px;
	left: 10px;
}

form input[type="checkbox"],form input[type="radio"] {
	padding: 0;
	background: none;
	border: none;
	margin: 0 0.5em;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/** Disabled form Elements
 * ----------------------------------------------------------------------------------------------------
 */
button[disabled]:active,button[disabled],input[type="reset"][disabled]:active,input[type="reset"][disabled],input[type="button"][disabled]:active,input[type="button"][disabled],select[disabled] > input[type="button"],select[disabled] > input[type="button"]:active,input[type="submit"][disabled]:active,input[type="submit"][disabled],input[type="text"][disabled] {
	border: 1px solid #d6d6d6;
	color: GrayText;
	cursor: inherit;
	background: #dbdbdb;
}

/** Buttons
 * ----------------------------------------------------------------------------------------------------
 */
.button {
	font-size: 93%;
	font-weight: bold;
	border: none;
	padding: 0.6em 1em;
	margin-bottom: 0.5em;
	text-align: center;
	display: inline-block;
	outline: 0px solid transparent;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

.button:hover {
	background-position: 0px -44px;
}

.button:active {
	background-position: 0px -90px;
	top: 1px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

a.button:hover,a.button:active,a.button:visited {
	color: #fff;
}


/* Button Sizes*/
.button.small {
	font-size: 85%;
}

.button.large {
	font-size: 100%;
}


/* Buttons in header */
.box .header .button {
	font-size: 85%;
	margin-right: 0;
	margin-left: 0.5em;
	padding: 0.45em 0.5em;
	float: right;
	position: relative;
	top: 5px;
}

/* END -FORMS
=======================================================================================================================
 */


 /* GLOBAL ELEMENTS -HEADER, FOOTER, NAV, USER MENU
=======================================================================================================================
 */
/** HEADER
 * ----------------------------------------------------------------------------------------------------
 */
header {
	min-height: 60px;
	clear: both;
}

/** LOGO
 * ----------------------------------------------------------------------------------------------------
 */
.logo {
	width: 180px;
	height: 36px;
	float: left;
	margin-top: 14px;
	position: relative;
}

/** FOOTER
 * ----------------------------------------------------------------------------------------------------
 */
footer {
	height: 40px;
	font-size: 85%;
	position: relative;
	bottom: 0px;
	width: 100%;
	padding-top: 20px;
	clear: both;
	margin-top: -60px;
}

footer a:hover {
	text-decoration: underline;
}



/** NAVIGATION
 * ----------------------------------------------------------------------------------------------------
 */
#main_nav {
	position: relative;
	font-family: 'Open Sans', arial, sans-serif;
	margin: 0 20%;
}

.ie7 #main_nav {
	z-index: 999;
}

#main_nav ul li {
	display: inline-block;
	margin-right: 20px;
}

.sf-menu a {
	text-decoration: none;

	-webkit-transition: color 0.1s ease-in;
	-moz-transition: color 0.1s ease-in;
	-o-transition: color 0.1s ease-in;
	-ms-transition: color 0.1s ease-in;
	transition: color 0.1s ease-in;
}

.sf-menu a.current {
	font-weight: bold;
}


/** TOGGLE SWTICH FOR MAIN MENU
 * ----------------------------------------------------------------------------------------------------
 */
.nav_toggle {
	display: none;
	width: 28px;
	height: 45px;
	float: right;
	margin: 0.5em 1em 0 0;
	position: static;
}



/** USER MENU
 * ----------------------------------------------------------------------------------------------------
 */
#user_menu {
	right: 0px;
	bottom: 0px;
	float: right;
	position: relative;
	z-index: 999;
}

#user_menu a {
	-webkit-transition: background 0.3s ease-in;
	-moz-transition: background 0.3s ease-in;
	-o-transition: background 0.3s ease-in;
	-ms-transition: background 0.3s ease-in;
	transition: background 0.3s ease-in;
}

#user_menu a:active {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

/* ===[ Menu Button ]=== */
#user_menu .menu_btn {
	display: block;
	height: 61px;
	line-height: 60px;
	vertical-align: middle;
	font-size: 85%;
	padding: 0px 10px;
	text-decoration: none;
}

#user_menu .user_id{
    font-weight:bold;
}


#user_menu .menu_btn img {
	margin: 0px 10px 5px 5px;
	vertical-align: middle;
}

#user_menu .menu_btn .arrow {
	width: 8px;
	height: 8px;
	display: inline-block;
	margin-left: 5px;
}

.ie7 #user_menu .menu_btn .arrow {
	position: relative;
	top: -8px;
	left: 5px;
}

#user_menu .menu_btn:hover .arrow {
	background-position: 0px -9px;
}

/* ===[ Menu ]=== */
#user_menu .menu {
	width: 250px;
	position: absolute;
	right: 0px;
	top: 56px;
	z-index: 2;
	display: none;
	overflow: hidden;

	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

.no-js #user_menu:hover .menu {
	display: block;
}



/* ===[ Search field in user menu ]=== */
#user_menu .menu .search_container {
	display: block;
	clear: both;
	height: 35px;
	padding: 5px;
}

#user_menu .menu .search {
	height: 20px;
	padding: 0px 5px 0px 10px;
	position: relative;
	top: 8px;
	line-height: 22px;
	vertical-align: middle;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: inset 1px 1px 0px #000;
	-moz-box-shadow: inset 1px 1px 0px #000;
	box-shadow: inset 1px 1px 0px #000;
}


#user_menu .menu .search input[type="text"] {
	border: none;
	padding: 0px;
	margin: 0px;
	width: 90%;
	position: relative;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#user_menu .menu .search input[type="text"]:focus {
	border: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
}

#user_menu .menu .search .search_icon {
	width: 15px;
	height: 15px;
	float: right;
	position: absolute;
	top: 3px;
	right: 5px;

	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

#user_menu .menu .search .search_icon:hover {
	background-position: bottom left;
}

.ie7 #user_menu .menu .search .search_icon:hover {
	background-position: -21px 0;
}


/* ===[ Logout Button ]=== */
.menu .logout {
	position: absolute;
	top: 60px;
	right: 5px;
	display: block;
	padding: 0.3em 1.2em 0.4em;
	font-size: 77%;
}

/* ===[ Menu tabs ]=== */
.menu .tabs {
	height: 30px;
	margin: 0 0 1px -1px;
	padding-top: 10px;
}

.menu .tabs li {
	float: left;
	list-style: none;
}

.menu .tabs li a {
	display: block;
	text-indent: -999em;
	padding: 9px 15px 4px;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}

.menu .tabs li a span {
	width: 17px;
	height: 17px;
	display: block;
	text-indent: -999em;
	cursor: pointer;
}

.menu .tabs li a.current {
	border-bottom: none !important;
}

.menu .tabs li a.current:active {
	position: static;
}

.menu .tabs li a.current span {
	background-position: bottom left !important;
}

.menu ul,.menu ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-position: outside;
}

.menu div ul {
	list-style: none;
	margin: 0;
}

.menu div ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu div ul li a {
	display: block;
	font-size: 85%;
	padding: 15px 30px 15px 10px;
}
.menu div ul li a small {
     display: block;
    padding-top: 0.5em;
}

.menu div ul li:first-child a,.menu div ul li:first-child a:hover {
	border-top: none;
}


/* ===[ Settings List ]=== */
.menu .settings ul li a {
	display: block;
	font-size: 93%;
	padding: 15px 10px;
	font-weight: bold;
}

.menu .settings ul li a span.icon {
	float: right;
	width: 17px;
	height: 17px;
}

.menu .settings ul li a span.icon.password {
	background-position: 0px top;
}

.menu .settings ul li a span.icon.account {
	background-position: -17px top;
}

.menu .settings ul li a span.icon.profile {
	background-position: -34px top;
}

.menu .settings ul li a span.icon.notification {
	background-position: -51px top;
}

.menu .settings ul li a:hover span.password {
	background-position: 0px bottom;
}

.menu .settings ul li a:hover span.account {
	background-position: -17px bottom;
}

.menu .settings ul li a:hover span.profile {
	background-position: -34px bottom;
}

.menu .settings ul li a:hover span.notification {
	background-position: -51px bottom;
}

/* ===[ Emails ]=== */

.menu .emails ul li a span.icon {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 17px;
	height: 17px;
	float: right;
}

.menu .emails ul li a:hover span.icon {
	background-position: top right;
}

/* ===[ Read Email ]=== */

.menu .emails ul li a.read span.icon {
	background-position: bottom left;
}

.menu .emails ul li a.read:hover span.icon {
	background-position: bottom right;
}


.menu .footer {
	text-align: center;
	padding: 1.1em;
	zoom: 1;
	font-size: 85%;
}

/* END -GLOBAL ELEMENTS -HEADER, FOOTER, NAV, USER MENU
=======================================================================================================================
 */


/* BREADCRUMBS
=======================================================================================================================

 */
.breadcrumbs {
	margin: 0 0px 3em;
	list-style: none;
	height: 24px;
	overflow: hidden;
	font-size: 85%;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



.breadcrumbs li {
	list-style: none;
	display: block;
	float: left;
	padding-right: 15px;
	line-height: 24px;
	vertical-align: middle;
	margin: 0 0 0 10px;
}

.breadcrumbs li:first-child a {
	text-indent: -1000em;
	width: 17px;
	display: block;
}

.breadcrumbs li:first-child a:hover {
	background-position: right center;
}

.breadcrumbs li:last-child {
	background-image: none;
}

/* END -BREADCRUMBS
=======================================================================================================================
 */


 /* BOX STYLES
=======================================================================================================================
 */
.box {

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.with_sidebar {
	padding-left: 0px !important;

	-webkit-border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

.with_sidebar .pane {
	margin-left: 195px;
}

.box .header {
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	padding: 0px 10px;

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.box .footer {
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	padding: 20px;
}


.box .header h2 {
	font-size: 116%;
    font-weight:600;
	margin: 0;
	float: left;
}

.box .body {
	padding: 1.5em;
}

.box .body .pane {
	background: transparent;
}

.box .collapsed {
	display: none;
}


/** HEADER CONTROLS
 * ----------------------------------------------------------------------------------------------------
 */
/* ===[ Seperator for header controls ]=== */
.box .header .seperator {
	width: 2px;
	height: 25px;
	margin: 5px 0.7em 0;
	display: block;
	float: right;
}

/* ===[ Expose Control ]=== */
.box .header .expose {
	float: right;
	position: relative;
	line-height: 35px;
	height: 35px;
	display: block;
	font-size: 85%;
	vertical-align: middle;
	padding-right: 35px;
}

.box .header .expose .itoggle {
	top: 10px;
	position: absolute;
	right: 0px;
}

/* ===[ Menu in Box header ]=== */
.menu_header {
	float: right;
	display: block;
	vertical-align: middle;
	position: relative;
	top: 8px;
}

/* Overrides to superfish main menu
 */
.menu_header .sf-menu a {
	padding: 0px 25px 0px 10px;
	height: 21px;
	line-height: 21px;
	vertical-align: center;
	font-size: 77%;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.menu_header .sf-sub-indicator {
	top: 7px;
	right: 5px;
}

.menu_header .sf-menu a.sf-with-ul {
	padding-right: 20px;
}


.menu_header .sf-menu li:hover ul,.menu_header .sf-menu li.sfHover ul {
	top: 28px;
}

/*Distance for Top Level*/
.menu_header .sf-menu li li:hover ul,.menu_header .sf-menu li li.sfHover ul {
	top: 0px;
}

/*Reset Distance for 2nd Level*/
.menu_header .sf-menu li li a {
	padding: 5px 10px;
	background: none;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.menu_header .sf-menu ul .sf-sub-indicator {
	top: 10px;
}

.menu_header .sf-menu ul li:hover,.menu_header .sf-menu ul li.sfHover,.menu_header .sf-menu ul a:focus,.menu_header .sf-menu ul a:hover,.menu_header .sf-menu ul a:active {
	text-shadow: none;
}

/* ===[ Search field in box header ]=== */
.box .header .search {
	float: right;
	height: 20px;
	padding: 0px 5px 0px 10px;
	position: relative;
	top: 8px;
	line-height: 22px;
	vertical-align: middle;
	width: 170px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


.box .header .search input[type="text"] {
	border: none;
	padding: 0px;
	margin: 0px;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent !important;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.box .header .search .search_icon {
	width: 15px;
	height: 15px;
	float: right;
	position: absolute;
	top: 4px;
	right: 5px;
}

.box .header .search .search_icon:hover {
	background-position: bottom left;
}

.ie7 .box .header .search .search_icon:hover {
	background-position: -21px left;
}


/* ===[ Expand/Collapse box controls ]=== */
.box .header .toggle_visibility {
	width: 14px;
	height: 14px;
	float: right;
	top: 10px;
    background-repeat:no-repeat;
    background-position:0px 0px;
        
}

.box .header .toggle_visibility:hover {
	background-position: 0px -14px;
}

.box .header .swap {
	background-position: -14px 0px;
}

.box .header .swap:hover {
	background-position: -14px -14px;
}

/* ===[ Sub Navigation in box header ]=== */
.box .header .sub_nav {
	float: right;
	margin: 0;
	position: relative;
	top: 6px;
	vertical-align: middle;
	line-height: 20px;
	list-style: none;

	-webkit-border-radius: 99px 99px 99px 99px;
	-moz-border-radius: 99px 99px 99px 99px;
	border-radius: 99px 99px 99px 99px;

}

.box .header .sub_nav li {
	list-style: none;
	display: inline;
}

.box .header .sub_nav a {
	text-decoration: none;
	font-size: 85%;
	padding: 0px 13px;
	display: block;
	float: left;
	font-weight: bold;

}


.box .header .sub_nav a:hover {
	color: #4d6482;
}

.box .header .sub_nav a.current {
	color: #4d6482;
	background: none; /* Reset for all browsers */
}

.box .header .sub_nav li:first-child a {
	-webkit-border-radius: 99px 0px 0px 99px;
	-moz-border-radius: 99px 0px 0px 99px;
	border-radius: 99px 0px 0px 99px;
}

.box .header .sub_nav li:last-child a {
	-webkit-border-radius: 0px 99px 99px 0px;
	-moz-border-radius: 0px 99px 99px 0px;
	border-radius: 0px 99px 99px 0px;
}

/* ===[ Prev/Next buttons for header ]=== */
ul.prev_next,ul.prev_next li {
	list-style: none;
	margin: 0;
	padding: 0;
	list-style-position: outside;
}

ul.prev_next {
	float: right;
	position: relative;
	top: 6px;
	vertical-align: middle;
	line-height: 20px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}

ul.prev_next li {
	display: inline-block;
	text-align: center;
}


.ie7 ul.prev_next li {
	display: block;
	float: left;
	width: 24px;
	height: 20px;
}

.ie7 ul.prev_next li a {
	display: block;
	position: static;
}

.ie7 ul.prev_next li a span {
	top: 3px;
	display: block;
	cursor: pointer;
}

ul.prev_next li a {
	padding: 4px 8px;
}

ul.prev_next li a span {
	display: inline-block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	width: 7px;
	height: 8px;
	top: 0px;
	position: relative;
}

ul.prev_next li.prev {
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}

ul.prev_next li.next {
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
}

ul.prev_next li.prev a span {
	background-position: left top;
}

ul.prev_next li.prev a:hover span {
	background-position: left -8px;
}

ul.prev_next li.next a span {
	background-position: right top;
}

ul.prev_next li.next a:hover span {
	background-position: right -8px;
}

/* END -BOX STYLES
=======================================================================================================================
 */


 /* PROGRESS BARS
=======================================================================================================================
 */
.progress_bar {
	padding: 1px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0.5em 0 2em 0;
	zoom: 1;
}

.progress_bar span {
	display: block;
	text-align: center;
	padding: 3px;
	font-weight: bold;
	font-size: 77%;
	min-height: 13px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* END -PROGRESS BARS
=======================================================================================================================
 */


 /* NOTIFICATION BOXES
=======================================================================================================================
 */
div.info,div.error,div.success {
	margin: 1.5em 0;
	padding: 6px 40px;
	position: relative;
	line-height: 1.6em;
	vertical-align: middle;
	zoom: 1;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.info .icon,.error .icon,.success .icon {
	position: absolute;
	top: 8px;
	left: 10px;
}

.close_notification {
	position: absolute;
	top: 9px;
	right: 7px;
	width: 14px;
	height: 14px;
	cursor: pointer;
}

.close_notification:hover {
	background-position: left -14px;
	top: 9px;
}
.close_notification:active {
    top: 10px;
}


/* END -NOTIFICATION BOXES
=======================================================================================================================
 */


/* TAGS
=======================================================================================================================
 */
.tags {
	margin: 0;
	padding: 0;
}

.tags li {
	list-style: none;
	margin: 0.5em 0.3em;
	display: block;
	float: left;
}

.tags li a,.tag {
	font-weight: bold;
	font-size: 77%;
	padding: 3px 6px;
	zoom: 1;
	display: inline-block;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}


/* END -TAGS
=======================================================================================================================
 */


/* NAVIGATION STYLES
=======================================================================================================================
 */
/** VERTICAL NAVIGATION
 * ----------------------------------------------------------------------------------------------------
 */
.vertical_nav {
	padding: 0px;
	font-size: 100%;
	float: left;
	width: 178px;
	margin: 0;
	list-style: none;
	list-style-position: outside;
}

.vertical_nav li {
	list-style: none;
	list-style-position: outside;
	margin-bottom: 10px;
}

.vertical_nav li a {
	padding: 7px 10px;
	position: static;
	display: block;
}

.vertical_nav li .current {
	text-decoration: none !important;
	font-weight: bold;
}

/** TABS
 * ----------------------------------------------------------------------------------------------------
 */
.box .tabs {
	margin: 0;
	font-size: 93%;
	padding: 1em 2em 0px;
}


.box .tabs li {
	float: left;
	list-style: none;
}

.box .tabs li a {
	padding: 8px 12px;
	list-style: none;
	margin-right: 5px;
	display: block;
	top: 1px;
	font-weight: bold;
	border: 1px solid transparent;
}

.box .tabs li a.current {
	border-bottom: 1px solid transparent !important;
}

/** ACCORDION
 * ----------------------------------------------------------------------------------------------------
 */

/* ===[ accordion header ]=== */
.accordion h2 {
	margin: 0;
	font-size: 100%;
	padding: 8px 25px 8px 10px;
	font-weight: normal;
	cursor: pointer;
	position: relative;
	zoom: 1;
	display: block;
    font-weight:600;

}
/* ===[ currently active header ]=== */
.accordion h2.current {
	cursor: default;
}

/* ===[ accordion header arrows ]=== */
.accordion h2 .arrow {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 14px;
	height: 14px;
}

.accordion h2:hover .arrow {
	background-position: -28px -14px;
}

.accordion h2.current .arrow {
	background-position: 0px -14px;
}

/* ===[ Accordion pane ]=== */
.accordion div.pane {
	display: none;
	padding: 1em;
	clear: both;
}

/* END -NAVIGATION STYLES
=======================================================================================================================
 */



 /* WIZARD
=======================================================================================================================
 */
#steps {
	margin: 0;
	display: block;
	height: 4.2em;
	clear: both;
	font-size: 116%;
	text-align: left;
	padding-left: 2em;
}


#steps li {
	list-style: none;
	display: block;
	padding: 1.3em 1em;
	margin-right: 1em;
	float: left;
}

#steps li span {
	font-size: 77%;
	display: block;
}

#steps li.current {
	padding: 1.3em 1em;
	font-weight: bold;
}

.wizard .next,.wizard .prev {
	cursor: pointer;
}

.wizard .next {
	float: right;
}

/* END -WIZARD
=======================================================================================================================
 */


 /* SCROLLABLE CAROUSEL
=======================================================================================================================
 */
.scrollable {
	height: 160px;
	margin: 0px auto 0.8em;
	text-align: center;
}

.scrollable li {
	width: 100px;
	height: 135px;
	margin: 0px 10px;
	list-style: none;
	float: left;
}

.scrollable .thumb {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 10px 10px;
	margin: 0 auto;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: transparent;
}


.scrollable .text {
	display: block;
	text-decoration: none;
	text-align: center;
	margin-top: 10px;
}

.jcarousel-container-horizontal {
	width: 98.333333333333%;
	text-align: center;
}

.jcarousel-clip-horizontal {
	width: 95%;
	margin: 0px auto;
	overflow: hidden;
}


/** CAROUSEL BUTTONS
 * ----------------------------------------------------------------------------------------------------
 */
.jcarousel-next-horizontal {
	position: absolute;
	top: 43px;
	right: 0px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	border: none;
}

.jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
}

.jcarousel-next-horizontal:hover {
	background-position: -44px top;
}

.jcarousel-next-horizontal:active {
	background-position: -66px top;
}

.jcarousel-next-disabled-horizontal,.jcarousel-next-disabled-horizontal:hover,.jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: 0px 0px !important;
}

.jcarousel-prev-horizontal {
	position: absolute;
	top: 43px;
	left: 0px;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
}

.jcarousel-prev-horizontal:hover {
	background-position: -44px bottom;
}

.jcarousel-prev-horizontal:active {
	background-position: -66px bottom;
}

.jcarousel-prev-disabled-horizontal,.jcarousel-prev-disabled-horizontal:hover,.jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: 0px bottom !important;
}

/* END -SCROLLABLE CAROUSEL
=======================================================================================================================
 */


 /* TABLES
=======================================================================================================================
 */
.datagrid {
	font-size: 93%;
}

.datagrid th {
	font-size: 100%;
	padding: 10px;
}

.datagrid td {
	padding: 7px 3px;
	vertical-align: middle;
}

.datagrid td small {
	font-size: 93%;
	display: block;
}

/** Selected items and dropdown
 * ----------------------------------------------------------------------------------------------------
 */

tr.grid_dropdown td {
	padding: 20px;
}

.ie7 tr.grid_dropdown td {
	border-top: none;
}



/** Minimize/Mazimize controls
 * ----------------------------------------------------------------------------------------------------
 */
.datagrid .toggle {
	width: 40px;
}

.datagrid .toggle span {
	width: 9px;
	height: 9px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
    background-position:top left;
    background-repeat:no-repeat;
}

.datagrid .collapse span {
	background-position: top right;
}

/* END -TABLES
=======================================================================================================================
 */

 /* PAGINATION STYLES
=======================================================================================================================
 */
/** NUMBERED PAGINATION
 * ----------------------------------------------------------------------------------------------------
 */
.pagination {
	text-align: center;
	height: 40px;
	margin: 2em -1.5em -1.5em;
	font-weight: bold;

	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

.pagination li {
	display: inline-block;
	list-style: none;
	position: relative;
	top: 12px;
	height: 30px;
}

.ie7 .pagination li {
	display: inline;
}

.pagination li a, .pagination li span{
	padding: 20px 10px;
	line-height: 20px;
	height: 30px;
}
.pagination li span{
	color:#888;
}


/** DOT PAGINATION
 * ----------------------------------------------------------------------------------------------------
 */
.dot_pagination {
	text-align: center;
	margin: 0;
	padding: 0;
}

.dot_pagination li {
	display: inline;
	list-style: none;
	position: relative;
	height: auto;
	width: 10px;
	height: 10px;
}

.dot_pagination li a {
	height: 10px;
	width: 10px;
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	margin-top: 1em;
}

.dot_pagination li.active a {
	background-position: bottom left;
}

.ie7 .header .dot_pagination {
	position: relative;
	bottom: 5px;
}

.ie7 .dot_pagination li.active a {
	background-position: -10px left;
}

/* END -PAGINATION STYLES
=======================================================================================================================
 */



 /* iPHONE STYLE TOGGLE BUTTONS
=======================================================================================================================
 */
.ez-hide {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	width: 30px;
	height: 17px;
	margin: 0 !important;
	padding: 0 !important;
	vertical-align: top !important;
}

.itoggle {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 17px;
	cursor: pointer;
}

.itoggle_off {
	background-position: 0px -18px;
}

.ie7 .itoggle {
	display: inline;
}

/* END-iPHONE STYLE TOGGLE BUTTONS
=======================================================================================================================
 */


 /* TOOLTIPS
=======================================================================================================================
 */
.tooltip,.tooltip.bottom {
	display: none;
	font-size: 85%;
	padding: 7px;
	text-align: center;
	z-index: 9999;
    border:none;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.tooltip .arrow,.tooltip.bottom .arrow {
	width: 0; /**    Make Tip shape using polygonal shape with borders and without css http:  //www.filamentgroup.com/lab/image_free_css_tooltip_pointers_a_use_for_polygonal_css/ **/
    height: 0;
	border-left: 0px solid transparent;
	border-right: 9px solid transparent;
	border-top: 9px solid;
	border-bottom: 0;
	display: block;
	position: absolute;
	bottom: -7px;
	left: 50%;
	margin-left: -3px;
}

.tooltip.bottom .arrow {
	border-left: 0px solid transparent;
	border-right: 9px solid transparent;
	border-top: 0;
	top: -7px;
}

/* END -TOOLTIPS
=======================================================================================================================
 */


/* RANGE INPUT
=======================================================================================================================
 */
/* ===[ slider root element ]=== */
.slider {
	clear: right;
	cursor: pointer;
	float: left;
	height: 6px;
	margin-top: 10px;
	position: relative;
	width: 200px;
	display: block;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}


.ie7 .slider {
	z-index: 100;
}

/* ===[ progress bar (enabled with progress:  true) ]=== */
.slider .progress {
	height: 6px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

/* ===[ drag handle ]=== */
.handle,.handle:active,.handle:hover {
	height: 16px;
	width: 16px;
	top: -5px;
	position: absolute;
	display: block;
	margin-top: 0px;
	cursor: move;
}

.ie7 .handle {
	z-index: 9999;
}

/* ===[ the input field  ]=== */
.range {
	float: left;
	margin: 0 0 0 10px;
	text-align: center;
	width: 30px;
	padding: 2px;
}

/* END -RANGE INPUT
=======================================================================================================================
 */

 /* MODAL WINDOW
=======================================================================================================================
 */
#facebox {
	display: none;
	border: 10px solid rgba(20, 20, 20, 0.5);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#facebox .box {
	-webkit-box-shadow: 0px 0px 15px #000;
	-moz-box-shadow: 0px 0px 15px #000;
	box-shadow: 0px 0px 15px #000;
}

/** EXPOSE MASK
 * ----------------------------------------------------------------------------------------------------
 */
#exposeMask {
	z-index: 9998;
	background: #000 !important;
}

/* END -MODAL WINDOW
=======================================================================================================================
 */
 /* DATE PICKER
=======================================================================================================================
 */
/* ===[ calendar root element ]=== */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
    z-index: 99900;
	margin-top: -1px;
	width: 198px;
	padding: 2px;
	font-size: 85%;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* ===[ head. contains title, prev/next month controls and possible month/year selectors ]=== */
#calhead {
	padding: 2px 0;
	height: 22px;
}

#caltitle {
	font-size: 108%;
	float: left;
	text-align: center;
	width: 170px;
	line-height: 20px;
}

#calnext,#calprev {
	display: block;
	width: 13px;
	height: 13px;
	float: left;
	cursor: pointer;
	position: relative;
	left: 5px;
	top: 5px;
}

#calnext {
	background-position: top right !important;
	float: right;
	left: 0px;
	top: 5px;
	right: 5px;
}

#calprev.caldisabled,#calnext.caldisabled {
	visibility: hidden;
}

/* ===[ year/month selector ]=== */
#caltitle select {
	font-size: 77%;
}

/* ===[ names of the days ]=== */
#caldays {
	height: 14px;
	padding: 5px 0px;
}

#caldays span {
	display: block;
	float: left;
	width: 28px;
	text-align: center;
}

/* ===[ container for weeks ]=== */
#calweeks {
	margin-top: 4px;
}

/* ===[ single week ]=== */
.calweek {
	clear: left;
	height: 22px;
}

/* ===[ single day ]=== */
.calweek a {
	display: block;
	float: left;
	width: 27px;
	height: 20px;
	text-decoration: none;
	margin-left: 1px;
	text-align: center;
	line-height: 20px;
	color: #666;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* ===[ different states ]=== */

/* unselecteble day  */
a.caldisabled {
	cursor: default;
}

/* END -DATE PICKER
=======================================================================================================================
 */

/* CL EDITOR
=======================================================================================================================
 */
.cleditorMain {
	border: 1px solid #D2DCE4;
	padding: 0 1px 1px;
	background-color: white;
}

.cleditorMain iframe {
	border: none;
	margin: 0;
	padding: 0;
}

.cleditorMain textarea {
	border: none;
	margin: 0;
	padding: 0;

	-ms-overflow-y: scroll;
	overflow-y: scroll;
	font: 10pt Arial, Verdana;

	-webkit-resize: none;
	-moz-resize: none;
	resize: none; /* webkit grip focus */
outline: none;
}


.cleditorGroup {
	float: left;
	height: 26px;
}

.cleditorButton {
	float: left;
	width: 24px;
	height: 24px;
	margin: 1px 0 1px 0;
}

.cleditorDisabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.cleditorDivider {
	float: left;
	width: 1px;
	height: 23px;
	margin: 1px 0 1px 0;
}

.cleditorPopup {
	position: absolute;
	font: 10pt Arial, Verdana;
	cursor: default;
	z-index: 10000;
}

.cleditorList div {
	padding: 2px 4px 2px 4px;
}

.cleditorList p,.cleditorList h1,.cleditorList h2,.cleditorList h3,.cleditorList h4,.cleditorList h5,.cleditorList h6,.cleditorList font {
	padding: 0;
	margin: 0;
	background-color: Transparent;
}

.cleditorColor {
	width: 150px;
	padding: 1px 0 0 1px;
}

.cleditorColor div {
	float: left;
	width: 14px;
	height: 14px;
	margin: 0 1px 1px 0;
}

.cleditorPrompt {
	padding: 4px;
	font-size: 8.5pt;
}

.cleditorPrompt input,.cleditorPrompt textarea {
	font: 8.5pt Arial, Verdana;
}

.cleditorMsg {
	width: 150px;
	padding: 4px;
	font-size: 8.5pt;
}

/* END -CL EDITOR
=======================================================================================================================
 */


 /* SUPERFISH MENU
=======================================================================================================================
 */
/** ESSENTIAL STYLES
 * ----------------------------------------------------------------------------------------------------
 */
.sf-menu,.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu {
	line-height: 1.0;
}

.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 12em; /* left offset of submenus need to match (see below) */
}

.sf-menu ul li {
	width: 100%;
}

.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li {
	float: left;
	position: relative;
}

.sf-menu a {
	display: block;
	position: relative;
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {
	left: 0;
	top: 61px; /* match top ul list item height */
    z-index: 99;
}

ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {
	top: -999em;
}

ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {
	left: 12em; /* match ul width */
top: 0;
}

ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul {
	top: -999em;
}

ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul {
	left: 12em; /* match ul width */
top: 0;
}


/** SKIN
 * ----------------------------------------------------------------------------------------------------
 */
.sf-menu li ul {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.sf-menu a {
	padding: 24px 10px;
	text-decoration: none;
    font-weight:600;
    font-size:13px;
}

.sf-menu li li a {
    font-weight:normal;
	padding: 10px 13px;
	text-decoration: none;
    line-height:1.4em;
}

.sf-menu li {
	background: transparent;
}

.sf-menu li li {
	font-family: Arial, Helvetica, sans-serif;
}

.sf-menu ul li:hover,.sf-menu ul li.sfHover,.sf-menu ul a:focus,.sf-menu ul a:hover,.sf-menu ul a:active {
	outline: 0;
}

/** ARROWS
 * ----------------------------------------------------------------------------------------------------
 */
.sf-menu a.sf-with-ul {
	padding-right: 20px;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator {
	position: absolute;
	display: block;
	right: 5px;
	top: 26px;
	width: 9px;
	height: 9px;
	text-indent: -999em;
	overflow: hidden;
}

.ie7 .sf-sub-indicator {
	overflow: visible;
}

a > .sf-sub-indicator {
	/* give all except IE6 the correct values */
background-position: top left; /* use translucent arrow for modern browsers*/
}

/* apply hovers to modern browsers  */
a:focus > .sf-sub-indicator,a:hover > .sf-sub-indicator,a:active > .sf-sub-indicator,li:hover > a > .sf-sub-indicator,li.sfHover > a > .sf-sub-indicator {
	background-position: bottom left !important; /* arrow hovers for modern browsers*/
}

/** point right for anchors in subs
 * ----------------------------------------------------------------------------------------------------
 */
.sf-menu ul .sf-sub-indicator {
	background-position: top right !important;
	right: 5px;
	top: 15px;
}

.sf-menu ul a > .sf-sub-indicator {
	background-position: top right;
}

/* apply hovers to modern browsers  */
.sf-menu ul a:focus > .sf-sub-indicator,.sf-menu ul a:hover > .sf-sub-indicator,.sf-menu ul a:active > .sf-sub-indicator,.sf-menu ul li:hover > a > .sf-sub-indicator,.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: bottom right !important;
}

/* END -SUPERFISH MENU
=======================================================================================================================
 */


 /* DATA TABLES
=======================================================================================================================
 */


.dataTables_wrapper {
	position: relative;
	padding: 10px;
}

.dataTables_processing {
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	text-align: center;
	font-size: 108%;
}

.dataTables_length {
	position: absolute;
	bottom: 62px;
	right: 25px;
	font-size: 85%;
}

.dataTables_length select {
	position: relative;
	top: -2px;
	margin: 0px 3px;
}

.dataTables_filter {
	font-size: 85%;
	line-height: 20px;
	vertical-align: middle;
	margin-bottom: 5px;
}

.dataTables_filter input[type="text"] {
	width: 125px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	padding: 3px 20px 3px 10px;
	outline: none;
	position: relative;
	top: -3px;
	margin-left: 5px;
}

.dataTables_info {
	padding: 10px;
	font-size: 77%;
}

.dataTables_paginate {
	padding: 10px;
	text-align: center;
}

/** DataTables display
 * ----------------------------------------------------------------------------------------------------
 */
table.display {
	margin: 0 auto;
	width: 100%;
	font-size: 93%;

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

table.display thead th {
	padding: 10px 10px 10px 0px;
	cursor: pointer;
}

table.display tfoot th {
	padding: 10px 10px;
}


table.display td {
	padding: 7px 3px;
        
}

.ie7 table.display td {
	border-top: none;
}

table.display td.center {
	text-align: center;
}


/** Misc
 * ----------------------------------------------------------------------------------------------------
 */
.top,.bottom {
	padding: 15px;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,.paging_full_numbers span.paginate_active {
	padding: 5px 12px;
	font-size: 93%;
	margin: 0 3px;
	cursor: pointer;
	font-weight: bold;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** TableTools styles
 * ----------------------------------------------------------------------------------------------------
 */
.DTTT_container {

	padding: 7px;
    float:right;
	bottom: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.DTTT_container button {
	position: relative;
	float: left;
    height:16px;
    padding-left:18px;
    background-repeat:no-repeat;
    font-weight:bold;
    font-size:85%;
	background-color: transparent;
	border: none;
	margin: 0 10px;
}

.DTTT_container button.DTTT_button_copy, .DTTT_container button.DTTT_button_csv,.DTTT_container button.DTTT_button_xls, .DTTT_container button.DTTT_button_pdf, .DTTT_container button.DTTT_button_print {
	background-position: 0px 0px !important;
}
.DTTT_container button.DTTT_button_copy_hover, .DTTT_container button.DTTT_button_csv_hover, .DTTT_container button.DTTT_button_xls_hover, .DTTT_container button.DTTT_button_pdf_hover, .DTTT_container button.DTTT_button_print_hover {
	background-position: 0px -16px !important;
}
.DTTT_print_info {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	text-align: center;
	padding: 10px 30px;
}

.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}

/* END -DATA TABLES
=======================================================================================================================
 */	




/* GALLERY
=======================================================================================================================
 */
.gallery,.gallery li,.gallery li ul.controls,.gallery li ul.controls li {
	/* Reset CSS */
list-style: none;
	margin: 0;
	padding: 0;
	background: transparent;
	border: none;
	width: auto;
}

.gallery li {
	display: block;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin: 0.5em;
	width: 128px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	padding: 5px;
	background: transparent;

	-webkit-transition-property: background-color, box-shadow;
	-moz-transition-property: background-color, box-shadow;
	-o-transition-property: background-color, box-shadow;
	-ms-transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow;

	-webkit-transition-duration: 0.3s, 0.3s;
	-moz-transition-duration: 0.3s, 0.3s;
	-o-transition-duration: 0.3s, 0.3s;
	-ms-transition-duration: 0.3s, 0.3s;
	transition-duration: 0.3s, 0.3s;

	-webkit-transition-timing-function: ease-in, ease-in;
	-moz-transition-timing-function: ease-in, ease-in;
	-o-transition-timing-function: ease-in, ease-in;
	-ms-transition-timing-function: ease-in, ease-in;
	transition-timing-function: ease-in, ease-in;
}


.gallery li a {
	display: block;
}

.gallery li ul.controls {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	left: 50%;
	bottom: -5px;
	margin-left: -40px;

	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;

	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.no-csstransitions .gallery li ul.controls {
	display: none;
}

.gallery li:hover ul.controls {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	bottom: 7px;
}

.no-csstransitions .gallery li:hover ul.controls {
	display: block;
}

.gallery li ul.controls li {
	float: left;
	padding: 5px;
}

/** Icons
 * ----------------------------------------------------------------------------------------------------
 */
.gallery li ul.controls li a {
	width: 17px;
	height: 17px;
}

/* ===[ View Icon ]=== */
.gallery li ul.controls li a.view {
	background-position: 0px 0px;
}

.gallery li ul.controls li a.view:hover {
	background-position: 0px -17px;
}

/* ===[ Edit Icon ]=== */
.gallery li ul.controls li a.edit {
	background-position: -17px 0px ;
}

.gallery li ul.controls li a.edit:hover {
	background-position: -17px -17px ;
}

/* ===[ Delete Icon ]=== */
.gallery li ul.controls li a.delete {
	background-position: -34px 0px ;
}

.gallery li ul.controls li a.delete:hover {
	background-position: -34px -17px;
}

/* END -GALLERY
=======================================================================================================================
 */

/* FULL CALENDAR v1.4.10 Stylesheet
=======================================================================================================================
 */
#calendar {
	width: 100%;
}

.fc,.fc .fc-header,.fc .fc-content {
	font-size: 1em;
}

.fc {
	direction: ltr;
	text-align: left;
}

.fc table {
	border-collapse: collapse;
	border-spacing: 0;
}

html .fc,.fc table {
	font-size: 1em;
}

.fc td,.fc th {
	padding: 0;
	vertical-align: top;
}

/* Header
------------------------------------------------------------------------*/
.fc-header td {
	white-space: nowrap;
}

.fc-header-left {
	width: 25%;
	text-align: left;
}

.fc-header-center {
	text-align: center;
}

.fc-header-right {
	width: 25%;
	text-align: right;
}

.fc-header-title {
	display: inline-block;
	vertical-align: top;
}

.fc-header-title h2 {
	margin-top: 0;
	white-space: nowrap;
}

.fc .fc-header-space {
	padding-left: 10px;
}

.fc-header .fc-button {
	margin-bottom: 1em;
	vertical-align: top;
}

/* buttons edges butting together */
.fc-header .fc-button {
	margin-right: -1px;
}

.fc-header .fc-corner-right {
	margin-right: 1px; /* back to normal */
}

.fc-header .ui-corner-right {
	margin-right: 0; /* back to normal */
}

/* button layering (for border precedence) */
.fc-header .fc-state-hover,.fc-header .ui-state-hover {
	z-index: 2;
}

.fc-header .fc-state-down {
	z-index: 3;
}

.fc-header .fc-state-active,.fc-header .ui-state-active {
	z-index: 4;
}

/* Content
------------------------------------------------------------------------*/
.fc-content {
	clear: both;
}

.fc-view {
	width: 100%; /* needed for view switching (when view is absolute) */
overflow: hidden;
}

/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header,.fc-widget-content {
	border-width: 1px 0 0 1px;
}


.fc-cell-overlay {
	/* semi-transparent rectangle while dragging */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	opacity: .2; /* for IE */
}

/* Buttons
------------------------------------------------------------------------*/
.fc-button {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.fc-state-default {
	/* non-theme */
border-style: solid;
	border-width: 1px 0;
}

.fc-button-inner {
	position: relative;
	float: left;
	overflow: hidden;
}

.fc-state-default .fc-button-inner {
	/* non-theme */
border-style: solid;
	border-width: 0 1px;
}

.fc-button-content {
	position: relative;
	float: left;
	height: 1.9em;
	line-height: 1.9em;
	padding: 0 .6em;
	white-space: nowrap;
}

/* icon (for jquery ui) */
.fc-button-content .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%;
}

.fc-button-content .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
	*margin-top: 0;
	*top: -50%;
}

/* gloss effect */
.fc-state-default .fc-button-effect {
	position: absolute;
	top: 50%;
	left: 0;
}

.fc-state-default .fc-button-effect span {
	position: absolute;
	top: -100px;
	left: 0;
	width: 500px;
	height: 100px;
	border-width: 100px 0 0 1px;
	border-style: solid;
	opacity: .09;
}

/* button states (determines colors)  */

.fc-state-disabled {
	cursor: default;
}

.fc-state-disabled .fc-button-effect {
	display: none;
}

/* Global Event Styles
------------------------------------------------------------------------*/
.fc-event {
	border-style: solid;
	border-width: 0;
	font-size: .85em;
	cursor: default;
}

a.fc-event,.fc-event-draggable {
	cursor: pointer;
}

a.fc-event {
	text-decoration: none;
}

.fc-rtl .fc-event {
	text-align: right;
}

.fc-event-inner {
	position: relative;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 0;
	overflow: hidden;
}

.fc-event-time,.fc-event-title {
	padding: 0 1px;
}

.fc .ui-resizable-handle {
	/*** TODO:  don't use ui-resizable anymore, change class ***/
display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden; /* hacky spaces (IE6/7) */
font-size: 300%; /* */
line-height: 50%; /* */
}

/* Horizontal Events
------------------------------------------------------------------------*/
.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
}

/* resizable */
.fc-event-hori .ui-resizable-e {
	top: 0 !important; /* importants override pre jquery ui 1.7 styles */
right: -3px !important;
	width: 7px !important;
	height: 100% !important;
}

.fc-event-hori .ui-resizable-w {
	top: 0 !important;
	left: -3px !important;
	width: 7px !important;
	height: 100% !important;
}

.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
}

/* Fake Rounded Corners (for buttons and events)
------------------------------------------------------------*/
.fc-corner-left {
	margin-left: 1px;
}

.fc-corner-left .fc-button-inner,.fc-corner-left .fc-event-inner {
	margin-left: -1px;
}

.fc-corner-right {
	margin-right: 1px;
}

.fc-corner-right .fc-button-inner,.fc-corner-right .fc-event-inner {
	margin-right: -1px;
}

.fc-corner-top {
	margin-top: 1px;
}

.fc-corner-top .fc-event-inner {
	margin-top: -1px;
}

.fc-corner-bottom {
	margin-bottom: 1px;
}

.fc-corner-bottom .fc-event-inner {
	margin-bottom: -1px;
}

/* Fake Rounded Corners SPECIFICALLY FOR EVENTS
-----------------------------------------------------------------*/
.fc-corner-left .fc-event-inner {
	border-left-width: 1px;
}

.fc-corner-right .fc-event-inner {
	border-right-width: 1px;
}

.fc-corner-top .fc-event-inner {
	border-top-width: 1px;
}

.fc-corner-bottom .fc-event-inner {
	border-bottom-width: 1px;
}

/* Reusable Separate-border Table
------------------------------------------------------------*/
table.fc-border-separate {
	border-collapse: separate;
}

.fc-border-separate th,.fc-border-separate td {
	border-width: 1px 0 0 1px;
}

.fc-border-separate th.fc-last,.fc-border-separate td.fc-last {
	border-right-width: 1px;
}

.fc-border-separate tr.fc-last th,.fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
}

.fc-border-separate tbody tr.fc-first td,.fc-border-separate tbody tr.fc-first th {
	border-top-width: 0;
}

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/
.fc-grid th {
	text-align: center;
	border-width: 0 0 1px 0;
	text-align: center;
	padding: 10px 5px;
}

.fc-grid .fc-day-number {
	float: right;
	padding: 0 2px;
	font-weight: bold;
}

.fc-grid .fc-other-month .fc-day-number {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3; /* for IE */
: ; /*  }

	.fc-grid .fc-day-content                 {
	 clear:  both;
	 padding:  2px 2px 1px; /* distance between events and day edges */
}

/* event styles */
.fc-grid .fc-event-time {
	font-weight: bold;
}

/* right-to-left */
.fc-rtl .fc-grid .fc-day-number {
	float: left;
}

.fc-rtl .fc-grid .fc-event-time {
	float: right;
}

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/
.fc-agenda table {
	border-collapse: separate;
}

.fc-agenda-days th {
	text-align: center;
}

.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
}

.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
}

/* make axis border take precedence */
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
}

.fc-agenda-days .fc-col0 {
	border-left-width: 0;
}

/* all-day area */
.fc-agenda-allday th {
	border-width: 0 1px;
}

.fc-agenda-allday .fc-day-content {
	min-height: 34px; /* TODO:  doesnt work well in quirksmode */
_height: 34px;
}

/* divider (between all-day and slots) */
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
}

/* slot rows */
.fc-agenda-slots th {
	border-width: 1px 1px 0;
}

.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
}

.fc-agenda-slots td div {
	height: 20px;
}

.fc-agenda-slots tr.fc-slot0 th,.fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
}

.fc-agenda-slots tr.fc-minor th,.fc-agenda-slots tr.fc-minor td {
	border-top-style: dotted;
}

.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style: solid; /* doesn't work with background in IE6/7 */
}

/* Vertical Events
------------------------------------------------------------------------*/
.fc-event-vert {
	border-width: 0 1px;
}

.fc-event-vert .fc-event-head,.fc-event-vert .fc-event-content {
	position: relative;
	z-index: 2;
	width: 100%;
	overflow: hidden;
}

.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px;
}

.fc-event-vert .fc-event-bg {
	/* makes the event lighter w/ a semi-transparent overlay  */
position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: .3;
}

/* TODO:  something nicer like .fc-opacity */
.fc .ui-draggable-dragging .fc-event-bg,.fc-select-helper .fc-event-bg {
	display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
}

/* resizable */
.fc-event-vert .ui-resizable-s {
	bottom: 0 !important; /* importants override pre jquery ui 1.7 styles */
width: 100% !important;
	height: 8px !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px !important;
	font-family: monospace;
	text-align: center;
}

.fc-agenda .ui-resizable-resizing {
	/* TODO:  better selector */
_overflow: hidden;
}

/* END -FULL CALENDAR
=======================================================================================================================
 */				


/* START - CSS BY TALHA
=======================================================================================================================
 */	
 
 .fr-margin-5 {
	margin-left: 5px; 
 }
 
 .fl-margin-5 {
	margin-right: 5px; 
 }
 
 .padd {
	padding-right: 40px!important;
	width: 250px;
}

.width-80 {
	width: 80%;	
}
 
form select.small {
	width: 40%;
}

form select.med {
	width: 60%;
}

form select.large {
	width: 100%;
}

.ie7 form select.large {
	width: 97.5%;
} 

.float-left-margin {
	float:left;
	margin-right:5px;	
}

.margin-top-2em {
	margin-top: 2em;	
}

.box-template {
	border: 1px #999 solid; 
	width:100%; 
	list-style:none; 
	height:200px;
	padding-top:10px; 
	overflow-y:scroll;
	margin-left: 0px;	
	margin-top: 10px;
}

.add-button {
	padding: 0 10px;	
}

.ui-dropdownchecklist-item {
	height: 40px;	
}


.ui-dropdownchecklist-item input {
	float: left;
	height: 40px;	
}

.ui-dropdownchecklist-item label {
	line-height: 40px;
	font-size: 12px;
	font-weight: normal;	
}


 
/* START - CSS BY TALHA
=======================================================================================================================
 */				





/* jQuery Snippet --- Code highlighter
=======================================================================================================================
*/



/*--------Snippet Base Styles ----------*/
.snippet-wrap {
	position: relative;
}

*:first-child+html .snippet-wrap {
	display: inline-block;
}

* html .snippet-wrap {
	display: inline-block;
}

.snippet-reveal {
	text-decoration: underline;
}

.snippet-wrap .snippet-menu,.snippet-wrap .snippet-hide {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: .9em;
	z-index: 1;
	background-color: transparent;
}

.snippet-wrap .snippet-hide {
	top: auto;
	bottom: 10px;
}

*:first-child+html .snippet-wrap .snippet-hide {
	bottom: 25px;
}

* html .snippet-wrap .snippet-hide {
	bottom: 25px;
}

.snippet-wrap .snippet-menu pre,.snippet-wrap .snippet-hide pre {
	background-color: transparent;
	margin: 0;
	padding: 0;
}

.snippet-wrap .snippet-menu a,.snippet-wrap .snippet-hide a {
	padding: 0 5px;
	text-decoration: underline;
}

.snippet-wrap pre.sh_sourceCode {
	padding: 0;
	line-height: 1.8em;
	overflow: auto;
	position: relative;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0 1 0px #CCDDFF;
	-moz-box-shadow: 0 1 0px #CCDDFF;
	box-shadow: 0 1 0px #CCDDFF;
}

.snippet-wrap pre.snippet-textonly {
	padding: 2em;
}

*:first-child+html .snippet-wrap pre.snippet-formatted {
	padding: 2em 1em;
}

* html .snippet-wrap pre.snippet-formatted {
	padding: 2em 1em;
}

.snippet-reveal pre.sh_sourceCode {
	padding: .5em 1em;
	text-align: right;
}

.snippet-wrap .snippet-num li {
	padding-left: 0.5em;
}

.snippet-wrap .snippet-no-num {
	list-style: none;
	padding: .6em 1em;
	margin: 0;
}

.snippet-wrap .snippet-no-num li {
	list-style: none;
	padding-left: 0;
}

.snippet-wrap .snippet-num {
	margin: 1em 0 1em 0;
	padding-left: 3em;
}

.snippet-wrap .snippet-num li {
	list-style: decimal-leading-zero outside none;
}

.snippet-wrap .snippet-no-num li.box {
	padding: 0 6px;
	margin-left: -6px;
}

.snippet-wrap .snippet-num li.box {
	border: 1px solid;
	list-style-position: inside;
	margin-left: -3em;
	padding-left: 6px;
}

*:first-child+html .snippet-wrap .snippet-num li.box {
	margin-left: -2.4em;
}

* html .snippet-wrap .snippet-num li.box {
	margin-left: -2.4em;
}

.snippet-wrap li.box-top {
	border-width: 1px 1px 0 !important;
}

.snippet-wrap li.box-bot {
	border-width: 0 1px 1px !important;
}

.snippet-wrap li.box-mid {
	border-width: 0 1px !important;
}

.snippet-wrap .snippet-num li .box-sp {
	width: 18px;
	display: inline-block;
}

*:first-child+html .snippet-wrap .snippet-num li .box-sp {
	width: 27px;
}

* html .snippet-wrap .snippet-num li .box-sp {
	width: 27px;
}

.snippet-wrap .snippet-no-num li.box {
	border: 1px solid;
}

.snippet-wrap .snippet-no-num li .box-sp {
	display: none;
}

/* END--jQuery Snippet
=======================================================================================================================
*/





/*
=======================================================================================================================

INDIVIDUAL PAGES -  CSS for Indivudal pages

=======================================================================================================================
 */
/* LOGIN PAGE -Classes specified for login page appearance
=======================================================================================================================
 */
#login_container {
	margin: 0 auto;
	width: 500px;
}

#login_container form {
	display: none;
}

#login_container form.active {
	display: block;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.logo_login {
	padding: 20px 0px 40px;
	margin-bottom: 20px;
}

.logo_login a {
	width: 305px;
	height: 52px;
	margin: 0 auto;
	position: static;
}

form.login {
	width: 350px;
}

form.register {
	width: 400px;
}

form.forgot_password {
	width: 400px;
}

.remember_password {
	font-size: 93%;
	font-weight: bold;
}

.remember_password .itoggle {
	margin-right: 10px;
}

/* END LOGIN PAGE
=======================================================================================================================
 */



/* ERROR PAGE -Classes specified for error page appearance
=======================================================================================================================
 */
.error_page {
	width: 550px;
	margin: 0 auto;
	text-align: center;
}

.error_page.box .body {
	padding: 2em 4em;
}

.error_page h1 {
	font-size: 18em;
	margin: 0;
	font-weight: bold;
	line-height: 1em;
}

.error_page h2 {
	margin: 0 0 0.5em 0;
	font-weight: bold;
	font-size: 3em;
	line-height: 1em;
}

.error_page p {
	margin: 0 0 1.5em 0;
}

/* END ERROR PAGE
=======================================================================================================================
 */
/* DASHBOARD
=======================================================================================================================
 */
.dashboard_stats .number {
	float: right;
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 3em;
	line-height: 1em;
}

.dashboard_stats .number strong {
	font-size: 1.2em;
}

.dashboard_stats h3 {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
}


.dashboard_stats .progress_bar {
	margin: 1.5em 0 0em;
}

/* END -DASHBOARD
=======================================================================================================================
 */
 



  
 
 
/*
=======================================================================================================================

MEDIA QUERIES -  For responsive desgin

=======================================================================================================================
 */


/** SMARTPHONES **/
@media screen and (max-width: 767px) {
	.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12 {
	display: inline;
	float: none;
	clear: both;
	margin-left: 1%;
	margin-right: 1%;
}

.container_12 {
	width: auto;
	padding: 0px 10px;
}

/* Slightly reducing font size to reduce need to scroll */
body {
	font-size: 80%;
}

#main_nav {
	font-size: 90%;
	display: block;
	margin: 0;
	clear: both;
}

#header {
	height: auto;
	background-position: 0 0;
}

#header .container_12 {
	padding: 0px;
}

#user_menu .menu_btn {
	height: 60px;
}

#user_menu .menu_btn .user_id {
	display: none;
}

.box .header {
	height: auto;
}

.box .header .sub_nav {
	display: block;
	position: static;
	margin-bottom: 5px;
	clear: both;
	border: none;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
        
    border:0px transparent none !important;
}

.box .header .sub_nav li {
	display: block;
	float: left;
	position: static;
	border: none;
}

.box .header .sub_nav li a {
	background: none;
	border: none;
	padding: 5px 10px;
}

.box .header .sub_nav li a.current {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.box .body {
	padding: 1em;
}

.box .header .button,.box .header .search,.box .header .seperator {
	top: 0px;
}

.box .header .search {
	top: -5px;
}

.box .header .search input[type="text"] {
	width: 100%;
}

.box .header .button {
	margin-top: 5px;
}

.box .header .search {
	float: none;
	width: auto;
	clear: both;
}

/* ===[ Wizard ]=== */
#steps {
	padding-left: 1em;
}

#steps li {
	display: none;
}

#steps li.current {
	display: block;
	background: none;
	padding-left: 0px;
	font-weight: normal;
	font-size: 110%;
}

/* ===[ Main Navigaton Toggle ]=== */
.nav_toggle {
	display: block;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

.nav_toggle.swap {
    background-position:-28px 0px;
}

/* ===[ Main Navigaton ]=== */
#main_nav li {
	float: none !important;
	clear: both;
}

#main_nav a {
	padding: 15px 10px;
}

#main_nav ul {
	position: static;
	width: 100% !important;
}

#main_nav li ul {

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


#main_nav li ul ul a {
	padding-left: 3em;
}

#main_nav ul li {
	display: block;
	margin: 0;
}



#main_nav ul li ul {
	visibility: visible !important;
}

#main_nav a > .sf-sub-indicator {
	top: 15px;
	right: 10px;
	width: 14px;
	height: 14px;
	text-indent: -999em;
	overflow: hidden;
	background-repeat:no-repeat;
	background-position: -28px 0px !important;
}

#main_nav ul .sf-sub-indicator {
	background-position: right top !important;
}

#main_nav ul a > .sf-sub-indicator,#main_nav ul .sf-sub-indicator {
	background-position: -28px 0px !important;
}

#main_nav ul a:focus > .sf-sub-indicator,#main_nav ul a:hover > .sf-sub-indicator,#main_nav ul a:active > .sf-sub-indicator,#main_nav ul li:hover > a > .sf-sub-indicator,#main_nav ul li.sfHover > a > .sf-sub-indicator {
	background-position: bottom left !important;
	right: 12px;
	top: 15px;
}

#main_nav ul li:hover,#main_nav ul li.sfHover,#main_nav ul a:hover,#main_nav ul a:focus,#main_nav ul a:active {
	background: none;
	outline: 0 none;
}

#main_nav a.current {
	font-weight: bold;
	background: none;
}

/* ===[ Menu in header ]=== */
.menu_header .sf-menu li li:hover ul,.menu_header .sf-menu li li.sfHover ul {
	top: 25px;
}

.menu_header .sf-menu a {
	height: auto;
}

.menu_header .sf-menu ul a:focus > .sf-sub-indicator,.sf-menu ul a:hover > .sf-sub-indicator,.menu_header .sf-menu ul a:active > .sf-sub-indicator,.menu_header .sf-menu ul li:hover > a > .sf-sub-indicator,.menu_header .sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: 0px 0px;
}

.menu_header .sf-menu ul li a {
	line-height: 16px;
}

.menu_header .sf-menu ul {
	left: -100px !important;
}

.menu_header .sf-menu ul li ul {
	position: static !important;
	width: 100% !important;
}

.menu_header .sf-menu ul li ul li a {
	padding-left: 20px;
}

/* ===[ Tabs ]=== */
.box .tabs {
	padding: 1em;
}

.box .tabs li a.current {
	nowhitespace: afterproperty;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* ===[ Data Tables ]=== */
.paginate_button {
	display: none;
}

.previous.paginate_button,.next.paginate_button {
	display: inline-block;
}

.DTTT_container{
        width:100%;
        float:none;
        right:0px;
        top:0px;
        text-align:center;
}

.DTTT_container button{
        width:17%;
        text-align:left;
        margin:7px 8px; 
        float:none;
        font-size:100%;
}

.dataTables_length {
	position: static;
    width:100%;
   text-align:center;
	font-size: 100%;
	margin: 10px 0px;
}

.dataTables_length select{
        width:65%;
    }


.dataTables_filter input[type="text"] {
        width:70%;
        background-position:98% 3px !important;
    }

/* ===[ Gallery ]=== */
.gallery li {
	margin: 0.3em;
	padding-bottom: 25px;
	background: #e7e9ee;
}

.gallery li ul.controls,.gallery li:hover ul.controls {
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	bottom: 0px;

	-webkit-transition: all 0 ease-in;
	-moz-transition: all 0 ease-in;
	-o-transition: all 0 ease-in;
	-ms-transition: all 0 ease-in;
	transition: all 0 ease-in;
}

/* ===[ Calendar ]=== */
.fc-header-right {
	display: none;
}

.fc-header-center {
	text-align: right;
	font-size: 0.8em;
}

/* ===[ ERROR page ]=== */
.error_page {
	width: 90%;
}

.error_page.box .body {
	padding: 1em;
}

.error_page h1 {
	font-size: 10em;
}

.error_page h2 {
	font-size: 2em;
}

}

/** TABLET AND NETBOOKS **/
@media screen and (min-width: 768px) and (max-width: 1024px) {
#user_menu .menu_btn {
	height: 60px;
}

#user_menu .menu_btn .user_id {
	display: inline;
}

#main_nav {
	font-size: 90%;
	display: block;
	margin: 0;
	clear: both;
	background: none;
}

#main_nav .sf-menu {
	display: block;
	background: none;
}

#header {
	height: auto;
	background-position: 0 0;
}

#main_nav a.current {
	font-weight: bold;
}

.sf-menu a {
	padding: 12px 15px;
}

.sf-sub-indicator {
	top: 15px;
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {
	top: 38px;
}

/* ===[ ERROR page ]=== */
.error_page {
	width: 60%;
}

}
				