<?php pr($data); exit; ?>

<div class="sidebar">
	<div class="small_box">
		<div class="header">
			<img src="<?php echo $this->webroot; ?>img/history_icon.png" alt="History" width="24" height="24" />Actions
		</div>
		<div class="body">						
				<ul class="bulleted_list">
					<li><?php echo $this->Html->link(__('List Users'), array('action' => 'index')); ?></li>					

				</ul>
		</div>
	</div>

</div>

<div class="main_column">
	<div class="box">
		<div class="body">
			<h2><?php echo __('Users'); ?></h2>
			<table border="0" cellpadding="0" cellspacing="0" class="grid_table wf">
				<thead>
					<tr>
						<!--<th><?php echo $this->Paginator->sort('id'); ?></th>-->
						<th><?php echo $this->Paginator->sort('username'); ?></th>
						<th><?php echo $this->Paginator->sort('group_id', 'Group'); ?></th>
						<th><?php echo $this->Paginator->sort('created'); ?></th>
						<th class="actions"><?php echo __('Actions'); ?></th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($users as $user): ?>

						<tr>
							<!--<td><?php echo h($user['User']['id']); ?></td>-->
							<td><?php echo h($user['User']['username']); ?></td>
							<td><?php echo h($user['Group']['name']); ?></td>
							<td><?php echo h($user['User']['created']); ?></td>
							<td class="actions">
								<?php echo $this->Html->link(__('View'), array('action' => 'view', $user['User']['id'])); ?>
								<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $user['User']['id'])); ?>
								<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $user['User']['id']), null, __('Are you sure you want to delete # %s?', $user['User']['id'])); ?>
							</td>
						</tr>

					<?php endforeach; ?>
				</tbody>
			</table>
			<p>
				<?php
				echo $this->Paginator->counter(array(
					'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
				));
				?>	</p>

			<div class="paging">
				<?php
				echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
				echo $this->Paginator->numbers(array('separator' => ''));
				echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
				?>
			</div>

			
		</div>
	</div>
</div>