/* Minified: print.css */
table.notebook_page_versions span.latest{background:none repeat scroll 0 0 #ccc;border-radius:9px 9px 9px 9px;font-size:9px;font-weight:bold;letter-spacing:.5px;margin:0 1px;padding:1px 6px;float:right}
