<?php
//pr ($customer);

//$pagination_params = $this->Paginator->params(); 
?>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php // echo __($page_heading)  ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Customer List </h2> 

<?PHP //echo $this->Html->link('New Customer', '/customer_informations/add', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading) ?></button>

		</div>
		<!-- End Header -->
		<div class="body">
		<table class="display dataTable">
                <thead>
					<tr>
						<th class="sorting">S No.<?php //echo $this->Paginator->sort('name');   ?></th>
						<th class="sorting">Customer Name<?php //echo $this->Paginator->sort('name');   ?></th>
						<th class="sorting">Email<?php //echo $this->Paginator->sort('name');   ?></th>
						<th class="sorting">Phone No.<?php //echo $this->Paginator->sort('name');   ?></th>
						<th >Action<?php // echo __('Action');   ?></th>
                    </tr>
                </thead>
                <tbody>
					<?php
//					$current_page = $this->Paginator->counter(array('format' => ' %page%'));
//					$counter = ($current_page * 10) - 9;
					$counter = 1;
					if (!empty($customer)) {
						foreach ($customer as $results) {
							
							?>
					
					
					<tr class="odd_gradeX">
						<td class="center"><?php echo $counter;  ?><?php //echo ($results['Array']);  ?>&nbsp;</td>
						<td class="center"><?php echo ($results['customer_information']['name']);  ?><?php //echo ($results['Array']);  ?>&nbsp;</td>
						<td class="center"><?php echo ($results['customer_information']['email']);  ?></td>
						<td class="center"><?php echo ($results['customer_information']['telephone_no']);  ?></td>
						<td class="actions" align="center">
							<?php echo $this->Html->link(__('Details'), array('controller' => 'customer_informations', 'action' => 'view', $results['customer_information']['id']));  ?> |
							
							<?php echo $this->Html->link('Delete', array('action' => 'delete', $results['customer_information']['id']), null, 'Are you sure ' );
							$counter++;
							?>
						</td>
					</tr>
					<?php
					}$counter ++;
					}
					?>
			</table>
					<?php
//					if (!empty($customer)) {
//						echo '<table class="display"  >';
//						echo '<tr><td align="center">';
//						echo $this->paginator->first();
//						echo '&nbsp;';
//						echo $this->paginator->prev();
//						echo '&nbsp;';
//						echo $this->paginator->numbers(array('modulus' => '2'));
//						echo '&nbsp;';
//						echo $this->paginator->next();
//						echo '&nbsp;';
//						echo $this->paginator->last();
//						echo '<br />';
//						echo $this->paginator->counter(array('format' => 'Page %page% of %pages%'));
//
//						echo '</td></tr>';
//						echo '</table>';
//					}
					?>
					
					

					
                </tbody>
			</table>
		</div>
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>

