<?php
//pr ($customer);
//$pagination_params = $this->Paginator->params(); 
?>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php // echo __($page_heading)  ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Customer Details </h2> 

<?PHP //echo $this->Html->link('New Customer', '/customer_informations/add', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading) ?></button>

		</div>
		<!-- End Header -->
		<div class="body">
			<?php
//			echo $this->Form->create("Insert", array('action' => 'index', 'id' => 'validate'));
//			echo $this->Form->input("q", array('label' => 'Search for', 'required' => 'required', 'div' => false, 'class' => 'med float-left-margin'));
//			echo $this->Form->button('Search', array('type' => 'submit', 'escape' => true, 'class' => 'button green small float-left-margin'));
//			echo $this->Form->end();
			?> 
            <table >
				<thead>
					<tr>
						<th align="left">Detail<?php  //echo $this->Paginator->sort('name');  ?></th>
						
					</tr>
				</thead>
				<tbody>
					
				
				<tr> 
					<!--<td  class="toggle"><span class="ir"> Expand/ Collapse</span></td>-->
					<td >Customer Name<?php //echo ($results['Array']);  ?>&nbsp;</td>
					<td ><?php echo ($customer['CustomerInformation']['name']);  ?></td>
					
						<!--<img src="<?php //echo $this->webroot; ?>gallery/1.png" alt="Half Width Box" width="60" height="-->
										<!--	60" /></td>-->
					
				</tr>
				<tr> 
					
					<td >Phone No.<?php //echo ($results['Array']);  ?>&nbsp;</td>
					<td ><?php echo ($customer['CustomerInformation']['telephone_no']);  ?></td>
					
						
				</tr>
				
				
				<tr> 
					
					<td >Email <?php //echo ($results['Array']);  ?>&nbsp;</td>
					<td ><?php echo ($customer['CustomerInformation']['email']);  ?></td>
					
						
				</tr><tr> 
					
					<td >Address<?php //echo ($results['Array']);  ?>&nbsp;</td>
					<td ><?php echo ($customer['CustomerInformation']['address']);  ?></td>
					
						
				</tr>
				<tr>
					<td class="grid_dropdown"> </td>
					<td colspan="3"><?php //echo h($result['Array']['description']);  ?></td>
				</tr>
			
				</tbody>
            </table>
			<?php //echo $this->element('pagination',array('pagination_params' => $pagination_params));  ?>
            <!--End Pagination-->
		</div>
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>

