@import "compass";
@import "_normalize";
@import "_retina";
@import "zen";
@import "compass/css3/user-interface";

/* ====================== 
   Design Base Formatting
   ====================== */
html{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	height:100%;
}

body{
	background:#fff;
	color:#000;
	height:100%;
}

* {
  &::selection {
    color: #bf1222;
    background-color: #bf1222;
  }
  &::-moz-selection {
    color: white;
    background: #bf1222;
  }
  &::selection {
    color: white;
    background: #bf1222;
  }
}

h1, h2, h3, h4, h5, h6, h7{
	margin:0px 0px 10px 0px;
}

p{
	margin:0px 0px 5px 0px;
	line-height:12px;
}

a{
	color:#ff0000;
	cursor:pointer;
	@include transition(all 0.35s ease-in);
	
	&:hover{
		color:#ff5555;
	}
}

ul{
	list-style:none;
	margin:0px 0px 10px 0px;
	padding:0px;
}

/* ====================== 
   End Design Base Formatting
   ====================== */
   
/* ====================== 
   Header
   ====================== */
   
   REST of the CSS
   
/* ====================== 
   Header
   ====================== */