@charset "utf-8";

#nv-tabs ul li ul li a {height:100%;}
.button-wrap {display:inline;}
span.dropcap.two {text-align:center;text-indent:5px;}
.post-gallery .blockquote_quotes {width:100%;}
.hoverimg,.hovervid {height:100%;zoom:1;max-height:100%;}
.container.shadowreflection .hoverimg, .container.shadowreflection .hovervid,.container.reflection .hoverimg, .container.reflection .hovervid { background-position: 50% 30%; }
ul.icon-dock li.shop-cart {width:120px;}
div.icon-dock-wrap {position:relative;width:100%;}
div.icon-dock {width:200px;}

.skinset-main {max-width: 950px;}

.row {width: 100% !important; max-width: 980px !important; min-width: 707px; margin: 0 auto !important;margin-bottom:15px !important;}
#header-wrap {margin-top:15px !important;}

.row .one,
.row .twelve_column	{width: 4.3%;}
.row .two,
.row .six_column 	{width: 13%;}
.row .two_thirds_column	{width: 65.23%;}
.row .three,
.row .four_column	{width: 21.679%;}
.row .four,		
.row .three_column	{width: 30.35%;}
.row .five 			{width: 39.1%;}
.row .five_column	{width: 16.48%;}
.row .six,
.row .two_column	{width: 47.8%;}
.row .seven 		{width: 56.5%;}
.row .seven_column 	{width: 10.51%;}
.row .eight 		{width: 65.2%;}
.row .eight_column	{width: 8.65%;}
.row .nine,
.row .three_fourths_column {width: 73.9%;}
.row .nine_column	{width: 7.2%;}
.row .ten 			{width: 82.6%;}
.row .ten_column	{width: 6.04%;}
.row .eleven 		{width: 91.3%;}
.row .eleven_column	{width: 5.09%;}
.row .twelve,
.row .one_column 	{width: 100%;}

.column, 
.columns 			{margin-right: 4.4%; float: left; min-height: 1px; position: relative;padding:0;}
.columns.last 		{margin-right:0;}
.column:first-child, 
.columns:first-child{margin-left: 0;}

[class*="column"] + [class*="column"]:last-child, 
.columns:last-child,
.columns.right.last {margin-right:0;float:right;}

#primary-wrapper .skinset-main.border,
#primary-wrapper #header-wrap.border #header,
#primary-wrapper .skinset-footer.border {
 padding:10px 0;
}

#primary-wrapper #header-wrap.enabled #header,
#primary-wrapper .intro-text.skinset-main.enabled,
#primary-wrapper #header-wrap.color #header,
#primary-wrapper .intro-text.skinset-main.color {
 padding:10px 15px;
}


#primary-wrapper .skinset-main,
#primary-wrapper .skinset-footer,
#primary-wrapper #header-wrap .content {
 padding: 15px !important;
}


#primary-wrapper .skinset-main.disabled,
#primary-wrapper .skinset-footer.disabled,
#primary-wrapper #header-wrap.disabled .content {
 padding:0 !important;
}

#nv-tabs ul ul {margin-top:-10px;}
#nv-tabs .menubreak { padding-bottom:0 !important; }
.center#nv-tabs {display:inline-block !important;}