/* :: Responsive Design
-------------------------------------------------- */

#primary-wrapper {min-width: 0;}

/* :: Typography
-------------------------------------------------- */
	
	@media handheld, only screen and (max-width: 767px) {
		h1 { font-size: 32px; font-size: 3.2rem; line-height: 1.3; }
		h2 { font-size: 28px; font-size: 2.8rem; line-height: 1.3; }
		h3 { font-size: 21px; font-size: 2.1rem; line-height: 1.3; }
		h4 { font-size: 18px; font-size: 1.8rem; line-height: 1.2; }
		h5 { font-size: 16px; font-size: 1.6rem; line-height: 1.2; }
		h6 { font-size: 15px; font-size: 1.5rem; line-height: 1.2; }
		body, p {  font-size: 15px; font-size: 1.5rem; line-height: 1.4; }
	}


/* :: Grid
-------------------------------------------------- */
	
/* Mobile */
@media only screen and (max-width: 767px) {	

	.alignleft, .alignright { float: none !important; margin: 0 auto !important; margin-bottom: 15px !important; }
	.nextprevious_posts .alignright {float:right !important;}
	
	body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
  	/* The Grid --- */
  	/*              */
	.wrapper { min-width: 0; margin-left: 0; margin-right: 0; }
	.row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
	#primary-wrapper .column, #primary-wrapper .columns { width: 100% !important; max-width:100%; float: none; margin-bottom: 15px; }
	[class*="column"] + [class*="column"]:last-child { float: none; }
	.column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
	.column:after, .columns:after { clear: both; }

	.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten { margin-left: 0 !important; }
	.push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
	.pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
	/* Mobile 4-column Grid */
	.row .mobile-one { width: 25% !important; float: left; padding: 0 15px; }
	.row .mobile-one:last-child { float: right; }
	.row .mobile-one.end { float: left; }
	.row.collapse .mobile-one { padding: 0; }
  	.row .mobile-two { width: 50% !important; float: left; padding: 0 15px; }
  	.row .mobile-two:last-child { float: right; }
	.row .mobile-two.end { float: left; }
	.row.collapse .mobile-two { padding: 0; }
	.row .mobile-three { width: 75% !important; float: left; padding: 0 15px; }
	.row .mobile-three:last-child { float: right; }
	.row .mobile-three.end { float: left; }
  	.row.collapse .mobile-three { padding: 0; }
	.row .mobile-four { width: 100% !important; float: left; padding: 0 15px; }
	.row .mobile-four:last-child { float: right; }
	.row .mobile-four.end { float: left; }
	.row.collapse .mobile-four { padding: 0; }
	.push-one-mobile { left: 25%; }
	.pull-one-mobile { right: 25%; }
	.push-two-mobile { left: 50%; }
	.pull-two-mobile { right: 50%; }
	.push-three-mobile { left: 75%; }
	.pull-three-mobile { right: 75%; }
		
		
	.nv-pricing-table .nv-pricing-plan,
	#nv-tabs,
	#item-body div.message-search {margin:0;float:none !important;clear:both;}		
		
	.accordion-gallery-wrap,
	.slider-3d-wrap,
	#th-poster,
	#th-group,
	#th-email-sub,
	.td-group,
	td.td-poster,
	td.thread-avatar,
	td.td-email-sub,
	td.td-group .object-name,
	.gallerytitle,
	.stagetext,
	.stagetextwrap,
	.animator-wrap,
	.checkout_cart .wpsc_product_image {display:none !important;visibility:hidden;}
	.columns .columns-inner {height:auto !important;}
	#nv-tabs.center {display:block;}
		
	.tweets {height:100% !important;}
		
	.checkout_cart .wpsc_product_name {padding-left:0;}
		
	.group-slider .slidernav-left,
	.group-slider .slidernav-right {display:block !important;}
		
		
	.gallery-wrap .panel {margin-bottom:15px !important;}
	.gallery-wrap .groupslides-wrap .panel:last-child {margin-bottom:0 !important;}

	table.forum tr td, #topic-post-list li, table#message-threads tr td {padding:20px 5px !important;}
	li span.unread-count, 
	tr.unread span.unread-count {font-size:50%;}
	#message-threads span.activity,
	td.thread-options {font-size:65%;}
		
	div.forums-search-wrap {float:left !important;clear:both !important;width:100%;text-align:right;margin-bottom:15px;}
	#forums-search-form {position:relative !important;right:0 !important;}
	#forums_search {width:96%;background-color:#f9f9f9 !important;}
	.nv-dark #forums_search {background-color:#202020 !important;}
	.post-metadata li.post-date, .post-metadata li.post-format {width:100%;max-width:100%;}
			
	.grid-gallery .panel {width:100% !Important;}
		
}
	


/* -------------------------------------------------- 
	:: Mobile Visibility Affordances
---------------------------------------------------*/
	
	
	.show-on-phones { display: none !important; }	
	.show-on-tablets { display: none !important; }
	.show-on-desktops { display: block !important; }
	
	.hide-on-phones { display: block !important; }	
	.hide-on-tablets { display: block !important; }
	.hide-on-desktops { display: none !important; }
	
	
	/* Modernizr-enabled tablet targeting */
	@media only screen and (max-width: 1280px) and (min-width: 768px) {
		.touch .hide-on-phones { display: block !important; }
		.touch .hide-on-tablets { display: none !important; }
		.touch .hide-on-desktops { display: block !important; }
		
		.touch .show-on-phones { display: none !important; }
		.touch .show-on-tablets { display: block !important; }
		.touch .show-on-desktops { display: none !important; }
	}
	
		
	@media only screen and (max-width: 767px) {
		.hide-on-phones { display: none !important; }
		.hide-on-tablets { display: block !important; }
		.hide-on-desktops { display: block !important; }
		
		.show-on-phones { display: block !important; }
		.show-on-tablets { display: none !important; }
		.show-on-desktops { display: none !important; }
	}

	@media only screen and (max-width: 768px) {
		.gallery-wrap .animator-wrap {display:none !important;visibility:hidden;}
		.show-on-tablets { display: block !important; }	
	}	
	
	/* Specific overrides for elements that require something other than display: block */
	
	table.show-on-desktops { display: table !important; }
	table.hide-on-phones { display: table !important; }	
	table.hide-on-tablets { display: table !important; }
	
	@media only screen and (max-width: 1280px) and (min-width: 768px) {
		.touch table.hide-on-phones { display: table !important; }
		.touch table.hide-on-desktops { display: table !important; }
		.touch table.show-on-tablets { display: table !important; }
	}
	
	@media only screen and (max-width: 767px) {
		table.hide-on-tablets { display: table !important; }
		table.hide-on-desktops { display: table !important; }
		table.show-on-phones { display: table !important; }
	}

	@media only screen and (min-device-width: 481px) and (max-device-width: 980px) and (orientation:portrait) {
		#nv_selectmenu { display:block !important; }
		#dyndropmenu { display: none !important; }
	}
	@media only screen and (min-device-width: 481px) and (max-device-width: 980px) and (orientation:landscape) {
		#nv_selectmenu { display:block !important; }
		#dyndropmenu { display: none !important; }
	}
	@media only screen and (max-width: 767px) {
		#nv_selectmenu { display:block !important; }
		#dyndropmenu { display: none !important; }
	}	