@charset "utf-8";


/* :: Item Headers (Profiles, Groups)
--------------------------------------------------------------*/

#wp-admin-bar .main-nav {width:980px;margin:0 auto;}


div.create-group {
 border-bottom:inherit;
 padding:5px;
}

div.create-group span.group-dir {
 line-height:36px;
}

hr {display:none;}

div#item-header {
 overflow: hidden;
}

div#item-header h2 {
 font-size: 28px;
 margin: 0 0 15px 0;
 line-height: 120%;
}
 
div#item-header-content h2 {margin-bottom:8px !important;}
 
div#item-nav,
#content #forums-directory-form div.item-list-tabs {margin-bottom:20px;}

div#item-header img.avatar, span.avatar, a span.avatar {
 float: left;
 margin: 0 15px 15px 0;
}

div.poster-name, div.object-name {margin-left:30px;position:relative;}
div.item-avatar span.avatar {margin:0 15px 5px 0;}
  
div#item-header h2 { margin-bottom: 5px;}

div#item-header h2 span.highlight {
vertical-align: middle;
font-size: 11px;
font-weight: normal;
line-height: 170%;
margin-bottom: 7px;
}

div#item-header h2 span.highlight { font-size: 16px;}
div#item-header h2 span.highlight span {
position: relative;
top: -2px;
right: -2px;
font-weight: bold;
font-size: 11px;
background: #a1dcfa;
color: #fff;
padding: 1px 4px;
margin-bottom: 2px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
vertical-align: middle;
cursor: pointer;
display: none;
}

div#item-header div#item-meta {
padding-bottom: 10px;
overflow: hidden;
margin: 15px 0 5px 0;
}
 

div.item-meta { margin:4px 0 8px 0;}

div#item-header div#item-actions {
text-align: right;
margin-right:0;
float:right;
}


div#item-header ul {
 overflow: hidden;
 margin-bottom: 15px;
}

div#item-header ul h5,div#item-header ul span,div#item-header ul hr {
display: none;
}

div#item-header ul li {
 float: right;
}


div#item-header ul img.avatar,div#item-header ul.avatars img.avatar {
 width: 30px;
 height: 30px;
 margin: 2px;
}

div#item-header div.generic-button,div#item-header a.button {
float: right;
margin-left:5px;
}

#item-buttons .group-button a, a.button.confirm {padding:4px 6px;}


/* :: Sidebar
--------------------------------------------------------------*/

div.sidebar-content img.avatar {
float: left;
margin: 0 10px 15px 0;
}

div.sidebar-content .widget_bp_core_recently_active_widget h3,div.sidebar-content .widget_bp_core_whos_online_widget h3,div.sidebar-content .widget_bp_core_members_widget h3,div.sidebar-content .widget_bp_groups_widget h3 {
padding: 7px 0 5px 0;
font-size: 14px;
}

div.sidebar-content ul.item-list li {background:none;}

div.sidebar-content ul.item-list img.avatar {
 width: 25px;
 height: 25px;
 margin-right: 10px;
}

div.sidebar-content div.item-avatar img {
 width: 40px;
 height: 40px;
 margin: 1px;
 
}

.widget_bp_core_whos_online_widget .item-avatar {float:left;margin-right:10px;margin-bottom:10px;}

div.sidebar-content .item-meta {clear:left;}
div.sidebar-content .item-list {background:none;}



/* :: Item Lists (Activity, Friend, Group lists)
--------------------------------------------------------------*/

ul.item-list {
 width: 100%;
}

ul.item-list li,div.item-options {
 clear:both;
 border-bottom:1px dotted #e9e9e9;	
}

.nv-dark ul.item-list li,.nv-dark div.item-options {
 border-bottom:1px dotted #1c1c1c;	
}


ul.single-line li { border: none;}
body.activity-permalink ul.item-list li { padding-top: 0;}

ul.item-list li img.avatar {
 float: left;
 margin: 0 10px 15px 0;
 padding:4px;
}


ul.item-list li div.item-title, ul.item-list li h4 {
 font-weight: normal;
 width: 75%;
 margin: 0;
 margin-bottom:12px;
}

ul.item-list li div.item-title {margin-bottom:5px;}


ul.item-list li div.item-desc {
 margin: 10px 0 0 64px;
 width: 50%;
}

ul.item-list li div.action {
 text-align: right;
 margin-bottom:15px;
}

ul.item-list li div.actiondiv {
 margin-bottom:10px;
}

ul.item-list li div.action .button {
 text-shadow:none;
}

ul.item-list li div.meta {
 margin-top: 10px;
}

ul.item-list li h5 span.small {
 font-weight: normal;
 font-size: 11px;
}

ul.item-list li h5 {
 margin-bottom:10px !important;
}

div.item-options {text-align:center;padding-bottom:15px;}
div.item-options a {padding:4px 8px;margin:0 2px;}
div.item-options a.selected { font-style:italic;color:#333 !important;}



/* :: Item Tabs
--------------------------------------------------------------*/

#primary-wrapper div.item-list-tabs {
 clear: left;
 overflow: hidden;
 margin: 0;
 position:relative;
 padding:0;
}


div.item-list-tabs#subnav {
 padding-bottom:1px;
 margin-bottom:15px; 
 background:url(../images/break-a.png) repeat-x left bottom;
 -moz-box-shadow:none;
 -webkit-box-shadow:none;
 box-shadow:none;
}


div.item-list-tabs ul li a {
text-decoration: none;
}

div.item-list-tabs ul {
width: 100%;
list-style:none;
}

#content div.item-list-tabs ul li.last,
div.forums-search-wrap {float:right;position:relative;}

#content div.item-list-tabs ul li {
 float: left;
 margin: 0px;
 padding:0 5px 0 5px;
 list-style:none;
}

div.item-list-tabs ul li:first-child {
 
}



div.item-list-tabs ul li.last select {
 max-width: 175px;
}

div.item-list-tabs ul li a,
div.item-list-tabs ul li span {
display: block;
 padding: 10px 10px;
 text-decoration: none;
}

div.item-list-tabs#subnav ul li a {
 padding:10px;	
}

div.item-list-tabs#subnav ul li {padding:0;}

div.item-list-tabs ul li a span {
display: inline;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #fff;
margin-left: 2px;
padding: 1px 6px;
}


div.item-list-tabs ul li.selected,
div.item-list-tabs ul li.current,
div.item-list-tabs ul li a.show-hide-new,
div.item-list-tabs ul li a.new-reply-link,
div.item-list-tabs ul li.feed,
.nv-dark div.item-list-tabs ul li.selected,
.nv-dark div.item-list-tabs ul li.current,
.nv-dark div.item-list-tabs ul li a.show-hide-new,
.nv-dark div.item-list-tabs ul li a.new-reply-link,
.nv-dark div.item-list-tabs ul li.feed  {
 border-bottom:none;	
}

div.item-list-tabs ul li.selected a,
div.item-list-tabs ul li.current a {
 font-weight: bold;
}

div.item-list-tabs ul li.selected a span,
div.item-list-tabs ul li.current a span {
 font-weight: normal;
 font-style:italic;
}

ul li.loading a {
background-image: url( ../images/ajax-loader.gif );
background-position: 92% 50%;
background-repeat: no-repeat;
padding-right: 30px !important;
position:absolute;
}
div#item-nav ul li.loading a {
 background-position: 88% 50%;
}

div.item-list-tabs #object-nav {
margin-top: 10px;
}

div.item-list-tabs #subnav {
margin: 0px 0px 15px 0px;
min-height: 35px;
overflow: hidden;
}

div.item-list-tabs ul li.feed a {
background: url(images/buddypress/rss.png) center left no-repeat !important;
padding-left: 20px;

}


/* :: Item Body
--------------------------------------------------------------*/

.item-body {
 margin: 20px 0;
}

span.activity, 
.padder span.highlight {
 padding: 2px 8px !important;
 text-decoration: none;
 margin-top: 4px;
 margin-left:0;
 display:inline-block;
}

div#message {position:relative;margin-bottom:15px;padding-left:15px;margin-top:15px;}

div#message p {
 display: block;
 font-size: 11px;
 font-weight: normal;
 padding:10px;
 padding-left:40px;
 margin: 4px 4px 4px 10px !important;
 text-decoration: none;
 color:#FFF;
}

div.members {
 padding-top:15px;	
 position:relative;
}

/* ::directories (Members, Groups, Blogs, Forums)
--------------------------------------------------------------*/

.groups.directory #subnav {padding-bottom:10px;}

h3 a.button {float:right;font-size:70%;}

#group-dir-search.dir-search,
#members-dir-search   {margin: 0 0 10px 0;}
#item-body .dir-search { margin: -5px 0 10px 0;}

#item-body div.message-search { float:right;margin-top:-18px; }

#forums_search_submit {right:0 !important;}

#forums-search-form {position:absolute;z-index:1;right:2px;margin-top:1px;}
#forums-search-form h3 {display:none;}
#forums_search {
 background:#fff;
 -moz-box-shadow:inset  1px 1px 2px rgba(0,0,0,0.09);
 -webkit-box-shadow:inset  1px 1px 2px rgba(0,0,0,0.09);
 box-shadow:inset 1px 1px 2px rgba(0,0,0,0.09); 
}

.nv-dark #forums_search {
 background:#252525;	
}

/* :: Pagination
--------------------------------------------------------------*/

div.pagination {
 margin: 0;
 padding: 0;
 font-size: 11px;
 height: 16px;
 clear:both;
}
div.pagination #user-pag, .friends div.pagination,
 .mygroupsdiv.pagination, .myblogsdiv.pagination, noscriptdiv.pagination {
border: none;
padding: 8px 15px;
}

div.pagination .pag-count {
float: left;
}

div.pagination .button {
text-shadow:none;
} 

div.pagination .pagination-links {
float: right;
}
div.pagination .pagination-links span,
div.pagination .pagination-links a {
 padding: 3px 5px;
}

div.pagination .pagination-links a {
 color:#999;	
}


.page-numbers.dots,
.next.page-numbers,
.prev page-numbers {
 background:none;
  -moz-box-shadow:none;
 -webkit-box-shadow:none;
 box-shadow:none;	
 border:0;
}


/* :: Error / Success Messages
--------------------------------------------------------------*/


div#message.updated { clear: both;margin-bottom:30px;position:relative;}


div#message.error p ,div#message.updated p,div#message.updated,div#message.error {
clear: left;
padding-left:0;
}


form#settings-form {margin-top:15px;}

form.standard-form #signup_formdiv div.error {
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
 padding: 6px;
 width: 90%;
 margin: 0 0 10px 0;
}


/* :: AJAX Loaders
--------------------------------------------------------------*/

.ajax-loader {
 background: url( images/buddypress/ajax-loader.gif ) center left no-repeat !important;
 padding: 8px;
display: none;
}

a.loading {
 background-image: url( images/buddypress/ajax-loader.gif ) !important;
 background-position: 95% 50% !important;
 background-repeat: no-repeat !important;
 padding-right: 25px !important;
}

/* :: Input Forms
--------------------------------------------------------------*/


form.standard-form input[type=password] {
 margin-bottom: 5px;
}

 form.standard-form label, form.standard-form span.label {
display: block;
font-weight: bold;
margin: 15px 0 5px 0;
}
form.standard-form div.checkbox label,
form.standard-form div.radio label {
 font-weight: normal;
 margin: 5px 0 5px 0;
}

div.checkbox {padding-bottom:5px;margin-bottom:10px;}

form.standard-form#sidebar-login-form label {
 margin-top: 5px;
}

form.standard-form input[type=text] {
width: 75%;
}
form.standard-form #sidebar-login-form input[type=text],
form.standard-form #sidebar-login-form input[type=password] {
 padding: 4px;
 width: 95%;
}

form.standard-form #basic-details-section input[type=password],
form.standard-form #blog-details-section input#signup_blog_url {
 width: 35%;
}

form.standard-form #signup_form input[type=text],
form.standard-form #signup_form textarea {
 width: 90%;
}
 form.standard-form #signup_form div.submit { float: right;}
div#signup-avatar img { margin: 0 15px 10px 0;}

 form.standard-form textarea {
width: 75%;
height: 120px;
}
form.standard-form textarea #message_content {
 height: 200px;
}

form.standard-form #send-reply textarea {
 width: 97.5%;
}

form.standard-form p.description {
font-size: 11px;
margin: 5px 0;
}

 form.standard-form div.submit {
padding: 15px 0;
clear: both;
}
form.standard-form div.submit input {
 margin-right: 15px;
}

 form.standard-form div.radio ul {
margin: 10px 0 15px 38px;
list-style:disc;
}
form.standard-form div.radio ul li {
 margin-bottom: 5px;
}


form.standard-form #basic-details-section, form.standard-form #blog-details-section,
form.standard-form #profile-details-section {
 float: left;
 width: 48%;
}
 form.standard-form #profile-details-section { float: right;}
 form.standard-form #blog-details-section {
clear: left;
}


form#send-invite-form {
 margin-top: 20px;
}
div#invite-list {
height: 400px;
overflow: scroll;
padding: 5px;
width: 160px;
margin: 10px 0;
}

/* ::data Tables
--------------------------------------------------------------*/

table {
 width: 100%;
}
 table#message-threads {
margin: 0;
width: auto;
}

 table.profile-fields { margin-bottom: 20px;}

div#sidebar table {
margin: 0 -16px;
width: 117%;
}

 table tr td, table tr th {
padding: 8px;
vertical-align: middle;
}
table tr td.label {
 
 font-weight: bold;
 width: 25%;
}

table tr td.thread-info p { margin: 0;}

 table tr td.thread-info p.thread-excerpt {
font-size: 11px;
margin-top: 3px;
}

div#sidebar table td, table.forum td { text-align: center;}


table.notification-settings {
 margin-bottom: 20px;
 text-align: left;
}

table.notification-settings th.icon, table.notification-settings td:first-child {display: none;}
table.notification-settings th.title { width: 80%;}
table.notification-settings .yes, table.notification-settings .no { width: 40px; text-align: center;}

table.forum {
 margin: 20px 0px 20px 0px;
 width: auto;
}

table.forum tr.sticky td {
background: #FFF9DB;
}

.nv-dark table.forum tr.sticky a {
 color: #555 !important;
}

table.forum tr.closed td.td-title {
 padding-left: 35px;
 background-image: url( images/buddypress/closed.png );
 background-position: 15px 50%;
 background-repeat: no-repeat;
}

table.forum .td-title p {margin-bottom:0;}

table.forum tr td,
#topic-post-list li,
table#message-threads tr td {
 padding:20px 15px;
}


table.forum tr > td:first-child, table.forum tr > th:first-child {
padding-left: 15px;
}

table.forum tr > td:last-child, table.forum tr > th:last-child {
padding-right: 15px;
}

table.forum tr th#th-title, table.forum tr th#th-poster,
table.forum tr th#th-group, table.forum td.td-poster,
table.forum td.td-group, table.forum td.td-title,
table.forum td.td-freshness { text-align: left;}


table.forum td.td-poster a,
table.forum td.td-group a {float:left;}

table.forum td.td-freshness .time-since,
.topic-by,
table.forum td p.topic-text,
div.admin-links,
.poster-meta,
span.activity, 
.padder span.highlight,
#item-buttons .group-button a {
font-size: 85%;
}

table.forum td.td-freshness .time-since {line-height:26px;float:right;}

th#th-freshness {text-align:center;}

span.topic-by img.avatar {display:none;}
ul.item-list .poster-meta img.avatar {padding:0;}

table.forum td img.avatar {
float: none;
margin: 0 5px -8px 0;
border:1px solid #e9e9e9;
background:#f9f9f9;
}

table.forum th#th-title {
width: 40%;
}

table.forum th,
ul.activity-list li, 
ul#groups-list li {
 border-bottom:1px dotted #e9e9e9;	
}

.nv-dark table.forum th,
.nv-dark ul.activity-list li, 
.nv-dark ul#groups-list li {
 border-bottom:1px dotted #1c1c1c;	
}

 table.forum th#th-postcount {
width: 1%;
}

/* :: Activity Stream Posting
--------------------------------------------------------------*/

form#whats-new-form {
 margin-bottom: 5px;
 overflow: hidden;
 padding-bottom: 20px;
 margin-top:15px;
}


 
form #whats-new-form, #group-settings-form {
margin-top: 20px;
border: none;
}

.home-page form #whats-new-form {
border-bottom: none;
padding-bottom: 0;
}

 form#whats-new-form h5 {
margin: 0;
font-weight: normal;
font-size: 12px;
margin-left: 76px;
padding: 0 0 3px 0;
}

 form#whats-new-form #whats-new-avatar {
float: left;
}

 form#whats-new-form #whats-new-content {
margin-left: 54px;
padding-left: 22px;
}

 form#whats-new-form #whats-new-textarea {
margin-bottom: 10px;

}
 form#whats-new-form textarea {
max-width:100%;
height: 60px;
}

 form#whats-new-form #whats-new-options select {
max-width: 200px;
}

 form#whats-new-form #whats-new-submit {
float: right;
margin: 0;
}

/* :: Activity Stream Listing
--------------------------------------------------------------*/

#primary-wrapper div.activity-type-tabs {margin-bottom:15px;}

ul.activity-list {	
 padding-top:15px;
}

ul.activity-list li,
ul#groups-list li,
ul#members-list li {
 padding: 15px 0 0 0;
 overflow: hidden;
}
 ul.activity-list > li:first-child {
padding-top: 5px;
}

 ul.activity-list li.has-comments {
padding-bottom: 20px;
}

.activity-list li.mini {
 position: relative;
 font-size: 11px;
 min-height: 35px;
 padding: 12px 0 0 0;
}

.activity-list li.mini div.activity-meta {
 margin: 0;
 clear:both;
}

.activity-list li.mini div.activity-meta a {
 padding: 3px 8px;
}


body.activity-permalink .activity-list li .activity-avatar img.avatar,
body.activity-permalink .activity-list li .activity-avatar img.FB_profile_pic {
 width: 100px;
 height: 100px;
 margin-left: 0;
}


body.activity-permalink .activity-list li.mini .activity-meta {
 position: absolute;
 right: 15px;
}

.activity-list li.mini .activity-comments {
 clear: left;
 font-size: 12px;
 margin-top: 30px;
}

.activity-list li .activity-inreplyto {
 font-size: 11px;
 margin-left: 70px;
 margin-bottom: 15px;
 padding-left: 25px;
 background: url( images/buddypress/replyto_arrow.gif ) 7px 0 no-repeat;
}

.activity-list li .activity-inreplyto > p {
 margin: 0;
 display: inline;
}

.activity-list li .activity-inreplyto blockquote,
.activity-list li .activity-inreplyto div.activity-inner {
 background: none;
 border: none;
 display: inline;
 padding: 0;
 margin: 0;
 overflow: hidden;
}

.activity-list .activity-avatar {
 float:left !important;
 height:96px;
}
.activity-list .activity-avatar img {
 width: 60px;
 height: 60px;
 margin:0 !important;
 padding:0 !important;
}
body.activity-permalink .activity-list .activity-avatar img {
 width: 100px;
 height: 100px;
}

.activity-list .activity-content {
 margin-left: 85px;
}

body.activity-permalink .activity-list li .activity-content {
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 padding: 15px;
 margin-left: 135px;
 font-size: 16px;
 line-height: 150%;
 min-height: 35px;
 margin-right: 0;
}

body.activity-permalink .activity-list li .activity-header > p {
 background: url( images/buddypress/activity_arrow.gif ) top left no-repeat;
 margin-left: -35px;
 padding: 5px 0 0 38px;
 height: 35px;
 margin-bottom: 0;
 clear: right;
 
}

.activity-list .activity-content .activity-header,
.activity-list .activity-content .comment-header {
 font-size: 95%;
}

.activity-list .activity-content .activity-header a,
.activity-list .activity-content .comment-header a {
 margin-bottom:5px;
} 

span.highlight a {font-weight:bold;color:#fff;}

.activity-list .activity-content a:first-child:focus { outline: none;}
.activity-list .activity-content span.activity-header-meta a {
 background: none;
 padding: 0;
 font-size: 11px;
 margin: 0;
 border: none;
 text-decoration: underline;
}
.activity-list .activity-content span.activity-header-meta a:hover {
 text-decoration: none;
}

.activity-list .activity-content .activity-inner,
.activity-list .activity-content blockquote {
 margin: 15px 0 15px 0px;
 overflow: hidden;
}
body.activity-permalink .activity-content .activity-inner,
body.activity-permalink .activity-content blockquote {
 margin-top: 5px;
}

/* Backwards compatibility.*/
.activity-inner > .activity-inner { margin: 0 !important;}
.activity-inner > blockquote { margin: 0 !important;}

.activity-list .activity-content img.thumbnail {
 float: left;
 margin: 0 10px 5px 0;
 border: 2px solid #eee;
}

.activity-list li.load-more {
 margin: 0 ;
 padding: 0 10px 15px 10px !important;
 text-align: center;
 font-size: 110%;

}


/* :: Activity Stream Comments
--------------------------------------------------------------*/

div.activity-meta {
 margin: 0 0 20px 0px;
 clear: left;
}

.activity-list div.activity-meta a {
 font-size: 95%;
 padding: 5px 10px !important;
 text-decoration: none;
 margin-right: 3px;
}


div.activity-meta a:focus { outline: none;}


div.activity-comments {
 position: relative;
 margin: 0 0 0 85px;
 width: auto;
 overflow: hidden; /* IE fix*/
}

body.activity-permalink div.activity-comments {
 width: auto;
 margin-left: 135px;
 background: none;
}


div.activity-comments ul,div.activity-comments ul li {
 border: none;
 list-style: none;
}

div.activity-comments ul {
 clear: left;
}

div.activity-comments ul li {
padding: 10px 15px 10px 0;
margin-left: 0px !important;
}

body.activity-permalink div.activity-comments ul li {
 border-width: 1px;
 padding: 15px 0 15px 0;
}

div.activity-comments ul li p:last-child {
 margin-bottom: 0;
}

div.activity-comments > ul > li:first-child {
 border-top: none;
}

div.activity-comments ul li:last-child {
 margin-bottom: 0;
}

div.activity-comments ul li > ul {
margin-top: 5px;
margin-left: 25px;
}
body.activity-permalink div.activity-comments ul li > ul {
 margin-top: 15px;
}

div.activity-comments div.acomment-avatar img {
border-width: 2px !important;
float: left;
margin-right: 10px;
}

div.activity-comments div.acomment-content {
font-size: 11px;
margin-left: 39px;
margin-top: 5px;
}
div.acomment-content .time-since {display: none;}
div.acomment-content .activity-delete-link {display: none;}
div.acomment-content .comment-header {display: none;}

body.activity-permalink div.activity-comments div.acomment-content {
 font-size: 14px;
}

div.activity-comments div.acomment-meta {
font-size: 11px;
}

div.activity-comments form.ac-form {
display: none;
margin: 10px 0 10px 33px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 8px;
}
div.activity-comments li form.ac-form {
 margin-right: 15px;
}

div.activity-comments form.root {
 margin-left: 0;
}

div.activity-comments div#message {
 margin-top: 15px;
 margin-bottom: 0;
}

div.activity-comments form.loading {
 background-image: url( images/buddypress/ajax-loader.gif );
 background-position: 2% 95%;
 background-repeat: no-repeat;
}

div.activity-comments form .ac-textarea {

 margin-bottom: 10px;
}
div.activity-comments form textarea {
width: 100%;
font-family: inherit;
font-size: 11px; 
height: 60px;
border: none;

}
div.activity-comments form input {
 margin-top: 5px;
}

div.activity-comments form div.ac-reply-avatar {
 float: left;
}

div.activity-comments form div.ac-reply-content {
 margin-left: 25px;
 padding-left: 15px;
 font-size: 11px;
}

/* :: Private Message Threads
--------------------------------------------------------------*/

li span.unread-count, tr.unread span.unread-count {
 background: #dd0000;
 padding: 2px 8px;
 color: #fff;
 font-weight: bold;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 border-radius: 3px;
}
div.item-list-tabs ul li a span.unread-count {
 padding: 1px 6px;
}

div.messages-options-nav {
 margin: 0 0px;
 padding: 5px 15px;
}

div#message-thread {margin-top:15px;}

div#message-thread div.message-box {
 margin: 0 0px;
 padding: 15px;
}


div#message-thread p#message-recipients {
 margin: 10px 0 20px 0;
}

div#message-thread img.avatar {
 float: left;
 margin: 0 10px 0 0;
 vertical-align: middle;
}

div#message-thread strong {
 margin: 0;
 font-size: 16px;
}
div#message-thread strong a {
 text-decoration: none;
}

#message-threads td.thread-avatar img.avatar {max-width:50px;}

div#message-thread div.message-metadata {
 overflow: hidden;
 padding-bottom:0px;
}

div#message-thread div.message-metadata div.avatar {
 float:left;
 margin-right:20px;
}

div#message-thread div.message-metadata .avatar-box {
 margin-bottom:0px;
} 

div#message-thread .message-box div.message-content {
 margin-top:20px;
 clear:both;
}
 
.standard-form div.message-box {
 background:none !important;
 border:none !important;
}
 
div#message-thread div.message-content p {
 padding:10px;
}

div#message-thread div.message-options {
 text-align: right;
}

#message-threads span.activity {position:relative;}

/* :: Group Forum Topics
--------------------------------------------------------------*/

ul#topic-post-list {
 margin: 10px 0 15px 0px;
 width: auto;
}

ul#topic-post-list li {
 position: relative;
 margin-bottom:0;
}

table.forum p.topic-meta {
margin: 5px 0 0 0;
}

table.forum td.td-freshness p.topic-meta {
margin: 0 0 0 10%;
}

ul#topic-post-list li div.poster-meta {
 margin-bottom: 10px;
}

ul#topic-post-list li div.poster-meta span.avatar, #member-list span.avatar {
 margin-right:15px;
}

ul#topic-post-list li div.post-content {
 margin: 15px 0 15px 54px;
}

div.admin-links {
 float:right;
}

div#topic-meta div.topic-tags {
 float:left;
}

div.admin-links span.permalink a,
div.admin-links span.permalink  {
 width:27px;
 height:15px;
 position:relative;
}

div.admin-links span.permalink a {
 display:block;	
 position:absolute;
}

div.admin-links span.permalink  {
 display:inline-block;
 *display:inline;
 background:url(../images/css-sprite.png) no-repeat -8760px 0;
}

.nv-dark div.admin-links span.permalink  {
 background:url(../images/css-sprite.png) no-repeat -8920px 0;
}

#post-topic-reply {
 border-top:1px dotted #e9e9e9;	
 margin-top:15px;
}

.nv-dark #post-topic-reply {
 border-top:1px dotted #1c1c1c;	
}

div#topic-meta {
 position: relative;
 padding: 5px 0;
 margin-bottom:15px;
}
div#topic-meta h3 {
font-size: 20px;
}
 
div#topic-meta .button {
 text-shadow:none;
 background:none;
 width:auto;
}

div#new-topic-post {
 margin: 0;
 padding: 1px 0 0 0;
}