/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/custom.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */

.logo-custom { background-image: url(../../../../../images/logo/red.png); }

a
{
  color: #cd1313;
}

a:hover
{
  color: #da5454;
}

a.color-hover img:hover{border:1px solid #cd1313;}

#toolbar{
border-bottom: 1px solid #cd1313;
}

.searchbox .results li.result h3{
color:#cd1313;
}

.colorcaps .wk-slideshow .caption
 {
	border-left: 3px solid rgba(205,19,19,0.7);
	border-top: 3px solid rgba(205,19,19,0.7);
}

.wk-slideshow-default .nav span:active 
{ background: rgba(205,19,19,0.7); }

.wk-slideshow-default .nav .active span 
{ background: rgba(205,19,19,0.7); }

.recent-projects .wk-slideshow-default > div .next:hover,
.clients-feed .wk-slideshow-default > div .next:hover,
.clients-logo .wk-slideshow-default > div .next:hover,
.recent-projects .wk-slideshow-default > div .prev:hover,
.clients-feed .wk-slideshow-default > div .prev:hover,
.clients-logo .wk-slideshow-default > div .prev:hover
{
	background-color: rgba(205,19,19,0.7);
}

.mod-box-color,
.mod-line-color{
background: #d75455;
background: -moz-radial-gradient(50% 0%, #d75455 0%, #cf4c4d 50%, #c03c3c 100%); /* Firefox */
background: -webkit-radial-gradient(50% 0%, #d75455 0%, #cf4c4d 50%, #c03c3c 100%); /* Safari, Chrome */
}

/* Highlight Buttons (Needed for System Markup) */
a.button-highlight,
a.button-highlight:before,
a.button-highlight:after
{ background-image: url(../../../styles/red/images/red-highlight-button.png); }

h3.color-style{color:#cd1313;}
h3.module-title span.color{color:#cd1313;}

.links a:hover,
a.button-more:hover{
color:#cd1313;
border:1px solid #cd1313;
}

.color-style{color:#cd1313;}
.module-title span.color{color:#cd1313;}
span.color{color:#cd1313;}

/*color button  */

a.button-color
{
	background-image: url(../images/color-red.png);
	border: 1px solid #920e0e;
	border-top: 1px solid #cd1313;
}



button:hover, input[type="button"]:hover, input[type="submit"]:hover, input.kbutton:hover{color: #cd1313; border:1px solid #cd1313;}

/* Kunena */
#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a,
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span,
#Kunena #ktab li.active a span {
 color:#cd1313;
}

.news-letter input.button {
	background: #cd1313;
	border: 1px solid #920e0e;
	border-left: none;	
}
