<style>
.view-mode {display:none;}
</style>
<br />
<br />
<br />
<h1>Featured Products</h1>
<br />
<ul class="products-grid">
<?php
    $_productCollection=$this->_getProductCollection();
    $_helper = $this->helper('catalog/output');
?>
 
<?php foreach($_productCollection as $_product) {
	 $featured_from = $_helper->productAttribute($_product, nl2br($_product->getFeaturedFrom()), 'featured_from');
	 $featured_to = $_helper->productAttribute($_product, nl2br($_product->getFeaturedTo()), 'featured_to');
     $today = date('Y-m-d');
	if($featured_from!="" && $featured_to!=""){
		if($today >=$featured_from and $today <=$featured_to) {
						$sortdesc = strlen($this->htmlEscape($_product->getShortDescription()));
			$title = strlen($this->htmlEscape($_product->getName()));
			?> 
				<li class="item">
					<div> 
					<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image">
					<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>&nbsp;&nbsp;
					</div>
					<div >
					<div style="float: left;"><p style="margin-bottom:1px;"> <a href="<?php echo $_product->getProductUrl() ?>">
					<?php echo $_product->getName();?>
					
					</a></p>
					<p style="font-size:14px;"><?php 
				//echo substr($this->htmlEscape($_product->getShortDescription()),0,15); ?><?php //if($sortdesc>15){ echo "..."; }?> </p></div>
				<!--	<div style="float: right;">
					<p> <a href="<?php echo $_product->getProductUrl() ?>"><img alt="view Details" src="<?php echo $this->getSkinUrl('images/view.jpg') ?>"></a></p></div> -->
					</div>
				</li>  
                     
<?php
		
   }
   if($featured_from!=""){
			     if($today <=$featured_from){ 
			$sortdesc = strlen($this->htmlEscape($_product->getShortDescription()));
			$title = strlen($this->htmlEscape($_product->getName()));
			?> 
				<li class="item">
					<div> 
					<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image">
					<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>&nbsp;&nbsp;
					</div>
					<div >
					<div style="float: left;"><p style="margin-bottom:1px;"> <a href="<?php echo $_product->getProductUrl() ?>">
					<?php echo $_product->getName();?>
					
					</a></p>
					<p style="font-size:14px;"><?php 
				//echo substr($this->htmlEscape($_product->getShortDescription()),0,15); ?><?php if($sortdesc>15){ echo "..."; }?> </p></div>
				<!--	<div style="float: right;">
					<p> <a href="<?php echo $_product->getProductUrl() ?>"><img alt="view Details" src="<?php echo $this->getSkinUrl('images/view.jpg') ?>"></a></p></div> -->
					</div>
				</li>       
           <?php
		}
	}
	
	}else{
		$sortdesc = strlen($this->htmlEscape($_product->getShortDescription()));
		$title = strlen($this->htmlEscape($_product->getName()));
		?>
			<li class="item">
				<div> 
				<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image">
				<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" width="200" height="200" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>&nbsp;&nbsp;
				</div>
				<div >
				<div style="float: left;"><p style="margin-bottom:1px;"> <a href="<?php echo $_product->getProductUrl() ?>">
				<?php echo substr($this->htmlEscape($_product->getName()),0,12); ?><?php if($title>12){ echo "..."; }?>
				
				</a></p>
				<p style="font-size:14px;">   <?php 
				//echo substr($this->htmlEscape($_product->getShortDescription()),0,15); ?><?php if($sortdesc>15){ echo "..."; }?></p></div>
			<!--	<div style="float: right;">
				<p> <a href="<?php echo $_product->getProductUrl() ?>"><img alt="view Details" src="<?php echo $this->getSkinUrl('images/view.jpg') ?>"></a></p></div> -->
				</div>
			</li>       
   <?php 
	}} ?>
         
<?php // Product Image ?>
 <?php //echo $this->getToolbarHtml() ?>
</ul>