@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Cantarell:regular,italic,bold,bolditalic);

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: bold;
  src: local('Cantarell Bold'), local('Cantarell-Bold'), url('../fonts/Cantarell-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: normal;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url('../fonts/Cantarell-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: normal;
  src: local('Cantarell Oblique'), local('Cantarell-Oblique'), url('../fonts/Cantarell-Oblique.ttf') format('truetype');
}
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: bold;
  src: local('Cantarell Bold Oblique'), local('Cantarell-BoldOblique'), url('../fonts/Cantarell-BoldOblique.ttf') format('truetype');
}
/*
Body Only
*/
body { font-family:'Cantarell', Tahoma, Arial, Geneva, sans-serif; font-size:12px; color:#000000; line-height:18px; text-shadow:0px 1px 0px #dddddd; /*filter:Shadow(Color=#999999, Direction=135, Strength=1);*/ }
body { background:#FFFFFF url(../images/bg_header_01.gif) left top repeat-x; margin:0px; padding:0px; border:0px; text-align:center; }

/*
General
*/
div,span,form,img,label,a { border:0px; margin:0px; padding:0px; outline:none; }
/*
Common Links
*/
a { text-decoration:none; color:#000000; cursor:pointer; outline:none; }
a:hover { text-decoration:none; color:#901215; outline:none; }

/*
Headdings
*/
h1,h2,h3,h4,h5,h6 { font-weight:bold; margin:0px; padding:0px; }
h1 { font-size:14px; color:#901215; line-height:26px; }
h2 { font-size:14px; color:#000000; }
h3 { font-size:13px; color:#901215; }
h4 { font-size:13px; color:#000000; }
h5 { font-size:12px; color:#901215; }
h6 { font-size:12px; color:#000000; }

.f_l { float:left; }
.f_r { float:right; }

.a_l { text-align:left; }
.a_r { text-align:right; }
.a_c { text-align:center; }


#container_home { float:left; width:100%; height:auto; margin:0px; background:url(../images/bg_header_home_01.jpg) left top repeat-x; }
#container_home .basealigner_01 { width:960px; height:auto; margin:0px auto 0px auto; text-align:left; }

#container_sub { float:left; width:100%; height:auto; margin:0px; background:url(../images/bg_header_sub_01.jpg) left top repeat-x; }
#container_sub .basealigner_01 { width:960px; height:auto; margin:0px auto 0px auto; text-align:left; }

/*
---------------------------------------------------------------------------------------------------------------------------------
Header Division
---------------------------------------------------------------------------------------------------------------------------------
*/

#header_home { float:left; width:100%; height:290px; position:relative; background:url(../images/bg_header_home_02.jpg) center top no-repeat; }
#header_sub { float:left; width:100%; height:217px; position:relative; background:url(../images/bg_header_sub_02.jpg) center top no-repeat; }

.logoplacer { width:225px; height:96px; position:absolute; top:30px; right:10px; background:url(../images/logo_paradex_01.gif) left top no-repeat; }


/*
---------------------------------------------------------------------------------------------------------------------------------
Footer Division
---------------------------------------------------------------------------------------------------------------------------------
*/

#footer { float:left; width:100%; height:80px; margin:0px; background:url(../images/divider_footer_01.gif) center 35px no-repeat; }
#footer .basealigner_01 { width:960px; height:auto; margin:0px auto 0px auto; }

#footer .footmenu_01 { float:left; width:100%; height:35px; color:#000000; text-align:center; line-height:35px; text-transform:uppercase; letter-spacing:1px; }
#footer .footmenu_01 a { margin:0px 20px 0px 20px; font-stretch:semi-condensed; }

#footer .copybar_01 { float:left; width:100%; height:38px; color:#666666; font-family:Tahoma, Arial, Geneva, sans-serif; font-size:11px; text-align:center; line-height:38px; }


/*
---------------------------------------------------------------------------------------------------------------------------------
Content Division
---------------------------------------------------------------------------------------------------------------------------------
*/

#content_home { float:left; width:100%; height:230px; background:#FFFFFF url(../images/bg_content_home_01.gif) left bottom repeat-x; position:relative; }

#content_home_aligner { width:960px; height:230px; margin:0px auto 0px auto; text-align:left; background:url(../images/bg_content_home_02.jpg) center bottom no-repeat; }


/*
#content_home_iconbase { width:960px; height:350px; margin:75px 0px 0px 0px; text-align:left; position:relative; z-index:9; }
*/
#content_home_iconbase {float:left; width:960px; height:350px; margin:-115px 0px 0px 0px; text-align:left; position:relative;  }


.slide_home_base_01 { display:none; float:left; width:260px; height:350px; background:#665566; position:absolute; top:0px; left:0px; background:url(../images/icon_home_consulting_02.png) center top no-repeat; }

.slide_home_base_02 { float:left; width:260px; height:350px; background:#665566; position:absolute; top:0px; left:175px; background:url(../images/icon_home_products_02.png) center 5px no-repeat; }

.slide_home_base_03 { float:left; width:260px; height:350px; background:#665566; position:absolute; top:0px; left:510px; background:url(../images/icon_home_mic_07.png) center 17px no-repeat; }

.slide_home_text_aligner_01 { padding:215px 10px 10px 15px; }
.slide_home_text_base_01 { width:240px; height:80px; text-align:left; color:#545454; }
.slide_home_button_base_01 { width:240px; height:auto; text-align:center; }
.button_moreinfo_home_01 { width:115px; padding:10px 0px 12px 2px; border:0px; background:url(../images/bg_button_01.gif) left top no-repeat; font-family:'Cantarell', Tahoma, Arial, Geneva, sans-serif; font-size:12px; color:#FFFFFF; text-transform:uppercase; letter-spacing:1px; font-stretch:semi-condensed; outline:none; }




#content_sub { float:left; width:100%; height:auto; background:url(../images/bg_content_sub_02.jpg) center bottom no-repeat; position:relative; padding-bottom:30px; }

#content_sub_aligner { width:960px; height:auto; margin:0px auto 0px auto; text-align:left; position:relative; }

#content_sub_iconbase { float:left; width:259px; height:auto; padding-top:1px; margin:0px 0px 0px 0px; text-align:left; position:relative; z-index:9; }
#content_sub_contbase { float:left; width:680px; height:auto; margin:25px 0px 0px 20px; text-align:left; position:relative; z-index:9; border-left:1px solid #ebebeb; }

.contentslidebase_01 { float:left; width:660px; height:auto; margin:10px 0px 15px 20px; text-align:left; border-bottom:1px solid #ebebeb; }
.contentslidebase_01 .image_cslide_01 { float:left; width:170px; height:auto; padding:0px 0px 30px 0px; margin-left:10px; text-align:left; }
.contentslidebase_01 .text_cslide_01 { float:left; width:400px; height:auto; padding:1px 0px 30px 0px; margin-left:10px; text-align:left; }
.contentslidebase_01 .text_cslide_02 { float:left; width:550px; height:auto; padding:1px 0px 30px 0px; margin-left:10px; text-align:left; }
.contentslidebase_01 .title_cslide_01 { float:left; width:100%; line-height:18px; padding-bottom:5px; text-transform:uppercase; }
.contentslidebase_01 .disc_cslide_01 { float:left; width:100%; line-height:18px; }

.slide_sub_base_01 { float:left; width:260px; height:auto; background:#665566; position:relative; top:-135px; left:0px; background:url(../images/icon_sub_consulting_01.png) center top no-repeat; }

.slide_sub_base_02 { float:left; width:260px; height:auto; background:#665566; position:relative; top:-135px; left:0px; background:url(../images/icon_sub_products_01.png) center top no-repeat; }

.slide_sub_base_03 { float:left; width:260px; height:auto; background:#665566; position:relative; top:-135px; left:0px; background:url(../images/icon_sub_mic_03.png) center top no-repeat; }

.slide_sub_base_04 { float:left; width:260px; height:auto; background:#665566; position:relative; top:-135px; left:0px; background:url(../images/icon_sub_contact_01.gif) center top no-repeat; }

.slide_sub_base_05 { float:left; width:260px; height:auto; background:#665566; position:relative; top:-135px; left:0px; background:url(../images/cp.png) center top no-repeat; }

.slide_sub_text_aligner_01 { padding:245px 0px 10px 30px; }
.slide_sub_text_base_01 { width:240px; height:80px; text-align:left; color:#545454; }
.slide_sub_button_base_01 { width:240px; height:auto; text-align:center; }

.contactform_base { float:left; width:460px; margin-bottom:10px; }
.txt_button_right { width:100%; text-align:right; }
.textbox_right_01 { float:left; width:252px; background:#FFFFFF; border:1px solid #a6a6a6; font-family:Tahoma, Arial, Geneva, sans-serif; font-size:11px; color:#2e2e2e; padding:6px 3px 5px 3px; margin-bottom:5px; outline:none; }
.textbox_right_01capcha { float:left; width:80px; background:#FFFFFF; border:1px solid #a6a6a6; font-family:Tahoma, Arial, Geneva, sans-serif; font-size:11px; color:#2e2e2e; padding:6px 3px 5px 3px; margin-bottom:5px; outline:none; }
.textbox_right_02 { float:left; width:452px; background:#FFFFFF; border:1px solid #a6a6a6; font-family:Tahoma, Arial, Geneva, sans-serif; font-size:11px; color:#2e2e2e; padding:6px 3px 5px 3px; margin-bottom:5px; outline:none; }
.textarea_right_02 { float:left; width:452px; height:auto; background:#FFFFFF; border:1px solid #a6a6a6; font-family:Tahoma, Arial, Geneva, sans-serif; font-size:11px; color:#2e2e2e; padding:3px 3px 2px 3px; margin-bottom:5px; outline:none; }

.button_moreinfo_sub_01 { width:115px; padding:10px 0px 12px 2px; border:0px; background:url(../images/bg_button_01.gif) left top no-repeat; font-family:'Cantarell', Tahoma, Arial, Geneva, sans-serif; font-size:12px; color:#FFFFFF; text-transform:uppercase; letter-spacing:1px; font-stretch:semi-condensed; outline:none; }



/* ---- Custom CSS ----  */

.contact-form {
    padding-left: 20px;
	width: 600px;
}

.contact-form input {
    clear: right;
    float: right;
	height: 26px;
    margin-bottom: 10px;
	margin-right: 150px;
    width: 250px;
}

.contact-form textArea {
    clear: right;
    float: right;
	height: 26px;
    margin-bottom: 10px;
	margin-right: 150px;
    width: 250px;
}

.contact-form label {
    clear: left;
    float: left;
	line-height: 32px;
    margin-bottom: 10px;
}

.contact-form h1, .contact-form p {
    clear: both;
	margin-bottom: 10px;
}


.text-area {
	min-height: 98px;	
	clear: both;
}

.text-area textarea {
	height: auto;
	
}


.recaptcha_input_area input {
    clear: none;
    float: none;
    height: auto;
    margin-bottom: 0;
    margin-right: 0;
    width: auto;
	line-height: 22px;
}

.recaptcha_input_area label {
    clear: none;
    float: none;
    line-height: 10px;
    margin-bottom: 0;
}


.submit_btn input {
    clear: none;
    float: none;
    height: auto;
    margin-bottom: 0;
    margin-right: 0;
	width: 115px;
	cursor: pointer;
}

.submit_btn input:hover {
	opacity: 0.90;
	clear: none;
    float: none;
    height: auto;
    margin-bottom: 0;
    margin-right: 0;
	width: 115px;
	cursor: pointer;
}

.submit_btn input:active {
	opacity: 1;
	clear: none;
    float: none;
    height: auto;
    margin-bottom: 0;
    margin-right: 0;
	width: 115px;
	cursor: pointer;
}


.contact-form select {
    clear: right;
    float: right;
    height: 32px;
    margin-bottom: 10px;
    margin-right: 150px;
    width: 255px;
}

.error_label {
    color: #901215;
    float: right !important;
    position: absolute;
    right: 45px;
	border: 0px!important;
}

.error {
	border: 1px solid #901215;	
}

.form-div {
display: inline-block;
height: 42px;
width: 600px;
}