{title}New Recurring Profile{/title}
{add_bread_crumb}New Recurring Profile{/add_bread_crumb}

<div id="add_recurring_profile">
  {form action={$active_recurring_profile->getAddUrl()} method=post id=add_recurring_profile_form class="big_form"}
    {include file=get_view_path('_recurring_profile_form', 'recurring_invoice', 'invoicing')}  

    {wrap_buttons}
      {submit}Add Recurring Profile{/submit}
    {/wrap_buttons}
  {/form}
</div>
<script type="text/javascript">
$('#add_recurring_profile').invoiceForm({
  items : {$recurring_profile_data.items|json nofilter},
  notes : {$js_invoice_notes|json nofilter},
  initial_note : {$js_original_note|json nofilter},
  item_templates : {$js_invoice_item_templates|json nofilter},
  tax_rates : {$tax_rates|json nofilter},
  company_details_url : {$js_company_details_url|json nofilter},
  company_projects_url : {$js_company_projects_url|json nofilter},
  delete_icon_url : App.Wireframe.Utils.imageUrl('/icons/12x12/delete-gray.png', 'environment'),
  move_icon_url : {$js_move_icon_url|json nofilter}
});
</script>