<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
			<h2><?php echo __('Edit') ?></h2>
			<button class="button dark" data-target="register" onclick="App.redirect({
				controller : 'TemplateAttributes',
				action : 'index'
			})"><?php echo __('Back to ' . $page_heading.' listing') ?></button>
		</div>
		<!-- End Header -->

		<div class="body">

			<?php echo $this->Form->create('TemplateAttribute',array('id' => 'validate')); ?>
			<fieldset>
				<legend><?php echo __($page_heading)?></legend>
                <p><?php echo $this->Form->input('id'); ?></p>
                <p><?php echo $this->Form->input('title',array('required'=>'required', 'type'=>'text', 'div' => false)); ?></p>
                <p><?php echo $this->Form->input('category_id',array('required'=>'required', 'options'=>$categories, 'div' => false)); ?></p>
                <p><?php echo $this->Form->input('attr_type',array('required'=>'required', 'options'=>$attr_types, 'div' => false)); ?></p>
            </fieldset>
			<?php
			echo $this->Form->button('Submit', array('type' => 'submit', 'escape' => true, 'class' => 'button green small'));
			?>
			<?php echo $this->Form->end(); ?>

		</div>
	</div>
</section>

