/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

.menu-dropdown a.level1,
.menu-dropdown span.level1 { 
	font-family: "OpenSansLight";
	font-size: 13px;
	color:#000000;
}

.menu-dropdown .level1 .level1 span.title { font-size: 13px; }
.menu-dropdown .level1 .level1 span.subtitle {
	margin-top: 1px;
	font-size: 10px;
	color:#000000;
}

.menu-dropdown a.level2,
.menu-dropdown span.level2 { 
font-family: "OpenSansLight";
font-size: 13px;
color:#000000;
}

.menu-dropdown li.level2 .level2 span.subtitle
{
font-size: 10px;
color:#000000;
}

.menu-dropdown a.level3{
font-family: "OpenSansLight";
font-size: 11px;
color:#000000;
}
