/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

.menu-dropdown a.level1,
.menu-dropdown span.level1 {
	font-family: "YanoneKaffeesatzLight";
	font-size: 16px;
}

.menu-dropdown .level1 .level1 span.title { font-size: 16px; }
.menu-dropdown .level1 .level1 span.subtitle {
	margin-top: 1px;
	font-size: 12px;
}

.menu-dropdown a.level2,
.menu-dropdown span.level2 { 
font-family: "YanoneKaffeesatzLight";
font-size: 16px;
}

.menu-dropdown li.level2 .level2 span.subtitle
{
font-size: 12px;
}

.menu-dropdown a.level3{
font-family: "YanoneKaffeesatzLight";
font-size: 13px;
}

