  

				{if url_title == "our_mission" OR url_title == "company" OR url_title == "global_network"}
				<div id="header"><img src="{site_url}/images/interface/topimg-about.jpg" /><a href="http://facebook.com/benevskincare" target="_blank" class="facebook"></a><a href="http://twitter.com/benev_skincare" target="_blank" class="twitter"></a></div>
				{if:elseif url_title == "contact" OR url_title == 'register'}
				<div id="header"><img src="{site_url}/images/interface/topimg-contact.jpg" /><a href="http://facebook.com/benevskincare" target="_blank" class="facebook"></a><a href="http://twitter.com/benev_skincare" target="_blank" class="twitter"></a></div>
				{if:elseif url_title == "our_approach" OR url_title == "key_ingredient_information"}
				<div id="header"><img src="{site_url}/images/interface/topimg-science.jpg" /><a href="http://facebook.com/benevskincare" target="_blank" class="facebook"></a><a href="http://twitter.com/benev_skincare" target="_blank" class="twitter"></a></div>
				{if:else}
				<div id="header">
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="900" height="160" title="homeBanner" id=OBJECT1>
				<param name="movie" value="{site_url}/images/swf/homeBanner.swf">
				<param name="wmode" value="transparent" />
				<param name="quality" value="high">
				<embed style="z-index:5;" src="{site_url}/images/swf/homeBanner.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="900" height="160" wmode="transparent"></embed>
				</object><a href="http://facebook.com/benevskincare" target="_blank" class="facebook"></a><a href="http://twitter.com/benev_skincare" target="_blank" class="twitter"></a>
				</div>
				{/if}

