  <div id="top_nav">
		<div class="pss"></div>
  <div class="top_buttons">
  {if logged_in}
  {exp:member:custom_profile_data}
  	Welcome <a href="{path='cart/account'}">{first_name} {last_name}</a> | <a href="{path='LOGOUT'}">Logout</a> |<a href="{path='cart/view_cart'}">cart ({exp:cartthrob:total_items_count})</a> |  <a href="{path='cart/shipping'}">checkout</a> 
	{/exp:member:custom_profile_data}
 {/if}
  {if logged_out}
<a href="{site_url}index.php/pages/login" id="login_bttn">Login</a>
| <a href="{path='pages/register'}">Register</a> 
 {/if}
 </div>
	</div>
