@CHARSET "UTF-8";

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Next are some system classes which may not removed or changed if you want that proforms works propper */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*Don't delete or change this */
.m4jFormElementWrap{
	margin: 0px;
	padding:0px;
	border: none;
	border: 1px solid transparent;
}

* html .m4jFormElementWrap{
	border: 1px solid none;
}

/*Don't delete or change this */
.m4jRadioWrap, .m4jCheckboxWrap{
	margin: 0px;
	padding:0px;
	border: none;
	float: left;
	border: 1px solid transparent;
}
* html .m4jRadioWrap, * html .m4jCheckboxWrap {
	border: 1px solid none;
}

/* clr */
.m4jCLR{
	clear:both;	
}

/*Don't delete this. It hides the spam trap */
div.m4j-email{
	display:none;
}


/*This is the class for the JS function scroll down to confirm reading. More information at the helpdesk */

.m4jScrollConfirm{
	display:block;
	overflow-x: hidden; 
	overflow-y: scroll;
	border: 1px solid #ababab;
}

.m4jOff{
	display: none;
}


#proforms_proforms table.m4j_form_table, #proforms_proforms table.m4j_form_table tr, 
#proforms_proforms table.m4j_form_table tr:hover, #proforms_proforms table.m4j_form_table tr td, 
#proforms_proforms table.m4j_form_table tr:hover td, #proforms_proforms table.m4j_form_table tr td div table {
	background: transparent;
	border: none;
}

#proforms_proforms table.m4jSystemTable, #proforms_proforms table.m4jSystemTable tr, 
#proforms_proforms table.m4jSystemTable tr:hover, #proforms_proforms table.m4jSystemTable tr td, 
#proforms_proforms table.m4jSystemTable tr:hover td, #proforms_proforms table.m4jSystemTable tr td div table{
	background: transparent;
	border: none;
}



#proforms_proforms textarea:focus, #proforms_proforms input[type=submit]:focus, #proforms_proforms input[type=reset]:focus{
	outline: none;
}

table.nopad , table.nopad tr, table.nopad tr:hover, table.nopad tr td, table.nopad tr:hover td{
	background: transparent;
	border: none;
}

#proforms_proforms div.pfmTAMaxChars{
	display:block;
	width:100%;
	background: transparaent;
	clear:both;
	font-size: 10px;
	border: none; outline: none;
	padding:0; margin:0; 
	
}

#m4jAsk2Confirm input[type="checkbox"]:checked + label:before{
	content: none;
	background: transparent;
}

#proforms_proforms select[multiple], #proforms_proforms select[size] {
    height: auto;
}

#proforms_proforms input[name=mailcopy]{
	margin-right: 5px;
}
