/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import url(../../../css/custom.css);
/*
 * Custom Style Sheet - Use this file to style your content
 */

.logo-custom { background-image: url(../../../../../images/logo/olivegreen.png); }

a
{
  color: #95a51d;
}

a:hover
{
  color: #b4bc72;
}

a.color-hover img:hover{border:1px solid #95a51d;}

#toolbar{
border-bottom: 1px solid #95a51d;
}

.searchbox .results li.result h3{
color:#95a51d;
}

.colorcaps .wk-slideshow .caption
 {
	border-left: 3px solid rgba(157,166,87,0.7);
	border-top: 3px solid rgba(157,166,87,0.7);
}

.wk-slideshow-default .nav span:active 
{ background: rgba(157,166,87,0.7); }

.wk-slideshow-default .nav .active span 
{ background: rgba(157,166,87,0.7); }

.recent-projects .wk-slideshow-default > div .next:hover,
.clients-feed .wk-slideshow-default > div .next:hover,
.clients-logo .wk-slideshow-default > div .next:hover,
.recent-projects .wk-slideshow-default > div .prev:hover,
.clients-feed .wk-slideshow-default > div .prev:hover,
.clients-logo .wk-slideshow-default > div .prev:hover
{
	background-color: rgba(157,166,87,0.7);
}

.mod-box-color,
.mod-line-color{
background: #9da657;
background: -moz-radial-gradient(50% 0%, #9da657 0%, #9aa252 50%, #939a49 100%); /* Firefox */
background: -webkit-radial-gradient(50% 0%, #9da657 0%, #9aa252 50%, #939a49 100%); /* Safari, Chrome */
}

/* Highlight Buttons (Needed for System Markup) */
a.button-highlight,
a.button-highlight:before,
a.button-highlight:after
{ background-image: url(../../../styles/olivegreen/images/olivegreen-highlight-button.png); }

h3.color-style{color:#95a51d;}
h3.module-title span.color{color:#95a51d;}

.links a:hover,
a.button-more:hover{
color:#95a51d;
border:1px solid #95a51d;
}

.color-style{color:#95a51d;}
.module-title span.color{color:#95a51d;}
span.color{color:#95a51d;}

/*color button  */

a.button-color
{
	background-image: url(../images/color-olive-green.png);
	border: 1px solid #6d7231;
	border-top: 1px solid #95a51d;
}



button:hover, input[type="button"]:hover, input[type="submit"]:hover, input.kbutton:hover{color: #95a51d; border:1px solid #95a51d;}

/* Kunena */
#Kunena #ktab a:hover, #Kunena #ktab li.Kunena-item-active a,
#Kunena #ktab a:hover span,#Kunena #ktab li.Kunena-item-active a span,
#Kunena #ktab li.active a span {
 color:#95a51d;
}

.news-letter input.button {
	background: #95a51d;
	border: 1px solid #6d7231;
	border-left: none;	
}
