/* Example
	#foo {
		@include background-image-retina('foobar', 'png', 10px, 20px);
		background: repeat;
	}
*/
@mixin background-image-retina($file, $type, $width, $height) {
background-image: url($file + '.' + $type);
 
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
& {
background-image: url($file + '@2x.' + $type);
-webkit-background-size: $width $height;
}
}
}