	.BankrateFCC_calc-container-small a, .BankrateFCC_calc-container-small a:visited {color:#004276;}
	.BankrateFCC_calc-container-small a:hover {color:#DEA001;}
	.BankrateFCC_calc-container-small a:focus {outline:none;}
			
	.BankrateFCC_calc-container-small {border: 1px solid #d2dfff; width: 255px; background-color: #f3f6fb; padding: 10px; font-family: arial, helvetica, sans-serif; font-size: 12px; overflow: auto;  overflow-y: hidden ! important;}
	
	.BankrateFCC_boxhead-container-small {background-color: #ffffff; border-left: 1px solid #d2dfff; border-right: 1px solid #d2dfff; border-top: 1px solid #d2dfff;width: 275px; overflow: hidden;}

	.BankrateFCC_boxhead {height: 25px; float: left; margin: 5px 5px 0px 5px; font-family: arial, helvetica, sans-serif; font-weight: bold; color: #004276; font-size: 12px;}
	.BankrateFCC_boxhead_200 {height: 25px; float: left; padding: 2px 5px 7px 5px; font-family: arial, helvetica, sans-serif; font-weight: bold; color: #004276; font-size: 10px; width:45%; text-align:left; line-height:13px;}
	.BankrateFCC_boxhead_200_auto {height: 25px; float: left; padding: 2px 5px 7px 5px; font-family: arial, helvetica, sans-serif; font-weight: bold; color: #004276; font-size: 10px; width:35%; text-align:left; line-height:13px;} 
	.BankrateFCC_boxhead-logo {background: url(http://www.bankrate.com/images/free-content/widget-sprite.gif) bottom right; height: 23px; width: 115px; float: right; cursor: pointer;}
	
	.BankrateFCC_subhead {height: 25px; float: left; font-family: arial, helvetica, sans-serif; font-weight: bold; color: #004276; font-size: 11px;}
	
	.BankrateFCC_calc-container-small .BankrateFCC_col1 {float: left; width: 180px; text-align: left; }
	.BankrateFCC_calc-container-small .BankrateFCC_results-col1 {float: left; width:auto; padding-bottom: 10px; text-align:left; width:55%; line-height:12px;}
	.BankrateFCC_calc-container-small .BankrateFCC_results-col2 { font-weight: bold; color: #000; text-align:right; margin-bottom: 10px; width:-1%; height:24px;}
	.BankrateFCC_calc-container-small .BankrateFCC_results-col2-new {font-weight: bold; color: #000; text-align:left; width:43%; height:22px; float:right;}
	.BankrateFCC_calc-container-small .BankrateFCC_results-colFull { margin-bottom: 10px; font-weight: bold; color: #000;}
	.BankrateFCC_calc-container-small .BankrateFCC_results-colFull-C { margin-bottom: 10px; font-weight: bold; color: #000; text-align: center;}
	.BankrateFCC_calc-container-small .BankrateFCC_amort-col1 {float: left; width: 50px; margin-bottom: 10px; margin-right: 10px; text-align: center;}
	.BankrateFCC_calc-container-small .BankrateFCC_amort-col2 { margin-bottom: 10px; color: #000;  }
	.BankrateFCC_calc-container-small .BankrateFCC_amort-results {margin: 0px auto; width: 140px;}
	.BankrateFCC_results-container {padding: 10px; background-color: #ffffff; color: #000000; overflow: auto; border: 1px solid #d2dfff; overflow-y: hidden ! important;}
	
	.BankrateFCC_results-underline-input {background-color: transparent; border-style: solid; border-width: 0px 0px 1px 0px; border-color: #000000; text-align: center; font-size: 11px; font-weight: bold;}
	
	.BankrateFCC_col2 {float: left;}
	.BankrateFCC_colFull {margin: 0px 0px 10px 0px; clear: both; padding-top: 0px; line-height: 10px; height: 5px;}
	
	
	.BankrateFCC_button-small {background: url(http://www.bankrate.com/images/free-content/widget-sprite.gif) bottom left no-repeat; height: 20px; width: 100px; color: #000000; font-weight: bold; font-size: 11px; margin: 10px auto;}
	.BankrateFCC_button-small div{color: #000000; font-weight: bold; font-size: 11px; text-transform: none; padding: 2px 0px 0px 0px; text-align: center;}
	.BankrateFCC_button-small div, .BankrateFCC_button-small div a, .BankrateFCC_button-small div a:visited {color: #000000; font-weight: bold; font-size: 11px; text-transform: none; padding: 3px 0px 0px 0px; text-align: center; text-decoration: none;}
	
	.BankrateFCC_button-med {background: url(http://www.bankrate.com/images/free-content/widget-sprite.gif) -170px -73px no-repeat; height: 27px; width: 234px; color: #000000; font-weight: bold; font-size: 11px; margin: 15px 0px;}
	.BankrateFCC_button-med div, .BankrateFCC_button-med div a {color: #000000; font-weight: bold; font-size: 11px; text-transform: uppercase; padding: 3px 0px 0px 0px; text-align: center; text-decoration: none;}
	
	.BankrateFCC_button-lg {background: url(http://www.bankrate.com/images/free-content/widget-sprite.gif) -419px -73px no-repeat; height: 27px; width: 286px; color: #000000; font-weight: bold; font-size: 11px; margin: 15px 0px;}
	.BankrateFCC_button-lg div, .BankrateFCC_button-lg div a {color: #000000; font-weight: bold; font-size: 11px; text-transform: uppercase; padding: 3px 0px 0px 0px; text-align: center; text-decoration: none;}
	
	.BankrateFCC_sel-options {width: 68px; font-size: 12px;}
	.BankrateFCC_sel-options-dd {width: 74px; font-size: 12px;}
	
	.BankrateFCC_form-error {font-family: arial, helvetica, sans-serif; color: red; font-size: 11px; text-align:left; float:left;}
	
	.BankrateFCC_footer-container {background-color: #013c6b; padding: 2px 0px; color: #FFFFFF; font-size: 10px; font-family: arial, helvetica, sans-serif; text-align: center; width: 275px;}
	.BankrateFCC_footer-container a, .BankrateFCC_footer-container a:visited {color: #FFFFFF; font-size: 10px; font-family: arial, helvetica, sans-serif; text-align: center; text-decoration: none; background-color: inherit;}
	
	.BankrateFCC_small {width: 277px;}
	.BankrateFCC_calc-or {font-weight: bold; margin-bottom: 10px; text-align: center;}
	.BankrateFCC_divider {width: 99%; border-top: 1px solid #d2dfff; margin: 5px 0px;}
	
	.BankrateFCC_calc-orange-border {border-color: #bf7e00 !important;}
	.BankrateFCC_calc-orange {background-color: #fcf1d0 !important;}
	.BankrateFCC_calc-dkorange {background-color: #bf7e00 !important;}
	.BankrateFCC_calc-orange-text {color: #000000 !important;}
	
	.BankrateFCC_calc-dkgray-border {border-color: #3b3b3b !important;}
	.BankrateFCC_calc-gray-border {border-color: #cdcdcd !important;}
	.BankrateFCC_calc-gray {background-color: #ededed !important;}
	.BankrateFCC_calc-dkgray {background-color: #3b3b3b !important;}
	.BankrateFCC_calc-gray-text {color: #000000 !important;}
	
	.BankrateFCC_calc-blue-border {border-color: #d2dfff !important;}
	.BankrateFCC_calc-blue {background-color: #f3f6fb !important;}
	.BankrateFCC_calc-dkblue {background-color: #013c6b !important;}
	.BankrateFCC_calc-blue-text {color: #004276 !important;}
	
	.BankrateFCC_calc-green-border {border-color: #72bc89 !important;}
	.BankrateFCC_calc-green {background-color: #eafff0 !important;}
	.BankrateFCC_calc-dkgreen {background-color: #0f4921 !important;}
	.BankrateFCC_calc-green-text {color: #000000 !important;}

