/* Layout Styles */
*{font-family: Helvetica, Arial, sans-serif; margin:0;padding:0;}

#content {width:1024px;}

ul li.leaf {
    list-style-image:none;
    list-style-type: none;
	padding:0;
	margin:0;
}
a:hover{
	color: #006699;
}
hr,
.ahem,
#skip-link {
  display: none;
}
#content hr {
  display: block;
}
.form-item, .form-actions {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
#content,
#navigation,
#sidebar-first,
#sidebar-second {
}
.with-navigation #content,
.with-navigation #sidebar-first,
.with-navigation #sidebar-second {
  
}
#navigation {

}
#navigation h2 {
  margin: 0;
}
#content {
  width: 100%;
}

#footer {
  clear: both;
}
