﻿/* CSS Document */
@font-face
{
	font-family: Din;
	src: url('../fonts/dinr.ttf');
}

body {
	font-family:Helvetica, Arial, sans-serif;
	background-image: url(../graphics/mainBGlong.gif);
	background-repeat: repeat-x;
	background-position: center top;
	overflow-x: hidden; 	
	position:absolute;
	top:0;
	left:0;
	width: 100%;
}
#overlay-content {
	width:80% !important;
}
#overlay { max-width:1150px;}
.element-invisible {display:none !important;}
#page {
	background-color:#FFF;
	margin: 0 auto;
	width: 1024px;
}
.slider-wrapper { overflow:hidden;position:absolute; width:1024px;}
#slider {width:1035px;}
#bg-wrapper {
	background-image: url(../graphics/mainBG.gif);
	background-repeat: repeat-y;
	background-position: center top;
	width:1262px;
	margin:0px auto;
}
#page-wrapper {
	background-image: url("../graphics/mainBGtop.gif");
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
}
a, a:hover, a:link, a:visited, a:active {
	color:#007B50;
	font-size:12px;
}
body.toolbar {
    padding-top: 85px !important;
}
h2, h3 {font-weight: normal;font-family:'BenchNine', Helvetica, Arial, sans-serif;}
#drupalControls {display:none;}
#closeDrupalControls {float:right; margin:20px;}
header{
	width: 1024px;
	margin: auto;
}
#header_common{
	width: 100%;
	height: 90px;
}
#header_index{
	width: 100%;
	height: 95px;
}
#main_logo{
	float: left;
}
#main-wrapper {
	margin:40px;
	font-size:.9em;
	min-height:610px;
}
#common_nav_block{
	float: right;

}
header a{
	color: #000000;
	text-decoration: none;
	font-size: 11px;
}
header ul{
	list-style: none;
	clear:both;
}
.branch_shadow {float:left;margin: 0 30px;}
#branch_location1 {float:left;}
#branch_location2 {float:left;}
#search-block-form .form-submit {
	background-image: url(../graphics/search_icon.gif);
	height:20px;
	width:20px;
	border:none;
    color: transparent;
}
#search-block-form #edit-submit:hover {
	cursor:pointer;
}
#block-search-form h2 {
	display:inline;
	float:left;
	font-weight:normal;
	margin-top: 3px;
	margin-left:10px;
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif !important;
	color:#666666;
}
#search-block-form #edit-actions {
	display:inline;
}
#search-block-form {
	float: right;
	margin-right: 15px;
}
#common_nav_block .menu .last {
	font-weight:bold;
}
#common_nav_block li{
	display:inline;
	content:normal !important;
}
#common_nav_block li a{
	border-left:1px solid #666666;
	padding-left:5px;
	font-size:10px;
	color:#666666;
}
#common_nav_block li.first a {
	border-left:none !important;
}
#common_nav_block ul{
	float: right;
} 

#block-search-form {display:block; width:230px;float: right;clear:both;}

#block-locale-language {display:block;}

#block-menu-menu-contact-nav {display:block;}

#checks {
	left: -326px;
    position: relative;
    top: 50px;
}

#max_savings {
	left: 505px;
    position: relative;
    top: -125px;
}
#calcPicture {
    left: -15px;
    position: absolute;
    top: -40px;
}
#header_personal{
	position: relative;
	width: 1024px;
	height: 90px;
	background-image: url(../graphics/personal_nav_bg.jpg);
	background-repeat: no-repeat;
}
#online_login{
	position: relative;
	left: 0px; /*left: 60px;*/
	top:25px;
	width: 225px;
	bottom: 0px;
}
#wafed_logo {
	width:375px;
	height:90px;
	display:block;
	background-image: url(../graphics/wfblogo.jpg);
	cursor:pointer;
}
ul#personal_nav{
	position: absolute;
	right: 10px;
	bottom: 15px;
	list-style: none;
}
ul#personal_nav li{
	float: left;
	text-transform: uppercase;
	font-size: 15px;
}
ul#personal_nav a{
	color: #FFF;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 16px;
    padding-top: 62px;
	text-decoration: none;
}
.calcMaincopy td {
	padding:2px;
}
ul#personal_nav a:hover{
	background-image: url(../graphics/green_highlight.gif);
	width:auto;
	height:auto;
}
.webform-client-form {
	left: 300px !important;
    position: absolute;
    top: 125px !important;
    width: 285px;
}
.logged-in .webform-client-form {
	left: 300px !important;
    position: absolute;
    top: 125px !important;
    width: 285px;
}
.form-item, .form-actions {
    clear: both;
}
#webform-component-state{
    left: 324px;
    position: absolute;
    top: 190px;
    width: 250px;
}
.content ul {
	list-style:none !important;
	font-size: 12px;
	margin:5px 15px 5px 15px;
}
#side_rates {
	text-align:center;
	width: 210px;
}
#side_rates_12 {
	text-align:left;
	width: 210px;
}
#side_rates h3 {
	font-size:16px !important;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
}
#rate {
	font-size:60px;
	color: #3399CC;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
}
#effective {
	font-size:11px;
	color:#666666;
}
#block-locale-language ul {
	margin-bottom:0px;
}
#info_area {
	border-top:1px solid #666666;
	margin-top:15px;
	margin-left:0px;
	padding: 15px;
    width: 190px;
}
.list_rates {
	border-top:1px solid #666666;
	margin-left: 0px;
    margin-top: 20px;
    padding-top: 15px;
    width: 210px;
}
#info_area a {
	font-size:11px;
	text-decoration:none;
}
#features {
	font-size: 12px;
}
#wafed_main h2 {
	font-family:'Din', Helvetica, Arial, sans-serif;
	color: #3399CC;
}
#wafed_main h3 {
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	color: #3399CC;
}
#wafed_main #holiday_club_info h3 {
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	color: #000;
}
#wafed_main {
	float: left; 
    line-height: 19px;
    width: 615px;
}
#wafed_main p {
	margin-bottom:15px;
}
#index_content_information ol {
	list-style:none !important;
	display:inline;
}
#main-wrapper #wafed_main ul li:before {
    content: "•";
    margin-right: 10px;
    font-weight: bold;
    color: #aed66a;
	list-style:none;
}
.content td {
	vertical-align:top;
}
#webform-component-last-name {
    left: 324px;
    position: absolute;
    top: 0;
    width: 250px;
}
.webform-client-form label {
	font-size: 11px;
	float: left;
    font-weight: normal;
}
.webform-client-form .form-textarea-wrapper {
	float:right;
	margin-left: 120px;
}

.webform-client-form input {
	float:right;
	width: 165px;
	margin:0 0 20px 0;
}

#index_content{
	position: relative;
	width: 1024px;
	height: 830px;
	margin: auto;
}
#index_content_information{
	position: absolute;
	top: 530px;
	left: 280px;
	width: 760px;
}
#index_content_information h3{
	color: #666666;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	font-size: 44px;
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
#index_content_information ul{
	list-style: none;
	float: left;
}
#index_content_information li{
	width: 230px;
	float: left;
	margin-right:15px;
}
#index_content_information li h4{
	color: #006699;
	font-size: 18px;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
}
#index_content_information li p{
	color: #111;
	font-size: 13px;
	margin-bottom: 10px;
}
#index_content_information li a{
	color: #006699;
	font-size: 13px;
	float: right;
	vertical-align:bottom;
}

#calc_leftCol {
	width:300px;
	float:left;
	font-size:12px;
}

#calc_rightCol {
	width:300px;
	float:right;
	font-size:12px;
}
#calcPic {
	margin-left: -24px;
    position: absolute;
    /*top: 302px;*/
}
.privacyBox {width:585px;float:right;}
#scrollPage {
	margin: 40px 30px 80px 80px;
}
#scrollBox {padding:7px 4px 4px 4px;}

div[rel='scrollArea'] { width: 100%; height: 615px;}

.scrollArea-bar { width: 4px; background: #bfbfbf; border-radius: 4px; box-shadow: inset 0px 0px 5px #444444; overflow: hidden; }
.scrollArea-drag { background: #ffd75e; height: 25px; box-shadow: inset 0px 0px 5px #d7b13f; border-radius: 4px; cursor: pointer; }

#poc_content{
	width: 1024px;
	margin: auto;
}
#news_content{
	width: 1024px;
	margin: auto;
	height: 700px;
}
#faq_content{
	width: 1024px;
	margin: auto;
	height: 700px;
}
#news_sidebar{
	width: 300px;
	text-align: left;
	float: left;	
}
#faq_sidebar{
	width: 300px;
	text-align: left;
	float: left;	
}
.sidebar_shadow{
	float: right;
	width: 15px;
	position: relative;
    left: 15px;
}
#poc_sidebar{
	width: 270px;
	text-align: left;
	float: left;
	margin-right:30px;
}
#poc_sidebar h3{
	font-size: 22px;
	color: #3399cc;
	margin-bottom: 0px;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
}
#poc_sidebar h4{
	font-size: 14px;
	font-weight: bold;
}
#poc_sidebar ul{
	list-style:none;
	margin-bottom: 20px;
}
#poc_sidebar li{
	margin-bottom: 3px;
	font-size: 12px;
}
#poc_sidebar a{
	color: #000;
	text-decoration:none;
	margin:5px 0px;
}
.personalCreditCards {
	width: 615px !important;
}
.personalCreditCards td {
	vertical-align:top;
	padding: 5px!important;
}
.personalCreditCards .lastCol {
    border-right: medium none !important;
    width: 145px;
}
#faq_main{
	float: left;
	width: 600px;
	margin-left: 50px;
}
#poc_main{
	float: left;
	width: 575px;
}
#location1 {
	position:relative;
	top:10px;
}
#location2 {
	position:relative;
	top:36px;
}
#branchLocations_main img {
	margin-bottom:20px;
}
#locationsTitle{
	font-size: 22px;
	color: #3399cc;
	font-weight: normal;
    margin-bottom: 25px;
}
#branchLocations_main h4 {
	font-size: 12px;
	margin:0px;
}
#branchLocations_main p{
	font-size: 12px;
	margin:0px 0px 9px 0px;
}
p {font-size: 12px;}
#AccountOptions_main {
	float:right;
	width:655px;
}
#account_sidebar {
	width:260px;
	float: left;
}
h2 {color: #3399cc;
    font-size: 18px;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
}
.rightCol {
	float:right;
}
#holiday_club_info {
    margin-left: 30px;
}
#holiday_club_info .rightCol {
	margin-right: 55px;
}
#AccountOptions th {
	background-image: url(../graphics/tableHeader.gif);
	height:44px;
	color:#FFF;
	font-size:12px;
	padding-left:10px;
}
#AccountOptions_main p {
	margin-bottom:15px;
}
#AccountOptions td {
	border:1px solid #c4c4c6;
	padding-top:20px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:30px;
	font-size:12px;
}
#AccountOptions .lastCol {
	border-right:none !important;
}

#AccountOptions .lastColCreditCards {
	border-right:none !important;
	width:300px;
}

#AccountOptions .firstCol {
	font-size:14px;
	width:290px;
	font-weight:bold;
	border-left:none !important;
}

#AccountOptions .firstColcreditcard {
	font-size:14px;
	width:50px;
	font-weight:bold;
	border-left:none !important;
}

#accountLocation {
	float:left;

	margin-top:400px;
}
#AccountOptions a {
	font-size:12px;
	font-weight:normal;
}
#poc_main h2{
	font-size: 22px;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	color: #3399cc;
	margin-bottom: 15px;
}
#poc_main p{
	font-size: 12px;
	margin-bottom: 50px;
}
#news_main{
	float: left;
	width: 600px;
	margin-left: 50px;
}
#faq_main h2{
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: #3399cc;
	margin-bottom: 15px;
}
#faq_main h3{
	font-size: 18px;
	color: #000;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	margin-bottom: 5px;
}
#faq_main p{
	font-size: 12px;
	margin-bottom: 15px;
}
#faq_main ul{
	list-style: none;
}
#faq_main ul li p{
	margin-bottom: 3px;
}
#faq_main ul li{
	margin-bottom: 20px;
}


#news_main h2{
	font-size: 22px;
	color: #3399cc;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	margin-bottom: 15px;
}
#news_main h3{
	font-size: 18px;
	color: #000;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	margin-bottom: 5px;
}
#news_main p{
	font-size: 12px;
	margin-bottom: 15px;
}
#news_main ul{
	list-style: none;
}
#news_main ul li p{
	margin-bottom: 3px;
}
#news_main ul li{
	margin-bottom: 20px;
}

footer{
	position: relative;
	width: 1024px;
	height: 50px;
	margin: auto;
	background-image: url(../graphics/footer_bg.jpg);
	background-repeat: no-repeat;
	margin-top: 350px;
}
#footer_links ul{
	list-style: none;
	position: absolute;
	top: 18px;
}
#footer_links li{
	float: left;
	height:32px;
	font-size: 12px;
}
#footer_links a{
	color: #FFF;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 0px;
	margin-right: 0px;
}

#footer_links .onSub {
	background:url(../graphics/bg_footerHover_top.png);
	background-position:center top;
	background-repeat:no-repeat;
}

#footer_links a:hover{
	color:#FFF !important;
	text-decoration:underline;
}
#footer_fdic{
	position: absolute;
	top: 10px;
	right: 10px;
}
#sub_footer{
	padding-bottom:10px;
	width: 1024px;
	margin:15px auto;
}
#career_privacy{
	font-size: 10px;
	float: left;
	margin-left: 17px;
}
#career_privacy a{
	color: #222;
	text-decoration: none;
}
#career_privacy a:hover{
	text-decoration: underline;
}
#career_privacy ul{
	list-style: none;
}
#career_privacy li{
	float: left;
	margin-right: 20px;
}
#rights_reserved{
	margin-right: 8px;
	font-size: 10px;
	float: right;
}
#personal_nav img {
	position:relative;
	top:10px;
}

#sub-top-nav #block-menu-menu-business-nav {
	background-color:#e4e3e2;
	font-size:11px;
	position:absolute;
	top:245px;
	left:737px;
	max-width:150px;
	padding:5px;
}

#sub-top-nav #block-menu-menu-personal-nav {
	background-color:#e4e3e2;
	font-size:11px;
	position:absolute;
	top:245px;
	left:547px;
	max-width:150px;
	padding:5px;
	display:none;
}

ul#personal_nav ul {
	color:#333;
	padding:15px;
	font-size:11px;
	display:none;
	opacity:.96;
	position: absolute;
	z-index:10000;
	top:34px;
	width:160;
	background-color:#e4e3e2;
}

ul#personal_nav li:hover > ul {
    display: block;
}
ul#personal_nav li a:hover > ul {
    display: block;
}
ul#personal_nav ul li a {
	color:#333 !important;
	padding:0px 0px 0px 10px !important;
}

ul#personal_nav ul li a {
	background-image:none!important;
}

ul#personal_nav ul li a:hover {
	color: #3399CC !important;
	background-image: url(../graphics/sub-nav-arrow.gif) !important;
	background-repeat:no-repeat;
}
#wafed_slogan {
	margin-left:40px;
	position:relative;
	top: 535px;
	z-index:99;
}
ul#personal_nav ul li {
	text-transform:none !important;
	float:none !important;
	display:block;
	margin-left:5px;
	margin-right:15px;
}
#calc_subNav {
	position:absolute;
	left:0px;
	top:32px;
	width:999px;
	padding-left: 25px;
    padding-top: 15px;
	padding-bottom: 60px;
	background-color:#d9ecf4;
	display:none;
}
#services_subNav {
	position:absolute;
	left:0px;
    margin-top: -352px;
	top:32px;
	width:999px;
	padding-left: 25px;
    padding-top: 15px;
	padding-bottom: 150px;
	background-color:#ededed;
	display: block;

}
#services_subNav a:hover {
	background:none !important;
	color:#3399CC !important;
	text-decoration:underline;
}
.subFooterNav {
	display:inline;
	padding-left: 14px;
	height: 155px;
	border-left:1px solid #333;
	float:left;
	width:310px;
}
#footer_links ul ul a {
	pading:0px !important;
	font-size:10px;
	color:#333;
}
#footer_links ul ul a:hover {
	background-color:transparent!important;

}
#footer_links ul ul li {
	float:none;
	height:15px;
	margin: 2px;
	font-size:11px;
}
#footer_links ul ul {
	position:static;
}

.subFooterNav ul li {
	list-style: none;	
}

.subFooterNav ul li .nolink {
	font-size: 12px;
}

#iFrameLogin {
	width:200px;
	border:none;
	height:175px;
	overflow:hidden;
}

.logged-in #loginArea {
	display:none;
	background:#fff;
    left: 25px;
    position: absolute;
    top: 65px;
	z-index:9999999;
	width: 198px;
}

#loginArea {
	display:none;
	background:#fff;
    left: 25px;
    position: absolute;
    top: 65px;
	z-index:9999999;
	width: 198px;
}

#legalInfo  p {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	margin: 5px;
	padding: 5px;
}
#legalInfo .col1 {
	text-align: center;
}
#legalInfo .col2 {
	text-align: center;
}
#paycreditcard {float:right;}

#block-views-recent-post-block {
	width:250px;
	float:left;
}
#block-views-recent-post-block ol li {
	content:"";
	quotes: none;
	content:none;
	list-style:none;
}
#more_news {
	margin-top:15px;
}
#block-views-recent-post-block ol .views-row-last {
	border-bottom:1px solid #707070;
}
#block-views-recent-post-block .view-content .submitted {
	margin:5px 0px;
	width:110px;
	color:#666;
	font-size:9px
}
#block-views-recent-post-block .view-content p {
	font-size:11px;
}
#block-views-recent-post-block .view-content h2 a {
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	font-size:18px !important;
	line-height:1;
}
#block-views-recent-post-block .view-content h2 {
	width:210px;
	border-top:1px solid #707070;
	padding-top:10px;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
	font-size:18px !important;
	line-height:1;
}
#block-views-recent-post-block .view-content .submitted a {
	font-size:9px
}
#block-views-recent-post-block .view-content .read_more a {
	text-decoration:none;
}
#block-views-recent-post-block .view-content .read_more {
	float:right;
	position: relative;
    top: 3px;
	font-size:11px;
}
#block-views-recent-post-block .view-content {
	float:left;
	display:inline;
	width:210px;
}
#block-views-recent-post-block .view-footer {
	float:right;
	display:inline;
}

#back-top {
	position: fixed;
	left: 325px;
	top: 350px;
}

.form-submit {
	margin-top:15px !important;
}

#accountInfoLinks {
	clear:right;
	float:left;
}



.form-item-search-block-form #edit-search-block-form--2, #search-block-form .form-submit {
	position:relative;
	top:-15px;
}

#scrollBox table td {
	border:1px solid #000;
}

.node-type-article #block-system-main .field-type-image {
	padding:10px;
	border:1px solid #000;
	float:right;
	width:225px;
}

.node-type-article #block-system-main .field-type-image img {
	width:225px;
	height:auto;
}

.node-type-article #block-system-main .field-name-body {
	float: left;
    margin-left: 10px;
    width: 430px;
}

#block-views-recent-post-block .field-name-field-preview-text {
	color: #666666;
	font-size:11px;
}

#common_nav_block li span {
    border-left: 1px solid #666666;
    color: #666666;
    font-size: 10px;
    padding-left: 5px;
}

#node-34 .content p {
	text-align:center;
}

.page-news #block-block-1 {
	float:left;
	width:250px;
}

.page-news #block-system-main {
	width:640px;
	margin-left: 35px;
	float:left;
}
.page-news #block-block-3 {
	float:right;
}
.page-news .field-name-field-image {
	float:left;
	padding:5px;
	margin-right:15px;
	margin-bottom:15px;
	border:1px solid #000;
}

.page-news #block-system-main h2 a {
	font-size:22px;
	font-weight: normal;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
}

.page-news #block-system-main p, .page-news #block-system-main .field-item {
	font-size:12px;
	color: #666666;
}

.page-news #block-system-main .read_more {
	float:right;
	margin-bottom: 15px;
}

.page-news #block-system-main .content {
	margin-bottom:10px;
}
#legal {
	display: none;
	position: fixed;
	top: 15%;
	left: 15%;
	width: 80%;
	height: 70%;
	background-color: black;
	z-index:100991;
	-moz-opacity: 0.8;
	opacity:.80;
	padding:20px;
	filter: alpha(opacity=80);
}
#legal h4 {
	color:#fdb913;
	margin-bottom:20px;
}
#legal p {
	color:#FFF;
	margin-bottom:10px;
}
#termsClose {float:right;}
#termsClose a {
	color:#fdb913;
	text-decoration:none;
}

#leaving {
	display:none;
	position:fixed;
	top:40%;
	left:40%;
	border:2px solid #060;
	box-shadow:0px 0px 10px #000;
	z-index:10000;
	width:405px;
	min-height:210px;
	background-color:#FFF;
	font-size:12px;
}
#leaving p {
	width: 360px;
	margin-top:15px;
	margin-left:15px;
}
#leaving_btns {
	width:180px;
	float:right;
	margin-top: 25px;
}
#leaving_btns input {
	display:inline;
}
#leaving_url {color:#3399cc;}

/* CSS by Imran START */

.certificates-of-deposit #poc_sidebar{
	float:none;
	margin-right:0px;
	width:auto;
	display:block;
	clear:both;
}
.certificates-of-deposit #side_rates{
	width:330px;
	display:inline-block;
	margin-top:35px;
}
.certificates-of-deposit .list_rates{
	border-top:none;
	border-left:1px solid #666666;
	margin-top:0px;
	padding-top:0px;
}
.certificates-of-deposit  #info_area{
	width:912px;
}
.certificates-of-deposit .sidebar_shadow{
	float:none;
	left:0px;
	text-align:center;
}
.certificates-of-deposit #info_area nobr{
	margin-right: 10px;
}

/* CSS by Imran END */

/*Css for calculator*/

.BankrateFCC_calc-container-small{
	background-color: #ededed !important;
}
.BankrateFCC_footer-container{
	background-color: #0F4921 !important;
}
/**/
/*style for business page heading*/
#AccountOptions_main>h2 {
	font-family:'Din', Helvetica, Arial, sans-serif;

}



/*!
 * Bootstrap Modal
 *
 * Copyright Jordan Schroter
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
*/

.modal-open {
	overflow: hidden;
}


/* add a scroll bar to stop page from jerking around */
.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .modal-scrollable {
	overflow-y: scroll;
}

@media (max-width: 979px) {
	.modal-open.page-overflow .page-container .navbar-fixed-top,
	.modal-open.page-overflow .page-container .navbar-fixed-bottom  {
		overflow-y: visible;
	}
}


.modal-scrollable {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.modal {
	outline: none;
	position: absolute;
	margin-top: 0;
	top: 50%;
	overflow: visible; /* allow content to popup out (i.e tooltips) */
}

.modal.fade {
	top: -100%;
	-webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;	
	-moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
	-o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
	transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}

.modal.fade.in {
	top: 30%;
}

.modal-body {
	max-height: none;
	overflow: visible;
}


.modal.modal-absolute {
	position: absolute;
	z-index: 950;
}

.modal .loading-mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	border-radius: 6px;
}

.modal-backdrop.modal-absolute{
	position: absolute;
	z-index: 940;
}

.modal-backdrop, 
.modal-backdrop.fade.in{
	opacity: 0.7;
	filter: alpha(opacity=70);
	background: #fff;
}

.modal.container {
	width: 940px;
	margin-left: -470px;
}

/* Modal Overflow */

.modal-overflow.modal {
	top: 1%;
}

.modal-overflow.modal.fade {
	top: -100%;
}

.modal-overflow.modal.fade.in {
	top: 1%;
}

.modal-overflow .modal-body {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/* Responsive */

@media (min-width: 1200px) {
	.modal.container {
		width: 1170px;
		margin-left: -585px;
	}
}

/*@media (max-width: 979px) {
	.modal, 
	.modal.container,
	.modal.modal-overflow 	{
		top: 1%;
		right: 1%;
		left: 1%;
		bottom: auto;
		width: auto !important;
		height: auto !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	
	.modal.fade.in, 
	.modal.container.fade.in,
	.modal.modal-overflow.fade.in {
		top: 1%;
		bottom: auto;
	}
	
	.modal-body,
	.modal-overflow .modal-body {
		position: static;
		margin: 0;
		height: auto !important;
		max-height: none !important;
		overflow: visible !important;
	}
	
	.modal-footer,
	.modal-overflow .modal-footer {
		position: static;
	}
}*/

.loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
}

/*
Animate.css - http://daneden.me/animate
Licensed under the ☺ license (http://licence.visualidiot.com/)

Copyright (c) 2012 Dan Eden*/

.animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}
.modal-backdrop fade in{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  /* IE 8 */
	filter: alpha(opacity=50); /* IE 5-7 */
	-moz-opacity: 0.5; /* Netscape */
	-khtml-opacity: 0.5; /* Safari 1.x */
	opacity: 0.5; /* Good browsers */

	background:#fff;
}

/* Custom CSS */

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000000;
}

.modal-backdrop.fade {
	opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.modal {
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 1050;
	width: 406px;
	margin-left: -280px;
	background-color: #ffffff;
	border: 2px solid #336633;

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	outline: none;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.modal.fade {
	-webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, top 0.3s ease-out;
	-o-transition: opacity 0.3s linear, top 0.3s ease-out;
	transition: opacity 0.3s linear, top 0.3s ease-out;
}
.modal-header{
	height:37px;
}
.modal-body{
	padding:30px;
}
.modal-body p{
	font-size:11px;
}
.modal-footer{
	padding: 0 30px 60px;
    text-align: right;
}
/* Button Shinny */
a.btn_shiny{
	background:url(../graphics/btn_shiny.png) repeat-x center bottom;
	font-size:11px;
	color:#000;
	text-decoration:none;
	display:inline-block;
	line-height:17px;
}
a.btn_shiny:before{
	content:'';
	background:url(../graphics/btn_shiny_before.png) no-repeat left bottom;
	display:block;
	width:9px;
	height:20px;
	float:left;
}
a.btn_shiny:after{
	content:'';
	background:url(../graphics/btn_shiny_after.png) no-repeat left bottom;
	display:block;
	width:9px;
	height:20px;
	float:right;
}
a.btn_shiny:hover, a.btn_shiny:active{
	color:#000;
	text-decoration:none;
}
/* END Button Shinny */

/*!
 * END Bootstrap Modal 
*/




/*********** Services Hover Navigation: this should appear above the Services footer link, not below it  ***********/

#footer_links > ul > li > div{
	bottom:50px;
	top:auto !important;
	z-index:999;  
}
#footer_links > ul > li{
	margin-top: -20px;
	padding-top: 20px;
}
#footer_links a:hover{
	background-position: center top !important;
}
/******************** End  *********************/


#poc_sidebar.float-left{
	float: left;
    margin-right: 30px;
    text-align: left;
    width: 270px;
}
#poc_sidebar.float-left .sidebar_shadow{
	float: right;
    left: 15px;
    position: relative;
    width: 15px;
}
#rates_section.float-right{
	margin-left:300px;
	width:684px;
}
#rates_section.float-right .sidebar_shadow{
	width:100%;
	margin-top:30px;
}
#rates_section.float-right .sidebar_shadow img{
	width:100%;
}
#rates_section.float-right #side_rates{
	border-left:1px solid #666666;
}
#rates_section.float-right #side_rates:nth-child(3n+2){
	border-left: medium none;
    padding-right: 50px;
    width: 130px;
}
#rates_section.float-right #side_rates{
	width:220px;
}


.subscript {
	font-size:0.4em; 
	font-weight:normal;
}

.fee_rates_links a {
	color: #3399CC !important;
	font-size: 12px !important; 
	text-decoration:underline !important;
}

.fee_rates_links a:hover {
	color: #3399CC !important;
}



/* ======================== Start of Custom Css by Talha ======================== */


/* === Start of Css for RATES EFFECTIVE table === */

table.wafedrates_table {
	border: 2px #FFF solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	box-shadow: #F2f2f2 0px 0px 0px 6px;
}

table.wafedrates_table tr td {
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	border-top: 0px;
	text-align: left;
	padding: 15px 10px;
}

table.wafedrates_table tr:nth-child(even) td {
	background: #D7E4BC;
}

table.wafedrates_table tr:nth-child(odd) td {
	background: #EAF1DD;
}

table.wafedrates_table tr:first-child td {
	padding: 15px 10px;
	font-size: 14px;
	color: #FFF;
	border-bottom: 1px solid #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C0D691), color-stop(100%, #9BBB59));
	background: -webkit-linear-gradient(top, #C0D691 0%, #9BBB59 100%);
	background: -moz-linear-gradient(top, #C0D691 0%, #9BBB59 100%);
	background: -o-linear-gradient(top, #C0D691 0%, #9BBB59 100%);
	background: -ms-linear-gradient(top, #C0D691 0%, #9BBB59 100%);
	background: linear-gradient(top, #C0D691 0%, #9BBB59 100%);
}

/* === End of Css for RATES EFFECTIVE table === */


/* === Start of Css for Rates Main table === */
.ratestable_main {
	margin-top: 20px;
}

/* === End of Css for Rates Main table === */

/* === Start of Css for Rates Inner table === */

table.ratestable_inner {
	border: 2px #D4D9DF solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	box-shadow: #F2f2f2 0px 0px 0px 6px;
	margin-bottom: 6px;
}

table.ratestable_inner tr td {
	border-right: 1px solid #D4D9DF;
	border-bottom: 1px solid #D4D9DF;
	border-top: 0px;
	text-align: left;
	padding: 15px 10px;
}

table.ratestable_inner tr:nth-child(even) td {
	background: #F5F7F7;
}

table.ratestable_inner tr:nth-child(odd) td {
	background: #EBEFF0;
}

table.ratestable_inner tr:first-child td {
	text-align:center;
	padding: 15px 10px;
	font-size: 14px;
	color: #067A51;
	text-shadow: 1px 1px 0 #FFF;
	border-bottom: 1px solid #D4D9DF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #e9edef));
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -moz-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -ms-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
}


/*custom css start*/
#translate-this{float:right;}
.hidePersonl{dispaly:none;}
.showPersonl{dispaly:block;}
#savingsBRLogo{display:none;}
/*custom css end*/



/* === End of Css for Rates Inner table === */



/* ======================== End of Custom Css by Talha ======================== */



/*======= =======*/

#featured_side_rates{
	display: inline-block;
    width: 540px;
	background:#f2f2f2;
	padding:30px;
}
#featured_side_rates h3{
	display:table-cell;
	width:320px;
	text-align:center;
	font-family:BenchNine,​Helvetica,​Arial,​sans-serif;
	vertical-align:middle;
}
#featured_side_rates h3 .black{
	font-size:32px;
	color:#333333;
	font-family:BenchNine;
}
#featured_side_rates h3 .green{
	font-size:42px;
	color:#007B4F;
	font-family:BenchNine;
}
#featured_side_rates h3 .effective{
	font-size:16px;
}
#featured_side_rates .percentage{
	color: #007B4F; font-family: BenchNine;  font-size: 60px;
	display:table-cell;
	vertical-align:middle;
	width:220px;
	font-size:120px;
	text-align:center;
	line-height:0px;
}
.subFooterNav{
	width:195px;
}
.subFooterNav:last-child{
	width:140px;
}
.subFooterNav h5{
	font-size:13px;
	font-weight:600;
	min-height:25px;
	color:#1e1c1c;
}
.subFooterNav h5 i{
	display:block;
	font-size:11px;
	margin-top:3px;
}
.subFooterNav ul li a{
	padding-left:0px !important;
	padding-right:0px !important;
	color:#000;
}

.headings-center {
	text-align: center;
}

.community_item_logo{
	display: block;
    float: right;
    margin-bottom: 40px;
    margin-left: 50px;
    width: 90px;
}
.community_item_logo img{
	width:70%;
}
.community_item{
	min-height: 130px;
}
.community_item:before, .community_item:after {
	content: "";
	display: table;
	line-height: 0;
}
.community_item:after {
	clear: both;
}

.heading-font-40 {
	font-size: 40px;
}

heading-font-25 {
	font-size: 25px;	
}

.BankrateFCC_boxhead {
    color: #004276;
    float: left;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    margin: 5px 5px 0 75px;	
	margin-left: 75px;
}

.BankrateFCC_calc-container-small {
	border: 1px solid #72bc89 !important;
	min-height: 200px;
}

.menu-557 {
	font-style: italic;
}

.BankrateFCC_calc-green-border{ 
	/*	background-color: #eafff0 !important; */
}

#demo_link {
	font-family: arial;
	font-size: 16px;
	color:#454545;
	font-style:Italic;
	text-decoration:underline;
}

/****************** css for online banking page *********************/

.loginBody {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	padding: 14px 20px;
	border: 2px solid #ccc;
	width: 700px;
	margin: 4px auto;
	overflow: auto;
	background-color: #fff;
	position: relative;
	clear: both;
}

.choiceTop {
	border: 2px solid #ccc;
	text-align: left;
	color: #595858;
	font-family: "Trebuchet MS",Verdana;
	font-size: 150%;
	padding: 4px 8px;
	margin-bottom: 14px;
}


.loginBody.choice #f3b2.form {
	background: #fff url("https://www.online.wafedbank.com/webResources/gifs/newMfa/exclamationPoint.gif") no-repeat 0 30px;
	display: none;
}

.loginBody.choice .form {
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.loginBody .form {
	float: left;
	border: 2px solid #ccc;
	padding: 0;
	overflow: visible;
	width: 66%;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #fff;
	position: relative;
}

.loginBody .helpWrapper {
	float: right;
	width: 30%;
	border-left: 2px solid #ddd;
}

.loginBody.choice #f3b4.form {
	clear: left;
	float: left;
	width: 66%;
	margin-right: 10px;
}

.loginBody.choice #f3b5.form {
	float: left;
	width: 66%;
}

.loginBody .form .dataTitle {
	background-color: #669966;
}


.loginBody .form .dataTitle, .loginBody .help .dataTitle {
	font-family: "Trebuchet MS",Verdana;
	color: #fff;
	font-size: 95%;
	font-weight: bold;
	margin: -1px;
	padding: 5px 8px;
}


div.dataTitle {
	overflow: auto;
	display: block;
	vertical-align: bottom;
	width: auto;
}


.loginBody.choice #f3b2.form p {
	padding-left: 60px;
}

.loginBody.choice .form p {
	min-height: 40px;
}

.loginBody .form p, .loginText {
	font-size: 90%;
	color: #767676;
	line-height: 14px;
	font-weight: normal;
	text-align: left;
	margin: 6px;
}

.loginBody.choice .form .mfaButton {
	background: #939292 url("https://www.online.wafedbank.com/webResources/gifs/mfa/leftButtonCorner.png") no-repeat left top;
	right: 0;
	left: auto;
	width: 140px;
}

.mfaButton {
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

.loginBody.choice .form .controls {
	background: url("https://www.online.wafedbank.com/webResources/gifs/mfa/rightButtonArrow.png") no-repeat 95% 60%;
	display: block;
}

.loginBody.choice .form a {
	color: #fff;
	font-weight: bold;
	font-size: 80%;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 5px 16px 5px 7px;
}

.loginBody .help {
	margin-left: 16px;
	border: 2px solid #ccc;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: #f8f8f8;
}
.helpTop {
	position: relative;
	margin-bottom: 4px;
}
.helpTopCircle {
	position: absolute;
	top: -6px;
	right: 10px;
	height: 36px;
	width: 36px;
	background: url("https://www.online.wafedbank.com/webResources/gifs/mfa/helpCircle.png") no-repeat center center;
}
.loginBody .help .dataTitle {
	background-color: #3399CC;
}

.loginBody .help .helpText {
	padding: 4px;
	overflow: auto;
}


.loginBody .help .helpText h4 {
	color: #3399CC;
}

.loginBody .help .helpText h4 {
	font-family: "Trebuchet MS",Verdana;
	float: none;
	font-weight: bold;
	font-size: 100%;
	line-height: 100%;
	margin: 10px 0 6px 10px;
	padding: 0px;
}


.loginBody .help .helpText ul {
	list-style: none;
	padding-left: 0;
	margin: 2px 0;
	color: #767676;
	font-size: 90%;
	line-height: 14px;
}

.loginBody .help .helpText a.helpLink {
	color: #3399CC;
}

.loginBody .help .helpText li {
	padding-left: 18px;
	background: url("https://www.online.wafedbank.com/webResources/gifs/newMfa/arrowBlue.gif") no-repeat 0 4px;
}

.loginBody .help .helpText a.helpLink {
	text-decoration: none;
	display: block;
	float: right;
	text-align: left;
	color: #3399CC;
	font-size: 90%;
	font-weight: bold;
	margin-top: 16px;
}

.loginBody.choice #f3b4.form .dataTitle {
	background-color: #006633;
}

.loginBody.choice #f3b4.form .mfaButton {
	background: #006633 url("https://www.online.wafedbank.com/webResources/gifs/mfa/leftButtonCorner.png") no-repeat top left;
	width: 80px;
}

.loginBody.choice #f3b5.form {
	float: left;
	width: 66%;
}

.loginBody.choice #f3b5.form .dataTitle {
	background-color: #006633;
}

.loginBody.choice #f3b5.form .mfaButton {
	background: #006633 url("https://www.online.wafedbank.com/webResources/gifs/mfa/leftButtonCorner.png") no-repeat top left;
}

/****************** css for online banking page *********************/


/**************************************css written by azhar**********************/
.smaller {
	color: #999999;
	font-size: 9px;
}


.BankrateFCC_boxhead-container {
    background-color: #ededed;
    border-left: 1px solid #D2DFFF;
    border-right: 1px solid #D2DFFF;
    border-top: 1px solid #D2DFFF;
    overflow: hidden;
    width: 275px;
}

.BankrateFCC_calc-gray {
    background-color: #EAFFF0 !important;
}

.loan_page_effective_heading {
	margin-left: 288px;
    margin-top: -934px;
    text-align: center;
}

.pssbook_savings_rate {
	padding: 20px;
	color: #000000 !important;
}

.mortage_rates_heading {
	color: #000000 !important;
	font-size: 14px !important;
}

/**************************************css written by azhar**********************/




/****************** Enableing Din Fonts for Heading -- IMRAN -- July 19 *********************/
@font-face {
	font-family: 'Din';  /*  font-family: 'Din',Helvetica,Arial,sans-serif;  */
	src: url("fonts/dinr.eot");
	src: url("fonts/dinr.eot?#iefix") format("embedded-opentype"), url("fonts/dinr.woff") format("woff"), url("fonts/dinr.ttf") format("truetype"), url("fonts/dinr.svg#RobotoRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}
#index_content_information li h4,
#account_sidebar a,
#wafed_main h2,
#AccountOptions a,
#poc_main h2,
#poc_sidebar .fee_rates_links a,
.subFooterNav a,
h2{
	font-family: 'Din',Helvetica,Arial,sans-serif;
	font-weight: normal;
	color:#007b50;
}
h2 i{
	font-family: 'Din',Helvetica,Arial,sans-serif;
	font-weight: normal;
}
#poc_sidebar a,
.subFooterNav a{
	font-family:Helvetica,Arial,sans-serif;
}
.subFooterNav h5{
	font-family: Helvetica,Arial,sans-serif;
}
#AccountOptions th{
	font-weight:900;
	text-align: center;
	font-weight: normal;
    font-size: 14px;
}
#AccountOptions .firstCol{
	width:240px;
}
/****************** END -- Enableing Din Fonts for Heading -- IMRAN -- July 19 *********************/


/****************** Changes -- IMRAN -- July 22 *********************/

#services_subNav{
	padding-bottom:125px;
	max-height: 180px;
}
.subFooterNav{
	border-left:1px solid #B5B5B5;
	height:auto;
}
.subFooterNav:last-child{
	width:300px;
}
.subFooterNav:last-child ul{
	float:left;
}
.subFooterNav:last-child ul li{
	width:130px;
	padding-right:20px;
}
#index_content_information li a{
	float:left;
}
.content .fee_rates_links a{
	color:#007B50 !important;
}
#featured_side_rates{
	position: relative;
}
#featured_side_rates .percentage{
	position:relative;
	line-height:1em;
}
#featured_side_rates .percentage > *{
	display:table-cell;
}
#featured_side_rates .percentage .percentage_amount{
	font-size: 110px;
}
#featured_side_rates .percentage .asteric,
#featured_side_rates .percentage .apy{
    vertical-align: top;
	color:#000;
}
#featured_side_rates .percentage .asteric{
	font-size: 25px;
}
#featured_side_rates .percentage .apy{
	font-size: 16px;
    padding-left: 5px;
}
#featured_side_rates{
	width:590px;
	padding: 30px 20px;
}
#AccountOptions .firstCol{
	width: 200px;
	font-weight: normal;
}
#AccountOptions .lastCol{
	width: 190px;
}
.content #AccountOptions td{
	width:80px;
}


/* Formatting Community Involvement just like news page */
.page-node-67 .block-block-1_custom{
	float:left;
	width:250px;
}

.block-system-main_custom {
	width:640px;
	margin-left: 35px;
	float:left;
}
.page-node-67 .block-block-3_custom {
	float:right;
}
.page-node-67 .field-name-field-image_custom{
	float:left;
	padding:5px;
	margin-right:15px;
	margin-bottom:15px;
	border:1px solid #000;
	text-align: center;
    width: 100px;
}

.page-node-67 .block-system-main_custom h2 a {
	font-size:22px;
	font-weight: normal;
	font-family:'BenchNine', Helvetica, Arial, sans-serif;
}

.page-node-67 .block-system-main_custom p, .page-node-67 .block-system-main_custom .field-item {
	font-size:12px;
	color: #666666;
}

.page-node-67 .block-system-main_custom .read_more {
	float:right;
	margin-bottom: 15px;
}

.page-node-67 .block-system-main_custom .content {
	margin-bottom:10px;
}
/****************** END -- Changes -- IMRAN -- July 22 *********************/


/****************** Start -- Changes -- IMRAN -- July 23 (Projectier Task #79 & #81) *********************/
#locationsTitle,
#poc_sidebar h3,
#wafed_main h2{
	font-family: 'Din', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color:#007b50;
}
#poc_sidebar h3{
	font-size:18px;
}
.page-news #block-system-main h2 a{
	font-family: 'Din', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color:#007b50;
	font-size:18px;
}
article > header{
	width:auto;
}
.field-item h1{
	font-family: 'Din', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color:#007b50;
	font-size:18px;
}
.field-items .heading-font-25{
	color:#007b50;	
}
#locationsTitle, #poc_sidebar h3, #wafed_main h2{
	font-size: 22px;
    margin-bottom: 15px;
}

#services_subNav{
	padding-bottom:45px;
	margin-top:-224px;
}
footer{
	margin-top:270px;
}
/****************** END -- Changes -- IMRAN -- July 23 *********************/


/****************** START -- Changes -- IMRAN -- July 26 *********************/
html .BankrateFCC_calc-container-small{
	clear:none;
}
.nivoSlider a {
  border:0;
  display:block;
  background-color: #fff;
  filter:alpha(opacity=0);
  opacity: 0;
  -webkit-opacity:0;
  -moz-opacity:0;
  -khtml-opacity:0;
}
.nomal-font-weight {
 font-weight: normal;
}
ul#personal_nav ul{
	min-width:210px;
}
html .BankrateFCC_calc-container-small{
	min-height:220px;
}
html .BankrateFCC_footer-container{
	width:277px;
}
#AccountOptions td{
	padding:13px;
}
#AccountOptions td ul:last-child{
	margin-bottom:5px;
}
#rates_section.float-right .ratestable_main{
	float:left;
	width:97%;
	margin-top:10px;
}
#services_subNav{
	height:134px;
}
.ie9 #services_subNav{
	/*margin-top:-248px;*/
}
#AccountOptions_main{
	width:635px;
}
#AccountOptions_main > h2{
	font-size:22px;
}
.disclaimer_text{
	font-size:12px;
}
/****************** END -- Changes -- IMRAN -- July 26 *********************/



/* START - Bugs Fixes July 29 */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.cartPS .variations_button .buttons_added{
	margin:11px 10px 11px 0;
}
@media screen and (max-width: 700px) {
	header .grey-bar .fr ul:last-child li{
		display:block;
	}
	header .grey-bar .search input[type="text"]{
		width:230px;
	}
	header .grey-bar .shopping-cart .left{
		width:210px;
	}
	header .grey-bar .search{
		top:6px;
	}
}
.ie9 header .grey-bar .search input[type="text"]{
	position:relative;
	top:-1px;
}
header .grey-bar .search{
	position:relative;
	top:1px;
}
header .grey-bar .search input[type="text"]{
	line-height:1em;
}
@media screen and (max-width: 1025px) and (min-width: 700px) {
.projects-list .carousel_container {
	width:556px;
	margin:0 auto;
}
.projects-list .prev{
	left:90px;
}
.projects-list .next{
	right:90px;
}
}
@media screen and (max-width: 815px) and (min-width: 700px) {
.projects-list .prev{
	left:10px;
}
.projects-list .next{
	right:10px;
}
}
@media screen and (max-width: 300px){
	header .banner{
		height:140px;
	}
	header .banner h1, header .banner h2, header .banner h3{
		top:35px;
	}
}
/* END - Bugs Fixes July 29 */



/* START - Azhar July 30 */
.left-justified {
	margin-left: 280px;
	font-family: DINMediumAlternate;
	font-size: 28px;
}

.padding-100 {
	padding-top: 105px;
	display: inline-block;
}

#brachlocation {
	margin:5px 15px 5px 0px;
	padding-left: 12px;
}
#brachlocation li{
	list-style: disc;
}
/* END - Azhar July 30 */

/* START - Azhar July 31 */

#poc_sidebar .mobile_banking_link { 
	font-family: Arial,sans-serif;
    font-size: 12px;
    font-style: normal !important;
    text-decoration: underline;
	color:#007B50 !important;
}

.branch_24hour_atm {
	margin-left: 372px !important;
    margin-top: 560px !important;
}


/**/
table#AccountOptions.personalCreditCards th.firstCol{
	width:100px;
}
/* END - Azhar July 31 */


#block-weather-system-1 {
    left: 15px;
    margin-left: 2px;
    margin-top: -86px;
    text-align: center;
    top: -126px;
    width: 250px;
}

/*---------------------------------*/
/*----------NEW EDITS Ahmed 13-08-13-----*/
/*---------------------------------*/

#block-views-accounts-block, #block-views-checking-accounts-block , #block-views-certificates-of-deposit-block , #block-views-ira-block , #block-views-mortgage-rates-6-block{
	border: 2px #D4D9DF solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	box-shadow: #F2f2f2 0px 0px 0px 6px;
	margin-top:25px;
	margin-bottom: 6px;	
	text-align:center;
	min-width:940px;
}

#block-views-accounts-block > h2, #block-views-checking-accounts-block > h2, #block-views-certificates-of-deposit-block > h2, #block-views-ira-block > h2, #block-views-mortgage-rates-6-block > h2{
	text-align:center;
	padding: 15px 10px;
	font-size: 18px;
	font-weight:normal;
	color: #067A51;
	text-shadow: 1px 1px 0 #FFF;
	border-bottom: 1px solid #D4D9DF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #e9edef));
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -moz-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -ms-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	margin-bottom:0px;
}

#block-views-accounts-block table tr th , #block-views-checking-accounts-block table tr th , #block-views-certificates-of-deposit-block table tr th , #block-views-ira-block table tr th , #block-views-mortgage-rates-6-block table tr th {
		text-align:center;
		border-bottom:none;
		padding:15px 10px;
		background-color:#F5F7F7;
}


#block-views-accounts-block table tr td , #block-views-checking-accounts-block table tr td , #block-views-certificates-of-deposit-block table tr td , #block-views-ira-block table tr td , #block-views-mortgage-rates-6-block table tr td{
	border-right: 1px solid #D4D9DF;
	border-bottom: 1px solid #D4D9DF;
	border-top: 0px;
	text-align: center;
	padding: 15px 10px;
}

#block-views-accounts-block table tr:nth-child(even) td , #block-views-checking-accounts-block  table tr:nth-child(even) td , #block-views-certificates-of-deposit-block table tr:nth-child(even) td  , #block-views-ira-block  table tr:nth-child(even) td , #block-views-mortgage-rates-6-block table tr:nth-child(even) td  {
	background: #F5F7F7;
}

#block-views-accounts-block table , #block-views-checking-accounts-block table, #block-views-certificates-of-deposit-block table , #block-views-ira-block table ,#block-views-mortgage-rates-6-block table{
	min-width:940px;
}


#block-views-certificates-of-deposit-block.certificate table, #block-views-certificates-of-deposit-block.certificate{
	min-width:664px;
	max-width:664px;
	float:right;
}
.section{
	position:relative;
}

#block-views-certificates-of-deposit-block.certificate{
	margin-top:-261px;
	margin-right:-20px;
	position:relative;
	top:0;
}
.bottom_shadow img {
	width: 684px;
	top:0px;
	position: relative;
}

#block-block-7 h2{
	display:none;
}
.bottom_shadow {
	width:auto;
}

p.cd_content{
	position: relative;
	bottom: 0;
	float: left;
	top: 20px;
	left:290px;
}

#block-block-5 > h2, #block-block-6 > h2{
	display:none;
}

/* center fix */
#bg-wrapper { width: auto; background-image:url(../graphics/new-bg-center.gif) !important; }
#page-wrapper { background-image:url(../graphics/new-bg.gif) !important; }

/* To be deleted when fonts are available */

#index_content_information h4 {
color: #666666;
font-family: 'BenchNine', Helvetica, Arial, sans-serif;
font-size: 30px;
width: 100%;
float: left;
margin-bottom: 30px;
font-weight: normal;
}

/* To be deleted when fonts are available */