@charset "utf-8";
/* CSS Document */

.form_error { 
	display: block;
	color: #ca0000;
	background: url(../img/form_error.png) no-repeat;
	font-style: italic;
	font-size: 0.9em;
	padding-left: 20px;
}

.ajax_indicator{
	left: 5px;
    position: relative;
    top: 12px;
}
.hide {
	display:none
}
.fc-day {		
	background: -moz-linear-gradient(center top , #5D7389 0%, #F4F5F8 100%) repeat scroll 0 0 transparent;
}
.working_hour{
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #F4F5F8 100%) repeat scroll 0 0 transparent;
}