
/** BASE STYLES
 * ----------------------------------------------------------------------------------------------------
 */
 
body,select,input,textarea {
	color: #999; /* set your base font here, to apply evenly */
}


a,a:active,a:visited {
	color: #6891c4;
}

a:hover {
	color: #88bcff;
}


::-moz-selection {
	background: #6891C4;
	color: #fff;
}

::selection {
	background: #6891C4;
	color: #fff;
}

a:link {
	-webkit-tap-highlight-color: #6891C4;
}

/* TYPOGRAPHY & GENERAL STYLING
=======================================================================================================================
 */
/** WRAPPER & BODY STYLES
 * ----------------------------------------------------------------------------------------------------
 */
body {
	background: url(images/body_bg.png) repeat #f7f8f9;
}

#main {
	background: url(images/main_bg.jpg) repeat-x top left;
}


/** HEADINGS
 * ----------------------------------------------------------------------------------------------------
 */
h1,h2,h3,h4,h5,h6 {
    color: #cacaca;
}

h1 {
	text-shadow: 0px -1px 0px #000000;
}

/** Styled heading class **/
.heading_style1 {
	background-color: #292B2E;
}

.heading_style1 span {
	background-color: #393D40;
}

/** BORDERS
 * ----------------------------------------------------------------------------------------------------
 */
.border_bottom_1 {
	background: url(images/border_bottom_1.gif) bottom left repeat-x;
}

.border_bottom_2 {
	background: url(images/border_bottom_2.gif) bottom left repeat-x;
}

.border_bottom_3 {
	background: url(images/border_bottom_3.gif) bottom left repeat-x;
}

/** TYPOGRAPHY
 * ----------------------------------------------------------------------------------------------------
 */

hr {
	border-top: 1px solid #1b1b1b;
	border-bottom: 1px solid #464646;
}

blockquote {
	background: url(images/blockquote_bg.png) no-repeat left top;
}

cite {
	color: #7f7f7f;
}

pre {
	background: #292B2E;
}

/* END -TYPOGRAPHY & GENERAL STYLING
=======================================================================================================================
 */
/* FORMS
=======================================================================================================================
 */
fieldset {
	border-top: 1px solid #1f1f1f;
}

fieldset legend {
	color: #E0E0E0;
}


form label {
	color: #CACACA;
}

form p small {
	color: #777;
}

form input,form select,form textarea,form .wysiwyg {
	color: #999999;
	background: #313131;
	border: 1px solid #1c1d20;
}

/** Error styles
 * ----------------------------------------------------------------------------------------------------
 */
input.invalid,textarea.invalid {
	border: 1px solid #ffb7b7;

	-webkit-box-shadow: 0px 0px 3px #ff0000;
	-moz-box-shadow: 0px 0px 3px #ff0000;
	box-shadow: 0px 0px 3px #ff0000;
}

/** Focus styles
 * ----------------------------------------------------------------------------------------------------
 */
form input:focus,form select:focus,form textarea:focus {
	color: #fff;
	border: 1px solid #4D6A90;

	-webkit-box-shadow: #163aa1 0px 0px 6px;
	-moz-box-shadow: #163aa1 0px 0px 6px;
	box-shadow: #163aa1 0px 0px 6px;
}

/** Validator
 * ----------------------------------------------------------------------------------------------------
 */
.validator {
	/* supply height to ensure consistent positioning for every browser */
	color: #ffffff;
	background: #000;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292B2D), color-stop(100%, #000000));
	background: -webkit-linear-gradient(top, #292B2D 0%,#000000 100%);
	background: -moz-linear-gradient(top, #292B2D 0%,#000000 100%);
	background: -o-linear-gradient(top, #292B2D 0%,#000000 100%);
	background: -ms-linear-gradient(top, #292B2D 0%,#000000 100%);
	background: linear-gradient(top, #292B2D 0%,#000000 100%); /* IE10+ */

	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.validator .arrow {
	border-bottom: 7px solid #292B2D;
}


/** Buttons
 * ----------------------------------------------------------------------------------------------------
 */
.button {
	background: #fff url(images/button_bg.png) repeat-x top left;
	border: 1px solid #000;

	-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}



/* Button Colors */
.light {
	color: #fff;
	background-color: #383C3F;
}

.dark {
	color: #fff;
	background-color: #121212;
}

.blue {
	color: #fff;
	background-color: #5C89BD;
}

.green {
	color: #fff;
	background-color: #70B12A;
}

.red {
	color: #fff;
	background-color: #ad0e0e;
}



/* Buttons in header */
.box .header .button {
	-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

/* END -FORMS
=======================================================================================================================
 */
/* GLOBAL ELEMENTS -HEADER, FOOTER, NAV, USER MENU
=======================================================================================================================
 */
/** HEADER
 * ----------------------------------------------------------------------------------------------------
 */
header {
	background: url(images/header_bg.jpg) repeat-x bottom left;
}

/** LOGO
 * ----------------------------------------------------------------------------------------------------
 */
.logo {
	background: url(images/logo.png) no-repeat top left;
}

/** FOOTER
 * ----------------------------------------------------------------------------------------------------
 */
footer {
	color: #c8cfd9;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #161616), color-stop(30%, #1c1b1c));
	background: -webkit-linear-gradient(top, #161616 1%,#1c1b1c 30px);
	background: -moz-linear-gradient(top, #161616 1%,#1c1b1c 30px);
	background: -o-linear-gradient(top, #161616 1%,#1c1b1c 30px);
	background: -ms-linear-gradient(top, #161616 1%,#1c1b1c 30px);
	background: linear-gradient(top, #161616 1%,#1c1b1c 30px); /* W3C */
}

.no-cssgradients footer {
	background: url(images/footer_bg.gif) repeat-x #1c1b1c;
}

footer a,footer a:visited,footer a:active {
	color: #fff;
}

footer a:hover {
	color: #fff;
}

/** NAVIGATION
 * ----------------------------------------------------------------------------------------------------
 */
.sf-menu a {
	color: #aaaaaa;
}

.sf-menu a:hover {
	color: #88BCFF;
	text-shadow: 0px -1px 0px rgba(0,0,0,1);
}

.sf-menu a.current {
	color: #88bcff;
	background: url(images/user_dropdown_bg.jpg) repeat-x bottom;
}

/** TOGGLE SWTICH FOR MAIN MENU
 * ----------------------------------------------------------------------------------------------------
 */
.nav_toggle {
	background-image: url(images/nav_toggle.png);
}

/** USER MENU
 * ----------------------------------------------------------------------------------------------------
 */

/* ===[ Menu Button ]=== */
#user_menu .menu_btn {
	background: url(images/user_dropdown_bg.jpg) repeat-x bottom;
}

#user_menu .menu_btn .arrow {
	background: url(images/menu_arrow.png) no-repeat 0px 0px;
}

/* ===[ Menu ]=== */
#user_menu .menu {
	border: 3px solid #1c1c1e;
	background-color: #313437;

	-webkit-box-shadow: 0px 0px 5px #000000;
	-moz-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;

}


/* ===[ Search field in user menu ]=== */
#user_menu .menu .search_container {
	border-bottom: 1px solid #1c1c1e;
	background: #272a2c; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36383b), color-stop(100%, #272a2c));

	background: -webkit-linear-gradient(top, #36383b 0%,#272a2c 100%);
	background: -moz-linear-gradient(top, #36383b 0%,#272a2c 100%);
	background: -o-linear-gradient(top, #36383b 0%,#272a2c 100%);
	background: -ms-linear-gradient(top, #36383b 0%,#272a2c 100%);
	background: linear-gradient(top, #36383b 0%,#272a2c 100%); /* W3C */
}

#user_menu .menu .search {
	background-color: #202223;

	-webkit-box-shadow: inset 1px 1px 0px #000;
	-moz-box-shadow: inset 1px 1px 0px #000;
	box-shadow: inset 1px 1px 0px #000;
}

.no-boxshadow #user_menu .menu .search {
	border: 1px solid #e8ebee;
}

#user_menu .menu .search input[type="text"] {
	color: #646f78;
	background: #202223;

}

#user_menu .menu .search .search_icon {
	background: url(images/search.png);
}


/* ===[ Logout Button ]=== */
.menu .logout {
	-webkit-box-shadow: 0 1px 0px #4D5156;
	-moz-box-shadow: 0 1px 0px #4D5156;
	box-shadow: 0 1px 0px #4D5156;
}

/* ===[ Menu tabs ]=== */
.menu .tabs {
	border-top: 1px solid #36393c;
	border-bottom: 1px solid #212224;
	background: #272a2c; /* old browsers */
}


.menu .tabs li a.settings span {
	background: url(images/settings_user_menu.png) no-repeat;
}

.menu .tabs li a.emails span {
	background: url(images/email_user_menu.png) no-repeat;
}

.menu .tabs li a.themes span {
	background: url(images/themes_user_menu.png) no-repeat;
}

.menu .tabs li a.current {
	border: 1px solid #1c1c1e;
	background-color: #313437;
}

.menu div ul li a {
	color: #999;
	border-bottom: 1px solid #36393c;
	border-top: 1px solid #28292c;
	background-color: #313437; /* To fix mozilla animation bug */
}

.menu div ul li a:active {
	border-top: 1px solid #1c1c1e;
	border-bottom: 1px solid #36393c;
}

.menu div ul li a:hover {
	color: #c0c0c0;
	background-color: #2c2f32;
}

.menu div ul li a small {
	color: #678bb9;
}

/* ===[ Settings List ]=== */
.menu .settings ul li a {
	color: #999999;
	border-bottom: 1px solid #28292c;
	border-top: 1px solid #36393c;
	background-color: #313437; /* To fix mozilla animation bug */
}

.menu .settings ul li a span.icon {
	background: url(images/settings_icons.png);
}

/* ===[ Emails ]=== */
.menu .emails ul li a:hover small {
	color: #678bb9;
}

.menu .emails ul li a span.icon {
	background: url(images/email_icons.png);
}

/* ===[ Read Email ]=== */
.menu .emails ul li a.read {
	color: #606060;
}


.menu .footer {
	border-top: 1px solid #212224;
	background: #212224; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #212224), color-stop(100%, #1e2022));

	background: -webkit-linear-gradient(top, #212224 0%,#1e2022 100%);
	background: -moz-linear-gradient(top, #212224 0%,#1e2022 100%);
	background: -o-linear-gradient(top, #212224 0%,#1e2022 100%);
	background: -ms-linear-gradient(top, #212224 0%,#1e2022 100%);
	background: linear-gradient(top, #212224 0%,#1e2022 100%); /* W3C */
}

/* END -GLOBAL ELEMENTS -HEADER, FOOTER, NAV, USER MENU
=======================================================================================================================
 */
/* BREADCRUMBS
=======================================================================================================================

 */
.breadcrumbs {
	border-bottom: 1px solid #1c1d20;
	color: #848484;
	text-shadow: 0px -1px 1px #000;

	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383c3f), color-stop(100%, #292b2d));
	background: -webkit-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -moz-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -o-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -ms-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: linear-gradient(top, #383c3f 0%,#292b2d 100%); /* W3C */
}

.no-cssgradients .breadcrumbs {
	background: url(images/breadcrumbs_bg.gif) repeat-x bottom left #383c3f; /* old browsers */
}

.breadcrumbs li {
	background: url(images/chevron.png) no-repeat right center;
}

.breadcrumbs li:first-child a {
	background: url(images/home.png) no-repeat left center;
}

/* END -BREADCRUMBS
=======================================================================================================================
 */



/* BOX STYLES
=======================================================================================================================
 */
.box {
	border: 1px solid #242628;

	-webkit-box-shadow: 0px 0px 5px #1e2022;
	-moz-box-shadow: 0px 0px 5px #1e2022;
	box-shadow: 0px 0px 5px #1e2022;

	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(90%,#34373a ), color-stop(100%,  #393d40));
	background: -webkit-linear-gradient(bottom, #34373a 0%,#393d40 40px);
	background: -moz-linear-gradient(bottom, #34373a 0%,#393d40 40px);
	background: -o-linear-gradient(bottom, #34373a 0%,#393d40 40px);
	background: -ms-linear-gradient(bottom, #34373a 0%,#393d40 40px);
	background: linear-gradient(bottom, #34373a 0%,#393d40 40px); /* W3C */
}

.no-cssgradients .box {
	background: url(images/box_bg.png) repeat-x bottom #393d40;
}

.with_sidebar {
	background: url(images/vertical_nav_bg.gif) repeat-y left top;
}

.box .header {
	border-bottom: 1px solid #1c1d20;

	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383c3f), color-stop(100%, #292b2d));
	background: -webkit-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -moz-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -o-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -ms-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: linear-gradient(top, #383c3f 0%,#292b2d 100%); /* W3C */

}

.no-cssgradients .box .header {
	background: url(images/box_header_bg.png) repeat-x bottom left;
}

.box .footer {
	border-bottom: 1px solid #1B2022;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b2022), color-stop(30%, #282b2f));
	background: -webkit-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: -moz-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: -o-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: -ms-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: linear-gradient(top, #1b2022 0%,#282b2f 30px); /* W3C */
}

.no-cssgradients .box .footer {
	background: url(images/tabs_bg.gif) repeat-x #282b2f;
}

.box .header h2 {
	color: #95afcf;
}

/** HEADER CONTROLS
 * ----------------------------------------------------------------------------------------------------
 */
/* ===[ Seperator for header controls ]=== */
.box .header .seperator {
	background: url(images/header_seperator_bg.png) repeat-y;
}

/* ===[ Expose Control ]=== */
.box .header .expose {
	color: #939393;
}


/* Overrides to superfish main menu
 */
.menu_header .sf-menu a {
	color: #888b8f;
	border: 1px solid #393d40;
	background: url(images/header_menu_bg.png) repeat-x bottom left #494e52;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494e52), color-stop(100%, #303435));
	background: -webkit-linear-gradient(top, #494e52 0%,#303435 100%);
	background: -moz-linear-gradient(top, #494e52 0%,#303435 100%);
	background: -o-linear-gradient(top, #494e52 0%,#303435 100%);
	background: -ms-linear-gradient(top, #494e52 0%,#303435 100%);
	background: linear-gradient(top, #494e52 0%,#303435 100%); /* W3C */
}


/* ===[ Search field in box header ]=== */
.box .header .search {
	background-color: #252729;

	-webkit-box-shadow: inset 0px 1px 2px #1a1c1d;
	-moz-box-shadow: inset 0px 1px 2px #1a1c1d;
	box-shadow: inset 0px 1px 2px #1a1c1d;
}

.ie .box .header .search {
	border: 1px solid #212325;
}

.box .header .search input[type="text"] {
	color: #646f78;
}

.box .header .search .search_icon {
	background: url(images/search.png) top left;
}

/* ===[ Expand/Collapse box controls ]=== */
.box .header .toggle_visibility {
	background-image: url(images/arrows_med.png);
}


/* ===[ Sub Navigation in box header ]=== */
.box .header .sub_nav {
	border: 1px solid #414448;

	-webkit-box-shadow: 0px -1px 1px #282a2c;
	-moz-box-shadow: 0px -1px 1px #282a2c;
	box-shadow: 0px -1px 1px #282a2c;
}

.box .header .sub_nav a {
	color: #808080;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383c3f), color-stop(100%, #292c2d));
	background: -webkit-linear-gradient(top, #383c3f 0%,#292c2d 100%);
	background: -moz-linear-gradient(top, #383c3f 0%,#292c2d 100%);
	background: -o-linear-gradient(top, #383c3f 0%,#292c2d 100%);
	background: -ms-linear-gradient(top, #383c3f 0%,#292c2d 100%);
	background: linear-gradient(top, #383c3f 0%,#292c2d 100%); /* W3C */
    border-right: 1px solid #282a2c;
	border-left: 1px solid #414448;
}

.no-cssgradients.box .header .sub_nav a {
	background: url(images/sub_nav_bg.png) repeat-x bottom left #383c3f;
}

.box .header .sub_nav a:hover {
	color: #83b4f3;
}

.box .header .sub_nav a.current {
	color: #83b4f3;
    background-color: #1e1e20; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e1e20), color-stop(100%, #282a2c));

	background: -webkit-linear-gradient(top, #1e1e20 0%,#282a2c 100%);
	background: -moz-linear-gradient(top, #1e1e20 0%,#282a2c 100%);
	background: -o-linear-gradient(top, #1e1e20 0%,#282a2c 100%);
	background: -ms-linear-gradient(top, #1e1e20 0%,#282a2c 100%);
	background: linear-gradient(top, #1e1e20 0%,#282a2c 100%); /* W3C */
}


/* ===[ Prev/Next buttons for header ]=== */

ul.prev_next {
	border: 1px solid #393d40;

	-webkit-box-shadow: -1px 0px 0px #282a2c;
	-moz-box-shadow: -1px 0px 0px #282a2c;
	box-shadow: -1px 0px 0px #282a2c;
}

ul.prev_next li {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #393d40), color-stop(100%, #292d2e));
	background: -webkit-linear-gradient(top, #393d40 0%,#292d2e 100%);
	background: -moz-linear-gradient(top, #393d40 0%,#292d2e 100%);
	background: -o-linear-gradient(top, #393d40 0%,#292d2e 100%);
	background: -ms-linear-gradient(top, #393d40 0%,#292d2e 100%);
	background: linear-gradient(top, #393d40 0%,#292d2e 100%); /* W3C */
}

ul.prev_next li a span {
	background: url(images/prev_next_bg.png) no-repeat top left;
}

ul.prev_next li.prev {
	border-right: 1px solid #282a2c;

}

ul.prev_next li.next {
	border-left: 1px solid #414448;
}


/* END -BOX STYLES
=======================================================================================================================
 */
/* PROGRESS BARS
=======================================================================================================================
 */
.progress_bar {
	-webkit-box-shadow: 0px 1px 1px rgba(255,255,255, 0.1);
	-moz-box-shadow: 0px 1px 1px rgba(255,255,255, 0.1);
	box-shadow: 0px 1px 1px rgba(255,255,255, 0.1);

	background: #323232; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(100%, #323232));
	background: -webkit-linear-gradient(top, #222222 0%,#323232 100%);
	background: -moz-linear-gradient(top, #222222 0%,#323232 100%);
	background: -o-linear-gradient(top, #222222 0%,#323232 100%);
	background: -ms-linear-gradient(top, #222222 0%,#323232 100%);
	background: linear-gradient(top, #222222 0%,#323232 100%); /* W3C */
}

.no-cssgradients .progress_bar {
	background: url(images/progress_bar_container_bg.gif) repeat-x top #323232;
}

.progress_bar span {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
	color: #000;
	color: rgba(0, 0, 0, 0.7);
	border: 1px solid #000;
}

.progress_bar.green span {
	background: url(images/progress_bar_bg.png) top repeat-x #5ac841; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86e360), color-stop(100%, #5ac841));
	background: -webkit-linear-gradient(top, #86e360 0%,#5ac841 100%);
	background: -moz-linear-gradient(top, #86e360 0%,#5ac841 100%);
	background: -o-linear-gradient(top, #86e360 0%,#5ac841 100%);
	background: -ms-linear-gradient(top, #86e360 0%,#5ac841 100%);
	background: linear-gradient(top, #86e360 0%,#5ac841 100%); /* W3C */
}

.progress_bar.blue span {
	background: url(images/progress_bar_bg.png) top repeat-x #628ec0; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90c6df), color-stop(100%, #628ec0));
	background: -webkit-linear-gradient(top, #90c6df 0%,#628ec0 100%);
	background: -moz-linear-gradient(top, #90c6df 0%,#628ec0 100%);
	background: -o-linear-gradient(top, #90c6df 0%,#628ec0 100%);
	background: -ms-linear-gradient(top, #90c6df 0%,#628ec0 100%);
	background: linear-gradient(top, #90c6df 0%,#628ec0 100%); /* W3C */
}

.progress_bar.yellow span {
	background: url(images/progress_bar_bg.png) top repeat-x #eae763; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f392), color-stop(100%, #eae763));
	background: -webkit-linear-gradient(top, #f5f392 0%,#eae763 100%);
	background: -moz-linear-gradient(top, #f5f392 0%,#eae763 100%);
	background: -o-linear-gradient(top, #f5f392 0%,#eae763 100%);
	background: -ms-linear-gradient(top, #f5f392 0%,#eae763 100%);
	background: linear-gradient(top, #f5f392 0%,#eae763 100%); /* W3C */
}

.progress_bar.red span {
	background: url(images/progress_bar_bg.png) top repeat-x #cd6060; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e68f8f), color-stop(100%, #cd6060));
	background: -webkit-linear-gradient(top, #e68f8f 0%,#cd6060 100%);
	background: -moz-linear-gradient(top, #e68f8f 0%,#cd6060 100%);
	background: -o-linear-gradient(top, #e68f8f 0%,#cd6060 100%);
	background: -ms-linear-gradient(top, #e68f8f 0%,#cd6060 100%);
	background: linear-gradient(top, #e68f8f 0%,#cd6060 100%); /* W3C */
}

/* END -PROGRESS BARS
=======================================================================================================================
 */
/* NOTIFICATION BOXES
=======================================================================================================================
 */
div.info,div.error,div.success {
	text-shadow: 0 2px 1px #FFFFFF;

	-webkit-box-shadow: 0 -2px 1px #000;
	-moz-box-shadow: 0 -2px 1px #000;
	box-shadow: 0 -2px 1px #000;
	background: url(images/notification_bg.png) top repeat-x;
}

.close_notification {
	background: url(../../images/close_notification.png) no-repeat top left;
}


div.info {
	border: 1px solid #000;
	color: #5d5500;
	background-color: #FBFBE0; /* old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbe0), color-stop(100%, #f8f7c4));

	background: -webkit-linear-gradient(top, #fbfbe0 0%,#f8f7c4 100%);
	background: -moz-linear-gradient(top, #fbfbe0 0%,#f8f7c4 100%);
	background: -o-linear-gradient(top, #fbfbe0 0%,#f8f7c4 100%);
	background: -ms-linear-gradient(top, #fbfbe0 0%,#f8f7c4 100%);
	background: linear-gradient(top, #fbfbe0 0%,#f8f7c4 100%); /* W3C */
}

div.error {
	border: 1px solid #000;
	color: #b93c1b;
	background: #fbe6e0; /* Old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbe6e0), color-stop(100%, #f8cfc4));

	background: -webkit-linear-gradient(top, #fbe6e0 0%,#f8cfc4 100%);
	background: -moz-linear-gradient(top, #fbe6e0 0%,#f8cfc4 100%);
	background: -o-linear-gradient(top, #fbe6e0 0%,#f8cfc4 100%);
	background: -ms-linear-gradient(top, #fbe6e0 0%,#f8cfc4 100%);
	background: linear-gradient(top, #fbe6e0 0%,#f8cfc4 100%); /* W3C */
}

div.success {
	border: 1px solid #000;
	color: #365d00;
	background: #daf4d4; /* Old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #daf4d4), color-stop(100%, #cae4c4));

	background: -webkit-linear-gradient(top, #daf4d4 0%,#cae4c4 100%);
	background: -moz-linear-gradient(top, #daf4d4 0%,#cae4c4 100%);
	background: -o-linear-gradient(top, #daf4d4 0%,#cae4c4 100%);
	background: -ms-linear-gradient(top, #daf4d4 0%,#cae4c4 100%);
	background: linear-gradient(top, #daf4d4 0%,#cae4c4 100%); /* W3C */
}

/* END -NOTIFICATION BOXES
=======================================================================================================================
 */
/* TAGS
=======================================================================================================================
 */

.tags li a,.tag {
	color: #fff;
	text-shadow: 1px 1px 0px rgba(83, 83, 83, 0.3);

	-webkit-box-shadow: 0px -1px 1px #000;
	-moz-box-shadow: 0px -1px 1px #000;
	box-shadow: 0px -1px 1px #000;
	background: url(images/progress_bar_bg.png) top repeat-x;
}

.tags li a.green,.tag.green {
	background-color: #5AC841; /* old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86E360), color-stop(100%, #5AC841));

	background: -webkit-linear-gradient(top, #86E360 0%, #5AC841 100%);
	background: -moz-linear-gradient(top, #86E360 0%, #5AC841 100%);
	background: -o-linear-gradient(top, #86E360 0%, #5AC841 100%);
	background: -ms-linear-gradient(top, #86E360 0%, #5AC841 100%);
	background: linear-gradient(top, #86E360 0%, #5AC841 100%);
}

.tags li a.blue,.tag.blue {
	background-color: #628EC0; /* old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90C6DF), color-stop(100%, #628EC0));

	background: -webkit-linear-gradient(top, #90C6DF 0%, #628EC0 100%);
	background: -moz-linear-gradient(top, #90C6DF 0%, #628EC0 100%);
	background: -o-linear-gradient(top, #90C6DF 0%, #628EC0 100%);
	background: -ms-linear-gradient(top, #90C6DF 0%, #628EC0 100%);
	background: linear-gradient(top, #90C6DF 0%, #628EC0 100%);
}

.tags li a.yellow,.tag.yellow {
	background-color: #9d861c; /* old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfcd0d), color-stop(100%, #9d861c));

	background: -webkit-linear-gradient(top, #dfcd0d 0%, #9d861c 100%);
	background: -moz-linear-gradient(top, #dfcd0d 0%, #9d861c 100%);
	background: -o-linear-gradient(top, #dfcd0d 0%, #9d861c 100%);
	background: -ms-linear-gradient(top, #dfcd0d 0%, #9d861c 100%);
	background: linear-gradient(top, #dfcd0d 0%, #9d861c 100%);
}

.tags li a.red,.tag.red {
	background-color: #CD6060; /* old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E68F8F), color-stop(100%, #CD6060));

	background: -webkit-linear-gradient(top, #E68F8F 0%, #CD6060 100%);
	background: -moz-linear-gradient(top, #E68F8F 0%, #CD6060 100%);
	background: -o-linear-gradient(top, #E68F8F 0%, #CD6060 100%);
	background: -ms-linear-gradient(top, #E68F8F 0%, #CD6060 100%);
	background: linear-gradient(top, #E68F8F 0%, #CD6060 100%);
}

/* END -TAGS
=======================================================================================================================
 */				
 
 
/* NAVIGATION STYLES
=======================================================================================================================
 */
/** VERTICAL NAVIGATION
 * ----------------------------------------------------------------------------------------------------
 */

.vertical_nav li a {
	color: #bbbbbb;
	text-shadow: 0px -1px 0px #000;
}

.vertical_nav li .current {
	background: url(images/vertical_nav_indicator.png) no-repeat right top #333639;
	color: #88BCFF;
}

/** TABS
 * ----------------------------------------------------------------------------------------------------
 */
.box .tabs {
	border-bottom: 1px solid #1c1d20;
	background: #1b2022; /* Old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b2022), color-stop(30%, #282b2f));

	background: -webkit-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: -moz-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: -o-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: -ms-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: linear-gradient(top, #1b2022 0%,#282b2f 30px); /* W3C */
}

.no-cssgradients .box .tabs {
	background: url(images/tabs_bg.gif) repeat-x #282b2f;
}


.box .tabs li a {
	color: #BBBBBB;
}

.box .tabs li a.current {
	background: #393d40;
	color: #88BCFF;
	border: 1px solid #1c1d20;
}

/** ACCORDION
 * ----------------------------------------------------------------------------------------------------
 */
.accordion {
	border: 1px solid #242628;
}

/* ===[ accordion header ]=== */
.accordion h2 {
	border-top: 1px solid #42464b;
	border-bottom: 1px solid #1C1D20;
	color: #BBBBBB;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383c3f), color-stop(100%, #292b2d));
	background: -webkit-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -moz-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -o-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -ms-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: linear-gradient(top, #383c3f 0%,#292b2d 100%); /* W3C */
}

.no-cssgradients .accordion h2 {
	background: url(images/accordion_header_bg.gif) repeat-x bottom #292b2d;
}

.accordion h2:hover {
	color: #e0e0e0;
}

/* ===[ currently active header ]=== */
.accordion h2.current {
	color: #88BCFF;
}

/* ===[ accordion header arrows ]=== */
.accordion h2 .arrow {
	background: url(images/arrows_med.png) no-repeat -28px 0px;
}

/* ===[ Accordion pane ]=== */
.accordion div.pane {
	background: #34373A;
}

/* END -NAVIGATION STYLES
=======================================================================================================================
 */
/* WIZARD
=======================================================================================================================
 */

#steps {
	color: #666;
	border-bottom: 1px solid #181b1f;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b2022), color-stop(30%, #282b2f));
	background: -webkit-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: -moz-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: -o-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: -ms-linear-gradient(top, #1b2022 0%,#282b2f 30px);
	background: linear-gradient(top, #1b2022 0%,#282b2f 30px); /* W3C */
    text-shadow: 0px -1px 1px #000;
}

.no-cssgradients #steps {
	background: url(images/tabs_bg.gif) repeat-x #282b2f;
}


#steps li.current {
	color: #88BCFF;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292b2d), color-stop(50%, #393d40));
	background: -webkit-linear-gradient(top, #292b2d 0%,#393d40 50%);
	background: -moz-linear-gradient(top, #292b2d 0%,#393d40 50%);
	background: -o-linear-gradient(top, #292b2d 0%,#393d40 50%);
	background: -ms-linear-gradient(top, #292b2d 0%,#393d40 50%);
	background: linear-gradient(top, #292b2d 0%,#393d40 50%); /* W3C */
    text-shadow: #000 0px -2px 1px;
}

.no-cssgradients li.current #steps li.current{
	background: url(images/wizard_active_bg.gif) repeat-x top #393d40; /* Old browsers */
}


/* END -WIZARD
=======================================================================================================================
 */
/* SCROLLABLE CAROUSEL
=======================================================================================================================
 */
.scrollable {
	background: url(images/scroller_bg.png) no-repeat center bottom;
}

.scrollable .thumb {
	color: #808080;
}

.scrollable .thumb:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #404040));
	background: -webkit-linear-gradient(top, #333333 0%,#404040 100%);
	background: -moz-linear-gradient(top, #333333 0%,#404040 100%);
	background: -o-linear-gradient(top, #333333 0%,#404040 100%);
	background: -ms-linear-gradient(top, #333333 0%,#404040 100%);
	background: linear-gradient(top, #333333 0%,#404040 100%); /* W3C */
    color: #adadad;

	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.no-cssgradients .scrollable .thumb:hover {
	background: url(images/thumb_bg.gif) repeat-x bottom left #333333;
}

/** CAROUSEL BUTTONS
 * ----------------------------------------------------------------------------------------------------
 */
.jcarousel-next-horizontal {
	background: transparent url(images/carousel_arrows.png) no-repeat -22px top;
}

.jcarousel-direction-rtl .jcarousel-next-horizontal {
	background-image: url(images/carousel_arrows.png);

}


.jcarousel-prev-horizontal {
	background: transparent url(images/carousel_arrows.png) no-repeat -22px bottom;
}

.jcarousel-direction-rtl .jcarousel-prev-horizontal {
	background-image: url(images/carousel_arrows.png);
}


/* END -SCROLLABLE CAROUSEL
=======================================================================================================================
 */
/* TABLES
=======================================================================================================================
 */
.datagrid {
	border: 1px solid #1C1D20;
	color: #E0E0E0;
	background: #333639;
}

.datagrid thead tr th {
	text-shadow: 0px -1px 0 #000;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373a3e), color-stop(100%, #292b2e));
	background: -webkit-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -moz-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -o-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -ms-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: linear-gradient(top, #373a3e 0%,#292b2e 100%); /* W3C */
	border-bottom: 1px solid #181b1f;
	color: #6891C4;
}

.no-cssgradients .datagrid thead tr th {
	background: url(images/table_header_bg.gif) repeat-x top #292b2e;
}

.datagrid td {
	border-bottom: 1px solid #181B1F;

	-webkit-box-shadow: 0 1px 0 #42464B;
	-moz-box-shadow: 0 1px 0 #42464B;
	box-shadow: 0 1px 0 #42464B;
	color: #E0E0E0;
}


/** Selected items and dropdown
 * ----------------------------------------------------------------------------------------------------
 */
tr.grid_dropdown,tr.active {
	text-shadow: 0px -1px 0 #000;
}

tr.grid_dropdown td {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292b2e), color-stop(10%, #373a3e));
	background: -webkit-linear-gradient(top, #292b2e 0%, #373a3e 10%);
	background: -moz-linear-gradient(top, #292b2e 0%, #373a3e 10%);
	background: -o-linear-gradient(top, #292b2e 0%, #373a3e 10%);
	background: -ms-linear-gradient(top, #292b2e 0%, #373a3e 10%);
	background: linear-gradient(top, #292b2e 0%, #373a3e 10%); /* W3C */
}

.no-cssgradients tr.grid_dropdown td {
	background: url(images/pagination_bg.gif) repeat-x top left #292b2e;
}

tr.active td {
	background-color: #373A3E;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/** Hover styles for grid items
 * ----------------------------------------------------------------------------------------------------
 */
.datagrid tr:hover {
	background-color: #4d5257 !important;
}

/** Minimize/Mazimize controls
 * ----------------------------------------------------------------------------------------------------
 */

.datagrid .toggle span {
	background-image: url(images/grid_toggle.png);
}

/* END -TABLES
=======================================================================================================================
 */


/* PAGINATION STYLES
=======================================================================================================================
 */
/** NUMBERED PAGINATION
 * ----------------------------------------------------------------------------------------------------
 */
.pagination {
	text-shadow: 0px -1px 0px #000;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b2022), color-stop(10%, #282b2f));
	background: -webkit-linear-gradient(top, #1b2022 0%,#282b2f 10px);
	background: -moz-linear-gradient(top, #1b2022 0%,#282b2f 10px);
	background: -o-linear-gradient(top, #1b2022 0%,#282b2f 10px);
	background: -ms-linear-gradient(top, #1b2022 0%,#282b2f 10px);
	background: linear-gradient(top, #1b2022 0%,#282b2f 10px); /* W3C */
}

.no-cssgradients .pagination {
	background: url(images/pagination_bg.gif) repeat-x top left #292b2e;
}

.pagination li a {
	color: #949595;
}

.pagination li.active a {
	color: #6891C4; /*active pagination anchor color*/
background: url(images/pagination_active.png) no-repeat top; /*active pagination pointer*/
}

/** DOT PAGINATION
 * ----------------------------------------------------------------------------------------------------
 */

.dot_pagination li a {
	background: url(images/dot_pagination_bg.png) no-repeat top left;
}

/* END -PAGINATION STYLES
=======================================================================================================================
 */
/* iPHONE STYLE TOGGLE BUTTONS
=======================================================================================================================
 */

.itoggle {
	background-image: url(images/itoggle.png);
}

/* END-iPHONE STYLE TOGGLE BUTTONS
=======================================================================================================================
 */
 
 
 
/* TOOLTIPS
=======================================================================================================================
 */
.tooltip,.tooltip.bottom {
	color: #fff;
	background-color: #000;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #292B2D), color-stop(100%, #000000));
	background: -webkit-linear-gradient(top, #292B2D 0%,#000000 100%);
	background: -moz-linear-gradient(top, #292B2D 0%,#000000 100%);
	background: -o-linear-gradient(top, #292B2D 0%,#000000 100%);
	background: -ms-linear-gradient(top, #292B2D 0%,#000000 100%);
	background: linear-gradient(top, #292B2D 0%,#000000 100%);

	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);

}

.tooltip .arrow,.tooltip.bottom .arrow {
	border-top: 9px solid #000;
}

.tooltip.bottom .arrow {
	border-bottom: 9px solid #292B2D;
}

/* END -TOOLTIPS
=======================================================================================================================
 */

/* RANGE INPUT
=======================================================================================================================
 */
/* ===[ slider root element ]=== */
.slider {
	background: #E3E5E9;
	border: 1px solid #252729;

	background: #323232; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(100%, #323232));
	background: -webkit-linear-gradient(top, #222222 0%,#323232 100%);
	background: -moz-linear-gradient(top, #222222 0%,#323232 100%);
	background: -o-linear-gradient(top, #222222 0%,#323232 100%);
	background: -ms-linear-gradient(top, #222222 0%,#323232 100%);
	background: linear-gradient(top, #222222 0%,#323232 100%); /* W3C */
}
.no-cssgradients .slider {
    background: url(images/slider_bg.gif) top left repeat-x #323232;
}

/* ===[ progress bar (enabled with progress:  true) ]=== */
.slider .progress {
	background-color: #b7d6ff;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b7d6ff), color-stop(40%, #8ebfff));
	background: -webkit-linear-gradient(top, #b7d6ff 0%, #8ebfff 40%);
	background: -moz-linear-gradient(top, #b7d6ff 0%, #8ebfff 40%);
	background: -o-linear-gradient(top, #b7d6ff 0%, #8ebfff 40%);
	background: -ms-linear-gradient(top, #b7d6ff 0%, #8ebfff 40%);
	background: linear-gradient(top, #b7d6ff 0%, #8ebfff 40%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7d6ff', endColorstr='#8ebfff', GradientType=0 ); /* ie */
}

/* ===[ drag handle ]=== */
.handle,.handle:active,.handle:hover {
	background: url(images/slider.png) no-repeat;
}

/* END -RANGE INPUT
=======================================================================================================================
 */
/* DATE PICKER
=======================================================================================================================
 */
/* ===[ calendar root element ]=== */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	background-color: #242628;
	border: 1px solid #000;

	-webkit-box-shadow: 0 0 5px #1E2022;
	-moz-box-shadow: 0 0 5px #1E2022;
	box-shadow: 0 0 5px #1E2022;
}

/* ===[ head. contains title, prev/next month controls and possible month/year selectors ]=== */
#calhead {
	background: #292b2d;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383c3f), color-stop(100%, #292b2d));
	background: -webkit-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -moz-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -o-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: -ms-linear-gradient(top, #383c3f 0%,#292b2d 100%);
	background: linear-gradient(top, #383c3f 0%,#292b2d 100%); /* W3C */
}

#caltitle {
	color: #88bcff;
	text-shadow: 0 -1px 0 #000;
}

#calnext,#calprev {
	background: transparent url(images/cal_prev_next.png) no-repeat scroll left top;
}


/* ===[ names of the days ]=== */
#caldays {
	border-bottom: 1px solid #000;

	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
}


/* ===[ container for weeks ]=== */
#calweeks {
	background-color: #242628;
}


/* ===[ single day ]=== */
.calweek a {
	color: #fefefe;

}

/* ===[ different states ]=== */
.calweek a:hover,.calfocus {
	background-color: #6891C4;
}

/* sunday  */
a.calsun {
	color: red;
}

/* offmonth day  */
a.caloff {
	color: #666;
}

a.caloff:hover {
	background-color: #000;
}

/* unselecteble day  */
a.caldisabled {
	background-color: #efefef !important;
	color: #ccc !important;
}

/* current day  */
#calcurrent {
	background-color: #6891C4;
	color: #fff;
	text-shadow: 1px 1px 0px #53657d;

	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8) inset;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8) inset;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8) inset;
}

/* today  */
#caltoday {
	background-color: #000;
	color: #6891C4;
}

/* END -DATE PICKER
=======================================================================================================================
 */				



/* CL EDITOR
=======================================================================================================================
 */
.cleditorMain {
	border: 1px solid #1c1d20;
	background-color: #4d5256;
}

.cleditorToolbar {
	background: url('images/toolbar.gif') repeat;
}

.cleditorGroup {
	background: url('images/toolbar.gif') repeat;
}

.cleditorButton {
	background: url(images/buttons.png);
}

.cleditorButton:hover {
	background-color: #373B3E;
}

.cleditorDisabled:hover {
	background-color: #373B3E;
}

.cleditorDivider {
	background: #292b2d;
}

.cleditorPopup {
	border: solid 1px #999;
	background-color: white;
}


.cleditorPrompt {
	background-color: #F6F7F9;
}

.cleditorMsg {
	background-color: #FBFBE0;
}

/* END -CL EDITOR
=======================================================================================================================
 */
/* SUPERFISH MENU
=======================================================================================================================
 */

/** SKIN
 * ----------------------------------------------------------------------------------------------------
 */
.sf-menu li ul {
	background: #383C3F;

	-webkit-box-shadow: 1px 1px 2px #000;
	-moz-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
}


.sf-menu ul li:hover,.sf-menu ul li.sfHover,.sf-menu ul a:focus,.sf-menu ul a:hover,.sf-menu ul a:active {
	background: #292B2D;
	color: #88bcff;
}

/** ARROWS
 * ----------------------------------------------------------------------------------------------------
 */
.sf-sub-indicator {
	background: url(images/menu_arrow.png) no-repeat; /* 8-bit indexed alpha png. IE6 gets solid image only */
}

/* END -SUPERFISH MENU
=======================================================================================================================
 */
/* DATA TABLES
=======================================================================================================================
 */
table.display thead tr {
	text-shadow: 0px -1px 0 #000;
	background: url(images/table_header_bg.gif) repeat-x top #292b2e;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373a3e), color-stop(100%, #292b2e));
	background: -webkit-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -moz-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -o-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -ms-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: linear-gradient(top, #373a3e 0%,#292b2e 100%); /* W3C */
}

table.display thead th {
	border-bottom: 1px solid #181b1f;
}

table.display tfoot th {
	border-top: 1px solid #f2f3f5;
	text-shadow: 1px 1px 0 #FFF;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6F7F8), color-stop(100%, #EAEBF0));
	background: -webkit-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: -moz-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: -o-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: -ms-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
}
.no-cssgradients table.display tfoot th {
	background: url(images/table_header_bg.gif) repeat-x bottom #F6F7F8;
}


table.display tr:hover td {
	background-color: #4d5257;
}


.dataTables_processing {
	border: 1px solid #ddd;
	color: #999;
	background-color: white;
}

.dataTables_length {
	color: #7a7a7a;
}

.dataTables_length select {
	border: 1px solid #42464b;
	background: #26292b;
}

.dataTables_filter {
	color: #999999;
}

.dataTables_filter input[type="text"] {
	background: url(images/search.png) no-repeat 136px 3px #252729;

	border: 1px solid #212325;
	color: #646f78;

	-webkit-box-shadow: inset 0px 1px 2px #1a1c1d;
	-moz-box-shadow: inset 0px 1px 2px #1a1c1d;
	box-shadow: inset 0px 1px 2px #1a1c1d;
}

.dataTables_info {
	background-color: #26292b;
	color: #7a7a7a;
}

.dataTables_paginate {
	border: 1px solid #1c1d20;
	border-top-color: #42464b;
	background: url(images/table_header_bg.gif) repeat-x top #292b2e;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373a3e), color-stop(100%, #292b2e));
	background: -webkit-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -moz-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -o-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -ms-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: linear-gradient(top, #373a3e 0%,#292b2e 100%); /* W3C */
}


.dataTables_paginate {
	background: url(images/table_header_bg.gif) repeat-x top #292b2e;
}


/** DataTables display
 * ----------------------------------------------------------------------------------------------------
 */
table.display {
	border: 1px solid #1c1d20;
}

table.display thead th {
	color: #6891c4;
}

table.display tfoot th {
	color: #415a7a;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	border-bottom: 1px solid #181b1f;

	-webkit-box-shadow: 0px 1px 0px #42464b;
	-moz-box-shadow: 0px 1px 0px #42464b;
	box-shadow: 0px 1px 0px #42464b;
	color: #e0e0e0;
}


/** DataTables sorting
 * ----------------------------------------------------------------------------------------------------
 */
.sorting_asc {
	background: url('images/sort_asc.png') no-repeat center right;
	background-color: #292B2E !important;
}

.sorting_desc {
	background: url('images/sort_desc.png') no-repeat center right;
	background-color: #292B2E !important;
}

.sorting {
	background: url('images/sort_both.png') no-repeat center right;
}

/** DataTables row classes
 * ----------------------------------------------------------------------------------------------------
 */
table.display tr.odd.gradeA {
	background-color: #333639;
}

table.display tr.even.gradeA {
	background-color: #333639;
}

table.display tr.odd.gradeA {
	background-color: #333639;
}

table.display tr.even.gradeA {
	background-color: #333639;
}

table.display tr.odd.gradeC {
	background-color: #333639;
}

table.display tr.even.gradeC {
	background-color: #333639;
}

table.display tr.odd.gradeX {
	background-color: #333639;
}

table.display tr.even.gradeX {
	background-color: #333639;
}

table.display tr.odd.gradeU {
	background-color: #333639;
}

table.display tr.even.gradeU {
	background-color: #333639;
}

table.display tr.odd {
	background-color: #333639;
}

table.display tr.even {
	background-color: #333639;
}

/** Misc
 * ----------------------------------------------------------------------------------------------------
 */
.top,.bottom {
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}


tfoot input {
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.paging_full_numbers span.paginate_button,.paging_full_numbers span.paginate_active {
	color: #e0e0e0;
	text-shadow: 0px -1px 0px #000;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #26292b;
}

.paging_full_numbers span.paginate_active {
	background-color: #6891C4;
	color: #fff;
	text-shadow: 1px 1px 0px #53657d;

	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8) inset;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8) inset;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8) inset;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

/** Sorting classes for columns
 * ----------------------------------------------------------------------------------------------------
 */
/* ===[ For the standard odd/even ]=== */
tr.odd td.sorting_1 {
	background-color: #393d40;
}

tr.odd td.sorting_2 {
	background-color: #393d40;
}

tr.odd td.sorting_3 {
	background-color: #393d40;
}

tr.even td.sorting_1 {
	background-color: #393d40;
}

tr.even td.sorting_2 {
	background-color: #393d40;
}

tr.even td.sorting_3 {
	background-color: #393d40;
}

/** TableTools styles
 * ----------------------------------------------------------------------------------------------------
 */
.DTTT_container {
	border: 1px solid #1c1d20;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373a3e), color-stop(100%, #292b2e));
	background: -webkit-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -moz-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -o-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -ms-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: linear-gradient(top, #373a3e 0%,#292b2e 100%); /* W3C */
}
.no-cssgradients .DTTT_container {
	background: url(images/table_tools_bg.gif) repeat-x bottom #292b2e;
}

.DTTT_container button {
    text-shadow:#000 0px -1px 0px;
    color:#AAAAAA;
}
.DTTT_container button:hover {
    color:#88BCFF;
}

.DTTT_container button.DTTT_button_copy,.DTTT_container button.DTTT_button_copy_hover {
	background-image: url(images/table_tools_copy.png);
}

.DTTT_container button.DTTT_button_csv, .DTTT_container button.DTTT_button_csv_hover {
	background-image: url(images/table_tools_csv.png);
}

.DTTT_container button.DTTT_button_xls, .DTTT_container button.DTTT_button_xls_hover {
	background-image: url(images/table_tools_xl.png);
}

.DTTT_container button.DTTT_button_pdf, .DTTT_container button.DTTT_button_pdf_hover {
	background-image: url(images/table_tools_pdf.png);
}

.DTTT_container button.DTTT_button_print, .DTTT_container button.DTTT_button_print_hover {
	background-image: url(images/table_tools_print.png);
}

.DTTT_print_info {
	background-color: #3f3f3f;
	color: white;
}

.DTTT_print_info h6 {
	color: #fff;
}


/* END -DATA TABLES
=======================================================================================================================
 */
/* GALLERY
=======================================================================================================================
 */
.gallery li {
	border: 1px solid #333;
	background: #474c51;
}

.gallery > li:hover {
	border: 1px solid #0a0a0b;
	background: #292b2d;
}

.gallery li ul.controls {
	background: #292b2d; /* Old browsers */

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474c51), color-stop(100%, #292b2d));
	background: -webkit-linear-gradient(top, #474c51 0%,#292b2d 100%);
	background: -moz-linear-gradient(top, #474c51 0%,#292b2d 100%);
	background: -o-linear-gradient(top, #474c51 0%,#292b2d 100%);
	background: -ms-linear-gradient(top, #474c51 0%,#292b2d 100%);
	background: linear-gradient(top, #474c51 0%,#292b2d 100%); /* W3C */
}


.no-csstransitions .gallery li ul.controls {
	display: none;
}


/** Icons
 * ----------------------------------------------------------------------------------------------------
 */
.gallery li ul.controls li a {
	background-image: url(images/gallery_icons.png);
}

/* END -GALLERY
=======================================================================================================================
 */				




/* FULL CALENDAR v1.4.10 Stylesheet
=======================================================================================================================
 */


/* Content
------------------------------------------------------------------------*/
.fc-content {
	border: 1px solid #1C1D20;
}

/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header,.fc-widget-content {
	border: 1px solid #1C1D20;
	border-width: 1px 0 0 1px;
	background: #3f4246; /* Old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f4246), color-stop(100%, #333639));

	background: -webkit-linear-gradient(top, #3f4246 0%,#333639 100%);
	background: -moz-linear-gradient(top, #3f4246 0%,#333639 100%);
	background: -o-linear-gradient(top, #3f4246 0%,#333639 100%);
	background: -ms-linear-gradient(top, #3f4246 0%,#333639 100%);
	background: linear-gradient(top, #3f4246 0%,#333639 100%); /* W3C */
}

.fc-state-highlight {
	/*  today cell */
/* TODO:  add .fc-today to  */
background: #6891c4; /* Old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6891c4), color-stop(100%, #364d67));

	background: -webkit-linear-gradient(top, #6891c4 0%,#364d67 100%);
	background: -moz-linear-gradient(top, #6891c4 0%,#364d67 100%);
	background: -o-linear-gradient(top, #6891c4 0%,#364d67 100%);
	background: -ms-linear-gradient(top, #6891c4 0%,#364d67 100%);
	background: linear-gradient(top, #6891c4 0%,#364d67 100%); /* W3C */
}

.fc-grid .fc-today .fc-day-number {
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #5A87BC;
}

.fc-cell-overlay {
	/* semi-transparent rectangle while dragging */
	background: #9cf;
}

/* Buttons
------------------------------------------------------------------------*/

.fc-state-default .fc-button-effect span {
	border-color: #fff;
	background: #444;
}

/* button states (determines colors)  */
.fc-state-default,.fc-state-default .fc-button-inner {
	border-style: solid;
	border-color: #121212 #121212 #121212;
	background: #383C3F;
	color: #FFFFFF;
}

.fc-state-hover,.fc-state-hover .fc-button-inner {
	background: #292b2e;
}

.fc-state-down,.fc-state-down .fc-button-inner {
	border-color: #2a5080;
	background: #5C89BD;
	color: #fff;
}

.fc-state-active,.fc-state-active .fc-button-inner {
	-webkit-box-shadow: 0 0 5px #000000 inset;
	-moz-box-shadow: 0 0 5px #000000 inset;
	box-shadow: 0 0 5px #000000 inset;
	background: #5C89BD;
	border-color: #000 #000 #000; /* inner border */
color: #fff;
}

.fc-state-disabled,.fc-state-disabled .fc-button-inner {
	color: #666;
	border-color: #666;
}

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-skin {
	border-color: #1C1D20; /* default BORDER color (probably the same as background-color) */
	background-color: #292B2E; /* default BACKGROUND color */
	color: #fff; /* default TEXT color */

    -webkit-box-shadow: 0px 1px 0 rgba(255,255,255, 0.07);
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255, 0.07);
	box-shadow: 0px 1px 0 rgba(255,255,255, 0.07);
}

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/
.fc-grid th {
	border-color: #1C1D20;
	color: #6891C4;
	text-shadow: 0px -1px 0 #000;
	background: url(images/table_header_bg.gif) repeat-x top #292b2e;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373a3e), color-stop(100%, #292b2e));
	background: -webkit-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -moz-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -o-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: -ms-linear-gradient(top, #373a3e 0%,#292b2e 100%);
	background: linear-gradient(top, #373a3e 0%,#292b2e 100%); /* W3C */
}

.fc-grid .fc-day-number {
	color: #e0e0e0;
}

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/


.fc-widget-header .fc-agenda-divider-inner {
	background: none repeat scroll 0 0 #292B2E;

	-webkit-box-shadow: 0 0 4px #000000;
	-moz-box-shadow: 0 0 4px #000000;
	box-shadow: 0 0 4px #000000;
}


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert .fc-event-bg {
	background: #fff;
}

/* END -FULL CALENDAR
=======================================================================================================================
 */
/* jQuery Snippet ---Code highlighter
=======================================================================================================================
 */
/*----------Skin ---------*/

.sh_sourceCode {
        background-color: #000;
        color: #fff;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_keyword {
        color: #CCC;
        font-weight: bold;
        font-style: normal;
}
.sh_sourceCode .sh_type {
        color: #00c000;
        font-weight: bold;
        font-style: normal;
}
.sh_sourceCode .sh_string {
        color: #88BCFF;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_regexp {
        color: #0ff;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_specialchar {
        color: #00f;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_comment {
        color: #808080;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_number {
        color: #0ff;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_preproc {
        color: #0f0;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_symbol {
        color: #f00;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_function {
        color: #ff22b9;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_cbracket {
        color: #f00;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_url {
        color: #0ff;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_date {
        color: #c0c000;
        font-weight: bold;
        font-style: normal;
}
.sh_sourceCode .sh_time {
        color: #c0c000;
        font-weight: bold;
        font-style: normal;
}
.sh_sourceCode .sh_file {
        color: #c0c000;
        font-weight: bold;
        font-style: normal;
}
.sh_sourceCode .sh_ip {
        color: #0ff;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_name {
        color: #0ff;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_variable {
        color: #0000c0;
        font-weight: bold;
        font-style: normal;
}
.sh_sourceCode .sh_oldfile {
        color: #00f;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_newfile {
        color: #0ff;
        font-weight: normal;
        font-style: normal;
}
.sh_sourceCode .sh_difflines {
        color: #c0c000;
        font-weight: bold;
        font-style: normal;
}
.sh_sourceCode .sh_selector {
        color: #0000c0;
        font-weight: bold;
        font-style: normal;
}
.sh_sourceCode .sh_property {
        color: #c0c000;
        font-weight: bold;
        font-style: normal;
}
.sh_sourceCode .sh_value {
        color: #0ff;
        font-weight: normal;
        font-style: normal;
}



/* END--jQuery Snippet
=======================================================================================================================
 */
/*
=======================================================================================================================

INDIVIDUAL PAGES -  CSS for Indivudal pages

=======================================================================================================================
 */
/* LOGIN PAGE -Classes specified for login page appearance
=======================================================================================================================
 */
.logo_login {
	background: url(images/scroller_bg.png) no-repeat bottom center;
}

.logo_login a {
	background: url(images/logo_login.png) no-repeat top left;
}

/* END LOGIN PAGE
=======================================================================================================================
 */
/* ERROR PAGE -Classes specified for error page appearance
=======================================================================================================================
 */
.error_page {
	color: #979ea4;
}

.error_page h1 {
	color: #4e5964;
	text-shadow: 0 10px 0 #1E2123, 0 10px 15px #1D2937;
}

.error_page h2 {
	color: #555555;
	text-shadow: 0 -1px 0 #000000;
}

/* END ERROR PAGE
=======================================================================================================================
 */
/* DASHBOARD
=======================================================================================================================
 */
.dashboard_stats .number {
	color: #729ed6;
}

.dashboard_stats h3 {
	color: #c8c8c8;
	text-shadow: 0px -1px 1px #000;
}

.dashboard_stats small {
	color: #909aa2;
}

/* END -DASHBOARD
=======================================================================================================================
 */				
 
 
 
/*
=======================================================================================================================

MEDIA QUERIES -  For responsive desgin

=======================================================================================================================
 */

/** SMARTPHONES **/
@media screen and (max-width: 767px) {

/* ===[ Main Navigaton ]=== */
#main_nav {
	background: #2d2f32;
}

#main_nav li {
	border-top: 1px solid #181b1f;
	border-bottom: 1px solid #34373b;
}

#main_nav li ul {
	background: #26282b;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top: 1px solid #17181a;
}

#main_nav li ul li:first-child {
	border-top: 1px solid #17181a;
}


#main_nav a > .sf-sub-indicator {
	background-image: url(images/arrows_med.png);
	
}

#main_nav a.current {
	color: #88BCFF;
}

/* ===[ Wizard ]=== */

#steps li.current {
	color: #4D6583;
	text-shadow: 1px 2px 1px #FFFFFF;
}

/* ===[ Menu in header ]=== */
.menu_header .sf-menu ul li ul {
	border-top: 1px solid #ccc;
}

/* ===[ Tabs ]=== */
.box .tabs li a.current {
	border: 1px solid transparent;
	background-color: #1e1e20;

}

/* ===[ Gallery ]=== */
.gallery li {
	background: #292B2D;
}

}

/** TABLET AND NETBOOKS **/
@media screen and (min-width: 768px) and (max-width: 1024px) {

#header {
	background-color: #292B2D;
}
#main_nav a.current {
	color: #83B4F3;
	background: #393D40;
}
}
				