@charset "UTF-8";
/* CSS Document for Business Header */

/*#header_personal{
	position: relative;
	width: 1024px;
	height: 90px;
	background-image: url(/wafed/sites/all/themes/WAFED/graphics/personal_nav_bg.jpg) !important;
	background-repeat: no-repeat;
}*/

ul#personal_nav a:hover{
	background-image: url(/wafed/sites/all/themes/WAFED/graphics/blue_highlight.gif) !important;
	width:auto;
	height:auto;
}
#wafed_logo {
	width:375px;
	height:90px;
	display:block;
	background-image: url(/wafed/sites/all/themes/WAFED/graphics/wfblogo.gif);
	cursor:pointer;
}