<!-- File: /app/View/Posts/admin.ctp -->

<table width="772" border="1">
<tr><td><h1>Admin Panels </h1></td></tr> 
 <tr>
    <td width="107"><a href="#">User managment</a></td>
    <td width="90"><a href="#">User profile view</a></td>
    <td width="109"><a href="#"> Flagged images</a></td>
    <td width="73"><a href="#">Delete Image</a></td>
    <td width="55"><a href="#">Block User</a></td>
    <td width="89"><a href="#">Statistics Dashboard</a> </td>
  </tr>
</table>

