<!-- File: /app/View/Posts/index.ctp -->

<table>

	<tr>
	
	<td>  <!--<?php  $url=$this->params['url']; print_r($url);   //print_r($test); ?> --> </td>
	</tr>

	<tr>
	<td>Users</td>
	</tr>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>

    <!-- Here is where we loop through our $posts array, printing out post info -->
	
    <?php foreach ($users as $post): ?>
    <tr>
        <td><?php echo $post['User']['first_name']; ?></td>
        <td>
            <?php echo $this->Html->link($post['User']['last_name'], array('controller' => 'users', 'action' => 'view', $post['User']['id'])); ?>
        </td>
        <td><?php echo $post['User']['email']; ?></td>
    </tr>
	
	
	
    <?php endforeach; ?>
	<?php unset($user); ?>

	<?php echo $this->Html->link('Add Post', array('controller' => 'users', 'action' => 'add')); ?>
</table>

