<!-- File: /app/View/Posts/view.ctp -->

<p><?php pr('logout'); ?></p>

<h1>You have successfully logged out</h1>
<?php
/*pr($this->request);
 echo $this->Session->flash('auth'); 
 echo $this->Form->create('User'); 
 echo __('Please enter your username and password'); 
 echo $this->Form->input('username');
 echo $this->Form->input('password');
 echo $this->Form->end(__('Login')); 

*/

?>







