<!-- File: /app/View/Posts/view.ctp -->

<p><?php echo h($user['User']['first_name']); ?></p>
<p><?php echo h($user['User']['last_name']); ?></p>
<p><?php echo h($user['User']['email']); ?></p>
<p><?php echo h($user['User']['status']); ?></p>
<p><?php echo h($user['User']['ip_address']); ?></p>