/* Minified: section.modules_admin.css */
#modules_admin table.modules_list td.is_enabled{width:30px;height:30px;text-align:center}#modules_admin table.modules_list td.icon{width:24px}#modules_admin table.modules_list td.options{width:100px}#modules_admin table.modules_list th.name{text-align:center;font-weight:bold}#modules_admin table.modules_list td.disable_all_custom_modules{text-align:center}#modules_admin table.modules_list td.disable_all_custom_modules button{margin-top:10px}
