{embed="includes/.header"}
</head>
<body>
	<div id="wrapper">
		{embed="includes/.banner"}
		{embed="includes/.top_nav"}
		
		<div id="content">
			<div id="left_column">
				{embed="includes/.left_column"}
			</div>

			<div id="right_column">
				
				{exp:channel:entries channel="page" limit="1"}
				{page_content}
				{/exp:channel:entries}
			</div><!-- end of right_column -->
		</div><!-- end of content -->
	</div><!-- end of wrapper -->
	
	{embed="includes/.footer"}
</body>
</html>
