{preload_replace:template_group="includes"}
{preload_replace:template="index"}
 
{embed="includes/.header" title="Shopping Cart" template_group="includes" template="{template}" }
 
</head>
<body>
	<div id="wrapper">
		{embed="{template_group}/.banner" template_group="{template_group}" template="{template}"}
		{embed="{template_group}/.top_nav" template_group="{template_group}" template="{template}"}
      
    <div id="content">
      
      <div id="left_column">
        {embed="{template_group}/.left_column" template_group="{template_group}" template="{template}"}
    	</div>  

  		<div id="right_column">
      
		{exp:search:search_results switch="resultRowOne|resultRowTwo"}
		{title}
		{/exp:search:search_results}
      
  		</div>
    </div><!-- END CONTENT -->

 				{embed="{template_group}/.footer template="{template}" template_group="{template_group}"}
  </div><!-- END WRAPPER -->

</body>
</html>

