<div class="grid_6 border_left_inset">
    <h2><?php echo __('Login using your Email') ?></h2>
    <?php
    $msg = $this->Session->flash('auth');
    echo $msg . '<br/>';     
    echo $this->Form->create();
    ?>
    <div class="field">
        <?php echo $this->Form->input('username', array('div' => false, 'label' => __('Username:', true), 'maxlength' => $schema_user['username']['length'])); ?>
    </div>
    <div class="field">
        <?php echo $this->Form->input('password', array('div' => false, 'label' => __('Password:', true), 'maxlength' => $schema_user['password']['length'], 'value' => '','type' => 'password')); ?>
    </div>
    <div class="field">
        <span class="align_w_label">
            <?php echo $this->Form->input('remember_me', array('div' => false, 'label' => '', 'type' => 'checkbox')); ?> 
            <?php echo __('Remember Me'); ?></span>
    </div>
    <div class="field">
        <?php echo $this->Form->button(__('Login', true), array('type' => 'submit')); // . ' ' . $this->Html->link(__('Forgotten your password?', true), '/users/recover', array('class' => false)); ?>
    </div>
    <?php echo $this->Form->end(); ?>
</div>