.left_sidebar { 	
	width:250px;                     /*specify sidebar width here*/
	float:left;
	margin:0px 0px 0px 25px;
}
.main_column_right { 
	margin-left: 295px;
}   		/*specify column width here, should be sidebar width + 20px*/
.user_info .name{
	color: #3A3A3A;
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    position: relative;
    top: -9px;
}
.user_info .name strong{
	color:#2d59b8;
}
.user_info .name span{
	font-size: 15px;
}
.user_info hr{
	margin:10px 0;
}