<?php
$ses_user=$this->Session->read('data');
if($this->Session->check('data'))   {

echo $ses_user['id'];
echo '<br />'.$ses_user['name'];
echo '<br />'.$ses_user['screen_name'];

echo '<br /><img src="'.$ses_user['profile_image_url'].'" width="30" height="30"/>';
}
?> 