.icon-48-genres {
      background-image: url(../images/L_genres.png);
      padding-left:60px!important;
}

.icon-48-genre {
      background-image: url(../images/L_genres.png);
      padding-left:60px!important;
}

.icon-48-artists {
      background-image: url(../images/L_artists.png);
      padding-left:60px!important;
}

.icon-48-artist {
      background-image: url(../images/L_artists.png);
      padding-left:60px!important;
}

.icon-48-discographies {
      background-image: url(../images/L_discographies.png);
      padding-left:60px!important;
}

.icon-48-discography {
      background-image: url(../images/L_discographies.png);
      padding-left:60px!important;
}

.icon-48-newss {
      background-image: url(../images/L_newss.png);
      padding-left:60px!important;
}

.icon-48-news {
      background-image: url(../images/L_newss.png);
      padding-left:60px!important;
}

.icon-48-galleries {
      background-image: url(../images/L_galleries.png);
      padding-left:60px!important;
}

.icon-48-gallery {
      background-image: url(../images/L_galleries.png);
      padding-left:60px!important;
}

.icon-48-photos {
      background-image: url(../images/L_photos.png);
      padding-left:60px!important;
}

.icon-48-photos {
      background-image: url(../images/L_photos.png);
      padding-left:60px!important;
}

.icon-48-videos {
      background-image: url(../images/L_videos.png);
      padding-left:60px!important;
}

.icon-48-video {
      background-image: url(../images/L_videos.png);
      padding-left:60px!important;
}

.icon-48-events {
      background-image: url(../images/L_events.png);
      padding-left:60px!important;
}

.icon-48-event {
      background-image: url(../images/L_events.png);
      padding-left:60px!important;
}

.icon-48-links {
      background-image: url(../images/L_links.png);
      padding-left:60px!important;
}

.icon-48-link {
      background-image: url(../images/L_links.png);
      padding-left:60px!important;
}

.icon-48-labels {
      background-image: url(../images/L_labels.png);
      padding-left:60px!important;
}

.icon-48-label {
      background-image: url(../images/L_labels.png);
      padding-left:60px!important;
}

