/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
/* line 16, scss/_960.scss */
body {
  min-width: 960px;
}

/* `Container
----------------------------------------------------------------------------------------------------*/
/* line 24, scss/_960.scss */
.container_12,
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/
/* line 48, scss/_960.scss */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 69, scss/_960.scss */
.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
  position: relative;
}

/* line 74, scss/_960.scss */
.container_12 .grid_3,
.container_16 .grid_4 {
  width: 220px;
}

/* line 79, scss/_960.scss */
.container_12 .grid_6,
.container_16 .grid_8 {
  width: 460px;
}

/* line 84, scss/_960.scss */
.container_12 .grid_9,
.container_16 .grid_12 {
  width: 700px;
}

/* line 89, scss/_960.scss */
.container_12 .grid_12,
.container_16 .grid_16 {
  width: 940px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
/* line 96, scss/_960.scss */
.alpha {
  margin-left: 0;
}

/* line 100, scss/_960.scss */
.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 107, scss/_960.scss */
.container_12 .grid_1 {
  width: 60px;
}

/* line 111, scss/_960.scss */
.container_12 .grid_2 {
  width: 140px;
}

/* line 115, scss/_960.scss */
.container_12 .grid_4 {
  width: 300px;
}

/* line 119, scss/_960.scss */
.container_12 .grid_5 {
  width: 380px;
}

/* line 123, scss/_960.scss */
.container_12 .grid_7 {
  width: 540px;
}

/* line 127, scss/_960.scss */
.container_12 .grid_8 {
  width: 620px;
}

/* line 131, scss/_960.scss */
.container_12 .grid_10 {
  width: 780px;
}

/* line 135, scss/_960.scss */
.container_12 .grid_11 {
  width: 860px;
}

/* `Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/
/* line 142, scss/_960.scss */
.container_16 .grid_1 {
  width: 40px;
}

/* line 146, scss/_960.scss */
.container_16 .grid_2 {
  width: 100px;
}

/* line 150, scss/_960.scss */
.container_16 .grid_3 {
  width: 160px;
}

/* line 154, scss/_960.scss */
.container_16 .grid_5 {
  width: 280px;
}

/* line 158, scss/_960.scss */
.container_16 .grid_6 {
  width: 340px;
}

/* line 162, scss/_960.scss */
.container_16 .grid_7 {
  width: 400px;
}

/* line 166, scss/_960.scss */
.container_16 .grid_9 {
  width: 520px;
}

/* line 170, scss/_960.scss */
.container_16 .grid_10 {
  width: 580px;
}

/* line 174, scss/_960.scss */
.container_16 .grid_11 {
  width: 640px;
}

/* line 178, scss/_960.scss */
.container_16 .grid_13 {
  width: 760px;
}

/* line 182, scss/_960.scss */
.container_16 .grid_14 {
  width: 820px;
}

/* line 186, scss/_960.scss */
.container_16 .grid_15 {
  width: 880px;
}

/* `Prefix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/
/* line 194, scss/_960.scss */
.container_12 .prefix_3,
.container_16 .prefix_4 {
  padding-left: 240px;
}

/* line 199, scss/_960.scss */
.container_12 .prefix_6,
.container_16 .prefix_8 {
  padding-left: 480px;
}

/* line 204, scss/_960.scss */
.container_12 .prefix_9,
.container_16 .prefix_12 {
  padding-left: 720px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 211, scss/_960.scss */
.container_12 .prefix_1 {
  padding-left: 80px;
}

/* line 215, scss/_960.scss */
.container_12 .prefix_2 {
  padding-left: 160px;
}

/* line 219, scss/_960.scss */
.container_12 .prefix_4 {
  padding-left: 320px;
}

/* line 223, scss/_960.scss */
.container_12 .prefix_5 {
  padding-left: 400px;
}

/* line 227, scss/_960.scss */
.container_12 .prefix_7 {
  padding-left: 560px;
}

/* line 231, scss/_960.scss */
.container_12 .prefix_8 {
  padding-left: 640px;
}

/* line 235, scss/_960.scss */
.container_12 .prefix_10 {
  padding-left: 800px;
}

/* line 239, scss/_960.scss */
.container_12 .prefix_11 {
  padding-left: 880px;
}

/* `Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
/* line 246, scss/_960.scss */
.container_16 .prefix_1 {
  padding-left: 60px;
}

/* line 250, scss/_960.scss */
.container_16 .prefix_2 {
  padding-left: 120px;
}

/* line 254, scss/_960.scss */
.container_16 .prefix_3 {
  padding-left: 180px;
}

/* line 258, scss/_960.scss */
.container_16 .prefix_5 {
  padding-left: 300px;
}

/* line 262, scss/_960.scss */
.container_16 .prefix_6 {
  padding-left: 360px;
}

/* line 266, scss/_960.scss */
.container_16 .prefix_7 {
  padding-left: 420px;
}

/* line 270, scss/_960.scss */
.container_16 .prefix_9 {
  padding-left: 540px;
}

/* line 274, scss/_960.scss */
.container_16 .prefix_10 {
  padding-left: 600px;
}

/* line 278, scss/_960.scss */
.container_16 .prefix_11 {
  padding-left: 660px;
}

/* line 282, scss/_960.scss */
.container_16 .prefix_13 {
  padding-left: 780px;
}

/* line 286, scss/_960.scss */
.container_16 .prefix_14 {
  padding-left: 840px;
}

/* line 290, scss/_960.scss */
.container_16 .prefix_15 {
  padding-left: 900px;
}

/* `Suffix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/
/* line 298, scss/_960.scss */
.container_12 .suffix_3,
.container_16 .suffix_4 {
  padding-right: 240px;
}

/* line 303, scss/_960.scss */
.container_12 .suffix_6,
.container_16 .suffix_8 {
  padding-right: 480px;
}

/* line 308, scss/_960.scss */
.container_12 .suffix_9,
.container_16 .suffix_12 {
  padding-right: 720px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 315, scss/_960.scss */
.container_12 .suffix_1 {
  padding-right: 80px;
}

/* line 319, scss/_960.scss */
.container_12 .suffix_2 {
  padding-right: 160px;
}

/* line 323, scss/_960.scss */
.container_12 .suffix_4 {
  padding-right: 320px;
}

/* line 327, scss/_960.scss */
.container_12 .suffix_5 {
  padding-right: 400px;
}

/* line 331, scss/_960.scss */
.container_12 .suffix_7 {
  padding-right: 560px;
}

/* line 335, scss/_960.scss */
.container_12 .suffix_8 {
  padding-right: 640px;
}

/* line 339, scss/_960.scss */
.container_12 .suffix_10 {
  padding-right: 800px;
}

/* line 343, scss/_960.scss */
.container_12 .suffix_11 {
  padding-right: 880px;
}

/* `Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
/* line 350, scss/_960.scss */
.container_16 .suffix_1 {
  padding-right: 60px;
}

/* line 354, scss/_960.scss */
.container_16 .suffix_2 {
  padding-right: 120px;
}

/* line 358, scss/_960.scss */
.container_16 .suffix_3 {
  padding-right: 180px;
}

/* line 362, scss/_960.scss */
.container_16 .suffix_5 {
  padding-right: 300px;
}

/* line 366, scss/_960.scss */
.container_16 .suffix_6 {
  padding-right: 360px;
}

/* line 370, scss/_960.scss */
.container_16 .suffix_7 {
  padding-right: 420px;
}

/* line 374, scss/_960.scss */
.container_16 .suffix_9 {
  padding-right: 540px;
}

/* line 378, scss/_960.scss */
.container_16 .suffix_10 {
  padding-right: 600px;
}

/* line 382, scss/_960.scss */
.container_16 .suffix_11 {
  padding-right: 660px;
}

/* line 386, scss/_960.scss */
.container_16 .suffix_13 {
  padding-right: 780px;
}

/* line 390, scss/_960.scss */
.container_16 .suffix_14 {
  padding-right: 840px;
}

/* line 394, scss/_960.scss */
.container_16 .suffix_15 {
  padding-right: 900px;
}

/* `Push Space >> Global
----------------------------------------------------------------------------------------------------*/
/* line 402, scss/_960.scss */
.container_12 .push_3,
.container_16 .push_4 {
  left: 240px;
}

/* line 407, scss/_960.scss */
.container_12 .push_6,
.container_16 .push_8 {
  left: 480px;
}

/* line 412, scss/_960.scss */
.container_12 .push_9,
.container_16 .push_12 {
  left: 720px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 419, scss/_960.scss */
.container_12 .push_1 {
  left: 80px;
}

/* line 423, scss/_960.scss */
.container_12 .push_2 {
  left: 160px;
}

/* line 427, scss/_960.scss */
.container_12 .push_4 {
  left: 320px;
}

/* line 431, scss/_960.scss */
.container_12 .push_5 {
  left: 400px;
}

/* line 435, scss/_960.scss */
.container_12 .push_7 {
  left: 560px;
}

/* line 439, scss/_960.scss */
.container_12 .push_8 {
  left: 640px;
}

/* line 443, scss/_960.scss */
.container_12 .push_10 {
  left: 800px;
}

/* line 447, scss/_960.scss */
.container_12 .push_11 {
  left: 880px;
}

/* `Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
/* line 454, scss/_960.scss */
.container_16 .push_1 {
  left: 60px;
}

/* line 458, scss/_960.scss */
.container_16 .push_2 {
  left: 120px;
}

/* line 462, scss/_960.scss */
.container_16 .push_3 {
  left: 180px;
}

/* line 466, scss/_960.scss */
.container_16 .push_5 {
  left: 300px;
}

/* line 470, scss/_960.scss */
.container_16 .push_6 {
  left: 360px;
}

/* line 474, scss/_960.scss */
.container_16 .push_7 {
  left: 420px;
}

/* line 478, scss/_960.scss */
.container_16 .push_9 {
  left: 540px;
}

/* line 482, scss/_960.scss */
.container_16 .push_10 {
  left: 600px;
}

/* line 486, scss/_960.scss */
.container_16 .push_11 {
  left: 660px;
}

/* line 490, scss/_960.scss */
.container_16 .push_13 {
  left: 780px;
}

/* line 494, scss/_960.scss */
.container_16 .push_14 {
  left: 840px;
}

/* line 498, scss/_960.scss */
.container_16 .push_15 {
  left: 900px;
}

/* `Pull Space >> Global
----------------------------------------------------------------------------------------------------*/
/* line 506, scss/_960.scss */
.container_12 .pull_3,
.container_16 .pull_4 {
  left: -240px;
}

/* line 511, scss/_960.scss */
.container_12 .pull_6,
.container_16 .pull_8 {
  left: -480px;
}

/* line 516, scss/_960.scss */
.container_12 .pull_9,
.container_16 .pull_12 {
  left: -720px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 523, scss/_960.scss */
.container_12 .pull_1 {
  left: -80px;
}

/* line 527, scss/_960.scss */
.container_12 .pull_2 {
  left: -160px;
}

/* line 531, scss/_960.scss */
.container_12 .pull_4 {
  left: -320px;
}

/* line 535, scss/_960.scss */
.container_12 .pull_5 {
  left: -400px;
}

/* line 539, scss/_960.scss */
.container_12 .pull_7 {
  left: -560px;
}

/* line 543, scss/_960.scss */
.container_12 .pull_8 {
  left: -640px;
}

/* line 547, scss/_960.scss */
.container_12 .pull_10 {
  left: -800px;
}

/* line 551, scss/_960.scss */
.container_12 .pull_11 {
  left: -880px;
}

/* `Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
/* line 558, scss/_960.scss */
.container_16 .pull_1 {
  left: -60px;
}

/* line 562, scss/_960.scss */
.container_16 .pull_2 {
  left: -120px;
}

/* line 566, scss/_960.scss */
.container_16 .pull_3 {
  left: -180px;
}

/* line 570, scss/_960.scss */
.container_16 .pull_5 {
  left: -300px;
}

/* line 574, scss/_960.scss */
.container_16 .pull_6 {
  left: -360px;
}

/* line 578, scss/_960.scss */
.container_16 .pull_7 {
  left: -420px;
}

/* line 582, scss/_960.scss */
.container_16 .pull_9 {
  left: -540px;
}

/* line 586, scss/_960.scss */
.container_16 .pull_10 {
  left: -600px;
}

/* line 590, scss/_960.scss */
.container_16 .pull_11 {
  left: -660px;
}

/* line 594, scss/_960.scss */
.container_16 .pull_13 {
  left: -780px;
}

/* line 598, scss/_960.scss */
.container_16 .pull_14 {
  left: -840px;
}

/* line 602, scss/_960.scss */
.container_16 .pull_15 {
  left: -900px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 611, scss/_960.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
/* line 627, scss/_960.scss */
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

/* line 640, scss/_960.scss */
.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
/* line 651, scss/_960.scss */
.clearfix,
.container_12,
.container_16 {
  zoom: 1;
}

/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
/* line 16, scss/_960_12_col.scss */
body {
  min-width: 960px;
}

/* `Container
----------------------------------------------------------------------------------------------------*/
/* line 23, scss/_960_12_col.scss */
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/
/* line 43, scss/_960_12_col.scss */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 60, scss/_960_12_col.scss */
.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
/* line 67, scss/_960_12_col.scss */
.alpha {
  margin-left: 0;
}

/* line 71, scss/_960_12_col.scss */
.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 78, scss/_960_12_col.scss */
.container_12 .grid_1 {
  width: 60px;
}

/* line 82, scss/_960_12_col.scss */
.container_12 .grid_2 {
  width: 140px;
}

/* line 86, scss/_960_12_col.scss */
.container_12 .grid_3 {
  width: 220px;
}

/* line 90, scss/_960_12_col.scss */
.container_12 .grid_4 {
  width: 300px;
}

/* line 94, scss/_960_12_col.scss */
.container_12 .grid_5 {
  width: 380px;
}

/* line 98, scss/_960_12_col.scss */
.container_12 .grid_6 {
  width: 460px;
}

/* line 102, scss/_960_12_col.scss */
.container_12 .grid_7 {
  width: 540px;
}

/* line 106, scss/_960_12_col.scss */
.container_12 .grid_8 {
  width: 620px;
}

/* line 110, scss/_960_12_col.scss */
.container_12 .grid_9 {
  width: 700px;
}

/* line 114, scss/_960_12_col.scss */
.container_12 .grid_10 {
  width: 780px;
}

/* line 118, scss/_960_12_col.scss */
.container_12 .grid_11 {
  width: 860px;
}

/* line 122, scss/_960_12_col.scss */
.container_12 .grid_12 {
  width: 940px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 129, scss/_960_12_col.scss */
.container_12 .prefix_1 {
  padding-left: 80px;
}

/* line 133, scss/_960_12_col.scss */
.container_12 .prefix_2 {
  padding-left: 160px;
}

/* line 137, scss/_960_12_col.scss */
.container_12 .prefix_3 {
  padding-left: 240px;
}

/* line 141, scss/_960_12_col.scss */
.container_12 .prefix_4 {
  padding-left: 320px;
}

/* line 145, scss/_960_12_col.scss */
.container_12 .prefix_5 {
  padding-left: 400px;
}

/* line 149, scss/_960_12_col.scss */
.container_12 .prefix_6 {
  padding-left: 480px;
}

/* line 153, scss/_960_12_col.scss */
.container_12 .prefix_7 {
  padding-left: 560px;
}

/* line 157, scss/_960_12_col.scss */
.container_12 .prefix_8 {
  padding-left: 640px;
}

/* line 161, scss/_960_12_col.scss */
.container_12 .prefix_9 {
  padding-left: 720px;
}

/* line 165, scss/_960_12_col.scss */
.container_12 .prefix_10 {
  padding-left: 800px;
}

/* line 169, scss/_960_12_col.scss */
.container_12 .prefix_11 {
  padding-left: 880px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 176, scss/_960_12_col.scss */
.container_12 .suffix_1 {
  padding-right: 80px;
}

/* line 180, scss/_960_12_col.scss */
.container_12 .suffix_2 {
  padding-right: 160px;
}

/* line 184, scss/_960_12_col.scss */
.container_12 .suffix_3 {
  padding-right: 240px;
}

/* line 188, scss/_960_12_col.scss */
.container_12 .suffix_4 {
  padding-right: 320px;
}

/* line 192, scss/_960_12_col.scss */
.container_12 .suffix_5 {
  padding-right: 400px;
}

/* line 196, scss/_960_12_col.scss */
.container_12 .suffix_6 {
  padding-right: 480px;
}

/* line 200, scss/_960_12_col.scss */
.container_12 .suffix_7 {
  padding-right: 560px;
}

/* line 204, scss/_960_12_col.scss */
.container_12 .suffix_8 {
  padding-right: 640px;
}

/* line 208, scss/_960_12_col.scss */
.container_12 .suffix_9 {
  padding-right: 720px;
}

/* line 212, scss/_960_12_col.scss */
.container_12 .suffix_10 {
  padding-right: 800px;
}

/* line 216, scss/_960_12_col.scss */
.container_12 .suffix_11 {
  padding-right: 880px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 223, scss/_960_12_col.scss */
.container_12 .push_1 {
  left: 80px;
}

/* line 227, scss/_960_12_col.scss */
.container_12 .push_2 {
  left: 160px;
}

/* line 231, scss/_960_12_col.scss */
.container_12 .push_3 {
  left: 240px;
}

/* line 235, scss/_960_12_col.scss */
.container_12 .push_4 {
  left: 320px;
}

/* line 239, scss/_960_12_col.scss */
.container_12 .push_5 {
  left: 400px;
}

/* line 243, scss/_960_12_col.scss */
.container_12 .push_6 {
  left: 480px;
}

/* line 247, scss/_960_12_col.scss */
.container_12 .push_7 {
  left: 560px;
}

/* line 251, scss/_960_12_col.scss */
.container_12 .push_8 {
  left: 640px;
}

/* line 255, scss/_960_12_col.scss */
.container_12 .push_9 {
  left: 720px;
}

/* line 259, scss/_960_12_col.scss */
.container_12 .push_10 {
  left: 800px;
}

/* line 263, scss/_960_12_col.scss */
.container_12 .push_11 {
  left: 880px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
/* line 270, scss/_960_12_col.scss */
.container_12 .pull_1 {
  left: -80px;
}

/* line 274, scss/_960_12_col.scss */
.container_12 .pull_2 {
  left: -160px;
}

/* line 278, scss/_960_12_col.scss */
.container_12 .pull_3 {
  left: -240px;
}

/* line 282, scss/_960_12_col.scss */
.container_12 .pull_4 {
  left: -320px;
}

/* line 286, scss/_960_12_col.scss */
.container_12 .pull_5 {
  left: -400px;
}

/* line 290, scss/_960_12_col.scss */
.container_12 .pull_6 {
  left: -480px;
}

/* line 294, scss/_960_12_col.scss */
.container_12 .pull_7 {
  left: -560px;
}

/* line 298, scss/_960_12_col.scss */
.container_12 .pull_8 {
  left: -640px;
}

/* line 302, scss/_960_12_col.scss */
.container_12 .pull_9 {
  left: -720px;
}

/* line 306, scss/_960_12_col.scss */
.container_12 .pull_10 {
  left: -800px;
}

/* line 310, scss/_960_12_col.scss */
.container_12 .pull_11 {
  left: -880px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 319, scss/_960_12_col.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
/* line 333, scss/_960_12_col.scss */
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

/* line 345, scss/_960_12_col.scss */
.clearfix:after,
.container_12:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
/* line 355, scss/_960_12_col.scss */
.clearfix,
.container_12 {
  zoom: 1;
}

/*
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
/* line 10, scss/_bootstrap-datetimepicker.min.scss */
.clearfix {
  *zoom: 1;
}
/* line 12, scss/_bootstrap-datetimepicker.min.scss */
.clearfix:before {
  display: table;
  content: "";
  line-height: 0;
}
/* line 17, scss/_bootstrap-datetimepicker.min.scss */
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

/* line 25, scss/_bootstrap-datetimepicker.min.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 33, scss/_bootstrap-datetimepicker.min.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget {
  top: 0;
  left: 0;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 3000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 53, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget.pull-right:before {
  left: auto;
  right: 6px;
}
/* line 57, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget.pull-right:after {
  left: auto;
  right: 7px;
}
/* line 62, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget > ul {
  list-style-type: none;
  margin: 0;
}
/* line 66, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 71, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator {
  width: 4px;
  padding: 0;
  margin: 0;
}
/* line 76, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget .datepicker > div {
  display: none;
}
/* line 79, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}
/* line 82, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}
/* line 86, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 95, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover {
  background: #eee;
  cursor: pointer;
}
/* line 99, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new {
  color: #999;
}
/* line 102, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td.active {
  color: #fff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #ff9e41, #f5691d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9e41), to(#f5691d));
  background-image: -webkit-linear-gradient(top, #ff9e41, #f5691d);
  background-image: -o-linear-gradient(top, #ff9e41, #f5691d);
  background-image: linear-gradient(to bottom, #ff9e41, #f5691d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9e41',endColorstr='#fff45b13',GradientType=0);
  border-color: #04c #04c #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #04c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 118, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td.active:hover {
  color: #fff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #ff9e41, #f5691d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9e41), to(#f5691d));
  background-image: -webkit-linear-gradient(top, #ff9e41, #f5691d);
  background-image: -o-linear-gradient(top, #ff9e41, #f5691d);
  background-image: linear-gradient(to bottom, #ff9e41, #f5691d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9e41',endColorstr='#fff45b13',GradientType=0);
  border-color: #04c #04c #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #04c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  background-color: #04c;
  *background-color: #003bb3;
}
/* line 138, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active, .bootstrap-datetimepicker-widget td.active.disabled, .bootstrap-datetimepicker-widget td.active:hover.disabled, .bootstrap-datetimepicker-widget td.active[disabled], .bootstrap-datetimepicker-widget td.active:hover[disabled] {
  color: #fff;
  background-color: #04c;
  *background-color: #003bb3;
}
/* line 143, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active {
  background-color: #039 \9;
}
/* line 147, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td.disabled {
  background: 0;
  color: #999;
  cursor: not-allowed;
}
/* line 151, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td.disabled:hover {
  background: 0;
  color: #999;
  cursor: not-allowed;
}
/* line 157, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 168, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td span:hover {
  background: #eee;
}
/* line 171, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td span.active {
  color: #fff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #ff9e41, #f5691d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9e41), to(#f5691d));
  background-image: -webkit-linear-gradient(top, #ff9e41, #f5691d);
  background-image: -o-linear-gradient(top, #ff9e41, #f5691d);
  background-image: linear-gradient(to bottom, #ff9e41, #f5691d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9e41',endColorstr='#fff45b13',GradientType=0);
  border-color: #04c #04c #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #04c;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 187, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td span.active:hover, .bootstrap-datetimepicker-widget td span.active:active, .bootstrap-datetimepicker-widget td span.active.active, .bootstrap-datetimepicker-widget td span.active.disabled, .bootstrap-datetimepicker-widget td span.active[disabled] {
  color: #fff;
  background-color: #04c;
  *background-color: #003bb3;
}
/* line 192, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td span.active:active, .bootstrap-datetimepicker-widget td span.active.active {
  background-color: #039 \9;
}
/* line 196, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td span.old {
  color: #999;
}
/* line 199, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td span.disabled {
  background: 0;
  color: #999;
  cursor: not-allowed;
}
/* line 203, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget td span.disabled:hover {
  background: 0;
  color: #999;
  cursor: not-allowed;
}
/* line 212, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget th.switch {
  width: 145px;
}
/* line 215, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget th.next, .bootstrap-datetimepicker-widget th.prev {
  font-size: 21px;
}
/* line 218, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget th.disabled {
  background: 0;
  color: #999;
  cursor: not-allowed;
}
/* line 222, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget th.disabled:hover {
  background: 0;
  color: #999;
  cursor: not-allowed;
}
/* line 229, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget thead tr:first-child th {
  cursor: pointer;
}
/* line 231, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
  background: #eee;
}

/* line 237, scss/_bootstrap-datetimepicker.min.scss */
.input-append.date .add-on i, .input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* line 245, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget.left-oriented:before {
  left: auto;
  right: 6px;
}
/* line 249, scss/_bootstrap-datetimepicker.min.scss */
.bootstrap-datetimepicker-widget.left-oriented:after {
  left: auto;
  right: 7px;
}

/*.bootstrap-datetimepicker-widget:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);position:absolute;top:-7px;left:6px}
.bootstrap-datetimepicker-widget:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px}*/
/*@import "_960_12_col_rtl";*/
/* ===== FONTS ===== */
@font-face {
  font-family: 'cartogothic_stdbold';
  src: url("fonts/CartoGothicStd-Bold-webfont.eot");
  src: url("fonts/CartoGothicStd-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CartoGothicStd-Bold-webfont.woff") format("woff"), url("fonts/CartoGothicStd-Bold-webfont.ttf") format("truetype"), url("fonts/CartoGothicStd-Bold-webfont.svg#cartogothic_stdbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cartogothic_stdbold_italic';
  src: url("fonts/CartoGothicStd-BoldItalic-webfont.eot");
  src: url("fonts/CartoGothicStd-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CartoGothicStd-BoldItalic-webfont.woff") format("woff"), url("fonts/CartoGothicStd-BoldItalic-webfont.ttf") format("truetype"), url("fonts/CartoGothicStd-BoldItalic-webfont.svg#cartogothic_stdbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cartogothic_stdregular';
  src: url("fonts/CartoGothicStd-Book-webfont.eot");
  src: url("fonts/CartoGothicStd-Book-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CartoGothicStd-Book-webfont.woff") format("woff"), url("fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"), url("fonts/CartoGothicStd-Book-webfont.svg#cartogothic_stdregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cartogothic_stditalic';
  src: url("fonts/CartoGothicStd-Italic-webfont.eot");
  src: url("fonts/CartoGothicStd-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/CartoGothicStd-Italic-webfont.woff") format("woff"), url("fonts/CartoGothicStd-Italic-webfont.ttf") format("truetype"), url("fonts/CartoGothicStd-Italic-webfont.svg#cartogothic_stditalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ===== / FONTS ===== */
/* ===== Base Formatting ===== */
/* line 55, scss/imran.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 56, scss/imran.scss */
*::selection {
  color: #bf1222;
  background-color: #ff651c;
}
/* line 60, scss/imran.scss */
*::-moz-selection {
  color: white;
  background: #ff651c;
}
/* line 64, scss/imran.scss */
*::selection {
  color: white;
  background: #ff651c;
}

/* line 74, scss/imran.scss */
html {
  height: 100%;
}

/* line 77, scss/imran.scss */
body {
  height: 100%;
  background: #000;
  line-height: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  color: #484848;
}

/* line 85, scss/imran.scss */
*:after {
  content: '';
}
/* line 88, scss/imran.scss */
*:before {
  content: '';
}

/* line 92, scss/imran.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "cartogothic_stdregular", Arial, Helvetica, sans-serif;
  color: #494949;
  line-height: 1.1em;
  font-weight: normal;
  margin: 0px;
}

/* line 99, scss/imran.scss */
h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 104, scss/imran.scss */
h1 span {
  display: block;
  font-size: 26px;
}

/* line 109, scss/imran.scss */
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #484848;
  line-height: 1.3em;
  margin-bottom: 27px;
  margin-top: 0px;
}

/* line 117, scss/imran.scss */
a, a:visited {
  color: #ff651c;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 122, scss/imran.scss */
a:hover, a:visited:hover {
  color: #ff884f;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 126, scss/imran.scss */
a:active, a:visited:active {
  color: #e84b00;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 131, scss/imran.scss */
.main_content {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 100px;
}

/* line 136, scss/imran.scss */
.top_bar {
  margin-bottom: 40px;
  clear: both;
  *zoom: 1;
}
/* line 139, scss/imran.scss */
.top_bar:before, .top_bar:after {
  content: " ";
  display: table;
}
/* line 140, scss/imran.scss */
.top_bar:after {
  clear: both;
}

/* line 142, scss/imran.scss */
.breadcrumbs {
  display: block;
  font-family: "cartogothic_stdregular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #484848;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
/* line 152, scss/imran.scss */
.breadcrumbs li {
  display: inline-block;
  padding-right: 15px;
  position: relative;
  float: left;
}
/* line 158, scss/imran.scss */
.breadcrumbs li:after {
  content: '>';
  display: block;
  width: 5px;
  height: 8px;
  position: absolute;
  top: 2px;
  right: 5px;
}
/* line 169, scss/imran.scss */
.breadcrumbs li:last-child:after {
  display: none;
}
/* line 173, scss/imran.scss */
.breadcrumbs li a {
  display: inline-block;
  text-decoration: none;
}

/* line 181, scss/imran.scss */
.grid_12 .user_mini_details {
  float: right;
}
/* line 183, scss/imran.scss */
.grid_12 .user_mini_details .name {
  float: none;
}
/* line 186, scss/imran.scss */
.grid_12 .user_mini_details .details {
  float: right;
}

/* line 192, scss/imran.scss */
.user_mini_details {
  display: inline-block;
}
/* line 194, scss/imran.scss */
.user_mini_details .name {
  display: inline-block;
  font-size: 24px;
  font-family: "cartogothic_stdregular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: block;
  font-weight: normal;
}
/* line 202, scss/imran.scss */
.user_mini_details .details {
  font-size: 13px;
  color: #8d8d8d;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
}
/* line 210, scss/imran.scss */
.user_mini_details .details li {
  display: inline-block;
  padding-right: 20px;
  position: relative;
  float: left;
}
/* line 216, scss/imran.scss */
.user_mini_details .details li:last-child, .user_mini_details .details li.last {
  padding-right: 0px;
}
/* line 218, scss/imran.scss */
.user_mini_details .details li:last-child:after, .user_mini_details .details li.last:after {
  display: none;
}
/* line 223, scss/imran.scss */
.user_mini_details .details li span {
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #484848;
}
/* line 229, scss/imran.scss */
.user_mini_details .details li:after {
  content: '|';
  display: block;
  position: absolute;
  top: 0px;
  right: 8px;
  color: #e1e1e1;
}

/* line 241, scss/imran.scss */
.btn_orange, .btn_orange:visited, .btn_blue, .btn_blue:visited {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 7px 45px 7px 18px;
  display: inline-block;
  min-width: 130px;
  position: relative;
  white-space: nowrap;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #f87525;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border: solid 1px #bc3200;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9f42), color-stop(100%, #f04504));
  background-image: -webkit-linear-gradient(top, #ff9f42, #f04504);
  background-image: -moz-linear-gradient(top, #ff9f42, #f04504);
  background-image: -o-linear-gradient(top, #ff9f42, #f04504);
  background-image: linear-gradient(top, #ff9f42, #f04504);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF9F42', endColorstr='#FFF04504');
  text-shadow: 1px 1px 3px rgba(188, 75, 0, 0.75);
}
/* line 266, scss/imran.scss */
.btn_orange:after, .btn_orange:visited:after, .btn_blue:after, .btn_blue:visited:after {
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -12px;
  margin-left: 14px;
  background-color: #fff;
  background-image: url("../images/small_orange_arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 283, scss/imran.scss */
.btn_orange:hover, .btn_orange:visited:hover, .btn_blue:hover, .btn_blue:visited:hover {
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9f42), color-stop(100%, #ff4c05));
  background-image: -webkit-linear-gradient(top, #ff9f42, #ff4c05);
  background-image: -moz-linear-gradient(top, #ff9f42, #ff4c05);
  background-image: -o-linear-gradient(top, #ff9f42, #ff4c05);
  background-image: linear-gradient(top, #ff9f42, #ff4c05);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF9F42', endColorstr='#FFFF4C05');
}
/* line 288, scss/imran.scss */
.btn_orange:active, .btn_orange:visited:active, .btn_blue:active, .btn_blue:visited:active {
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ff9f42), color-stop(100%, #ff5917));
  background-image: -webkit-linear-gradient(bottom, #ff9f42, #ff5917);
  background-image: -moz-linear-gradient(bottom, #ff9f42, #ff5917);
  background-image: -o-linear-gradient(bottom, #ff9f42, #ff5917);
  background-image: linear-gradient(bottom, #ff9f42, #ff5917);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF5917', endColorstr='#FFFF9F42');
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 295, scss/imran.scss */
.btn_orange.btn_small, .btn_orange:visited.btn_small, .btn_blue.btn_small, .btn_blue:visited.btn_small {
  padding: 5px 45px 5px 18px;
  min-width: 152px;
}
/* line 298, scss/imran.scss */
.btn_orange.btn_small:after, .btn_orange:visited.btn_small:after, .btn_blue.btn_small:after, .btn_blue:visited.btn_small:after {
  width: 20px;
  height: 20px;
  margin-top: -10px;
}
/* line 304, scss/imran.scss */
.btn_orange.btn_smaller, .btn_orange:visited.btn_smaller, .btn_blue.btn_smaller, .btn_blue:visited.btn_smaller {
  font-size: 11px;
  line-height: 1.1em;
  padding: 5px 25px 5px 10px;
  min-width: 0px;
}
/* line 309, scss/imran.scss */
.btn_orange.btn_smaller:after, .btn_orange:visited.btn_smaller:after, .btn_blue.btn_smaller:after, .btn_blue:visited.btn_smaller:after {
  height: 12px;
  width: 12px;
  margin-top: -6px;
  background-image: url("../images/smaller_orange_arrow.png");
}

/* line 317, scss/imran.scss */
.btn_blue, .btn_blue:visited {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #21848d;
  border: solid 1px #21638d;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #1f7498), color-stop(99%, #7dd5ee));
  background-image: -webkit-linear-gradient(bottom, #1f7498, #7dd5ee 99%);
  background-image: -moz-linear-gradient(bottom, #1f7498, #7dd5ee 99%);
  background-image: -o-linear-gradient(bottom, #1f7498, #7dd5ee 99%);
  background-image: linear-gradient(bottom, #1f7498, #7dd5ee 99%);
  font-size: 10px;
  font-weight: normal;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
}
/* line 323, scss/imran.scss */
.btn_blue:hover, .btn_blue:visited:hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #4197b7), color-stop(99%, #7dd5ee));
  background-image: -webkit-linear-gradient(bottom, #4197b7, #7dd5ee 99%);
  background-image: -moz-linear-gradient(bottom, #4197b7, #7dd5ee 99%);
  background-image: -o-linear-gradient(bottom, #4197b7, #7dd5ee 99%);
  background-image: linear-gradient(bottom, #4197b7, #7dd5ee 99%);
}
/* line 326, scss/imran.scss */
.btn_blue:active, .btn_blue:visited:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4197b7), color-stop(99%, #7dd5ee));
  background-image: -webkit-linear-gradient(top, #4197b7, #7dd5ee 99%);
  background-image: -moz-linear-gradient(top, #4197b7, #7dd5ee 99%);
  background-image: -o-linear-gradient(top, #4197b7, #7dd5ee 99%);
  background-image: linear-gradient(top, #4197b7, #7dd5ee 99%);
}
/* line 330, scss/imran.scss */
.btn_blue.btn_smaller:after, .btn_blue:visited.btn_smaller:after {
  background-image: url("../images/smaller_blue_arrow.png");
}

/* ===== / Base Formatting ===== */
/* ===== Modules Css ===== */
/* line 339, scss/imran.scss */
.aside_menu {
  display: block;
  width: 100%;
}
/* line 342, scss/imran.scss */
.aside_menu ul.aside_menu_ul {
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding-left: 22px;
  margin-left: -16px;
  background: url("../images/side_menu_bg.png") repeat-y center left;
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px;
}
/* line 354, scss/imran.scss */
.aside_menu ul.aside_menu_ul:after {
  position: absolute;
  top: -15px;
  left: 0px;
  background: url("../images/side_menu_bg_top.png") no-repeat center left;
  width: 6px;
  height: 16px;
}
/* line 362, scss/imran.scss */
.aside_menu ul.aside_menu_ul:before {
  position: absolute;
  bottom: -15px;
  left: 0px;
  background: url("../images/side_menu_bg_bot.png") no-repeat center left;
  width: 6px;
  height: 16px;
}
/* line 371, scss/imran.scss */
.aside_menu ul.aside_menu_ul li {
  display: block;
  margin-bottom: 18px;
}
/* line 376, scss/imran.scss */
.aside_menu ul.aside_menu_ul li.current a {
  color: #ff651c;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  position: relative;
}
/* line 381, scss/imran.scss */
.aside_menu ul.aside_menu_ul li.current a:after {
  background: url("../images/side_menu_active.png") repeat-y center left;
  width: 14px;
  height: 17px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: -22px;
}
/* line 393, scss/imran.scss */
.aside_menu ul.aside_menu_ul li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #484848;
  font-size: 13px;
  font-family: 'cartogothic_stdregular' , Arial, Helvetica, sans-serif;
}
/* line 401, scss/imran.scss */
.aside_menu ul.aside_menu_ul li a:hover {
  color: #ff651c;
}
/* line 404, scss/imran.scss */
.aside_menu ul.aside_menu_ul li a:active {
  color: #e84b00;
}

/* line 412, scss/imran.scss */
.grey_box {
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: solid 1px #ddd;
  padding: 10px;
  margin-bottom: 30px;
  clear: both;
  *zoom: 1;
}
/* line 422, scss/imran.scss */
.grey_box:before, .grey_box:after {
  content: " ";
  display: table;
}
/* line 423, scss/imran.scss */
.grey_box:after {
  clear: both;
}
/* line 425, scss/imran.scss */
.grey_box:last-child {
  margin-bottom: 0px;
}
/* line 429, scss/imran.scss */
.grey_box .indent {
  padding: 25px 20px 0 20px;
}
/* line 433, scss/imran.scss */
.grey_box .white_box {
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #ddd;
  margin-bottom: 12px;
  clear: both;
  *zoom: 1;
}
/* line 441, scss/imran.scss */
.grey_box .white_box:before, .grey_box .white_box:after {
  content: " ";
  display: table;
}
/* line 442, scss/imran.scss */
.grey_box .white_box:after {
  clear: both;
}
/* line 444, scss/imran.scss */
.grey_box .white_box:last-child {
  margin-bottom: 0px;
}

/* line 451, scss/imran.scss */
.events_module .grey_box {
  padding-bottom: 50px;
}
/* line 455, scss/imran.scss */
.events_module h2 {
  text-transform: uppercase;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-size: 21px;
  margin-bottom: 5px;
}
/* line 461, scss/imran.scss */
.events_module p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
/* line 465, scss/imran.scss */
.events_module .slider {
  display: block;
  margin-top: 0px;
  position: relative;
  text-align: left;
  padding: 40px 20px 20px 20px;
  position: relative;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 477, scss/imran.scss */
.events_module .slider h3 {
  font-size: 36px;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
/* line 481, scss/imran.scss */
.events_module .slider h3 a {
  color: #484848;
  text-decoration: none;
}
/* line 485, scss/imran.scss */
.events_module .slider h3 a:hover {
  color: #ff651c;
}
/* line 490, scss/imran.scss */
.events_module .slider .image_holder {
  float: left;
  margin-right: 20px;
}
/* line 494, scss/imran.scss */
.events_module .slider .details {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  min-height: 200px;
  padding-bottom: 50px;
  position: relative;
}
/* line 502, scss/imran.scss */
.events_module .slider .details .btn_orange {
  position: absolute;
  bottom: 0px;
}
/* line 506, scss/imran.scss */
.events_module .slider .details h4 {
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 511, scss/imran.scss */
.events_module .slider .details h4 a {
  color: #484848;
  text-decoration: none;
}
/* line 515, scss/imran.scss */
.events_module .slider .details h4 a:hover {
  color: #ff651c;
}
/* line 520, scss/imran.scss */
.events_module .slider .details .info {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
/* line 527, scss/imran.scss */
.events_module .slider .details .info span {
  font-weight: bold;
}
/* line 531, scss/imran.scss */
.events_module .slider .details .info li a {
  margin-left: 5px;
}
/* line 536, scss/imran.scss */
.events_module .slider .details p {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 542, scss/imran.scss */
.events_module ol.bjqs-markers.h-centered {
  height: auto;
  padding: 0;
  position: absolute;
  top: -30px;
  right: -10px;
  width: 100%;
  clear: both;
  *zoom: 1;
  border: 1px solid #dddddd;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: auto;
  min-height: 27px;
  padding: 8px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 551, scss/imran.scss */
.events_module ol.bjqs-markers.h-centered:before, .events_module ol.bjqs-markers.h-centered:after {
  content: " ";
  display: table;
}
/* line 552, scss/imran.scss */
.events_module ol.bjqs-markers.h-centered:after {
  clear: both;
}
/* line 565, scss/imran.scss */
.events_module ol.bjqs-markers.h-centered li {
  display: inline-block;
  position: static;
  float: none;
  margin-right: 4px;
  width: 10px;
  height: 10px;
}
/* line 573, scss/imran.scss */
.events_module ol.bjqs-markers.h-centered li a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: #6c6c6c;
  width: 10px;
  height: 10px;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -5px;
}
/* line 585, scss/imran.scss */
.events_module ol.bjqs-markers.h-centered li.active-marker a {
  background: #ff651c;
}
/* line 589, scss/imran.scss */
.events_module ol.bjqs-markers.h-centered li:last-child {
  margin-right: 0px;
}

/* line 595, scss/imran.scss */
.grey_info_bar {
  display: block;
  background: #484848;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding: 10px;
  margin-top: 30px;
  position: relative;
  text-align: center;
}
/* line 605, scss/imran.scss */
.grey_info_bar:after {
  display: block;
  width: 18px;
  height: 11px;
  position: absolute;
  top: -10px;
  left: 61%;
  background: url("../images/grey_arrow_top.png") no-repeat center center;
}

/* line 615, scss/imran.scss */
.list_style_1, .list_style_2 {
  padding: 0px;
  margin: 0px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
/* line 621, scss/imran.scss */
.list_style_1 .grey_info_bar:after, .list_style_2 .grey_info_bar:after {
  left: 91%;
}
/* line 624, scss/imran.scss */
.list_style_1 h4, .list_style_2 h4 {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}
/* line 631, scss/imran.scss */
.list_style_1 li, .list_style_2 li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #d5d4d4;
  padding: 25px 15px;
}
/* line 640, scss/imran.scss */
.list_style_1 .image_holder,
.list_style_1 .details,
.list_style_1 .description,
.list_style_1 .action, .list_style_2 .image_holder,
.list_style_2 .details,
.list_style_2 .description,
.list_style_2 .action {
  display: table-cell;
  vertical-align: top;
}
/* line 644, scss/imran.scss */
.list_style_1 .image_holder, .list_style_2 .image_holder {
  padding-right: 10px;
}
/* line 646, scss/imran.scss */
.list_style_1 .image_holder img, .list_style_2 .image_holder img {
  display: block;
}
/* line 650, scss/imran.scss */
.list_style_1 .details, .list_style_2 .details {
  padding-right: 30px;
  width: 150px;
  font-size: 12px;
  color: #6c6c6c;
}
/* line 655, scss/imran.scss */
.list_style_1 .details strong, .list_style_2 .details strong {
  font-size: 11px;
  text-transform: uppercase;
  color: #484848;
}
/* line 660, scss/imran.scss */
.list_style_1 .details span, .list_style_2 .details span {
  color: #484848;
  font-weight: bold;
}
/* line 665, scss/imran.scss */
.list_style_1 .description, .list_style_2 .description {
  padding-right: 30px;
}
/* line 668, scss/imran.scss */
.list_style_1 .action, .list_style_2 .action {
  min-width: 110px;
  vertical-align: middle;
}
/* line 671, scss/imran.scss */
.list_style_1 .action .orange_btn, .list_style_2 .action .orange_btn {
  min-width: 100px;
  margin-bottom: 10px;
}
/* line 675, scss/imran.scss */
.list_style_1 .action .orange_btn:last-child, .list_style_2 .action .orange_btn:last-child {
  margin-bottom: 0px;
}

/* line 681, scss/imran.scss */
.list_style_2 {
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 687, scss/imran.scss */
.list_style_2 li {
  padding: 0px;
  border-bottom: 0px;
  margin-bottom: 10px;
}
/* line 691, scss/imran.scss */
.list_style_2 li:last-child {
  margin-bottom: 0px;
}
/* line 696, scss/imran.scss */
.list_style_2 .white_box {
  padding: 30px;
}
/* line 699, scss/imran.scss */
.list_style_2 h4 {
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 21px;
  text-transform: uppercase;
}
/* line 705, scss/imran.scss */
.list_style_2 h4 .highlight {
  color: #ff651c;
}
/* line 709, scss/imran.scss */
.list_style_2 h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #484848;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 716, scss/imran.scss */
.list_style_2 h5 span {
  display: block;
  font-weight: normal;
  text-transform: none;
  font-size: 12px;
  margin-top: 4px;
}
/* line 724, scss/imran.scss */
.list_style_2 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #484848;
}
/* line 729, scss/imran.scss */
.list_style_2 p:last-child {
  margin-bottom: 0px;
}
/* line 733, scss/imran.scss */
.list_style_2 .table-layout {
  display: table;
  width: 100%;
}
/* line 737, scss/imran.scss */
.list_style_2 .image_holder {
  width: 215px;
}
/* line 740, scss/imran.scss */
.list_style_2 .action {
  vertical-align: bottom;
}
/* line 742, scss/imran.scss */
.list_style_2 .action .btn_list {
  float: right;
  margin-bottom: 12px;
  clear: right;
}
/* line 747, scss/imran.scss */
.list_style_2 .action .btn_orange {
  float: right;
}
/* line 751, scss/imran.scss */
.list_style_2 .details {
  width: auto;
}
/* line 753, scss/imran.scss */
.list_style_2 .details h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #484848;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 760, scss/imran.scss */
.list_style_2 .details h5 span {
  display: block;
  font-weight: normal;
  text-transform: none;
  font-size: 12px;
  margin-top: 4px;
}
/* line 769, scss/imran.scss */
.list_style_2 .align_bottom {
  display: block;
  float: right;
  clear: both;
  *zoom: 1;
}
/* line 774, scss/imran.scss */
.list_style_2 .align_bottom:before, .list_style_2 .align_bottom:after {
  content: " ";
  display: table;
}
/* line 775, scss/imran.scss */
.list_style_2 .align_bottom:after {
  clear: both;
}
/* line 777, scss/imran.scss */
.list_style_2 .amount {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #484848;
  margin-top: 15px;
}
/* line 784, scss/imran.scss */
.list_style_2 .amount span {
  display: block;
  font-size: 31px;
  line-height: 1em;
}
/* line 789, scss/imran.scss */
.list_style_2 .amount small {
  font-weight: normal;
  font-size: 12px;
}

/* line 795, scss/imran.scss */
.btn_list, .btn_previous, .btn_next {
  display: block;
  backgroundL: #ffffff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #404040;
  font-family: 'cartogothic_stdregular' , Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  position: relative;
  margin-left: 30px;
  line-height: 1.2em;
  height: 28px;
}
/* line 800, scss/imran.scss */
.btn_list:visited, .btn_previous:visited, .btn_next:visited {
  color: #404040;
}
/* line 811, scss/imran.scss */
.btn_list:after, .btn_previous:after, .btn_next:after {
  display: block;
  background: #ffffff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  width: 26px;
  height: 28px;
  background: url("../images/list_icon.png") no-repeat 3px 6px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: -28px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 834, scss/imran.scss */
.btn_previous:after {
  background: url("../images/small_orange_arrow_left.png") no-repeat 8px center;
}

/* line 838, scss/imran.scss */
.btn_next {
  margin-left: 0px;
  margin-right: 30px;
}
/* line 841, scss/imran.scss */
.btn_next:after {
  background: url("../images/small_orange_arrow_right.png") no-repeat 8px center;
  right: -28px;
  left: auto;
}

/* line 848, scss/imran.scss */
.alert_info {
  display: inline-block;
  padding-left: 35px;
  background: url("../images/alert_icon.png") no-repeat center left;
  margin-bottom: 18px;
  color: #fd0000;
  min-height: 32px;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  line-height: 1.8em;
}

/* Helpers Classes */
/* line 859, scss/imran.scss */
.fr {
  float: right;
}

/* line 862, scss/imran.scss */
.fl {
  float: left;
}

/* line 865, scss/imran.scss */
.margin-top-20 {
  margin-top: 20px;
}

/* line 868, scss/imran.scss */
.margin-top-negative-10 {
  margin-top: -10px;
}

/* line 871, scss/imran.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 874, scss/imran.scss */
.margin-bottom-30 {
  margin-bottom: 20px;
}

/* Helpers Classes -- END */
/* line 879, scss/imran.scss */
.profile_module .btn_smaller, .profile_module .btn_smaller {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 883, scss/imran.scss */
.grid_10 .table_style_1 table {
  max-width: 80%;
}

/* line 886, scss/imran.scss */
.table_style_1 {
  width: 100%;
}
/* line 889, scss/imran.scss */
.table_style_1.signup_form {
  width: 100%;
}
/* line 892, scss/imran.scss */
.table_style_1 th {
  font-family: 'cartogothic_stdregular' , Arial, Helvetica, sans-serif;
  background: #484848;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
}
/* line 902, scss/imran.scss */
.table_style_1 td {
  padding: 18px 12px;
}
/* line 905, scss/imran.scss */
.table_style_1 table {
  margin: 25px 70px;
}
/* line 907, scss/imran.scss */
.table_style_1 table td {
  font-size: 13px;
  color: #464646;
}
/* line 910, scss/imran.scss */
.table_style_1 table td:first-child {
  text-align: right;
  width: 160px;
}

/* line 918, scss/imran.scss */
.history_module h2 {
  text-transform: uppercase;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-size: 21px;
  margin-bottom: 5px;
}
/* line 924, scss/imran.scss */
.history_module P {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
/* line 929, scss/imran.scss */
.history_module .indent p:last-child {
  margin-bottom: 8px;
}
/* line 933, scss/imran.scss */
.history_module .white_box {
  padding: 25px;
}
/* line 936, scss/imran.scss */
.history_module .adobe_reader {
  display: block;
  font-size: 13px;
  color: #6c6c6c;
  font-family: Verdana, Geneva, sans-serif;
  padding-left: 140px;
  position: relative;
  margin-top: 18px;
  margin-bottom: 10px;
}
/* line 945, scss/imran.scss */
.history_module .adobe_reader:after {
  background: url("../images/adobe_reader_icon.png") no-repeat center right;
  display: block;
  width: 88px;
  height: 31px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  left: 40px;
}

/* line 958, scss/imran.scss */
.table_style_2 {
  margin-bottom: 40px;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #6c6c6c;
  width: 100%;
}
/* line 968, scss/imran.scss */
.table_style_2:last-child {
  margin-bottom: 20px;
}
/* line 971, scss/imran.scss */
.table_style_2 p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #6c6c6c;
  margin-bottom: 20px;
}
/* line 976, scss/imran.scss */
.table_style_2 p:last-child {
  margin-bottom: 0px;
}
/* line 980, scss/imran.scss */
.table_style_2 th {
  background: #e2e2e2;
  color: #484848;
  text-align: left;
  text-transform: uppercase;
}
/* line 985, scss/imran.scss */
.table_style_2 th span {
  display: inline-block;
  margin-left: 15px;
}
/* line 990, scss/imran.scss */
.table_style_2 td {
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 994, scss/imran.scss */
.table_style_2 small {
  font-size: 11px;
  display: block;
  margin-bottom: 16px;
}
/* line 999, scss/imran.scss */
.table_style_2 .terms_and_conditions {
  display: block;
  margin-bottom: 10px;
}
/* line 1003, scss/imran.scss */
.table_style_2 label {
  font-size: 11px;
}
/* line 1006, scss/imran.scss */
.table_style_2 strong {
  color: #484848;
}
/* line 1009, scss/imran.scss */
.table_style_2 .grey {
  background: #f3f3f3;
  color: #484848;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
}

/* line 1018, scss/imran.scss */
.profile_module_input h1 {
  float: left;
}
/* line 1021, scss/imran.scss */
.profile_module_input .grey_box {
  margin-bottom: 20px;
}
/* line 1024, scss/imran.scss */
.profile_module_input .main-action, .profile_module_input .bot-action {
  float: right;
  margin-top: 15px;
}
/* line 1028, scss/imran.scss */
.profile_module_input .main-action a, .profile_module_input .bot-action a {
  margin-left: 13px;
}
/* line 1031, scss/imran.scss */
.profile_module_input .main-action .btn_blue, .profile_module_input .main-action .btn_orange, .profile_module_input .bot-action .btn_blue, .profile_module_input .bot-action .btn_orange {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 1033, scss/imran.scss */
.profile_module_input .main-action .btn_blue:visited, .profile_module_input .main-action .btn_orange:visited, .profile_module_input .bot-action .btn_blue:visited, .profile_module_input .bot-action .btn_orange:visited {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 1038, scss/imran.scss */
.profile_module_input .bot-action {
  margin-top: 0px;
  margin-bottom: 50px;
}
/* line 1042, scss/imran.scss */
.profile_module_input small {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2em;
}
/* line 1050, scss/imran.scss */
.profile_module_input .signup_form .form_field {
  margin-left: 70px;
}
/* line 1052, scss/imran.scss */
.profile_module_input .signup_form .form_field label {
  width: 120px;
}
/* line 1055, scss/imran.scss */
.profile_module_input .signup_form .form_field label.radio_label {
  width: auto;
}
/* line 1058, scss/imran.scss */
.profile_module_input .signup_form .form_field label.inline {
  width: 90px;
}
/* line 1062, scss/imran.scss */
.profile_module_input .signup_form .form_field small {
  margin-left: 140px;
  margin-top: 15px;
  width: 380px;
  color: #606060;
}
/* line 1068, scss/imran.scss */
.profile_module_input .signup_form .form_field .btn_orange {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 1070, scss/imran.scss */
.profile_module_input .signup_form .form_field .btn_orange.btn_smaller {
  position: relative;
  top: -2px;
}

/* line 1079, scss/imran.scss */
input[type="text"].large, input[type="password"].large {
  width: 420px;
  height: 35px;
  line-height: 24px;
}
/* line 1084, scss/imran.scss */
input[type="text"].medium, input[type="password"].medium {
  width: 263px;
  height: 35px;
  line-height: 24px;
  margin-right: 13px;
}

/* line 1092, scss/imran.scss */
select.styled-select.large {
  width: 420px;
}

/* line 1097, scss/imran.scss */
.my_offers .map {
  border: 1px solid #dfdfdd;
}
/* line 1100, scss/imran.scss */
.my_offers .book_this_offer {
  margin-top: 10px;
  display: tabel;
}
/* line 1103, scss/imran.scss */
.my_offers .book_this_offer .cell {
  display: table-cell;
  vertical-align: middle;
}
/* line 1106, scss/imran.scss */
.my_offers .book_this_offer .cell.cozy {
  padding: 0 20px;
}
/* line 1111, scss/imran.scss */
.my_offers .check_in_out {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 1115, scss/imran.scss */
.my_offers .check_in_out .cell {
  padding-right: 15px;
}
/* line 1117, scss/imran.scss */
.my_offers .check_in_out .cell label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 1123, scss/imran.scss */
.my_offers .check_in_out .cell input[type="text"] {
  display: block;
  border: 1px solid #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 140px;
  padding: 4px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 1133, scss/imran.scss */
.my_offers .check_in_out .cell .input-append {
  display: inline-block;
}
/* line 1135, scss/imran.scss */
.my_offers .check_in_out .cell .input-append input[type="text"] {
  float: left;
  text-align: center;
}
/* line 1140, scss/imran.scss */
.my_offers .check_in_out .cell .add-on {
  float: left;
  margin-left: 10px;
}
/* line 1143, scss/imran.scss */
.my_offers .check_in_out .cell .add-on i {
  background: url("../images/calendar_icon.png") no-repeat center center;
  width: 27px;
  height: 26px;
  display: block;
  cursor: pointer;
}
/* line 1153, scss/imran.scss */
.my_offers .grey_box {
  margin-bottom: 13px;
}
/* line 1155, scss/imran.scss */
.my_offers .grey_box > .cozy {
  padding: 10px 10px 15px;
}
/* line 1159, scss/imran.scss */
.my_offers .cell {
  display: table-cell;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
}
/* line 1165, scss/imran.scss */
.my_offers .cell.middle {
  width: 100%;
  text-align: center;
}
/* line 1170, scss/imran.scss */
.my_offers .nav {
  display: table;
  width: 100%;
  margin-bottom: 13px;
}
/* line 1175, scss/imran.scss */
.my_offers h2 {
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.2em;
}
/* line 1182, scss/imran.scss */
.my_offers h3 {
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.2em;
  margin-bottom: 10px;
}
/* line 1190, scss/imran.scss */
.my_offers p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 20px;
}
/* line 1195, scss/imran.scss */
.my_offers p:last-child {
  margin-bottom: 0px;
}
/* line 1199, scss/imran.scss */
.my_offers .white_box {
  padding: 32px 10px 32px 20px;
}
/* line 1201, scss/imran.scss */
.my_offers .white_box a {
  font-size: 11px;
  text-transform: uppercase;
}
/* line 1205, scss/imran.scss */
.my_offers .white_box .image {
  float: right;
  margin-left: 10px;
}
/* line 1208, scss/imran.scss */
.my_offers .white_box .image .image_holder {
  float: left;
}
/* line 1210, scss/imran.scss */
.my_offers .white_box .image .image_holder .links {
  float: right;
}
/* line 1214, scss/imran.scss */
.my_offers .white_box .image img {
  display: block;
}
/* line 1217, scss/imran.scss */
.my_offers .white_box .image .action {
  list-style: none;
  margin: 0 0 0 5px;
  padding: 0px;
  float: right;
}
/* line 1222, scss/imran.scss */
.my_offers .white_box .image .action li {
  margin-bottom: 5px;
}
/* line 1227, scss/imran.scss */
.my_offers .white_box .info {
  padding: 0px;
  margin: 5px 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

/* line 1237, scss/imran.scss */
.btn_fav, .btn_locate {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  width: 26px;
  height: 28px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: url("../images/fav_icon.png") no-repeat center top white;
  position: relative;
}
/* line 1247, scss/imran.scss */
.btn_fav:after, .btn_locate:after {
  background: url("../images/fav_icon.png") no-repeat center bottom white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: block;
  position: absolute;
  top: 0px;
  left: -1px;
  width: 26px;
  height: 28px;
  -webkit-transition: all 0.35s ease-in;
  -moz-transition: all 0.35s ease-in;
  -o-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}
/* line 1260, scss/imran.scss */
.btn_fav:hover:after, .btn_locate:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

/* line 1266, scss/imran.scss */
.btn_locate {
  background: url("../images/venue_icon.png") no-repeat center top white;
}
/* line 1268, scss/imran.scss */
.btn_locate:after {
  background: url("../images/venue_icon.png") no-repeat center bottom white;
}

/* ===== / Modules Css ===== */
/* Header Css needs to be either removed from talha.css or be integrated in it -- START */
/* line 1276, scss/imran.scss */
.header {
  display: block;
  background: black;
  border-bottom: 7px solid #ff651c;
  -webkit-box-shadow: 0 1px 4px rgba(2, 2, 2, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(2, 2, 2, 0.5);
  box-shadow: 0 1px 4px rgba(2, 2, 2, 0.5);
  position: relative;
  z-index: 100;
}

/* line 1286, scss/imran.scss */
.header-home {
  background: rgba(0, 0, 0, 0.7);
}

/* line 1291, scss/imran.scss */
.header-container {
  width: 940px;
  margin: 0 auto;
}

/* line 1296, scss/imran.scss */
.header-container .logo {
  width: 220px;
  float: left;
}
/* line 1300, scss/imran.scss */
.header-container .menu {
  width: 720px;
  float: right;
}
/* line 1306, scss/imran.scss */
.header-container ul.location {
  float: left;
  width: 330px;
  color: #959595;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
}
/* line 1314, scss/imran.scss */
.header-container ul.location li {
  list-style: none;
  line-height: 40px;
}
/* line 1319, scss/imran.scss */
.header-container ul.location li a {
  color: #959595;
  text-decoration: none;
  display: block;
}
/* line 1326, scss/imran.scss */
.header-container li.book {
  float: left;
  padding-left: 25px;
  margin-right: 15px;
  background: url(../images/book-icon.png) center left no-repeat transparent;
}
/* line 1333, scss/imran.scss */
.header-container li.casino-locator {
  float: left;
  padding-left: 25px;
  margin-right: 0px;
  background: url(../images/locator-icon.png) center left no-repeat transparent;
}
/* line 1339, scss/imran.scss */
.header-container .login {
  width: 380px;
  float: right;
  margin: 20px 0px 0 0;
}
/* line 1344, scss/imran.scss */
.header-container .login input[type="text"], .header-container .login input[type="password"] {
  color: #fff;
  font-size: 14px;
  float: left;
  width: 129px;
  padding-left: 10px;
  height: 30px;
  margin-right: 10px;
  border: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #292929;
  -webkit-box-shadow: inset 0 1px 4px #000;
  -moz-box-shadow: inset 0 1px 4px #000;
  box-shadow: inset 0 1px 4px #000;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  display: inline-block;
}
/* line 1367, scss/imran.scss */
.header-container .login input[type="button"] {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px;
  border-radius: 2px;
  -webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.35);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.35);
  background-image: -webkit-linear-gradient(bottom, #ff8638, #ff924b);
  background-image: -moz-linear-gradient(bottom, #ff8638, #ff924b);
  background-image: -o-linear-gradient(bottom, #ff8638, #ff924b);
  background-image: -ms-linear-gradient(bottom, #ff8638, #ff924b);
  background-image: linear-gradient(to top, #ff8638, #ff924b);
  width: 81px;
  height: 31px;
  float: right;
}
/* line 1386, scss/imran.scss */
.header-container ul.main-nav li {
  float: left;
  margin-right: 30px;
  list-style: none;
}
/* line 1391, scss/imran.scss */
.header-container ul.main-nav li a {
  color: #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 23px;
  padding-bottom: 16px;
}
/* line 1398, scss/imran.scss */
.header-container ul.drop a {
  display: block;
}
/* line 1401, scss/imran.scss */
.header-container ul.drop, .header-container ul.drop li, .header-container ul.drop ul {
  list-style: none;
}
/* line 1404, scss/imran.scss */
.header-container ul.drop {
  position: relative;
  z-index: 597;
  float: left;
  padding-left: 0px;
  margin-bottom: 0px;
}
/* line 1411, scss/imran.scss */
.header-container ul.drop li {
  float: left;
  line-height: 1.3em;
  vertical-align: middle;
  zoom: 1;
}
/* line 1417, scss/imran.scss */
.header-container ul.drop li.hover, .header-container ul.drop li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
/* line 1422, scss/imran.scss */
.header-container ul.drop ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: -220px;
  z-index: 598;
  width: 900px;
  background: #555;
  margin-top: 0px;
}
/* line 1432, scss/imran.scss */
.header-container ul.drop ul li {
  line-height: 45px;
}
/* line 1435, scss/imran.scss */
.header-container ul.drop ul ul {
  top: -2px;
  left: 100%;
}
/* line 1439, scss/imran.scss */
.header-container ul.drop li:hover > ul {
  visibility: visible;
}
/* line 1442, scss/imran.scss */
.header-container .signup input[type="button"] {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  border: 0px;
  border-radius: 2px;
  margin-top: 10px;
  -webkit-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 1px 1px rgba(255, 255, 255, 0.35);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.35);
  background-image: -webkit-linear-gradient(bottom, #ff8638, #ff924b);
  background-image: -moz-linear-gradient(bottom, #ff8638, #ff924b);
  background-image: -o-linear-gradient(bottom, #ff8638, #ff924b);
  background-image: -ms-linear-gradient(bottom, #ff8638, #ff924b);
  background-image: linear-gradient(to top, #ff8638, #ff924b);
  width: 81px;
  height: 31px;
}
/* line 1463, scss/imran.scss */
.header-container .slider #banner-fade, .header-container .slider #banner-slide {
  margin-bottom: 0px;
}
/* line 1467, scss/imran.scss */
.header-container .slider .caption .btn_orange, .header-container .slider .caption .btn_orange:visited {
  min-width: 250px;
  font-size: 10px;
}

/* line 1474, scss/imran.scss */
.signup_form input[type="text"], .signup_form input[type="password"] {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding-left: 10px;
}

/* Header Css needs to be either removed from talha.css or be integrated in it -- END */
/* line 1482, scss/imran.scss */
.bootstrap-datetimepicker-widget:after {
  background: url("../images/white_arrow_top.png") no-repeat center center;
  position: absolute;
  top: -4px;
  left: 15px;
  display: block;
  width: 20px;
  height: 9px;
}

/* line 1492, scss/imran.scss */
.bootstrap-datetimepicker-widget table td {
  padding: 5px 4px;
}
/* line 1496, scss/imran.scss */
.bootstrap-datetimepicker-widget table thead th {
  padding-bottom: 8px;
}
/* line 1499, scss/imran.scss */
.bootstrap-datetimepicker-widget table thead .dow {
  padding-bottom: 10px;
}

/* line 1504, scss/imran.scss */
.bootstrap-datetimepicker-widget .datepicker {
  background: #fff;
  border: 1px solid #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 15px 0;
  font-size: 13px;
}

/* line 1511, scss/imran.scss */
.bootstrap-datetimepicker-widget {
  display: none;
  margin-left: -12px;
}

/* line 1515, scss/imran.scss */
.row {
  display: table;
  width: 100%;
}
/* line 1518, scss/imran.scss */
.row .cell {
  display: table-cell;
}

/* line 1522, scss/imran.scss */
.info_box {
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #b3b3b3;
  padding: 15px;
  position: relative;
}
/* line 1530, scss/imran.scss */
.info_box:after {
  display: block;
  width: 18px;
  height: 11px;
  background: url("../images/info_box_arrow_top.png") no-repeat center center;
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: 9px;
}

/* line 1542, scss/imran.scss */
.my-tr_module .left_arrow, .my-tr_module .right_arrow {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  background: url("../images/orange_thin_arrow_left.png");
  width: 17px;
  height: 29px;
}
/* line 1549, scss/imran.scss */
.my-tr_module .right_arrow {
  background: url("../images/orange_thin_arrow_right.png");
}
/* line 1553, scss/imran.scss */
.my-tr_module .bar_top small {
  clear: both;
  *zoom: 1;
}
/* line 1555, scss/imran.scss */
.my-tr_module .bar_top small:before, .my-tr_module .bar_top small:after {
  content: " ";
  display: table;
}
/* line 1556, scss/imran.scss */
.my-tr_module .bar_top small:after {
  clear: both;
}
/* line 1559, scss/imran.scss */
.my-tr_module .current_reward {
  display: block;
}
/* line 1562, scss/imran.scss */
.my-tr_module .current_reward .bar_bottom {
  margin-top: 10px;
}
/* line 1565, scss/imran.scss */
.my-tr_module .current_reward .bar_bottom small {
  display: table;
  width: 100%;
}
/* line 1569, scss/imran.scss */
.my-tr_module .current_reward .bar_bottom .row {
  margin-top: 15px;
}
/* line 1573, scss/imran.scss */
.my-tr_module .current_reward .bar_bottom .cell.gap {
  width: 22px;
}
/* line 1577, scss/imran.scss */
.my-tr_module .current_reward .bar_bottom .content {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.2em;
}
/* line 1586, scss/imran.scss */
.my-tr_module .current_reward .bar_bottom .info_ballons {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 55%;
}
/* line 1595, scss/imran.scss */
.my-tr_module .current_reward .bar_bottom .info_ballons li {
  margin-left: 10px;
  float: left;
}
/* line 1602, scss/imran.scss */
.my-tr_module .current_reward .bar_top {
  display: table;
  width: 100%;
  margin-bottom: 5px;
}
/* line 1607, scss/imran.scss */
.my-tr_module .current_reward .bar_top .cell {
  display: table-cell;
  vertical-align: middle;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12px;
}
/* line 1614, scss/imran.scss */
.my-tr_module .current_reward .bar_top .cell a {
  display: table-cell;
}
/* line 1617, scss/imran.scss */
.my-tr_module .current_reward .bar_top .cell .text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}
/* line 1624, scss/imran.scss */
.my-tr_module .current_reward h3 {
  font-weight: normal;
  margin-bottom: 25px;
}
/* line 1627, scss/imran.scss */
.my-tr_module .current_reward h3 span {
  display: block;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.1em;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 1635, scss/imran.scss */
.my-tr_module .current_reward h3 .amount {
  display: table-cell;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  font-size: 45px;
  line-height: 1em;
  padding-right: 5px;
}
/* line 1642, scss/imran.scss */
.my-tr_module .current_reward h3 .amount_label {
  display: table-cell;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #6c6c6c;
  line-height: 1em;
}
/* line 1651, scss/imran.scss */
.my-tr_module hr {
  border-color: #DDDDDD;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 1656, scss/imran.scss */
.my-tr_module .statistics {
  padding: 35px 20px;
}
/* line 1659, scss/imran.scss */
.my-tr_module h2 {
  font-weight: none;
  font-family: 'cartogothic_stdregular' , Arial, Helvetica, sans-serif;
  display: block;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 1.1em;
  margin-bottom: 40px;
}
/* line 1667, scss/imran.scss */
.my-tr_module h2 span {
  font-size: 16px;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  display: block;
  line-height: 1em;
}
/* line 1673, scss/imran.scss */
.my-tr_module h2 small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #6c6c6c;
  display: block;
  line-height: 1em;
}
/* line 1681, scss/imran.scss */
.my-tr_module .score {
  font-family: 'cartogothic_stdregular' , Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 50px;
}
/* line 1686, scss/imran.scss */
.my-tr_module .score span {
  font-size: 16px;
  display: block;
}
/* line 1690, scss/imran.scss */
.my-tr_module .score .amount {
  font-size: 45px;
  display: block;
  line-height: 1em;
}
/* line 1696, scss/imran.scss */
.my-tr_module .card {
  float: left;
  margin-left: 45px;
}

/* line 1701, scss/imran.scss */
.orange_bar_slider {
  display: block;
  width: 100%;
  height: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15);
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 1717, scss/imran.scss */
.orange_bar_slider .slider_picker {
  display: block;
  position: absolute;
  top: -2px;
  z-index: 4;
  left: 75%;
  cursor: pointer;
}
/* line 1728, scss/imran.scss */
.orange_bar_slider .indicate {
  display: block;
  width: 2px;
  height: 28px;
  position: absolute;
  top: 1px;
  left: 50%;
  border-right: 1px solid #fff;
  background-color: #d7d7d7;
  z-index: 3;
}
/* line 1739, scss/imran.scss */
.orange_bar_slider .indicate .amount {
  position: absolute;
  display: block;
  white-space: nowrap;
  top: -30px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12px;
}
/* line 1750, scss/imran.scss */
.orange_bar_slider .bg {
  display: bock;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  z-index: 1;
  border: 1px solid #c6c6c6;
  border-top: 1px solid #4d4d4d;
  background: url("../images/white_grey_pttrn.png") repeat center center;
  overflow: hidden;
}
/* line 1764, scss/imran.scss */
.orange_bar_slider .fill {
  display: block;
  width: 20%;
  height: 32px;
  position: absolute;
  top: -1px;
  z-index: 2;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  background-color: #ff651c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9f42), color-stop(100%, #f04504));
  background-image: -webkit-linear-gradient(top, #ff9f42, #f04504);
  background-image: -moz-linear-gradient(top, #ff9f42, #f04504);
  background-image: -o-linear-gradient(top, #ff9f42, #f04504);
  background-image: linear-gradient(top, #ff9f42, #f04504);
}
/* line 1775, scss/imran.scss */
.orange_bar_slider .fill:after {
  display: block;
  position: absolute;
  top: 0px;
  right: -16px;
  background: url("../images/orange_bar_slider_arrow.png") no-repeat center center;
  width: 16px;
  height: 30px;
}

/* line 1787, scss/imran.scss */
.tier_credit .bar_top {
  display: table;
  width: 100%;
  margin-bottom: 5px;
}
/* line 1792, scss/imran.scss */
.tier_credit .bar_top .cell {
  display: table-cell;
  text-transform: uppercase;
}
/* line 1796, scss/imran.scss */
.tier_credit .bar_top .cell .link {
  text-decoration: none;
  font-size: 15px;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
}
/* line 1803, scss/imran.scss */
.tier_credit .bar_bottom {
  margin-top: 5px;
}
/* line 1805, scss/imran.scss */
.tier_credit .bar_bottom small {
  font-size: 13px;
}
/* line 1809, scss/imran.scss */
.tier_credit .tooltip_container {
  float: right;
}
/* line 1812, scss/imran.scss */
.tier_credit .tooltip_data {
  width: 215px;
  position: absolute;
  top: -232px;
  right: 0px;
  text-transform: none;
}
/* line 1819, scss/imran.scss */
.tier_credit .tooltip_data h4 {
  font-weight: normal;
  font-size: 19px;
  font-family: 'cartogothic_stdbold' , Arial, Helvetica, sans-serif;
  margin-bottom: 14px;
}
/* line 1826, scss/imran.scss */
.tier_credit .tooltip_data p {
  font-size: 13px;
}

/* line 1831, scss/imran.scss */
.tooltip_data {
  display: block;
  background: #f0f0f0;
  border: 1px solid #484848;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 25px 10px 20px;
  -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: relative;
}
/* line 1843, scss/imran.scss */
.tooltip_data:after {
  display: block;
  width: 22px;
  height: 13px;
  background: url("../images/tooltip_arrow_bot.png") no-repeat center center;
  position: absolute;
  bottom: -13px;
  right: 15px;
}

/* line 1853, scss/imran.scss */
.tooltip_container {
  position: relative;
}
