/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, button, input, select, textarea {
	color: #222;
}
body {
	font-family: 'cartogothic_stdregular';
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ========================== Fonts ========================== */

@font-face {
    font-family: 'cartogothic_stdregular';
    src: url('CartoGothicStd-Book-webfont.eot');
    src: url('CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('CartoGothicStd-Book-webfont.woff') format('woff'),
         url('CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('CartoGothicStd-Book-webfont.svg#cartogothic_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* ========================== /Fonts ========================== */


/* ========================== Start Header ========================== */

.header {
	display: block;
	background:rgba(0,0,0,1);
	border-bottom: 7px solid #ff651c;
	-webkit-box-shadow: 0 1px 4px rgba(2,2,2,.5);
	-moz-box-shadow: 0 1px 4px rgba(2,2,2,.5);
	box-shadow: 0 1px 4px rgba(2,2,2,.5);
	position: relative;
	z-index:100;
}

.header-home {
	background:rgba(0,0,0,0.7);	
}


.header-container {
	width: 940px;
	margin: 0 auto;
}
.logo {
	width: 220px;
	float: left;
}
.menu {
	width: 720px;
	float: right;
}


ul.location {
	float: left;
	width: 260px;
	color: #959595;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px;
}
ul.location li {
	list-style: none;
	line-height: 40px;
}

ul.location li a{
	color: #959595;
	text-decoration:none;
}


li.book {
	float: left;
	padding-left: 25px;
	margin-right: 15px;
	background: url(../images/book-icon.png) center left no-repeat transparent;
}

li.casino-locator {
	float: left;
	padding-left: 25px;
	margin-right: 0px;
	background: url(../images/locator-icon.png) center left no-repeat transparent;
}
.login {
	width: 380px;
	float: right;
	margin: 20px 0px 0 0;
}
.login input[type="text"], .login input[type="password"] {
	color: #fff;
	font-size: 14px;
	float: left;
	width: 129px;
	padding-left: 10px;
	height: 30px;
	margin-right: 10px;
	border: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #292929;
	-webkit-box-shadow: inset 0 1px 4px #000;
	-moz-box-shadow: inset 0 1px 4px #000;
	box-shadow: inset 0 1px 4px #000;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,0));
}
.login input[type="button"] {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	border: 0px;
	border-radius: 2px;
	-webkit-box-shadow: inset 1px 1px rgba(255,255,255,.35);
	-moz-box-shadow: inset 1px 1px rgba(255,255,255,.35);
	box-shadow: inset 1px 1px rgba(255,255,255,.35);
	background-image: -webkit-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
	background-image: -moz-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
	background-image: -o-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
	background-image: -ms-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
	background-image: linear-gradient(to top, rgba(255,134,56,1), rgba(255,146,75,1));
	width: 81px;
	height: 31px;
}
ul.main-nav li {
	float: left;
	margin-right: 30px;
	list-style: none;
}
ul.main-nav li a {
	color: #cccccc;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 23px;
	padding-bottom: 16px;
}
ul.drop a {
	display: block;
}
ul.drop, ul.drop li, ul.drop ul {
	list-style: none;
}
ul.drop {
	position: relative;
	z-index: 597;
	float: left;
	padding-left: 0px;
	margin-bottom: 0px;
}
ul.drop li {
	float: left;
	line-height: 1.3em;
	vertical-align: middle;
	zoom: 1;
}
ul.drop li.hover, ul.drop li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}
ul.drop ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: -220px;
	z-index: 598;
	width: 900px;
	background: #555;
	margin-top: 0px;
}
ul.drop ul li {
	line-height: 45px;
}
ul.drop ul ul {
	top: -2px;
	left: 100%;
}
ul.drop li:hover > ul {
	visibility: visible
}
.signup input[type="button"] {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	float: right;
	border: 0px;
	border-radius: 2px;
	margin-top: 10px;
	-webkit-box-shadow: inset 1px 1px rgba(255,255,255,.35);
	-moz-box-shadow: inset 1px 1px rgba(255,255,255,.35);
	box-shadow: inset 1px 1px rgba(255,255,255,.35);
	background-image: -webkit-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
	background-image: -moz-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
	background-image: -o-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
	background-image: -ms-linear-gradient(bottom, rgba(255,134,56,1), rgba(255,146,75,1));
	background-image: linear-gradient(to top, rgba(255,134,56,1), rgba(255,146,75,1));
	width: 81px;
	height: 31px;
}
/* ========================== End Header ========================== */



/* ========================== Slider ========================== */
.slider {
	position: relative;
	margin-top: -115px;
	z-index: 99;
	width: 100%;
	text-align: center;
	display: inline-block;
}

/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{
	text-align: right;
	width: 940px;
	margin: 0 auto;
	position: relative;
	bottom: 488px;
}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:72px;}



#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:0 7px;
	border-radius:100px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
	text-indent:-999em;
	line-height: 14px;
	font-size: 0px;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(0,0,0,0.65);
}

.caption {
	background: rgba(0,0,0,0.65);
	margin: 0px;
	padding: 20px 0;
	position: absolute;
	display: block;
	width: 100%;
	bottom: 72px;
}

.caption-container {
	width: 940px;
	margin: 0 auto;
	text-align: left;
	display: inline-block;
}

.caption h1 {
	color: #ff651c;
	font-size:48px;
	line-height: 72px;
	font-weight: bold;
	text-transform: uppercase;
	margin:0px;
}

.caption p {
	color: #fff;
	font-size: 17px;
	line-height: 22px;
	width: 350px;
	padding-right: 50px;
	float: left;
	margin: 0px;
}


.caption a {
	color: #fff;
	font-size: 17px;
	line-height: 22px;
	float: left;
}




/* ========================== Slider ========================== */



/* ========================== Container End ========================== */


/* Signup Page Starts */
	.container {
		width: 940px;
		margin:0 auto;	
	}

/* Signup Page Ends */



/* ========================== Container End ========================== */




/* ========================== End Footer ========================== */
.footer {
	display: block;
	background: #000;
	border-top: 7px solid #ff651c;
	-webkit-box-shadow: 0 1px 4px rgba(2,2,2,.5);
	-moz-box-shadow: 0 1px 4px rgba(2,2,2,.5);
	box-shadow: 0 1px 4px rgba(2,2,2,.5);
}


.footer-container {
	width: 940px;
	margin: 0 auto;
	padding: 20px 0px;
	display: block;
}


.copyrights {
	font-family: "cartogothic_stdregular", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #c2c2c2;
	text-align: center;
}


.copyrights a{
	color:#d7d7d0;	
	text-decoration: underline;
}


.footer_nav {
	margin: 0 auto;
	font-family: "cartogothic_stdregular", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #c2c2c2;
	text-align: center;
}

.footer_nav ul {
display: inline-block;
padding-left: 0px;

}

.footer_nav ul.first_nav {
margin: 25px 0;
}

.footer_nav ul li{
	float: left;
	list-style:none;
	padding:0 5px;
	border-left:1px solid #d7d7d7;
	line-height: 13px;
}

.footer_nav ul li:first-child {
	border-left:0px solid #d7d7d7;
}

.footer_nav ul li a{
	color:#d7d7d0;
	text-decoration: none;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
 *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
/* Style adjustments for viewports that meet the condition */
}
 @media print,  (-o-min-device-pixel-ratio: 5/4),  (-webkit-min-device-pixel-ratio: 1.25),  (min-resolution: 120dpi) {
/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
* {
	background: transparent !important;
	color: #000 !important; /* Black prints faster: h5bp.com/s */
	box-shadow: none !important;
	text-shadow: none !important;
}
a,  a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
/*
     * Don't show links for images, or javascript/internal links
     */

.ir a:after,  a[href^="javascript:"]:after,  a[href^="#"]:after {
	content: "";
}
pre,  blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group; /* h5bp.com/t */
}
tr,  img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
 @page {
 margin: 0.5cm;
}
p,  h2,  h3 {
	orphans: 3;
	widows: 3;
}
h2,  h3 {
	page-break-after: avoid;
}
}
