.main_content {
	padding-bottom: 20px;	
}


.margin-top-25 {
	margin-top: 25px;	
}

.margin-left-25 {
	margin-top: 25px;	
}

.margin-bottom-25 {
	margin-top: 25px;	
}

.margin-right-25 {
	margin-top: 25px;	
}

.padding-top-25 {
	margin-top: 25px;	
}

.padding-left-25 {
	margin-top: 25px;	
}

.padding-bottom-25 {
	margin-top: 25px;	
}

.padding-right-25 {
	margin-top: 25px;	
}

.tabs {
	text-align: center;
	margin: 50px 0px;
}

/* SIGN UP FORM Start */


.signup_form {
width: 750px;
margin: 0 auto;
}

.signup_form .form_field {
margin: 20px 0;
}


.signup_form .eg_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #a2a2a2;
	display: block;
	width: auto;
	text-align:left;
}

.margin-left125 {
	margin-left: 125px;
}

.signup_form label {
	color: #484848;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	
	width: 100px;
	text-align:right;
	display: inline-block;
	margin-right: 15px;
}

.signup_form input[type="text"] {
border: 1px solid #dddddd;
border-radius: 4px;
padding-left: 10px;
}

.signup_form label.radio_label {
width: auto;
}


select.styled-select {
   background: url(../images/down_arrow_select.jpg) no-repeat right #fff;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 1px solid #dddddd;
   border-radius: 4px;
   height: 34px;
   
   
    appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
   
   
   padding-right: 43px;
}



input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
   
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -57px top no-repeat;
}







.large {
	line-height: 24px;
	width: 380px;
	height:35px;	
}

.small {
	width: 150px;
	height: 35px;
}

/* SIGN UP FORM END */