{lang name=$notification_quote_name language=$notification_langauge}Quote ':name' has been Updated{/lang}
================================================================================
{notification_wrapper title='Quote Updated' context=$context context_view_url=$context_view_url recipient=$recipient sender=$sender inspect=false open_in_browser=false}
  <p>{lang sent_by_url=$notification_sent_by_url sent_by_name=$notification_sent_by_name quote_url=$notification_quote_url pdf_url=$notification_pdf_url quote_name=$notification_quote_name link_style=$style.link language=$notification_langauge}<a href=":sent_by_url" style=":link_style">:sent_by_name</a> has just modified this quote: <a href=":quote_url" style=":link_style">:quote_name</a>. You can <a href=":quote_url" style=":link_style">view the quote details</a> or <a href=":pdf_url" style=":link_style">download the PDF version here</a>.{/lang}</p>
{/notification_wrapper}