/**
 * ExpressionEngine Default Theme 
 */
html, body, p, img, div, h1, h2, h3, h4, h5, h6, ol, ul, li, form, input, select, option, fieldset {
	margin:					0;
	padding:				0;
}

html {
	background-color:		#3e4c54;
}

body {
	background-color:		#fff;
	font-family:			Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:				76%;
	min-width: 				930px;
}

optgroup option {
	padding-left:			10px;
}

img, fieldset {
	border:					0;
}

ul {
	list-style:				none;
}

fieldset {
	border: 1px solid #D0D7DF;
	padding: .75em;
}

textarea,
textarea.markItUpEditor,
input[type="text"],
input[type="password"] {
	font-family:			Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:				100%;
	border:					1px solid #b6c0c2;
	color:					#5f6c74;
	outline:				0;
  	padding:				4px;
	width:					99%;
	
	border-radius:			3px;
	-moz-border-radius:		3px;
  	-webkit-border-radius:	3px;
}

textarea {
	resize:					vertical;
	-moz-box-sizing:		border-box; /* firefox never does 100% textareas without this */
}

textarea:focus,
textarea.markItUpEditor:focus,
input[type="text"]:focus,
input[type="password"]:focus {
	border:					2px solid #B2BEC0;
	padding:				3px;
}

/* -------------------------------------
/*  Links
/* -------------------------------------*/

/* General Link Styles */

a:link {
	color:					#5f6c74;
	text-decoration:		none;
}

a:visited {
	color:					#859199;
	text-decoration:		none;
}

a:hover {
	color:					#e11842;
	text-decoration:		underline;
}

a:focus {
	color:					#e11842;
}


/* Table Link Styles */

table a:link {
	color:					#5f6c74;
	text-decoration:		underline;
}

table a:visited {
	color:					#859199;
	text-decoration:		underline;
}

table a:hover {
	color:					#e11842;
}


/* Content Area Link Styles */

.pageContents a:link,
.pageContents a:visited {
	color:					#E7174B;
	text-decoration:		none;
}

.pageContents a:hover {
	text-decoration:		underline;
}

.pageContents a.submit {
	color:					#fff;
	-moz-border-radius:		3px;
	-webkit-border-radius:	3px;
}


/* Button Link Styles */


.button {
	float:					left;
	margin-right:			6px;
}

.button a:link,
.button a:visited {
	color:					#5f6c74;
	display:				block;
	padding:				5px 9px;
}

.button a:hover {
	color:					#FFF;
}


.cp_button {
	float:					left;
	margin:					0 14px 14px 14px;
}

.cp_button a:link,
.cp_button a:visited {
	background:				#d0d9e1;
	color:					#5f6c74;
	display:				block;
	padding:      			4px 8px;
	text-align: 			center;
}

.cp_button a:hover {
	color:					#fff;
	background:				#e11842;
	text-decoration:		none;
}

/* -------------------------------------
/*  Common
/* -------------------------------------*/

.ui-widget-content ul {
	margin:5px;	
}

.ui-datepicker {
	z-index:			99;
}

.ui-resizable-e {
	right:				0px;
	margin-top:			2px;
	margin-right:		-10px;
	height:				10px!important;
	width:				10px;
	background:			url("../images/resize_handle.gif") no-repeat right bottom;
	cursor:				w-resize;
	float:				right;
	position:			relative!important;
}

.tableFooter p {
	margin-bottom:3px;
}

.notice {
	color:				#ce0000;
	font-weight: 		bold;
	margin: 			5px 0;
}

em.alert {
	color:				#ce0000;
	font-weight: 		bold;
}

.failure {
	color:				#ce0000;
}

.success {
	color:				#007822;
}

.go_notice {
	color:				#007822;
	font-weight: 		bold;
	margin: 			10px 0;
}

th .go_notice {
	color:				#bce99a;
}

.callout {
	padding:			4px 8px;
}

.cupRunnethOver {
	overflow:			auto!important;
}

ul.bullets li {
	padding:			3px 11px;
	background:			transparent url('../images/list_arrow.gif') center left no-repeat;
}

.clear {
	clear:				both;
}

.clear_left {
	clear:				left;
}

.clear_right {
	clear:				right;
}

.align_right {
	text-align:			right;
}

.center {
	text-align:			center;
}

.center h1,
.center h2 {
	text-align:left;
	margin-bottom:10px;
}


.genericHeading {
	margin:				8px 0;
}

.visualEscapism {
	position:			absolute;
    left:				-999em;
    width:				1em;
    overflow:			hidden;
}

ul.videos li a {
	background:			transparent url('../images/list_item_video.gif') 15px no-repeat;
}

ul.bulleted {
	list-style-type:		disc;
	margin-left:			15px;
}

.submit {
	background:			#f72a58 url('../images/backgrounds_sprite.png') repeat-x 0 -298px;
	padding:			5px 9px;
	color:				#fff/*!important*/;
	border:				0;
}

.less_important_bttn,
.rightNav .submit {
	font-weight:	normal;
	background:		#d0d9e1;
	color:			#34424b;
}

.less_important_bttn:hover,
.rightNav a.submit:hover {
	background-color:#e11842;
	text-decoration:none;
}

.submit_alt {
	background:			#FFF url('../images/submit_alt_button_bg.jpg') bottom left repeat-x!important;
	color:				#465660!important;
}

input.submit,
button.submit,
.submit_alt,
.button a.submit {
	font: 12px/12px Arial, 'Hevlvetica Neue', sans-serif;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* Removes extra padding from FF */
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

.disabled_field {
	background-color:	#F0F0F0!important;
	background-image:	none!important;
	color:				#7F7F7F!important;
	border:				1px solid #7F7F7F!important;
	cursor:				default!important;
}

select.select {
	margin-right:		5px;
}

.module_textarea {
	width: 99%;
}

.pageContents span.button .submit,
span.button .submit {
	color:#fff;
}

/* for those elements that just don't like to be next to each other */
.shun {
	margin-bottom: 14px!important;
}

.subtext {
	font-size:			11px;
}

.overview {
	margin-bottom:		15px;
}

.overview .overviewItemName {
	width:				30%;
}

.overview .overviewItemDesc {
	width:				65%;
}

.overview .overviewItemHelp {
	width:				5%;
	text-align:			center;
}

/* -------------------------------------
/*  Branding
/* -------------------------------------*/

#branding {
	background: 		#27343c url('../images/backgrounds_sprite.png') repeat-x 0 0;
	height:					17px;
	margin-bottom:	5px;
}


/* -------------------------------------
/*  Main Menu
/* -------------------------------------*/

#mainMenu {
	background-color:	#27343C;
	color:				#fff;
}

/* Position the menu */
#mainMenu ul {
	list-style:			none;
}

#navigationTabs {
	margin-left:		25px;
	margin-top:			-6px;
	padding-top:		2px;
}

#navigationTabs a {
	outline:			0;
}

/* Style the top level */

#navigationTabs > li {
	line-height: 		13px;
}

#navigationTabs > .parent:focus > a:after,
#navigationTabs > .parent.active > a:after {
	top:				12px;
	content:			' ';
	position:			relative;
	display:			block;
	width:				0;
	height:				0;
	margin:				0 auto;
    border-bottom: 		5px solid #e6ecef;
    border-left: 		5px solid transparent;
    border-right: 		5px solid transparent;
}


#navigationTabs li a.first_level,
#navigationTabs li a.first_level:link,
#navigationTabs li a.first_level:visited {
	background:			#27343C url('../images/backgrounds_sprite.png') repeat-x 0 -79px;
	color:				#fff;
	display:			block;
	letter-spacing:		.1em;
	font-size:			12px;
	height:				1.1em;
	padding:			3px 8px 4px 8px;
	margin:				0 4px 13px 4px;
	border-bottom:		none;
	text-decoration:	none;
}

#navigationTabs li a.first_level:hover {
	background:	#27343C url('../images/backgrounds_sprite.png') repeat-x 0 -103px;
	color:				#E7174B;
}

#navigationTabs li.active a.first_level,
#navigationTabs li:active a.first_level {
	background:	#F23055 url('../images/backgrounds_sprite.png') repeat-x 0 -127px;
	color:				#fff;
}

/* Style the add tab link */

#navigationTabs li #addQuickTab,
#navigationTabs li #addQuickTab:link {
	background-image:	none;
	color:				#E7174B;
	font-weight:		normal;
	padding-bottom:		0;	/* prevents it from pushing down the breadcrumb in Safari & Opera */
}

#navigationTabs li #addQuickTab:first-letter {
	font-weight:		bold;
	font-size:			14px;
	text-shadow:		#000 0px 1px 0px;
}

#navigationTabs li #addQuickTab:hover {
	text-shadow:		#000 0px 1px 0px;
}

#navigationTabs li #addQuickTab:active {
	color:				#fff;
	background:			#27343C;
}

/* Position and style the submenus */

#navigationTabs li li a {
	display:			block;
	line-height:		1;
}

#navigationTabs li li a:hover {
	text-decoration:	none;
}

#navigationTabs li, #navigationTabs li li {
	float:				left;
}

/* second-level lists */

#navigationTabs ul li {
	width:				169px;
}

#navigationTabs ul li.nav_divider {
	margin:				2px 0;
	border-top:			1px solid #d0d7df;
	border-bottom:		1px solid #fff;
	height:				0;
}

#navigationTabs li ul {
	border-left:		none !important;
	z-index:			50;
	position:			absolute;
	width:				169px;
	display:			none;
	font-size:			12px;
	color:				#5f6c74;
	background: 		#e6ecef;
	margin-top:			-1px;
	margin-left:		-1px;
	padding:			8px 0 8px 0;

	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	border-radius:			10px;

	background:			-moz-linear-gradient(#d6e1e7, #ecf1f4);
	background:			-webkit-gradient(linear, 0 0, 0 100%, from(#d6e1e7), to(#ecf1f4));

	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 4px;
    -moz-box-shadow:    rgba(0, 0, 0, 0.3) 1px 2px 4px;
	box-shadow:			rgba(0, 0, 0, 0.3) 1px 2px 4px;	
}


#navigationTabs li.parent {
	background:			url('../images/nav_arrow_light.png') center right no-repeat;
}


#navigationTabs li ul a { /* second-level links */
	padding:			4px 15px;
	background:			transparent;
	color:				inherit;
}

/* Subnav line highlighting */
#navigationTabs li li.hover,
#navigationTabs ul li li.hover {
	color:				#fff;
	background:			#F81A53
}

#navigationTabs li li.parent:focus, #navigationTabs li li.parent.active {
	color:				#fff;
	background:			#F81A53;
}

#navigationTabs li li.parent:focus > a,
#navigationTabs li li.parent.active > a {
	position:			relative;
	z-index:			55;
	background:			#F81A53;
	color:				#fff;
	width:				130px;
}

/* third-and-above-level lists */
#navigationTabs li ul ul {
	margin:				-28px 0 0 160px;
}

#navigationTabs li li.parent:focus > a:after,
#navigationTabs li li.parent.active > a:after {
	top:				0px;
	right:				-20px;
	
	content:			' ';
	position:			absolute;
	display:			block;
	width:				0;
	height:				0;
	
	border:				10px solid transparent;
	border-left:		10px solid #F81A53;
}



#navigationTabs li.active ul ul,
#navigationTabs li.active ul ul ul,
#navigationTabs li.active ul ul ul ul {
	display:			none;
}

#navigationTabs li.active ul,
#navigationTabs li li.active ul,
#navigationTabs li li li.active ul,
#navigationTabs li li li li.active ul {
	display:			block;
}

#navigationTabs .msm_sites {
	float:				right;
	margin-right:		20px;
}

#navigationTabs .msm_sites:hover > ul {
	right:				3em;
}

#activeSite {
	font-size:			12px;
	letter-spacing:		.1em;
	margin-right:		25px;
	line-height:		22px; /* logOut button image plus padding */
	
	float: right;
}


#activeSite a:link, #activeSite a:visited {
	color:				#fff;
}

#activeSite a:hover {
	color:				#E7174B;
}

/* -------------------------------------
/*  Sidebar
/* -------------------------------------*/

#sideBar {
	clear:both;
	float:				right;
	width:				23%;
}

#sidebarContent {
	padding:			6px 18px 18px 0;
	background:			#fff;
	border-bottom:		1px solid #A0AAA4;
}


#sideBar h4 {
	font-size:			18px;
	font-family:		'Helvetica Neue', Arial, sans-serif;
	font-weight:		500;
	color:				#5f6c74;
	padding-top:		18px;
	margin-bottom:		12px;
}

#sideBar #search h4 {
	padding-bottom:		3px;
}

#sideBar a {
	color:				#F5275C;
	text-decoration:	underline;
}

#sideBar li a:link, #sideBar li a:visited {
	color:				#F5275C;
	text-decoration:	none;
	border-bottom:		1px solid #F1C7CB;
}

#sideBar li a:hover {
	color:				#E7174B;
	border-bottom:		1px solid #E7174B;
}
#sideBar .sidebar_hover_desc {
	color:				#aaa;
	font-size:			11px;
	display:			none;
}

#activeUser {
	padding-top:		1px;
	padding-bottom:		2px;
	color:				#fff;
	font-size:			10px;
	line-height:		28px;
	text-align:			right;
	background:			#d91350 url('../images/active_user.png') repeat-y;
}

#activeUser .userName {
	float:				left;
	margin-left:		14px;
	font-size:			14px;
	font-weight:		500;
}

#activeUser .logOutButton{
	padding-right:		18px;
}

#activeUser a:link, #activeUser a:visited {
	color:				#fff;
	text-decoration:	none;
}

#activeUser a:hover {
	text-decoration:	underline;
}

#siteLogo {
	margin-bottom: 4px;
}

#siteLogo img {
	float: left;
}

#siteLogo a, #siteLogo span {
	display: block;
	margin-bottom: 5px;
}

#siteLogo span {
	color:				#8a98a5;
}

#siteLogo p {
	float:				left;
	margin-left:		14px;
	display: block;
	color:				#5f6c74;
}

#search form {
	padding:			13px;
	background-color:	#ECF1F4;
	margin-bottom:		10px;
}

#search form .input {
	width:				75%;
}

#search form .searchButton {
	margin-bottom:		-6px;
	padding-left:		2px;
}

#quickLinks {
	font-size:			11px;
}

#quickLinks li a:link, #quickLinks li a:visited {
	line-height:		18px;
}


#sidebarControl {
	padding-right:		15px;
}

#hideSidebarLink, #revealSidebarLink {
	display:       	 	none;
	background:			transparent url('../images/hide_sidebar_arrow.gif') top right no-repeat;
	display:			block;
	font-size:			9px;
	padding:			2px 24px 6px 0;
	text-align:			right;
}

a#revealSidebarLink {
	border-top:			none;
	height:				12px;
}

a#hideSidebarLink:link, a#hideSidebarLink:visited,
a#revealSidebarLink:link, a#revealSidebarLink:visited  {
	color:				#a0aaa4;
}

#notePad #notePadTextEdit {
	width:				100%;
	height:				5em;
	margin:				10px 20px 10px 0;
}

#notePad #notePadText {
	margin:				14px 10px 14px 0;
	color:				#5f6c74;
}


#notePad #notePadControls {
	display:			none;
	margin:				-15px 20px 5px 0px;
}

/* -------------------------------------
/*  Breadcrumbs
/* -------------------------------------*/

#breadCrumb {
	font-size:			12px;
	color:				#5f6c74;
	background-color:	#ECF1F4;
	margin-bottom:		25px;
	padding:			2px 25px 0px 5px;
}

#breadCrumb ol {
	list-style:			none;
	padding-left:		24px; /* combines with the li padding to inset the first crumb 25px */
}

#breadCrumb li {
	line-height:		29px;
	display:			block;
	float:				left;
	padding:			0 25px 0 1px;
	background:			#ECF1F4 url('../images/cp_sprite.png') right -90px no-repeat;
	color:				#5E6871;
}

#breadCrumb li.last {
	background-image:	none;
}

#breadCrumb li.current {
	font-weight:		bold;
	background-image:	none;
}

#breadCrumb a:link, #breadCrumb a:visited {
	color:				#E7174B;
}

#breadCrumb a:hover {
	text-decoration:	underline;
}

#breadCrumb li.last {
	background-image:	none;
	color:#e11842;
}

#breadCrumb li.current {
	font-weight:		bold;
	background-image:	none;
}

#breadCrumb a:link, #breadCrumb a:visited {
	color:				#5f6c74;
}

#breadCrumb a:hover {
	color:				#e11842;
	text-decoration:	underline;
}


/* -------------------------------------
/*  Main Content
/* -------------------------------------*/

#mainWrapper {
	background-color: 	#fff;
}

#mainContent {
	width:				77%;
	position:relative;
}


#mainContent .pageContents {
	background-color:	#ECF1F4;
	border-top:			1px solid #fff;
	padding: 14px;
}

.contents .pageContents {
	border:				none;
}

#mainContent .pageContents p, #mainContent .pageContents table {
	margin-bottom:		11px;
}

.ui-widget-content .pageContents {
	padding:			0px;
}

.pageContents {
	background-color:	#ECF1F4;
	padding:			12px 10px;
	color:				#5f6c74;
	font-size:			12px;
}

.pageContents label {
	font-weight: bold;
	line-height:140%;
	margin-bottom:3px;
}
.pageContents h3 label {
	margin-bottom:3px;
}
.pageContents form strong.notice {
	display:inline;
	}
.pageContents form strong {
/*	display:block;*/
	margin-bottom:3px;
}
.pageContents form li.odd strong {
	display: inline;
	margin-bottom:3px;
}
.pageContents form em {
	font-weight:normal;
	font-style:normal;
	font-size:11px;
	color:#e11842;
/*	float:left;*/
	}
		
/* let labels be super easy to click on */
.pageContents li label {
	display:			block;
}

/* let labels be super easy to click on (unless otherwise stated)*/
.inline_labels label {
	display:			inline!important;
	width:				auto!important;
	float: 				none!important;
}

.contentMenu {
	float:				left;
	width:				29%;
	margin-left:		3.3%;
}


.contentMenu .heading {
	background:			#ABB7C3 url('../images/backgrounds_sprite.png') repeat-x 0 -17px;
}

.contentMenu h2 span {
	vertical-align:		bottom;
	font-size:			18px;
}

.contentMenu ul {
	padding-bottom:20px;
	background-color: #ECF1F4;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.contentMenu ul.homeBlocks {
	min-height:	13em;	
}

.contentMenu li a {
	display:			block;
	padding:			5px 0 4px 40px;
	font-weight:		bold;
	font-size:			13px;
	background-color:	#ECF1F4;
	border-bottom:		1px solid #d0d7df;
	border-top:			1px solid #fff;
}

.contentMenu li a:link, .contentMenu li a:visited {
	color:				#5f6c74;
	/*text-shadow:		0 1px 1px #fff;*/
}

.contentMenu li.group a {background:	#ECF1F4 url('../images/contentmenu_icons.gif') no-repeat 17px -80px;}
.contentMenu li.group a:hover {background-position:17px -100px;}
.contentMenu li.resource a {background:	#ECF1F4 url('../images/contentmenu_icons.gif') no-repeat 17px -38px;}
.contentMenu li.resource a:hover {background-position: 17px -60px;}
.contentMenu li.item a {background: #ECF1F4 url('../images/contentmenu_icons.gif') no-repeat 17px -120px; }
.contentMenu li.item a:hover {background-position:17px -140px;}
.contentMenu li.site a {background:	#ECF1F4 url('../images/contentmenu_icons.gif') no-repeat 17px 6px;}
.contentMenu li.site a:hover {background-position:17px -17px;}
.contentMenu li.submission a {	background:	#ECF1F4 url('../images/contentmenu_icons.gif') no-repeat  17px -160px; }
.contentMenu li.submission a:hover {background-position:17px -179px; }

.contentMenu li span {
	float:				right;
	color:				#8C9DAF;
	margin-right:		14px;
	text-shadow:		0 1px 0 #fff;
}

.contentMenu li a:hover {
	border-bottom:		1px solid #d0d7df;
	background-color:	#fff;
	color:				#e11842;
	text-shadow:		none;
	text-decoration:	none;
}

.contentMenu li.open li a,
.contentMenu li.open ul.submenu li a:hover {
	border-bottom:		1px solid #e6e9eb;
	font-weight:		normal;
	font-size:			95%;
}

.contentMenu ul.submenu {
	padding:			0px;
}

.contentMenu ul.submenu li p {
	background:			#fff;
	color:				#8a98a5;
	padding:			5px 0 5px 15px;
	border-bottom:		1px solid #e6e9eb;
}

.contentMenu ul.submenu li a {
	padding:			4px 0 4px 40px;
	background:			#fff;
	color:				#5f6c74;
}

.contentMenu ul.submenu li a:hover {
	background:			#fff;
	color:				#e11842;
	border-bottom:		1px solid #d0d7df;
}

.modMenu {
	float:				left;
	margin-left:		3.3%;
}

.heading h2 {
	background:			transparent url('../images/heading_images_sprite.gif') right -203px no-repeat;
	font-weight:		normal;
	color:				#fff;
	font-size:			19px;
	line-height:		1;
	padding:			7px 17px 7px 17px;
	text-shadow:		#666 0 1px 0;
}

.heading .headingSubtext {
	font-size:			11px;
	text-shadow:		0 1px 0 #888;
	vertical-align:		30%;
}

.heading .headingSubtext a:link, .heading .headingSubtext a:visited {
	color:				#fff;
	text-decoration:	underline;
}

.heading .headingSubtext a:hover {
	text-decoration:	none;
}

#mainContent .contentMenu h2 {
	font-weight:		normal;
	font-size:			24px;
	color:				#fff;
	padding:			10px 17px 10px 17px;
}

#mainContent .create h2 {
	background:			transparent url('../images/heading_images_sprite.gif') right -11px no-repeat;
}

#mainContent .modify h2 {
	background:			transparent url('../images/heading_images_sprite.gif') right -131px no-repeat;
}

#mainContent .view h2 {
	background:			transparent url('../images/heading_images_sprite.gif') right -72px no-repeat;
}

.contents {
	clear:				left;
	padding:			0 25px 25px 25px;
	position:     relative;
}

.rightNav {
	padding:			0 25px;
}

.rightNav span {
	float:				  right;
	margin-bottom:  10px;
}

.contents .heading {
	background:			#ABB7C3 url('../images/backgrounds_sprite.png') repeat-x 0 -330px;
	clear:				left;
}

#mainContent #registerUser table input[type=text], #mainContent #registerUser table textarea {
	width:				99%;
}

#mainContent #registerUser label, #mainContent #registerUser span {
	font-weight:		bold;
	display: 			block;
	width:				37%;
	margin-right:		5px;
	float:				left;
}

#mainContent #registerUser table label, #mainContent #registerUser table span {
	display:			none;
}

#mainContent #registerUser p {
	background:			url('../images/field_divider.gif') bottom repeat-x;
	padding:			6px 0 6px 0;
	clear:				left;
	line-height:		20px;
	margin-bottom: 		0;
}

#mainContent #registerUser p.noback {
	background:			none;
}

#mainContent #registerUser p.submit {
	background:			none;
	padding-left:		40%;
}

input.submit {
	cursor:				pointer;
}

.pageContents #registerUser form strong {
	display:inline;
	}
#registerUser form fieldset td {
	padding-bottom:.2em
	}	
#mainContent #filterMenu, #mainContent #registerUser {
	background-color:	#ECF1F4;
	color:				#5f6c74;
	font-size:			12px;
	margin-bottom:		10px;
}
#mainContent .pageContents #registerUser table {
	margin:				11px 0;
}
#mainContent .pageContents #registerUser fieldset table {
	margin:				0;
}

#mainContent #registerUser table.mainTable input {
	width:95%;
	}
#mainContent #filterMenu .group {
	margin-bottom:		12px;
	padding-top:		5px; /* IE stupidity */
}

#filterMenu a, #filterMenu a:link, #filterMenu a:visited {
	color:#E11842;
}

#mainContent #filterMenu #customDateRange {
	width:				200px;
	line-height:		normal;
	padding:			8px;
	background-color:	#ECF1F4;
	border:				1px solid #303f4a;
	position:			absolute;
	z-index:			10;
}

#mainContent table.mainTable {
	width:				100%;
	text-align:			left;
	line-height:		13px;
	color:				#5f6c74;
}

table.padTable th:last-child {
	border-right: 		1px solid #45555f!important;
}

table.padTable td:last-child {
	border-right: 		1px solid #d0d7df!important;
}

table.mainTable th {
	background:		#2a3940 url('../images/backgrounds_sprite.png') repeat-x 0 -540px;
	color:				#fff;
	padding:			9px 8px 10px 8px;
	border-left:		1px solid #45555f;
	cursor:				pointer;
}

table.mainTable thead {
	background:			#C60047 url('../images/table_column_heading_active_bg.jpg') bottom left repeat-x;
}

table.mainTable .headerSortUp {
	background:			transparent url('../images/table_sort_desc.gif') bottom right no-repeat;
	border-left:		1px solid #C60047;

}

table.mainTable th.headerSortDown {
	background:			transparent url('../images/table_sort_asc.gif') bottom right no-repeat;
	border-left:		1px solid #C60047;

}

table.mainTable td.highlight {
	border:				5px solid black;
}

table#entries.mainTable {
	border-right:		1px solid #d0d7df;
}

table.mainTable td {
	padding:			7px 10px;
	background-color:	#ebf0f2;
	border-bottom:		1px solid #d0d7df;
	border-left:		1px solid #d0d7df;
}
table.mainTable td.title {
	text-align:			left;
	font-weight:		bold;
}

table.mainTable tr.odd td, table#controllers tr.odd td {
	background-color:	#f4f6f6;
}

table.mainTable td.id {
	border-left:		0;
}

table.mainTable th:last-child {
	border-right: 1px solid #45555f!important;
}

table.mainTable td:last-child {
	border-right: 1px solid #d0d7df!important;
}

#mainContent .mainTable th a,
#mainContent .mainTable th a:visited,
#mainContent .mainTable th a:hover {
	color:				#fff;
	text-decoration:	underline;
}

table.detailTable {
	width:				100%;
	text-align:			left;
	line-height:		13px;
	border:				0px;
	padding:			0px;
	background-color:	#ffffff;
}

table.detailTable tr {
	border:			0px;
}

table.detailTable td {
	border:			0px;
	background-color:	#ffffff;
}

table.detailTable td:last-child {
	border-right: 0px!important;
}

table td.details {
	background-color:	#ffffff;
	padding:			0px;
}

th.hidden_col { display: none; } td.hidden_col { display: none; }


#mainContent .tableFooter {
	background-color:	#ECF1F4;
	padding:			12px 11px 20px 11px;
	margin-bottom: 15px;
}

#mainContent .tableSubmit {
	float:				right;
	margin-top:   -20px;
}

#mainContent .paginationLinks {
	color:				#5f6c74;
}

#mainContent .paginationLinks img {
	margin-bottom:		-2px;
}

#mainContent .paginationLinks a:link, #mainContent .paginationLinks a:visited {
	color:				#5f6c74;	
}
 
#mainContent .paginationLinks .current_page {
	color:				#000000;
	text-decoration:	none;
}

#mainContent .formArea {
	background-color:	#ECF1F4;
}

#mainContent .formArea h2 {
	color:				#34424b;
	font-size:			18px;
	font-weight:		normal;
	margin-bottom:		10px;
}

#mainContent .formArea .formHeading {
	background:			#39464F url('../images/form_area_heading_bg.gif') bottom left repeat-x;
	border-bottom:		1px solid #3f4d55;
	padding:			9px 8px;
	color:				#ECF1F4;
	font-size:			13px;
	font-weight:		bold;
	line-height:		18px;
}

#mainContent .formArea .formHeading .newTemplate {
	font-size:			12px;
	font-weight:		normal;
	float:				right;
	background:			#E11842 url('../images/submit_button_bg.gif') bottom left repeat-x;
}

#mainContent .formArea .formHeading .newTemplate a {
	color:				#FFFFFF;
	display:			block;
	padding:			1px 10px;
}

/* My Account */

/* html buttons specific */
.tablesize{display: block;height:32px!important;}
#custom_html_button {width:450px; clear: left; padding-top: 15px;}
/*#custom_html_button label {display: block; float:left;width: 40%;margin-top:5px;}*/
#custom_html_button p {padding-bottom: 5px;}

#menu {
	width: 240px;
}

#menu.side_navigation {
	background-color:#f4f6f6;
	padding-bottom:1px;
	border-right:1px solid #d0d7df;
	border-left:1px solid #d0d7df;
	border-bottom:1px solid #d0d7df;
	}
#menu.side_navigation li li {
	padding:.2em 0
	}	
#menu span, #myAccount h3 {
	display:			block;
	background:			#3f4d55 url('../images/form_area_heading_bg.gif') bottom left repeat-x;
	border-left: 0;
	border-top: 0;
	border-bottom:		1px solid #28353D;
	padding:			6px 4px 6px 15px;
	color:				#ECF1F4;
	font-size:			13px;
	font-weight:		bold;
	margin-bottom: 3px!important;
}

#menu ul {
	margin: 8px 0 10px 15px;
}
#registerUser {
	/*padding: 0;*/
	margin-left: 10px;
}


	/* avatar browse */
	.browseAvatar {
		width: 100%;
	}

	.browseAvatar td {
		width: 33%;
		text-align: center;
	}

/* Admin and Design page */

h2 a:hover {
	text-decoration:	none;
}

#mainContent h3 {
	color:				#37444d;
	font-size:			1.34em;
	margin-bottom:		10px;
}

/** Important Messages **/
#ee_important_message {
	overflow:hidden;
	margin-left:3.3%;
	margin-right:3.3%;
	margin-bottom:3.3%;
}

#ee_homepage_notice.contents {
	padding:0;
}

#ee_homepage_notice.contents .heading {
	background:#d0eaf7;
}

#ee_homepage_notice.contents .heading h2 {
	background:none;
	color:#3ba1db;
	text-shadow:0 1px 0 #abd8f0;
	
}

.bad_path_error_list li {font-weight:bold; margin-bottom:5px;color:#F72A58;}
.bad_path_error_list li ul li {font-weight:normal; margin-left:15px;margin-bottom:0;color:#5F6C74;}
div.notice_texts .bad_path_error_list li ul li {color:#fff; font-weight:normal;}

#noticeContents.closed {
	display:	none;
}

.heading span.msg_open_close {
	float:			right;
	text-indent:	-5000em;
	display:		block;
	height:			15px;
	width:			15px;
	cursor:			pointer;
	margin:			3px -5px 0 0;
}

#ee_important_message .closedHeading {
	display:none;
}

#mainContent .pageContents#noticeContents {
	background:		#e5f7fc;
	color:			#4d6a7c;
}

span.ee_notice_icon {
	background:transparent url(../images/cp_sprite.png) no-repeat 0 -90px;
	width:13px;
	height:14px;
	display:block;
	float:left;
	margin:3px 5px 0 0;
}

.heading span.msg_open_close {
	background:transparent url(../images/cp_sprite.png) no-repeat -145px -90px;
}

#ee_important_message.closed {
	display: none;
}

#mainContent .pageContents p#newVersionNotice {
	margin-bottom:15px;
}

#checksumFailure {
	margin-bottom:10px;
	font-weight:bold;
	color:#E11842;
	float:left;
}

#checksumFailure ul li {
	margin: 0 0 5px 15px;
	font-weight:normal;
	color:#5F6C74;
}

#ee_important_message a.submit {
	float:left;
	margin-left:15px;
}


#mainContent .tableHeading {
	color:				#37444d;
	font-size:			14px;
	margin-bottom:		10px;
}


#mainContent h4 {
	color:				#37444d;
}

#mainContent .templateColumnMenu {
	float:				left;
	width:				33%;
	margin-bottom:		10px;
}

#mainContent .templateColumnMenu ul {
	padding:			0 10px;
}

#mainContent .templateColumnMenu ul li {
	float:				none;
	width:				auto;
	margin-left:		16px;
}

.del_row {
	display:			none;
	text-align:			center;
}

.tag_order{
	text-align:			center;
}

.templateTable th.template_manager_parse_stage {
  width:				30px;
}

/* new template */

#template_data_type li {
	line-height:		200%;
	padding:			5px;
}

#template_details {
	line-height:		1;
	margin:				0 0 10px 0;
	background:			#3f4d55 url('../images/template_edit_header_background.png') top left repeat-x;
	padding: 			10px 17px 12px 10px;
	font-weight:		bold;
	font-size:			13px;
	color:				#FFF;
}

#template_details .last_edit {
	font-weight:	normal;
	color:			#9EA2AA;
}

#mainContent #template_create {
	border: none;
	padding: 0 0 0 0;
	margin-top: 10px;
	width: 100%;
}

#template_create p {
	margin-bottom:		11px;
}

#template_data,
#template_create textarea {
	position:			relative;
	height:				auto;
	margin:				0;
	border:				none;
	resize:				none;
}

#template_create textarea {
	padding:			1%;
	width:				98%;
	
	overflow: auto;
	
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#template_create textarea:focus {
	margin:					0;
}

#template_create textarea.notes {
	border:					1px solid #b6c0c2;
	padding:				3px;
	width:					99%;
}

#template_create textarea.notes:focus {
	border:					2px solid #B2BEC0;
	padding:				2px;
}

#template_create #markItUpTemplate_data {
	padding:				0;
}

#template_create div.markItUpHeader {
  display:					none;
}

#template_create div.markItUpFooter {
  margin-bottom:			0;
}

select#site_list_pulldown {margin-bottom:10px;}

.menu_list, 
.member_profile_themes, .wiki_themes {
	list-style:	none;
}

.menu_list li a, 
.member_profile_themes li a, .wiki_themes li a, 
.forum_themes li a, .translation_files li a {
	display:			block;
	padding:			5px 0 5px 40px;
	font-weight:		bold;
	font-size:			13px;
	background: 		#ECF1F4 url('../images/list_item_group.gif') 17px center no-repeat;
	border-bottom:		1px solid #d0d7df;
}

.menu_list li.odd a, 
.member_profile_themes li.odd a, .wiki_themes li.odd a, 
.forum_themes li.odd a, .translation_files li.odd a {
	background-color:	#f4f6f6;
}

.menu_list li a:hover,
.member_profile_themes li a:hover, .wiki_themes li a:hover, 
.forum_themes li a:hover, .translation_files li a:hover {
	/*border-bottom:		1px solid #fff;*/
	background:			#fff url('../images/list_item_group_hover.gif') 17px center no-repeat;
	color:				#e11842;
}

/* global variables */

#mainContent .pageContents #new_global_var {
	padding:		14px;
}

#mainContent .pageContents #new_global_var p {
	margin-bottom: 14px;
}

#new_global_var label {
	color: 				#5f6c74;
	font-weight: 		bold;
}

#mainContent .field {
	width: 59%;
}

.fullfield {
	width: 99%;
}

/* template manager */

#templateGroups {
	width:				32%;
	float:				left;
	clear:				left;
	color:				#5f6c74;
	font-size:			11px;
}

div#templates {
	margin-left:		31.5%;
	font-size:			11px;
	color:				#5f6c74;
	position: relative;
}

#templates label {
	font-weight: bold;
	line-height:140%;
	margin-bottom:3px;
}

#templateGroups .column {
	padding:			0 12px 0 18px;
}

#templates .column {
	padding:			0 18px 0 10px;
}

#templateEditor {
	padding:			0 18px;
}

.templateEditorTop {
	padding:			18px 18px 10px 18px;
	min-height:		28px;
}

.templateEditorTop h2 {
	float:			left;
}


#templateGroups .groupList {
	background-color:	#e2e8eb;
	padding:			8px;
	color:				#8a98a5;
}

#templateGroups .groupList h3 {
	color:				#5f6c74;
	font-size:			13px;
	padding:			0;
	/*font-weight:		normal;*/
}

#templateGroups .groupList ul {
	height:				325px;
	overflow:			auto;
	margin-bottom:		14px;
}

#templateGroups .groupList li {
	line-height:		25px;
}

#templateGroups .groupList li:hover a.editTemplateGroup {
	visibility: visible;
}

.editTemplateGroup {
	position:			absolute;
	margin:				-36px 0 0 17%;
	width:				108px;
	line-height:		46px;
	height:				46px;
	background:			url('../images/template_group_edit_balloon.png') left center no-repeat;
	color:				#FFF;
	font-size:			14px;
	text-align:			center;
	visibility:			hidden;
	padding-left:		4px;
}

#templateGroups .groupList li a.templateGroupName:link, #templateGroups .groupList li a.templateGroupName:visited {
	display:			block;
	background:			#ecf1f3 url('../images/design_sprite.png') 0 -42px no-repeat;
	padding-left:		25px;
	font-weight:		bold;
	color:				#5f6c74;
	border-bottom:		1px solid #d2d7db;
	border-top:			1px solid #fff;
	font-size:			12px;
}

#templateGroups .groupList li a.templateGroupName:hover {
	background: #fff	url('../images/design_sprite.png') 0 -42px no-repeat;
	color:				#e11842;
	text-decoration:	none;
}

#templateGroups .groupList li.selected a.templateGroupName:link, #templateGroups .groupList li.selected a.templateGroupName:visited {
	background: #a9bac3	url('../images/design_sprite.png') 0 3px no-repeat;
	border-bottom:		1px solid #d2d7db;
	border-top:			none;
	color:				#fff;
}


#templateGroups .groupList #edit_group_order_lock {
	background:			#ECF1F4 url('../images/lock_closed.gif') right top no-repeat;
}

div.exportTemplateGroup{
	margin-top:10px;
	text-align:center;
}

span.defaultIndicator {
	color:				#E7174B;
	font-size:			14px;
}

#templateGroups span.defaultGroupName {
	color:				#f92b59;
	font-weight:		bold;
}

.templateGrouping {
	display:			none;
	position:relative;
}

.templateTable {

  width:          100%;
	text-align:			left;
}

.templateTable tbody {
  width:inherit!important;
}

.templateTable thead {
	background:			#8fa2ad url('../images/backgrounds_sprite.png') repeat-x 0 -474px;
}

.templateTable th {
	color:				#37444d;
	font-size:			12px;
	padding:			9px 20px 9px 8px;
	cursor:				pointer;
}

.templateTable .headerSortUp {
	background:			transparent url('../images/template_table_sort_desc.gif') bottom right no-repeat;
}

.templateTable th.headerSortDown {
	background:			transparent url('../images/template_table_sort_asc.gif') bottom right no-repeat;
}

.templateTable td {
	padding:			9px 8px 9px 8px;
	background-color:	#ECF1F4;
	border-bottom:		1px solid #d0d7df;
}

.templateTable td.less_important {
	color: #8a98a5;
}

.templateTable tr.even td {
	background-color:#f4f6f6;
}
.templateTable tr.odd  {
	background-color:#f4f6f6;
}
.templateTable tr.odd.highlightRow td {
/*	padding-top: 7px;
	padding-bottom: 7px;*/
	}
a.view_link:link,
a.delete_link:link,
a.show_prefs_link:link,
a.show_access_link:link,
a.less_important_link:link{
	color:#5f6c74;
	}
a.view_link:visited,
a.delete_link:visited,
a.show_prefs_link:visited,
a.show_access_link:visited,
a.less_important_link:visited {
	color:#859199;
	}
a.view_link:hover,
a.delete_link:hover,
a.show_prefs_link:hover,
a.show_access_link:hover,
a.less_important_link:hover {
	color:#e11842;
	}

.templateTable td.templateName {
	padding-left:		27px;
	font-weight:		bold;
	font-size:			12px;
}

.templateTable th.cellRight, .templateTable td.cellRight {
	text-align:			right;
}

.templateTable tr.highlightRow td {
	background:			#8FA1AD url('../images/template_table_heading_bg.gif') bottom left repeat-x;
	border-bottom:		1px solid #8FA1AD;
	color:				#fff;
}

.templateTable tr.highlightRow td a {
	color:				#fff;
}

.templateTable td.hiddenTemplate a {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}

.templateTable td.hiddenTemplate a:hover {
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	opacity: 1.0;	
}

.templateTable td.webpage {
	background:			url('../images/design_sprite.png') 0 -88px no-repeat;
}

.templateTable tr.odd td.webpage {
	background:		#ECF1F4	url('../images/design_sprite.png') -500px -88px no-repeat;
}

.templateTable tr.highlightRow td.webpage {
	background:		#8FA1AD url('../images/design_sprite.png') 0 -170px no-repeat;
}

.templateTable td.static {
	background:			url('../images/design_sprite.png') 0 -88px no-repeat;
}

.templateTable tr.odd td.static {
	background:		#ECF1F4	url('../images/design_sprite.png') -500px -88px no-repeat;
}

.templateTable tr.highlightRow td.static {
	background:		#8FA1AD url('../images/design_sprite.png') 0 -170px no-repeat;
}

.templateTable td.index {
	background:		url('../images/design_sprite.png') 0 -600px no-repeat;
}

.templateTable tr.odd td.index {
	background:	#ECF1F4 url('../images/design_sprite.png') -500px -600px no-repeat;
}

.templateTable tr.highlightRow td.index {
	background:		#8FA1AD url('../images/design_sprite.png') 0 -668px no-repeat;
}

.templateTable td.feed, .templateTable td.xml {
	background:		url('../images/design_sprite.png') 0 -225px no-repeat;
}

.templateTable tr.odd td.feed, .templateTable tr.odd td.xml {
	background:	#ECF1F4 url('../images/design_sprite.png') -502px -225px no-repeat;
}

.templateTable tr.highlightRow td.feed, .templateTable tr.highlightRow td.xml {
	background:		#8FA1AD url('../images/design_sprite.png') 0 -292px no-repeat;
}

.templateTable td.css {
	background:		url('../images/design_sprite.png') 0 -345px no-repeat;
}

.templateTable tr.odd td.css {
	background:		#ECF1F4 url('../images/design_sprite.png') -500px -345px no-repeat;
}

.templateTable tr.highlightRow td.css {
	background:		 url('../images/design_sprite.png') 0 -420px no-repeat;
}

.templateTable td.js {
	background:		url('../images/design_sprite.png') 0 -478px no-repeat;
}

.templateTable tr.odd td.js {
	background:	#ECF1F4 url('../images/design_sprite.png') -500px -478px no-repeat;
}

.templateTable tr.highlightRow td.js {
	background:		#8FA1AD url('../images/design_sprite.png') 0 -548px no-repeat;
}

.templateTable tr.accessRowHeader td {
	padding:			0;
	border-bottom:		2px solid #8FA1AD;
	border-left:		2px solid #8FA1AD;
	border-right:		2px solid #8FA1AD;
}

.templateTable tr.accessRowHeader td .accessTable th {
	background-color:	#ECF1F4;
	background-image:	none;
	color:				#5f6c74;
	border-bottom:		1px solid #d2d7db;
	border-left:		1px solid #d0d7df;
	font-size:			11px;
}

.templateTable tr.accessRowHeader td .accessTable th.template_manager_hits {
  padding-right:0;
  width:8%;
  overflow:hidden;
}

.templateTable tr.accessRowHeader td .accessTable th.template_manager_template_type,
.templateTable tr.accessRowHeader td .accessTable th.template_manager_template_name {
  width:25%;
}

.templateTable tr.accessRowHeader td .accessTable th.template_manager_enable_caching,
.templateTable tr.accessRowHeader td .accessTable th.template_manager_refresh_interval {
  width:10%;
}

.templateTable tr.accessRowHeader td .accessTable th.template_manager_enable_php {
  width:8%;
}

.templateTable tr.accessRowHeader td .accessTable th.template_manager_parse_stage {
  width:12%;
}


div.tableRowLeft {
  float:left;
  width:80%;
}

div.tableRowRight {
  float:right;
  width:20%;
  text-align:right;
  margin-bottom:10px;
}

table.accessTable,
table#entries {
  table-layout : fixed;
  margin-bottom:15px;
}

#files_form table{
	margin:15px 0;
}

table#entries td select {
  width:98%;
}

select.template_type {
  width:98%;
}

input.group_name,
input.refresh,
input.template_size,
input.template_name,
input.hits {
  width:90%;
}

table.accessTable div.tableCellHeading {
  margin-bottom:7px;
}

.templateTable tr.accessRowHeader td .accessTable td {
	background-color:	#fafbfc;
	padding:			8px 7px 5px 7px;
	border-bottom:		0;
	border-right:		0;
	border-left:		1px solid #d0d7df;

}

.templateTable tr.accessRowHeader td .accessTable td td {
	border:				0;
	text-align:			center;
}


/* Template Keywords Search */

div.search {
	float: 				right;
}

#template_keywords {
	float: 				left;
	width:				200px;	
}

div#template_keywords_reset {
	float: 				right;
	margin-left: 		-24px;
	padding: 			5px 4px 4px;
	opacity: 			.3;
	filter: 			progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	cursor: 			pointer;
	z-index: 			2;
}
div#template_keywords_reset:hover { opacity: .7 }

div#template_keywords_reset span {
	float: 				right;
	width:				16px;
	height:				16px;
	background: 		url('../images/ui-icons_27343C_256x240.png') no-repeat -32px -192px;
}

.noTemplateResultsMessage {
	margin:				50px auto 0 25px;
	font-size:			18px;
	font-weight:		bold;
}

.templateSearchResults {
	margin-left:		32%;
	color: 				#5F6C74;
}

.templateSearchResults h3 { margin:0; }



/* -------------------------------------
/*  Synchronize Templates
/* -------------------------------------*/

#filterMenu p {
	margin-bottom:10px;
	font-size:12px;
	}

/* -------------------------------------
/*  Edit Page
/* -------------------------------------*/

.status_open {
	color:				#093;
}

.status_closed {
	color:				#900;
}

.templateEditorTable {
	border-collapse:	collapse;
	border:				hidden;
	background-color:	#fff;
	table-layout : fixed;
}

.templateEditorTable th {
	background-color:	#E8EDF0;
	border:				1px solid #d0d7df;
	
	color:				#34424B;
	font-size:			11px;
}

.templateEditorTable td {
	background-color:	#fff;
	border:				1px solid #d0d7df;
}

.templateEditorTable td table td {
	border:				0;
	padding:			0 2px;
}

#mainContent .editAccordion {
	background:			#8FA1AD url('../images/backgrounds_sprite.png') repeat-x 0 -426px;
	border:				1px solid #A1B4C2;
}

#mainContent .editAccordion.collapsed {
	border:				0;
	border-bottom:		1px solid #d0d7df;
	background-image:	none;
}

#mainContent .editAccordion > div {
	background:			#fff;
}

#mainContent .editAccordion h3 {
	background:			transparent url('../images/template_edit_minus.png') 6px 7px no-repeat;
	border:				0;
	padding:			5px;
	padding-left:		22px;
	margin-bottom:		0;
	font-size:			13px;
	color:				#fff;
	text-shadow:		1px 1px 1px #888;
	-webkit-font-smoothing: antialiased;
}

#mainContent .editAccordion.collapsed h3 {
	background:			#DEE6E9 url('../images/template_edit_plus.png') 7px 8px no-repeat;
	color:				#34424B;
	text-shadow:		none;
}

#design #template_notes {
	width: 100%;
}

/* -------------------------------------
/*  Multi Edit Page
/* -------------------------------------*/

.multi_edit label {
	display: 			block;
	font-weight: 		bold;
}

.multi_edit input {
	width:				400px!important;
}

.multi_edit fieldset {
	border:				0;
	margin:				0;
	padding:			0;
	background:			url('../images/field_divider.gif') bottom repeat-x;
}

.multi_edit legend {
	font-weight:		bold;
	padding-top:		5px;
}

.multi_edit fieldset label {
	float:				none!important;
}

.multi_edit fieldset p {
	background:			none!important;
}


/* -------------------------------------
/*  Publish Page
/* -------------------------------------*/

#mainContent #publishForm {
	background-color:	#DDE2E5;
	padding-top:		14px;
	border-top:			1px solid #fff;
}

#mainContent .tab_menu {
	margin-bottom: 		6px;
	height:				24px;
}

#mainContent .tab_menu li {
	float: 				left;
	display:			inline;
	background:			#3a4850 url('../images/backgrounds_sprite.png') repeat-x 0 -217px;
	border-right: 		1px solid #505f66;
	border-left: 		4px solid #2d383e;
	border-top:			1px solid #4f5e65;
	padding-bottom:		3px;
}

#mainContent .tab_menu li a {
/*	margin-top:			12px;*/
	float:				left;
	display:			block;
	padding:			7px 12px 4px 12px;
	font-size:			13px;
	color:				#ffffff;
	font-weight: 		bold;
}

#mainContent .tab_menu li a:hover {
	text-decoration:	none;
}

#mainContent .tab_menu li.current {
	background:			#ECF1F4;
	margin-bottom: 		-3px; /* needed to pull the current tab down over the 1px white border of the toolbar */
	
	border-left: 		4px solid #ECF1F4;
	border-bottom: 		2px solid #ECF1F4;
	border-right: 		1px solid #ECF1F4;
	border-top:			1px solid #FEFFFF;
}

#mainContent .tab_menu li.highlight_tab {
	background:			#e11842;
	color:				#FFF!important;
}

#mainContent .tab_menu li.current a {
	color:				#445058;
}

#mainContent #publishForm .tab_menu li.addTabButton {
	padding-left:			6px;
	padding-right:			6px;
	background:				none;
	border-top:				0;
	border-right:			0;
	border-left:			0;
	display:				none;
}

#mainContent #publishForm .tab_menu li.addTabButton img {
	margin-right:			6px;
}

#mainContent #publishForm .tab_menu li.addTabButton a {
	color: 					#E11842;
}

.publishTabSortPlaceholder {
	margin:					10px 50px;
	background:				transparent !important;
	border:					none !important;
}

#mainContent #publishForm h3 {
	padding:			0 10px;
}

#mainContent .main_tab {
	background-color:	#ECF1F4;
	padding:			4px 0px 14px 12px;
	/*margin-right: 		12px;*/
	z-index:			4;
	color:#5f6c74;
}

.publish_field {
	background:			#ECF1F4 url('../images/publish_field_background.jpg') no-repeat left top;
	background-position:-15px 0px;
	border-left: 		1px solid #d0d7df;
	border-top:			1px solid #D1D5DE;
	margin-left: 		-11px; /* for the left border */
	margin-right: 		9px;
	float:				left;
	width:				100%;
	padding-bottom: 	9px;
	padding-top:		3px;
/*	overflow: 			hidden;*/
	z-index:			3;
}

.publish_field p, .publish_field h3, .publish_field .notice {
	margin: 5px 17px 0px 12px;
}

label.hide_field {
	margin: 5px 17px 0px 12px;
}

.publish_field p {
	color:#5f6c74;
	}
.publish_field a:link,
.publish_field a:visited {
	text-decoration:underline;
	}
.publish_field a:hover {
	color:	#e11842;
	}	
.publish_field fieldset.holder {
	margin: 0;
	padding:0 10px;
	border: 0;
}
.publish_field fieldset legend {
	font-weight:		bold;
}
.publish_field fieldset label {
	font-weight:		normal;
}

.instruction_text p {
	color:#859199;
	font-size:11px;
}

#holder {
	margin-right: 		10px;
	padding-right:		4px;
	border-right: 		4px solid #c1c8ce;
	background:			#ECF1F4;
	clear:				left;
}

#mainContent .dates_tab {
	background:			url('../images/content_custom_tab.png') repeat-x top;
}


#categories_tab fieldset {
 	padding: 			2px;
	border:				0;
	margin:				0;
	background:			url('../images/field_divider.gif') bottom repeat-x;

}

#categories_tab legend {
	font-weight:		bold;
	padding-top:		5px;
}

#categories_tab ul li {
	margin:				5px 0;
}

#dates_tab p {
	border-top: 1px solid #b6c0c2; 
	margin-top: 12px; 
	padding-top: 12px;
}

#mainContent div#tools {
	width:				196px;
	float: 				right;
	clear: 				left;
	display:			none;
}
#mainContent #tools label {
	color: 				#37444d;
	line-height:		160%;
	font-size: 			11px;
}

#mainContent #tools h3 {
	background:			url('../images/content_custom_tab.jpg') repeat-x top;
	margin-left:		-4px;
	margin-bottom:		0;
	padding-bottom:		0;
	padding-left:		0;
	font-size:			15px;
	text-shadow:		0 1px 0 #888;
	
	-webkit-font-smoothing: antialiased;
}

#mainContent #tools div {
	margin-top:			8px;
	overflow:			hidden;
}

#mainContent #tools h3 a.closed {
	background-image:			url('../images/content_custom_tab_arrow_closed_shadow.jpg');
	border-bottom:				1px solid #CBD9E2;
}

#mainContent #tools h3 a {
	background:			url('../images/content_custom_tab_arrow_open_shadow.jpg') no-repeat left top;
	padding: 			0 0 0 25px;
	margin: 			0;
	color: 				#ffffff;
	text-decoration: 	none;
	display: 			block;
	line-height: 		26px;
	border-bottom:		1px solid #F7FBFC;
}

#mainContent #tools .submit_alt {
	display: 			block;
	width: 				161px; /* 177 - 16 px for padding*/
	margin-top: 		2px;
	text-decoration: 	none;
	border:				1px solid #b7c7d2; /* won't work with rounded corners, but looks best for non js */
}

#mainContent #file_manager_tools .submit_alt {
	display: 			block;
	width: 				100%;
	margin-top: 		2px;
	border:				1px solid #b7c7d2; /*  won't work with rounded corners, but looks best for non js */
	text-align:			left;
}

#upload_form #upload_file.field {
	width:				196px;
	margin:				8px 0;
	padding:			3px;
}

select#upload_dir {
	margin:				8px 0 0 0;
	width:				100%;
}

#file_manager_main select#upload_dir {
	width:				auto; /* otherwise it extends outside the file chooser modal */
}

#mainContent #tools .submit_alt img, #mainContent #file_manager_tools .submit_alt img {
	vertical-align: text-top;
}

#mainContent #tools #layout_groups_holder{
	margin:			0 7px;
}

#mainContent #tools ul {
	list-style-type: 	none;
	margin: 			0;
	padding: 			0;
}

.edit_option {
	clear: left;
}

#mainContent #tools li a {
	display: 			block;
	background:			url(../images/content_custom_tab_edit.png) no-repeat scroll left bottom;
	padding-left: 		32px;
	padding-right:		4px;
	line-height: 		20px;
	color: 				#37444d;
	font-size: 			11px;
	text-decoration: 	none;
	width: 				130px;
	overflow: 			hidden;
	height: 			20px;
}

#tools li img {
	margin-left:3px;
	}

#mainContent #tools li a.delete {
	position: 			absolute; 
	margin-top: 		-18px;
	margin-left: 		164px;
	padding: 			0;
	background: 		none;
	width: 				23px;
}

.publish_field label, #publish_tab .publish_checkbox legend {
	display: 			block;
	color: 				#5f6c74;
	font-weight: 		bold;
	line-height:160%;
}

div.cat_group_container {
  margin-left:15px;
}

#categories fieldset {
	margin-bottom: 15px;
}

#sub_hold_field_category label { 
	font-weight:		normal!important;
}

#sub_hold_field_category a.edit_categories_link {
  color:#E11842;
}

a#refresh_categories {
  padding-left:15px;
  color:#E11842;
  margin-bottom:10px;
}

#publish_tab .publish_checkbox label {
	font-weight:		normal;
	font-size:			13px;
	display:			block;
}

#publish_tab .publish_checkbox fieldset {
	border:				0;
}

.publish_text input, .publish_textarea textarea {
	margin-top: 		7px;
	width: 				98.5%;
}

.publish_text input {
	height:				17px;
	margin-top: 		11px;
}

.filename {
	float:				left;
	width: 				auto;
	padding: 			5px;
	border: 			1px solid #B6C0C2;
	text-align: 		center;
}

.file_set .sub_filename {
	clear:				left;
	padding-top:		7px;
}

.hasDatepicker { /* UI datepicker automatically adds this class */
/*
	background: #fff url('../images/calendar_bg.gif') no-repeat 98% 2px;
	background-position: 99%;
	border: 1px solid #B6C0C2;
	padding: 2px;
*/
}

#custom_date_picker input[type="text"] {
	background: transparent url('../images/calendar_bg.gif') no-repeat 98% 2px;
	width:90%;
}

#filterMenu table.ui-datepicker-calendar a {color:#fff;}
#filterMenu table.ui-datepicker-calendar a.ui-state-highlight {color:#505050;}

.handle {
	width:				8px;
	height:				25px;
	float:				left;
	display:			none;
	cursor:				move;
}

.no_handle {
	background-image:	none!important;
}

.publish_field .required {
	font-weight: 		bold;
	color: 				#F00;
	line-height: 		0;
}

#mainContent #tools li a:hover {
	font-weight: 		bold;
}

#mainContent #tools .custom_field_add {
	padding: 			8px;
	margin-bottom: 		3px;
}

.upload_bar {
	padding-top: 		2px;
	text-align:			right;
	float: 				right;
}

.upload_bar img {
	margin: 			0 3px;
}

.upload_bar .close_upload_bar img {
	margin-right: 		0;
	margin: 			0 0 13px 1px;
}

#mainContent #showToolbarLink {
	text-align:			right;
	font-size:			10px;
	height: 			15px;
	line-height:		18px;
	background:			#ECF1F4 url('../images/publish_toolbar_background.png') repeat-x top;
	margin-right: 		20px;
	clear: 				left;
}

#mainContent #showToolbarLink img {
	position: 			absolute;
}

#mainContent #showToolbarLink a {
	color:				#6D808E;
	font-weight:		normal;
}

#publish_tab .publish_field .help_info, #publish_tab .publish_field .spellcheck a, .glossary_content a, .spellcheck_content a {
	font-size:			11px;
	color:				#5E6871
}

.field_summary {
	display:			none;
}

#publish_tab .publish_textarea .button_mode_holder {
	margin-top:			12px;
	color: 				#5f6c74;
	font-weight: 		bold;
	font-size: 			10px;
}

#publish_tab .publish_textarea fieldset {
	border: 			0;
	margin: 			0;
	padding: 			0;
}

#publish_tab .publish_textarea legend {
	display: 			none;
}

html.js .publish_hidden {
	display:			none;
}

.publish_hidden {
	opacity:			0.5;
}

.publish_hidden .instruction_text {
	display:			none;
}

.publish_hidden .hidden_blurb {
	text-align:			center;
	padding:			10px 5px;
}

.file_manipulate {
	cursor:				pointer;
}

.spellcheck {
	text-align: 		right;
	margin-top: 		10px;
	font-size:	11px;
}

.spellcheck .file_manipulate {
	margin-bottom: -5px;
}

.wordSuggestion
{
	background-color: #ECF1F4; 
	border: 1px solid #B6C0C2; 
	padding: 4px;
	position: absolute;
	z-index: 99;
	left: -500px; /* move it off screen */
}

.wordSuggestion a, .wordSuggestion a:active
{
	cursor: pointer;
}

.spellcheck_frame {
	border: 1px solid #b6c0c2;
	margin: 10px 0 10px 10px;
	width: 97%;
}

.glossary_content, .spellcheck_content {
	/*border: 			1px solid #b6c0c2;*/
	margin-top: 		15px;
}

.glossary_content ul {
	float: 				left;
	width: 				25%;
	padding-left: 		15px;
	margin-right: 		-16px;
}

.glossary_content ul.glossary_separator {
	border-left: 		1px solid #b6c0c2;

}

.glossary_content li {
	padding:0 0 .3em 0
}
.glossary_content li a:hover {
	color:	#e11842;
	}
.spellcheck .write_mode_trigger {
	float: 				left;
}

.writemode_parent {
	position:			absolute;
}

#publish_submit_buttons {
	clear:				left;
	text-align:			right;
	padding: 			13px;
	margin-top: 		10px;
}

#publish_submit_buttons li {
	display: 			inline;
}

.author_header {
	width:				10%;
}

.add_author_modal {
	cursor:				pointer;
}

/* -------------------------------------
/*  Write Mode
/* -------------------------------------*/

.closeWindowButton {
	cursor:			pointer;
}

#write_mode_close_container .closeWindowButton, .publish_to_field {
	position: 			absolute;
}

#write_mode_close_container .closeWindowButton {
	right: 				9px;
	top: 				0px;
}

#write_mode_close_container .publish_to_field {
	left: 				15px;
	top: 				1px;
}

#write_mode_footer .publish_to_field {
	top:				5px;
	left: 				15px;
}

#write_mode_container {
	display:			none;
	background:			transparent;
	width:				90%;
	height:				93%;
	top:				1px;
}

#write_mode_header {
	text-align: 		center;
}

#write_mode_header .show_tools {
	position: 			absolute;
	margin-top: 		-26px;
	left: 				50%;
	margin-left: 		-51px;
}


#write_mode_writer {
	background: 		#FFF;
	margin: 			10px 14px 0 14px;
	padding: 			0 16px;
}

#write_mode_footer {
	position:			relative;
	padding-top: 		24px;
}

#write_mode_writer textarea {
	width: 				100%;
	border: 			0;
	margin-top: 		14px;
	font-size:			13px;
}

/* Show Entry */
#view_content_entry_links {
	margin-top:		15px;
	width:				125px;
	padding:			10px;
	font-weight:	bold;
}


/* -------------------------------------
/*  Plugins
/* -------------------------------------*/

#remote_plugins {
	width: 350px;
	font-size:11px;
	float: right;
	border-left:		1px solid #d0d7df;
	border-top:		1px solid #d0d7df;
	border-right:		1px solid #d0d7df;
}

#mainContent .pageContents p, #mainContent .pageContents table #remote_plugins p {
	margin-top:5px;
	margin-bottom:1px;
}

#remote_plugins li {
	padding: 14px;
	border-bottom:		1px solid #d0d7df;
}

#local_plugins {
	margin-right: 366px;
}

#remote_plugins li.even {
	background-color:	#ECF1F4;
}

#remote_plugins li.odd {
	background-color:	#f4f6f6;
}

#paginationLinks img {
	vertical-align:top;
}
#paginationLinks a, #paginationLinks strong {
	margin-right:5px;
}	

#remote_plugins h4,
#remote_plugins h4 a {
	color:#5F6C74;
	font-size:12px;
}


/* -------------------------------------
/*  Addons
/* -------------------------------------*/

.addonsContentMenu {
	margin: 0;
	width: 100%;
}

.addonsContentMenu li a {
	padding-left: 11px;
}

#accessoriesDiv {
	clear:				both;
	padding-top:		14px;
}

#accessoryTabs {
	margin-left:		25px;
}

#accessoryTabs li {
	float:				left;
	margin-right:		3px;
	font-size:			18px;
	line-height:		18px;
	color:				#dee4e4;
	background:			#98AAB6 url('../images/backgrounds_sprite.png') repeat-x 0 -426px;
	padding:			6px 12px;
}

#accessoryTabs li a:link,
#accessoryTabs li a:visited {
	display:			block;
	padding-right:		18px;
	color:				#fff;
	text-shadow:		#666 0 1px 0px;
	position:			relative;
}

#accessoryTabs li.current a {
	text-shadow:		0 1px 0 #000;
}

#accessoryTabs li a span.accessoryHandle {
		background:			transparent url('../images/cp_sprite.png') no-repeat left top;
		position:			absolute;
		right:				0;
		top:				4px;
		width:				11px;
		height:				11px;
}

#accessoryTabs li.current {
	color:				#fff;
	background-color:	#243038;
	background-image:	none;
}

#accessoryTabs li.current a span.accessoryHandle {
	background:			#243038 url('../images/cp_sprite.png') no-repeat left -16px;
	top:				3px;
}

#accessoriesDiv .accessory {
	clear:				both;
	display: 			none;
	color:				#a0aaa4;
	background-color:	#243038;
	font-size:			11px;
	padding:			22px 25px;	
}

#accessoriesDiv .accessorySection {
	padding:			0 22px;
	float:				left;
	border-left:		1px solid #445058;
}

#accessoriesDiv .accessorySection h5 {
	font-size:			18px;
	font-weight:		normal;
	color:				#fff;
	text-shadow:		0 1px 0 #000;
	margin-bottom:		18px;
}

#accessoriesDiv .accessorySection li {
	padding:			5px 0;
}

#accessoriesDiv .accessorySection a:link, #accessoriesDiv .accessorySection a:visited {
	color:				#a0aaa4;
}

#accessoriesDiv .accessorySection a:hover {
	color:				#fff;
}

#accessoriesDiv a:hover {
	text-decoration:	none;
}

/* default accessories */

#learningEE ul.videos {
	padding-left:		40px;
	background:			transparent url('../images/video_list_icon.gif') top left no-repeat;
}

#learningEE ul.videos li a {
	padding-left:		16px;
	background:			transparent url('../images/list_item_video.gif') left no-repeat;
}

#learningEE ul.videos li a:hover {
	background-image:			url('../images/list_item_video_hover.gif');
}

#newsAndStats .accessorySection {
	width:				45%;
}

#newsAndStats .entry {
	padding-bottom:		10px;
	border-bottom:		1px solid #39454b;
	margin-bottom:		6px;
}

#newsAndStats .entryLink {
	font-weight:		bold;
	font-size:			12px;
}

#newsAndStats a.entryLink:link, #newsAndStats a.entryLink:visited {
	color:				#a0aaa4;
	padding-left:		12px;
	background:			transparent url('../images/news_link_icon.gif') left center no-repeat;
}

#newsAndStats a.entryLink:hover {
	color:				#fff;
}

#newsAndStats .entryDate {
	color:				#5b6b74;
	font-size:			10px;
	padding-left:		12px;
}

#newsAndStats .fullEntry {
	display: 			none;
}

#newsAndStats p {
	line-height:		14px;
	letter-spacing:		.1em;
	padding:			4px 16px;
	margin:				3px 0;
}

#newsAndStats table {
	width:				100%;
	text-align:			left;
	font-size:			11px;
	color:				#a0aaa4;
	border-top:			1px solid #39454b;
}

#newsAndStats td {
	padding:			6px 5px 5px 5px;
	border-bottom:		1px solid #39454b;
}

#newsAndStats td.values {
	text-align:			right;
	padding-right:		85px;
}

#newsAndStats td strong {
	color:				#929596;
}

#expressionengine_info a.update {
	text-decoration: 	underline;
	font-weight: 		bold;
}


/* -------------------------------------
/*  Members
/* -------------------------------------*/

input#ip_address {
	margin:7px 0 0 0;
}
	
.ban_box_l {
	width: 				50%;
	float: 				left;
}

.ban_box_r {
	width: 				47%;
	padding-left:		3%;
	float: 				right;
}

.ban_box_l textarea, .ban_box_r textarea {
	margin:7px 0 0 0;
}
.ban_box_l .field {
	margin:7px 0 0 0;
	display:block;
}
#member_group_details p {
	margin:			 	0;
}

#member_group_details .question {
	padding-top: 		4px;
	width: 				70%;
	float: 				left;
}

#member_group_details .answer {
	padding-left: 		75%;
	border-bottom: 		1px solid #37444d;
	padding-bottom: 	9px;
	margin-bottom: 		-9px;
}

#member_group_details .last {
	border: 			0;
}

#mainContent h3.accordion {
	/*background:			#3f4d55 url('../images/form_area_heading_bg.gif') bottom left repeat-x;*/
	border-bottom:		1px solid #d2d7db;
	padding:			3px 4px 3px 28px;
	color:				#FFF!important;
	font-size:			14px;
	font-weight:		bold;
	cursor:				pointer;
	clear: 				left;
	text-shadow:		#666 0px 1px 0px;
}

/* -------------------------------------
/*  Add ons
/* -------------------------------------*/

#mainContent .prefSettings input {
	width:				300px;
}

#mainContent .prefSettings label {
	font-weight:		bold;
	display: 			block;
	width:				40%;
	float:				left;
}

#mainContent .prefSettings p {
	background:			url('../images/field_divider.gif') bottom repeat-x;
	padding:			5px 0 8px 0;
	clear:				left;
}

#mainContent .prefSettings p.submit {
	background:			none;
	padding-left:		40%;
}

#mainContent .prefSettings {
	background-color:	#ECF1F4;
	padding:			12px 10px;
	color:				#5f6c74;
	font-size:			11px;
}

#mainContent .prefSettings .checks {
	display: block;
	width: 300px;
}

/* -------------------------------------
/*  Admin
/* -------------------------------------*/

.html_button_label {
	display: 			none;
}

/* -------------------------------------
/*  Tools
/* -------------------------------------*/
.toolsContentMenu {
	margin: 			0;
	width: 				100%;
	background-color:	#ECF1F4;
}

.toolsMenu {
	width:				21%;
}

.toolsMenu h2 {
	background:			transparent url('../images/tools_watermark.gif') bottom right no-repeat;
	
}

.phpinfo_display table {
	border-top: 		1px solid #d0d7df;
	border-left: 		1px solid #d0d7df;
	border-right: 		1px solid #d0d7df;
	background: 		#dee6e9;
}

.phpinfo_display table td {
	border-bottom: 		1px solid #d0d7df;
}

/* close button positioned on upper right corner */
#overlay .close {
	background-image: 		url('../images/fancybox/fancybox.png');
	background-position: 	-40px 0px;
	position:				absolute;
	right:					-10px;
	top:					-10px;
	cursor:					pointer;
	height:					30px;
	width:					30px;
}


#overlay {
	display:				none;
	background: 			#fff;
	z-index:				10000;
	color:					#efefef;
	min-width:				150px;
	min-height:				150px;
	padding:				15px;

	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	border-radius: 			8px;
	
	-webkit-box-shadow: 	rgba(0, 0, 0, 0.347656) 0px 8px 8px;
    -moz-box-shadow:    	rgba(0, 0, 0, 0.347656) 0px 8px 8px;
	box-shadow:				rgba(0, 0, 0, 0.347656) 0px 8px 8px;
}

div.contentWrap {
	overflow-y:auto;
	text-align:center;
}



#file_list li h3 {
	background:			#3f4d55 url('../images/form_area_heading_bg.gif') bottom left repeat-x;
	padding:			6px 0 3px 5px!important;
	color:				#ECF1F4;
	cursor:				pointer;
	border-bottom:		1px solid #d2d7db;
	font-size:			12px;
	font-weight:		bold;
	line-height: 		16px;
	margin: 			0px 0 3px 0;
}

#file_list li li span {
	color:				#5f6c74;
	display: 			block;
	float:				left;
	line-height:		16px;
}

#file_list li li span.file_name {
	width: 				45%;
}

#file_list li li span.file_size {
	width: 				10%;
	color: 				#9C9C9C;
}

#file_list li li span.file_date {
	width: 				25%;
	color: 				#9C9C9C;
}
#file_list li li span.file_options {
	width: 				20%;
}

#file_list li {
	clear:				left;
	margin-bottom: 		12px;
}

#file_list li li {
	clear: 				left;
	list-style-image:   url(../images/list_item_item.gif);
	margin:		0 0 0 23px;
	height: 15px;
}

#file_list li ul li.even {
	background:			#dee6e9;
}

#file_list a {
		color: 			#37444d; 
}

#file_list li ul li.odd {
	background:			#ECF1F4!important;
}

#file_list li li a:hover {
	font-weight: 		bold;
}

#mainContent div#file_manager {
	background-color:	#DDE2E5;
	padding-top:		14px;
	border-top:			1px solid #fff;
}

#mainContent #file_manager_tools {
	width:				250px;
	float: 				right;
	clear: 				left;
}

#mainContent #file_manager #showToolbarLink {
	margin-right: 		264px;
}

#file_manager_tools h3 {
	background:			url('../images/content_custom_tab.jpg') repeat-x top;
	margin-left:		-4px;
	margin-bottom:		0;
	padding-bottom:		0;
	padding-left:		0;
	font-size:			15px;
	text-shadow:		0 1px 0 #888;
	
	-webkit-font-smoothing: antialiased;
}

#file_manager_tools h3 a.closed {
	background-image:			url('../images/content_custom_tab_arrow_closed_shadow.jpg');
	border-bottom:				1px solid #CBD9E2;
}

#file_manager_tools h3 a {
	background:			url('../images/content_custom_tab_arrow_open_shadow.jpg') no-repeat left top;
	padding: 			0 0 0 25px;
	margin: 			0;
	color: 				#ffffff;
	text-decoration: 	none;
	display: 			block;
	line-height: 		26px;
	border-bottom:		1px solid #F7FBFC;
}

#file_manager_tools h3 a.open {
	background:			url('../images/content_custom_tab_arrow_open.jpg') no-repeat left top;
}

#file_manager_tools li a,
#file_manager_tools li a:visited {
	display: 			block;
	color:				#5f6c74;
}

#mainContent #file_manager .f_m_s p.preview {
	text-align: 		center;
}

#file_information_hold {
	padding: 10px;
}

#file_information_hold ul li.file_name {
	font-size: 			120%;
	border-bottom: 		1px solid #D2D7DB;
	color: 				#37444d;
	margin-bottom: 		5px;
	padding-bottom: 	5px;

}

#file_information_hold ul {
	margin-bottom: 		5px;
	border-bottom: 		1px solid #D2D7DB;
	padding-bottom:	 	5px;
}

#file_information_hold li {
	line-height: 		120%;
	font-size: 			110%;
	clear: 				left;
}

#file_information_hold li span {
	float: 				left;
	display:			inline-block;
	font-weight:		bold;
	width: 				38%;
	text-align:			right;
	padding-right: 		5px;
	margin-bottom:		5px;
}

#file_information_hold li.file_permissions span {
	width: 38%;
}

#file_information_hold li.file_location span {
	width: 				21%;
}

#file_information_hold li.file_location p {
	width: 75%;
	display:			inline-block;
	word-wrap: break-word;
}

#mainContent #file_manager .f_m_s {
	padding: 			12px 12px 12px 12px;
	color:				#34424b;
}

#mainContent #file_manager .f_m_s ul li {
	margin-bottom:10px;
	padding-left:20px;
}

#mainContent #file_manager .f_m_s ul #download_selected {
	background: transparent url(../images/icon-download-file.png) no-repeat;
}

#mainContent #file_manager .f_m_s ul #delete_selected_files {
	background: transparent url(../images/icon-delete.png) no-repeat;
}

#mainContent #file_manager .f_m_s ul #create_new_upload_pref {
	background: transparent url(../images/icon-create-upload-file.png) no-repeat;
}

#mainContent #file_manager .f_m_s ul #upload_item {
	background: transparent url(../images/upload_item.png) no-repeat;
}

#mainContent #file_manager .f_m_s .cp_button {
	clear:left;
	margin-left: 0;
	width: 100%;	
}

.file_info {
	display: 			block;
}

#files_form {
	margin:0 10px 0 0;
}

#file_manager_holder {
	margin-right: 		250px;
	padding-right:		4px;
	border-right:		4px solid #C1C8CE;
	background:			#ECF1F4;
}

#file_manager_holder .selected td{
	background: 		#46545D!important;
	color:#fff;
}

#file_manager_holder .selected a {
	color: 				#FFF!important;
}

#file_manager_list {
	overflow:			auto; /* for very narrow windows with all sidebars exposed */
}

#file_manager_list h3 {
	background: 		#ECF1F4 url('../images/folder_icon_open.gif') no-repeat left;
	margin-bottom: 		0;
	padding-left: 		35px;
	padding:			5px 20px;
	cursor:				pointer;
	border-bottom:		1px solid #d0d7df;
}

#file_manager_list h3.closed {
	background-image: url('../images/folder_icon_closed.gif');
}
#file_manager_list p {
	margin-bottom:10px;
}
#file_manager_list input.submit {
	margin:15px 0;
}

table.solo {
	border-top: 1px solid #d0d7df;
	border-right: 1px solid #d0d7df;
}

#progress {
	text-align: center;
	display: none;
	padding: 15px 0;
}

#edit_image_holder {
	overflow: scroll;
}

.image_edit_form_options #image_edit_form .source label {
	width:				auto;
	margin-top: 		5px;
	float: 				none;
}

.image_edit_form_options #image_edit_form label {
	width:				150px;
}

#image_edit_form label {
	font-weight:		bold;
	display: 			block;
	width:				30%;
	float:				left;
}

.image_edit_form_options #image_edit_form p {
	padding:			2px 0 5px 0;
}

.image_edit_form_options #image_edit_form p.submit_button {
	background:			none;
}

#image_edit_form p {
	background:			url('../images/field_divider.gif') bottom repeat-x;
	padding:			5px 0 8px 0;
	clear:				left;
}

#image_edit_form p.last {
	background:			none;
}

#mainContent #filterMenu {
	background-color:	#ECF1F4;
	color:				#5f6c74;
	font-size:			12px;
}


/* Image link that shows up in
 * edit if you have autosave data */

#autosaved_entries {
	float:				right;
	text-decoration: 	none;
	border:				1px solid #b7c7d2; /* won't work with rounded corners, but looks best for non js */
	padding:			4px 8px;
}

#autosaved_entries img {
	padding-right:		2px;
	vertical-align:		text-bottom;
	margin-bottom:		-1px;
}


#mainContent #tools .submit_alt
#autosaved_entries {
	border: 1px solid #ccc;
}

.image_edit_form_options #image_edit_form fieldset {
	width:				440px;
	padding:			3px 10px;
}

#image_edit_form fieldset {
	background-color:	#ECF1F4;
	padding:			12px 10px;
	color:				#5f6c74;
	font-size:			11px;
}

.image_edit_form_options #image_edit_form #rotate_fieldset ul {
	display: block;
}

#image_edit_form #rotate_fieldset ul {
	display: none;
}

#image_edit_form #rotate_fieldset li {
	display: inline;
	cursor: pointer;
}

#image_edit_form legend {
	font-size:			24px;
}

.translatePhrase {
	width:				50%;
}

/* -------------------------------------
/*  Communicate
/* -------------------------------------*/

#communicate_info {
	width: 				250px;
	float: 				right;
}

#communicate_compose {
	margin-right: 		266px;
}

#communicate_compose ul label, #communicate_compose ul li span {
	float: 				left;
	display: 			block;
	width: 				30%;
	line-height: 		30px;
	font-weight:		bold;
}

#communicate_compose li {
	clear: 				left;
	padding: 			7px 0 7px 7px;
}

#communicate_info ul, #communicate_compose ul {
	border-left:		1px solid #d0d7df;
	border-top:			1px solid #d0d7df;
	border-right:		1px solid #d0d7df;
}

#communicate_compose ul {
	border-bottom:		1px solid #d0d7df;
}

#communicate_info li {
	padding: 			7px 14px;
	border-bottom:		1px solid #d0d7df;
}

#communicate_info li.even, #communicate_compose li.even {
	background-color:	#dee6e9;
}

#communicate_info li.odd, #communicate_compose li.odd {
	background-color:	#ECF1F4;
}

#communicate_info h3 {
	margin-top:15px;
}

#plaintext_alt {
	width:				99%;
}

/**
 * pagination
 */

.dataTables_paginate span.first,
.dataTables_paginate span.previous,
.dataTables_paginate span.next {
	margin-right:5px;
}

.dataTables_paginate span.next {
	margin-left:5px;
}

.dataTables_paginate span span.paginate_button {padding:0 5px;}

.dataTables_wrapper {margin-bottom:20px;}


/* -------------------------------------
/*  Help
/* -------------------------------------*/

#mainContent #help_resources {
	background-color:	#ECF1F4;
	padding:			12px 10px;
	color:				#5f6c74;
	font-size:			11px;
}

#mainContent #help_resources h3 {
	margin-top: 		10px;
	margin-bottom: 		0px;
	padding: 			0;
}


/* -------------------------------------
/*  Footer
/* -------------------------------------*/

#footer {
	clear:				both;
	text-align:			center;
	font-size:			11px;
	color:				#8F9A9C; 
	background-color:	#3E4C54;
	padding:			20px 0 15px 0;
}

#footer img {
	vertical-align:		bottom;
}

#footer a:link, #footer a:visited, #footer a:hover {
	color:				#ccc;
}

/* -------------------------------------
/*  jQuery plugins
/* -------------------------------------*/

/* bugfix for corner plugin in FF3 and Opera 9 */
.jquery-corner {
	position: relative;
}

/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder
{
	text-align: left;
}

.jcrop-vline, .jcrop-hline
{
	font-size: 0;
	position: absolute;
	background: white url('../images/jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {
	font-size: 1px;
	width: 7px;
	height: 7px;
	border: 1px #808080 solid;
	background: #F2F2F2;
	opacity: 1!important; /* no opacity */
}

.jcrop-tracker {
	*background-color: gray;
	width: 100%; height: 100%;
}


/* Javascript Rules */

html.js .js_hide,
html.js #revealSidebarLink {
	display: none;
}

.js_show {
	display: none;
}


/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
	margin:			0px;
	padding:		0px;
}
.markItUp {
	padding-top:	10px;
}

.markItUpPreviewFrame {
	overflow:auto;
	background-color:#FFFFFF;
	border:1px solid #3C769D;
	width:99.9%;
	height:300px;
	margin:5px 0;
}
.markItUpFooter {
	width:	100%;
	cursor:	n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background: transparent url(../images/cp_sprite.png) no-repeat left -34px;
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li {
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li ul{
	display:none;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {
	background:transparent url(images/menu.png) no-repeat 115% 50%;
	margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
.markItUpHeader ul .markItUpSeparator {
	margin:0 7px 0 4px;
	width:1px;
	height:16px;
	overflow:hidden;
	text-indent: -5000px;
	background-color:#d0d7df;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:18px; left:0px;	
	background:#F5F5F5;
	border:1px solid #3C769D;
	height:inherit;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background:#F5F5F5 url(images/submenu.png) no-repeat 100% 50%;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;

	height:19px;
	background-repeat:no-repeat;
	margin:1px;
	padding:1px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#3C769D;
}
/***************************************************************************************/

.markItUp ul {
	margin: 			7px 0 0 0;
	padding: 			3px 2px 3px 4px;
	list-style: 		none;
	border: 			1px solid #d0d7df;
	background: 		#e1e8ed;
	height:				22px;
	border-radius:		4px;
	-webkit-border-radius:		4px;
	-moz-border-radius:		4px;
}

.formatting_buttons {
	margin: 			7px 0 0 0;
	padding: 			4px 4px 1px 4px;
	list-style: 		none;
	border: 			1px solid #d0d7df;
	background: 		#e1e8ed;
}

.close_formatting_buttons a {
	text-indent: 0!important;
	width: 13px!important;
	padding: 0!important;
	border:0!important;
	background-color: transparent;
	height: 13px!important;
}

.close_formatting_buttons {
	float: 				right!important;
}

.markItUp a {
	background:#e1e8ed;
	border: 1px solid #d0d7df;
	line-height: 15px;
}
.markItUp a:hover {
	text-decoration: none!important;
}
.markItUp .btn_b a, .markItUp .btn_strong a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -85px 0;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}
.markItUp .btn_i a, .markItUp .btn_em a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -175px 0;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}
.markItUp .btn_s a, .markItUp .btn_strike a, .markItUp .btn_del a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -131px 0;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}
.markItUp .btn_ins a, .markItUp .btn_insert a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -198px 0;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}
.markItUp .btn_ul a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -107px -21px;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}
.markItUp .btn_ol a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -198px -21px;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}
.markItUp .btn_li a, .markItUp .btn_indent a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -107px 0;
	text-indent:-10000px;
	border:0!important;
	background-color: transparent;
	width: 19px;
}
.markItUp .btn_p a, .markItUp .btn_paragraph a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -221px 0;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}
.markItUp .btn_blockquote a, .markItUp .btn_bq a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -85px -21px;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}
.markItUp .btn_h1 a, .markItUp .btn_heading1 a, .markItUp .btn_headingone a {
	width: 25px;
	background: transparent url(../images/formatting_buttons.png) no-repeat 0 0;
	text-indent:-10000px;
	border:0!important;
}
.markItUp .btn_h2 a, .markItUp .btn_heading2 a, .markItUp .btn_headingtwo a {
	width: 25px;
	background: transparent url(../images/formatting_buttons.png) no-repeat -27px 0;
	text-indent:-10000px;
	border:0!important;
}
.markItUp .btn_h3 a, .markItUp .btn_heading3 a, .markItUp .btn_headingthree a {
	width: 25px;
	background: transparent url(../images/formatting_buttons.png) no-repeat -54px 0;
	text-indent:-10000px;
	border:0!important;
}
.markItUp .btn_h4 a, .markItUp .btn_heading4 a, .markItUp .btn_headingfour a {
	width: 25px;
	background: transparent url(../images/formatting_buttons.png) no-repeat 0 -21px;
	text-indent:-10000px;
	border:0!important;
}
.markItUp .btn_h5 a, .markItUp .btn_heading5 a, .markItUp .btn_headingfive a {
	width: 25px;
	background: transparent url(../images/formatting_buttons.png) no-repeat -27px -21px;
	text-indent:-10000px;
	border:0!important;
}
.markItUp .btn_h6 a, .markItUp .btn_heading6 a, .markItUp .btn_headingsix a {
	width: 25px;
	background: transparent url(../images/formatting_buttons.png) no-repeat -54px -21px;
	text-indent:-10000px;
	border:0!important;
}
.markItUp .btn_a a, .markItUp .btn_link a, .markItUp .btn_anchor a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -153px 0;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}
.markItUp .btn_img a, .markItUp .btn_image a, .markItUp .btn_graphic a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -175px -21px;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}
.markItUp .btn_separator a {
	background-image:url(../images/publish_separator.gif);
	text-indent:-10000px;
	border:0!important;
	background-color: transparent;
	width: 19px;
}
.markItUp .btn_plus a {
	background: transparent url(../images/formatting_buttons.png) no-repeat -132px -21px;
	text-indent:-10000px;
	border:0!important;
	width: 19px;
}


/* JS Notice CSS */

#notice_flag {
	position: relative;
	top: 15px;
	left: 77%;
	
	display: none;
	background: #1F2B33;
	
	padding: 17px 10px 8px 10px;
	color: #fff;

	border: 1px solid #303F4A;
	border-top: none;
	
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

#notice_container {
	opacity: 0.96;
	
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1002;
}

#notice_texts_container {
	background: #1F2B33;
	color: #fff;
	display: none;
	
	border: 1px solid #303F4A;
}

#notice_counts {
	display: inline;
}

#notice_counts span {
	padding: 7px 6px 4px 6px;
	display: none;
}

#notice_counts span:hover,
#active_notice {
	cursor: pointer;
	background: #2D3C47;
}

#notice_counts span img {
	margin-bottom: -3px;
}
	
.notice_texts {
	padding: 10px 30px;
	margin: 0;
}

.notice_texts p {
	padding: 5px;
}

.notice_texts .subcount {
	background: #818F97;
	padding: 1px 4px;
	text-shadow: 0 1px 0 #777;
	margin-left: -22px;
	margin-right: 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#close_notice {
	font-size: 1.2em;
	padding: 3px 10px;
	color: white;
	float: right;
}
