/* Minified: print.css */
.object_subtasks{margin:0 -20px}.object_subtasks h2{display:none}table.subtasks_table{border-top:.7pt solid #e5e5e5;margin-top:10px}table.subtasks_table td{padding:4pt 5pt}table.subtasks_table td.checkbox{padding-right:0}table.subtasks_table span.subtask_assignee{font-weight:bold;margin-right:5px}table.subtasks_table td.due_on{text-align:right;width:70pt;color:#888}table.subtasks_table td.label{font-weight:bold;font-style:italic;color:#666;border-right:1px solid #e5e5e5;width:70px;text-align:right;font-size:.8em;padding-left:0}
