<?php
//pr($menu);
//$pagination_params = $this->Paginator->params(); 
?>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php // echo __($page_heading)    ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Item Detail</h2> 

			<?PHP echo $this->Html->link('New Item', '/menus/add_item', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading)   ?></button>

		</div>
		<!-- End Header -->
		<div class="body">
			<?php
//			echo $this->Form->create("Insert", array('action' => 'index', 'id' => 'validate'));
//			echo $this->Form->input("q", array('label' => 'Search for', 'required' => 'required', 'div' => false, 'class' => 'med float-left-margin'));
//			echo $this->Form->button('Search', array('type' => 'submit', 'escape' => true, 'class' => 'button green small float-left-margin'));
//			echo $this->Form->end();
			?> 
            <table  >
				<thead>
					<tr>
						<th align="left">Detail<?php //echo $this->Paginator->sort('name');    ?></th>

					
					</tr>
				</thead>
				<tbody>
					<?php //for ($i=1; $i<=15; $i++){
//foreach ($result as $results): 
					?>

					<tr> 
						
						<td>Name<?php //echo ($results['Array']);    ?>&nbsp;</td>
						<td><?php echo ($menu[0]['items']['name']); ?></td>

					</tr>
					<tr> 
						<td  >Arabic Name<?php //echo ($results['Array']);    ?>&nbsp;</td>
						<td ><?php echo ($menu[0]['items']['nameArabic']); ?></td>



					</tr>


					<tr>
						<td >Image<?php //echo ($results['Array']);    ?>&nbsp;</td>
						<td ><img src="<?php echo ($menu[0]['items']['imageUrl']); ?>" alt="Image Not Found" width="60" height="60" /></td>
					</tr>
					
					<tr>

						<td>Display Order<?php //echo ($results['Array']);    ?>&nbsp;</td>
						<td ><?php echo ($menu[0]['items']['displayOrder']); ?></td>

					</tr>
					<tr>

						<td>Description<?php //echo ($results['Array']);    ?>&nbsp;</td>
						<td ><?php echo ($menu[0]['items']['description']); ?></td>

					</tr>
					<tr>

						<td>Arabic Description<?php //echo ($results['Array']);    ?>&nbsp;</td>
						<td ><?php echo ($menu[0]['items']['descriptionArabic']); ?></td>

					</tr>
					<tr>

						<td>Category<?php //echo ($results['Array']);    ?>&nbsp;</td>
						<td ><?php echo ($menu[0]['Category']['name']); ?></td>

					</tr>



					<tr>
						<td class="grid_dropdown"> </td>
						<td colspan="3"><?php //echo h($result['Array']['description']);    ?></td>
					</tr>
					<?php //endforeach; 
					?>
				</tbody>
            </table>
<?php //echo $this->element('pagination',array('pagination_params' => $pagination_params));   ?>
            <!--End Pagination-->
		</div>
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>

