
<!-- File: /app/View/Posts/view.ctp -->
<?php //pr($result);exit(); ?>
<p><?php //echo h($user['User']['first_name']); ?></p>
<p><?php //echo h($user['User']['last_name']);  ?></p>
<p><?php //echo h($user['User']['email']);  ?></p>
<p><?php //echo h($user['User']['status']);  ?></p>
<p><?php //echo h($user['User']['ip_address']);  ?></p>
<!--========= Page Heading  =========-->
<h1 class="border_bottom_1"><?php // echo __($page_heading)  ?></h1>

<section class="grid_12">
	<!-- begin box -->
	<div class="box">
		<!-- Box Header -->
		<div class="header clearfix">
            <h2>Menu </h2> 

<?PHP echo $this->Html->link('Add Item', '/menus/add', array('type' => 'button', 'class' => 'button light linkform', 'data-target' => 'register')); ?>      <!-- <button class="button dark" data-target="register" onclick='history.back()'
  
  //App.redirect({
//				controller : 'Inserts',
//				action : 'add'
//			})">--> <?php //echo __('New ' . $page_heading) ?></button>

		</div>
		<!-- End Header -->
		<div class="body">



<h4>Tree View</h4>
<ul id = "navigation" class = "filetree">
	<?php
	$main_counter =0;
	foreach ($result['Menu'] as $menu) {
		echo '<li class="closed"><span class="folder">' . $menu['name'] . '</span>';
		$i = 0;
		foreach ($menu['Category'] as $category) {
			if ($i == 0) {
				echo'<ul>';
			}
			echo '<li class="closed"><span class="folder">' . $category['name'] . '</span>';
   $category_counter =0;
			foreach ($category['CategoryItem'] as $CategoryItem) {
				if ($category_counter == 0) {
					echo'<ul>';
				}
				echo '<li class="closed"><span class="folder">' . $CategoryItem['name'] . '</span>';
				if (isset($CategoryItem['Item'])) {
					$item_counter=0;
					foreach ($CategoryItem['Item'] as $Item) {
						if ($item_counter == 0) {
							echo'<ul>';
						}
						echo '<li class="closed"><span class="file">' . $Item['name'].'</span></li>';
								//$this->Html->link($Item['name'],
                 //   array('controller'=>'menus','action'=>'view',$Item['name'])).'</span></li>';

						if ($item_counter == count($CategoryItem['Item']) - 1) {
							echo'</li></ul>';
						}$item_counter++;
					}
				}
				if ($category_counter == count($category['CategoryItem']) - 1) {
					echo'</ul>';
				}$category_counter++;
				
			}
			if ($i == count($menu['Category']) - 1) {
					echo'</li></ul>';
				}
			$i++;
		}
		
		
				
				if(count($result['Menu'])== $main_counter) {
			echo'</li>';
		}
		$main_counter++;
	}
	?>
</ul>
</div>
		<!-- End box body -->
	</div>
	<!-- End box -->
</section>
