
/** BASE STYLES
 * ----------------------------------------------------------------------------------------------------
 */
body,select,input,textarea {
	color: #444; /* set your base font here, to apply evenly */
}

a,a:active,a:visited {
	color: #607890;
}

a:active {
	top: 1px;
}

a:hover {
	color: #036;
}

::-moz-selection {
	background: #5d7389;
	color: #fff;
}

::selection {
	background: #5d7389;
	color: #fff;
}

a:link {
	-webkit-tap-highlight-color: #FF5E99;
}


/* TYPOGRAPHY & GENERAL STYLING
=======================================================================================================================
 */
/** WRAPPER & BODY STYLES
 * ----------------------------------------------------------------------------------------------------
 */
body {
	background: url(images/body_bg.png) repeat #f7f8f9;
}

#main {
	background: url(images/main_bg.jpg) repeat-x top left;
}


/** HEADINGS
 * ----------------------------------------------------------------------------------------------------
 */
h1,h2,h3,h4,h5,h6 {
	color: #607890;
}

h1 {
	text-shadow: 1px 1px 0px #fff;
}

/** Styled heading class **/
.heading_style1 {
	background-color: #e3e5e9;
}

.heading_style1 span {
	background-color: white;
}

/** BORDERS
 * ----------------------------------------------------------------------------------------------------
 */
.border_bottom_1 {
	background: url(images/border_bottom_1.gif) bottom left repeat-x;
}

.border_bottom_2 {
	background: url(images/border_bottom_2.gif) bottom left repeat-x;
}

.border_bottom_3 {
	background: url(images/border_bottom_3.gif) bottom left repeat-x;
}

/** TYPOGRAPHY
 * ----------------------------------------------------------------------------------------------------
 */
hr {
	border-top: 1px solid #aeb9c4;
	border-bottom: 1px solid #fff;
}

blockquote {
	background: url(images/blockquote_bg.png) no-repeat left top;
}

cite {
	color: #7f7f7f;
}

pre {
	background: #efeff2;
}

/* END -TYPOGRAPHY & GENERAL STYLING
=======================================================================================================================
 */
/* FORMS
=======================================================================================================================
 */
fieldset {
	border-top: 1px solid #d4d9df;
}

fieldset legend {
	color: #4D6482;
}

form label {
	color: #585858;
}

form p small {
	color: #777;
}

form input,form select,form textarea,form .wysiwyg {
	color: #111111;
	border: 1px solid #d4d9df;
}


/** Error styles
 * ----------------------------------------------------------------------------------------------------
 */
input.invalid,textarea.invalid {
	-webkit-box-shadow: 0px 0px 3px red;
	-moz-box-shadow: 0px 0px 3px red;
	box-shadow: 0px 0px 3px red;
}

.no-boxshadow input.invalid,.no-boxshadow textarea.invalid {
	border: 1px solid red;
	background-color: #fff5f7;
}

/** Focus styles
 * ----------------------------------------------------------------------------------------------------
 */
form input:focus, form select:focus,form textarea:focus {
	border: 1px solid #b7d6ff;

	-webkit-box-shadow: #b7d6ff 0px 0px 3px;
	-moz-box-shadow: #b7d6ff 0px 0px 3px;
	box-shadow: #b7d6ff 0px 0px 3px;
}

/** Validator
 * ----------------------------------------------------------------------------------------------------
 */
.validator {
	/* supply height to ensure consistent positioning for every browser */
	background-color: #5b5b5b;
    color:#fff;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #2c2c2c));
	background: -webkit-linear-gradient(top, #5b5b5b 0%,#2c2c2c 100%);
	background: -moz-linear-gradient(top, #5b5b5b 0%,#2c2c2c 100%);
	background: -o-linear-gradient(top, #5b5b5b 0%,#2c2c2c 100%);
	background: -ms-linear-gradient(top, #5b5b5b 0%,#2c2c2c 100%);
	background: linear-gradient(top, #5b5b5b 0%,#2c2c2c 100%);
}

.validator .arrow {
	border-bottom: 7px solid #5b5b5b;
}


/** Buttons
 * ----------------------------------------------------------------------------------------------------
 */
.button {
	background: #fff url(images/button_bg.png) repeat-x top left;
	border: 1px solid #ffffff;

	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}





/* Button Colors */
.light,a.light:hover,a.light:visited {
	color: #6d819a;
	background-color: #e9ebef;
	border-color: #c2d3e6;
	text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25);
}

.dark {
	color: #fff;
	background-color: #616161;
	border-color: #8B8B8B;
}

.blue {
	color: #fff;
	background-color: #5C89BD;
	border-color: #7b91a9;
}

.green {
	color: #fff;
	background-color: #70B12A;
	border-color: #559717;
}

.red {
	color: #fff;
	background-color: #ad0e0e;
	border-color: #ad0e0e;
}


/* Buttons in header */
.box .header .button {
	-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

/* END -FORMS
=======================================================================================================================
 */
/* GLOBAL ELEMENTS -HEADER, FOOTER, NAV, USER MENU
=======================================================================================================================
 */
/** HEADER
 * ----------------------------------------------------------------------------------------------------
 */
header {
	background: url(images/header_bg.jpg) repeat-x bottom left;
}

/** LOGO
 * ----------------------------------------------------------------------------------------------------
 */
.logo {
	background: url(images/logo.png) no-repeat top left;
}

/** FOOTER
 * ----------------------------------------------------------------------------------------------------
 */
footer {
	color: #c8cfd9;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2a313c), color-stop(30%, #445061));
	background: -webkit-linear-gradient(top, #2a313c 0%, #445061 30%);
	background: -moz-linear-gradient(top, #2a313c 0%, #445061 30%);
	background: -o-linear-gradient(top, #2a313c 0%, #445061 30%);
	background: -ms-linear-gradient(top, #2a313c 0%, #445061 30%);
	background: linear-gradient(top, #2a313c 0%, #445061 30%);
}

.no-cssgradients footer {
	background: url(images/footer_bg.gif) repeat-x #445061;
}

footer a,footer a:visited,footer a:active {
	color: #fff;
}

footer a:hover {
	color: #fff;
}

/** NAVIGATION
 * ----------------------------------------------------------------------------------------------------
 */

.sf-menu a {
	color: #808d9f;
}

.sf-menu a:hover {
	color: #415a7a;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}

.sf-menu a.current {
	color: #415a7a;
	font-weight: bold;
	background: url(images/user_dropdown_bg.jpg) repeat-x bottom;
}

/** TOGGLE SWTICH FOR MAIN MENU
 * ----------------------------------------------------------------------------------------------------
 */
.nav_toggle {
	background-image: url(images/nav_toggle.png);
}

/** USER MENU
 * ----------------------------------------------------------------------------------------------------
 */

/* ===[ Menu Button ]=== */
#user_menu .menu_btn {
	background: url(images/user_dropdown_bg.jpg) repeat-x bottom;
}

#user_menu:hover .menu_btn {
	color: #415a7a;
}

#user_menu .menu_btn .arrow {
	background: url(images/menu_arrow.png) no-repeat 0px 0px;
}


/* ===[ Menu ]=== */
#user_menu .menu {
	border: 3px solid #d2dce4;
	background-color: #fcfcfd;

	-webkit-box-shadow: 0px 0px 5px #ccddff;
	-moz-box-shadow: 0px 0px 5px #ccddff;
	box-shadow: 0px 0px 5px #ccddff;
}


/* ===[ Search field in user menu ]=== */
#user_menu .menu .search_container {
	border-bottom: 1px solid #d1d9e0;
	background: url(images/search_container_bg.gif) repeat-x bottom #fcfcfd; /* old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfd), color-stop(100%, #eaebef));

	background: -webkit-linear-gradient(top, #fcfcfd 0%, #eaebef 100%);
	background: -moz-linear-gradient(top, #fcfcfd 0%, #eaebef 100%);
	background: -o-linear-gradient(top, #fcfcfd 0%, #eaebef 100%);
	background: -ms-linear-gradient(top, #fcfcfd 0%, #eaebef 100%);
	background: linear-gradient(top, #fcfcfd 0%, #eaebef 100%);
}

#user_menu .menu .search {
	background-color: #fff;

	-webkit-box-shadow: inset 1px 1px 0px #CCC;
	-moz-box-shadow: inset 1px 1px 0px #CCC;
	box-shadow: inset 1px 1px 0px #CCC;
}

.no-boxshadow #user_menu .menu .search {
	border: 1px solid #e8ebee;
}

#user_menu .menu .search input[type="text"] {
	color: #646f78;
	background: #fff;
}


#user_menu .menu .search .search_icon {
	background: url(images/search.png);
}


/* ===[ Logout Button ]=== */
.menu .logout {
	-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	box-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

/* ===[ Menu tabs ]=== */
.menu .tabs {
	border-top: 1px solid #f1f3f5;
	border-bottom: 1px solid #ced4dc;
	background: #eaecef; /* old browsers */
}

.menu .tabs li a {
	text-indent: -999em;
}


.menu .tabs li a.settings span {
	background: url(images/settings_user_menu.png) no-repeat;
}

.menu .tabs li a.emails span {
	background: url(images/email_user_menu.png) no-repeat;
}

.menu .tabs li a.themes span {
	background: url(images/themes_user_menu.png) no-repeat;
}

.menu .tabs li a.current {
	border: 1px solid #ced4dc;
	background-color: #fcfcfd;
}


.menu div ul li a {
	color: #3d3d3d;
	border-bottom: 1px solid #e7e9ee;
	border-top: 1px solid #fff;
	background-color: #fcfcfd; /* To fix mozilla animation bug */
}

.menu div ul li a:hover {
	color: #415a7a;
}

.menu div ul li a:active {
	border-top: 1px solid #c9d0d9;
	border-bottom: 1px solid #c9d0d9;
}

.menu div ul li a:hover {
	background-color: #f2f4f7;
}

.menu div ul li a small {
	color: #a5a5a5;
}

.menu div ul li a:hover small {
	color: #3d3d3d;
}

/* ===[ Settings List ]=== */

.menu .settings ul li a span.icon {
	background: url(images/settings_icons.png);
}

/* ===[ Emails ]=== */
.menu .emails ul li a:hover,.menu .emails ul li a.read:hover {
	color: #415a7a;
	background-color: #f2f4f7;
}

.menu .emails ul li a span.icon {
	background: url(images/email_icons.png);
}


/* ===[ Read Email ]=== */
.menu .emails ul li a.read {
	color: #a5a5a5;
}


.menu .footer {
	border-top: 1px solid #d4d9df;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6F6F7), color-stop(100%, #EDEEF1));

	background: -webkit-linear-gradient(top, #F6F6F7 0%, #EDEEF1 100%);
	background: -moz-linear-gradient(top, #F6F6F7 0%, #EDEEF1 100%);
	background: -o-linear-gradient(top, #F6F6F7 0%, #EDEEF1 100%);
	background: -ms-linear-gradient(top, #F6F6F7 0%, #EDEEF1 100%);
	background: linear-gradient(top, #F6F6F7 0%, #EDEEF1 100%);
}

.no-cssgradients .menu .footer {
	background: url(images/user_menu_footer_bg.gif) repeat-x bottom left #F6F6F7; /* old browsers */
}
/* END -GLOBAL ELEMENTS -HEADER, FOOTER, NAV, USER MENU
=======================================================================================================================
 */
/* BREADCRUMBS
=======================================================================================================================
 */
.breadcrumbs {
	border: 1px solid #d1dbe3;
	color: #808080;
	text-shadow: 0 1px 0 #fff;

	-webkit-box-shadow: 0px 1px 2px #e1e1e2;
	-moz-box-shadow: 0px 1px 2px #e1e1e2;
	box-shadow: 0px 1px 2px #e1e1e2;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFF), color-stop(100%, #E7EAEF));
	background: -webkit-linear-gradient(top, #FCFCFF 0%, #E7EAEF 100%);
	background: -moz-linear-gradient(top, #FCFCFF 0%, #E7EAEF 100%);
	background: -o-linear-gradient(top, #FCFCFF 0%, #E7EAEF 100%);
	background: -ms-linear-gradient(top, #FCFCFF 0%, #E7EAEF 100%);
	background: linear-gradient(top, #FCFCFF 0%, #E7EAEF 100%);
}
.no-cssgradients .breadcrumbs {
	background: url(images/breadcrumbs_bg.gif) repeat-x bottom left #FCFCFF; /* old browsers */
}


.breadcrumbs li {
	background: url(images/chevron.png) no-repeat right center;
}

.breadcrumbs li:first-child a {
	background: url(images/home.png) no-repeat left center;
}


/* END -BREADCRUMBS
=======================================================================================================================
 */
/* BOX STYLES
=======================================================================================================================
 */
.box {
	border: 1px solid #d2dce4;

	-webkit-box-shadow: 0px 0px 5px #ccddff;
	-moz-box-shadow: 0px 0px 5px #ccddff;
	box-shadow: 0px 0px 5px #ccddff;

	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #eff0f3), color-stop(8%, #FFFFFF));
	background: -webkit-linear-gradient(bottom, #eff0f3 0%, #FFFFFF 40px);
	background: -moz-linear-gradient(bottom, #eff0f3 0%, #FFFFFF 40px);
	background: -o-linear-gradient(bottom, #eff0f3 0%, #FFFFFF 40px);
	background: -ms-linear-gradient(bottom, #eff0f3 0%, #FFFFFF 40px);
	background: linear-gradient(bottom, #eff0f3 0%, #FFFFFF 40px);
}

.no-cssgradients .box{
    background: url(images/box_bg.png) repeat-x bottom #fffefe;
}

.with_sidebar {
	background: url(images/vertical_nav_bg.gif) repeat-y left top;
}

.box .header {
	border-bottom: 1px solid #d4d9df;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #E7E9EE));
	background: -webkit-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -moz-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -o-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -ms-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);

}
.no-cssgradients .box .header {
	background: url(images/box_header_bg.png) repeat-x bottom left;
}

.box .footer {
	border-bottom: 1px solid #d4d9df;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdee2), color-stop(20%, #eceef2));
	background: -webkit-linear-gradient(top, #dcdee2 0%, #eceef2 20%);
	background: -moz-linear-gradient(top, #dcdee2 0%, #eceef2 20%);
	background: -o-linear-gradient(top, #dcdee2 0%, #eceef2 20%);
	background: -ms-linear-gradient(top, #dcdee2 0%, #eceef2 20%);
	background: linear-gradient(top, #dcdee2 0%, #eceef2 20%);
}

.no-cssgradients .box .footer {
	background: url(images/tabs_bg.gif) repeat-x #eff0f3;
}

.box .header h2 {
	color: #808d9f;
	text-shadow: 1px 1px 0px #fff;
}


/** HEADER CONTROLS
 * ----------------------------------------------------------------------------------------------------
 */
/* ===[ Seperator for header controls ]=== */
.box .header .seperator {
	background: url(images/header_seperator_bg.png) repeat-y;
}

/* ===[ Expose Control ]=== */
.box .header .expose {
	color: #939393;
}


/* Overrides to superfish main menu
 */
.menu_header .sf-menu a {
	background: url(images/header_menu_bg.png) repeat-x bottom left #fefefe;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #DDDFE4));
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #DDDFE4 100%);
	background: -moz-linear-gradient(top, #FFFFFF 0%, #DDDFE4 100%);
	background: -o-linear-gradient(top, #FFFFFF 0%, #DDDFE4 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #DDDFE4 100%);
	background: linear-gradient(top, #FFFFFF 0%, #DDDFE4 100%);

	-webkit-box-shadow: 1px 1px 0px #d7d9dc;
	-moz-box-shadow: 1px 1px 0px #d7d9dc;
	box-shadow: 1px 1px 0px #d7d9dc;
}

.menu_header .sf-menu li ul {
	background-color: #f5f5f5;
}


.menu_header .sf-menu ul li:hover,.menu_header .sf-menu ul li.sfHover,.menu_header .sf-menu ul a:focus,.menu_header .sf-menu ul a:hover,.menu_header .sf-menu ul a:active {
	background: #eeeff3;
}

/* ===[ Search field in box header ]=== */
.box .header .search {
	background-color: #fff;

	-webkit-box-shadow: inset 1px 1px 2px #CCC;
	-moz-box-shadow: inset 1px 1px 2px #CCC;
	box-shadow: inset 1px 1px 2px #CCC;
}

.ie .box .header .search {
	border: 1px solid #e8ebee;
}

.box .header .search input[type="text"] {
	color: #646f78;
}

.box .header .search .search_icon {
	background: url(images/search.png) top left;
}

/* ===[ Expand/Collapse box controls ]=== */
.box .header .toggle_visibility {
	background-image: url(images/arrows_med.png);
}


/* ===[ Sub Navigation in box header ]=== */
.box .header .sub_nav {
	border: 1px solid #d2dce6;

	-webkit-box-shadow: 1px 1px 1px #fff;
	-moz-box-shadow: 1px 1px 1px #fff;
	box-shadow: 1px 1px 1px #fff;
}

.box .header .sub_nav a {
	color: #999999;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFE), color-stop(100%, #E5EAEF));
	background: -webkit-linear-gradient(top, #FFFFFE 0%, #E5EAEF 100%);
	background: -moz-linear-gradient(top, #FFFFFE 0%, #E5EAEF 100%);
	background: -o-linear-gradient(top, #FFFFFE 0%, #E5EAEF 100%);
	background: -ms-linear-gradient(top, #FFFFFE 0%, #E5EAEF 100%);
	background: linear-gradient(top, #FFFFFE 0%, #E5EAEF 100%);
	border-right: 1px solid #fff;
	border-left: 1px solid #d2dce6;
}
.no-cssgradients.box .header .sub_nav a {
	background: url(images/sub_nav_bg.png) repeat-x bottom left #FFFFFE;
}


.box .header .sub_nav a:hover {
	color: #4d6482;
}

.box .header .sub_nav a.current {
	color: #4d6482;
    background-color: #fefefe;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E5EAEF), color-stop(70%, #fefefe));
	background: -webkit-linear-gradient(top, #E5EAEF 0%, #fefefe 70%);
	background: -moz-linear-gradient(top, #E5EAEF 0%, #fefefe 70%);
	background: -o-linear-gradient(top, #E5EAEF 0%, #fefefe 70%);
	background: -ms-linear-gradient(top, #E5EAEF 0%, #fefefe 70%);
	background: linear-gradient(top, #E5EAEF 0%, #fefefe 70%);
}


/* ===[ Prev/Next buttons for header ]=== */

ul.prev_next {
	border: 1px solid #d2dce6;

	-webkit-box-shadow: 1px 1px 1px #fff;
	-moz-box-shadow: 1px 1px 1px #fff;
	box-shadow: 1px 1px 1px #fff;
}

ul.prev_next li {
	background: #FDFEFE; /* old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFEFE), color-stop(100%, #E8EAEF));

	background: -webkit-linear-gradient(top, #FDFEFE 0%, #E8EAEF 100%);
	background: -moz-linear-gradient(top, #FDFEFE 0%, #E8EAEF 100%);
	background: -o-linear-gradient(top, #FDFEFE 0%, #E8EAEF 100%);
	background: -ms-linear-gradient(top, #FDFEFE 0%, #E8EAEF 100%);
	background: linear-gradient(top, #FDFEFE 0%, #E8EAEF 100%);
}

.no-cssgradients ul.prev_next li {
	background: url(images/prev_next_bg.gif) repeat-x bottom #fcfdfd;
}


ul.prev_next li a span {
	background: url(images/prev_next_bg.png) no-repeat top left;
}

ul.prev_next li.prev {
	border-right: 1px solid #d2dce6;
}

ul.prev_next li.next {
	border-left: 1px solid #fff;
}

/* END -BOX STYLES
=======================================================================================================================
 */
/* PROGRESS BARS
=======================================================================================================================
 */
.progress_bar {
	-webkit-box-shadow: 0px 1px 0px #FFFFFF;
	-moz-box-shadow: 0px 1px 0px #FFFFFF;
	box-shadow: 0px 1px 0px #FFFFFF;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DADCE1), color-stop(40%, #ECEEF2));
	background: -webkit-linear-gradient(top, #DADCE1 0%, #ECEEF2 40%);
	background: -moz-linear-gradient(top, #DADCE1 0%, #ECEEF2 40%);
	background: -o-linear-gradient(top, #DADCE1 0%, #ECEEF2 40%);
	background: -ms-linear-gradient(top, #DADCE1 0%, #ECEEF2 40%);
	background: linear-gradient(top, #DADCE1 0%, #ECEEF2 40%);
}
.no-cssgradients .progress_bar {
	background: url(images/progress_bar_container_bg.gif) repeat-x top #eceef2;
}


.progress_bar span {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
	color: #000;
	color: rgba(0, 0, 0, 0.7);
	border: 1px solid #d4d9df;

	background: url(images/progress_bar_bg.png) repeat-x top;
}

.progress_bar.green span {
	background-color: #5ac841; /* old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86e360), color-stop(100%, #5ac841));
	background: -webkit-linear-gradient(top, #86e360 0%, #5ac841 100%);
	background: -moz-linear-gradient(top, #86e360 0%, #5ac841 100%);
	background: -o-linear-gradient(top, #86e360 0%, #5ac841 100%);
	background: -ms-linear-gradient(top, #86e360 0%, #5ac841 100%);
	background: linear-gradient(top, #86e360 0%, #5ac841 100%);
}

.progress_bar.blue span {
	background-color: #628ec0; /* old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90c6df), color-stop(100%, #628ec0));
	background: -webkit-linear-gradient(top, #90c6df 0%, #628ec0 100%);
	background: -moz-linear-gradient(top, #90c6df 0%, #628ec0 100%);
	background: -o-linear-gradient(top, #90c6df 0%, #628ec0 100%);
	background: -ms-linear-gradient(top, #90c6df 0%, #628ec0 100%);
	background: linear-gradient(top, #90c6df 0%, #628ec0 100%);
}

.progress_bar.yellow span {
	background-color: #eae763; /* old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f392), color-stop(100%, #eae763));
	background: -webkit-linear-gradient(top, #f5f392 0%, #eae763 100%);
	background: -moz-linear-gradient(top, #f5f392 0%, #eae763 100%);
	background: -o-linear-gradient(top, #f5f392 0%, #eae763 100%);
	background: -ms-linear-gradient(top, #f5f392 0%, #eae763 100%);
	background: linear-gradient(top, #f5f392 0%, #eae763 100%);
}

.progress_bar.red span {
	background-color: #cd6060; /* old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e68f8f), color-stop(100%, #cd6060));
	background: -webkit-linear-gradient(top, #e68f8f 0%, #cd6060 100%);
	background: -moz-linear-gradient(top, #e68f8f 0%, #cd6060 100%);
	background: -o-linear-gradient(top, #e68f8f 0%, #cd6060 100%);
	background: -ms-linear-gradient(top, #e68f8f 0%, #cd6060 100%);
	background: linear-gradient(top, #e68f8f 0%, #cd6060 100%);
}

/* END -PROGRESS BARS
=======================================================================================================================
 */
/* NOTIFICATION BOXES
=======================================================================================================================
 */
div.info,div.error,div.success {
	text-shadow: 0 2px 1px #FFFFFF;

	-webkit-box-shadow: 0 2px 1px #bfbfc0;
	-moz-box-shadow: 0 2px 1px #bfbfc0;
	box-shadow: 0 2px 1px #bfbfc0;
	background: url(images/notification_bg.png) top repeat-x;
}


.close_notification {
	background: url(../../images/close_notification.png) no-repeat top left;
}


div.info {
	border: 1px solid #e3e3c4;
	color: #5d5500;
	background-color: #FBFBE0; /* old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #FBFBE0), color-stop(100%, #F8F7C4));
	background: -webkit-linear-gradient(top, #FBFBE0 1%, #F8F7C4 100%);
	background: -moz-linear-gradient(top, #FBFBE0 1%, #F8F7C4 100%);
	background: -o-linear-gradient(top, #FBFBE0 1%, #F8F7C4 100%);
	background: -ms-linear-gradient(top, #FBFBE0 1%, #F8F7C4 100%);
	background: linear-gradient(top, #FBFBE0 1%, #F8F7C4 100%);
}

div.error {
	border: 1px solid #f8cfc4;
	color: #b93c1b;
	background-color: #f8cfc4; /* old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #fbe6e0), color-stop(100%, #f8cfc4));
	background: -webkit-linear-gradient(top, #fbe6e0 1%, #f8cfc4 100%);
	background: -moz-linear-gradient(top, #fbe6e0 1%, #f8cfc4 100%);
	background: -o-linear-gradient(top, #fbe6e0 1%, #f8cfc4 100%);
	background: -ms-linear-gradient(top, #fbe6e0 1%, #f8cfc4 100%);
	background: linear-gradient(top, #fbe6e0 1%, #f8cfc4 100%);
}

div.success {
	border: 1px solid #cae4c4;
	color: #365d00;
	background-color: #cae4c4; /* old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #daf4d4), color-stop(100%, #cae4c4));
	background: -webkit-linear-gradient(top, #daf4d4 1%, #cae4c4 100%);
	background: -moz-linear-gradient(top, #daf4d4 1%, #cae4c4 100%);
	background: -o-linear-gradient(top, #daf4d4 1%, #cae4c4 100%);
	background: -ms-linear-gradient(top, #daf4d4 1%, #cae4c4 100%);
	background: linear-gradient(top, #daf4d4 1%, #cae4c4 100%);
}

/* END -NOTIFICATION BOXES
=======================================================================================================================
 */
/* TAGS
=======================================================================================================================
 */


.tags li a,.tag {
	color: #fff;
	text-shadow: 1px 1px 0px rgba(83, 83, 83, 0.3);

	-webkit-box-shadow: 1px 1px 0px #FFF;
	-moz-box-shadow: 1px 1px 0px #FFF;
	box-shadow: 1px 1px 0px #FFF;
	background: url(images/progress_bar_bg.png) top repeat-x;
}

.tags li a.green,.tag.green {
	background-color: #41a535; /* old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #86E360), color-stop(100%, #5AC841));

	background: -webkit-linear-gradient(top, #86E360 0%, #5AC841 100%);
	background: -moz-linear-gradient(top, #86E360 0%, #5AC841 100%);
	background: -o-linear-gradient(top, #86E360 0%, #5AC841 100%);
	background: -ms-linear-gradient(top, #86E360 0%, #5AC841 100%);
	background: linear-gradient(top, #86E360 0%, #5AC841 100%);
}

.tags li a.blue,.tag.blue {
	background-color: #1c779d; /* old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90C6DF), color-stop(100%, #628EC0));

	background: -webkit-linear-gradient(top, #90C6DF 0%, #628EC0 100%);
	background: -moz-linear-gradient(top, #90C6DF 0%, #628EC0 100%);
	background: -o-linear-gradient(top, #90C6DF 0%, #628EC0 100%);
	background: -ms-linear-gradient(top, #90C6DF 0%, #628EC0 100%);
	background: linear-gradient(top, #90C6DF 0%, #628EC0 100%);
}

.tags li a.yellow,.tag.yellow {
	background-color: #9d861c; /* old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfcd0d), color-stop(100%, #9d861c));

	background: -webkit-linear-gradient(top, #dfcd0d 0%, #9d861c 100%);
	background: -moz-linear-gradient(top, #dfcd0d 0%, #9d861c 100%);
	background: -o-linear-gradient(top, #dfcd0d 0%, #9d861c 100%);
	background: -ms-linear-gradient(top, #dfcd0d 0%, #9d861c 100%);
	background: linear-gradient(top, #dfcd0d 0%, #9d861c 100%);
}

.tags li a.red,.tag.red {
	background-color: #9d211c; /* old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E68F8F), color-stop(100%, #CD6060));

	background: -webkit-linear-gradient(top, #E68F8F 0%, #CD6060 100%);
	background: -moz-linear-gradient(top, #E68F8F 0%, #CD6060 100%);
	background: -o-linear-gradient(top, #E68F8F 0%, #CD6060 100%);
	background: -ms-linear-gradient(top, #E68F8F 0%, #CD6060 100%);
	background: linear-gradient(top, #E68F8F 0%, #CD6060 100%);
}

/* END -TAGS
=======================================================================================================================
 */
/* NAVIGATION STYLES
=======================================================================================================================
 */
/** VERTICAL NAVIGATION
 * ----------------------------------------------------------------------------------------------------
 */

.vertical_nav li a {
	color: #7e858c;
	text-shadow: 1px 1px 0px #fff;
}

.vertical_nav li .current {
	background: url(images/vertical_nav_indicator.png) no-repeat right top #eff0f3;
	color: #415a7a;
}

/** TABS
 * ----------------------------------------------------------------------------------------------------
 */
.box .tabs {
	border-bottom: 1px solid #c7ced7;
	background: #EFF0F3; /* old browsers */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D9DDE4), color-stop(20%, #EFF0F3));

	background: -webkit-linear-gradient(top, #D9DDE4 0%, #EFF0F3 20%);
	background: -moz-linear-gradient(top, #D9DDE4 0%, #EFF0F3 20%);
	background: -o-linear-gradient(top, #D9DDE4 0%, #EFF0F3 20%);
	background: -ms-linear-gradient(top, #D9DDE4 0%, #EFF0F3 20%);
	background: linear-gradient(top, #D9DDE4 0%, #EFF0F3 20%);
}

.no-cssgradients .box .tabs {
	background: url(images/tabs_bg.gif) repeat-x #eff0f3;
}

.box .tabs li a {
	color: #7d8ea2;
}

.box .tabs li a.current {
	background: #FFF;
	color: #415a7a;
	border: 1px solid #c7ced7;
}

/** ACCORDION
 * ----------------------------------------------------------------------------------------------------
 */
.accordion {
	border: 1px solid #d2dce4;
}

/* ===[ accordion header ]=== */
.accordion h2 {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d2dce4;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #E7E9EE));
	background: -webkit-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -moz-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -o-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -ms-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
}
.no-cssgradients .accordion h2 {
	background: url(images/accordion_header_bg.gif) repeat-x bottom #fcfcfc;
}

.accordion h2:hover {
	color: #1f4e8a;
}


/* ===[ accordion header arrows ]=== */
.accordion h2 .arrow {
	background: url(images/arrows_med.png) no-repeat -28px 0px;
}


/* ===[ Accordion pane ]=== */
.accordion div.pane {
	background: #fff;
}
/* END -NAVIGATION STYLES
=======================================================================================================================
 */


/* WIZARD
=======================================================================================================================
 */
#steps {
	color: #4d6583;
	border-bottom: 1px solid #d2dce4;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D9DDE4), color-stop(20%, #EFF0F3));
	background: -webkit-linear-gradient(top, #D9DDE4 0%, #EFF0F3 20%);
	background: -moz-linear-gradient(top, #D9DDE4 0%, #EFF0F3 20%);
	background: -o-linear-gradient(top, #D9DDE4 0%, #EFF0F3 20%);
	background: -ms-linear-gradient(top, #D9DDE4 0%, #EFF0F3 20%);
	background: linear-gradient(top, #D9DDE4 0%, #EFF0F3 20%);
	text-shadow: #FFF 1px 2px 1px;
}

.no-cssgradients #steps {
	background: url(images/tabs_bg.gif) repeat-x #eff0f3;
}


#steps li.current {
	color: #fff;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8eb2db), color-stop(100%, #5785ba));
	background: -webkit-linear-gradient(top, #8eb2db 0%, #5785ba 100%);
	background: -moz-linear-gradient(top, #8eb2db 0%, #5785ba 100%);
	background: -o-linear-gradient(top, #8eb2db 0%, #5785ba 100%);
	background: -ms-linear-gradient(top, #8eb2db 0%, #5785ba 100%);
	background: linear-gradient(top, #8eb2db 0%, #5785ba 100%);
	text-shadow: #3f5874 0px 2px 1px;
}
.no-cssgradients li.current #steps li.current{
	background: url(images/wizard_active_bg.gif) repeat-x top #5785ba; /* Old browsers */
}

/* END -WIZARD
=======================================================================================================================
 */

/* SCROLLABLE CAROUSEL
=======================================================================================================================
 */
.scrollable {
	background: url(images/scroller_bg.png) no-repeat center bottom;
}

.scrollable .thumb:hover {
    background: -moz-linear-gradient(top, #ffffff 0%, #e8eaef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8eaef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e8eaef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e8eaef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e8eaef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#e8eaef 100%); /* W3C */
    
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.no-cssgradients .scrollable .thumb:hover {
	background: url(images/thumb_bg.gif) repeat-x bottom left #fff;
}


/** CAROUSEL BUTTONS
 * ----------------------------------------------------------------------------------------------------
 */
.jcarousel-next-horizontal {
	background: transparent url(images/carousel_arrows.png) no-repeat -22px top;
}

.jcarousel-direction-rtl .jcarousel-next-horizontal {
	background-image: url(images/carousel_arrows.png);
}

.jcarousel-prev-horizontal {
	background: transparent url(images/carousel_arrows.png) no-repeat -22px bottom;
}

.jcarousel-direction-rtl .jcarousel-prev-horizontal {
	background-image: url(images/carousel_arrows.png);
}

/* END -SCROLLABLE CAROUSEL
=======================================================================================================================
 */
/* TABLES
=======================================================================================================================
 */
.datagrid {
	border: 1px solid #D4D9DF;
	color: #202020;
	background: #fff;
}

.datagrid thead tr th {
	text-shadow: 1px 1px 0 #FFF;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #e9edef));
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -moz-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -ms-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
}

.no-cssgradients .datagrid thead tr th {
	background: url(images/table_header_bg.gif) repeat-x bottom left #fcfcfc;
}

.datagrid th {
	border-bottom: 1px solid #D4D9DF;
	color: #415A7A;
}

.datagrid td {
	border-bottom: 1px solid #CECECE;
	color: #3D3D3D;
}


/** Selected items and dropdown
 * ----------------------------------------------------------------------------------------------------
 */
tr.grid_dropdown,tr.active {
	text-shadow: 1px 1px 0 #FFF;
}

tr.grid_dropdown td {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DCE1E6), color-stop(10%, #f5f6f8));
	background: -webkit-linear-gradient(top, #DCE1E6 0%, #f5f6f8 10%);
	background: -moz-linear-gradient(top, #DCE1E6 0%, #f5f6f8 10%);
	background: -o-linear-gradient(top, #DCE1E6 0%, #f5f6f8 10%);
	background: -ms-linear-gradient(top, #DCE1E6 0%, #f5f6f8 10%);
	background: linear-gradient(top, #DCE1E6 0%, #f5f6f8 10%);
}

.no-cssgradients tr.grid_dropdown td {
	background: url(images/pagination_bg.gif) repeat-x top left #eceef2;
}

/** Hover styles for grid items
 * ----------------------------------------------------------------------------------------------------
 */
.datagrid tr:hover {
	color: #000;
	background-color: #E4F2FF !important;
}

/** Minimize/Mazimize controls
 * ----------------------------------------------------------------------------------------------------
 */

.datagrid .toggle span {
	background-image: url(images/grid_toggle.png);
}


/* END -TABLES
=======================================================================================================================
 */


/* PAGINATION STYLES
=======================================================================================================================
 */
/** NUMBERED PAGINATION
 * ----------------------------------------------------------------------------------------------------
 */
.pagination {
	text-shadow: 1px 1px 0px #fff;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdee2), color-stop(20%, #eceef2));
	background: -webkit-linear-gradient(top, #dcdee2 0%, #eceef2 20%);
	background: -moz-linear-gradient(top, #dcdee2 0%, #eceef2 20%);
	background: -o-linear-gradient(top, #dcdee2 0%, #eceef2 20%);
	background: -ms-linear-gradient(top, #dcdee2 0%, #eceef2 20%);
	background: linear-gradient(top, #dcdee2 0%, #eceef2 20%);
}

.no-cssgradients .pagination {
	background: url(images/pagination_bg.gif) repeat-x top left #eceef2;
}


.pagination li.active a {
	color: #415A7A; /*active pagination anchor color*/
    background: url(images/pagination_active.png) no-repeat top; /*active pagination pointer*/
}

/** DOT PAGINATION
 * ----------------------------------------------------------------------------------------------------
 */

.dot_pagination li a {
	background: url(images/dot_pagination_bg.png) no-repeat top left;
}

/* END -PAGINATION STYLES
=======================================================================================================================
 */
/* iPHONE STYLE TOGGLE BUTTONS
=======================================================================================================================
 */
.itoggle {
	background-image: url(images/itoggle.png);
}

/* END-iPHONE STYLE TOGGLE BUTTONS
=======================================================================================================================
 */
 
 
 
/* TOOLTIPS
=======================================================================================================================
 */
.tooltip,.tooltip.bottom {
	color: #fff;
	background-color: #2c2c2c;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #2c2c2c));
	background: -webkit-linear-gradient(top, #5b5b5b 0%, #2c2c2c 100%);
	background: -moz-linear-gradient(top, #5b5b5b 0%, #2c2c2c 100%);
	background: -o-linear-gradient(top, #5b5b5b 0%, #2c2c2c 100%);
	background: -ms-linear-gradient(top, #5b5b5b 0%, #2c2c2c 100%);
	background: linear-gradient(top, #5b5b5b 0%, #2c2c2c 100%);

	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);

}

.tooltip .arrow,.tooltip.bottom .arrow {
	border-top: 9px solid #2c2c2c;
}

.tooltip.bottom .arrow {
	border-bottom: 9px solid #5b5b5b;
}

/* END -TOOLTIPS
=======================================================================================================================
 */

/* RANGE INPUT
=======================================================================================================================
 */
/* ===[ slider root element ]=== */
.slider {
	background: #E3E5E9;
	border: 1px solid #d4d9df;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afb7c1), color-stop(40%, #e3e5e9));
	background: -webkit-linear-gradient(top, #afb7c1 0%, #e3e5e9 40%);
	background: -moz-linear-gradient(top, #afb7c1 0%, #e3e5e9 40%);
	background: -o-linear-gradient(top, #afb7c1 0%, #e3e5e9 40%);
	background: -ms-linear-gradient(top, #afb7c1 0%, #e3e5e9 40%);
	background: linear-gradient(top, #afb7c1 0%, #e3e5e9 40%);
}
.no-cssgradients .slider {
	background: url(images/slider_bg.gif) top left repeat-x #dbe1e9;
}


/* ===[ progress bar (enabled with progress:  true) ]=== */
.slider .progress {
	background-color: #b7d6ff;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b7d6ff), color-stop(40%, #8ebfff));
	background: -webkit-linear-gradient(top, #b7d6ff 0%, #8ebfff 40%);
	background: -moz-linear-gradient(top, #b7d6ff 0%, #8ebfff 40%);
	background: -o-linear-gradient(top, #b7d6ff 0%, #8ebfff 40%);
	background: -ms-linear-gradient(top, #b7d6ff 0%, #8ebfff 40%);
	background: linear-gradient(top, #b7d6ff 0%, #8ebfff 40%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7d6ff', endColorstr='#8ebfff', GradientType=0 ); /* ie */
}

/* ===[ drag handle ]=== */
.handle,.handle:active,.handle:hover {
	background: url(images/slider.png) no-repeat;
}

/* END -RANGE INPUT
=======================================================================================================================
 */

/* DATE PICKER
=======================================================================================================================
 */
/* ===[ calendar root element ]=== */
#calroot {
	/* place on top of other elements. set a higher value if nessessary */
	background-color: #fff;
	border: 1px solid #b7d6ff;

	-webkit-box-shadow: 0 0 5px #b7d6ff;
	-moz-box-shadow: 0 0 5px #b7d6ff;
	box-shadow: 0 0 5px #b7d6ff;
}

/* ===[ head. contains title, prev/next month controls and possible month/year selectors ]=== */
#calhead {
	background-color: #f3f8ff;
}

#caltitle {
	color: #4c6482;
	text-shadow: 0 1px 0 #ddd;
}

#calnext,#calprev {
	background: transparent url(images/cal_prev_next.png) no-repeat scroll left top;
}

/* ===[ names of the days ]=== */
#caldays {
	border-bottom: 1px solid #ddd;
}


/* ===[ container for weeks ]=== */
#calweeks {
	background-color: #fff;
}


/* ===[ single day ]=== */
.calweek a {
	color: #666;
}

/* ===[ different states ]=== */
.calweek a:hover,.calfocus {
	background-color: #ddd;
}

/* sunday  */
a.calsun {
	color: red;
}

/* offmonth day  */
a.caloff {
	color: #ccc;
}

a.caloff:hover {
	background-color: rgb(245, 245, 250);
}

/* unselecteble day  */
a.caldisabled {
	background-color: #efefef !important;
	color: #ccc !important;
}

/* current day  */
#calcurrent {
	background-color: #8092aa;
	color: #fff;
}

/* today  */
#caltoday {
	background-color: #333;
	color: #fff;
}

/* END -DATE PICKER
=======================================================================================================================
 */
/* CL EDITOR
=======================================================================================================================
 */
.cleditorMain {
	border: 1px solid #D2DCE4;
	background-color: white;
}


.cleditorToolbar {
	background: url('images/toolbar.gif') repeat;
}

.cleditorGroup {
	background: url('images/toolbar.gif') repeat;
}

.cleditorButton {
	background: url(images/buttons.gif);
}

.cleditorButton:hover {
	background-color: #fff;
}

.cleditorDisabled:hover {
	background-color: #fff;
}

.cleditorDivider {
	background: #CCC;
}

.cleditorPopup {
	border: solid 1px #999;
	background-color: white;
}

.cleditorPrompt {
	background-color: #F6F7F9;
}

.cleditorMsg {
	background-color: #FDFCEE;
}

/* END -CL EDITOR
=======================================================================================================================
 */
/* SUPERFISH MENU
=======================================================================================================================
 */

/** SKIN
 * ----------------------------------------------------------------------------------------------------
 */
.sf-menu li ul {
	background: #e7eaf0;

	-webkit-box-shadow: 1px 1px 2px #aeb9c4;
	-moz-box-shadow: 1px 1px 2px #aeb9c4;
	box-shadow: 1px 1px 2px #aeb9c4;
}

.sf-menu ul li:hover,.sf-menu ul li.sfHover,.sf-menu ul a:focus,.sf-menu ul a:hover,.sf-menu ul a:active {
	background: #d7dde4;
}

/** ARROWS
 * ----------------------------------------------------------------------------------------------------
 */

.sf-sub-indicator {
	background-image: url(images/menu_arrow.png); /* 8-bit indexed alpha png. IE6 gets solid image only */
}

/* END -SUPERFISH MENU
=======================================================================================================================
 */
/* DATA TABLES
=======================================================================================================================
 */
table.display thead tr {
	text-shadow: 1px 1px 0 #FFF;
	background: url(images/table_header_bg.gif) repeat-x top #f2f3f5;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #e9edef));
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -moz-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: -ms-linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
	background: linear-gradient(top, #fdfdfd 0%, #e9edef 100%);
}

table.display thead th {
	border-bottom: 1px solid #d4d9df;
}

.no-multiplebgs table.display thead th,.no-multiplebgs table.display tfoot th {
	background-color: #f2f3f5;
}

table.display tfoot th {
	border-top: 1px solid #f2f3f5;
	text-shadow: 1px 1px 0 #FFF;
	background: url(images/table_header_bg.gif) repeat-x bottom #fafbfc;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6F7F8), color-stop(100%, #EAEBF0));
	background: -webkit-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: -moz-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: -o-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: -ms-linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
	background: linear-gradient(top, #F6F7F8 0%, #EAEBF0 100%);
}
.no-cssgradients table.display tfoot th {
	background: url(images/table_header_bg.gif) repeat-x bottom #fafbfc;
}
table.display tr:hover td {
	background-color: #e4f2ff;
}


.dataTables_processing {
	border: 1px solid #ddd;
	color: #999;
	background-color: white;
}

.dataTables_length {
	color: #415a7a;
}

.dataTables_length select {
	border: 1px solid #D4D9DF;
}

.dataTables_filter {
	color: #415A7A;
}

.dataTables_filter input[type="text"] {
	background: url(images/search.png) no-repeat 136px 3px #fff;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #D4D9DF;

	-webkit-box-shadow: 1px 1px 2px #CCCCCC inset;
	-moz-box-shadow: 1px 1px 2px #CCCCCC inset;
	box-shadow: 1px 1px 2px #CCCCCC inset;
}

.dataTables_info {
	background-color: #fafbfc;
	color: #415a7a;
	border: 1px solid #d4d9df;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #cecece;
}

.dataTables_paginate {
	border: 1px solid #d4d9df;
	border-top-color: #fff;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F7), color-stop(100%, #ECEEF1));
	background: -webkit-linear-gradient(top, #F5F5F7 0%, #ECEEF1 100%);
	background: -moz-linear-gradient(top, #F5F5F7 0%, #ECEEF1 100%);
	background: -o-linear-gradient(top, #F5F5F7 0%, #ECEEF1 100%);
	background: -ms-linear-gradient(top, #F5F5F7 0%, #ECEEF1 100%);
	background: linear-gradient(top, #F5F5F7 0%, #ECEEF1 100%);
}

.no-cssgradients .dataTables_paginate {
	background: url(images/table_pagination_bg.gif) repeat-x bottom #F5F5F7;
}

/** DataTables display
 * ----------------------------------------------------------------------------------------------------
 */
table.display {
	border: 1px solid #d4d9df;
}

table.display thead th {
	color: #415a7a;
}

table.display tfoot th {
	padding: 10px 10px;
	color: #415a7a;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	border-bottom: 1px solid #cecece;
	color: #3d3d3d;
        
}


/** DataTables sorting
 * ----------------------------------------------------------------------------------------------------
 */
.sorting_asc {
	background: url('images/sort_asc.png') no-repeat center right;
	background-color: #e4f2ff !important;
}

.sorting_desc {
	background: url('images/sort_desc.png') no-repeat center right;
	background-color: #e4f2ff !important;
}

.sorting {
	background: url('images/sort_both.png') no-repeat center right;
}


/** DataTables row classes
 * ----------------------------------------------------------------------------------------------------
 */
table.display tr.odd.gradeA {
	background-color: #f4f4f4;
}

table.display tr.even.gradeA {
	background-color: #FFF;
}

table.display tr.odd.gradeA {
	background-color: #f4f4f4;
}

table.display tr.even.gradeA {
	background-color: #FFF;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}

table.display tr.odd {
	background-color: white;
}

table.display tr.even {
	background-color: white;
}

/** Misc
 * ----------------------------------------------------------------------------------------------------
 */
.top,.bottom {
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

tfoot input {
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.paging_full_numbers span.paginate_button,.paging_full_numbers span.paginate_active {
	color: #415a7a;
	text-shadow: 1px 1px 0px #fff;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ffffff;
}

.paging_full_numbers span.paginate_active {
	background-color: #8393a8;
	color: #fff;
	text-shadow: 1px 1px 0px #53657d;

	-webkit-box-shadow: inset 1px 1px 2px #576d89;
	-moz-box-shadow: inset 1px 1px 2px #576d89;
	box-shadow: inset 1px 1px 2px #576d89;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

/** Sorting classes for columns
 * ----------------------------------------------------------------------------------------------------
 */
/* ===[ For the standard odd/even ]=== */
tr.odd td.sorting_1 {
	background-color: #eff1f2;
}

tr.odd td.sorting_2 {
	background-color: #eff1f2;
}

tr.odd td.sorting_3 {
	background-color: #eff1f2;
}

tr.even td.sorting_1 {
	background-color: #eff1f2;
}

tr.even td.sorting_2 {
	background-color: #eff1f2;
}

tr.even td.sorting_3 {
	background-color: #eff1f2;
}

/** TableTools styles
 * ----------------------------------------------------------------------------------------------------
 */
.DTTT_container {
	border: 1px solid #d4d9df;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #E9ECF0));
	background: -webkit-linear-gradient(top, #FDFDFD 0%, #E9ECF0 100%);
	background: -moz-linear-gradient(top, #FDFDFD 0%, #E9ECF0 100%);
	background: -o-linear-gradient(top, #FDFDFD 0%, #E9ECF0 100%);
	background: -ms-linear-gradient(top, #FDFDFD 0%, #E9ECF0 100%);
	background: linear-gradient(top, #FDFDFD 0%, #E9ECF0 100%);
}
.no-cssgradients .DTTT_container {
	background: url(images/table_tools_bg.gif) repeat-x bottom #FDFDFD;
}
.DTTT_container button {
    text-shadow:#fff 0px 1px 0px;
    color:#8393a8;
}
.DTTT_container button:hover {
    color:#415a7a;
}
.DTTT_container button.DTTT_button_copy,.DTTT_container button.DTTT_button_copy_hover {
	background-image: url(images/table_tools_copy.png);
}

.DTTT_container button.DTTT_button_csv, .DTTT_container button.DTTT_button_csv_hover {
	background-image: url(images/table_tools_csv.png);
}

.DTTT_container button.DTTT_button_xls, .DTTT_container button.DTTT_button_xls_hover {
	background-image: url(images/table_tools_xl.png);
}

.DTTT_container button.DTTT_button_pdf, .DTTT_container button.DTTT_button_pdf_hover {
	background-image: url(images/table_tools_pdf.png);
}

.DTTT_container button.DTTT_button_print, .DTTT_container button.DTTT_button_print_hover {
	background-image: url(images/table_tools_print.png);
}
.DTTT_print_info {
	background-color: #3f3f3f;
	color: white;
}
.DTTT_print_info h6 {
	color: #fff;
}

/* END -DATA TABLES
=======================================================================================================================
 */	


/* GALLERY
=======================================================================================================================
 */
.gallery li {
	border: 1px solid #d6e9fe;
}

.gallery > li:hover {
	border: 1px solid #d6e9fe;
	background: #e7e9ee;
}

.gallery li ul.controls {

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #E7E9EE));
	background: -webkit-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -moz-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -o-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -ms-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
}

.no-cssgradients .gallery li ul.controls {
	background: url(images/box_header_bg.png) repeat-x bottom #fcfcfc;
}

/** Icons
 * ----------------------------------------------------------------------------------------------------
 */
.gallery li ul.controls li a {
	background-image: url(images/gallery_icons.png);
}



/* END -GALLERY
=======================================================================================================================
 */
/* FULL CALENDAR v1.4.10 Stylesheet
=======================================================================================================================
 */

/* Content
------------------------------------------------------------------------*/
.fc-content {
	border: 1px solid #D5DCE4;
}


/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header,.fc-widget-content {
	border: 1px solid #d5dce4;
	border-width: 1px 0 0 1px;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f4f5f8));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f4f5f8 100%);
	background: -moz-linear-gradient(top, #ffffff 0%,#f4f5f8 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f4f5f8 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f4f5f8 100%);
	background: linear-gradient(top, #ffffff 0%,#f4f5f8 100%);
}

.fc-state-highlight {
	/*  today cell */
/* TODO:  add .fc-today to  */
background: #ffc;

	-webkit-box-shadow: inset 0 0 5px #415a7a;
	-moz-box-shadow: inset 0 0 5px #415a7a;
	box-shadow: inset 0 0 5px #415a7a;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87a1c7), color-stop(100%, #cbdaf4));
	background: -webkit-linear-gradient(top, #87a1c7 0%, #cbdaf4 100%);
	background: -moz-linear-gradient(top, #87a1c7 0%, #cbdaf4 100%);
	background: -o-linear-gradient(top, #87a1c7 0%, #cbdaf4 100%);
	background: -ms-linear-gradient(top, #87a1c7 0%, #cbdaf4 100%);
	background: linear-gradient(top, #87a1c7 0%, #cbdaf4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87a1c7', endColorstr='#cbdaf4', GradientType=0 ); /* ie */
}

.fc-grid .fc-today .fc-day-number {
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #5A87BC;
}

.fc-cell-overlay {
background: #9cf;
}

/* Buttons
------------------------------------------------------------------------*/

.fc-state-default .fc-button-effect span {
	border-color: #fff;
	background: #444;
}

/* button states (determines colors)  */
.fc-state-default,.fc-state-default .fc-button-inner {
	border-style: solid;
	border-color: #D5DCE4 #D5DCE4 #D5DCE4;
	background: #EFF0F3;
	color: #607890;
}

.fc-state-hover,.fc-state-hover .fc-button-inner {
	border-color: #D5DCE4;
}

.fc-state-down,.fc-state-down .fc-button-inner {
	border-color: #555;
	background: #5C89BD;
	color: #fff;
}

.fc-state-active,.fc-state-active .fc-button-inner {
	background: #87A1C7;
	border-color: #607890 #607890 #607890; /* inner border */
color: #fff;
}

.fc-state-disabled,.fc-state-disabled .fc-button-inner {
	color: #999;
	border-color: #ddd;
}

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-skin {
	border-style: solid;
	border-color: #415A7A; /* default BORDER color (probably the same as background-color) */
background-color: #5a87bc; /* default BACKGROUND color */
color: #fff; /* default TEXT color */
}


/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/
.fc-grid th {
	border-width: 0 0 1px 0;
	border-color: #D4D9DF;
	color: #415a7a;
	text-shadow: 1px 1px 0px #fff;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #E7E9EE));
	background: -webkit-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -moz-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -o-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: -ms-linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	background: linear-gradient(top, #FDFDFD 0%, #E7E9EE 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDFDFD', endColorstr='#E7E9EE', GradientType=0 ); /* ie */
}

.fc-grid .fc-day-number {
	color: #909090;
}

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
}

/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert .fc-event-bg {
	background: #fff;
}

/* END -FULL CALENDAR
=======================================================================================================================
 */				



/* jQuery Snippet --- Code highlighter
=======================================================================================================================
*/

/*----------Skin ---------*/


.sh_sourceCode {
        background-color:#EFEFF2;
        color:#000;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_keyword {
        color:#00f;
        font-weight:bold;
        font-style:normal;
}
.sh_sourceCode .sh_type {
        color:#00f;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_string {
        color:#f00;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_regexp {
        color:#f00;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_specialchar {
        color:#C42DA8;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_comment {
        color:#666;
        font-weight:normal;
        font-style:italic;
}
.sh_sourceCode .sh_number {
        color:#a900a9;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_preproc {
        color:#00b800;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_symbol {
        color:#f00;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_function {
        color:#000;
        font-weight:bold;
        font-style:normal;
}
.sh_sourceCode .sh_cbracket {
        color:#f00;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_url {
        color:#f00;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_date {
        color:#00f;
        font-weight:bold;
        font-style:normal;
}
.sh_sourceCode .sh_time {
        color:#00f;
        font-weight:bold;
        font-style:normal;
}
.sh_sourceCode .sh_file {
        color:#00f;
        font-weight:bold;
        font-style:normal;
}
.sh_sourceCode .sh_ip {
        color:#f00;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_name {
        color:#f00;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_variable {
        color:#ec7f15;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_oldfile {
        color:#C42DA8;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_newfile {
        color:#f00;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_difflines {
        color:#00f;
        font-weight:bold;
        font-style:normal;
}
.sh_sourceCode .sh_selector {
        color:#ec7f15;
        font-weight:normal;
        font-style:normal;
}
.sh_sourceCode .sh_property {
        color:#00f;
        font-weight:bold;
        font-style:normal;
}
.sh_sourceCode .sh_value {
        color:#f00;
        font-weight:normal;
        font-style:normal;
}



/* END--jQuery Snippet
=======================================================================================================================
*/

/*
=======================================================================================================================

INDIVIDUAL PAGES -  CSS for Indivudal pages

=======================================================================================================================
 */
/* LOGIN PAGE -Classes specified for login page appearance
=======================================================================================================================
 */
#login_container form {
	background: #fff;
}

.logo_login {
	background: url(images/scroller_bg.png) no-repeat bottom center;
}

.logo_login a {
	background: url(images/logo_login.png) no-repeat top left;
}

.remember_password {
	color: #6D819A;
}

/* END LOGIN PAGE
=======================================================================================================================
 */
/* ERROR PAGE -Classes specified for error page appearance
=======================================================================================================================
 */
.error_page {
	color: #979ea4;
}


.error_page h1 {
	color: #eceef2;
	text-shadow: 0 10px 0 #d2dce4, 0 10px 15px rgba(210,220,228,1);
}

.error_page h2 {
	color: #d2dce4;
	text-shadow: 0 -1px 0 #acb4bb;
}


/* END ERROR PAGE
=======================================================================================================================
 */
/* DASHBOARD
=======================================================================================================================
 */
.dashboard_stats .number {
	color: #8c98b1;
}


.dashboard_stats h3 {
	color: #637283;
}

.dashboard_stats small {
	color: #8c98b1;
}

/* END -DASHBOARD
=======================================================================================================================
 */
 
 
 
 
 
/*
=======================================================================================================================

MEDIA QUERIES -  For responsive desgin

=======================================================================================================================
 */


/** SMARTPHONES **/
@media screen and (max-width: 767px) {


#main_nav {
	background: #E7E9EE;
}

/* ===[ Wizard ]=== */

#steps li.current {
	color: #4D6583;
	text-shadow: 1px 2px 1px #FFFFFF;
}

/* ===[ Main Navigaton ]=== */
#main_nav li {
	border-top: 1px solid #f1f3f5;
	border-bottom: 1px solid #d2d6dd;
}

#main_nav li ul {
	background: #dfe2e6;
	border-top: 2px solid #c8cbd0;
}

#main_nav li ul li:first-child {
	border-top: 1px solid #d5dae2;
}

#main_nav a > .sf-sub-indicator {
	background-image: url(images/arrows_med.png);
}

#main_nav a.current {
	color: #555E66;
}

/* ===[ Menu in header ]=== */

.menu_header .sf-menu ul li ul {
	border-top: 1px solid #ccc;
}


/* ===[ Tabs ]=== */

.box .tabs li a.current {
	border: 1px solid #E5EAEF;
	background-color: #fefefe;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E5EAEF), color-stop(70%, #fefefe));
	background: -webkit-linear-gradient(top, #E5EAEF 0%, #fefefe 70%);
	background: -moz-linear-gradient(top, #E5EAEF 0%, #fefefe 70%);
	background: -o-linear-gradient(top, #E5EAEF 0%, #fefefe 70%);
	background: -ms-linear-gradient(top, #E5EAEF 0%, #fefefe 70%);
	background: linear-gradient(top, #E5EAEF 0%, #fefefe 70%);
}

/* ===[ Gallery ]=== */
.gallery li {
	background: #e7e9ee;
}

}

/** TABLET AND NETBOOKS **/
@media screen and (min-width: 768px) and (max-width: 1024px) {

#header {
	background-color: #e7eaf0;
}

#main_nav a.current {
	color: #415a7a;
	background: #dbe1e6;
}


}
				